[2018-07-13 16:41] CharliePoole commented on #2931
@jnm2 In that case, since you are a user who wants to use NUnit in a way it was not intended to be used (constructing the test assembly runner yourself) you should be interested in having the discussion! Making a major change of direction by inserting incremental changes that compromise the current direction is IMO not something we ought to do.

Initial topic, as I interpret this, would appear to

[2018-07-13 16:44] fourpastmidnight commented on #2930
I take that back--the hookup is missing because NUnit is conflating "sort equality" with "value equality", and so there's no easy path to providing an `Is.EqualTo(x).Using(y)` because how do you know some such call to `EqualTo` wants to do "equality" checking vs. "sort equality" checking? All-in-all, I feel like this design should change in the future to use appropriate semantics.

OR--could it be

[2018-07-13 16:50] jairbubbles commented on #2931
Hello guys, clearly my usage is not common. I run unit tests directly in my application where I compile .cs files on-the-fly. It allows super fast iteration time and I think it's pretty cool!

As I said I can now use `TestFilter.FromXml` but I a agree with @jnm2 and an API oriented for programmers would be better.

If all this was not public, I would have probably written my own (bad) runner or co

[2018-07-13 16:53] jnm2 commented on #2931
@CharliePoole

I wasn't aware this would be a change in direction (obviously). If only NUnitLite and the engine are intended to use `NUnitTestAssemblyRunner`, that functionally means that you are not allowed to write your own runner without being one of NUnitLite or the engine. Doesn't that mean there's a very tight coupling between the two projects? (This is specifically mediocre news for my Blaz

[2018-07-13 16:56] CharliePoole commented on #2931
@jnm2 NUnitTestAssemblyRunner was never intended to be directly constructed. See the framework API description at https://github.com/nunit/docs/wiki/Framework-Api

It's truly unfortunate that many users have fallen into constructing the class, because it was made public.* OTOH, the docs are there to read for anyone. I would make those classes internal except that I know it would make many folks un

[2018-07-13 17:01] CharliePoole commented on #2931
@jnm2 The API docs tell you how to write your own engine that runs the framework directly. Did you click my link?

Don't understand why you say the engine and framework projects are tightly coupled. They are the opposite. The engine doesn't even reference the framework.

[2018-07-13 17:09] jnm2 commented on #2931
I did click your link, which is posted after I made that comment. So I was incorrectly using the assembly runner instead of using `FrameworkController` and `RunTestsAction`. Let's start over. :D
I still need to construct an XML string programmatically. In order to do so generally, I'd have to reinvent the implementation that the proposed API would provide.

If *this* is not a supported use of the

[2018-07-13 17:16] CharliePoole commented on #2930
The user, in specifying an argument to `Using`, tells us what kind of comparison they want to have made. A given comparer (order or equality) makes its comparison in a particular way. If the user provides an `IComparer`, the implied intent is that we use the `0` return to indicate equality. That may be incorrect from a purist view, but it's what the user wants and it's not our job to tell them it'

[2018-07-13 17:41] jnm2 commented on #2930
The first way I'd suggest achieving this is the idiomatic .NET solution of override ToString on custom types. If there's a reason not to do that, we also provide this API:

[code]

[2018-07-13 18:23] #2930 closed, assigned to nobody

[2018-07-13 19:18] CharliePoole commented on #2930
Glad to help. You may want to consider doing a PR that changes the NUnit classes to enable what you want to do. In the architecture of the framework, it is the constraint that pulls together a predicate of some kind with the generation of an error message. In recent (< 5 I think) years we split out the constraint result as a separate class so we could specialize the message for some constraints, a

[2018-07-13 19:51] fourpastmidnight commented on #2930
@jnm2 Duh! Don't I feel dumb! I overrode `Equals`, `GetHashCode` and numerous other `System.Object` base class methods, but not the simple `ToString` method! I was too close to the problem to see the (very simple) solution!

Works perfectly. Thanks for chiming in.

[2018-07-13 21:49] jnm2 commented on #2931
In some cases, the input has been a `Type` or `MethodInfo` object. Other times, it has been ids of certain loaded tests. I'm curious what you're doing too, @jairbubbles?

This makes sense to me. Would it live in this repo and have the same version as NUnit and reflect the filters understood by that version of NUnit?

It seemed like more moving parts to maintain. I have a feeling a lot of us ended

[2018-07-13 23:10] jnm2 commented on #2909
This may be the root cause. While writing tests to get XML from FrameworkController, I noticed that `TestContext.WorkDirectory` was getting changed to `C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE`:

https://github.com/nunit/nunit/blob/81fcc7c047c09fcb5a86989d0829716ca7d08e1e/src/NUnitFramework/framework/Api/DefaultTestAssemblyBuilder.cs#L137

Call stack:

[code]

I

[2018-07-13 23:24] oznetmaster commented on #2909
I noted this problem a long time ago.  There is an issue about it somewhere.

NonParallelizable is not enough.  If any test modifies WorkDirectory (as many of the NUnit tests do), there is a reasonable probability that other tests that rely upon it will fail.

It is all dependent on the order the tests are executed in, which is undefined in NUnit.

[2018-07-13 23:30] CharliePoole commented on #2909
Intention is that Work directory should be set once and remain unchanged for the run. Anything else US a bug.

[2018-07-13 23:46] jnm2 commented on #2909
Is there a reason that we can't allow an independent work directory for each execution context?

[2018-07-13 23:48] jnm2 commented on #2909
Is there a reason that we can't allow an independent work directory for each execution context?

@CharliePoole We're in a special position since the framework tests test FrameworkController, a controller run within a controller run.

[2018-07-14 00:00] CharliePoole commented on #2909
Leaving aside our tests, the meaning of `WorkDirectory` is "the directory set by the user to receive all output files for the run." So a test should not be able to change it.

For our own tests, we need to be able to set it, but that setting should not affect other tests if we do it right. We probably aren't doing it right. 😜

In a pinch, we could make it unchangeable and stop testing it. `<ducks>

[2018-07-14 00:04] jnm2 commented on #2909
That's actually a cool idea- track whether the static field has been set and skip setting it thereafter? That way it's unchangeable and I'm not seeing any tests that check whether `DefaultTestAssemblyBuilder` sets it, so we should be good!

[2018-07-14 00:12] oznetmaster commented on #2909
There are NUnit tests that do change it, and if it is made unchangeable, they might fail.

[2018-07-14 00:14] jnm2 commented on #2909
@oznetmaster I searched cannot find any NUnit tests that change it except accidentally. Do you have any handy?

[2018-07-14 00:22] oznetmaster commented on #2909
I would have to search my archives.

I have already fixed the problem in my CF build by doing what has been discussed.  Only allowing the value to be set once.  I check for it being null, and if it is, then allow it to be set.

[code]

[2018-07-14 00:34] jnm2 commented on #2909
Sounds like we'd be good to take the same approach then?

[2018-07-14 01:31] CharliePoole commented on #2931
I can see how that would happen. Thing is, NUnitLite gets updated every time the framework gets updated. If that's acceptable in a runner, then it can use the same approach as NUnitLite. I feel it's not acceptable in a lot instances however.

Thing is, when NUnitLite was written, I had the notion that use of reflection would make it too slow. Remember, I wrote it for use under the Compact Framewor

[2018-07-14 01:36] jnm2 commented on #2909
@OmicronPersei If you're around in the next few days, can you give [@oznetmaster's fix](https://github.com/nunit/nunit/issues/2909#issuecomment-404984325) a spin?

[2018-07-14 06:46] jairbubbles commented on #2931
Originally we hardcoded the filter but recently we wanted to allow users to filter by using the command line. As we needed something very simple we ended with a symple syntax ("-runTests=foo" or "-runTests=!foo") and build an xml from this. My first choice would have been to allow NUnit format (`where` clause) even it's too complex for our use case but I couldn't find a way to get it as it's part

[2018-07-14 15:20] jnm2 commented on #2932
@AlainDupont Hmm, I'm not sure. `SameAs` doesn't care about type, only reference equality. It seems like we should definitely keep the words "same as" because that's what the assertion is actually doing; it's concerned with object identity.

`Assert.AreSame(3, "test");` gives:

[code]

Does this cause any problems, in practice? Maybe we could do something like this, if the types differ?

[code]

[2018-07-14 15:29] jnm2 commented on #2931
@jairbubbles Great, thank you!

In 3.0, NUnitLite is a lightweight version of the console runner which comes with the full NUnit framework. The NUnitLite NuGet package references the NUnit package. Using NUnitLite would actually give you the ability to specify a `--where` filter which you originally wanted. Does that look helpful?
(See more: https://github.com/nunit/docs/wiki/NUnitLite-Runner)

@C

[2018-07-14 15:47] jnm2 opened #2933 "Is.SameAs with a reference type constraint"
### Problem

If you use `Is.SameAs(3)` or with any value type in general (enums, structs, primitive types), you get a guaranteed failure because a new object gets allocated on the heap when you pass the value type to the `object` parameter of `SameAs`. (Known as 'boxing.') On the flip side, `Is.Not.SameAs(valueTypedExpression)` is guaranteed to always succeed.

If in theory a .NET runtime decides

[2018-07-14 16:34] CharliePoole commented on #2933
@jnm2 All good points. All points any programmer writing an application and testing it should know about. Personally, I question how much effort it's worth spending to help someone who writes `Is.SameAs(3)`, since they lack some basic understanding of C#.

But maybe __we__ should, even if I don't want to. In the early days, we assumed that our users were as good at programming as we were or, if no

[2018-07-14 16:43] jnm2 commented on #2933
@CharliePoole One place where I'd expect to see this happen to more-experienced devs is when refactoring a class to a struct. It's hard for me to make a call on what is a beginner versus an advanced pitfall. As a programmer myself who hopefully isn't too shabby, guardrails like this all just look like refactoring timesavers to me.

[2018-07-14 16:48] CharliePoole commented on #2933
@jnm2 Hope you noticed I didn't take a position on this!

[2018-07-14 16:56] CharliePoole commented on #2931
My assumption was that it would not be versioned with the framework, since the design goal would be to have it work with all versions.

A major overhaul of NUnitLite that was not versioned with the framework could also be used in this way, but that's a much bigger change. Perhaps it could be done incrementally.

Basically, I'm just throwing out ideas here. I haven't really analyzed the code to see

[2018-07-14 16:57] jnm2 commented on #2933
@CharliePoole Yes! I like what you had to say. I'm trying to soften the idea that this is a totally radical point of view, requiring changes in many places to maintain consistency.
I saw nearly an identical scenario play out at work this week, so it's very plausible in my mind that this isn't just a beginner issue.

[2018-07-14 17:00] jnm2 commented on #2931
Would we want to version it with the engine, maybe make it an engine feature?

[2018-07-14 18:56] mikkelbu commented on #2933
I'm not sure that this will always be the case, see " Bestest Betterness https://github.com/dotnet/roslyn/pull/24756. AFAICR from a talk this will remove the generic overload as a candidate as the constraint do not match (I'm on the phone, so my Google skills are somewhat limited :smile).
Personally, I don't think I've ever used `Is.SameAs`, so I don't feel that this concrete issue is very importa

[2018-07-14 18:58] ChrisMaddock commented on #2933
I think this is a really good enhancement, and a good direction to be moving in in general. Good thinking with the struct -> class refactor example, Joseph.

I see no reason why the framework shouldn’t aim to stop someone shooting themselves in the foot as much as possible - in fact, I’d be very happy if beginner programmers were looking at NUnit, and considering testing early!

This sounds to me

[2018-07-14 18:59] ChrisMaddock commented on #2933
(Good find Mikkel! The technical side of what you’re suggesting Joseph - I haven’t checked out, that’s not something I know about off the top of my head!)

[2018-07-14 19:11] jnm2 commented on #2933
@mikkelbu You're right. In fact, it's already doing this in 2.8.2. [sharplab.io](https://sharplab.io/#v2:EYLgHgbALANALiATgVwHYB8ACAGABJgRgG4BYAKHMwGZ8CJ8AmWgdnIG9zcv8bD7MotABwAKAJSduHMt1m4AygEMAtgFMAggGcRVMaRncAvpK4metfoKVqtIgPbAAVqoDGcXKrAAHV3FUATCQMuaTluQgBOEQAiRWi9M2Ng3DNqC3wrFQ1NAB4AFQA+ETyPb18AsVwAdwALVURVXBKQRjNQsNoo6OB4/VkkpKA==)

Since IIRC they're taking the same approach with bestest bet

[2018-07-14 19:12] ChrisMaddock commented on #2931
I will say, after initially being keen on the idea - Charlie’s point about us encouraging people to integrate via the engine, and provide this functionality there instead makes sense to me.

Passing filters directly to the framework is still possible, this feature is aimed to make that nicer. However - we already make one API available for this, through the engine - I feel like that should be the

[2018-07-14 19:22] jnm2 commented on #2931
This is a good discussion. Closing since there's nothing to do for the framework. We can always open this proposal for the engine is there is interest.

[2018-07-14 19:22] #2931 closed

[2018-07-16 15:37] Arya-Sri commented on #2006
hi agray,
I was using selenium 2.53 and NUnit 3.5 and used Jenkins to run tests using the same kind of console command to execute tests in GRID environment, which was work from last 2.5 years. Now I have tried to upgrade to Selenium 3.13 and NUnit 3.8 console (Installed in my Hub machine) and 10.0.3 Framework in my tests, the tests were running executing and stopped at some point but the Jenkins h

[2018-07-17 00:11] OmicronPersei commented on #2909
Yes! Will try this evening

[2018-07-17 00:36] OmicronPersei commented on #2909
I can't really reproduce this bug because of nunit3-vs-adapter#528 causing other issues.  Ideas?

[2018-07-17 01:39] OmicronPersei commented on #2883
Sounds good.  On what `Assembly` do we want to be testing on?  So far I wrote `Assembly.GetCallingAssembly()` but not sure if that's correct (but it does seem to include the types that we do want to test aren't in the System namespace).

[2018-07-17 01:41] jnm2 commented on #2883
I would say `typeof(FrameworkController).Assembly` since `Assembly.GetCallingAssembly()` can be quirky.

[2018-07-17 02:01] OmicronPersei commented on #2883
Also found one other type that we should probably make internal:
`System.Web.UI.ICallbackEventHandler`

Caught it from the unit test, good thinking!

[2018-07-17 02:03] jnm2 commented on #2883
@OmicronPersei Unfortunately I think `System.Web.UI.ICallbackEventHandler` is used in our public API. If so, we'll have to whitelist it. I know this is the case in https://github.com/nunit/nunit-console.

[2018-07-17 02:05] OmicronPersei commented on #2883
Also, `Assembly.GetAssembly()` appears to work for everyone except NETCOREAPP1_1.  NETCOREAPP1_1 doesn't appear to have an equivalent for getting an assembly, thoughts?

[2018-07-17 02:07] jnm2 commented on #2883
`typeof(FrameworkController).GetTypeInfo().Assembly`? You might need to add a `using` for some platforms.

[2018-07-17 02:35] OmicronPersei commented on #2909
Okay I've tried that.  `TestCaseSourceCanAccessWorkDirectory` succeeds but `StackTracesAreFiltered` fails with the same message/stack trace in the OP.

[2018-07-17 02:41] jnm2 commented on #2909
I think StackTracesAreFiltered should be bumped to 5. It's a smell test so that we notice it new frames are added so we can make sure it hasn't gotten out of control.

[2018-07-17 10:49] vitali-sonchyk-epam commented on #2329
Are there any updates related to the issue?
We experience the same inconvinience related to screenshot issue.

[2018-07-17 11:24] ChrisMaddock commented on #1211
AssertionHelper has now been removed from the framework. Closing...

[2018-07-17 11:24] #1211 closed

[2018-07-17 15:51] JohanLarsson opened #2935 "Improve error message when comparing strings"
[code]

Results in:
[code]

Which looks confusing as they look the same.

Preferable would be:

[code]

[2018-07-17 16:00] jnm2 commented on #2935
This makes sense to me since we already do `\r`, `\n`, `\t`, `\v`, `\a`, `\0`, and `\\`.
(We missed `\"`, I guess? 😄)

Would we simply use the `\u` representation for all whitespace characters other than space and the existing escaped characters?

[2018-07-17 17:08] JohanLarsson commented on #2935
Not sure what is a good strategy here, maybe check the char that differs and print as is if ASCII?
There are many symbols that will render similar.
Greek omega: https://www.fileformat.info/info/unicode/char/03a9/index.htm
Ohm: http://www.fileformat.info/info/unicode/char/2126/index.htm

Just one example, the list is probably very long.

[2018-07-17 17:39] jnm2 commented on #2935
What if we leave the display as-is and call out the mismatching numeric `char` values no matter what they are?

[2018-07-17 20:10] gep13 commented on #452
@rprouse @CharliePoole @ChrisMaddock I have just walked the following packages:

* https://chocolatey.org/packages/nunit
* https://chocolatey.org/packages/nunit.install
* https://chocolatey.org/packages/nunit.portable

Through the deprecation process:

https://chocolatey.org/docs/how-to-deprecate-a-chocolatey-package

I have also removed all the maintainers that were on those packages.

Please let

[2018-07-17 20:57] CharliePoole commented on #452
@gep13 The deprecated packaegs look right to me. Thanks!

[2018-07-17 22:37] ChrisMaddock commented on #452
Brilliant, thanks @gep13! I’ll try and have a look at gravatar tomorrow. 😊

[2018-07-18 13:51] jnm2 commented on #2909
ForTestCaseCanAccessWorkDirectory, does [@oznetmaster's fix](https://github.com/nunit/nunit/issues/2909#issuecomment-404984325) solve it? If not, we'll have to investigate further.

[2018-07-19 12:14] dcreel101 opened #2936 "IApplyToTest-attributes are applied to test suites before child tests are added"
I have implemented IApplyToTest in a custom attribute for the purpose of adding properties to a parameterized test method suite and its children. However, when `ApplyToTest(Test test)` is called, the test suite has not yet had its children added to it. Therefore, it is not possible to add properties or otherwise modify the state of the child tests, because there is no other chance to get access to

[2018-07-19 12:26] pavlikpatrycja opened #2937 "ConstructFixtureCommand.cs not found"
Hi,
I'm using NUnit in 3.10.1 version downloaded by NUget Packages Manager. While debugging my project in test constructor I have an error that ConstructFixtureCommand.cs was not found. There is no ConstructFixtureCommand.cs in NUnit directory. How to fix this ?
Thanks in advance

[2018-07-19 15:21] ChrisMaddock commented on #2936
I have vague memories about having a similar discussion with @jnm2, and deciding there was no requirement for this, it being just an implementation detail. But I'm not looking at the code right now, and wouldn't like to say for definite! 😄

[2018-07-19 18:29] ChrisMaddock commented on #452
So!

1. I've added gravatar, and populated nunit.org's choco profile (https://chocolatey.org/profiles/nunit.org)
2. @gep13 has taken care of all our deprecation and new-maintaner needs! (Thanks! 🎉)
3. I've created an issue to deprecate the one remaining non-organization NUnit package (https://github.com/Roemer/Chocolatey-Packages/issues/7). I'm not too concerned if @Roemer would prefer to leave th

[2018-07-19 18:29] #452 closed

[2018-07-19 21:23] MillerJames opened #2938 "Test runner hangs after Assert.Fail in AfterTest"
I'm running an NUnit 3.9 test suite with nunit3-console, with a TestAction which asserts on some state after the fixture finishes. When the assert fails, it throws an exception and the runner hangs indefinitely. Are AfterTest implementations not allowed to assert or throw?

[code]

[2018-07-19 22:36] ChrisMaddock commented on #2938
I don't believe assertions of any kind (such as Assert.Fail()) are allowed in either `TearDown` or `AfterTest` - the intention is that all assertions are made in your test, and the latter two methods are for cleaning up. You could instead throw an exception in your AfterTest, which I believe would cause the test to 'error' rather than 'fail' - but would still alert you to the fact that something i

[2018-07-20 00:14] jnm2 commented on #2936
I have a poor memory at times. I remember a general principle though that has come up in several discussions, which is that it's likely an antipattern for the tests you run to be aware of other tests in the same run. We're always listening for use cases, though.

@dcreel101

What is the objective; i.e. what is wrong with generating the same test cases regardless of the `--where` filter? There may

[2018-07-20 00:23] OmicronPersei commented on #2909
I can't reproduce the problem on my machine, the test in question passes for me.

[2018-07-20 00:31] jnm2 commented on #2909
No worries, someone else can do that part. I like having smaller PRs, too.

[2018-07-20 00:50] OmicronPersei opened #2939 "Rename BUILIDING.md to BUILD.md"
Looks like our Team Practices wiki page makes a reference to refer to each repo's respective "BUILD.md" file, but it's currently called "BUILDING.md" in this repo.

We should rename this for consistency.

[2018-07-20 00:52] OmicronPersei commented on #2939
It's been a while since I've contributed to NUnit so could someone from @nunit/framework-team just double check that this is what we want?

[2018-07-20 01:03] OmicronPersei opened #2940 "Increase StackTracesAreFiltered amount to 5"
Per discussion in #2909 , we should increase the `maxLineCount` for the test method `StackTracesAreFiltered` to 5.

[2018-07-20 01:12] jnm2 commented on #2939
I think BUILDING is more common and I just messed up with the docs. Coming up with rationale on the spot, `build` seems like a command (script) while `building` sounds like a description (docs).

Would you be willing to make the reverse fix for consistency?

[2018-07-20 01:15] OmicronPersei commented on #2939
Sure!

[2018-07-20 01:15] #2939 closed

[2018-07-20 01:25] jnm2 commented on #2939
Thanks! 😃

[2018-07-20 06:40] dcreel101 commented on #2936
Generating them all is fine, and the tests aren't aware of each other. The problem is that I can't enrich the child tests for use with --where, because I can only apply properties (or RunState or whatever) to the parent test suite. That means I have nearly no way to filter/select the children, except based on their name.

https://github.com/nunit/docs/wiki/IApplyToTest-Interface says the attribute

[2018-07-20 09:55] gep13 commented on #452
Just as an example, this is what we do on Cake:

![image](https://user-images.githubusercontent.com/1271146/42996337-2a29108e-8c0b-11e8-95e1-bc01dfa9e0f4.png)

https://chocolatey.org/packages/cake.portable

The `cake-build` account is our Organisational account, which everyone has access to, and it is that account that does the actual push of new packages to chocolatey.org, however, we also add al

[2018-07-20 14:07] CharliePoole commented on #2936
IApplyToTest attributes are applied to suites before the child tests are added so that attributes creating test cases can make use of the info in the contInuing parent test.

If we need an interface that applies after child tests are created, why not add one?

[2018-07-20 14:54] dcreel101 commented on #2936
Hi Charlie, I'm sorry, I don't quite understand what you mean.

In the code below, the 'tests' parameter contains the child tests already generated by the combining strategies and such. Do you mean that it is intended for IApplyToTest implementers to add additional tests to the method suite in front of the ones from the 'tests' parameter?

[code]

Regardless, it seems relatively easy to add anothe

[2018-07-20 15:47] CharliePoole commented on #2936
The `IApplyToTest` interface is used as part of the creation of a test (i.e. test case or suite), allowing attributes __on that test__ to make changes to the test. It has no intended connection to the creation of child tests.

Sequence is as follows:
1. NUnit constructs a test suite object of a particular class.
2. NUnit calls locates any attributes present on the fixture class that implement `IAp

[2018-07-21 02:50] crichmond23 opened #2941 "a few of my tests that are convoluted finish as inconclusive for no apparent reason"
I don't use Assert.Inconclusive anywhere.

I've been writing/rewriting/refactoring a set of tests. I used to rely on hard coded test data. but for these particular tests (I'll call forloop tests) I acquire the test parameters at runtime.

I've had difficulty attempting to populate NUnit test parameters with data collected at runtime. So instead, I made one test that runs through the list of parame

[2018-07-21 07:53] CharliePoole commented on #2941
The test result includes an enumerated whose default value is Inconclusive. It sounds as if something in the way you run the tests is leaving it at the default value.

[2018-07-21 14:47] mikkelbu commented on #2941
Hi @crichmond23

Can you provide a minimal code example?

For me it sounds like you datasource do not provide the same data each time. And my understanding of the NUnit Test Adapter in VS is that it first performs a discovering phase were it discovers all the tests and the if you run the tests (not "run all") it will not work if the tests are no longer the same (meaning having the same input) as w

[2018-07-21 15:36] mikkelbu commented on #2938
Regarding the hang. Perhaps nunit/nunit#2920 will solve this?

Att: @MillerJames. Can you try if the "hang" is still there if you compile against the current code from master instead version 3.9 - e.g. the code from https://ci.appveyor.com/project/CharliePoole/nunit/build/3.11.0-dev-05759/artifacts.

[2018-07-21 16:21] mikkelbu commented on #2937
As far as I can tell, the file has been in the same location since 3.7. How are you debugging @pavlikpatrycja ?
* From within VS
* Are you using the adapter
* How are the Debug settings (especially, Debug > Options > ‘Enable Just My Code’ and n Debug > Options > ‘Enable source server support’)

[2018-07-21 17:03] jnm2 commented on #2936
@dcreel101 Reading your background info: would it work to use TestCaseSource or your own `ITestCaseBuilder` which returns instances of `new TestCaseData(args).SetCategory("cat1").SetCategory("cat2")` etc? Then the `--where` filter can test against the category. Using categories would be an idiomatic end goal.

[2018-07-21 23:31] crichmond23 commented on #2941
Minimal Code Example:

	...

	[TestFixture]
	public class MyForLoopTests
	{
		[Setup]
		public async Task SetUp()
		{
			...
		}

		[TearDown]
		public void TearDown()
		{
			...
		}

		[Test]
		public async Task CombinedForLoopTest()
		{
			var firstDataList = UtilityClass.GetFirstDataParameters();
			foreach (var firstData in firstDataList)
			{
				try
				{
					await OriginalTest(firstData);

[2018-07-21 23:34] crichmond23 commented on #2941
The data is acquired rarely changes, but is different for different environments.
My goal was to avoid using hard coded data when not necessary.

[2018-07-22 06:07] MillerJames commented on #2938
The hang still occurs on master, but I think I have a simple fix. OneTimeTearDownCommand has a try/catch block where it calls the user-defined teardown method, and will call RecordTearDownException with any caught exception. It seems like AfterTestActionCommand should do something similar, but does not.

I'll open a pull request later with the change, once I write few tests.

[2018-07-22 07:33] CharliePoole commented on #2941
@crichmond23 Can you confirm @mikkelbu 's assumption that this is a VS adapter problem? How you are running tests is a key bit of info to provide for any issue.

If you are using the adapter, then try running with the console runner to help localize the problem.

[2018-07-22 14:13] CharliePoole commented on #2941
The most common cause of the problem described by @mikkelbu is the use of randomly generated data for some of your arguments. Under VS, that generation is forced to take place twice and the second set of data will not match.

If that's the case, use NUnit TextContext.Random rather than the native implementation. NUnit makes sure to use the same seed for each discovery phase.

[2018-07-22 15:17] crichmond23 commented on #2941
The problem might be with the VS adapter.  The thing is that, in the sample code I provided, I don't specify any NUnit test parameters.

But yes, I use the VS NUnit test adapter.  I will try the console runner.

[2018-07-22 15:18] crichmond23 commented on #2941
no random values are currently being used.

[2018-07-22 15:55] CharliePoole commented on #2938
@MillerJames I think I see the problem. `AfterTestActionCommand` had an assumption built into it that it would always be wrapped by a `OneTimeTearDownCommand`. This was once the case but has changed in the code. You can see a remnant of that in the following comment:

[code]

The assumption is that an assertion failure or other exception in `AfterTest` will not return. The wrapping `OneTimeTearDow

[2018-07-22 16:16] crichmond23 commented on #2941
Also, if you look at my code example, I don't use data parameters for the particular tests.

[2018-07-23 06:39] dcreel101 commented on #2936
@CharliePoole thanks for the explanation - that clears it up.

@jnm2 We do use a similar technique via ITestBuilder attributes, and we create the tests with the properties they need for filtering. However, we have many tests which are using [Values] and [ValueSource], and even some with combining strategy attributes. These end up generating test cases via the DefaultTestCaseBuilder, and then there

[2018-07-24 00:06] rprouse commented on #2329
@vitali-sonchyk-epam nobody has looked at this issue yet, sorry.

[2018-07-24 00:35] jnm2 commented on #2936
Why would this be fragile? I think of implementing your own ITestCaseBuilder as the robust option.

[2018-07-24 00:40] rprouse commented on #2932
I agree with @jnm2 on this one, same as is only interested in reference equality. The blanks after `Expected: same as` are a bit annoying, but the message clearly states that they are not the same reference. When a developer uses `SameAs`, they are only concerned with reference equality. If they are concerned with more, there are other appropriate constraints.

I'm going to close this as won't fix

[2018-07-24 00:40] #2932 closed

[2018-07-24 15:23] CharliePoole commented on #2936
I think the key phrase was "against assumptions about NUnit's internal workings."

[2018-07-25 05:41] dcreel101 commented on #2936
Hi everyone, I think I've managed to get something sort of working, although it isn't pretty and it won't work with any CombiningStrategyAttributes, like Pairwise.

The assumption about how DefaultTestCaseBuilder goes about calling any ITestBuilders present on the test. Specifically, that if it does not find any CombiningStrategyAttribute on the test, it will use a CombinatorialAttribute. That mea

[2018-07-25 06:05] dcreel101 commented on #2936
Do you mean ITestBuilder? (that is what I have done now) I don't see a way to get my own ITestCaseBuilder to be used by NUnit.

_ITestCaseBuilder_ seems to only be used from NUnitTestFixtureBuilder, and it instantiates the DefaultTestCaseBuilder implementation directly. NUnitTestFixtureBuilder is used from TestFixtureAttribute, TestFixtureSourceAttribute, DefaultSuiteBuilder, and NUnitTestFixtureB

[2018-07-25 19:55] JohnRains opened #2942 "NUnit3-Console.exe on Win Server 2012 has no TestFixtures"
I have been running NUnit3-Console on Win 2012 for almost two years. I recently updated my tests to .Net 4.7.2 and updated the NUnit and Selenium to the latest versions. I have installed NUnit3-Console v3.8 on the server and .Net 4.7.2.

All of the tests that used to run fine now fail with the message "Has no TestFixtures" - (it is worth noting that all of the tests run using NUnit3-Console on my

[2018-07-25 23:45] rprouse commented on #2942
Marking as confirm because I can't see what the difference is between .NET Framework versions and the OS you are running on. For the install, did you use the ZIP file or the MSI and override the install path? Can you give us a directory listing of what is in `c:\nunit`?

[2018-07-25 23:46] rprouse commented on #2942
As a workaround, have you considered using the NuGet package for the console and running from there? It should work the same, but if you've found a bug, that scenario is better tested.

[2018-07-26 10:12] abdulkhameer opened #2943 "Nunit_Test case suit failing"
Hi, I am new to Nunit , we are facing a big problem in our project. We have developed 500+ test methods based on requirement, now we are not able to run this regression test suite as our Test automation will be stopped if any one test case fails. Example: if test case no.50 fails , automation will be stoped, where other test cases are independent in nature,. I didnt find any attribute which allows

[2018-07-26 10:19] mikkelbu commented on #2943
Hi @abdulkhameer
How are you running the tests? The usual test-runners (in VS, NUnitConsole, the GUI) all continue even if a test fails in order to generate complete reports. NUnitConsole can - AFAIK - be configured to fail on the first failure or error by providing `--stoponerror`.

[2018-07-26 14:49] JohnRains commented on #2942
Thanks Rob.
I don't believe it's a bug per se. All the NuGet packages are installed. Everything runs just fine in my Win 10 environment and from VS2017. I don't know how the runner locates the test attributes; I'm assuming reflection so I'm doing a small app to run in the server environment to see if I can see them. I believe the issue would have been better stated by me emphasizing the server env

[2018-07-26 15:40] CharliePoole commented on #2942
NUnit runners don't reflect on the attributes. That reflection is done by code, which is part of the same assembly (nunit.framework) that defines the attributes. One way I know of that you can get weird results is if the build of the framework that is found when running the console is __not__ the same one against which the tests were built, but is close enough (3.0+) so that it doesn't trigger an

[2018-07-26 20:09] JohnRains commented on #2942
Charlie. I'm feeling really stupid.
I have the invocation C:\Nunit\NUnit3-Console.exe --where "name == 'Atest'" "C:\QA_Libraries3\SimpleTest.dll". This works on my Win 10 but not in Server 2012.

The source for SimpleTest is
    using NUnit.Framework;
    using System;

    namespace SimpleTest
    {
        [TestFixture]
        public class TestClass
        {
            [Test]
            publ

[2018-07-27 01:03] pdpurcell commented on #2043
I've experienced same regression as I reported above but this time it's between versions 3.9 and 3.10. Is this to be expected?  I've attached a sample solution that illustrates the issue.
I'm more interested to know if this is a regression or not.  If the plan is to no longer support this type of assertion exception handling pattern, that's fine, the test cases can be done in a different way, but

[2018-07-27 07:48] oznetmaster commented on #2943
I had never seen NUnitTestOrdering  before :(

It seems to address many of the issues I raised when NUnit first introduced test ordering.

Maybe it should become part of NUnit at some point in time?  Just a thought.

[2018-07-27 12:45] abdulkhameer commented on #2943
Well, I got this by just making "ContinousOnError" as true , Actually remarks was confusing me. Now we are so happy that all our test cases will execute rather no TC will be stopped if any preceding test case fails.
Thanks

[2018-07-27 12:45] #2943 closed

[2018-07-27 12:59] mikkelbu commented on #2943
Great, that you got it working. I must admit I also got confused about the remarks above `TestOrderingSpecification.ContinueOnError` which for me gives the opposite intuition of the name `ContinueOnError` 😄 (but perhaps I'm just tired).

Link: https://github.com/Sebazzz/NUnitTestOrdering/blob/b2cabbfb1df510b1ffe751ed89664d80b0f9c58a/src/NUnitTestOrdering/FixtureOrdering/TestOrderingSpecification.c

[2018-07-27 20:27] lorranpalmeira opened #2945 "Show errors when mismatch type"
Maybe It´s interesting show a error when types are different

![image](https://user-images.githubusercontent.com/18705060/43344822-902bc9a6-91c1-11e8-91a1-5bfcfd615b74.png)

or show error when forget parameter

![image](https://user-images.githubusercontent.com/18705060/43345007-3eadda50-91c2-11e8-9004-5318fddf8462.png)

[2018-07-27 20:51] CharliePoole commented on #2945
All these show up as errors in NUnit and also in all the runners with which I'm familiar. Please tell us what version of the nunit framework and runners you are using and show what output you are getting from these tests.

[2018-07-27 21:04] lorranpalmeira commented on #2945
Yes, but not in output, but to see an errors in vscode just in time like a error method underscore redline.

[2018-07-27 21:44] CharliePoole commented on #2945
To get further help, you would need to answer the original questions... Here is more detail...
 * What version of the NUnit framework are you using?
 * What runtime does your test assembly target
 * How do you run the tests? E.g. are you using the NUnit 3 VS adapter?

If you are saying that you want vscode to show mismatches between the provided attributes and the method definitions even before ru

[2018-07-28 16:59] jnm2 commented on #2885
I just had a thought and realized that `Assume.That`, `Warn.Unless` and `AssertionHelper.Expect` all have the same thing. @MhdTlb, do you mind doing the exact same replacement for those as well?

[2018-07-28 21:56] mikkelbu commented on #2945
@lorranpalmeira The [nunit-analyzers](https://github.com/nunit/nunit.analyzers) can do that, but currently VSCode does not support Roslyn analyzers, so this will only work in VS and Rider.

Your examples when using the analyzer
![image](https://user-images.githubusercontent.com/1007631/43360895-8907e9ec-92c1-11e8-9972-897bdceb705f.png)
and
![image](https://user-images.githubusercontent.com/1007631

[2018-07-28 23:14] MhdTlb commented on #2885
done.

@jnm2  I noticed that there is inconsistency  even after using  new summary. there is `A Constraint to be applied` and `A Constraint **expression** to be applied`. I hope that would be fine.

[2018-07-28 23:41] jnm2 commented on #2885
Yes, that's great! Thank you for going ahead and taking care of that.

[2018-07-29 20:21] mikkelbu commented on #2885
Close via #2946.

[2018-07-29 20:21] #2885 closed

[2018-07-30 03:04] pdpurcell commented on #2043
Should this ticket be reopened?

[2018-07-30 04:43] CharliePoole commented on #2043
I was waiting for some current @nunit/framework-team members to respond as to how they want to handle this issue, but a new ticket would probably hasten that response. In any case, that would better document that the problem was not present in 3.9 but returned in 3.10.

Folks, I don't actually know what to tell @pdpurcell about whether this is intended to work in future. If, as I suspect, my PR #2

[2018-07-30 12:56] lorranpalmeira commented on #2945
Thank you @mikkelbu, It´s exactaly Im talking about. Unfortunely doesnt work on vscode.
Thank you @CharliePoole for helping me.

[2018-07-31 18:15] OsirisTerje opened #2947 "NUnit Framework freezes when we abort main thread"
@MichailQA commented on [Mon Jul 30 2018](https://github.com/nunit/nunit3-vs-adapter/issues/532)

Hi,
I observed the following strange behavior:
NUnit Framework freezes when we abort main thread in OneTimeSetUp method.

When we abort main thread in test or in SetUp method - behavior is expected (test fails with message "Test cancelled by user"), but when it happens in OneTimeSetUp method - NUnit F

[2018-07-31 18:15] OsirisTerje commented on #2947
Moved to NUnit repo, closed it here.

[2018-07-31 19:47] ChrisMaddock commented on #2947
I agree...although I'd be interested to know the motivation to write tests like this. 🙂

I'm not totally convinced yet that cancelling tests in this way is a supported scenario - if you intentionally kill the test runner mid-test, it feels like that should odd behaviour should be expected!

[2018-07-31 20:47] CharliePoole commented on #2947
NUnit creates the thread you are running on. You can't abort it without breaking something. What you have observed is that it breaks differently for a test method versus a OneTimeSetUp, but both are broken.

In the case of the test method, as you point out, NUnit falsely reports that the user cancelled the test.

[2018-08-01 07:05] mikkelbu commented on #2890
@kumarbrandmuscle I'm marking this issue as closed/answered, since Carlie already has labeled it so 😄 . Note that we will still see additional comments to this issue.

[2018-08-01 07:05] #2890 closed

[2018-08-01 11:54] agray commented on #2481
Has anyone been able to look at this please?  Parallelism is one feature I have not been able to get working in NUnit with Saucery

[2018-08-03 20:52] decriptor commented on #2917
Any word on this?

[2018-08-03 23:08] jnm2 commented on #2917
I'm hoping to hear from others as many ideas as we can collect, and my free time is coming back soon!

[2018-08-05 21:28] CharliePoole commented on #2043
In our past discussions, I advocated not supporting this. I believe I was overruled but I was not sure, which is why I'm asking now.

[2018-08-05 21:33] jnm2 commented on #2043
I don't remember anything like overruling! Looking through I see Rob supporting you and myself saying you had good points and agreeing with them.

I do think we should remove this which is no longer true:

https://github.com/nunit/nunit/blob/abbaed7dc715e6717eaa99d67e15c819fabfe7a6/src/NUnitFramework/framework/Assert.That.cs#L40-L43

[2018-08-06 00:00] CharliePoole commented on #2043
I may be mixing this up with the ability to directly call test methods, which is somewhat related. In any case, an earlier PR "fixed" this for 3.6 and then I think my unrelated PR #2700 broke it for 3.10.

In any case, whichever way it goes, I agree the documentation should say something about it. I guess one of:

"Catching an assertion exception will prevent the test from failing."
OR
"Catching a

[2018-08-06 04:09] licjapodaca opened #2949 "Problems when I activate Live Unit Testing using NUnit in a Visual Studio 2017 Test Project"
I'm using Visual Studio 2017 Enterprise 15.7.6 and a Test Project with the following Nuget Packages:

![image](https://user-images.githubusercontent.com/828781/43696144-829ebcbc-98f1-11e8-91b6-eec4df2ce9ba.png)

The problem is that when I activate **Live Unit Testing (LUT)** in VS2017 and specify in a Test Method the attribute [TestCase] in some cases works the LUT but when I mke some change in so

[2018-08-06 12:36] jnm2 commented on #2043
This would be an argument for making NUnit exceptions internal.

How about:

[code]

[2018-08-06 13:46] CharliePoole commented on #2043
That works as well. More critical, IMO, is that the policy behind it be clear, both to users and to yourselves.

[2018-08-06 13:56] paylett opened #2950 "Ability to pass TestFixtureData to TestCaseSource"
This is a feature request. It would be great if there was a way to use [TestFixtureSource] to provide test fixtures, and then have the TestFixtureData instance for the current fixture instance available when dynamically generating test cases using [TestCaseSource].

To illustrate, my use case is as follows:
I am testing a report SQL generation engine. I wish to test the preparation of multiple rep

[2018-08-06 23:04] victorylu opened #2951 "Nunit on MacOS VS with Xamarin.Mac 2.0 not compatible?"
Hi, I'm currently trying to get the Nunit framework installed on the MacOS version of Visual Studio, but I am getting the following message: "Could not install package. You are trying to install this package into a project that targets 'Xamarin.Mac,Version=v2.0', but the package does not contain any assembly references or content files that are compatible with that framework. For more information,

[2018-08-06 23:24] decriptor commented on #1227
I figured it'd be worth posting this here as well. It is an updated version of guiunit based on 3.x.
https://github.com/garuma/GuiUnitNg

[2018-08-07 13:04] CosminGramada commented on #2877
@CharliePoole  Do you have any updates on this?

I have a similar issue, the only difference is that I'm running a DB query (some heavier taking up to 3 seconds) that will return my test cases to be executed.
Having a lot of tests, this can take some time until it's executed everytime.
Having a lot of test

[2018-08-07 13:58] rprouse commented on #2951
Sorry, we don't currently have a runner for Xamarin.Mac although I thought our .NET Standard 2.0 target would work. I usually test projects like that by making my shared code .NET Standard and then consuming it from a .NET Core test project. I can test most of the Xamarin code, just not the platform specific code. I often have to implement mock platform interfaces, but that isn't too much work.

[2018-08-07 14:07] CharliePoole commented on #2877
See issue #2876. I added the basic capability of pre-filtering the tests for a run and implemented it in the nunitlite runner. Any other runners would need to be changed to take advantage of it. Best course us for you to file an issue in the relevant project for whatever runner you are using.

[2018-08-07 14:08] #2877 closed

[2018-08-07 18:08] victorylu commented on #2951
Oh okay. Thanks for letting me know!

[2018-08-07 18:08] #2951 closed

[2018-08-08 03:12] licjapodaca commented on #2949
Anybody?

[2018-08-08 03:52] CharliePoole commented on #2949
Moving this to the nunit3 vs adapter repository, where it's likely to get more attention.

[2018-08-08 03:53] CharliePoole commented on #2949
Issue moved to [nunit/nunit3-vs-adapter #536](https://github.com/nunit/nunit3-vs-adapter/issues/536) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-08 03:53] #2949 closed

[2018-08-08 15:25] nzandy opened #2953 "[Request for help] Best practice for running tests in solution that contains .NET Core Tests + .NET Framework tests?"
Our company has been slowly making the shift to .NET core / .NET standard.

We have a large solution which now contains a mix of .NET core + .NET Framework + .NET standard projects + Test projects. All use NUnit.

I am attempting to configure our CI pipeline (TeamCity) to run _all_ the tests in the solution (a mix of .NET framework 4.7.2 + .NET Core 2.0 projects).

We currently have a step in Team

[2018-08-09 08:19] aidanhorton commented on #1490
I have the same issue using NUnitTestAdapter.WithFramework v2.0.0 and TFS build 2015.

Here's the pastebin error I get when I try to enable code coverage: https://pastebin.com/QxbutNbg
(X is just me obfuscating the names).

[2018-08-09 09:52] mikkelbu commented on #1490
Hi @aidanhorton
I don't use TSF, but the logs from pastebin mentions that there could be information in dump files _"... To investigate further, open file:///C:/Users/X/AppData/Local/CrashDumps/TE.ProcessHost.Managed.exe.1460.dmp file in Visual Studio and choose "Debug in mixed mode"...."_ Have you tried to do this?

[2018-08-10 09:36] aidanhorton commented on #1490
[http://tfs.malvern.com:8080/tfs/DefaultCollection/Sustaining%20Software/_workitems?_a=edit&id=95653](Dump file image) I can't see anything in there that means anything to me.
Running in 'Debug in mixed mode' just gives an error when trying to launch.

[2018-08-10 09:38] aidanhorton commented on #1490
[Dump file image](http://i577.photobucket.com/albums/ss215/aidanhorton/Image_zpsd0odujkj.png) - I can't see anything in there that means anything to me in the dump file, and trying to 'Debug in mixed mode' just gives an error.

[2018-08-12 08:17] LirazShay commented on #2452
@CharliePoole
I've created custom attribute (copied from RetryAttribute but added AttributeTargets.Assembly)
It doesn't retry when attribute was added to Assembly, though it works not method level
[MyRetryAttribute.cs.txt](https://github.com/nunit/nunit/files/2280813/MyRetryAttribute.cs.txt)
Am I missing somthing?
How can I implement it by extension or any other workaround?
I'm using SpecFlow and

[2018-08-12 14:47] CharliePoole commented on #2452
Two problems here...

1. If your attribute worked, it would run the entire assembly multiple times on failure. That's what retry attribute does to the test it is placed on. And an assembly is a test, just like a test case or fixture.

2. The attribute doesn't work anyway because the commands used internally for tests case and test suite execution are entirely different. That is, in my view, a defi

[2018-08-13 09:24] roederja2 opened #2955 "Potential threading issue in IsolatedContext"
I'm occasionally seeing this exception when running my tests:

[code]

It seems to be some sort of threading issue, but I'm not sure how this is being triggered. My test code looks like this:

[code]

[2018-08-13 10:41] CharliePoole commented on #2955
The exception is being thrown when the IsolatedContext, on disposal, attempts to preserve any text output from the test by writing the saved output to a StringBuilder. Can you provide a test that replicates this behavior?

[2018-08-13 11:56] roederja2 commented on #2955
That's a bit difficult because I only see it on our build server and only some of the time. It's definitely threading related. But I don't think I'm checking assertions in different threads. And even if I was it shouldn't crash like this.

[2018-08-13 14:27] roederja2 commented on #2955
Yes, my delegate is creating a thread or rather threads. Some googling of the chunkSize Exception indicates that the most plausible way to get this is because of multi threaded access. Naively I would assume the StringWriter/Builder needs to be protected with a lock.

[2018-08-13 15:55] CharliePoole commented on #2955
Here's the code that's throwing the exception...

[code]

Reference to the `Output` property of the result causes `TestResult._output.ToString()` to be called, where `_output` is the StringBuilder causing the problem.

TestResult has a ReaderWriterLock to avoid conflicts between threads that affect the result but The `Output` property is not using it. Should be changed to work like the `Message` p

[2018-08-13 17:13] roederja2 commented on #2955
Thanks Charlie,
I had a look at the code and it seems to me it's not as easy as just using the existing `RwLock`. The `OutWriter` has its own synchronisation via `TextWriter.Synchronized`, however when reading the `_output` StringBuilder is accessed directly. I don't see how the monitor from inside `TextWriter.Synchronized` can be used to protect read access to `_output`

[2018-08-13 17:39] DaiMichael commented on #1638
@jnm2 - I'm happy to pick this up.

I already have a branch with a working solution, i.e. I use abbotware code as it works. I've added a couple of tests. I might go straight to PR to see where we are as I realise there is a bit of contention.

I've stuck to the basic's....

[2018-08-13 21:37] herebebeasties commented on #2953
I think your understanding is correct.

As far as I know, the only out-of-the-box way you can get a single multi-targeted test run for your scenario is via `dotnet test --no-build --logger:trx;logfilename=foo.trx` (and you have to cope with getting vstest-style "trx" output). That requires csproj/sln files to be present. You could perhaps include them in your build outputs.

Otherwise you're doing

[2018-08-13 22:31] CharliePoole commented on #2955
IIRC, `TextWriter.Synchronized` was used early on and the ReaderWriterLock was added later. We may want to use the ReaderWriterLock when writing to the _output stringwriter as well as when accessing it.

BTW, my comments are intended as advice for whomever fixes this, not as an indication that I"m taking it on myself. :-)

[2018-08-14 14:46] AutomationSifu opened #2956 "Ordering integration test with Nunit for Test Automation"
Hi Team,

I'm writing a test automation framework using the below technologies:

Selenium Web Driver
NUnit v3.10.1
cSharp
Visual Studio

In Java, I can use the testng.xml file to group tests together (test suites) and have them run in the order they are listed.

Right now with csharp/Nunit I'm using the order attribute at the test fixture level, and grouping tests using test categories. This was w

[2018-08-14 14:59] mikkelbu commented on #2956
If I understand your situation correctly, then this cannot be specified using the OrderAttribute. Perhaps it will be possible using the more advanced features in  https://github.com/Sebazzz/NUnitTestOrdering from @Sebazzz, but I've not used this yet.

[2018-08-14 15:20] AutomationSifu commented on #2956
Hi Mikkelblu,

Thanks for your feedback!  The link seems like what I'm looking for.  The only thing I'm unsure of is if a test fixture can be referenced with a different order to be re-used in more than one test suite.  At the moment when I use the order attribute at the testfixture level,  I'm only able to use the order attribute once, which makes sense there's not a clear way to know which order

[2018-08-14 15:37] Sebazzz commented on #2956
That is possible.

[2018-08-14 15:46] AutomationSifu commented on #2956
Thank you, that is very encouraging!  I tried to download the package in visual studio using the Package Manager Console but it appears I can only use Nunit versions 3.7 to 3.10.0.  I'm currently on version 3.10.1, which is considered the latest stable version of Nunit.

[2018-08-14 16:35] roederja2 commented on #2955
I gave it a go: https://github.com/nunit/nunit/pull/2957

So far it seems to fix my issue

[2018-08-14 16:39] BrunoJuchli commented on #2019
I'd like to use `[TestFixtureSource]` to provide fixtures with arguments *and* Type arguments.
However, `[TestFixtureSource]` only supports `TestFixtureData : TestFixtureParameters`. Now while there is a `TestFixtureData.TypeArgument` property it's setter is `internal`.

As far as I understand, this is one of the use cases "broken" by missing support for `ITestFixtureData`.
Now, it's not necessary

[2018-08-14 18:37] CharliePoole commented on #2019
@BrunoJuchli Although motivated by this closed issue, what you are suggesting seems to be an entirely new change, worthy of its own issue. 😸 That would at least give us a place to discuss it without confusion.

On one point ... "As far as I understand, this is a use cases "broken" by missing support for ITestFixtureData." ... that's a mis-statement. TestFixtureData is a class that is used to packa

[2018-08-14 19:28] wrummler commented on #1154
@rprouse It's been a while since this was closed, so I figured it couldn't hurt asking: Does the current roadmap of NUnit still preclude this feature?

I can describe my small team's scenario and why we would benefit from being able to declare that certain tests should each run in their own process.

We have some tests (about 500) that depend on the process-wide current directory. (For the record,

[2018-08-15 11:30] BrunoJuchli opened #2958 "Support Type Arguments with [TestFixtureSource]"
Using [`[TestFixtureSource]`](https://github.com/nunit/nunit/blob/368a65da746c506dd211679c51a9e38d7e7b3597/src/NUnitFramework/framework/Attributes/TestFixtureSourceAttribute.cs) I'd like to provide type arguments alongside ctor arguments.

Example:

    public class When_entity_name_is_too_short<TEntity> : BaseFixture
        where TEntity : IHaveName
    {
        private TEntity _entity;

[2018-08-15 11:30] BrunoJuchli commented on #2019
@CharliePoole
Thanks for taking the time. I've created a new issue: https://github.com/nunit/nunit/issues/2958

[2018-08-15 14:20] mbcrawfo commented on #2933
I'd vote in favor of this change.  It bit me this morning thanks to a change from manually generated test data to usage of AutoFixture combined with `var`, which allowed the type of a variable to change from an interface to a struct.  I don't think it's a matter of catering to less experienced programmers, it's more about leveraging the compiler and type system to keep us from doing logically inva

[2018-08-15 14:44] CharliePoole commented on #2933
I'm in favor of changing to give an error when a value type is used. I don't think we should keep both overloads.

On the more general issue... I didn't notice some of the replies earlier. I fear I was misunderstood. I'm not saying "If we make this change we will be forced to look at a lot of other things." My point is that there are a lot of things I believe should be looked at centering around t

[2018-08-15 17:18] mikkelbu commented on #1490
Hi @aidanhorton

Not that it is much help, but I don't think that this is (solely) an NUnit problem. If I search for code coverage + parts of the error message then I get following pages
* https://social.msdn.microsoft.com/Forums/en-US/8835ad39-d1a0-4fc5-a567-d8edef71b772/tfs-2015-build-test-run-crashes-when-running-the-build-agent-as-a-user-different-than-quotnt?forum=tfsbuild
* http://answers.fl

[2018-08-15 18:41] ChrisMaddock commented on #660
Thanks for making the docs update Mikkel! I think your changes do a good job of recording the current behaviour.

Regarding whether this is something we should close as a docs issue, I'm less sure however. I understand the current functionality was written with intended to work in this way, however I would still consider it surprising behaviour - as the original poster did.

My gut feeling is also

[2018-08-15 19:58] CharliePoole commented on #660
I'm still a bit mystified as to why one would expect it to be different.

`Assert.That(i, Is.Null.Or.GreaterThan(9))` is written just as we write `if (i == null || i > 9)` in C#. If one were to write `if (i > 9 || i == null)` you would get an NRE on a null value.

Apparently, something in the fluent syntax is leading folks to expect it to work differently from other programming. I'd like to unders

[2018-08-15 20:09] ChrisMaddock commented on #660
I had to double check this - but if `i` is a nullable int, that wouldn't be the case. `i > 9` would return false.

Because, with my 'user' hat on, I'm calling library methods. How those methods are implemented isn't known to me - my expectation is simply how the syntax reads. That I'm testing if something is "Null or greater than nine". That fact that this chain of properties is evaluated left to

[2018-08-15 20:33] CharliePoole commented on #660
This relates to a discussion on another thread about __who__ is the user NUnit aims at. In my time, she was a programmer using languages that focus on left-to-right evaluation, so NUnit works that way as well. After all, The user base now may be different, of course, but you guys still get to decide which users you want to focus on. You can't make everyone happy.

Personally, I'd find it very surp

[2018-08-15 20:54] jnm2 commented on #660
If CompareTo and nullable comparison operators behaved the same in .NET, I'd want to say that we should do what they do. But [they don't](https://stackoverflow.com/a/23787253/521757). CompareTo defines null as a valid input less than any other input, while C#'s lifted nullable operators follow the SQL practice of failing when either operand is null (except for `==` and `!=`!).

If we allowed our `

[2018-08-15 21:00] ChrisMaddock commented on #660
@jnm2 You make good points. 😄

[2018-08-15 21:02] ChrisMaddock commented on #660
(Sorry, I should elaborate further.)

You make a good argument that this potentially opens a big can of worms. I'm not keen on the current behaviour, but given a) can of worms, and b) changing this behaviour feels like a huge piece of work, I can be convinced to close this as is. Given that makes four of us in agreement, I'll go ahead and do that.

Thanks for making the actual docs change, Mikkel!

[2018-08-15 21:02] #660 closed

[2018-08-15 21:12] ChrisMaddock commented on #1638
Great - thanks @DaiMichael, look forward to it!

Afraid GitHub won't allow us to assign the issue to you until you're part of the 'NUnit Organization' on GitHub, but I've removed the help-wanted label.

To fix that: @rprouse - would you be able to send invite Dai to the contributors team? Dai - our [contributors team](https://github.com/orgs/nunit/teams/contributors) is made up of those who've mad

[2018-08-15 22:32] abbotware commented on #1638
uh.. so no attribution for the code I wrote?  kinda looks like it was just copy and pasted there...

[2018-08-15 22:45] CharliePoole commented on #1638
@abbotware There's no PR yet.

[2018-08-16 01:11] rprouse commented on #1638
@DaiMichael I have sent an invite to the contributors team, welcome.

@abbotware we don't normally add attributes to individual authors in the code, we generally only provide recognition through the contribution graph for the project for people that contribute PRs. We could add a small comment in the code if you prefer, but please state that up front. Usually when people provide code samples for u

[2018-08-16 02:06] rprouse commented on #2821
@jnm2 moving this out of the 3.11 milestone.

[2018-08-16 02:28] rprouse opened #2960 "Planning for 3.11 Release"
We are past due for a 3.11 release. I went through the issues and cleaned up. We only have 33 completed issues so far for 3.11, so I don't think there is a huge rush, so I was thinking mid to late September for a release. @nunit/framework-team if there is anything you are working on or planning on working on that you would like to see in 3.11, please add to the milestone. I removed a couple of lon

[2018-08-16 07:40] nisha-kaushik commented on #2928
Hey, I want to pick this up for contribution. Can you please explain it with some example.

[2018-08-16 07:55] nisha-kaushik commented on #2901
Hello,

I want to pick this up for contribution.

To Clarify, right now following test fails with Message: No arguments were provided.

[Test] public void TestNullableBool([Values] bool? testInput)
{ /* runs with null, true, false in no particular order */ }

Expected- It should run with all possible values the input can take in case of Enum and bool.

Please Let me know if there is any misunderst

[2018-08-16 08:13] aidanhorton commented on #1490
Thanks @mikkelbu
These links are very useful, and since this isn't an NUnit issue there's nothing else to say on my side, I'll follow it up elsewhere.
Thanks!

[2018-08-16 08:17] ChrisMaddock commented on #2928
@nisha-kaushik Great!

Take a look at this pull request below, where I made a very similar change to PropertyConstraint, to the one we want to make to EmptyConstraint. Do you want to have a go at a similar change to EmptyConstraint, and then put up a pull request, and we can work from there?

https://github.com/nunit/nunit/pull/2739

I've assigned this issue to myself to keep an eye on - let us kn

[2018-08-16 08:31] mikkelbu commented on #2901
@nisha-kaushik
Actually, I think the "No arguments were provided" is the behaviour from Resharper or Visual Studio. If you run the test using the nunit-console then you will get one testcase for true and one for false
[code]

[2018-08-16 10:03] nisha-kaushik commented on #2928
Thanks @ChrisMaddock I made some changes in pull request [2961](Improve error message on EmptyConstraint #2961).

Please Let me know in case of changes.

[2018-08-16 10:05] fcin opened #2962 "NUnit cannot find tests after upgrading to Visual Studio 15.8"
Hi,

I updated Visual studio Enterprise 2017 to version 15.8.0 and it fails to discover all tests inside Unit Test project (.NET Framework 4.6.1). It discovers tests for .NET Standard 2.0, but fails for .NET Framework 4.6.1. I can see all tests in Test Explorer, but when I try to run them I get this output:

[code]

Replication steps:

1. Create WebForms application targeting .NET Framework 4.6.1.

[2018-08-16 11:02] fcin commented on #2962
Issue is solved by removing references to

Microsoft.VisualStudio.TestPlatform.TestFramework
Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions

[2018-08-16 11:02] #2962 closed

[2018-08-16 12:17] abbotware commented on #1638
Considering this issue has been around for how long?... if it were not for my sample code, this PR would not have been made.. and even more so, the sample code is/was just copy and pasted into someone else's PR.  I don't care about the code being copy and pasted since I more than expect that to happen (although it did have a copyright header!), and am glad this is getting merged into NUnit proper.

[2018-08-16 13:48] rprouse commented on #2962
Thanks for letting us know @fcin.

@OsirisTerje take a look at this issue and the solution. You may run into the same thing in the adapter project.

[2018-08-16 14:02] roederja2 commented on #2955
PR has been merged and my problem is solved by it. Closing.

[2018-08-16 14:02] #2955 closed

[2018-08-16 15:15] CharliePoole commented on #1638
@abbotware Again, no PR has been submitted. I can only guess, but it seems unlikely that anyone other than you will submit a PR using your code, given your comments.

That said, you did release your code on GitHub under the MIT license, which allows its use in other works without attribution.

NUnit itself is released under the same license. People take parts of it, even large parts, and incorpora

[2018-08-16 18:19] ChrisMaddock opened #2963 "Flakey tests in FrameworkControllerTests"
Several tests in FrameworkControllerTests have recently failed in a flaky manner on the CI builds. We need to look into why that is, and make a fix.

The failures don't appear to be platform-specific, here are a few sample failure messages:

[code]
[code]
[code]

As always, contributions welcome!

[2018-08-16 18:39] CharliePoole commented on #2963
@ChrisMaddock Are you saying the same tests sometimes pass for the same code? I had seen this error and figured someone had messed up the setting of the prefix for the ids but if it's only failing intermittently, that explanation wouldn't apply.

[2018-08-16 18:47] ChrisMaddock commented on #2963
@CharliePoole Pass - I haven't had a chance to even look at the code, and see what these tests do! I just wanted to record the error messages as an issue.

[2018-08-16 20:45] mikkelbu commented on #2963
And again (from https://travis-ci.org/nunit/nunit/jobs/416897254)
[code]

[2018-08-16 23:02] CharliePoole commented on #2963
@mikkelbu Link doesn't show that failure.

[2018-08-16 23:13] mikkelbu commented on #2963
@CharliePoole Sorry. I forgot that restarting the job cleans the log, and I restarted the job after reporting here.

[2018-08-17 01:57] CharliePoole commented on #2963
@mikkelbu I see. And it apparently succeeded when restarted.

The prefix used for all ids generated is stored in Test.IdPrefix, which is static. Maybe some other test is tromping on it.

[2018-08-17 01:58] CharliePoole commented on #2963
We might want to rethink the use of a static to store the prefix.

[2018-08-17 06:29] mikkelbu commented on #2963
I was thinking the same regarding the static, but I've only skimmed the code very quickly.

[2018-08-17 09:23] hellboy81 opened #2964 "Problem after restoring NuGet packages on some installations"
Problem on some installations after restrorung NuGet packages.

Reinstalling using does not help:

[code]

[code]

[2018-08-17 09:35] mikkelbu commented on #2964
From
[code]
and the errors it looks like you are mixing NUnit version 2 and 3. Are you migrating a test-suite from version 2.6.4 to 3.10.1?

Ps. The types are mentioned in the [breaking changes](https://github.com/nunit/docs/wiki/Breaking-Changes)

[2018-08-17 10:13] hellboy81 commented on #2964
Bug confirmed and solved as follows:  may be IDE cannot update existing dll version in output dir. Delete binary dll and reinstall package helped

[2018-08-17 12:38] jnm2 commented on #2837
@ChrisMaddock This should be reopened until https://github.com/DaiMichael/nunit/tree/issue-2837 is rebased in a new pull request, right?

[2018-08-17 12:39] ChrisMaddock commented on #2837
It should, sorry!

[2018-08-17 16:26] MaximRouiller opened #2965 "NuGet Package : Add `repository` metadata."
Basically, we can now add a repository metadata on a nuspec file to allow the repository to be surfaced on NuGet.

I've talked about it [on Twitter](https://twitter.com/MaximRouiller/status/1030468873945075712) but the most basic things to know is here:

[NuSpec Reference](https://docs.microsoft.com/en-us/nuget/reference/nuspec?WT.mc_id=social-github-marouill#repository)

Reference Implementation

[2018-08-17 19:03] abbotware commented on #1638
@CharliePoole  - Sorry thought the 'fixes #1638' was a PR request...

Any how - I just thought there was some form of minor recognition (although not required from the license) for helping resolve this old issue given that the method I proposed looked like it was being submitted.

It seems like this is just becoming a bigger deal than it needs to be:  Please, just forget I asked.  I'll submit a fu

[2018-08-17 19:45] CharliePoole commented on #1638
@abbotware No, that's just a fix to the user's own fork of nunit. It's noted in this issue because he referenced it in a comment.

Your point about attribution is well taken. It's just that you seemed to be addressing it to the NUnit Team, which hasn't actually used the code and isn't even considering it right now, since no PR has been submitted. Technically, we could go out and take the code from

[2018-08-17 20:57] rprouse commented on #2965
Sounds like a great idea. Thanks for entering it.

[2018-08-17 20:58] rprouse commented on #2965
We should probably duplicate this issue in our other repos if we are going to go ahead with it.

[2018-08-17 21:01] abbotware commented on #1638
@CharliePoole -  Given I wrote it as plugin, it seemed more appropriate for an 'NUnit.Contrib' type project than NUnit proper.  Kudos for having great extensibility!

I did consider a PR, but wasn't sure where to begin...  Now though, I kinda have an idea (thanks to @DaiMichael)

[2018-08-17 21:12] CharliePoole commented on #1638
To do a PR...

1. Start with a branch that is based on the latest NUnit master plus the change you are submitting. One thing at a time is best. If you make two different changes, the team may like one but not the other, which slows you down.

2. In your browser, list your branches on GitHub. There's a button to click to submit a PR.

3. Fill out the PR including "Fixes #nn" or "Closes #nn" in the

[2018-08-17 21:16] abbotware commented on #1638
To Clarify - I meant where in the NUnit code :-)
Given this is tied to build related matters: Net Core vs Framework etc

[2018-08-17 21:39] DaiMichael commented on #2837
@ChrisMaddock  - Soooo.. I think I have rebased, all seems to run, do you want me to do another PR?

Also - With regards to the "failing" tests. I don't have an issue locally but I'm a tad confused as in nunit.framework we reference standard but in nunit.framework.test we are referencing netcore ? I don't understand that....

[2018-08-18 03:57] MaximRouiller commented on #2965
If you do, can you link back to this issue? Worst case, I'm ready to do PRs.

[2018-08-18 11:53] ChrisMaddock commented on #2837
Yes please @DaiMichael!

That's strange! The issue I thought we had before, the CI build will catch - so we should be able to see if the problems still there.

I'm very much not the best person to explain this...but .NET Standard is the "API" that these builds target - but the tests must be ran on an actual platform. The platforms we run those tests on is .NET Core.

[2018-08-18 11:55] ChrisMaddock commented on #2963
Just cleared this on another PR.

A little concerned what's changed recently to cause these - they seem very frequent.

[2018-08-18 20:06] DaiMichael commented on #2837
@ChrisMaddock - okay ignore all of the last message... I am working on this... post haste but confusion/ misunderstanding of github when I started helping (sic) out means that I have a polluted branch (on this issue) and I have some of another change (in an earlier version) in there. I've spent the day been rather fustrated but I have detangled the mess but I need to remove the bad commit to this

[2018-08-18 22:47] ChrisMaddock commented on #2837
Gah - I know that feeling well...I'm a mercurial-man, so regularly end up in a Git mess as soon as something non-trivial happens! Hope you can get things sorted out - let us know if we can help at all! 🙂

[2018-08-18 22:51] jnm2 commented on #2837
Since I'm the one that caused all those changes underneath you, I'll gladly rebase your changes and fix merge conflicts if you'd like.

[2018-08-18 23:14] DaiMichael commented on #2837
@jnm2

Since I'm the one that caused all those changes underneath you, I'll gladly rebase your changes and fix merge conflicts if you'd like.

I'm 99.9% sure this is my fault. I have a very old check in from the #2786 issue, I must have committed a very early version to this branch, now I've detangled my branches and my master.... I should be able to remove the bad commit.

If I'm still struggling

[2018-08-19 16:44] DaiMichael commented on #2837
New PR #2967

[2018-08-19 17:34] jnm2 commented on #2821
@rprouse No pressure for 3.11, but I realized that this one should be simple. PR at #2966.

[2018-08-19 17:40] #2928 closed

[2018-08-19 21:33] jnm2 commented on #2965
Yes, I was coming here to file the same issue! @MaximRouiller, we would seriously take you up on the offer of PRs for our repositories. We use .nuspec files in most of them.

[2018-08-19 21:34] jnm2 commented on #2965
@rprouse I was thinking this would be great to get in 3.11 since it'll be a while before 3.12.

[2018-08-20 11:36] #2821 closed

[2018-08-20 12:59] MaximRouiller commented on #2965
Damn... I've just looked at the number of repos and Nuspec that you guys have... and it's a lot.

If you could list me those that are active, I'd greatly appreciate it.

[2018-08-20 13:14] MaximRouiller commented on #2965
Child issues:

- https://github.com/nunit/nunit-console/issues/456
- https://github.com/nunit/nunit3-vs-adapter/issues/538

[2018-08-20 13:26] CharliePoole commented on #2965
If you are asking whether it's active, then yes. Any specific question about the package should be asked in its repo, so the right people see it.

[2018-08-20 13:40] MaximRouiller commented on #2965
Adding a reference to this issue.

https://github.com/nunit/nunit-vs-adapter/issues/175

[2018-08-20 13:44] jnm2 commented on #2965
I think these are the repos actively shipping packages:

- [ ] https://github.com/nunit/nunit
- [ ] https://github.com/nunit/nunit-console
- [ ] https://github.com/nunit/nunit-v2-framework-driver
- [ ] https://github.com/nunit/nunit-vs-adapter
- [ ] https://github.com/nunit/nunit.analyzers
- [ ] https://github.com/nunit/nunit.xamarin (csproj SDK rather than nuspec)
- [ ] https://github.com/nunit/n

[2018-08-20 14:13] MaximRouiller commented on #2965
https://github.com/nunit/nunit/pull/2968
https://github.com/nunit/nunit-console/pull/457
https://github.com/nunit/nunit-v2-framework-driver/pull/25
https://github.com/nunit/nunit-vs-adapter/pull/176
https://github.com/nunit/nunit.analyzers/pull/72
https://github.com/nunit/nunit.xamarin/pull/113
https://github.com/nunit/nunit3-tdnet-adapter/pull/11
https://github.com/nunit/nunit3-vs-adapter/pull/53

[2018-08-20 14:15] MaximRouiller commented on #2965
There's 2 in there that I had to modify the csproj file. These will need to have their output double checked.

It's pretty obvious when you're using a Nuspec that the data is going to get grabbed but if other means are used to package these projects with a csproj, it may need that data to be updated. For those? I'll leave the team to do the basic work.

Shouldn't be too hard.

[2018-08-20 14:39] CharliePoole commented on #2965
FYI this that embed the metadata in a cake script are easy enough since cake is just C#.

[2018-08-20 22:17] ChrisMaddock commented on #2950
Interestingly, I just came across the same problem. My case is I'm generating thousands of test cases based on a single excel document - and want to run this class on multiple excel documents.

I'll work around it by adding an extra loop in my TestCaseSource, but I loose all separation that way. Anyone any better ideas for a workaround?

[2018-08-21 03:58] CharliePoole commented on #2950
I think it would help if somebody wrote the pseudo-code they would like to work. I think I understand but I'm not sure.

[2018-08-21 08:54] richard-fine opened #2969 "Missing constraint for testing object is in collection?"
I want to write an assert like this:

`Assert.That(item, Is.ContainedIn(collection));`

You're probably thinking: Why not just write

`Assert.That(collection, Has.Member(item));`

instead? Simple - because that reverse the roles of the 'actual' and 'expected' entities. My collection is a static thing, and my item is the 'potentially wrong' thing that is actually under test. So I want to write it t

[2018-08-21 10:06] BrunoJuchli opened #2970 "InvalidCastException @ NUnit.Framework.TestFixtureSourceAttribute.BuildFrom"
Given the following code:

    using System;
    using NUnit.Framework;
    using NUnit.Framework.Interfaces;

    public class TypedTestFixture<T> : NUnit.Framework.Internal.TestParameters, ITestFixtureData
    {
        public TypedTestFixture(params object[] arguments)
            : base(arguments)
        {
            this.TypeArgs = new[] { typeof(T) };
        }

        public Type[] TypeA

[2018-08-21 11:58] Oberndorfer opened #2972 "StackOverflowException (sporadically) in nunit-agent.exe"
We have a sporadically (maybe 1 out of 10 or less) StackOverflowException in nunit-agent.exe.
![stackoverflowexception](https://user-images.githubusercontent.com/40287684/44399734-e8fe2c00-a548-11e8-9ecb-d0a02fb697b1.png)
We are using NUnit.3.9.0 and NUnit.ConsoleRunner.3.8.0.
It happens on Win7 and Win10 build servers (16 GB RAM).
There are a bunch of threads running and as stated by documentatio

[2018-08-21 12:54] jnm2 opened #2973 "Write up recommended way to test and link it from the readme"
I find https://github.com/nunit/nunit/blob/master/BUILDING.md#build-script a bit vague and we've had a number of folks asking us how we test.

I think there's a lot of room for personal style assuming we have solid CI. My ideal workflow:

1. Locate existing tests or write new tests
2. Pin that test fixture to make it quick to rerun the tests while typing (even better, start continuous testing) by

[2018-08-21 16:37] ChrisMaddock commented on #2969
You're after the newly added `Is.AnyOf()` I believe, newly added in 3.10 by @Dreamescaper!

https://github.com/nunit/nunit/pull/2703

I'm afraid it's so new, it's not yet in our docs. (But we'd love a contribution to fix that, if you'd be interested!?)

[2018-08-21 17:05] MaximRouiller commented on #2965
Had to update `cake` to `0.29.0` but it fixed the issue for this one:

https://github.com/nunit/nunit-v2-framework-driver/pull/26

[2018-08-21 17:12] MaximRouiller commented on #2965
And for the `vs-project-loader`. This one already download the latest version of cake.

https://github.com/nunit/vs-project-loader/pull/33

[2018-08-21 17:27] MaximRouiller commented on #2965
With everything approved... there's a few that remains to be merged but I think that concludes the transition to the Source Code link.

Sadly, we can't tag previous packages so only the latest version of the packages will have the URL.

I'm going to be writing a blog post very shortly describing the type of work that was done here and provide help for other Package Authors to have this included as

[2018-08-21 17:37] ChrisMaddock commented on #2965
That's awesome - thanks for doing all these @MaximRouiller!

[2018-08-21 17:40] ChrisMaddock commented on #2965
As far as I can see, everything's merged, apart from those in the adapter repositories which @OsirisTerje looks after - and I'm sure he'll be along within a few days to do so. I'll close this issue - thanks for doing this across all our project though @MaximRouiller! Would love to see the blog, if you'll add a link back when it's done!

[2018-08-21 17:40] #2965 closed

[2018-08-21 18:07] BrunoJuchli commented on #2973
Since you mention Resharper: I've tried running the tests with R# (2018.2 EAP 7 or 8, VS 2017.7) but they all end up with "Inconclusive". Starting with debugging there's an exception stating that Nunit 3.11 is not supported.
I've tried manually configuring the path to Nunit @ Resharper settings. I've chosen bin/Debug/net4.5 (and tried /Release, too) of the checked-out and built repository. Resharp

[2018-08-22 00:58] #2855 closed

[2018-08-22 01:07] rprouse commented on #2963
I just saw this again on another PR. It is a bit worrying...

[2018-08-22 05:11] Oberndorfer commented on #2972
No we are not using `Parallizable` at all. And no, no parallelization options.
I did put in `--labels=All` yesterday before leaving and the error occured in one of our nightly builds. So now it is down to 2 tests. Either the output is from the causing test or the output of the next test failed to write.
Now I will take a closer look on the 2 test cases in question. I'll keep you posted.

[2018-08-22 07:07] oznetmaster opened #2974 "Broken NUnit Repo"
Every time I  attempt to sync with the nunit repo using github for windows, I get the error:

Failed to sync to this branch [master]
You might need to open a shell and debug the state of the repo.

Can someone please either do something about this, or tell me what to do.

[2018-08-22 07:42] Oberndorfer commented on #2972
@ChrisMaddock Unbelievable!
NUnit shows that there is a problem with a test case when run between 23:01 and 24:00 - which causes the StackOverflowException. That explains why I could not reproduce it locally...
Thank you for pointing me in the right direction.

[2018-08-22 07:42] #2972 closed

[2018-08-22 08:52] ChrisMaddock commented on #2974
I think that's a very generic error message unfortunately - but looks like it's normally related to your local repo? Open up cmd, and see if `git status` gives any clues?

See https://stackoverflow.com/questions/15387640/github-windows-failed-to-sync-this-branch

FWIW, I just tried cloning a fresh repo, and had no issues.

[2018-08-22 09:11] oznetmaster commented on #2974
I used the newer github for windows, and it says:

A lock file already exists in the repository, which blocks the operation from completing.

Any idea how to fix this?

[2018-08-22 12:51] mikkelbu commented on #2974
@oznetmaster This sounds similar to the problems described in desktop/desktop#4938 (I'm unsure if this repository is "the newer github for windows").

[2018-08-22 18:35] lahma opened #2975 "ComparisonConstraints are allocating string on construction"
While investigating our test suite's memory usage, NUnit also came up from some paths where a lot of parsed data was processed through loop that checked against LessThanOrEqualConstraint. If you look how all ComparisonConstraint inheritors are implemented, they all allocate Description when constructed even though I would presume it's not needed unless assertion fails?

https://github.com/nunit/nu

[2018-08-22 20:50] rprouse commented on #2975
Looks like a good idea and an easy fix. Thanks for the examples.

[2018-08-22 20:53] rprouse commented on #2974
@oznetmaster rather than spelunking around trying to fix, might it be easier to clone a new clean copy?

[2018-08-22 21:07] oznetmaster commented on #2974
I tried deleting the lock file in the local copy of the repo, and it seemed to fix the problem!

[2018-08-22 23:39] OmicronPersei commented on #2870
How is this something that can be determined programatically?

[2018-08-23 00:37] OmicronPersei commented on #2963
Wrote some instrumentation code to check for when `Test.IdPrefix` is set to something other than a string starting with "ID" and I got a callstack that looks like this

[code]

[2018-08-23 00:38] jnm2 commented on #2870
@OmicronPersei This:

We should shadow and obsolete these `Using` methods in `CollectionEquivalentConstraint`:

- [`CollectionItemsEqualConstraint.Using(Comparison<T>)`](https://github.com/nunit/nunit/blob/ffcfba9bdd85792f6aa32dada77a4b044857b4bf/src/NUnitFramework/framework/Constraints/CollectionItemsEqualConstraint.cs#L114)
- [`CollectionItemsEqualConstraint.Using(Func<T, T, bool>)`](https://git

[2018-08-23 00:44] OmicronPersei commented on #2963
Yeah so it looks like [`SchemaTests.TestResultSchemaMatches()`](https://github.com/nunit/nunit/blob/master/src/NUnitFramework/tests/Api/SchemaTests.cs#L80)  appears to be at least one of the culprits.  Odd though that this is only causing __sporadic__ failures, not 100% of the time.

[2018-08-23 08:38] ChrisMaddock commented on #2963
That would explain why they've only started recently - great find, thanks @OmicronPersei!

[2018-08-23 12:16] BrunoJuchli commented on #2958
With #2967 the feature will be supported like this (all of the code implemented by the library consumer):

    public class TypedTestFixture<T> : Framework.Internal.TestParameters, ITestFixtureData
    {
        public TypedTestFixture(params object[] arguments)
            : base(arguments)
        {
            TypeArgs = new[] { typeof(T) };
        }

        public Type[] TypeArgs { get; }

[2018-08-23 13:32] kumarbrandmuscle opened #2977 "Is there any to run a single test case multiple times as parallel"
Hi,
I am using Repeat attribute to run test cases multiple times.
But the test cases are not running parallely.
Is there any to run single time multiple times in parallel way.
Usage classlevel:
 [TestFixture]
    [Parallelizable(ParallelScope.Fixtures)]
Method level:
[Test, Repeat(3)]

[2018-08-23 16:16] AutomationSifu commented on #2956
Hi Sebazzz,

I've created a small project in Visual Studio so I can do a test run of your library.  In setting up the library I do have a few questions,  What is the proper place to place those questions.  Thanks!

[2018-08-23 17:01] Sebazzz commented on #2956
Please use the bugtracker of the project itself.

Met vriendelijke groet,
Sebastiaan Dammann

________________________________
Van: AutomationSifu <notifications@github.com>
Verzonden: donderdag, augustus 23, 2018 6:17 PM
Aan: nunit/nunit
CC: Sebastiaan Dammann; Mention
Onderwerp: Re: [nunit/nunit] Ordering integration test with Nunit for Test Automation (#2956)

Hi Sebazzz,

I've created a small

[2018-08-23 19:12] OmicronPersei commented on #2870
Oh alright, sounds much easier than I initially thought!

[2018-08-23 23:32] OmicronPersei commented on #2963
So even if our tests that do change `Test.IdPrefix` change it back to its original state, or some valid default on test teardown, it would fix the issue, but probably not if tests are being ran in parallel?

[2018-08-23 23:52] CharliePoole commented on #2963
It has to be changed to the original state, because the runner has set it to a particular value and is possibly using that value to track tests in various assemblies. For example, the GUI maintains an index of test ids to nodes in the visual tree of tests.

But the best solution is probably that we should rethink how to provide the prefix when generating tests and stop using the static.

[2018-08-24 07:14] omerbhatti019 opened #2978 "Parallel test execution on method level"
The problem i am facing is that i am able to run tests parallel for different test fixtures but i am not sure that nunit supports to run test parallel of one test fixture class containing multiple test methods on multiple instances of chrome using one driver

For example:

i have one class, which contains multiple test methods and i want to execute single class methods parallel in this case if i a

[2018-08-24 07:18] omerbhatti019 commented on #2978
![setup](https://user-images.githubusercontent.com/32322302/44570593-ce6dc200-a797-11e8-994a-6046e823d42f.PNG)

![method](https://user-images.githubusercontent.com/32322302/44570597-d299df80-a797-11e8-8987-ee5631189508.PNG)

[2018-08-24 08:49] ArvoX opened #2979 "Warn.If in Assert.Multiple"
This test
`
[Test]
public void Test()
{
  Assert.Multiple(() => Warn.If(true));
}
`
gives this result: System.Exception : Warn.If may not be used in a multiple assertion block.

But the documentation of [Multiple Asserts](https://github.com/nunit/docs/wiki/Multiple-Asserts) says:

So either the documentaion is worng or there is a worng check in the code.

[2018-08-24 10:01] ChrisMaddock commented on #2963
I do think changing the prefix back to the original stage is definitely the short-term fix, for our test failures, however! 😊

[2018-08-24 14:31] mikkelbu commented on #2979
I just tried on the latest released code and I get the same behaviour (which also corresponds with the code) https://github.com/nunit/nunit/blob/6f806c61eb84f1fed0b47f9b90f1d1e21ec72e14/src/NUnitFramework/framework/Warn.cs#L511-L515

Also it is a bit misleading that it always write "Warn.If may not be used" even if the assertion was `Warn.Unless(false)`.

[2018-08-24 14:41] ChrisMaddock commented on #2979
I have memories that there’s a good reason for this, but I can’t remrmber what that reason was! I imagine it might be hidden in the git history when that line was added -afraid I’m on my phone again, so can’t check!

[2018-08-24 14:47] CharliePoole commented on #2979
Amazing that nobody has reported this up to now, since the code has been there since `Warn.If` and `Warn.Unless` were introduced!

Here's what happened: the original implementation was set up to work as it does - Warn not allowed in a Multiple Assert block. We had some discussion in the team and decided to allow it. Apparently, I only fixed `Assert.Warn` and not the `Warn` class.

You can find som

[2018-08-24 17:44] danielmarbach commented on #2684
Any chance to get back to this?

[2018-08-24 21:16] CharliePoole commented on #2684
Sorry not to have gotten back to this personally. Since I'm no longer very active with NUnit, another @nunit/framework-team member will need to follow through.

[2018-08-24 21:35] rbvictor opened #2980 "The ApplyToContext method of the TimeoutAttribute seems to be ineffective"
I have recently made a modified version of the `TimeoutAttribute` class so I could inherit it from other attributes.

However, my strategy didn't work out and, after analyzing the `SimpleWorkItem` class, I realized that the `ApplyToContext` method of the `TimeoutAttribute`, which sets the `TestCaseTimeout` into the context, is only called after the decision to create the `TimeoutCommand` or not is

[2018-08-24 22:01] jnm2 commented on #2684
We recently had a discussion on this: https://github.com/nunit/nunit/issues/2931

If I remember right, we explicitly do not want a user-facing filter builder API in the framework because we want people to go through the engine (currently at https://github.com/nunit/nunit-console) to drive the framework rather. Any test filter API would probably belong either in the `nunit.engine.api` or in a new a

[2018-08-24 22:43] CharliePoole commented on #2684
IIRC, part of the rationale for not providing the API was also that they are trivial to implement on the user side. Seems like anyone who is getting down and dirty with direct access to the framework should be able to create them fairly trivially. In fact, I think we do that in our own tests all the time.

[2018-08-25 03:13] rbvictor commented on #2980
Oh I see...

I tried to create another attribute class and implemented the `ApplyToContext` method to initialize the `Context.TestCaseTimeout` just like the TimeoutAttribute, but it didn't work because the type name was different, so the property name was wrong.

I should have implemented the `ApplyToTest` to set the right property for the timeout, instead. It is much clearer to me now.

Thanks a

[2018-08-25 03:13] #2980 closed

[2018-08-25 06:31] danielmarbach commented on #2684
I'm personally more than happy to switch to another approach as long is I can filter individual tests and run them as described below in the cluster. Since those API have been removed in a breaking way would anyone here be willing to point me in the right direction so that I can jump on the release train again and update nunit?

[2018-08-25 12:35] oznetmaster opened #2981 "Assert.AreEqual behaves differently then XUnit Assert.Equal - should it?"
I am trying to have NUnit behave the same as XUnit when it comes to comparing equality.

There is an object of type Obj which implements the == and != operators with other objects of type Obj, and also implements an implicit conversion from int to Obj.

This means that a statement like:
[code]
works as expected if Obj has the correct value.

However if Obj == 4 is true, it would be expected that
[

[2018-08-25 12:56] oznetmaster opened #2982 "Additional information for exceptions"
It would be very useful if, when a test is terminated by an exception, all of the information in the exception were captured and available.

Currently, the exception, its message, and its stack trace, are captured.

All of the properties of the exception should be obtained, and those that are not already being added to the output should be.

[2018-08-25 13:58] jnm2 commented on #2684
@danielmarbach The recommended approach is to stop referencing NUnit's framework assembly and instead reference NUnit.Engine so that you can work with a wide variety of NUnit framework versions.

@CharliePoole Do we have docs on this path? I was hoping we had something at https://github.com/nunit/docs/wiki.

[2018-08-25 15:02] CharliePoole commented on #2981
Interesting. NUnit pays no attention to operator overloads. I didn't think xUnit did either. The difference could be explained by the fact that we use the `Equals` overload on the expected value rather than the actual value. What happens in nunit / xunit if you reverse the two operands of the assert?

[2018-08-25 18:48] jnm2 commented on #1638
Unless we're given special permission by @abbotware, my understanding of the MIT license is that we must preserve this licensing notice in our source if we copy their code:

https://github.com/abbotware/nunit-timeout/blob/master/LICENSE (@abbotware is the double-'w' intentional?)

If we don't want to have to worry about this, we should start from scratch.

[2018-08-25 20:09] CharliePoole commented on #1638
That's why we wait for a PR. By submitting a PR, the author agrees to donate the code to us, which is different from our simply finding it on GItHub. Absent a contribution agreement (which we probably ought to have) the usual assumption is that the work is that of the submitter or they are authorized to submit it and that they are offering it to us under the same license that we use. If they submi

[2018-08-25 23:39] CharliePoole commented on #2268
I just ran into this WRT `TestCaseSoureAttribute` it turns out I cannot leave the final argument in `TestCaseData`. Looks like I have to provide an empty array, whereas I can just leave it out for `TestCaseAttribute`.

This feels like a regression, but it may be a very old one - perhaps from day 1 of NUnit 3.

Since I don't work on two things at the same time, I'm working around this for now.

[2018-08-26 17:52] #2979 closed

[2018-08-26 20:22] oznetmaster opened #2984 "XUnit MemberData Skip property equivalent for NUnit."
I just discovered a very useful XUnit feature that I do not think we have in NUnit.

In XUnit, each MemberData attribute (the equivalent of or TestCaseSource attribute) can have an option Skip property.  (Sort of like our Ignore attribute).

However, this is a per attribute property, not per test or fixture.  If the property is set to a value (the reason for the skip), then all of the tests genera

[2018-08-26 20:32] CharliePoole commented on #2984
Currently you can Ignore
 * A simple Test
 * A single test case specified by the `TestCaseAttribute`
 * A single test case specified by the `TestCaseSourceAttribute` but only if you use `TestCaseData`.
 * All of the tests for a method.

There is no way to ignore all the cases that are generated by the an individual `TestCaseSourceAttribute` and I can see that this would be useful.

WRT `Skip`... t

[2018-08-26 20:42] oznetmaster commented on #2984
In case anyone was wondering, all this XUnit stuff is coming up because I am converting a 12,000 test case unit test suite from XUnit to NUnit.

It is mostly working, but I keep finding these interesting nuances :)

[2018-08-26 22:19] jnm2 opened #2985 "Update AppVeyor version last so that links to running builds do not break"
When we submit a PR or branch build and follow the GitHub integration link to AppVeyor, we often see this:

![image](https://user-images.githubusercontent.com/8040367/44633616-b34baf80-a95b-11e8-8f82-bf6f0ddcb0b8.png)

Early this year I discovered that this is due to setting the AppVeyor build number in our Cake script. Sequence of events:

- GitHub notifies AppVeyor that a branch is updated

- Ap

[2018-08-26 23:55] OmicronPersei opened #2986 "Quick fix for test instability around Test.IdPrefix"
As noted in #2963 , some tests in the solution are changing `Test.IdPrefix` to a value that's not expected by other tests, causing intermittent test failures, due to the fact that `IdPrefix` is a static field.  As a quick fix, we should go through all tests that set `IdPrefix` to a invalid value and revert to its original value on test teardown.

[2018-08-27 00:41] OmicronPersei commented on #2986
So far it's looking like simply adding a `TearDown` method that resets `Test.IdPrefix` isn't stopping the ocassional exceptions.

@nunit/framework-team , does anyone know if our build script (`build.ps1`) runs tests in parallel by default?

[2018-08-27 04:34] nisha-kaushik commented on #2901
Hi,
I moved Generate Data logic to a private method in ValuesAttribute. Can you please suggest if we still need conversion in ParamAttributeTypeConversions.cs .

if (targetType.GetTypeInfo().IsEnum && data.Length == 0)
 {
     return Enum.GetValues(targetType);
 }
 if (targetType == typeof(bool) && data.Length == 0)
 {
     return new object[] { true, false };
 }

[2018-08-27 08:41] Sameerchit opened #2988 "Adding delay to the Threads of scripts executed in parallel execution form"
I have a bunch of scripts that I am executing in parallel using Nunit console.
Wherein NUnit launches multiple browsers at the same time and distributes test cases.

Here I face issue, as my application expects at least 3-5 seconds delay within two application launches, or in fact login doesn't work if there are more than one login attempts within a period of 3 seconds.

Is there any way, I can in

[2018-08-27 09:38] mikkelbu commented on #1045
My guess is that these difference are due to 32-bit vs 64-bit, as the default on 32-bit is 1MB and the default on 64-bit is 4MB. That being said, usually 1MB is sufficient due to the way .NET allocates memory. Are you doing something with `stackalloc` or have some deep recursion in the code? (can you provide the test or an example thereof?)

[2018-08-27 09:42] Xonoroff opened #2989 "TestCase not working for UnityTest"
When I try to use TestCaseAttribute for methods that has returned value - it's doesn't work.
E.q
This code works fine
[code]
This - no
[code]
In the last case I have error text

P.S. I'm using Unity 5.6.3p3

[2018-08-27 09:47] Xonoroff commented on #2989
PS. It's possible to use a little cheat code. And test will be passed, but in this case ExpectedResult isn't validated
[code]

[2018-08-27 12:30] ChrisMaddock commented on #2986
I don’t think it does...from memory. Search the code base for parallelizable attributes?

[2018-08-27 12:35] ChrisMaddock commented on #2989
From an Nunit point of view - this is all expected behaviour.

I know nothing about UnityTest I’m afraid - so don’t understand why you would return a value from a method like this. I’m assumkng unitytest is doing something with the return value?

I’m going to close this issue, as there’s no issue with nunit that I can see - and I think you may have better luck taking this issue up with the unityte

[2018-08-27 12:35] #2989 closed

[2018-08-27 12:44] jnm2 commented on #2986
I'd like to be able to run our tests in parallel in VS though. Can you put `[NonParallelizable]` on the test methods that change `Test.IdPrefix`? That way we retain parallelism for most tests but don't have to worry about any tests running in parallel with those tests.

[2018-08-27 12:46] fakefeik commented on #1045
I think the problem is that nunit3-console.exe is itself 32 bit app. Tests dll is build with Any CPU platform target. Should I try to change it?

we have a library that relies heavily on reflection and recursion, I cannot debug it because it gives out an enormous func in which StackOveflowException happends :)

I've tried, it's the same with or without it

[2018-08-27 13:01] jnm2 commented on #1045
@fakefeik

That is a surprise to me. Are you sure? It's supposed to be built as AnyCPU as far as I know.

[2018-08-27 13:13] fakefeik commented on #1045
that is correct, it's built with AnyCPU, i was wrong. my tests dll is also built with any cpu. I don't have `--x86` flag when i run tests. Why do I have only 1 MB stack size?

[2018-08-27 13:29] mikkelbu commented on #1045
@fakefeik Can you show how you are calling `nunit3-console.exe` ? (Charlie has some comments about the options to the console in this answer https://stackoverflow.com/a/46121539/1355927)

[2018-08-27 13:31] fakefeik commented on #1045
`nunit3-console Tests.dll --where "test =~ TestValidationMessages.
Test$"`

[2018-08-27 13:34] OlegBaslak commented on #1358
Hi all,
Are there still no updates on the issue?

[2018-08-27 14:03] CharliePoole commented on #2986
@jnm2 I recommend we focus in fixing the root problem if we are worried about the future. The prefix should not be a static in the first place.

For parallelizing our own tests, I would do the reverse... mark those that can be parallelized. NUnit needs a lot of work before we use a default of parallel for all methods.

[2018-08-27 14:15] CharliePoole commented on #1045
Are you saying that the console displays a message saying that the target is x86?

Are you running at the command-line or within VS?

[2018-08-27 14:18] fakefeik commented on #1045
No, I'm not saying that. What I'm saying is that when I run my tests with nunit3-console, I have 1MB of stack and when I run with Resharper test runner, I have 4MB. @mikkelbu sayed that `the default on 32-bit is 1MB and the default on 64-bit is 4MB`, so I assumed that nunit3-console runs in 32 bit mode.

[2018-08-27 17:33] CharliePoole commented on #1045
OK, I misunderstood. However, nunit3-console is definitely AnyCPU, which means it runs in either a 32 or a 64 bit process depending on how it is run. That's why I'm asking __EXACTLY__ how you run it. For example, if run from the VS command prompt, it's in a different environment.

[2018-08-27 17:39] CharliePoole commented on #1358
No one has assigned it to themselves or offered a PR, which I'd basically how low priority issues get resolved.

[2018-08-27 17:53] fakefeik commented on #1045
I run it as in command line (windows powershell), as admin, with a command provided few comments above

[2018-08-27 18:35] CharliePoole commented on #1045
In that case, we have a mystery! Can you add a test that displays the bitness of the process under which the tests are running?

[2018-08-27 18:50] fakefeik commented on #1045
Will do that tomorrow. It is done with `Environment.Is64BitProcess`, right?

[2018-08-27 19:10] CharliePoole commented on #1045
Yes. That will give us a definitive answer as to the process bitness and we
can move on from there.

On Mon, Aug 27, 2018 at 11:50 AM, Pavel Vostretsov <notifications@github.com

[2018-08-27 19:51] mikkelbu commented on #2989
Some googling gave [this document](https://docs.google.com/document/d/1SeNOAVYaq9HUjsKAC2ZvRwKLD2MCNyV4LwcsP3BXm0s/edit#heading=h.knefezjqd441) which states "`UnityTestAttribute` requires you to return `IEnumerator`." and also "Parameterized tests are not supported for `UnityTest` (except for ValueSource).", so the combination of the `TestCaseAttribute` and the `UnityTestAttribute` seems unsupport

[2018-08-27 21:28] cwood-panopto opened #2990 "Feature request: Allow registering an event (callback) on test assert failures and exceptions"
Multiple users have asked for some way to trigger some code on test assert failure and exception. See some discussion here https://github.com/nunit/docs/issues/193, here https://stackoverflow.com/questions/9157991/appdomain-unhandledexception-handler-doesnt-fire-in-unit-test, here https://stackoverflow.com/questions/33320912/take-screenshot-on-test-failure-exceptions, and I have seen others but th

[2018-08-27 22:14] CharliePoole commented on #2990
You don't discuss our recommended approach, which is to use an engine extension. Is there some objection to that? I've noticed all the comments you cite and lots more but they all want to take an approach whereby the code to handle test exceptions and errors is actually part of the test. There's a bit of a logical fallacy there. 😄

A callback or other hook would mean that your code could do __anyt

[2018-08-27 23:52] cwood-panopto commented on #2990
I am trying to describe the possible scenarios I have seen people asking for and meet your requirement of opening a new issue as requested even though I think the wish of the original issue poster was to do something on test exceptions (misunderstanding that the original 2.5 framework implementation of exceptions was actually for NUnit "framework" exceptions not exceptions in test code). They even

[2018-08-28 02:08] nisha-kaushik commented on #2901
I removed initially, But it was used in some test cases that's why wanted to just confirm. I will remove it from ParamAttributeTypeConversions. Thanks.

[2018-08-28 05:52] fakefeik commented on #1045
Ok, so when I run this code

[code]
In Resharper test runner, it prints out
[code]

And when I run it in nunit3-console with command `nunit3-console Catalogue.EDI.Tests.dll --where "test =~ TestStackAndBitness" --inprocess`, it prints out

[code]

[2018-08-28 06:16] CharliePoole commented on #1045
OK, at least that gets rid of the bitness issue, which didn't make sense to me. I'll think about this more in the morning.

[2018-08-28 07:34] fakefeik commented on #1045
So it seems that when I run .exe that is built with Any CPU, it has 1 MB of stack, and when I run exe built with x64, it has 4MB

[2018-08-28 12:13] ChrisMaddock commented on #2969
Moving this issue over to the docs repo. 🙂

[2018-08-28 12:13] #2969 closed

[2018-08-28 12:13] ChrisMaddock commented on #2969
Issue moved to [nunit/docs #281](https://github.com/nunit/docs/issues/281) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-28 12:15] ChrisMaddock commented on #2964
Closing this, as it looks like the problem may lie outside of NUnit.

Happy to reopen if anyone has more to add. 🙂

[2018-08-28 12:15] #2964 closed

[2018-08-28 12:15] ChrisMaddock commented on #2974
Closing this, as it looks like the problem may lie outside of NUnit.

Happy to reopen if anyone has more to add. 🙂

[2018-08-28 12:15] #2974 closed

[2018-08-28 12:16] ChrisMaddock commented on #2985
Nice find - I'd always wondered what caused that! 😄

[2018-08-28 12:26] ChrisMaddock commented on #2937
Closing this, as there's not enough information to understand/reproduce the problem.

Happy to reopen if anyone has more to add. 🙂

[2018-08-28 12:26] #2937 closed

[2018-08-28 12:30] ChrisMaddock commented on #2945
Closing this issue - as I don't think there's anything else to discuss. 🙂

The nunit-analyzers project is working on support for this in VS.

[2018-08-28 12:30] #2945 closed

[2018-08-28 12:41] jnm2 commented on #2990
@CharliePoole With an engine extension, how would an NUnit user integrate the various parts?

The benefit of extending the framework instead of the engine is that it doesn't require the end user to control the invocation of the engine. This means you can attach screenshots when running from an IDE.

I was imagining something as simple as this:

[code]

[2018-08-28 15:43] Doan-Van-Tuan opened #2991 "FormatValueTuple throws NullReferenceException"
NUnit seems to have problem with ValueTuple.
For example, this simple assertion will throws NullReferenceException:
`Assert.That(new [] {("Age", 16)}, Is.Empty);`

[2018-08-28 17:00] CharliePoole commented on #2990
@cwood-panopto I'm only reacting to your post and don't know what others have told you in other issues. Best thing is to describe your need and not try to gather together info from other users' requests, which may sometimes resemble yours superficially but have subtle differences.

The recommended way of __handling__ results after tests are completed is to create an engine extension - unless the t

[2018-08-28 17:00] mikkelbu commented on #2991
Hi @Doan-Van-Tuan
Which version of NUnit are you using, because it sounds like an issue that was resolved in 3.10 (see e.g. #2518 and #2660)

[2018-08-28 17:05] Doan-Van-Tuan commented on #2991
I'm using 3.8.1.0.
Stack trace:
`System.NullReferenceException : Object reference not set to an instance of an object.
   at NUnit.Framework.Constraints.MsgUtils.FormatValueTuple(Object value, Boolean printParentheses)
   at NUnit.Framework.Constraints.MsgUtils.<>c__DisplayClass14_11.<.cctor>b__24(Object val)
   at NUnit.Framework.Internal.TextMessageWriter.WriteValue(Object val)
   at NUnit.Frame

[2018-08-28 17:07] Doan-Van-Tuan commented on #2991
I'll check with 3.10.

[2018-08-28 17:07] cwood-panopto commented on #2990
I would very much appreciate an ApplyToTestCasesAttribute that could be extended by users which could be applied at a fixture and assembly level. There are many use cases I think this would support which I had tried to solve previously but the only available attributes had to be applied to every single test case.

Would something like this also be able to support test code exceptions and exception

[2018-08-28 17:11] Doan-Van-Tuan commented on #2991
Fixed in 3.10. I should have checked my version first.

[2018-08-28 17:11] #2991 closed

[2018-08-28 17:11] CharliePoole commented on #2990
@jnm2 I'm pretty much with you on the suggested approach.

Details... details...

I'm a bit stricter to you on what should or should not go in an extension. I agree that writing extensions is harder but that's not a way to distinguish between framework and engine extensions! Rather it's a way to distinguish between writing an extension and __not__ writing one. That's the easiest for most users.

@

[2018-08-28 17:34] jnm2 commented on #2990
@CharliePoole It shouldn't matter whether my example is Win32-based—that's up to the end user to write. The point I'm trying to explore is that the user may want to run from Test Explorer and ReSharper and a CI script. The user could do a small amount of setup with a framework extension point. With an engine extension point, the user must begin controlling distant moving parts in multiple places a

[2018-08-28 17:42] mikkelbu commented on #2991
No worries 😄

[2018-08-28 18:01] CharliePoole commented on #2990
@jnm2 That wasn't clear to me. I assumed it was all internal code except for the attribute, which the user would write. I'm a bit dubious whether we should require the user to write the most difficult code of all. The entire notion of an extension is that the user doesn't have to write it, merely install a package.

WRT engine extensions, they are not suitable for this specific purpose. It has not

[2018-08-28 18:27] #2901 closed

[2018-08-28 18:43] jnm2 commented on #2990
@CharliePoole

I'm not saying we shouldn't create something like this. For now, I just want to make sure users will be _able_ to write this kind of code without us having thought of it first. In other words: I think users should be able to write things that react to assertions which either capture screenshots very differently (e.g. Chrome in headless mode) or even do non-screenshot-related tasks.

[2018-08-28 19:40] CharliePoole commented on #2990
@jnm2 I'm happy to see you implement it that way - or anyone else who so chooses. 😄

As you know, I'm a big opponent of "generalization from one case", which is what I see here, so it's not how I would do it. I wouldn't try to define a system architecture to support __all__ cases where we want to be called from an assertion point in order to simply display screen shots. Nobody has asked for us to

[2018-08-28 19:54] jnm2 commented on #2990
@CharliePoole A user has asked for the ability to capture a screenshot at the precise moment of an assertion, but without NUnit making any assumptions about whether the screenshot comes from the desktop, a window, Selenium, a remote device, and so on.

One option is for NUnit to do nothing and the user to create a `ScreenshotAssert.That` and use it at the point of every test assertion, but users a

[2018-08-28 19:57] jnm2 commented on #2990
@CharliePoole A user has asked for the ability to capture a screenshot at the precise moment of an assertion, but without NUnit making any assumptions about whether the screenshot comes from the desktop, a window, Selenium, a remote device, and so on.

One option is for NUnit to do nothing and the user to create a `ScreenshotAssert.That` and use it at the point of every test assertion, but users a

[2018-08-28 20:06] CharliePoole commented on #2990
"A user has asked for the ability to capture a screenshot at the precise moment of an assertion, but without NUnit making any assumptions about whether the screenshot comes from the desktop, a window, Selenium, a remote device, and so on."

@cwood-panopto Is that what you are asking for? (Serious question.) If so, do you want to be able to specify it one assert at a time or for all asserts in a te

[2018-08-28 23:05] cwood-panopto commented on #2990
Specifically I am looking for a mechanism that I can apply to a test fixture (and/or assembly, not just a per test case basis), preferably I would be able to add this mechanism to a SeleniumTestBase class we already have so all our Selenium specific NUnit tests (and not other basic unit tests) may benefit automatically for anyone who writes a Selenium test.
I would like for this mechanism to allow

[2018-08-28 23:13] OmicronPersei commented on #2986
After thinking about it some more, we probably should devote effort towards fixing the underlying issue rather than creating a fix in this manner.

The fact that our tests are showing this error is arguably a good thing, by finding a potential deficiency in the design of our code.  So creating a quick fix might not be a good idea.

[2018-08-29 00:17] CharliePoole commented on #2990
@cwood-panopto Thanks for the clarification. Your comment is very dense so I'm going to quote extensively and interline my own comments.

"Specifically I am looking for a mechanism that I can apply to a test fixture (and/or assembly, not just a per test case basis), preferably I would be able to add this mechanism to a SeleniumTestBase class we already have so all our Selenium specific NUnit tests

[2018-08-29 12:11] jnm2 commented on #2963
I'm sorry, just seeing this! I'm looking at constructor injection for test IDs.

[2018-08-29 12:29] jnm2 commented on #2963
Why are things like `DefaultTestAssemblyBuilder` in `NUnit.Framework.Api`? Are users intended to be calling `new DefaultTestAssemblyBuilder()` themselves?

If so, we *will* have to rely on global (static) state to keep track of the ID prefix and next ID number.

[2018-08-29 12:35] jnm2 commented on #2963
Why are things like `DefaultTestAssemblyBuilder` public in `NUnit.Framework.Api`? Are users intended to be calling `new DefaultTestAssemblyBuilder()` themselves?

If so, we *will* have to rely on global (static) state to keep track of the ID prefix and next ID number. For example, a user runs `new DefaultTestAssemblyBuilder().Build(assembly, options)` and obtains a tree of tests without specifying

[2018-08-29 12:45] #2837 closed

[2018-08-29 12:48] CharliePoole commented on #2963
No. How to use the framework API is specified in the docs. Their are actually no classes intended to be newed by users.  Leaving things public just made it easier to use reflection.

However, IIRC Rob added some public methods for xamarin to use, so take care.

[2018-08-29 12:53] jnm2 commented on #2963
Thank you, this is good to know. I don't know of a tool that lets me find all Rob's commits that affected files under the Api folder, so I'll ask him about it in the PR.

[2018-08-29 13:03] jnm2 commented on #2963
Ah, this is a trickier one. `TestCaseSourceAttribute.BuildFrom` is doing `new NUnitTestCaseBuilder().BuildTestMethod`.

How can `TestCaseSourceAttribute.BuildFrom` be given access to the ID prefix and counter without making them static? Should the `TestIdProvider` I'm adding be made public and used in `ITestBuilder.BuildFrom(TestIdProvider idProvider, FixtureMethod method, Test suite)`?

[2018-08-29 13:09] jnm2 commented on #2963
Ah, this is a trickier one. `TestCaseSourceAttribute.BuildFrom` is doing `new NUnitTestCaseBuilder().BuildTestMethod`.

How can `TestCaseSourceAttribute.BuildFrom` be given access to the ID prefix and counter without making them static? Should the `TestIdProvider` I'm adding be made public and added to the signature?

`ITestBuilder.BuildFrom(TestIdProvider idProvider, FixtureMethod method, Test su

[2018-08-29 15:04] CharliePoole commented on #2963
For the public methods, you could look at how the xamarin runner calls the framework.

[2018-08-29 15:05] CharliePoole commented on #2963
I'll need to look at the code to understand what you're asking. After I have my coffee!

[2018-08-29 17:00] jnm2 commented on #2963
@CharliePoole Here's some work in progress: https://github.com/nunit/nunit/compare/test_id_injection

The problem is with all the attributes like this; there's nowhere to determine the ID which needs to be passed to `new SetUpFixture(type)` except from a method parameter or else a global static field:

![image](https://user-images.githubusercontent.com/8040367/44803091-6b12d400-ab8b-11e8-83e2-0362

[2018-08-29 17:25] jnm2 commented on #2963
@CharliePoole Just force pushed. Everything's in place except XML docs and these problems which I don't know how to resolve without getting an ID provider into the BuildFrom methods of these seven methods, or giving up and going back to static field state for test IDs:

![image](https://user-images.githubusercontent.com/8040367/44804276-dd38e800-ab8e-11e8-89f6-b43997a87a81.png)

[2018-08-29 17:36] jnm2 commented on #2963
Right now users who implement their own builder attributes like `ITestCaseBuilder` must create `NUnit.Framework.Internal.Test` objects. Users have two options:

- directly new up `NUnit.Framework.Internal.Test` objects
- new up `NUnit.Framework.Internal.Builders` builders and get then to create the `Internal.Test` objects

Users can't return their own implementations of ITest since the interface r

[2018-08-29 18:00] jnm2 commented on #2986
@OmicronPersei Due to your investigation, I discovered that the SchemaTests which I added were at fault and decided to fix them. Kind of a quick fix after all. I still want to pursue the deeper fix @CharliePoole mentions but it's looking like a lot of talking will be needed: https://github.com/nunit/nunit/issues/2963#issuecomment-416946415

So this gets CI bearable and cleans up some my own sloppi

[2018-08-29 19:34] CharliePoole commented on #2986
Here's a related somewhat basic question: why should any test change the test id prefix? Is it simply that you had to provide something as an argument to the constructor of `FrameworkController`? If so, maybe we should redefine null to mean "don't set it".

[2018-08-29 20:14] ChrisMaddock opened #2994 "Error in .NET Standard 1.4 DictionaryContainsKeyConstraint MetadataToken compatibility methods"
@oznetmaster identified issues with the two `Matched()` methods added by https://github.com/nunit/nunit/pull/2967 - where `return true` looks like it should be `return false`. See https://github.com/nunit/nunit/commit/feb226fe9180b07b6c348bcb30f6e745ec5850da#r30332971

This initially looks like a mistake - it would be good to verify that, and also work out why the tests passed on CI, and on my loc

[2018-08-29 20:17] ChrisMaddock commented on #2994
cc @DaiMichael - appreciate this has been a long running issue, however you're help in figuring this one out would be appreciated! 😄

[2018-08-29 20:33] oznetmaster commented on #2994
From the commit:

Not any more. I corrected the errors, and all of the DictionaryContainsKeyConstraintTests now pass.

With the errors, many of the DictionaryContainsKeyConstraintTests test failed.

I was debugging that failures and saw these routines fail in the debugger.

This is why I am very confused as to how the tests pass for everyone else.

Unless, in the regular .NET environment, those tw

[2018-08-29 20:34] oznetmaster commented on #2994
It is not the return that is the error.  It is the comparison.  The returns are correct if the comparison is corrected.

[2018-08-29 20:34] DaiMichael commented on #2994
@ChrisMaddock @oznetmaster I'll take a look, I'll be honest neither myself nor @jnm2 were 100% happy with this solution but it "worked" or so it seemed.... I'll revisit.

[2018-08-29 20:38] jnm2 commented on #2986
FrameworkControllerTests depend on being able to reset Test.IdFilter to `"ID"`.

[2018-08-29 21:13] ChrisMaddock commented on #2994
Great - thanks @DaiMichael. 🙂

[2018-08-30 01:05] jnm2 commented on #2963
Reopening to continue discussion.

[2018-08-30 09:44] #2940 closed

[2018-08-30 10:17] HaegerPilz opened #2995 "Assembly Resolving HowTo"
Hi,

Our software product is big system (more then 300 DLLs). We are using Nunit 3.* to test this system.
We have nunit tests which start the whole system and then do a lot of tests. The whole system is then loaded inside of the Nunit.exe. Tests are initializing the product and so on ...
The product is compiled into the System\bin  folder.

The complex tests must be also compiled into the System\b

[2018-08-30 18:38] mikkelbu commented on #1045
I just did some googling and found this [answer on msdn](https://social.msdn.microsoft.com/Forums/vstudio/en-US/a0dff889-3c95-47d9-bcc6-b0f50e633be7/any-performance-gain-by-compiling-to-x64-instead-of-any-cpu?forum=netfx64bit).

and this answer on [stackoverflow](https://stackoverflow.com/questions/4088448/the-net-stack-vs-windows-stack) by Hans Passant who I consider very knowledgeable about .NET

[2018-08-31 09:03] dos-ise opened #2997 "PlatformAttribute for .NET Core"
Are there any reasons why the PlatformAttribute is not available on .NET Core/.NET standard? Is it planned to be ported?

Using Environment.OSVersion.Platform it would be possible to port.

Would be super useful to me :)

[2018-08-31 09:24] dos-ise opened #2998 "TestCategory Attribute is ignored when running test via dotnet cli when placed on class"
I am having an issue when running my dotnet core test on an linux machine.
The category only works when the testCategoryAttribute is placed on an individual test.
When the testCategoryAttribute  is placed on the testclass the tests are executed although they should be execluted via the filter.

Is this a known problem or am I doing something wrong?

[2018-09-01 06:34] parwalrahul opened #2999 "Unable to use [TestCaseCourse] and [TestOf] or [Category] attribute together in NUnit Test"
Ex::
[Test]
[TestCaseSource(typeof(<Class Name>), "<Iterator Name>")]
[TestOf("Functionality")][Category("Regression")]
public void TestA(int a, int b)
{
//***********************
//I want to access TestOf / Category Value inside with logic::
var testOf = TestContext.CurrentContext.Test.Properties["TestOf"];

But it is giving me error that Sequence contain no elements.
If i remove TestCaseSource t

[2018-09-01 10:54] ChrisMaddock commented on #2432
Some updates to this issue for anyone willing to offer a PR:
1) Note I think this issue is really two part. First the existing platform attribute needs to be enabled on the .NET Standard platforms, secondly, the new "netcore" platform needs to be added. I think this makes sense staying as one feature however - as the first part has little practical use without the second.
2) Charlie refers to .NET

[2018-09-01 10:55] ChrisMaddock commented on #2997
Nope - simply not implemented yet! We'd love a Pull Request, if you'd be interested in contributing this?

This is covered in more detail here: https://github.com/nunit/nunit/issues/2432 I'm going to close this issue as a duplicate - but if you'd be interested in contributing this - please leave a comment on the other issue, and claim it for yourself!

[2018-09-01 10:55] #2997 closed

[2018-09-01 10:56] ChrisMaddock commented on #1353
Closing, as we no longer have portable, and a .NET Standard implementation is tracked here: https://github.com/nunit/nunit/issues/2432

[2018-09-01 10:56] #1353 closed

[2018-09-01 10:57] ChrisMaddock commented on #2998
Can you share details of exactly which filter your passing to dotnet test?

[2018-09-01 10:58] #2998 closed

[2018-09-01 10:58] ChrisMaddock commented on #2998
Issue moved to [nunit/nunit3-vs-adapter #542](https://github.com/nunit/nunit3-vs-adapter/issues/542) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-01 11:04] ChrisMaddock commented on #2977
Not with how RepeatAttribute is currently implemented, no.

There's actually a relevant comment on RepeatAttribute itself:

https://github.com/nunit/nunit/blob/cefc0c3a86c065daa4130aa255b1384db51b2b08/src/NUnitFramework/framework/Attributes/RepeatAttribute.cs#L24-L30

This requirement would possibly tie into point 2 - which is a non-trivial piece of work to implement. See https://github.com/nunit/

[2018-09-01 11:04] #2977 closed

[2018-09-01 11:07] ChrisMaddock commented on #2988
I think you'll need to explain how you've implemented this more specifically, for anyone to be able to provide any advice.

How are you "executing your scripts using NUnit console"? Are you calling them within your test code? Or is the console itself executed as part of your scripts?

What part of your code manages the login? Is that within an NUnit called method, e.g. a SetupFixture?

As a gut fe

[2018-09-01 11:27] ChrisMaddock commented on #2958
Hi @BrunoJuchli - thanks for pulling all this together. Sorry it's taken a while to get to - it's a pretty 'involved' issue!

Essentially, I agree with everything you say. I don't think mutable `TestFixtureData.TypeArguments` is the right solution. I also don't think we should go with the breaking changes in the `TestFixtureData` ctor. And finally, a new CustomAttribute feels like making our API m

[2018-09-01 20:08] DaiMichael commented on #2994
@ChrisMaddock @oznetmaster

I'm going with a PR on this so you guys can take a peek. I've got it working, this is purely for `.Net Standard 1.4`, which I'm growing to err... finding lack of features hard work.... 😞

My tests all work and I now understand why they all work 😆, I won't pretend it is the best thing in the world but I have spent quite a bit of time on this and this is the only solution

[2018-09-02 08:35] BrunoJuchli commented on #2958
With the changes proposed in https://github.com/nunit/nunit/pull/2971 `[TestFixtureSource]` will accept `ITestFixtureData`. In fact, "discovery" was already implemented to look for `ITestFixtureData` but there were two (unnecessary) casts to `TestFixtureParameters`. Removing the cast was all that was necessary to get it working.

Given "normal" nunit usage does not require you to inherit from type

[2018-09-03 10:56] oznetmaster opened #3001 "NUnitLite pre-filter breaks the ability to pass an assembly name as a test"
Prior to the implementation of the NUnitLite pre-filter capability, it was possible to pass a test of the form:
[code]
and all of the tests in that assembly would be run.

Now, that name appears to be interpreted as a namespace identifier, and then used to pre-filter all tests.

Since there are no tests in the assemblyname.dll namespace, no tests are found to run.

However, assemblyname.dll is a v

[2018-09-03 12:31] Reineke4 opened #3002 "Wrong error message for CollectionAssert.IsSubsetOf() method"
![2018-09-03_151033](https://user-images.githubusercontent.com/12124057/44986632-1c02df80-af8d-11e8-9fca-0a1e3508820e.jpg)

I think, that expected and actual result are shown in contrary in error message

[2018-09-03 13:30] CharliePoole commented on #3001
I can see how it happens but I wonder how useful it is to fix. Since Nunitlite only supports one assembly, you could just leave it out. For nunit3-console it might be useful.

[2018-09-03 13:34] oznetmaster commented on #3001
Generally, true.

However, my NUnitLite build does support multiple assemblies :(

[2018-09-03 14:36] CharliePoole commented on #3001
Prefiltering is implemented in the framework in `DefaultTestAssemblyBuilder`. Consequently, we have already decided to run the assembly at the point where the prefilter is applied. As a result, there are two errors here, if you want to filter by assembly:

1. As you saw, no tests are found in the assembly since the filter is actually not the name of a test within the assembly.

2. Any other assemb

[2018-09-03 14:42] CharliePoole commented on #3002
The wording of the message indicates that `<4>` is not a subset of <1,2,3>. Because of the standard "Expected... but was" phrasing, it doesn't read as naturally as it might but it's correct.

[2018-09-03 16:16] Reineke4 commented on #3002
Thank you for your answer!
Now I agree that actual message is correct. But I still feel a misunderstanding of the message.
Off course, it’s only my opinion, and I can't describe why. But it much more naturally to read something like:
Expected: superset for <4>
But was: < 1, 2, 3>

It looks like as error message for CollectionAssert.Contains() method.

[2018-09-03 16:16] #3002 closed

[2018-09-03 19:06] rprouse commented on #2995
Can you instantiate one `AsemblyResolver` for your entire test run using the `SetUpFixture` attribute?

See https://github.com/nunit/docs/wiki/SetUpFixture-Attribute

[2018-09-03 19:56] rprouse commented on #2999
This is a duplicate of #1358

[2018-09-03 19:56] #2999 closed

[2018-09-05 01:59] jnm2 commented on #3001
What if the prefilter ignores `--test` lines that match assembly suites?

[2018-09-05 02:59] CharliePoole commented on #3001
So we would prefilter the prefilter before applying it! 😄

Notice that any solution has to deal with both user-supplied prefilters and prefilters generated from `--test` filters.

[2018-09-06 07:33] rajmondburgaj opened #3004 "Is there any version of OneTimeSetUpAttribute with parameters ?"
So, first I am describing my issue in order to explain why would I need such a feature.

I set my platformType into a method marked with [OneTimeSetp] attribute like below:

        [OneTimeSetUp]
        public void Configure()
        {
            TestPlatform.SetPlatform(PlatformType.MainLine);
            PosApiMapper.Initialize();
            Mapper.AssertConfigurationIsValid();
        }

D

[2018-09-06 09:01] mikkelbu commented on #3004
Hi @rajmondburgaj
How are you executing the tests? Because my initial idea was to pass the information about PlatformType from the nunit-console - via a parameter - to the test project and then execute the nunit-console with different parameters.

[2018-09-06 11:14] rajmondburgaj commented on #3004
Currently I use the interface from Visual Studio and RSharper but I can try this out, anyway it does not completely solve the issue as you have to always run all tests using nunit-console which to be honest is not the best solution to my opinion.

[2018-09-06 11:56] CharliePoole commented on #3004
We discussed this on SO and I tried to explain to @rajmondburgaj that the specific feature wasn't a great fit with existing NUnit features. I suggested he ask for parameterized SetUpFixtures instead.

Why not parameterized OneTimeSetUp methods?

1. The attribute is not a fixture builder, but only a marker.

2. Multiple instances are all called in an indeterminate order for the same fixture.

3. Th

[2018-09-06 14:17] ajupsalim opened #3005 "Debug mode shows records while the NUnit runner throws IndexOutofRange Exception"
I can find a row if I run in debug mode, however don't see the select query returns a record in NUnit test run

Here is my code.
[code]

[2018-09-06 15:12] mstrYoda opened #3006 "Is there any assertion method which checks given parameter has default value?"
Would not be a good feature to have assertion for default value control?

What in my mind is looks like below :

[code]

I made some research about it but I could not find any feature like above.

I don't want to check given values manually by asserting as something like below:

[code]

If it useful to you I wish to make a contribution to add that functionality.

[2018-09-06 15:34] CharliePoole commented on #3006
There is not. If you would like to contribute it, it will be useful to provide a more complete use case. That is, why do you want to be able to do this in a test?

[2018-09-06 16:14] mstrYoda commented on #3006
@CharliePoole Well sometimes we came across situations like we need to check an object is just initialized or properties has values. As far as I know, checking a value or property has default value, is the only way to check if a variable initialized.

So I think it would be useful to have that functionality.

[2018-09-06 16:43] CharliePoole commented on #3006
It's tricky, however, since some default values may also be set expressly. For example, an int may be set to zero. If I really wanted to be sure that a setter had been used, I'd use a mock to verify it.

OTOH, it's easy enough to implement.

[2018-09-06 18:19] mstrYoda commented on #3006
Well, you saying that it is a useless feature? Then I think issue should close.

[2018-09-06 18:30] CharliePoole commented on #3006
I said what I would do. I'm just one person. We find out whether features are likely to be useful by kicking them around in discussion. And, in the positive vein, I said it's easy to implement. 😄

I suggest waiting (patiently or impatiently) for comments.

[2018-09-06 23:53] #2786 closed

[2018-09-07 00:52] jnm2 commented on #3001
@nunit/framework-team I have a lot on my plate. Is there enough here to put this up for grabs?

[2018-09-07 01:40] CharliePoole commented on #3001
@jnm2 Seems like the team has to decide if filtering on assembly name is a supported feature. We don't know how it works with the console yet AFAIK and we will want both NUnitLite and the console to work the same.

[2018-09-07 01:43] CharliePoole commented on #3001
BTW, I'm unclear about how you are using the "up for grabs" designation. Does it imply that no existing team member wants to do it, so it's opened up to contributors?

[2018-09-07 02:50] jnm2 commented on #3001
Good call. (/cc @nunit/framework-and-engine-team then)

I think 'up for grabs' means that the work is simply unclaimed and ready for a team member or non-team-member to begin implementing.

[2018-09-07 03:09] jnm2 opened #3008 "Get codebase tests working with ReSharper and Rider"
Somewhere along the line we stopped being able to run tests on ReSharper. Test Explorer is the only way to run IDE tests right now. Rider is another IDE I want to get working.

[2018-09-07 03:10] jnm2 commented on #2973
I opened https://github.com/nunit/nunit/issues/3008 to track this.

[2018-09-07 21:52] rprouse commented on #3001
I find this one to be a bit of an odd request. NUnitLite is intended to allow one test assembly to self-execute. Using it as a lightweight console is out of scope to me. I know the @oznetmaster does it for reasons unique to his needs, but those are not widespread and he maintains his own fork. I also don't see why you would want to filter assemblies on the command line. Why not just pass the assem

[2018-09-07 22:16] CharliePoole commented on #3001
@rprouse That makes sense to me. My concern with the console was actually that we should __stop__ it from working if it does, since it leads to this conflict with automatic pre-filtering. OTOH, it has never come up before so may not be worth a lot of effort.

[2018-09-09 07:48] oznetmaster opened #3010 "ParrallelScope has one additional undocumented value"
There is a ParallelScope.All value which is the same as ParallelScope.Self + ParallelScope.Children.

It is visible in Intellisense, but is not documented.

[2018-09-09 07:51] oznetmaster opened #3011 "Add NonParallelizable attribute to time sensitive tests and tests using shared values"
As per @CharliePoole suggestion in #3007, the NonParallelizable attribute should be added to any test in the NUnit test suite which is either time sensitive or uses a shared value.

[2018-09-10 17:56] jnm2 opened #3012 "Use Azure Pipelines instead of Travis (and maybe other builds)?"
Hey, are we interested in using this for some or all of our builds? We don't have parallel jobs on Travis and sometimes Travis machines have network issues. This looks pretty exciting:

https://azure.microsoft.com/blog/announcing-azure-pipelines-with-unlimited-ci-cd-minutes-for-open-source/

Image from the link:

![](https://azurecomcdn.azureedge.net/mediahandler/acomblog/media/Default/blog/081d96

[2018-09-10 19:44] ChrisMaddock commented on #3012
If someone was interested enough to set this up, I'd like to see us first use it alongside Travis for a while, before making a decision. Just to be sure this doesn't have the same reliability problems for OSX as Travis does.

Looks cool though! 🙂

[2018-09-10 19:59] ChrisMaddock commented on #3010
Looks that way to me - moving this issue to docs. 🙂

[2018-09-10 20:09] rprouse commented on #3012
Great idea. I'd like to see us make more use of the builds there and eventually the releases. If anyone wants to jump in, I've made sure that @ChrisMaddock and @jnm2 are both project admins of https://nunit.visualstudio.com/NUnit/. If any other @nunit/framework-and-engine-team member wants to help out with our Azure Pipeline builds, let me know.

[2018-09-11 02:04] rprouse commented on #3012
I've made a bit of progress on this tonight. I've improved the existing Windows CI build to build, test and package. I also have the macOS build doing the same although I am getting a consistent test failure on macOS. The nice thing is I publish test results, so you don't have to scan the logs to see the test failures!

![image](https://user-images.githubusercontent.com/493828/45333636-47656b80-b5

[2018-09-11 12:31] ChrisMaddock commented on #3010
Issue moved to [nunit/docs #284](https://github.com/nunit/docs/issues/284) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-11 12:31] #3010 closed

[2018-09-11 13:12] rprouse commented on #2960
@agray I'm still planning on getting the release out by the end of the month if not a bit earlier. I've been doing some cleanup and other admin duties now that I've got the console release out. Are their particular issues that you are waiting for? If so, those are the sort of thing I would like to highlight in the release notes.

[2018-09-11 21:21] cwensley opened #3013 "Provide a way to use a custom IWorkItemDispatcher"
Currently there is only three options for dispatchers when using `NUnitTestAssemblyRunner`:

1. MainThreadWorkItemDispatcher
2. ParallelWorkItemDispatcher
3. SimpleWorkItemDispatcher

For UI-based applications, it would be nice to be able to invoke the tests in the UI thread, while running the unit tests in a background thread.  Currently, the only solution is to do an Invoke in each test itself,

[2018-09-11 21:27] CharliePoole commented on #3013
The dispatcher is global and used for the entire run so it's not suitable to replace for a single test or fixture.

@jnm2 Didn't you do some work on this problem?

[2018-09-11 21:28] #2970 closed

[2018-09-11 21:31] cwensley commented on #3013
@CharliePoole ah good to know, thanks!  I was thinking that I would be able to implement said attribute using a custom dispatcher, but perhaps that isn't the right place.

Any hints of how/where something like that might be implemented would be very helpful.

[2018-09-11 21:31] agray commented on #2960
Parallel test execution in the same assembly like JUnit.

[2018-09-11 21:32] jnm2 commented on #3013
This seems related to https://github.com/nunit/nunit/issues/2917 (which I need to get to) and https://github.com/nunit/nunit/issues/1200 (which is about to be released in 3.11).

@cwensley Would `[Apartment(STA)]` solve your problem when you use 3.11 with https://github.com/nunit/nunit/issues/1200? I typically do UI right in the test thread, sometimes in parallel.

[2018-09-11 21:38] CharliePoole commented on #2960
Could you clarify? We already do parallel execution on assembly. What features are implied by "like JUnit"?

[2018-09-11 21:38] jnm2 commented on #2960
@agray I think NUnit 3 has had that for quite a while?

[2018-09-11 21:56] cwensley commented on #3013
@jnm2, Hm, with #1200 it appears I would need to return `Task` and use async/await?  I have no awaitable code, and it appears that the test itself is still initially called in the non-UI thread.

Also, it appears `[Apartment(ApartmentState.STA)]` isn't supported in netstandard, so I can't use it anyway.

#2917 is definitely what I'm after.

Thanks for the quick responses, guys.

[2018-09-11 22:14] cwensley commented on #3013
Hmm.  Just poking around more, and it looks like creating an attribute that implements `IWrapTestMethod` can potentially be used for this scenario.   I'll test it out and report back.

[2018-09-11 22:26] cwensley commented on #3013
Ok, it works!  I've used this code:

[code]

Only downside (which is minor), is that you can't set this attribute on the test fixture to apply to all of its tests.

[2018-09-11 22:31] agray commented on #2960
When I have a data driven test fixture tests won't run in parallel.
Implemention is at github.com/sauceforge/saucery3.

On Wed, Sep 12, 2018, 7:46 AM CharliePoole <notifications@github.com> wrote:

[2018-09-11 22:47] jnm2 commented on #3013
Yes, great! I was going to suggest `IWrapSetUpTearDown` which you might prefer if you ever have a `[SetUp]` method etc.

Yes! See https://github.com/nunit/nunit/issues/2220.

Glad you figured it out! Feel free to ask further questions here.

Just curious: why not do the UI work in the test thread? What UI framework are you using that prevents you from using a test worker thread (STA or non-STA)?

[2018-09-11 22:57] jnm2 commented on #2990
@CharliePoole I'd be interested in capturing multiple screenshots in tests that have multiple asserts, too. Can we make this possible?

[2018-09-11 22:57] CharliePoole commented on #2960
@agray Is this related to #2481? It doesn't appear that anyone has worked on that or even confirmed it to this point.

[2018-09-11 23:05] cwensley commented on #3013
@jnm2 most UI frameworks are not multi-thread aware.  For example, macOS (Xamarin.Mac) and Gtk# as far as I can tell can't have any UI in a separate thread like WinForms or WPF can.  And to keep the main UI responsive (to show results, etc), the test engine needs to run in a background thread.

Many controls on macOS do actually need a message loop for them to run properly, so executing any UI on

[2018-09-11 23:08] CharliePoole commented on #3013
@cwensley I haven't run your code, but looking at it I think your wrapper will get inserted into the command chain twice, once above the SetUpTearDown command and once below it.

As described in the comments, the intention is that you should use __one__ of the interfaces derived from ICommandWrapper. Assuming your SetUp, Test and TearDown all need to run on the UI thread, you should probably be im

[2018-09-11 23:10] CharliePoole commented on #3013
@cwensley How are you finding ETO forms? I'm looking for a gui abstraction for use in the TestCentric GUI.

[2018-09-11 23:14] cwensley commented on #3013
@CharliePoole, ah you are right, thanks for pointing that out!

I am actually the author of Eto.Forms, so I guess I find it works really well if you want a UI that uses each platform's native UI toolkit. (;

[2018-09-11 23:15] CharliePoole commented on #2990
@jnm2 IMO we could just barely do this for the whole test using adhoc code. To do it for every assert result (perhaps even successful ones for some people) I would start by re-inventing the old NUnit addins for NUnit 3 - at least the test listener flavor. It just feels like you're crossing into the region where we need a bit more infrastructure.

[2018-09-11 23:17] CharliePoole commented on #2990
Thinking further... all the other uses of NUnit Addins have now been taken over by interfaces like `IFixtureBuilder`, `IApplyToTest`, etc. So what if we defined a listener interface? The key question is what would be put it on. An attribute doesn't seem to make a lot of sense here... or does it?

[2018-09-11 23:18] agray commented on #2960
It doesn't hang on my machine. It would be good if someone else could
confirm it.

Getting NUnit 3 to behave like JUnit 4 wrt parallelism has been the goal of
Saucery3 all along.

On Wed, Sep 12, 2018, 9:01 AM CharliePoole <notifications@github.com> wrote:

[2018-09-12 00:17] jnm2 commented on #3013
@cwensley

It sounds like you're saying that the same UI thread and same message pump is shared between multiple tests. But what if you start the message pump inside each test case, on the test worker thread, and tear it down so that nothing is shared between tests? That way you don't need an extra UI thread.

Windows Forms and WPF can't share UI across threads either, due to Windows' native const

[2018-09-12 00:36] agray commented on #2960
Charlie informed me that the parallism in NUnit 3 was across different
assemblies not in the same assembly.

In JUnit 4 parallism works great in a single data driven test fixture. For
an implementation of this see github.com/sauceforge/SauceryJ

I'm yet to be able to get NUnit 3 to work the same way.  As soon as I try
to add parallelism attribute to the TestFixture it hangs.

Regards,

Andrew

On

[2018-09-12 00:40] rprouse commented on #2960
@agray there may be some fixes and improvements in the upcoming release of NUnit, but no major changes to parallelism or capabilities. I would confirm your requirements and expectations using the NUnit Console, then if you are not seeing the same behaviour in Saucery, we can help you figure out what you are doing differently.

[2018-09-12 00:44] rprouse commented on #3012
@mikkelbu I've added you as another team member of the DevOps Pipeline (aka VSTS) project, so you should be able to get in and make changes if needed. Let me know if you run into permissions problems and I will fix.

[2018-09-12 00:55] rprouse opened #3014 "Timeout failures on MacOS"
After setting up the macOS build on VSTS, I am seeing the following test failures occasionally,

[code]

https://dev.azure.com/nunit/NUnit/_build/results?buildId=731&view=logs

[2018-09-12 01:14] rprouse commented on #3014
I thought this might be a difference in the resolution of the system clock on macOS vs Windows, but the tests use a sleep of 30 ms. The resolution on macOS is 10ms and on Windows 15.6 ms. so that isn't it. Possibly just slower macOS machines in the VSTS build pool?

[2018-09-12 03:57] CharliePoole commented on #2960
@jnm2 A small clarification: both fixture level and test-case level parallelism are opt-in. That is, if you don't use `ParallelizableAttribute` somewhere in the assembly, then nothing runs in parallel. I think that's what you most likely meant, but others could be confused.

[2018-09-12 04:00] CharliePoole commented on #2960
@agray I'm pretty sure I didn't tell you there was no parallelism within the assembly in NUnit. What I may have said is that there is no parallelism __by default__ within the test assembly but there is default parallelism across multiple assemblies.

The reason for the distinction is that different test assemblies tend to test entirely different things and so can usually run in parallel. OTOH, the

[2018-09-12 04:09] CharliePoole commented on #3014
Running the test three times, with a sleep of 30ms and a timeout of 85ms seems like a very chancy way to verify that the timeout is reset correctly for each execution. The other one with two repeats sounds like it has a better chance of success, but my own experience has been that sleeps can easily end up taking two or three times longer than the value you set. It may be that the entire approach t

[2018-09-12 04:14] CharliePoole commented on #3013
@cwensley Current plan is to do one release of the TestCentric GUI for NUnit using SWF and then settle on a different architecture for version 2.0. When I can find some more time, I'll hit you up offline for some advice.

[2018-09-12 08:22] gustafj opened #3015 "Include TestFixture arguments (constructor) in test name"
## Request

Add a new template specifier for [Template Based Naming](https://github.com/nunit/docs/wiki/Template-Based-Test-Naming) to support `TestFixture` arguments in test case name.
For use by `dotnet test` in terminal or the `dotnet` [VSTS Task](https://go.microsoft.com/fwlink/?linkid=832194)

## Description / background

When running tests using `dotnet test` only the test case name is shown

[2018-09-12 09:06] oznetmaster commented on #3014
It may be that the parallelization issue I discussed previously is part of the problem.

I had to disable parallel execution on those tests to get my build to pass in CF.

[2018-09-12 10:46] nvborisenko opened #3016 "Broadcasting messages through engine"
Continuing https://github.com/nunit/nunit-console/issues/433

Sometimes a test needs send a message which is not kind of test output.

It would be nice to have something like:
[code]

- `destinationType` can be null, what means that message is broadcast to everybody
- `fromType` is for understanding who sent a message

And any logger can handle it via xml:
[code]

- `to` attribute is optional
- `t

[2018-09-12 12:50] CharliePoole commented on #3016
@nvborisenko Not sure why you created a new issue rather than using the old one.

I write some guidelines for that issue as requested by @ChrisMaddock but I don't see the comment posted! I'll check further after a little more sleep. :smiley

[2018-09-12 12:52] jnm2 commented on #2960
(Thanks Charlie, I reworded!)

[2018-09-12 12:58] ChrisMaddock commented on #3016
@CharliePoole - this comment? https://github.com/nunit/nunit-console/issues/433#issuecomment-419655440

I saw it, and it looked ideal to me. 🙂

[2018-09-12 13:19] CharliePoole commented on #3016
@ChrisMaddock Strange. I can't see it in OctoDroid at all but if I switch to the browser I do.

[2018-09-12 13:47] cwensley commented on #3013
@jnm2,

That still wouldn't solve the problem.  The message pump would still have to be on a different thread because during the test code, the pump won't be "pumping". It'd still have to invoke into that separate thread.

Another cool benefit having the tests invoke into the UI thread is the ability to show windows for "manual tests". I have a lot of tests that have to be verified visually by a h

[2018-09-12 14:13] CharliePoole commented on #3015
Have you tried using `{C}.{m}{a}`?

[2018-09-12 14:44] cwensley commented on #3013
@jnm2 btw, from [apple's docs](https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/Multithreading/ThreadSafetySummary/ThreadSafetySummary.html):

I tried creating a separate thread for the UI, and kaboom.

[2018-09-12 14:54] gustafj commented on #3015
Thanks for the prompt response!

Yes, and its the same result (missing the argument part).
`{C}.{m}{a}` gives `example.ExamplesTests.Test_Example`
`{C}.{M}{a}` gives `example.ExamplesTests.example.ExamplesTests.Test_Example`

I did some further investigation, and the [vscode extension](https://github.com/formulahendry/vscode-dotnet-test-explorer) is using the output from `dotnet vstest example.dll

[2018-09-12 16:45] nvborisenko commented on #3016
I created this issue in correct repository, previous one is in `nunit-console`.

I am ready to provide a pull request, let's just finalize specification for xml events.

[2018-09-12 16:49] jnm2 commented on #3013
Fyi, NUnit 3.11 will now be pumping messages for winforms and WPF as long as the test code is awaiting something. (https://github.com/nunit/nunit/issues/2123) Otherwise, you'd have to call Application.Run and Exit manually, which I also do in non-async UI tests.

I do this too, but directly on any test worker thread without spinning up a separate UI thread.

This is pretty definitive. Looks like i

[2018-09-12 16:58] jnm2 commented on #3015
If the parent test suite name contains the argument values, the test case *full* name is forced to also contain them:

https://github.com/nunit/nunit/blob/49ded54b0f68f333399b8931e6e0a9151df92ee7/src/NUnitFramework/framework/Internal/Builders/NUnitTestCaseBuilder.cs#L104

Can we make it so that `dotnet test` shows the full name instead of the name? If we put `{C}` (or a new specifier like `{P}` fo

[2018-09-12 17:04] jnm2 commented on #3015
`dotnet test` calls into the .NET Core SDK's bundled VSTest.Console.dll and passes arguments along to it. Is there a way to tell VSTest.Console to show the full names which out VSTest adapter passes to it?

[2018-09-12 17:34] CharliePoole commented on #3015
@jnm2 Keep in mind that the name and fullname of a __test__ are not the same thing as the name and fullname of a test method!

IMO, the first thing to do here is to forget about the specific problem and review the definitions we are using for TSL templates.

* Both `{m}` and `{M}` are intended to represent the underlying method, so they properly use name and fullname from the `MethodInfo`.

* Both

[2018-09-12 17:57] gustafj commented on #3015
The proposal of a `{x}` modifier sounds ok to me, seems in line with the current behavior as well.

A side topic, but is there a way to programatically modify the default template?
I'd like to do this in a constructor (preferably a base class one). Did not find any notion of this in the docs.

[2018-09-12 18:04] CharliePoole commented on #3016
Interesting... I thought of it as an engine issue, but it looks like all the actual code will be in the framework. We could have continued there, so long as the PR is here, but this is OK as well.

Comments on the proposed design...

1. I originally suggested a method in TestContext, but I'm having second thoughts. Is this really a facility to be used by test writers or is it really for use in cus

[2018-09-12 18:08] CharliePoole commented on #3015
@gustafj There's no way to do that. You can only modify one test at a time.

If you were allowed to modify it in the constructor, it would already be too late. Your class is not constructed until it is executed, which is several computer centuries after the test has been named.

It would be possible to define an attribute to place on the test fixture that told NUnit to use a different naming patte

[2018-09-12 18:09] jnm2 commented on #3015
@CharliePoole

I'm sorry, I think I'm familiar with that but I am missing how it connects to what I said. Can you clarify what my misunderstanding might be?

If you use `{M}` or `{C}`, the full name of the test is `Namespace.FixtureName.Namespace.FixtureName.MethodName...`. I'm trying to convince myself that this is a good thing that should be rounded out further.

[2018-09-12 18:29] jnm2 commented on #1358
Confirming, what we want to do is copy all properties from parameterized method suite tests to each child test case?

And parameterized fixture suites are different, so this doesn't apply to them. They go directly inside the namespace suite IIRC. (Though that is something I've often wished would change to be like parameterized methods.)

[2018-09-12 18:29] CharliePoole commented on #3015
@jnm2 You seemed to be expecting {M} and {C} to include args, which is outside the definition method or type names, while it's part of the definition of NUnit test names. But if that was an incorrect interpretation... well, never mind then. 😄

I don't understand

"If you use {M} or {C}, the full name of the test is `Namespace.FixtureName.Namespace.FixtureName.MethodName....`"

`{M}` should give `N

[2018-09-12 18:43] CharliePoole commented on #1358
Reading back, I have to laugh at this, by me: "Since NUnit 3.0 is relatively new, ..." That was much more true 2.5 years ago when I wrote it!

This issue is about parameterized method suites. Back in 2016, I suggested that somebody go through all our attributes, which apply to methods, and evaluate whether they could all be handled by copying to the child cases. I gave the example of one attribute

[2018-09-12 18:48] nvborisenko commented on #3016
Any of these solutions is comfortable for me and resolves my initial issue. Basically I wanted to think about feature in more generic way.

1. We can begin from `TestExecutionContext`, and then in future just wrap a method for `TestContext`
2. Ok, will use `string`
3. No specific cases, though that a source would be useful for handlers to apply some logical implementation
4. I tried to call it som

[2018-09-12 18:49] jnm2 commented on #3015
Oh, I see, thanks! Knowing that `{C}` doesn't contain args was why I wrote "or a new specifier like `{P}`", but that was poor phrasing. :D

`{M}` results in a method's test.Name being `Namespace.FixtureName.MethodName`, and after that, this happens:

https://github.com/nunit/nunit/blob/49ded54b0f68f333399b8931e6e0a9151df92ee7/src/NUnitFramework/framework/Internal/Builders/NUnitTestCaseBuilder.cs#L

[2018-09-12 18:56] CharliePoole commented on #3016
I'm OK with that approach. It would be nice if some other @nunit/framework-team members added comments as well.

On item 2, since it has to go through the XML, it will be a string anyway. 😄

Why not just "SendMessage"?

[2018-09-12 19:03] CharliePoole commented on #3015
Ah! You're right WRT the Test FullName. The Name is still only `Namespace.FixtureName.MethodName`.

So that code was needed at some point because of how the tree of tests is processed. Every test fullname was presumed to begin with the containing class fullname. I don't know if it's still necessary, since things may have changed.

In terms of context, I was wondering where this value with repeated

[2018-09-12 19:16] nvborisenko commented on #3016
So the following changes are required:
- Add `TestMessage` class which is similar to `TestOutput` class
- Add new method to `ITestListener` interface (SendMessage?)
- Add method `SendMessage` to `TestExecutionContext` class for "users" (because of `Listener` property is for internal usage)

@CharliePoole please suggest xml node name for these messages. After that I will create a PR to continue our

[2018-09-12 19:24] nvborisenko opened #3017 "What is purpose of NUnit.Engine.API package"
Hello guys, it's clear that this package should contain API aka interfaces, but it's unclear why this package doesn't have dependencies. Not critical for me, just wondering.

[2018-09-12 19:47] jnm2 commented on #3016
If I remember right, we should discourage users and extenders alike from using `TestExecutionContext` or any other `NUnit.Framework.Internal` types, since by design we want to be free to make breaking changes of any severity at any time to types in that namespace.

I like the name `Broadcast`, so long as we don't use the term `destination` which has a non-broadcast sense. What about `TestContext.B

[2018-09-12 19:53] jnm2 commented on #1358
@CharliePoole

Absolutely, will do.  My first question though is how we know whether to copy properties added by users' custom attributes. Would we need a way to allow such attributes to opt in or out of this, or could we just copy all except a hardcoded list?

[2018-09-12 20:31] gustafj commented on #3015
@CharliePoole OK, then the current possibilities to rename / change name template (when using dotnet test as entrypoint) is either using a `.runsettings` file or using the `TestName` argument to `TestCase` attribute?

Since attributes can be inherited would it be possible to create a specific `TestNameTemplate` attribute to place on the base class? Or does it have to be part of the `TestFixture` a

[2018-09-12 20:45] CharliePoole commented on #3017
It's the only assembly that a runner application needs because it seeks and finds the actual engine assembly and instantiates an engine. Earlier in development, we thought that people would be able to drop in a new engine and all runners would find it and update themselves. However, that turned out to be more complex than we had realized so currently runners come with an engine but that engine is

[2018-09-12 21:01] CharliePoole commented on #3016
@nvborisenko I think we may be misunderstanding one another.

Here is my understanding:

* The messages are to be received by engine extensions, which are not part of the framework at all. Specifically, by extensions that implement the test listener extension point.
* The interface at that extension point is `NUnit.Engine.ITestEventListener`, which has only one method:

[code]

The string is an XM

[2018-09-12 21:05] CharliePoole commented on #3016
@jnm2 We have traditionally treated extenders of the framework as writing trusted code that becomes (almost) a part of NUnit. That's why we used an Internal namespace rather than giving the classes internal visibility. Of course, we have made too much visible and have to back away from that, but it's not possible to write meaningful extension attributes without accessing the `TestExecutionContext`

[2018-09-12 21:09] CharliePoole commented on #1358
@jnm2 I don't have an immediate opinion. If all of our own attributes fall definitively into one category or the other (copyable vs non-copyable) then I would be willing to bet that user attributes can go the same way. If our own attributes are split, then an option is needed for both kinds of attributes.

I feel like there is a strong likelihood that __for parameterized method suites__ the attrib

[2018-09-12 21:11] CharliePoole commented on #3015
@jnm2 I don't know what the adapter is doing, I'm afraid. I've been off that team for about a year.

[2018-09-12 21:14] CharliePoole commented on #3015
@gustafj As far as I know that's true, but I haven't worked on the adapter for about a year. Note that in the context of this __framework__ issue, the only way to change it is via a property on the TestCase or TestCaseData.

[2018-09-12 21:16] jnm2 commented on #3015
I wouldn't want to use `{C}` in a `TestName` template string from the framework since that would result in this hierarchy in ReSharper and TestExplorer:

- The.Namespace
  - TheFixtureName
    - The.Namespace.TheFixtureName.MethodName

As far as a .runsettings default pattern passed specifically for a particular `dotnet test` run, I'd avoid `{C}` because I already have `TestName = "{m}(manual args

[2018-09-12 21:30] CharliePoole commented on #3015
@jnm2 It seems like that approach (reporting `fullname`) would solve the problem for the adapter without any changes at all to TSL. So do any runners that do __not__ use the adapter have a problem? If not, maybe we don't have to change anything in the framework.

FWIW, we have {C} because I once thought we would use templates for fixture names as well. The fact that you can use them for the test c

[2018-09-12 21:49] jnm2 commented on #3015
The reason that this was the approach I starting with is the motivation at the top:

Both of those run VSTest.Console.dll/exe which interface through out VSTest adapter.

This makes sense to me. By the way, I did fully implement templates for fixture names once, when I thought it was the simplest way to implement SetArgDisplayNames. :D

[2018-09-13 09:29] nvborisenko commented on #3016
Initial my question was how to send a message from test to listeners. This message is NOT output, and should not appear in console. Anyway I created PR.

[2018-09-13 10:02] CharliePoole commented on #3016
I see now that you have to modify ITestListener in order to get the message handled in the first place.

@jnm2 I don't see this addition as breaking anything but if you see some cases, let's talk about it.

[2018-09-13 11:37] marjisound commented on #1766
With NUnit 3.5.0 I still had the problem. I removed the reference (so csproj was modified). And then undid the change in csproj using git. And now its working.

[2018-09-13 11:53] nvborisenko commented on #3017
Thanks for clarification.

[2018-09-13 11:53] #3017 closed

[2018-09-13 18:02] jnm2 commented on #2985
Possibly superseded by https://github.com/nunit/nunit/issues/3012.

[2018-09-13 18:04] jnm2 commented on #2903
In https://github.com/nunit/nunit3-vs-adapter/pull/541 I added very similar (non-UWP) package acceptance tests: https://github.com/nunit/nunit3-vs-adapter/blob/master/acceptance.cake#L7

[2018-09-14 00:59] jnm2 commented on #3012
All Azure builds are currently reporting success when they should report failure.

[2018-09-14 02:44] chrisrpatterson commented on #3012
Interesting discussion here. I am a PM on the Azure Pipelines team. Please feel free to ping me with any questions.

[2018-09-14 07:37] DaiMichael commented on #3014
Well I can feel a little guilty with this, I wrote them :disappointed:. I have always hated writing tests that use `Thread.Sleep` or something like that, they are always brittle. As this is all about `Timeout` and `Repeat` and `Retry`, I didn't really try to come up with another solution as the tests are in a way replication to the usage even if a bit blunt. I tried to keep the sleep values to all

[2018-09-15 13:21] DaiMichael opened #3020 "Upgrade nunit-vs-adapter to 3.10 for nUnit 3.11"
Should we upgrade nunit-vs-adapter to latest version 3.10. I have been having issues with running tests for .Net Core and using this fixes my issues for this reason :

https://github.com/nunit/nunit3-vs-adapter/issues/325

I'm happy to fix and PR if agreed.

[2018-09-15 16:57] jnm2 commented on #3020
Please do, thank you!

[2018-09-16 16:51] #3020 closed

[2018-09-16 19:38] drauch opened #3022 "Custom attributes should allow placing an attribute on higher-level elements too"
As the [docs](https://github.com/nunit/docs/wiki/Action-Attributes) say:

It should be possible to place the "new approach" custom attributes on higher-level elements and having them affect lower-level elements too.

This is a feature request after stumbling upon the problem at https://stackoverflow.com/q/52332311/1400869 . Unfortunately, I currently don't have the time to create a pull request.

[2018-09-16 19:54] CharliePoole commented on #3022
Thanks for filing this. Yes, ActionAttributes are the only workaround at this time and yes, we would like to extend the current approach so that at least some attributes work when placed on higher-level elements.

For some attributes, this wion't work, because they already perform some direct function at the higher level, but we can examine the various interfaces and take action one at a time. The

[2018-09-17 03:50] mstancombe commented on #2707
"But making fixture args available when generating test cases might be simpler in this case."

This is something that would have been handy for myself. I have a case where I want to enumerate a master directory recursively, then run tests for each item in each directory.  I would like each directory to be it's own fixture, and each item in the folder to be it's own test, as I could then paralleliz

[2018-09-17 12:53] jnm2 commented on #2707
Seems useful and no alternatives come to mind so far. @nunit/framework-team what do you think?

[2018-09-17 13:01] ChrisMaddock commented on #2707
FYI, there's an open issue which I believe is the same thing: https://github.com/nunit/nunit/issues/2950

If we can work out a clean way to implement this, I'm a fan. I want to use this feature myself! 😄

[2018-09-18 09:15] toolmagic opened #3023 "NUnit runner fails when test method returns ValueTask<>"
**Versions**:

Nuget packages:
NUnit 3.10.1
NUnit3TestAdapter 3.10.0
System.Threading.Tasks.Extensions 4.5.1

Environment:
Windows 10.1803 17134.286
Visual Studio 2017 15.8.4

**Steps to Reproduce**:

1. Create C# Class Library, .NET 4.7.2
2. Add Nuget references for NUnit, NUnit3TestAdapter and System.Threading.Tasks.Extensions
3. Add Test Class:
[code]
4. Run test "AsyncGetValueTest"

**Expected

[2018-09-18 09:34] toolmagic commented on #3023
@mikkelbu , exactly. It's better to say "a feature is not supported" until the feature is implemented.

[2018-09-18 16:26] BrianDiggs opened #3024 "Unable to add `.IgnoreCase` modifier to an `AnyOf` constraint in collection constraints"
# Summary

Unable to add `.IgnoreCase` modifier to an `AnyOf` constraint in collection constraints.

# Reproducible example

## Goal

I was creating an assertion that all the (string) elements of a collection were one of a
set of possibilities, with a case insensitive comparison

## Code

    Assert.That(new string[] { "red", "red", "red", "green" },
        Is.All.AnyOf(new string[] { "RED", "BLU

[2018-09-18 16:45] CharliePoole commented on #3024
I think we should provide this and I see two approaches:

1. Simply add the modifier to `AnyOfConstraint` just like `EqualConstraint`
2. Add it to `Constraint` and remove from `EqualConstraint` as well as any others that have it.

The side effect of option 2 is that you will be able to use `.IgnoreCase` in situations where it will be ignored, which could be confusing to users. Up to now, we have t

[2018-09-18 19:33] CharliePoole commented on #3024
You're right! I looked at  this on SO and saw that, but it slipped my mind just now. So, scratch 1.

Option 2 is probably all there is left to do about this. We already allow modifiers to be used even though they don't end up getting used. Best example is IgnoreCase itself. You can add it to an equality constraint even though that constraint has nothing to do with strings.

As a further refinement

[2018-09-18 20:11] BrianDiggs commented on #3024
It seems that changing the signature of `ConstraintExpression.AnyOf` would be a narrower change.

`ConstraintExpression.AnyOf()` returns `Constraint` (according to its signature)
`Is.AnyOf()` returns `AnyOfConstraint` (according to its signature)

Both return an instance of an `AnyOfConstraint`. Since `AnyOfConstraint` inherits from `Constraint`, that's valid.

Is there any reason that the signatu

[2018-09-18 20:53] CharliePoole commented on #3024
I could be overthinking this! I was thinking it was some issue of precedence between `All` and `AnyOf`, but if it's merely the signature of `ConstraintExpression.AnyOf`, that would be way easier. We should try that idea first. It will either work or we'll discover the reason for the use of `Constraint` in the signature.

Are you interested in doing a PR?

[2018-09-18 21:47] #2994 closed

[2018-09-19 17:31] AutomationSifu opened #3026 "Remoting exception when getting the TestContext.CurrentContext.Test.FullName value in OneTimeSetup"
**Description**:

When trying to access the TestContext.CurrentContext.Test.FullName value in a OneTimeSetup method I receive a Remoting Exception in the NUnit Gui (TestCentric)

**Current Setup**:

I'm trying to pass in the TestContext.CurrentContext.Test.FullName value to a TestFixture as a param.  The The TestFixture class inherits a BaseTest class where a OneTimeSetup method gets the TestConte

[2018-09-19 20:03] mikkelbu commented on #3026
Hi @AutomationSifu

Can you provide a small example of what you are trying to do? When I run the following in either VS or using the console, I get two test failures (as expected). Ps. using NUnit 3.10.1.
[code]

[code]

[2018-09-19 22:04] AutomationSifu commented on #3026
Hi @ mikkelbu

No problem my pleasure.  I created a solution with the files below, let me know if that helps.  I've tried to keep the files as small as possible to recreate the issue.  I was able to recreate the issue with the files listed below.

Please note:  I was able to recreate the issue without the EnableTestOrdering.cs file

**Libraries/Version Numbers:**

.Net Framework - 4.61
NUnit - 3.9

[2018-09-19 23:46] OmicronPersei commented on #2870
I'm a little confused, I add the `new` keyword to the methods to shadow them but then I get compiler warnings saying that they don't shadow anything.

[2018-09-20 14:18] AutomationSifu commented on #3026
Thanks @CharliePoole

I had an idea that was the issue.
Is there any documentation that could give more details on the order of execution in NUnit?

Not a problem I'll retry with the NUnit Console.

[2018-09-20 16:17] CharliePoole commented on #3026
There used to be such a page, but I can't seem to locate it. @nunit/framework-team Does anyone have a link?

An adhoc test context is automatically created when you call for a test execution context when none exists. This was done to avoid NREs, but I'm afraid it may have the side effect of masking actual errors from the user. :-(

[2018-09-20 16:54] AutomationSifu commented on #3026
I took a look at TestCentric and noticed something interesting.  In the screenshot below the Full Name value is populated.  This is before running a test and I still have the remoting exception.

Is the Full Name value the same test Full Name value NUnit is picking up or another Full Name value only used in TestCentric?

![image](https://user-images.githubusercontent.com/42382190/45834026-297dd080

[2018-09-20 17:31] CharliePoole commented on #3026
I see that you are using the experimental GUI, which has had no development for quite a while. I imagine that you have simply uncovered a bug in it.

The experimental GUI is at a very early pre-alpha stage (hence "experimental") and is quite definitely not recommended for your production work.

The actual TestCentric Gui is in alpha release and while not yet production would be more suitable for y

[2018-09-20 18:01] AutomationSifu commented on #3026
Thanks for the clarification, I thought I didn't know there was another project for TestCentric.

I read the documentation and was looking for a pre-release build for TestCentric Runner for NUnit - Version 0.1.  I'm very new to GitHub so if you could point me in the right direction I would really appreciate it.

Thanks!

[2018-09-20 18:38] AutomationSifu commented on #3026
Awesome thanks!

[2018-09-20 20:37] AutomationSifu commented on #3026
I was able to download and use the alpha release of the Test Centric Gui.
  -  I no longer get the RemotingException error but an error message that's more clear.

I think I have an idea now what I should be looking for.  Let me know if I'm on the right track.

I should be looking to access the Full Name of the test by using one of the Load-Time Interfaces?

  -  It appears that should be a way to

[2018-09-21 13:59] AutomationSifu commented on #2956
This library was exactly what I was looking for.  I'm able to create test suites that can run in a custom order.

[2018-09-21 13:59] #2956 closed

[2018-09-21 14:11] jeremysimmons commented on #1991
CS0030	Cannot convert type 'System.Collections.Generic.IEnumerable<object>' to 'string'

var s = (IEnumerable<string>)TestContext.CurrentContext.Test.Properties["Category"];

[2018-09-21 14:52] CharliePoole commented on #1991
See my earlier comment (updated). Properties is a dictionary whose values are LIsts.

[2018-09-21 15:03] mikkelbu commented on #1991
@CharliePoole
I think the comment was that your example
[code]
does not comple "Cannot convert type 'System.Collections.Generic.IEnumerable<object>' to 'string'", and then gave a variant that compiles.

[2018-09-21 15:08] jeremysimmons commented on #1991
@CharliePoole - Agreed. Sorry, I had missed the last comment you made.
I am sure you know all of this, and no implication was made that you require such education for such matters. The comment was merely for posterity on valid ways to use the API. I often find that I run across my own comments months or years later, and they are beneficial to future-me. Thanks for all your efforts over the years o

[2018-09-21 15:19] jeremysimmons commented on #2990
@jnm2 you might be interested in the Verification class https://github.com/ObjectivityLtd/Test.Automation/blob/master/Objectivity.Test.Automation.Common/Verify.cs to support a concept of "Multiple Asserts", including capturing multiple screenshots...

[2018-09-21 15:31] CharliePoole commented on #1991
@mikkelbu @jeremysimmons Yup! I got that!

Fixed the updated error, due to compiling in my head while using my phone. :smile:

[2018-09-21 15:48] jeremysimmons commented on #1991
@CharliePoole , I'm not sure when they're going to add that as an official option... maybe we can get some up-votes on UserVoice.com?

![image](https://user-images.githubusercontent.com/1406886/45891663-5fc65900-bd83-11e8-8d48-abf87ec151e9.png)

[2018-09-23 10:51] DaiMichael commented on #3008
@jnm2 - Interestingly... this seems to be working since I upgraded to point to the latest NUnitVSTestAdapter (v3.10.0)

I don't have Rider to test that but I'm able to select a framework and debug in R#.

[2018-09-23 22:53] jnm2 commented on #3008
Good! I tried in Rider:

- 22 GetArgsFromFiles tests fail in nunitlite.tests on each .NET Framework build with assertion failures like this one:

[code]

- nunit.framework.tests run painfully slowly in Rider. It looks like it might even take an hour. It's reporting 69 failures but I haven't figured out how to see them; when I filter to errors, everything says 'Running' or 'Pending' and I can't fil

[2018-09-23 23:32] jnm2 opened #3029 "Phasing out the Guard class"
ReSharper and (in recent years) Visual Studio suggest inserting ArgumentNullException and similar argument checks. It's such muscle memory that I've introduced them by accident to the codebase several times.

Throwing directly is more idiomatic C# from the standpoint of flow control analysis. The C# compiler understands that you don't need to return a value or initialize a variable before usage or

[2018-09-23 23:53] jnm2 commented on #3016
@CharliePoole Adding `ITestListener.SendMessage` will cause compile-time errors for anyone that implements an `ITestListener`, and runtime crashes for libraries compiled against NUnit 3.10 and run against NUnit 3.11. The runtime crashes make it impossible to write a helper library that works against both NUnit 3.10 and 3.11 simultaneously.

However, my [PR to remove the ITypeInfo abstraction](http

[2018-09-24 00:31] jnm2 commented on #3016
@CharliePoole The way NuGet works, I might reference directly reference NUnit 3.11 and Some.NUnit.Helper 1.1. Some.NUnit.Helper 1.1 might have a package reference to NUnit 3.10 because that's what the author compiled against at the time.

The C# SDK will then run my tests using the assemblies in the Some.NUnit.Helper 1.1 package (which were compiled against NUnit 3.10) and the assemblies in the NU

[2018-09-24 01:57] CharliePoole commented on #3016
@jnm2 Right. I'm describing how framework customization was set up to work, before we had a nuget.

I think it would be great to make it work as you say, but I don't know what it would take.

IMO, whatever you do needs to work for everyone, whether they use package referenced or not.

[2018-09-24 12:00] jnm2 commented on #3029
The main pro for using the `Guard` class is ease of use, if I'm remembering correctly. In a C#-aware IDE, it's no longer the easiest option for me or new contributors.  Do we need consistency, all one way or all the other way? Consistency pits what's easiest for some of us against (potentially) what's easiest for others of us.

[2018-09-24 12:04] jnm2 commented on #3016
To make this work, we need to avoid all changes that break binary compatibility (i.e., ones that cause the runtime to refuse to load assemblies). A good way to achieve that is to follow the BCL's breaking change guidelines: https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/breaking-change-rules.md

Of which, the first disallowed in the [Members section](https://github.co

[2018-09-24 16:38] ChrisMaddock commented on #3029
I personally like the guard class - but I agree theres a discoverabilty issue. I would normally suggest it to regular contributors, but not mention it to one-off contributors. I don’t think this is an area we particularly need consistency, is it? I’m happy to see it when it’s there, but not worried when it’s not.

I’m fairly apathetic to the outcome of this issue, either way is fine for me 😊

[2018-09-24 19:41] CharliePoole commented on #3016
True. I was thinking of our engine API interfaces, to which we only add methods. But that's only breaking if users need to __implement__ the interface, not to those who consume it. Good reminder that we need to think more deeply about this.

In this particular change, the engine interface remains the same. The internal interface (in the framework) does change. If you follow the rule that anything

[2018-09-24 21:49] mikkelbu commented on #3024
Closed by #3025

[2018-09-24 21:49] #3024 closed

[2018-09-25 01:01] rprouse commented on #3029
I am also somewhat apathetic about it. It does provide consistency and correct usage of exception constructors (I've seen the message and parameter name backwards a few times), but it does also add an extra method to the callstack. Plus, as you say, the new C# syntax makes it much easier.

I'm not sure we need a wholesale purge, but I'm fine with not requiring it.

[2018-09-25 01:19] jnm2 commented on #3029
Thanks all, sounds good!

[2018-09-25 01:19] #3029 closed

[2018-09-26 20:36] #2432 closed

[2018-09-27 07:57] simendsjo opened #3030 "Automatically wrapping Assembly-wide ICommandWrappers? (handling exceptions for all `TestAttribute`)"
I would like wrap all tests in order to retry a Test in case of a specific
Exception. I haven't found a way to do this yet, which hopefully is just my
misunderstanding.

The exact usecase is deadlock handling where the external library recommends
restarting the entire job in case of deadlocks, and it's really the only way to
handle it as it isn't possible to avoid the locks which causes the deadlo

[2018-09-27 08:01] simendsjo commented on #3030
The following code is what I'm trying to leverage to (temporarily?) solve my usecase:

[code]

[2018-09-27 09:05] CharliePoole commented on #3030
This appears to duplicate #3022 as a special case of "applying attributes to higher level elements." We should refrerence it from there since it provides another use case.

[2018-09-27 12:21] jnm2 opened #3031 "ShouldPassAfter2RepeatsAndTimeoutIsResetEachTime timeout is too short for CI"
I've seen this fail the net35 macOS build half a dozen times recently:

Our timing tests should strive for a very fast success path but a very forgiving failure path since timing is at the mercy of shared computing resources.

[2018-09-27 13:35] CharliePoole commented on #3031
Agree in general, but that's not possible here. As noted in the original discussion, I don't think this should be a timing test. Trying to verify that timing is reset for each retry by means of a timing test forces the timing to become very unforgiving. A different way to test it is needed.

[2018-09-28 11:54] danielmarbach commented on #2684
I did now the following. I kept all my code but added

[code]

[2018-09-28 12:27] danielmarbach commented on #2684
Works like a charm https://github.com/Particular/NServiceBus.Persistence.ServiceFabric/pull/76

[2018-09-28 12:27] #2684 closed

[2018-09-29 01:20] jnm2 opened #3032 "APIs to restore before 3.11"
Diffed 3.10.1 and master. These APIs had breaking changes to revert from https://github.com/nunit/nunit/pull/2796 before 3.11 is released:

- [x] IFixtureBuilder.BuildFrom (keep new IFixtureBuilder2 consistent)
- [x] IFixtureBuilder2.BuildFrom
- [x] IMethodInfo (undelete)
- [x] IParameterDataProvider.GetData
- [x] IParameterDataSource.GetData
- [x] IParameterInfo (undelete)
- [x] IReflectionInfo (

[2018-09-29 02:10] jnm2 commented on #3032
@CharliePoole Would you want to take this opportunity to change the IPrefilter.IsMatch overloads from `Type type` and `Type type, Methodinfo method` to `ITypeInfo typeInfo` and `ITypeInfo typeInfo, IMethodInfo method`?

[2018-09-29 02:45] CharliePoole commented on #3032
Do you see an advantage to that? As currently defined users make use of well-known .NET Types and it's up to us to implement it.

[2018-09-29 02:49] jnm2 commented on #3032
@CharliePoole Consistency with the other interfaces is the only reason I can think of, but we don't expect users to implement IMethodInfo and therefore I can't think of any inherent reason that it would be better.

[2018-09-30 01:40] MatthewBeardmore opened #3035 "Apartment state can't be used for .NET Standard 2.0 tests"
Setting apartment state is available in .NET Standard 2.0, but isn't available for NUnit's .NET Standard 2.0's build.

[2018-09-30 17:56] jnm2 commented on #3035
Thanks for filing, I was hoping this would happen. :D

[2018-09-30 18:38] #3032 closed

[2018-09-30 18:59] rprouse commented on #2960
FYI, I have started the release process. It won't be completed today, but it underway...

[2018-09-30 19:40] jkonecki commented on #2574
I've just been badly bitten by this very issue - +1 for fix.

[2018-10-01 13:59] jnm2 commented on #2574
In case we ever want more options, would we want:

[code]

And:
[code]

[2018-10-01 14:15] CharliePoole commented on #2574
My own thinking on this has changed a bit, in the context of a new framework at least.

I now think there should be two class-level attributes, one for each behavior. I'd make TestFixture work with an instance per test and Shared Fixture work like NUnit now does. Obvious, that's a breaking change in the context of NUnit, but the general approach might be worth considering.

[2018-10-01 15:35] jnm2 commented on #2574
@CharliePoole `[TestFixture(FixtureOptions.PerTestCase)]` seems like a nice syntax, but I strongly want an assembly-level attribute as well so I can opt in with every test project. What would we want an assembly-level attribute to look like?

[2018-10-01 16:32] CharliePoole commented on #2574
Right, that's why I expressed the reservation WRT what I'd do on a new framework. In the case of NUnit, however, you wouldn't want to change the semantics of `TestFixture` and I can't think of a really good name for the instance-per-case behavior. If you had two names, all you would have to do to get the desired behavior on all fixtures would be to do a global edit of your source file.

I dislike

[2018-10-01 16:38] jnm2 commented on #2574
I dislike assembly-level defaults to a certain extent too, for the very reason you mention. Compared to adding a new attribute to each of my currently-attributeless fixture classes, the assembly-level attribute is the route I'd prefer.

@nunit/framework-team What do you think? For the initial introduction of the feature:

- yes/no to assembly-level setting?
- yes/no to fixture-level setting?
- yes

[2018-10-01 16:46] CharliePoole commented on #2574
Good point about attributeless fixture classes.

I'd say yes,yes,no,no

[2018-10-01 16:54] ChrisMaddock commented on #2574
I agree with Charlie - with the clarification that ‘fixture-level’ means ‘class-level’. (As opposed to e.g. a test case source method. 😊)

[2018-10-01 17:21] jnm2 commented on #2574
That helps! So the problem with `[TestFixture(FixtureCreationOptions.PerTestCase)]` is that multiple TestFixture attributes are allowed on the same class. Better and simpler maybe to have a new named attribute applicable to assemblies and classes?

[code]

Framework API:

[code]

[2018-10-01 23:58] rprouse commented on #2574
Agreed about Assembly and Class level but no deeper. I also prefer something along the lines of @ChrisMaddock's suggestion `ClassInstancePerTest(bool)`. I also assume that the attribute at a class level would override the assembly level and I would expect it to be inherited. I think inheritance is important because you would usually want an instance per test based on the members of a class combine

[2018-10-02 00:36] kkm000 commented on #2574
I was once genuinely surprised NUnit does *not* create an instance per test when a test fixture type is constructible. I always thought of unit tests like, I don't know, **unit** test: you set up scaffolding, run the test, and the scaffolding's gone. No inadvertent transfer of state between tests.

Having learned that. I, like @jnm2, instantiate tests manually. But when the tests e. g. create and

[2018-10-02 01:46] jnm2 commented on #2960
No problem! I'm more entertaining in the evenings than the morning, too...

(sorry 😁)

[2018-10-02 12:00] sbakharev opened #3038 "TestName in TestCase attribute not validated to be not empty"
Hi everyone! Thank you for NUnit!

Using NUnit 3.10.1

The usage of NUnit in our project in rather advanced. We use many publicly available features as well as some undocumented ones ;)

And we have a homebrew integration of NUnit and ReportPortal (by EPAM) which attaches itself to NUnit engine like a parasite, for the information about currently running tests to be transfered to RP in real time (

[2018-10-02 12:19] ChrisMaddock commented on #3038
Hey @sbakharev - thanks for the clear report.

Resharper and ReportPortal are both third party products in this instance. What result do you get if you run this test with the NUnit Console?

[2018-10-02 12:46] sbakharev commented on #3038
@ChrisMaddock wow, what a fast reaction!

This test:
[code]

Produces this test context output:
[code]

And this is it's section from TestResult.xml (removed newlines of CDATA nodes to simplify reading):
[code]

The issue is not about 3rd party products, I've described the process just to clarify the context. The issue is about Name property of the ITest and of the TestAdapter. Empty test name is

[2018-10-02 13:59] jnm2 commented on #2574
Today fixtures and classes don't diverge much, but if they did diverge, I'm pretty sure this attribute is concerned with fixtures as opposed to classes.

Suites are a generic organizational concept, while fixtures are things hold setup/teardown logic and test state and are passed to test methods (currently as instance methods’ `this` argument). Fixtures do not have to be part of the organizational

[2018-10-02 14:03] jnm2 commented on #2574
@kkm000

I appreciate this comment! We have a design goal of being language-agnostic where possible.
Besides the focus on C#, one other thing about the word `class`: what if one day we support writing tests inside something that's not a class?

`[InstancePerTestCase]` would sidestep the issue, but it might lose intuitive clarity.

[2018-10-02 14:17] jnm2 commented on #2574
Today fixtures and classes don't diverge much, but if they did diverge, I'm pretty sure this attribute is concerned with fixtures as opposed to classes.

Suites are a generic organizational concept, while fixtures are things which hold setup/teardown logic and test state and are passed to test methods (currently as instance methods’ `this` argument). Fixtures do not have to be part of the organiza

[2018-10-02 14:59] CharliePoole commented on #2574
@jnm2 You're quite right that the concept of a suite and of a fixture are separable. NUnit, however, followed the example of all xunit test frameworks existing at the time it was created in combining the two. It deviated from other frameworks in making the fixture shared.

To my knowledge, xunit.net was the first (only?) framework to make the fixture a separate entity from the test inheritance hie

[2018-10-02 15:11] jnm2 commented on #2574
Just to confirm about points 3 and 4, I intended my code sample not as a suggestion for new features but as a thought experiment intended to help us land on the right name for this attribute. The thought experiment tells me that we're really focused on the idea of a fixture, not so much a class or a suite, even though they happen to coincide right now.

Whatever form they take, fixtures are reusab

[2018-10-02 16:22] madetara commented on #2975
Hello. I'd like to work on this issue. Need some time to go through all the contributing guidelines though.

[2018-10-02 16:49] jnm2 commented on #2574
Yes, good point.

If we do an enum, it makes it longer to type. This matters more for class-targeted attributes than assembly-targeted ones. We should also stay away from adding an enum as a parameter to `TestFixtureAttribute` because multiple TestFixtureAttributes are allowed on the same class and the parameter of one might contradict the parameter of the other. We can handle this via test-time e

[2018-10-02 17:00] mikkelbu commented on #2975
Hi @madetara
The issue is yours. I've assigned the issue to myself just to mark it as "taken", as we cannot assign issues to non-members. Here are the [contributing guidelines](https://github.com/nunit/nunit/blob/master/CONTRIBUTING.md) and how to [build build and run the tests](https://github.com/nunit/nunit/blob/master/BUILDING.md) (I personally prefer just to run `build.ps1 -t Test`).

[2018-10-02 17:09] jnm2 commented on #2574
(Alternate proposals welcome!)

[2018-10-02 18:09] CharliePoole commented on #2574
There's something to be said for having two attributes: one for the assembly and one for the class itself.

Pro: Easier to implement two simple attributes rather than one attribute with different behaviors in context. (Lesson learned from ParallelizableAttribute)
Pro: Likely to be easier for users to understand, since each can be named appropriately. For example, assembly level can include the wor

[2018-10-02 19:07] jnm2 commented on #2574
Good, thanks for bringing up this possibility.

Something bugging me right now is that this could theoretically make sense, even though we aren't going this direction:

[code]

Because the level that this actually plays out is not the fixture level itself but rather the test case level.
As an example, a derived fixture may override it, but all it's really doing is affecting the setting for each te

[2018-10-03 03:00] CharliePoole commented on #2574
I think implementing this attribute on each test case would introduce a great deal of complexity with only small benefit.

For "normal" test fixtures, we will continue to instantiate the instance as part of the command chain associated with the test fixture. For instance-per-test fixtures, we will not instantiate it there but will have to implement a new command as part of the test chain, which wi

[2018-10-03 03:01] CharliePoole commented on #2574
WRT setup fixtures, btw, I think it should generate a runtime error to specify either instantiation option there. SetUpFixtures are not TestFixtures.

[2018-10-03 12:49] Dreamescaper opened #3039 "ContainsConstraint ignores IgnoreCase in case of actual collection argument"
[code]

Such assertion fails with message:
  Expected: some item equal to "abc"
  But was:  < "ABC", "dce" >

[2018-10-03 13:38] CharliePoole commented on #3039
Posting this on my phone from memory... someone should verify in the codebase.

I believe that containment checks that the __same__ object is included in the collection. IgnoreCase is allowed syntactically but since no equality operation is allowed it is ignored.

We could give a runtime error in this situation.

[2018-10-03 13:43] Dreamescaper commented on #3039
Currently it is equivalent to `new SomeItemsConstraint(new EqualConstraint(_expected));` in case of actual collection argument.
Any reason why it shouldn't be `new SomeItemsConstraint(new EqualConstraint(_expected).IgnoreCase);` for IgnoreCase?

[2018-10-03 14:51] CharliePoole commented on #3039
Never mind! Looking at the code, I see that the change to equality testing took place a long time back!

[2018-10-03 17:40] gilescope commented on #2220
If we implemented IApplyToContext and IDispose, it would be great if we were disposed of after the context was done. That would would be one way to give the hooks we need. For now I think I need to use the v2 ActionAttributes. In my case I'm trying to ensure a redis server is around while some of the tests are run. (I feel like testing as a whole needs rethinking from the ground up in a containeri

[2018-10-03 17:53] CharliePoole commented on #2220
@gilescope Sorry, I can think of several objects that you might want disposed, We do, of course, Dispose the TestFixture instance if it implements IDisposable. Can you be more specific?

[2018-10-03 19:32] jnm2 commented on #3038
I think requiring a non-whitespace string is sensible.

[2018-10-03 19:35] ChrisMaddock commented on #3038
Great - then let's do it. @sbakharev - is this something you'd be willing to supply a pull request for?

[2018-10-03 19:55] jnm2 opened #3041 "Only initialize COM if STA or MTA is specified"
###### @jnm2 at https://github.com/nunit/nunit/pull/3036#issuecomment-426489734:

@nunit/framework-team Right now we don't distinguish between initializing COM to MTA and leaving COM uninitialized. Every work item queue is set to either STA or MTA.

If @MatthewBeardmore adds a check to skip calling SetApartmentState when the queue's apartment state is set to MTA and we're on Windows, then this wil

[2018-10-03 20:00] jnm2 commented on #3041
⚠ I think it would be a good thing to get this in the same release as https://github.com/nunit/nunit/pull/3036 so that we don't ship with `[ApartmentState(MTA)]` being a no-op on platforms other than Windows and then fix it six months later.

Since this is a much larger item of work than https://github.com/nunit/nunit/pull/3036, I assigned myself.

We're going to need a new dedicated MTA versions

[2018-10-03 23:19] jnm2 commented on #2574
Oh my, I would have expected `[Apartment]` or `[Parallelizable]` to replace the base class' or base method's setting!

This all makes sense to me.

Can we rule out wanting an enum such as `FixtureCreationOptions`? `PerTestCase`, `PerFixture`, hypothetical `ReusedPerTestCase`?

I'm leaning towards the simplicity of:

[code]

Hypothetical other creation options would then be added this way:
[code]

[2018-10-04 01:03] jnm2 opened #3042 "RequiresThreadAttribute allows ApartmentState.Unknown, unlike ApartmentAttribute"
Does it make sense to allow `[RequiresThread(ApartmentState.Unknown)]`?

[2018-10-04 03:52] kkm000 commented on #2574
Regarding

Maybe just me, but generally I understand attributes as indicating that the marked object possesses a certain trait, not otherwise present; arguments to the attribute, if any, are refining said trait. Take, for example, Serializable--the object is serializable, but if undecorated, it is not; InternalsVisibleTo--internals visible to something specific, and the arguments refine this, othe