[2017-09-21 18:49] MetaSam opened #2452 "Apply Retry attribute to all methods in fixture or assembly"
In NUnit 2, we had a Retry attribute in place that applied the Retry logic to every method in an assembly. My understanding is that in NUnit 3, it is not possible to apply a behavior to all methods of a fixture or assembly via an attribute with the current extensibility options (correct me if I'm wrong!).

Is there any way that we can enable this behavior with extensions, or is there any chance th

[2017-09-21 20:56] ChrisMaddock commented on #2410
I think we should, yes. In fact - that type of breaking change is less preferable than a compiler breaking change, as it would take more diagnosis.

[2017-09-21 21:15] asbjornu commented on #2450
@ChrisMaddock, @jnm2: Thanks for the tips, I'll try to get my hands dirty with this tomorrow.

[2017-09-21 23:35] rprouse commented on #2450
We should do a null check in `BuildMessage` just to be safe, but your guess about the inner exception looks promising and the fix looks good.

[2017-09-22 01:05] CharliePoole commented on #2410
I had hopes that this thread would lead to a definition of "breaking change" that we could all get behind.

We have spent time defining "public API" - although it's not fully worked out yet - but we still are using the term "breaking change" without any clear meaning of what it is, at least that's how it looks to me.

The reason it seems important to me to define this is that __every bug fix__ can

[2017-09-22 01:22] CharliePoole commented on #652
@nunit/framework-team Nobody has answered @bronumski 's request to re-open this issue. He addressed his comment to me but since I'm no longer deciding such things, it would be nice for somebody to reply.

As far as I can tell, @bronumski and @jsgoupil are asking to have the change already made reversed. Is that right guys? The other options are to leave it as is or to make further changes as was o

[2017-09-22 01:26] jsgoupil commented on #652
I had to refactor the hell out of my unit tests to support these changes. I don't think we need to rollback personally.

A lifecycle documentation page would be super helpful.

[2017-09-22 01:29] jnm2 commented on #2410
It looks like what we all agree on is that the bug fix in 3.7 which broke people's tests should have been announced as such: a thing which has a chance of breaking your tests if you are in a specific spelled-out scenario.

I agree that ‘breaking changes’ is an overloaded term. To be very clear and literal: people's code broke. Code breaking means that it begins failing at the task that it used to

[2017-09-22 01:54] jnm2 commented on #2410
Every fix has a chance of breaking someone's code. What if we sorted them roughly by impact and played it safe by putting them all in a Changes section?

Something like:

---
NUnit 3.9.0

This release [motivation statement].
See the Changes section for a list of scenarios that may be broken.

### Features

 * Foo
 * Bar
 * Shiny

### Changes

 * `SomeObsoleteApi` was removed. Use X or third party

[2017-09-22 02:01] jnm2 commented on #2410
I would be willing to help spend time doing this for every merge into master so that it's ready for release.
Maybe we can co-opt Chris :D because he's spotted things the rest of us miss. 😎

Hey! We could even play with the idea of making changes to the changelog in every behavior-affecting PR (excluding typo fixes, CI test fixes, etc).

[2017-09-22 04:12] CharliePoole commented on #2410
@jnm2 I'm surprised at your "we all agree" comment, following immediately after mine, when I obviously didn't agree with you at all. That's not a fair way to make your case.

Here is an imaginary scenario... Let's say that we created an assertion `Assert.IsPrime` and implemented it (incorrectly) so that it succeeded for all odd numbers. In the next release, we see our error and fix it. BUT in the

[2017-09-22 04:13] CharliePoole commented on #652
@jsgoupil Sorry, I don't know what a "lifecycle documentation page" is.

[2017-09-22 05:15] BlythMeister commented on #2410
Imo, any change that would cause s consumers code to no longer compile is a breaking change.

Secondly, any change which causes tests to no longer run.

Thirdly (and controversially) any change which could cause a user's test to yield a different result.

[2017-09-22 09:15] asbjornu commented on #2450
@ChrisMaddock: [This is the failing test](https://github.com/Pomona/Pomona/blob/develop/tests/Pomona.UnitTests/Patch/DeltaTests.cs#L78). Given the amount of code required to reproduce that, I'm not sure how to do it, to be honest. If you can spot anything weird going on there, please let me know and I'll try to extract just the weird bits into a unit test for NUnit.

@jnm2: With IL code comments o

[2017-09-22 10:57] woodylaurence opened #2454 "SetUpFixture not respecting NonParallelizable tag on TestFixtures."
It seems since version 3.8.0, the inclusion of a SetUpFixture causes issues when trying to run multiple fixtures marked as parallelizable but some fixtures marked as non-parallelizable.

I have parallelism set at the assembly level with the following in my AssemblyInfo.cs:
`[assembly: Parallelizable(ParallelScope.Fixtures)]`

Here's my test setup:
[code]

All three test fixtures get run in paralle

[2017-09-22 11:55] ChrisMaddock commented on #2438
I'm going to have to take my name off this issue for now - as finding a few spare hours to look at it over the next couple of weeks is proving difficult. Will revisit it in the interim if I can - but anyone is welcome to continue building on https://github.com/nunit/nunit/pull/2445

[2017-09-22 12:31] jnm2 commented on #2410
@CharliePoole

Wow, I misread your comment and I apologize. Mea culpa.

So what *do* we agree on? 😜

[2017-09-22 12:34] jnm2 commented on #2410
In the spirit of the [robustness principle](https://en.wikipedia.org/wiki/Robustness_principle), can we err on the safe side in warning people of where their code might cease working because of an upgrade?

[2017-09-22 12:40] jnm2 commented on #2410
What is to be gained by making sure certain changes *aren't* announced as potentially breaking?

[2017-09-22 12:45] jnm2 commented on #2450
@asbjornu Weird. I pulled the net45 DLL from the 3.8.1 NuGet package, which it looked lik your project was referencing when I read your csproj, and I do get this for the first three lines:

[code]

But we come to the same conclusion, so no matter. =)

Providing the problem would be preferred unless it is too involved.

[2017-09-22 12:46] jnm2 commented on #2450
Provoking the problem would be preferred unless it is too involved.

[2017-09-22 13:26] CharliePoole commented on #2410
@jnm2 You started this thread as a discussion if versioning - of semver in particular. In semver, the term breaking change has a particular meaning. If every change becomes "breaking" in the context of semver, then we will  start doing constant major releases.

The reason we are not at something like NUnit 57.0 is because we use an implicit definition of breaking that is much less rigid than the o

[2017-09-22 13:50] jnm2 commented on #2410
True, this is about versioning. I'm not asking for semver, but I am asking that we end up on the same page.

This is really all Rob's decision– no pressure, Rob 😁– and quite honestly the versioning strategy doesn't matter as much to me as the use of the words "potentially breaking" near the top to grab people's attention and a clear list of scenarios that you can look over to see if you are affect

[2017-09-22 13:51] jnm2 commented on #2410
(oops, Ctrl+Enter posts)

[2017-09-22 13:57] jnm2 commented on #2410
True, this is about versioning. I'm not asking for semver, but I am asking that we end up on the same page.

This is really all Rob's decision– no pressure, Rob 😁– and quite honestly the versioning strategy doesn't matter as much to me as the use of the words "potentially breaking" near the top to grab people's attention and a clear list of scenarios that you can look over to see if you are affect

[2017-09-22 14:16] jnm2 commented on #2410
Starting point for defining breaking change *solely* in the context of deciding how to version and choosing which release to merge the changes in:

 1. Any source (or binary?) breaking API change, with the exception of:
     - APIs named `Internal`
     - APIs marked `Obsolete` (?)
     - specific circumstances that are listed as invalid by _pre-existing_ documentation
 2. Any behavioral change th

[2017-09-22 14:38] mousavii commented on #1072
Directory.SetCurrentDirectory(AppDomain.CurrentDomain.BaseDirectory);

[2017-09-22 15:02] bronumski commented on #652
@CharliePoole - I am not seeing anything broken as such but then I have not moved to 3.7 yet. My comment was more about the sentiment of the original poster. From where I was I couldn't tell that a change had already been made so I was adding to the existing request to have the TestActions Before and After methods wrap the fixtures Setup and Teardown methods. So if that what has happened then I am

[2017-09-22 15:09] CharliePoole commented on #2410
At one point, I started a draft document on versioning under governance. When it became clear that versioning was a project rather than an organization issue I stopped working on it. Now I'm wondering. Maybe it would help if we had a working document that described how we have been doing versioning in the past. I'm not sure if we should publish it, however, since it might confuse users. Any sugges

[2017-09-22 15:15] jsgoupil commented on #652
@CharliePoole I meant to have a documentation page explaining what functions will be called in which order.

[2017-09-22 15:22] CharliePoole commented on #2410
Thoughts on our current versioning practice...

1. We mostly follow the __format__ of semver. That doesn't say it all but it's important. Specifically...
 * We use three components.
 * We only increment one of them.
 * We set the lower components to zero when we increment the first or second.
 * We use a pre-release suffix after the version preceded by a hyphen but see item 2.

2. We do __not__ us

[2017-09-22 16:19] CharliePoole commented on #652
@jsgoupil That sounds like a good idea. Probably belongs under the heading of Usage Notes in the docs.

[2017-09-22 16:23] CharliePoole commented on #652
@bronumski With the change, it's working as you requested. This is how it was designed and documented in the first place with NUnit 3.0. However, it was implemented wrong and stayed that way for several releases. Some people came to rely on the incorrect implementation. On the NUnit team there are differing views about how to handle the situation, to say the least. 😄

[2017-09-22 16:39] CharliePoole commented on #2450
I think placing a guard clause on entry to a method that doesn't handle null args is common sense. Adding an if clause where an arg is used, so that null is silently ignored could hide a coding error in the caller. It makes sense to look at all the callers in that case.

I think complex cases where an arg or other value is sometimes null and sometimes not calls for a test. Simple cases (null not a

[2017-09-22 17:11] CharliePoole commented on #2410
@jnm2 Your outline seems like a definition of breaking change without saying how we would use it for versioning. By that I mean, its something we need but we need more as well.

Comments on your points...

1. You don't say what API means. I'm guessing that may sound like a quibble but I don't find it obvious, particularly since we use the word in our docs in a very specific way. I think it's OK to

[2017-09-22 17:33] CharliePoole commented on #2395
@DavidZidar See issue #2454, which seems like a simpler replication of your problem.

[2017-09-22 17:36] CharliePoole commented on #2454
You are correct in your expectations. In this simple situation, I would expect fixtures 1 and 3 to run to completion in parallel, followed by fixture 2 executing in isolation.

This appears to duplicate at least part of #2395 but I'm keeping it alive since you have a nice simple repro case.

[2017-09-22 17:48] DavidZidar commented on #2395
@CharliePoole Very nice, we do indeed have a few SetUpFixtures so it looks like it might be the same issue.

[2017-09-22 17:55] CharliePoole commented on #2454
@woodylaurence Just to be clear... if you remove the SetUpFixture, it works as expected?

[2017-09-22 18:01] CharliePoole commented on #2454
If the SetUpFixture is causing the problem, please try these two alternatives:

1. Remove the assembly-level `ParallelizableAttribute` and put it on the SetUpFixture.
2. Leave the assembly-level attribute but move the SetUpFixture into the global namespace - i.e. outside of the namespace braces.

If either or both of these fixes the problem, it will give us more information. I recently fixed a sim

[2017-09-22 18:27] woodylaurence commented on #2454
Thanks, I will confirm the behaviour of those two suggestions when I'm back at work on Monday.

[2017-09-23 09:57] ig-sinicyn opened #2456 "[Request for help] .net core 2 framework, no nunit.framework.dll in the output directory"
**How to reproduce:**

0. VS 2017 15.3.5, net core 2 SDK x64 installed.
1. Create an empty class library project, set targetframeworks to net461 & netcoreapp2.
2. Add a reference to nunit package:
[code]
3. Build.

**Actual results:**
The `bin\net461` dir contains `nunit.framework.dll`; the `bin\netcoreapp2.0` does not.
When I try to run nunit console runner over the dlls i'm getting
[code]
error.

[2017-09-23 12:42] david-proctor commented on #2418
I'll take this issue if that's all right with everyone.

[2017-09-23 13:08] jnm2 commented on #2418
@david-proctor Fantastic, thanks!

[2017-09-23 13:29] jnm2 commented on #2328
I'm also seeing this as the most frequent failure in CI recently:

It's possible it's related.

[2017-09-23 13:38] jnm2 opened #2457 "Transient ParallelExecutionStrategyTests.SingleThreadedTestCase CI failure"
Failed during an AppVeyor PR test for net35 and I think I've seen this before.

https://ci.appveyor.com/project/CharliePoole/nunit/build/3.9.0-ci-04466-pr-2455#L1263

[code]

[2017-09-23 14:35] CharliePoole commented on #2457
I wrote those tests pretty quickly, using a lot of components from the framework. It would probably be safer to use more mocks and fakes in the implementation.

[2017-09-23 18:03] #2446 closed

[2017-09-24 20:15] UnderNotic opened #2458 "Debugging nunit tests in .net core using vs code"
Is there any way to debug tests in vscode?

[2017-09-24 20:49] jnm2 commented on #2413
Whew, attributes took several times longer than everything else put together so far. Mostly because it requires you to parse serialized assembly-qualified type names, locate the referenced assembly on disk, and read that assembly too to determine enum field names and values.

Current results: https://pastebin.com/nLSzWPBA

[2017-09-25 08:25] woodylaurence commented on #2454
I have tried both removing the assembly-level attribute and putting it on SetUpFixture as well as leaving the assembly-level attribute and moving the SetUpFixture into the global namespace; neither of these fixed the issue, the behaviour remained the same.

Thanks.

[2017-09-25 08:50] unickq opened #2459 "[Parallelizable(ParallelScope.Children)] Unable to finish tests 2.8.2"
Hi there,

#### I have following code:

[code]

#### and tests code:

[code]
**ParallelScope.Children**
I have 8 cores CPU - don't have problems running following 6 tests.

But if I want to run 8 tests - sometimes 1, 2, 3, 4 of 8 hang. Reproducible on NUnit console 3.0 and ReSharper 2017.2

If **[assembly: LevelOfParallelism(2)]** is set - 2 tests run and the other hang
![2](https://user-images.gi

[2017-09-25 15:41] CharliePoole commented on #2454
OK, thanks for checking. I'll set up a test bed and see what I can come up with. We don't have good tests for parallel execution. It calls for something a bit more than a unit test of course.

[2017-09-25 18:48] lilasquared commented on #2413
@jnm2 this is really cool! I wanted to ask you about this pseudo c# file that you are creating here.  In Jest, the snapshot files that are created are technically legitimate javascript files and essentially export strings that represent the data that is being snapshotted for the unit test.  If snapshot unit testing was a part of the NUnit framework do you think the idea would be for it to work the

[2017-09-25 19:21] CharliePoole commented on #2454
I reproduced the problem.

[2017-09-25 19:21] jnm2 commented on #2413
@lilasquared If it's pseudo C#, it can't be included in the compilation the way the legitimate JavaScript is. It would have to be legitimate C#. I see the benefit of keeping the snapshots in files under source control, but not of adding new C# source-generated files to the test project compilation.

In my mind, two ideal alternatives for snapshot testing are:

 - One or more autogenerated text fil

[2017-09-25 19:24] jnm2 commented on #2413
If the snapshot can be serialized to a non-string domain-specific model, I could see us experimenting with autogenerating a `SnapshotSource` static method which builds the snapshot (think CodeDOM in .designer.cs but more modern) and links it to the test method via a `SnapshowSourceAttribute`.

[2017-09-25 19:27] david-proctor commented on #2418
Submitted PR #2460.

[2017-09-26 00:42] rprouse commented on #2459
I believe this is a duplicate of #2438. We are working on a fix.

[2017-09-26 00:46] rprouse commented on #2456
If you are using the new CSPROJ format, I would recommend that you use `dotnet test` to run the tests. The console can run the .NET 4.6.1 tests, but not the .NET Core App 2.0 tests.

The reason the framework isn't copied into the bin directory is because that is the way .NET Core works ☹️

See https://github.com/nunit/docs/wiki/.NET-Core-and-.NET-Standard for info on how to setup your tests to get

[2017-09-26 00:52] rprouse commented on #2458
It should just work by clicking on the CodeLens icons. See https://github.com/nunit/docs/wiki/.NET-Core-and-.NET-Standard to make sure you are referencing required packages. You also need the C# extension installed.

![image](https://user-images.githubusercontent.com/493828/30837507-5ac1831a-a233-11e7-9946-c9632bf26e45.png)

![image](https://user-images.githubusercontent.com/493828/30837519-7350b1

[2017-09-26 00:52] #2458 closed

[2017-09-26 05:12] Zubaloo commented on #2271
Just want to say that from the name of the "CollectionAssert.AreEqual" I would expect the method to iterate thru given collections and do "Assert.AreEqual" for the respective elements

[2017-09-26 05:19] ig-sinicyn commented on #2456
@rprouse thanks!

Yep, dotnet test works (dotnet vstest, to be precise - I need to run tests over already compiled dlls). The issue can be closed now:)

[2017-09-26 05:19] #2456 closed

[2017-09-26 11:31] jnm2 commented on #2271
@Zubaloo Yes, your expectation is correct and this is an open bug.

[2017-09-26 17:35] CharliePoole commented on #2454
@nunit/framework-team This is a simple issue with big repercussions. It highlights many problems that are showing up at the same moment in other issues around parallelism. I'd appreciate your reading what I've found and giving me your comments...

1. Start and end shift messages in the log do not appear in the right order when a SetUpFixture is present. Sometimes shifts are nested or overlap. Shif

[2017-09-26 17:39] #2418 closed

[2017-09-26 20:43] ChrisMaddock commented on #2454
2 and 3 match up to what I discovered digging in to this a couple of weeks ago. I also agree the model needs adapting - saving and restoring queues in a stack-esque fashion feeds strangely meta - but I'm not totally sure what the best solution is either!

[2017-09-26 21:35] CharliePoole commented on #2454
I put the queues into a stack inside `WorkItemQueue` so that I would not have to create new workers. The same workers keep pulling from the `WorkItemQueue` but the underlying implementation`changes. Writing it down like that makes the fragility pretty obvious.

I can imagine two alternate models...

1. Dispatcher => SetOfShifts => Shifts => Queues => Workers
2. MasterController => Dispatchers => S

[2017-09-26 22:44] rprouse commented on #2454
I agree with that as long as we are postponing thread creation until needed wherever possible. I assume you meant that when you said "ensure that all the classes are cheap to create and that any resource usage like thread creation is postponed till needed."

Like @ChrisMaddock I also saw 2 and 3 while testing his possible fix. As for selecting from the two models that you present above, I think it

[2017-09-27 00:08] CharliePoole commented on #2454
I seem to have found a simple fix. It should go in for now, I suppose. In order to find it, I did a lot of boilerplate stuff: more logging, changes to test utilities, etc. I'm going to do a PR with only the resulting change that fixes the bug. I'll follow that with a second that does the boilerplate, non-functional stuff and then look at the overall structure. I have hopes my fix will fix some oth

[2017-09-27 08:52] m-finn opened #2463 "TestContext.CurrentContext NullReferenceException in Visual Studio 2015"
Hi,

I'm experiencing a null reference exception on TestContext.CurrentContext {"Object reference not set to an instance of an object."} when running my tests in Debug in MS Visual Studio. They work fine when i use VS Test Explorer to run them. It looks like everything in  TestContext is null.

Do i need an adaptor of some sort to run debug. Sorry i couldnt find anything online.

.Net Framework 4.

[2017-09-27 11:48] koilBhupat commented on #1207
Hi Team,
I am facing the same issue through NUnit Console. I am using NUnit 3.7.1.
I could see the value of  parameter 'site="SetUp"' in failed <test-suite ...>. My test class does have [Setup] and [OneTimeSetUp] methods. Does this indicate anything regarding the issue?

[2017-09-27 12:01] CharliePoole commented on #1207
@koilBhupat This is a closed issue related to use of TeamCity and assemblies with no test fixtures. Could you explain in what way your problem is the same?

[2017-09-27 12:29] #2454 closed

[2017-09-27 13:20] koilBhupat commented on #1207
I have a test project that uses NUnit. When I am trying to execute it using NUnit console with parameter as test dll, I am facing the same error 'Has no testFixture'.

[2017-09-27 14:40] CharliePoole commented on #2463
How do you run tests in VS without using Test Explorer?

Running under test explorer you need the NUnit adapter of course. The only other ways would involve some third party solution.

[2017-09-27 15:37] m-finn commented on #2463
Hi Charlie,

Thanks. Sorry yes I also have the Nunit3TestAdaptor nuget package 3.7.0 installed.

Can I not run the tests in Debug mode in VS (-> Start button)?

Sorry I'm not fluent in this, I'm eventually wanting to create a dll and run this from the nunit3-console.exe. I was going to try debug in VS first.

[2017-09-27 15:56] CharliePoole commented on #2463
You can only run from the debug button if you set up an executable runner as the start program, passing it the name of your test assembly as an agument. You can use nunit3-console for that purpose. For debugging individual tests, it's convenient to use the context menu for that item in test explorer.

Feel free to bring your how-to questions to our nunit-discuss google group. Filing an issue is be

[2017-09-27 16:02] CharliePoole commented on #1207
You said you are using NUnit 3.7.1 framework. What version of the console runner are you using? What is your command-line?

Of course, the message means that NUnit could not find any test fixtures. It appears when you try to run tests against an assembly that contains nothing that is recognizable as an NUnit test fixture. Can you post an example - redacted as necessary - of one of your test fixtur

[2017-09-27 17:10] m-finn commented on #2463
thanks for clarifying, its appreciated (i thought this may have been a compatibility issue)

kind regards

[2017-09-27 17:10] #2463 closed

[2017-09-27 19:32] jnm2 commented on #2413
In adding integration tests, I've discovered I'm completely blocked for the time being. Blegh.

https://github.com/dotnet/corefx/issues/24026#issuecomment-332624412

[2017-09-27 19:46] jnm2 commented on #2413
Specifically what I'm blocked on is that any time an attribute has an enum value and the enum is defined in a referenced assembly, I'll have no option but to to show it as `(AttributeTargets)68` rather than `AttributeTargets.Class | AttributeTargets.Method` and there's also the slight chance that the enum is not exactly 32 bits wide and causes me to read invalid data into that numeric value or tru

[2017-09-27 21:14] mikkelbu commented on #2448
Just looking at the code, I think the problem lies in `TypeExtensions.GetAllMethods` which looks as follows:
[code]
We only look at the methods of the base-class which have `IsPublic == true`. That seems wrong.

I'll try to add some tests and supply a PR.

[2017-09-27 22:22] ejones91 commented on #2438
I'm having this same problem, but only when using a SetUpFixture as well. Both R# and the console runner are hanging.

[2017-09-28 08:53] ChrisMaddock commented on #2413
Is this something we do? Out of interest - where?

Shame this is blocked! 😞

[2017-09-28 11:03] jnm2 commented on #2413
@ChrisMaddock This happens every time NUnit.Framework uses `AttributeUsage(AttributeTargets.Foo)` or `EditorBrowsable(EditorBrowsable.Never)`, etc.

[2017-09-28 11:15] jnm2 commented on #2413
When used in an attribute argument value, `AttributeTargets.Class | AttributeTargets.Method` gets serialized as the string `System.AttributeTargets, mscorlib, Version=4.0.0.0, PublicKeyToken=b03f5f7f11d50a3a`  (or if targeting .NET Standard, `System.AttributeTargets, System.Runtime, Version=4.0.20.0, PublicKeyToken=b03f5f7f11d50a3a`) and the bytes `0x00000044` with no indication of how many bytes

[2017-09-28 16:13] ChrisMaddock commented on #2413
Ah, sorry - I fundamentally misunderstood. I thought you were referring to NUnit's own attributes. Thanks! 😄

[2017-09-30 22:57] mikkelbu commented on #2434
As far as I can tell the difference is that in Nunit v2 Assert.AreEqual had a lot of overloads. In particular, the overload `Assert.AreEqual(decimal, decimal)` which is the best match in the example above (due to overload resolution there is an implicit cast). Hence the logic in Nunit simply compares two decimals.
Since we don't have the overload anymore in v3, we will call `Assert.AreEqual(object

[2017-09-30 23:15] mikkelbu commented on #2435
Currently, we just ask `RuntimeInformation.FrameworkDescription`. So we have the same problems as in dotnet/BenchmarkDotNet#448.

[2017-10-01 00:26] CharliePoole commented on #2434
@mikkelbu Yes, that's correct. If we had kept the `Assert.AreEqual(decimal, decimal)` overload, then this would pass. However, that would introduce an inconsistency in behavior between these two asserts:

[code]

While the overloads for numeric values are trivial in the case of the first assert, it's very hard to do for the second assert. Essentially, we would have to duplicate all the logic the c

[2017-10-01 12:14] rprouse commented on #2448
Good catch, I suspected it was in our extensions, but didn't know which one.

[2017-10-01 16:58] mikkelbu commented on #2448
I think that there is a similar problem for properties (the code in `ApplyBindingFlags` wrt. `BindingFlags.NonPublic` is quite similar). I'll create a new issue for this.

[2017-10-01 17:08] mikkelbu opened #2465 "Possible wrong properties are returned by reflection in ReflectionExtensions.cs"
When debugging #2448 I noticed that the filtering of properties in `ApplyBindingFlags` has the same problem as filtering of methods in #2448. The documentation says
https://msdn.microsoft.com/en-us/library/kyaxdd3x(v=vs.110).aspx#Remarks

But the code only returns private properties for `BindingFlags.NonPublic`
https://github.com/nunit/nunit/blob/6980e958df0a94a4969258f8ed35aaccedb9ff31/src/NUnitF

[2017-10-02 05:42] OsirisTerje opened #2466 "Missing stack trace when exception occurs during OneTimeSetUp"
@ericnewton76 commented on [Sat Dec 17 2016](https://github.com/nunit/nunit3-vs-adapter/issues/284)

![image](https://cloud.githubusercontent.com/assets/2211788/21288540/103270f6-c454-11e6-89ff-5ef94bd68ebb.png)

Missing the stack trace for the error if it bubbles up from a OneTimeSetUp method.

---

@ericnewton76 commented on [Sat Dec 17 2016](https://github.com/nunit/nunit3-vs-adapter/issues/284

[2017-10-02 07:18] CharliePoole commented on #2466
@OsirisTerje You moved the issue rather than adding one, which is OK, although I suspect we will end up having to do something in the adapter as well. However, the issue has no info in it about the framework, what it's doing wrong, how it should do things differently. How are you proposing the framework should be changed?

[2017-10-02 08:57] jairbubbles commented on #2438
Hello, after upgrading NUnit from 3.5.0 to 3.8.1 I'm experiencing a hang when running from console runner and R#. I do not use [Parallelizable] in those tests. When you have a prerelease version with the fix I'd be pleased to test it.

[2017-10-02 09:18] ChrisMaddock commented on #2438
@jairbubbles - this should be fixed by #2461. Will you try the package from the master build below?

[2017-10-02 09:55] jairbubbles commented on #2438
Unfortunately it doesn't fix the issue 😢
It works ok with  3.7.1 though.

[2017-10-02 09:59] jairbubbles commented on #2438
(And it's broken starting from 3.8.0)

[2017-10-02 12:50] ChrisMaddock commented on #2438
@jairbubbles In that case you may be seeing a separate issue that we haven't seen before. Can you debug to break out a minimal example you can share with us, and then open a new issue?

Some tips, assuming you're using nunit3-console.exe to run:
1. Try running with `--labels:before` which outputs each test name. Does your run always hang on a certain test?
2. Try `--log:Verbose` - which will show

[2017-10-02 13:05] jairbubbles opened #2467 "Test execution hangs when using [SetUpFixture] with NUnit 3.8.x"
It hangs with console runner (3.7) and also with  R# (2017.2).

Here are the log files when using `--labels:before`:
[nunit_3_8_1.txt](https://github.com/nunit/nunit/files/1348973/nunit_3_8_1.txt)
[nunit_3_7.txt](https://github.com/nunit/nunit/files/1348974/nunit_3_7.txt)

When running in R# we see that tests from other namespace never start:
![image](https://user-images.githubusercontent.com/1587

[2017-10-02 13:06] jairbubbles commented on #2438
I'll do my best => #2467

[2017-10-02 13:26] mikkelbu commented on #2467
Hi @jairbubbles can you also provide the InternalTrace-files when you add verbose logging (i.e. `--trace=Verbose`).

[2017-10-02 13:35] jairbubbles commented on #2467
It seems highly related to my namespaces not being clean.

In `TeaBox.Macros.Test` assembly I have two main namespaces being tested:
- `TeaBox.Macros` in wich `AssemblySetup` is a `SetUpFixture`
- `TeaBox.Scripting`

I I move tests from `TeaBox.Scripting` tests to `TeaBox.Macros.Scripting` it works correctly.

[2017-10-02 13:36] jairbubbles commented on #2467
(I'll try to make a simple repro case)

[2017-10-02 13:49] jairbubbles commented on #2467
Here we go:
[BugNUnit.zip](https://github.com/nunit/nunit/files/1349087/BugNUnit.zip)
It's pretty straight forward, run all tests and observe that the test in the exotic namespace will never run:
![image](https://user-images.githubusercontent.com/15875066/31080512-3198934c-a789-11e7-975b-80e7120c5697.png)

(You need VS2017).

[2017-10-02 15:00] ChrisMaddock commented on #2467
Great, nice example @jairbubbles. To save other's having to download - here's the repro. (I haven't tried it myself.)

There were some changes in this area for 3.8 which introduced a few problems we've been rooting out.  My guess is the particular specific things about your case we haven't seen before are a combination of:
1. A SetUpFixture for only _some_ of your tests.
2. No parallelization attr

[2017-10-02 15:34] Kintar commented on #2102
@ChrisMaddock : Can you give steps to reproduce this?  Everything that I'm seeing looks like it reports the correct OS version on Windows 10.

[2017-10-02 16:06] ChrisMaddock commented on #2102
@Kintar - Are you definitely looking at the NUnitLite runner, as opposed to the nunit3-console?

I suggest you download the .zip release from here. https://github.com/nunit/nunit/releases. Then navigate to `/bin/net-4.5` and run `nunitlite.tests.exe`. You should see this - which highlights the problem. 🙂

![image](https://user-images.githubusercontent.com/4837132/31087038-7d6ec5b6-a793-11e7-888c-f

[2017-10-02 16:39] Kintar commented on #2102
@ChrisMaddock

Oh, I was definitely NOT looking in the right place.  I see it now. :)

Looks like the only other place using Environment.OSVersion is the FrameworkController, but it's injecting the OSVersion.ToString() result into the os-version environment attribute.  If we move to OSPlatform that will nuke the text description from that attr.  I.e., "Microsoft Windows NT 6.2.9200.0" would just b

[2017-10-02 16:56] #2448 closed

[2017-10-02 16:57] ChrisMaddock commented on #2448
@rprouse - I haven't milestoned this, as I'm not sure what you'll be doing for 3.8.2. (With hindsight - maybe I shouldn't have merged either - sorry!)

Will leave it with you.

[2017-10-02 17:07] Kintar commented on #2102
I left FrameworkController alone.  I figure someone can open a separate issue if the difference between the TextUI output and the os-version environment value is a problem. :)

[2017-10-02 18:43] jairbubbles commented on #2467
I can confirm you that adding `[Parallelizable]` on of the test fixture does fix the issue too.

[2017-10-03 00:05] rprouse commented on #2102
Closed by #2468

[2017-10-03 00:05] #2102 closed

[2017-10-03 08:20] jongleur1983 opened #2469 "Allow RangeAttribute to be specified multiple times for the same argument"
The RangeAttribute (e.g. [Range(0, 20)]) is a way to define the value range to test for in a theory, but it's restricted to occur only once per parameter of the test method.

Sometimes the same test code should be tested for different intervals.
Therefore it would be good to allow multiple ranges to be specified for the same parameter:

[code]

[2017-10-03 12:00] rprouse commented on #2469
As a workaround, you could use a `TestCaseSource` for this.

I am going to mark as an idea for discussion. I can see your use-case and it is valid, but there are alternatives and I suspect the feature would be used so little that the added complexity to the code and potential for bugs would outweigh its usefulness.

We also need to look at the `RangeAttribute` and see how it generates test cases s

[2017-10-03 15:59] CharliePoole commented on #2469
@rprouse It may not be all that complicated.

`RangeAttribute` doesn't have any `AttributeUsage` specified, because it derives from `ValuesAttribute`. `ValuesAttribute` has `AllowsMultiple` set to false simply because there appeared to be no reason to do otherwise. When you use `[Values(...)]`, you can just put all the values into the argument, so there's no need for more than one instance of the

[2017-10-03 18:15] rprouse commented on #2469
@CharliePoole sounds good, thanks for looking at the code. I am going to switch this to easy-fix 'hoping' that it is. If anyone picks this up, please discuss if it becomes more difficult than expected.

[2017-10-03 18:36] #2422 closed

[2017-10-04 00:06] Steve-Boyd commented on #2427
I'll help out with this one. Been looking for a project I actually use to help out with 😃 and what better time than Hacktoberfest.

[2017-10-04 00:46] jnm2 commented on #2427
Awesome! It's yours. 😃 @rprouse can you invite and assign?

[2017-10-04 01:34] rprouse commented on #2427
@Steve-Boyd I've sent an invite to the contributors team which allows us to assign issues to you. One of the team will assign this issue once you accept, just ping us here.

[2017-10-04 15:02] masaeedu commented on #164
@CharliePoole I'm using `TestcaseSource`, but it looks like the resulting testcases aren't actually being executed in parallel. Is something like this expected to work:

[code]

The overall time taken is 10 seconds instead of ~2.

[2017-10-04 15:06] ParanoikCZE commented on #164
I'll think that there are no children, so in this case, you could better use
[Parallelizable(ParallelScope.All)]
or move your attribute on class level.

[2017-10-04 15:08] masaeedu commented on #164
@ParanoikCZE Thanks. I'm actually flying blind with respect to what that attribute means, so I've tried all enum values on there. Regardless of which of `All`, `Children`, `Fixture` or `Self` I use, I get a 10 second execution time (at least in Visual Studio).

[2017-10-04 15:41] ParanoikCZE commented on #164
Try this is source of inspiration :)

    class Deserialization
    {
        public static IEnumerable<TestCaseData> ShouldDeserializeAllCases
        {
            get
            {
                for (int i = 1; i <= 5; i++)
                    yield return new TestCaseData(TimeSpan.FromSeconds(i)).SetName($"Thread_worker_{i}");
            }
        }

        [TestCaseSource(nameof(ShouldDes

[2017-10-04 15:47] masaeedu commented on #164
@ParanoikCZE Thanks again. I tested this out in Visual Studio and the visualization is much clearer, but the tests are still running sequentially. Easier to see this if you use a constant sleep for each testcase instead of increasing steps.

[2017-10-04 16:03] masaeedu opened #2471 "Parametrized testcases not running in parallel"
## Issue

I am trying to run several cases of a parametrized test in parallel. Here is the code I'm using:

[code]

When I run this using the Visual Studio test runner, I can see the individual cases being executed one at a time, and the overall test run takes ~10 seconds. I would expect all the cases to be executed simultaneously on separate threads, and for the overall run to take ~2 seconds.

#

[2017-10-04 17:16] CharliePoole commented on #2471
See https://github.com/nunit/docs/wiki/Framework-Parallel-Test-Execution

"Parallel execution is supported by the NUnit framework on desktop .NET runtimes. It is not supported in our Portable or .NET Standard builds at this time, although the attributes are recognized without error in order to allow use in projects that build against multiple targets."

IOW, parallel execution is not supported in

[2017-10-04 17:18] masaeedu commented on #2471
@CharliePoole Gotcha, thanks. Is there an issue tracking .NET Standard support for parallelism? Is the code just ifdefed out?

[2017-10-04 17:22] masaeedu commented on #2471
@CharliePoole Also, changing to `<TargetFramework>netcoreapp461</TargetFramework>` doesn't seem to enable parallelism for me.

[2017-10-04 17:29] CharliePoole commented on #2471
@nunit/framework-team I updated the usage note and the descriptions of all three parallelism-related attributes in the docs.

@masaeedu Check to see which build of the framework is referenced in your test. If it's .NET Standard or (for older NUnit) Portable, then you get no parallelism. This is not exactly an issue for us to track. We can't support parallelism in either the .NET standard 1.3 or 1.

[2017-10-04 18:30] masaeedu commented on #2471
@CharliePoole I've gone down to `<TargetFramework>net45</TargetFramework>` and I'm still not getting any parallelism. Here's the DLL that my `NUnit` package dependency is resolving to:

![image](https://user-images.githubusercontent.com/3674056/31192730-11653098-a910-11e7-9bcc-053eff4b40ec.png)

A full repro project is here: https://github.com/masaeedu/nunit-issue

[2017-10-05 08:20] #2465 closed

[2017-10-05 08:24] #2411 closed

[2017-10-05 08:24] #2412 closed

[2017-10-05 08:24] ParanoikCZE commented on #164
Try adding [assembly: LevelOfParallelism(5)] into AssemblyInfo, I think there is some default value, but maybe it doesn't work for you somehow. Anyway, I'm out of ideas. :)

[2017-10-05 23:15] CharliePoole commented on #2440
I've given myself the task of reviewing all our issues related to parallelism for possible incorporation in a PR I'm starting. This one, however, doesn't seem to have enough information.

@HemalathaSR Can you please respond to the questions from @rprouse and @ChrisMaddock? Otherwise, we don't seem to have enough info to go on in order to work the problem.

[2017-10-05 23:18] CharliePoole commented on #2467
Assigning this to myself for now so we don't duplicate one another. I'm adding this as a case to the suite of parallelization tests I'm working on.

[2017-10-05 23:20] CharliePoole commented on #2388
I'll add this to the PR I'm working on.

[2017-10-06 01:48] pknouff commented on #2469
I'd like to tackle this one.

[2017-10-06 04:58] developer-edp commented on #2467
I'm having the same issue with my integration tests and since they depend on the database I'm hesitant to run the tests in parallell. For others in my situation: my bandaid solution until proper fix is to rename the tests/namespaces so that the tests that isn't part of the SetupFixtures is run before anything else. Smelly I know, but a temporary solution that seems to be working.

[2017-10-06 06:48] mikkelbu commented on #2469
Sounds great @pknouff. @rprouse can you invite @pknouff to the project, so that we can assign him to the issue.

[2017-10-06 07:35] kevingoos commented on #454
I had the same issue in version 3.6.0 when using teamcity.

[code]

[Link to stackoverflow question.](https://stackoverflow.com/questions/46600567/teamcity-nunit-version-string-portion-was-too-short-or-too-long)

[2017-10-06 14:55] masaeedu commented on #2471
Issue here was that I wasn't applying the attribute correctly. You need to have `[Parallelizable(ParallelScope.Children)]` on the containing class.

[2017-10-06 15:03] ChrisMaddock commented on #2471
I would have through `Parallelizable(ParallelScope.Children)` on the TestCaseSource method would have worked - as the method is technically a 'test-suite'. @CharliePoole - is this a bug, or have a mis-understood the API?

@masaeedu's code is a little different here to what he posted in Gitter - the example I was looking at was this:

[code]

[2017-10-06 15:05] masaeedu commented on #2471
@ChrisMaddock I've tried both those versions and neither works. The `Parallelizable(ParallelScope.Children)` is on the test method itself though, and not on the method that is the testcase source. Maybe that's what the issue is?

[2017-10-06 15:09] ChrisMaddock commented on #2471
No - I don't think putting the parallelizable attribute on the testcasesource method itself would do anything at all.

As you pointed out - the docomments do say ParallelScope.Children can't be used on methods - so the behaviour your seeing may be as expected - but it's surprising to me!

[2017-10-06 15:11] masaeedu commented on #2471
Perhaps there should be some runtime validation of attributes when nUnit reflects over the test assembly, and an error raised if nonsensical usage is detected.

[2017-10-06 15:16] CharliePoole commented on #2471
I reopened this to look at both attribute validation and the handling of parameterized methods.At very least,  I'll add it to the set of parallel tests I'm creating.

[2017-10-06 15:43] masaeedu opened #2472 "Check for specific version of dotnet core tooling in Cake build"
The Cake build checks whether a `dotnet` binary is available on the path before attempting to build the .NET standard projects, which is useful when you're just trying to test some changes and don't care about cross platform yet.

The problem is that a specific *version* of the `dotnet` tooling is required in order to build the projects (see [this Google groups discussion](https://groups.google.co

[2017-10-06 21:07] mikkelbu commented on #2472
Hi @masaeedu I think this is a duplicate of #2111. If you disagree, then please reopen this issue.

[2017-10-06 21:07] #2472 closed

[2017-10-06 22:47] mikkelbu commented on #2327
@jaindevassy I'm going to close this issue, as it sounds like it is a Selenium issue. If you disagree, then please reopen it and provide some more information.

[2017-10-06 22:47] #2327 closed

[2017-10-06 23:30] digitalpacman opened #2474 "NUnitV2ResultWriter writes empty test result files"
I had a legacy test framework written using unit2.  NUnit2 didn't support parallel runs so we wrote our own runner. This runner scans for all types in the assembly with a CategoryAttribute and executes the nunit runner selecting that test class only.  So if we have 10 tests, we start 10 threads and execute nunit console runner 10 times one for each test.

I upgraded nunit2 runner to nunit3 and upg

[2017-10-07 00:14] CharliePoole commented on #2474
This issue is almost certainly in the wrong place, since it relates to the framework. However, I can't tell from reading it if it's an issue for the console runner or for the nunitv2 result writer. which are separate projects. For now, we'll keep it here while figuring out where it actually belongs.

As a start, would you please tell us the version of all the NUnit pieces you use? That should incl

[2017-10-07 11:20] BlakeWills commented on #2146
I'd quite like to pick this up as my first contribution, could you assign me please? :)

[2017-10-07 11:30] mikkelbu commented on #2146
@rprouse Can you invite @BlakeWills, so we can assign the issue to him

[2017-10-07 14:36] ChrisMaddock opened #2475 "Framework incorrectly identifies Win 10 in xml results"
This is the second half of https://github.com/nunit/nunit/issues/2102

`Environment.OSVersion` is [deprecated](https://msdn.microsoft.com/en-us/library/system.environment.osversion(v=vs.110).aspx), and no longer reports the correct Windows version from Windows 10.

The framework uses this in two places - NUnit2XmlOutputWriter and FrameworkController - in both cases to write xml results. These shou

[2017-10-07 16:19] ChrisMaddock commented on #1943
I've removed up-for-grabs as it doesn't look like we ever came up with a clear spec here. Please correct me if I'm wrong!

[2017-10-07 16:28] j4nw commented on #2475
I'd like to do this!

[2017-10-07 16:29] ChrisMaddock commented on #2475
Great, thanks @j4nw - it's yours!

[2017-10-07 16:42] ChrisMaddock commented on #2369
I'd like to close this issue as something we won't fix. Any objections @nunit/framework-team?

[2017-10-07 16:48] #1679 closed

[2017-10-07 16:48] ChrisMaddock commented on #1679
Issue moved to [nunit/nunit-console #296](https://github.com/nunit/nunit-console/issues/296) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-07 16:52] ChrisMaddock commented on #1653
There's not sufficient information here to fix this - I'm going to close.

If we can get a repro, we can reopen.

[2017-10-07 16:52] #1653 closed

[2017-10-07 16:52] ChrisMaddock commented on #1678
@CharliePoole - this "outstanding issue" you mention, I can't find it, so assume it was resolved? Can we unblock this one and mark if up for someone to resolve?

[2017-10-07 16:53] ChrisMaddock commented on #1678
Also, am I correct that both the comma and hyphen no longer feature in the Test Selection Language? Do we also need to add some other characters which now do?

[2017-10-07 17:12] ChrisMaddock commented on #410
I think this is now pretty covered by @CharliePoole's new docs below:

https://github.com/nunit/docs/wiki/NUnit-Internals

[2017-10-07 17:12] #410 closed

[2017-10-07 17:13] ChrisMaddock commented on #452
@CharliePoole - I think we've made the explicit decision not to put the framework on choco, haven't we? Can we close this issue?

[2017-10-07 17:13] ChrisMaddock commented on #617
This is now done and live!

[2017-10-07 17:13] #617 closed

[2017-10-07 17:45] ChrisMaddock commented on #3
I'd like to take a look at this, from a performance point of view, regarding not evaluating all TestCaseSources to run a single test.

----

I propose we create another overload for `ITestAssemblyRunner.Load()` which additionally takes an ITestFilter. I understand we currently have `FrameworkPackageSettings.LOAD` - but it seems odd that we resolve most filtering in the framework, but would need to

[2017-10-07 19:02] agray commented on #2467
I think I might be suffering the same issue. My code base is now open sourced at https://github.com/Sauceforge/Saucery/tree/master/NUnit/Version3

[2017-10-07 19:27] CharliePoole commented on #1678
@ChrisMaddock The issue was #925, which was closed as won't fix. We should have unblocked this.

To your second question, I don't __think__ we do but it should be checked. IIRC, we allow the arg to be in quotes, which TSL defines as `"..."`, `'...'` or `/.../`. So it should be possible to use pretty much anything in the name of a category. However, the implementor should try all possible special c

[2017-10-07 19:31] CharliePoole commented on #410
Not that new. 😄

[2017-10-07 19:36] CharliePoole commented on #452
The meaning of this issue gradually changed to be removing or deprecating the existing chocolatey package - which we didn't write. I marked it block, because deprecating it means we should tell people what to use. I can check into this to see if it can be unblocked and completed.

I admit it's confusing when an issue changes meaning to become the reverse of what it originally said, but we __will__

[2017-10-07 19:47] CharliePoole commented on #3
I wrote this issue envisioning "dynamic" tests - where it was not possible to know in advance what the cases would be. A simple example could be a test that runs once for every file in a directory. If I am running in the GUI, I'd like to be able to add and remove files without reloading the test and have each test run dynamically determine the cases.

I think this is different from a test suite th

[2017-10-07 20:18] ChrisMaddock commented on #452
Just to clarify, you mean your planning to add a framework package to chocolatey? I thought we had since decided to have the framework only on NuGet, and just the runners on choco.

[2017-10-07 20:26] ChrisMaddock commented on #3
Thanks. IMO, the filter is more in-keeping with how the other methods on the interface work - and feels more sustainable than passing lists of typenames around. I'll give it a shot, next time I get a bit of time.

[2017-10-07 20:33] CharliePoole commented on #452
There's an old package, not written by us on Chocolatey, based on the msi. It hasn't been updated for a long time, because it was created automatically, whenever we released nunit.msi. I have authority to update it and would update it with a deprecating package, which tells the users what they can now do rather than use the old one. You never want to delete an old package, just update it to remove

[2017-10-07 21:06] mikkelbu commented on #1473
@CharliePoole This issue has been underway a long time, and I'm unsure whether we will hear from @lundmikkel. I agree with @jnm2 that it should fail if the collection item is null, and that it should work if the value of the property is null. I propose that we move the issue to the backlog and mark the issue up-for-grabs.

[2017-10-07 21:13] mikkelbu commented on #2369
I don't mind (even though I have VS2010 and VS2012 installed on some of my computers ::)).

[2017-10-07 22:09] ChrisMaddock commented on #452
Ah ok. I thought you meant you were planning a replacement _framework_ package - which was news to me! 😆

[2017-10-07 22:11] ChrisMaddock commented on #1473
I agree. I would have uses for this too.

[2017-10-08 00:36] CharliePoole commented on #452
I changed the title to (hopefully) avoid confusion.

[2017-10-08 00:37] CharliePoole commented on #1473
Me too!

[2017-10-08 00:54] CharliePoole opened #2477 "Parameterized fixture with Explicit attribute can not be run when selected by name"
Given code like this...

[code]

Running the console with a filter `--where test==Namespace.Of.ParallelExecutionTests` causes no tests to run. I think that's because we are running the suite that includes all the instances of the fixture but the attribute is applied to each fixture.

AFAIR this works correctly in the case of methods, so we should look at how we do it there.

Workaround for the abo

[2017-10-08 09:26] CharliePoole opened #2478 "Attributes on SetUpFixture are not applied"
Investigating parallel execution, I discovered that `ParallelizableAttribute` on a `SetUpFixture` has no effect on the test at all. In fact, aside from `SetUpFixtureAttribute` itself, attributes on a SetUpFixture have no effect at all!

Among other things, this probably explains some of our parallelization issues.

[2017-10-08 12:53] ChrisMaddock commented on #1473
Up-for-grabs - good find @mikkelbu 😄

[2017-10-08 15:11] jairbubbles opened #2480 "[Feature] Add a "Test" target to easily run tests from MsBuild"
Now that MsBuild supports by default "restore" and "pack" (at least in the official documentation) I feel like it will be cool to support a "test" target.

Similar to `dotnet.exe test` we would run `msbuild.exe /t:test <path_to_the_csproj>` and the tests would be executed. The .csproj would only have to reference the good NUnit package and no .exe installed on the machine would ne needed.

`NUnit.

[2017-10-08 15:32] #2475 closed

[2017-10-08 15:51] jaindevassy commented on #2327
Please close this. This was a Selenium issue.
Thanks

[2017-10-08 16:49] masaeedu commented on #2111
@rprouse To fix this, is it sufficient to simply check whether the version of the .NET SDK on PATH exactly matches that of the `global.json`, or do you need more sophisticated version compatibility checks? I have a pretty good idea of where in the Cake build file the change needs to be made.

[2017-10-08 17:08] mikkelbu commented on #2111
I don't think that they should match exactly. I can build `BuildNetStandard13` and `BuildNetStandard16` but `dotnet --info` (in the nunit folder) gives me
[code]
I had to install the `.NET Core 1.1.2 runtime`, but I cannot remember if it was when I updated VS or when I installed dotnet SDK ver 2.0.0, in order to be able to build the BuildNetStandards again.

[2017-10-08 17:44] masaeedu commented on #2111
@mikkelbu Can you get a listing of your `C:\Program Files\dotnet\sdk` folder? You can have multiple SDKs installed simultaneously, and the `global.json` dictates which one will be used (if available).

[2017-10-08 17:47] mikkelbu commented on #2111
Here you are
[code]

[2017-10-08 18:16] masaeedu commented on #2111
Hmm. I was guessing you had the exact version installed, but looks like this isn't the case. So I guess there's no real rhyme or reason to which versions of the `dotnet` sdk are compatible and which are not: `1.0.1` seems to be good, whereas my `1.0.4` is not.

Maybe the Cake build should just ignore build failures before running the test step.

[2017-10-08 19:56] BlakeWills commented on #2146
I thought I had a solution to this, but as already mentioned above, the fundamental problem here is that `Throws.TypeOf()` returns `ExactTypeConstraint`, rather than `ExceptionTypeConstraint`.

This is a problem because `ThrowsConstraint.ApplyTo()` returns an instance of `ThrowsConstraintResult`, with the base result set to the caught exceptions type (rather than the actual exception). As mentione

[2017-10-09 06:49] agray opened #2481 "Saucery3 hanging against NUnit 3.10"
Saucery is now open source!

The NUnit 3 implementation is [here](https://github.com/Sauceforge/Saucery3).

We seek to release a new version of Saucery for each release of NUnit. Currently we are depending on NUnit 3.8.1 and seek to use the newest available NUnit Console Runner (currently 3.7).

The unit tests execute but then our Selenium tests hang.  NUnit Log files attached.

    C:\Personal\Je

[2017-10-09 09:54] lundmikkel commented on #1473
Sorry, guys; I totally missed you comments!

So, I think the assertion should work if the item being checked is null. That would mean that checking  null items should be fine, just like checking properties on non-null items should be fine. If you order by a property, it should fail if the object is null, since that is a regular null pointer exception.

I haven't done any kind of work on this, nor

[2017-10-09 12:26] j4nw commented on #2477
I'd like to look into this

[2017-10-09 15:58] jogibear9988 commented on #2069
maybe this is the issue: https://codeblog.jonskeet.uk/2017/10/08/diagnosing-a-linux-only-unit-test-failure/ ?

[2017-10-09 15:59] jogibear9988 commented on #2069
maybe realted: https://github.com/dotnet/coreclr/issues/14391

[2017-10-09 16:11] Suremaker commented on #2395
The same is happening in our project where we use SetUpFixture

[2017-10-09 16:59] rprouse commented on #2481
I expect this is a duplicate of our various parallelization hangs that are currently being looked at. I am going to mark this as confirm to confirm if the other fixes fix this issue.

[2017-10-09 17:05] rprouse commented on #2111
The other issue we are going to run into here is that newer versions of Cake will install a specific version of .NET Core if the version it needs is not installed and put that in the path before the installed version of `dotnet`. I ran into this in the adapter and eventually gave in and fixed the adapter to compile using the version of `dotnet` that Cake installed. I did update the version in the

[2017-10-09 17:11] psandhu79 commented on #2280
@jnm2 Regarding the code sample you mentioned using IsolationUtils would it be possible to get this.

[2017-10-09 17:14] rprouse commented on #454
@kevingoos please open a new issue for your problems. They may be related to the original issue, but it has been closed so long that I would prefer to start a new issue with your specific problem. Thanks.

[2017-10-09 17:16] rprouse commented on #2477
@j4nw the issue is yours. I am going to assign myself to mentor you on the issue if you have any issues. Please keep us up to date on your progress and let me know if you need any help.

[2017-10-09 17:19] rprouse commented on #2146
@BlakeWills I am going to assign this to @mikkelbu to work with you on this issue.

As for your analysis, I would need to look at the code, but your analysis and possible solution sound like a good start.

[2017-10-09 17:20] rprouse commented on #2369
Agreed

[2017-10-09 17:20] #2369 closed

[2017-10-09 18:20] CharliePoole commented on #2402
@ChrisMaddock I already fixed this in my ongoing PR for parallel execution, since I needed it in order to debug. It's a one-line change. Should I do a separate PR for it?

[2017-10-09 18:37] CharliePoole commented on #2369
Some explanation may be needed here - perhaps some documentation.

If I come upon this issue as a naive user, I read the title and see the won't fix, with the conclusion that we don't support VS2012. But that's not correct.

[2017-10-09 19:42] ChrisMaddock commented on #2402
@netonjm was going to revisit this - so long as he's aware you've got it sorted @CharliePoole, sounds good to me!

Will leave it up to you as to whether to separate it out or not, I don't have any particular objection to it not being.

[2017-10-09 21:28] ChrisMaddock commented on #2480
We use the NUnit 3 MSBuild Community Task you linked to at work. I don't know a lot about MSBuild though, so I have some naive questions.

1. Have you tried a contribution to the existing task, to instead first look for a local console, before checking for an installed console? Writing an entire new task just to check a different tool location seems overkill - am I missing something?

2. I'm confu

[2017-10-10 06:05] jskeet commented on #2069
I wouldn't expect *Mono* to be affected by this bug, but if it's failing on .NET Core 1.0 but working on .NET Core 1.1, that would be suggestive that it's the same problem.

[2017-10-10 06:23] netonjm commented on #2402
Sounds good to me 👍 !
Thanks @CharliePoole !

[2017-10-10 07:26] #2402 closed

[2017-10-10 07:28] mikkelbu commented on #2402
Hi @netonjm. The issue has automatically closed due to #2482. Regarding the wish for additional information in the labels, I think that this is best addressed in a new issue, as this is not a bug, but an improvement.

[2017-10-10 13:06] jnm2 commented on #2280
@psandhu79 For a separate appdomain, this is the code:

[code]

Executing in a separate process is a little more involved (emitting an assembly) but I can share that too if you are interested.

[2017-10-10 13:31] jnm2 commented on #2280
It's not possible to create a NewAppDomainAttribute to apply to the test and cause set up and teardown to also run in that other AppDomain. From the test I ran, the only thing holding that back is that every type deriving from `TestCommand`, including any involved thirtd-party types, would have to be serializable.

[2017-10-10 13:36] jnm2 commented on #2280
@psandhu79 For a separate appdomain, this is the code:

[code]

One thing to watch out for is to not pass in lambdas or local functions which capture local variables or parameters, because the compiler will create an autogenerated closure class for that which will not be serializable. It's straightforward enough to manually write a serializable closure class. (Note, not `MarshalByRefObject` but `[

[2017-10-10 17:40] jairbubbles commented on #2480
Yes when you put a `.targets` file in  the `build` folder of your package it will be used automatically when building your project.

Manually add a new target in a project is pretty straight forward, just add these lines:
[code]

And you can run the tests by running:
[code]

It's not ideal as I also have to reference two packages:
[code]

Moreover if you run it on the solution it will fail on proj

[2017-10-10 19:01] stevewi1950 commented on #2480
Hi, just for info...
The NUnit3 task in the MSBuild.CommunityTasks does allow you to specify where the nunit3-console exe is via the ToolPath.

<NUnit3 Assemblies="@(TestAssemblies)"
              ToolPath="$(MSBuildProjectDirectory)\lib\NUnit\console"
              Process="Single"
             OutputXmlFile="$(MSBuildProjectDirectory)\build\TestResults.xml"/>

Hope this clears things up.  I know

[2017-10-10 19:07] jairbubbles commented on #2480
Yes that's what I do in my example!

The point of this is to be able to run NUnit tests from everywhere as simply as possible.

Now for running tests with Visual Studio we just need the "NUnit3TestAdapter" and it works like a charm. For command line it's more complex as we need to install NUnit on the machine.

[2017-10-10 23:18] agray commented on #2481
Thanks @rprouse, Do the attached log files show this is a parallelism bug or has issue #1118 reared its head again?  i.e. Are the tests not being discovered?

[2017-10-11 09:50] mikkelbu commented on #1809
In #2069 there were references to  https://codeblog.jonskeet.uk/2017/10/08/diagnosing-a-linux-only-unit-test-failure/ and dotnet/coreclr#14391 about problems with "pair of doubles" and reflection on Linux 1.0.x runtime. It could be the same error here.

[2017-10-11 12:01] #2469 closed

[2017-10-11 19:43] romansp commented on #2435
I'd like to work on this.

I already looked into what BenchmarkDotNet guys did to detect correct version of .NET Core. Here is the specific commit: https://github.com/dotnet/BenchmarkDotNet/commit/857f2bf92458d2b6321a5a61eb0e6a61d1d10bdf. Do you think it will be a good approach to fix this issue?

I found several places where `RuntimeInformation.FrameworkDescription` is currently used:
https://git

[2017-10-11 21:29] matt40k opened #2485 "Remove\Trim copyright on individual files"
It seems a little overkill to have to include the full copyright text (22 lines) on each file. Couldn't this be removed as the license is in the root of the project in a license.txt file. Failing that, could you reduce it down to "see license.txt" like VS Code has done like:
[code]

https://github.com/Microsoft/vscode/blob/master/src/bootstrap.js

[2017-10-11 21:54] jnm2 commented on #2435
@romansp Thank you, that is much appreciated!

Real quick, I have a question for you and @nunit/framework-team.

We've been showing "Framework version" and calling it "CLR version." To me that's confusing because the CLR is not a framework, it is a runtime, and specifically it is the Windows-only OS component.

.NET runtimes are virtual machines. Examples: CLR, CoreCLR, Mono, Blazor.
.NET framewor

[2017-10-11 21:56] CharliePoole commented on #2485
I think we definitely need a header on each file. Traditionally, the MIT license has appeared in full in each file in most software that uses it, while GPL and Apache used a standard short header that refers to the full license. Microsoft's use of a short reference header for the MIT license is a bit of a change from tradition.

@nunit/core-team members: Is this an issue for the core team or for t

[2017-10-11 22:10] jnm2 commented on #2485
All legal issues being equal, I'm for less ceremony. I don't have to scroll as far down in every file and that's nice. Similarly, I don't see any reason to constrain individual project leads from whichever they prefer.

A recurring thought is that I would love to have an analyzer so that I can insert/update copyrights using <kbd>Ctrl</kbd>+<kbd>.</kbd> and so that I get a warning when I forget.. W

[2017-10-11 22:13] jnm2 commented on #2485
See also the Cake project:

[code]

[2017-10-11 22:14] jnm2 commented on #2485
AutoMapper has an MIT LICENSE.txt but no headers, which is what all my projects do.

[2017-10-11 22:16] jnm2 commented on #2485
Mono.Cecil:

[code]

[2017-10-11 22:49] jnm2 commented on #1943
@ChrisMaddock yeah, you're not wrong. However, I'm really curious what everyone thinks about my last proposal? Actually it should be `SetArgNames`, not `SetParamNames`:

[code]

Outputs:

`Namespace.FixtureName.MethodName(Stewart {C} Robertson, 42)`

Does this capture everyone's use cases?

[2017-10-11 22:51] jnm2 commented on #2395
@Suremaker were you one of the people that was running into the intermittent console runner disappearing and causing a socket exception? I wonder if there is crossover here.

[2017-10-11 23:01] CharliePoole commented on #1943
I think we've kicked this around for too long. ☹️

[2017-10-11 23:14] jnm2 commented on #1943
@CharliePoole Hey, it hasn't been a year yet! 😆

@stewart-r Looks like you and I are the only people who happen to use `SetName` and use curlies at the same time. Does [`SetArgNames`](https://github.com/nunit/nunit/issues/1943#issuecomment-335970889) look interesting to you?

[2017-10-11 23:49] jnm2 commented on #2319
@rprouse And it's been approximately two months and Update 4 is also out, so both the current update and the last update have the byte order mark fix. I'm not sure how to estimate how many people are still on 15.0–15.2. What do you think?

Worst case scenario if we go ahead too soon is that we'll get a PR with every first line of edited files showing delete of the line without BOM and addition of

[2017-10-12 01:35] Suremaker commented on #2395
@jnm2 I am currently travelling and for 2 weeks I won't be able to check it. Unfortunately I did not check the details when I observed the issue, however it was it was always hanging on each run, after around 12th-16th finished test (so not at the beginning of the run, but always after a specified, constant amount of the run tests)...

[2017-10-12 03:11] jnm2 commented on #2395
Okay, don't worry about it.

[2017-10-12 07:17] appel1 opened #2486 "Message when asserting null with Is.EquivalentTo could be more helpful"
If `result.Things` is null in the following example the failure message is a little bit confusing.

[code]

Message:
`System.ArgumentException : The actual value must be an IEnumerable`

Perhaps the null case could have a more specific message?

[2017-10-12 07:28] stewart-r commented on #1943
@jnm2 It would certainly give me a solution, I'm just not sure I have a need for the extra params in my method name so (for my own particular scenario) it doesn't give me anything beyond Charlie's `asIs` suggestion and would come at the expense of being just a fraction less intuative IMO.

I'd be perfectly happy with either proposal though.

Maybe I am guilty of seeing the world through the prism

[2017-10-12 09:34] LazyPotato opened #2487 "Different order of actual and expected in collection asserts"
Hello,
we are using custom comparers in asserts and have discovered this insignificant though annoying problem.

`Assert.That(actual, Is.EqualTo(expected).Using(comparer)`
In overridden `Equals(T first, T second)` method of comparer **expected** comes as **first**, **actual** - as **second**.

`Assert.That(actualCollection, Does.Contain(expected).Using(comparer)`
In this case, comparing the elemen

[2017-10-12 11:18] j4nw commented on #2477
@rprouse just letting you know that I haven't forgotten about the issue, I haven't been able to find the time these past few days. Thank you

[2017-10-12 13:11] ChrisMaddock commented on #2486
I don't see any harm in someone implementing this. I think it may be slightly non-trivial, but I haven't looked in detail.

As I'm sure you're aware, if `result.Things` is possibly null, for now you could do:

    Assert.That(result.Things, Is.Not.Null.And.EquivalentTo(new[] { "abc" }));

[2017-10-12 13:12] ChrisMaddock commented on #2486
I'll label this up-for-grabs soon, but would like to give it 24 hours or so, and give anyone else the chance to disagree!

[2017-10-12 13:20] mikkelbu commented on #2486
I also think that this is a reasonable wish.

Note, that "the change" probably needs to be done in approx 10 places to be consistent, as we have similar checks for `IEnumerable` in most collection constraints.

[2017-10-12 13:23] ChrisMaddock commented on #2486
I was overthinking this.

It would be trivial to include a different _error_ message when actual is null. The current error message is meant for when a non-ienumerable is passed in, not when a 'null ienumerable' is passed in. It would be more involved to instead produce a custom failure message.

[2017-10-12 13:38] ChrisMaddock commented on #2435
@jnm2 - Why not both?! ¯\_(ツ)_/¯ Runtime is also user configurable, through the `--framework` option, so definitely should be shown somewhere. I think at the moment, you can maybe only see what you requested, not what actually run? I could be wrong here.

[2017-10-12 14:08] ChrisMaddock commented on #2319
If this is worst case scenario - in my opinion, it's not worth worrying about! 🙂

[2017-10-12 15:07] jnm2 commented on #2319
@rprouse I can squeeze that in #2320 or anyone else can update it later.

[2017-10-12 15:13] jnm2 commented on #1943
@stewart-r Just to reiterate, `asIs` doesn't help me because I don't have access to the test method name from inside the test case source so I need the `{m}` part which `asIs` won't help with.

Since my proposal sounds equally good to you, and it seems to be the only thing so far that covers both our use cases, I'll start a new issue to clear the waters here and cc you.

Me too, honestly.

The thi

[2017-10-12 15:20] jnm2 commented on #2435
@ChrisMaddock Sure, I'm happy with that! Determining the runtime version would require a little research and so is outside the scope of this particular issue but we can start another. In the meantime for this issue then, as @romansp adds the code to determine the actual framework version, can we change every occurrence of `"CLR Version"` to `"Framework version"`?

[2017-10-12 15:33] rprouse opened #2488 "Improve performance of discovery/execution"
@OsirisTerje commented on [Thu Sep 28 2017](https://github.com/nunit/nunit3-vs-adapter/issues/392)

It has been found that discovery of test cases are slowed down by the processing of traits.

[2017-10-12 15:35] ChrisMaddock commented on #2485
I agree this is a Project Lead decision. I have no personal preference.

[2017-10-12 15:37] rprouse commented on #2488
This is a copy of an issue in the adapter. We've found that some of our internal XML processing code is causing performance problems in larger test suites. Some fixes have been made in the adapter, but improvements can be made in the framework too. This needs investigation and performance testing to determine what can be done.

See https://github.com/nunit/nunit3-vs-adapter/issues/392

[2017-10-12 15:48] ChrisMaddock commented on #2488
This is related to the issue below that I wanted to look at a few days ago. 🙂 At least for the 'run individual test' workflow - not overall performance.

https://github.com/nunit/nunit/issues/3#issuecomment-334953472

[2017-10-12 16:34] rprouse commented on #2369
I have updated the workarounds to include using the ZIP package, but we don't support VS2012 and NuGet, so isn't the title correct and not misleading?

[2017-10-12 16:39] rprouse commented on #2319
Sure, put it in #2320. We can catch in code reviews, but hopefully contributors keep up to date if they are using 2017.

[2017-10-12 16:42] rprouse commented on #2485
I would be okay with the shorter header. I have thought about doing the same thing myself. Not a high priority though.

[2017-10-12 16:43] jnm2 commented on #2319
Done and added `Fixes` keyword.

[2017-10-12 16:45] rprouse commented on #2488
@navin22 will add some performance issues he has found to this issue.

[2017-10-12 16:48] ChrisMaddock commented on #2435
Sounds good visually. For the xml - it could be possible that runners e.g. nunit-console are looking for the clr-version attribute to parse and display in the view. We should consider backwards-compat here - leaving a clr-version attribute in place may be preferable in the XML - even if it's not very 'correct'.

[2017-10-12 16:54] jnm2 commented on #2435
Oh, I was thinking of them all as display strings but you're absolutely right. XML should stay `<clr-version>` while display labels can be `Framework Version`.

@romansp, can you also change these two lines to say `Framework Version`?

https://github.com/nunit/nunit/blob/8e71ca642f2033fdd6cf2976c8f165824955dc74/src/NUnitFramework/nunitlite/TextUI.cs#L175

https://github.com/nunit/nunit/blob/8e71ca

[2017-10-12 17:43] jnm2 commented on #2486
I'm not opposed to changing it to a failure message like "Expected: IEnumerable But was: null`.

But if we keep it as an exception message, I've always thought it was the perfect message. It's a well-known C# fact that `null` is not `IEnumerable` (see `null is IEnumerable`).

[2017-10-12 19:20] romansp commented on #2435
Thanks guys for all the input. Going to dedicate my time on the weekend to make a good PR.

@jnm2, sure! Will change `Environment.Version` usages that you mentioned, thanks.

[2017-10-12 19:33] #2319 closed

[2017-10-12 20:09] bmolnar2 commented on #2021
I'd be happy to check out this one. Ready to dive into open-source contribution. :)

[2017-10-12 20:14] jnm2 commented on #2021
@bmolnar2 Awesome! It's yours. I'm assigning myself to the issue to keep track of it. Let us know if you need anything.

[2017-10-12 21:09] CharliePoole commented on #2485
Specific wording is important, obviously. Handling files that are licensed differently is also an issue.

Scope of this "standard" is also important: organization? core projects? project by project?

[2017-10-12 21:16] CharliePoole commented on #2021
If I'm reading the history right, this got made into a feature without significant discussion and without selecting among the alternative implementations.

[2017-10-12 21:25] jnm2 commented on #2021
I don't recall significant discussion on every enhancement, but what sort of discussion would you like to have? Now that we're here, are you asking for @bmolnar2 to leave this for now? If so, it would be nice if the discussion didn't drag on. 😃

[2017-10-12 23:21] rprouse commented on #2021
This issue has been open for 10 months and has been `help wanted` for 4 months. I would assume that if there were no objections to the enhancement in that time that no new objections would be coming this late in the game. I do however agree that we should select between the two variants before @bmolnar2 does any work on this. Personally, I prefer the `Has.MaxTime` variant. The other variant would

[2017-10-13 01:56] jnm2 commented on #2413
I added a fallback to resolve things out of whatever folder `typeof(object).Assembly.Location` is in and that seems to be okay for now.

[2017-10-13 04:56] jnm2 commented on #2413
Special attributes recognized and translated back to C#.

Current results: https://pastebin.com/nLSzWPBA

Todo list moved to https://github.com/jnm2/ApiContractGenerator/issues.

Next up: MSBuild integration.

[2017-10-13 07:26] CharliePoole commented on #2021
Basis of my comment was that @jnm2  proposed, @rprouse made it a discussion item and @jnm2 accepted it as a feature without discussing the merits.

I construe making something a discussion item as meaning we aren't sure we want to do it.

We don't do this with every feature but when somebody - especially the project lead - says it needs discussion, then it means the desirability of the feature is

[2017-10-13 11:29] josteink commented on #2486
I've submitted a PR for this issue. Consumer-wise and code-wise the result should be the same as before, but with another exception-message.

[2017-10-13 12:42] ChrisMaddock commented on #3
The complication I've missed from my original plan, is that framework TestFilters examine all descendent of an ITest, to see if an ITest passes the filter. If we haven't created the descendants - we can't examine them.

This makes things more complex. It would be simple to optimise the `class` filter, via `FrameworkPackageSettings.LOAD` - but not the filters to run an individual test, which were t

[2017-10-13 15:49] jnm2 commented on #2021
My guess is @rprouse saw that there _was_ discussion and labeled it as such. Maybe I was mistaken, but I don't see an ask for more discussion in the history of this issue.

In hindsight, I should have probably tagged the framework team and ask for more comments. Yes, I agree I should ask for more than one person's vote of confidence before I come back, see support, and move it forward. It felt awk

[2017-10-13 17:25] pknouff commented on #1473
I can take this one.

Just so I'm clear on the intent here,

[code]
should not thrown an exception. Or is the intent to explicitly control this via something like

[code]

as originally suggested in the issue description?

[2017-10-13 17:30] jnm2 commented on #1473
I see several people in favor of the first an no one set against it. I also am in favor of not requiring `AllowingNull`. `AllowingNull` is basically admitting that there was no reason to block it in the first place.

We need to make a note of the behavioral change in the release notes so that people can do `Has.None.Null.And.Ordered`  like @CharliePoole said if they relied on `Is.Ordered` to impli

[2017-10-13 17:39] pknouff commented on #1473
Alright. I take it the [docs](https://github.com/nunit/docs/wiki/CollectionOrderedConstraint) should be updated as well to explain this new behavior?

[2017-10-13 17:46] jnm2 commented on #1473
They won't be incorrect after the change but being explicit always improves docs. @rprouse can give you access to edit the docs.

I'm removing the up-for-grabs label to indicate that the issue is yours.

[2017-10-13 17:46] jnm2 commented on #1473
Oh wait, it's called `help wanted` now. 😄

[2017-10-13 19:29] CharliePoole commented on #2021
I agree we should minimize meta-discussion on issues but when the process hasn't been followed and it comes up, there's no other way to do it. Unfortunately, we don't have a good place to have such discussions without going non-transparent via email. And it's better to have the discussion than waiting for the PR and then having one of us say "we don't need this feature." So, for all those reasons,

[2017-10-13 19:52] jnm2 commented on #2021
Points well taken. It's easy enough to slow down and ask more questions if I'm not sure. I can and will certainly do better.

[2017-10-13 20:01] jnm2 commented on #2021
(And sorry @bmolnar2 for the drama I've caused on this one.)

So @nunit/framework-team, we can't think of a good way to make `Does.Not.Timeout` work because we'd have `Does.Timeout` as Rob points out. Does anyone have an objection to us moving forward with `Has.MaxTime`?

[2017-10-13 21:05] CharliePoole commented on #2021
@jnm2 Thanks for your gracious reply. You are not actually owed 100% of the blame here, but that's getting too much into the meta.

Since this issue, which you created back in January, only has my attention now. I'll start at the beginning.

What you are suggesting is some way to do timeouts right in the test code, similar to how we replaced `ExpectedExceptionAttribute` with `Throws` - except, of

[2017-10-14 00:01] CharliePoole commented on #3
I'm not taking this on but here are some thoughts for whomever wants to.

1. Generally, a runner that calls Load explicitly wants to see all the tests, so no filtering is wanted.

2. OTOH, a batch runner will just call Run, which triggers a call to load in the engine.

3. When the load is triggered by a Run, a filter is available. That filter may be fully or partially translatable to a list of Tes

[2017-10-14 10:26] bmolnar2 commented on #2021
I started to go through the various documentations and also gave a try on building the solution. On the latter one, several error occurs, when I build the solution. I may miss some piece of information on that part (after reading Building.md file several time).

Can someone reach me out on mail? I made mine public, so you can do.

I'll start human static code analyzer in the mean time. :)

[2017-10-14 14:20] jnm2 commented on #2021
@bmolnar2 We're in the middle of a discussion on when we can fix various aspects of the build situation: https://github.com/nunit/nunit/pull/2380

For now the workaround is to run `.\build.cmd -t build` before opening the solution in Visual Studio.

[2017-10-14 18:43] ChrisMaddock commented on #3
I'd only looked at framework level so far - where I believe load has to be called separately? If we're using LOAD - yes that would be engine.

I don't understand why you would modify the filter passed to run? I agree you can deduce something to populate LOAD*. Why is there the need to then change what you pass to run? Creating two modified filters seems unnecessary, unless I'm missing something?

[2017-10-14 23:43] CharliePoole commented on #3
You could definitely populate the load filter without modifying the run filter. That means you would be filtering twice on some things, unnecessarily. My thought was to eliminate the filtering at runtime for those things that were already filtered out in the load, but that's probably better as a subsequent optimization.

None of this would help in the adapter. It has to load all the tests in order

[2017-10-15 06:09] #1473 closed

[2017-10-15 09:53] erik-kallen opened #2491 "Make it possible to specify a custom factory method for TestFixtures"
It would be nice if it were possible to specify a custom factory method for tests. I propose this API:

[code]

What I am actually trying to achieve is to run all tests for a class in a separate AppDomain, and with this feature I could inherit my tests from `MarshalByRefObject` and create the object in a separate app domain and everything would (hopefully) just work

[2017-10-15 13:46] jnm2 commented on #2491
If we did this, it seems like the first thing we should look at is enhancing the existing [TestFixtureSource](https://github.com/nunit/docs/wiki/TestFixtureSource-Attribute) capability to use a custom static method other than the constructor to instantiate the fixture.

[2017-10-15 13:50] jnm2 commented on #2491
Also see https://github.com/nunit/nunit/issues/2280#issuecomment-335474469. Does this get you to your actual goal? If not, what are the specific shortcomings?

[2017-10-15 14:02] CharliePoole commented on #2491
We do already have a separate request for an attribute that would run tests in a separate AppDomain.

In addition, the proposed implementation doesn't leverage NUnit's normal way of building fixtures through an IFixtureBuilder attribute.

However, it doesn't seem like you really want a new kind of fixture, but to run the fixture in a different way. That would imply adding an attribute that collabo

[2017-10-15 15:30] erik-kallen commented on #2491
@jnm2 If I understand that thread correctly, the solution with `IsolationUtils` would require me to use `IsolationUtils` inside every test, which is something I want to avoid.

@CharliePoole Is there a timeline for that feature? Thanks for the hint about IFixtureBuilder, I think that will solve my problem (although it will require users to use `[SeparateAppDomainTestFixture]` rather than the norma

[2017-10-15 16:03] erik-kallen commented on #2491
This is the code I ended up with. Do you see any dangers?

[code]

[2017-10-15 17:31] jnm2 commented on #2491
Exactly and thanks for confirming that.

I see a race condition where the second AppDomain will not be torn down if NUnit happens to overlap two calls to `IFixtureBuilder.BuildFrom` withe the same argument. Why not get rid of the dictionary and make an internal `AppDomain` field inside `SeparateAppDomainTestBase`?

[2017-10-15 17:38] CharliePoole commented on #2491
I won't have time to give your code a real review till late in the day (PDT). A few quick comments...

NUnit attributes are not really designed for inheritance even though we don't seal them. You could run into problems, especially if you want to support parameterized fixtures.

Your fixture real __isa__ TestFixture. Tests are identified in the same way for example. You just want a minor change in

[2017-10-15 17:57] jnm2 commented on #1897
Is this good to be closed?

[2017-10-15 18:05] jnm2 opened #2492 "EqualConstraint.Using(StringComparer.*) causes overload ambiguity error"
[code]

fails to compile:

In fact, `StringComparer` matches four of the overloads. 😆

We could:

 1. Make the common string comparer selection case easier by adding a new overload to receive a `StringComparison` enum.

 2. Add a new `Using(StringComparer)` overload to disambiguate which forwards to any of the four other `Using` overloads.

 3. Add `Ordinal` and `OrdinalIgnoreCase` modifier proper

[2017-10-15 18:27] erik-kallen commented on #2491
@jnm2 I do want to have the AppDomain as a member variable, but that requires a method of SeparateAppDomainTestFixtureAttribute to be called when the fixture is torn down. Is there such a method?
Is there a risk that NUnit will overlap calls to IFixtureBuilder.BuildFrom with the same argument? That was just the kind of questions I hoped to get answered, thanks.

[2017-10-15 18:29] mikkelbu commented on #1897
I think so (but I'm unsure whether the wiki was ever updated)

[2017-10-15 18:45] jnm2 commented on #2491
@erik-kallen This is what I meant:

<details>

[code]

</details>

[2017-10-15 18:50] jnm2 commented on #2491
I don't know of any guarantee that it won't. For example, there's a feature request that a new fixture instance is created per test case to make parallelism work with instance state. That would bring out the race condition rather dramatically. 😃

It's additionally dependent on what the engine and runner do, not just the framework. If you use NUnitLite and decide to run two threads, or if Visual St

[2017-10-15 18:57] erik-kallen commented on #2491
@jnm2 Thank you for the explanation.

Your idea to fix the race worked after a slight modification:

[code]

[2017-10-15 19:26] jnm2 commented on #2491
Lol! Sorry for missing that. :+1:

[2017-10-15 20:13] bmolnar2 commented on #2021
Well, it took me while (also did a windows install), but could build the solution, however only after unloading NetStandard13 and NetStandard16 projects. So I guess, there is still some problem.

But anyway, I can spend some quality time finally to get familiar with the problem and the related code.

[2017-10-15 21:39] jnm2 commented on #2021
@bmolnar2 I'm certainly sorry to hear it took a lot of time for you. Just curious, what's your VS version and update?

[2017-10-16 00:54] CharliePoole commented on #2491
I made one of those mysterious disappearing comments this morning. Let's try again!

Going back to the original description...

You seem to be requiring the user to do all the work. Ideally, placing an attribute on the fixture class should be sufficient and the attribute should take care of it.

As to the type of attribute, I don't think it should be a fixture builder. Looking at what you are doin

[2017-10-16 01:10] CharliePoole commented on #1897
Looks like I merged a commit that was supposed to fix it.

[2017-10-16 04:01] bmolnar2 commented on #2021
It's 14.0.25431.01 (2015) with Update 3.
I see nunit's solution specifies 15.0.26430.6.
Shall I updated?

[2017-10-16 04:23] jnm2 commented on #2021
The theory is you shouldn't have to update, but the .NET Standard stuff is pretty confusing. If you think it would make your life easier, updating may solve the issues you're seeing. If you're happy with what you've got going right now, keep it. =)

[2017-10-16 04:57] mikkelbu commented on #1897
The merged commit contained only some tests illustrating that it is not a problem (if one used the generic version of the comparers.

[2017-10-16 07:21] erik-kallen commented on #2491
@CharliePoole The reason the user needs to derive from a custom class is that I need to unload the app domain when the test is run. I could not find a way for my attribute to get called after the test run is finished (although there might be a way)

[2017-10-16 08:19] rvhuang opened #2494 "CollectionAssert.AllItemsAreUnique() very slow"
Consider following simple test case:

[code]
it takes about 14 seconds to complete.

However, applying MS Test Framework to same test case, it takes about 12 ms only to finish.

[code]

The gap between two should not be that huge.

[2017-10-16 08:57] ChrisMaddock commented on #2494
NUnit uses a different way to test for uniqueness, than MSTest.

MSTest uses simple object equality. NUnit equality tests go through [NUnitEqualityComparer ](https://github.com/nunit/nunit/blob/e7c7826da8b064cfcc518b1035e1c270588abc79/src/NUnitFramework/framework/Constraints/NUnitEqualityComparer.cs)- which has extra complexity.

Looking at that class however, there may be low hanging fruit. Befor

[2017-10-16 09:31] rvhuang commented on #2494
@ChrisMaddock Thanks for looking into the issue. We have a test case which requires to check uniqueness of 10k items and it cannot finish within one minute. The performance improvement shall help us a lot.

[2017-10-16 12:02] CharliePoole commented on #2494
@ChrisMaddock I'm not looking at the code but I believe we accept an IEnumerable rather than an ICollection. You. Might be able to create a special case for collections. Of course we are also doing a lot of boxing in the case of an int value.

[2017-10-16 12:17] ChrisMaddock commented on #2494
@CharliePoole - we do, but I'm not sure what sort of special case you're thinking of? Would love to hear, if you get a chance to look later!

[2017-10-16 12:35] #2486 closed

[2017-10-16 12:38] ChrisMaddock commented on #2492
Option 1 is ugly on our side, but the least obtuse to the user. That's my favourite. 👍

[2017-10-16 12:49] jnm2 commented on #2492
.NET Core 2.0 added `StringComparer.FromComparison` (https://github.com/dotnet/corefx/issues/13800) but until that makes it into .NET Standard (and a version we target) we'll have to write a boring `switch`. 😁

[2017-10-16 12:51] jnm2 commented on #2492
Wait! I just thought of another alternative: Add a `StringComparer` overload purely for disambiguation. What do you think of that one? I'll add it to the top.

[2017-10-16 15:57] CharliePoole commented on #2494
A simple thing to try would be (in `Matches`)

[code]

That way, if an IList were passed in, we would not create a new one.

Following that (if tests showed it necessary) I'd use a generic helper to eliminate boxing. I'm busy on parallelization stuff or I'd give it a try myself.

[2017-10-16 17:24] ChrisMaddock commented on #2494
This is a good candidate for [Accidentally Quadratic](https://accidentallyquadratic.tumblr.com/)! (If not purposefully quadratic...) Question is now, how we avoid that, whilst still using NUnitEqualityComparer.

Out of time for now, will come back to it. My first plan is to add some efficiencies to `NUnitEqualityComparer.AreEqual()` - this is low level so should be as efficient as possible - and t

[2017-10-16 18:56] CharliePoole commented on #2494
Hard to see how comparing each item to each other item could be any less than O(n*(n-1))

I'll take a quick shot at an idea I have.

[2017-10-16 19:00] jnm2 commented on #2494
The typical thing people to is a hash table which is likely where MSTest gets its speed, but we would have to be very careful how we calculated the hashes for that so that no two hashes are inequal if `NUnitEqualityComparer` would consider them equal.

[2017-10-16 19:02] jnm2 commented on #2494
My bad, the hash table is technically O(1).

[2017-10-16 19:04] jnm2 commented on #2494
Okay, I'm reading that checking for element uniqueness with a hash table is O(n).

[2017-10-16 19:16] jnm2 commented on #2494
For now I'd say don't use `CollectionAssert.AllItemsAreUnique` for this scenario. You often have to write specialized assertion code in specialized scenarios. In your case, all you need is a `new HashSet<string>(StringComparer.Whichever)` and you can find and report non-unique instances.

Or this, if you want repeat counts:
[code]

And if lambdas aren't efficient enough, you can translate this to

[2017-10-16 20:08] jnm2 commented on #2480
I understand the appeal of now requiring a machine-level installation of NUnit. One issue with putting nunit3-console.exe etc in the same package as the build target is that the build target isn't necessarily going to know the path to nunit3-console. You shouldn't assume people are going to be using the crippled `packages.config` where the packages are cached relative to the solution.

What I've d

[2017-10-16 20:26] jairbubbles commented on #2480
If you put the .exe and the build .targets in the same package it is quite easy to find the path of the executable. You just need to use MsBuild properties like `MSBuildThisFileDirectory`. It will be something like `($MSBuildThisFileDirectory)\..\tools\nunit3-console.exe`

[2017-10-16 20:38] jnm2 commented on #2480
Good, thanks for pointing that out.

It's not like you'd ever have an existing project referencing NUnit.Console which would be messed up by the NUGet  package starting to add a Test target. I think this is a cool idea, definitely preferable to requiring global state (machine install) for the build script.

[2017-10-16 20:43] jairbubbles commented on #2480
Actually I think the change will be just to add a `build/NUnit.targets` file in the `NUnit.ConsoleRunner` package that contains:
[code]
It's a pretty simple change and I have the feeling that it will have no impact at all for people using this package as a "tool" package.

[2017-10-16 21:51] CharliePoole commented on #2494
@ChrisMaddock I added my name as a co-assignee. I'm working at the top end and I'll leavE `NUnitEqualityComparer` for you. PR shortly.

[2017-10-16 23:05] phillipsj commented on #1747
@ChrisMaddock I would like to give this a try.

[2017-10-17 06:38] fluffynuts commented on #1212
After discussion with Bob Sammers, who has made valuable contribution to NUnit.StaticExpect, I'd just like to remind anyone subscribed to, or stumbling across this thread that [NUnit.StaticExpect](https://github.com/fluffynuts/NUnit.StaticExpect) (nuget: [https://nuget.org/packages/NUnit.StaticExpect](https://nuget.org/packages/NUnit.StaticExpect)) provides a fairly effortless drop-in replacement

[2017-10-17 07:10] mikkelbu opened #2497 "Use ConstraintUtils.RequireActual through out the codebase"
In #2489 we introduced a new helper method `ConstraintUtils.RequireActual` to verify that a given instance is a given type. The method was used in `CollectionConstraint` (https://github.com/nunit/nunit/pull/2489/files#diff-0bd8c864e13609fb56985f6d45dcd0d7R73) and `CollectionEquivalentConstraint` (https://github.com/nunit/nunit/pull/2489/files#diff-511119f00b739abcc41ccb36df45f89fR98), but we have

[2017-10-17 10:20] ChrisMaddock commented on #1212
Great to see NUnit.StaticExpect getting some attention @fluffynuts - this is a great solution to the problem!

-----

@nunit/framework-team - I think we're probably close to being able to wrap this issue up. Can I propose the following, based on where we are now?

1. AssertionHelper remains obsolete and unmaintained for the rest of the 3.x series.
1. AssertionHelper is removed in 4.0
1. We update

[2017-10-17 11:03] ChrisMaddock commented on #1747
Thought I recognised your name @phillipsj - I see you did those Cake NUnit Labels PRs. Welcome to NUnit! 😄

The issues all yours - look forward to the PR. 🙂 Shout up if you have any questions - I've assigned this to myself to track progress.

[2017-10-17 11:05] #1346 closed

[2017-10-17 12:35] ChrisMaddock commented on #1747
@phillipsj - did you have an idea of what you were planning in terms of an API for this? I'm not sure the best way to specify string/value pairs in an attribute to be honest.

@CharliePoole - did you have any thoughts about what this would look like when you moved it over?

[2017-10-17 12:44] fluffynuts commented on #1212
@ChrisMaddock I don't have any problem with bringing this into the NUnit organisation at all -- indeed, I think it might be a good idea because it will look like a more "official" alternative instead of some code cranked out by an arbitrary code-monkey on the interwebs (: Not sure how this is achieved though, so I welcome information (:

I also *intend* to remain as maintainer -- but it might be a

[2017-10-17 13:02] ChrisMaddock commented on #1212
@fluffynuts Ok! 🙂

Let's discuss the future of NUnit.StaticExpect separately, in [governance](https://github.com/nunit/governance) - and keep this issue for deciding what to do about the current NUnit.Framework.AssertionHelper - so we can get this boxed off. I'm out of time for now, but will write up an issue tonight to start the discussion.

[2017-10-17 13:51] CharliePoole commented on #1212
Keeping to the topic of this issue, how does the existence of `NUnit.StaticExpect` impact our decision about `AssertionHelper`? I had not heard of it before and it looks like an excellent solution. I was ready to drop `AssertionHelper` cold - even without a replacement - and still am. What about other @nunit/framework-team members? Does `NUnit.StaticExpect` as an alternative lead you to be ready t

[2017-10-17 14:07] CharliePoole commented on #1747
To be honest, I didn't give it much. It does present a problem, since we have to specify two things in one property value. The only obvious solution I can see is "key=value", limiting the values to strings.

@phillipsj If it turns out that it was a bad idea to accept this issue in the first place, that's a vaild outcome as well.

[2017-10-17 14:10] MajorMeow opened #2498 "Any fifth test falls on server (nunit3-console.exe)"
Hello everyone. I am trying to use the nunin3-console.exe (3.7.0) runner, but am receiving a System.IO.FileLoadException on the any fifth test. If I delete this test, then another fifth test falls.

[code]

[2017-10-17 14:17] ChrisMaddock opened #2499 "Allow setting IgnoreAttribute on a namespace"
Today, I wanted to ignore all tests under a certain namespace. IgnoreAttribute can currently only be applied to Methods, Classes and Assemblies - is there any reason to restrict that? As far as I can think, applying it to a namespace, if permitted, should just work?

[2017-10-17 14:28] CharliePoole commented on #2499
It's not possible to apply an attribute to a namespace. You can create a dummy `SetUpFixture` and apply certain attributes there. Whether the effect is what you want would depend on the attribute but I'm pretty sure Ignore will work.

[2017-10-17 15:41] ChrisMaddock commented on #2499
My bad - I mis-read the intellisense error message! Thanks. 😩

[2017-10-17 15:41] #2499 closed

[2017-10-17 17:09] ChrisMaddock commented on #1747
This reminds me of our current 'escaping separators' problem with `TestContext.TestParameters` - I wouldn't be too keen to add that to another place...

Unless we can come up with with a nice API, I personally think we should close the issue as wont-fix - with using TestCaseData being the requirement. Will leave this open a little longer to see if anyone else has any inspired ideas for how we can

[2017-10-17 17:54] CharliePoole commented on #1747
While this isn't quite as bad as the parameters issue, I'm inclined to agree with Chris.

As a potential workaround for the OP, I wonder if an extension method would work on an attribute.

[2017-10-17 18:12] phillipsj commented on #1747
I seen it was marked for beginning.  I haven't given it much thought yet,
but it does seem a challenging implementation to be clean.

On Tue, Oct 17, 2017, 2:08 PM CharliePoole <notifications@github.com> wrote:

[2017-10-17 18:14] Heteroculturalism opened #2500 "Can't handle async/await in delegate call"
nunit 3.8.1

nunit3-console.exe NUnitBug.sln --config=Debug

The attached project has an example of not handling async/await calls within a delegate.  Execution does not resume when the asynchronous method call times out .  As such my unit test is erroneously failing.  Please advise.
[NUnitBug.zip](https://github.com/nunit/nunit/files/1392099/NUnitBug.zip)

[2017-10-17 18:19] #2491 closed

[2017-10-17 18:22] Tyrrrz commented on #2168
I'm having the same issue. Also, the MSTest framework doesn't have this problem.

[2017-10-17 18:26] jnm2 commented on #1212
If our release notes, and what people will see conspicuously in the NuGet package manager, show a warning at the top of the description like, "Warning: the obsolete AssertionHelper has been removed. To continue using it, you must also reference the NUnit.StaticExpect package." — then personally I'm equally happy doing it next minor release or continuing to wait.

[2017-10-17 18:28] jnm2 commented on #2168
Eh... the @nunit/framework-team is waiting on me for this. The work is basically done, but I haven't written all the tests I want us to carry forward. I would like comments on https://github.com/nunit/nunit/pull/2181.

[2017-10-17 18:29] CharliePoole commented on #2491
@erik-kallen Did you intend to close this? (People often click close by mistake.)

[2017-10-17 18:35] CharliePoole commented on #1212
@jnm2 The notice would have to be more like "reference the NUnit.StaticExpect package" and

* stop inheriting from AssertionHelper
* add a using statement
* possibly some code fixes (@fluffynuts is there anything else?)

I'd still drop it myself. IMO StaticExpect's use of static methods instead of inheritance is a significant improvement.

[2017-10-17 19:25] voltcode opened #2502 "Unable to use Custom Attribute in tests in another assembly"
Scenario:

Assembly1 contains a Custom Attribute called "Blah"

Assembly2 contains a TestFixture with Test and "Blah" attributes. References are OK, meaning the code compiles correctly.

I run nunit3-console.exe on Assembly2, the test is not found.
If I remove the "Blah" attribute, the test is discovered by nunit3-console.exe

Is there a way to tell nunit to load attributes from another DLL? Shoul

[2017-10-17 19:48] fluffynuts commented on #1212
@CharliePoole I can't think of anything to add, offhand, though most of what you mention should be in the README.md already (and if there's anything which isn't, it *should* be added; indeed, this README *should*, imo, provide all the information a person needs to switch -- because it would be silly and annoying if it didn't!).

So if you have the time, I'd appreciate a review and commentary on [h

[2017-10-17 20:01] CharliePoole commented on #1212
@fluffynuts The only thing I'd want to see added would be a few more examples, e.g.:

* Use of constraints (replacing `Is` and `Has` syntax)
* Use with other than Assert/Expect: e.g. Assume, Warn.

I just wanted to be sure it's a complete replaceme (or give notice if it isn't)

What's the deal with non-C# code? Can you use it in VB for example?

[2017-10-17 20:03] voltcode commented on #2502
Sorry my mistake, I didn't notice I had a nunit version mismatch between the attribute dll and the dll with tests.

[2017-10-17 20:03] #2502 closed

[2017-10-17 20:05] CharliePoole commented on #1212
@fluffynuts To be clear, I'd dump `AssertionHelper` without a replacement but I've been in the minority. But we recommend a replacement, I'd like to make it completely clear what it replaces and what (if anything) it doesn't. I like the idea that your readme should explain everything.

[2017-10-17 20:20] CharliePoole commented on #2494
@ChrisMaddock Are you sure MSTest uses object equality?

[2017-10-17 20:25] jnm2 commented on #2502
You may run/be running into https://github.com/nunit/nunit/issues/2230.

[2017-10-17 20:29] jnm2 commented on #2500
Your problem is that this method returns immediately:

[code]

So your test fails because `sut.MethodUnderTest();` returns before waiting for the queue to do anything:

[code]

[2017-10-17 20:30] jnm2 commented on #2500
`sut` needs to provide a way for `Test1` to wait for the queued action to complete.

(This isn't specific to NUnit; it's just doing things they way you told it to do them.)

[2017-10-17 20:32] CharliePoole commented on #2230
@nunit/framework-team Here's another one of those issues where we have discussed three or four alternative features. It seems clear we are not going to do the one that's suggested by the title. Perhaps it would be clearer to close this.

[2017-10-17 20:34] #2500 closed

[2017-10-17 20:36] jnm2 commented on #2500
Your code is very generic so this might not be the right fix depending on the semantics of `ClassUnderTest.MethodUnderStart`, but it is a potential fix:

[code]

And:

[code]

[2017-10-17 20:43] erik-kallen commented on #2491
Yes, I did. There was already a perfectly valid way to solve my problem.

[2017-10-17 20:49] CharliePoole commented on #2494
Some choices we appear to have here...
1. Leave it alone - doesn't seem to be acceptable given how slow it is.
2. Document that we __do not__ use NUnit equality for this constraint.
3. Document that we __do not__ use NUnit Equality for the `CollectionAssert` call and stop using the constraint in that case.
4. Analyze actual to decide whether a more efficient approach can be used in a given situati

[2017-10-17 21:21] Heteroculturalism commented on #2500
You're right, simply wasn't waiting long enough after invoking MethodUnderTest.  D'oh!

[2017-10-17 21:30] jnm2 commented on #2500
No problem. I'd highly recommend using a TaskCompletionSource (or anything else that provides a ManualResetEventSlim) to wait for, versus waiting for a fixed about of time. If the CPU is under load, the thread can be preempted for arbitrarily large amounts of time and cause spurious failures due to incorrect testing. We see this kind of thing a lot in CI with timeouts.

[2017-10-17 21:42] Breemua commented on #2497
I'll take this if possible

[2017-10-17 23:02] jnm2 commented on #2497
Welcome! That was quick! 😄

[2017-10-18 00:02] CharliePoole opened #2504 "Support changing test display name on TestFixtureData"
The `TestCaseData` class supports the `SetName` property to allow changing the name of the test but there is no corresponding property for `TestFixtureData`. I need this for a PR I'm working on.

[2017-10-18 02:14] dynamatt opened #2505 "Include the expected result and actual result for each assertion in the test output"
NUnit currently only logs the expected and actual result in the test output .xml file if the test fails. It would be very helpful to have this information for each assertion, even when the test passes.

[2017-10-18 04:15] fluffynuts commented on #1212
@CharliePoole I'm totally on-board with the idea that a readme that the user is directed towards should be explanatory and clear. I'm also aware that I may miss something which you (or anyone else on the NUnit team) might deem important -- hence the call for review. To that end, and to answer some of the issues you raise:

- I'll certainly add some more examples
- Assume / Warn appear to not be pa

[2017-10-18 05:37] fluffynuts commented on #1212
@CharliePoole to my glee:
`Imports NUnit.StaticExpect.Expectations`
provides the same functionality in VB.NET as
`using static NUnit.StaticExpectations.Expectations`
does in C#. Just tested this now in a small VB.NET test library.

[2017-10-18 05:44] fluffynuts commented on #1212
(and, as a side-note, I now understand why `AssertionHelper` copied off the methods on (for example), `Is` - because I can't, in VB.Net, do
`Expect(1, Is.EqualTo(1))`,
but I can (through the static import) do:
`Expect(1, EqualTo(1))`

So I just need to flesh out the documentation more. I can give that a look tonight (:

[2017-10-18 06:18] DianaKoenraadt opened #2506 "Range attribute for decimal?"
Hi all,

First off, NUnit is great, thanks for all your efforts :)
I noticed the RangeAttribute does not support decimal (from, to, step). Is there a specific reason for this? Is it by design, or open for extension?

Kind regards

[2017-10-18 06:26] CharliePoole commented on #1212
I was only thinking you might want to let people know they can use `Assume` or `Warn` along with the static constraint-building properties.

WRT `Is` in VB - that's why we have `Iz`. 😄

[2017-10-18 06:29] CharliePoole commented on #2506
It's not possible to have a decimal attribute argument in C#. However, NUnit will accept int or double values and convert them for use with decimal parameters.

[2017-10-18 06:30] #2506 closed

[2017-10-18 06:38] DianaKoenraadt commented on #2506
Oh, really? You live and learn. Thanks!

[2017-10-18 08:35] navin22 commented on #2488
I see the following as the top time consuming calls in the latest release of 3.9.0-dev-04564 version

Cross App Domain calls during the events NUnit.Framework.Internal.Execution.TestFinishedEvent.Send & NUnit.Framework.Internal.Execution.TestStartedEvent.Send.

![image](https://user-images.githubusercontent.com/19592945/31708479-b628b260-b40c-11e7-9845-5576d4ffb897.png)

I have uploaded the perfvi

[2017-10-18 09:24] BobSammers commented on #1212
As @fluffynuts mentioned, `StaticExpect` tests against the `AH` functionality via reflection to ensure complete coverage of `AH`. Currently, 2 of these tests fail (actually are special-cased out) because the functionality of `AH` has diverged from the `Is` and `Does` members that it shadows (specifically `InRange` and `Exactly`, respectively).

I'd be interested in how long `AH` is likely to remai

[2017-10-18 17:34] JinaJita commented on #839
Hey :) Is this still up for grabs? If it is I would like to do this :)

[2017-10-18 17:53] CharliePoole commented on #1212
@BobSammers We haven't been adding features to `AssertionHelper` for a while, so it doesn't surprise me that it has fallen behind some new features. Feel free to create an issue for any divergence you want to fix... I put it that way, because it probably wouldn't get much priority otherwise.

@nunit/framework-team There hasn't been much recent comment here, so it's hard to respond to @fluffynuts a

[2017-10-18 18:00] OsirisTerje opened #2507 "Parallel tests are hunging with 100% CPU load"
@lamest commented on [Tue Oct 17 2017](https://github.com/nunit/nunit3-vs-adapter/issues/409)

If too many async tests runs in parallel, part on tests (usually 4 or less) runs normally and the rest of them pending indefinitely with CPU load near 100%

* NUnit 3.8.1 and NUnit3TestAdapter 3.8.0
* Visual Studio Enterprise 15.3.5
* [repro](https://github.com/lamest/NunitParallelTest.git)
* .net Framew

[2017-10-18 18:26] fluffynuts commented on #1212
Whichever way things go, I've updated the README.md tonight, largely borrowing from the AssertionHelper documentation.
As a side-note I've also update the solution to use a single, multi-target project, so it's a little neater. And included generated XML documentation in the package.

[2017-10-18 19:03] ChrisMaddock commented on #1212
Sorry Charlie - but it's only been a little over 24 hours! Afraid I can't always respond to things that fast. 😞

----

Previously, I was keen on just removing AssertionHelper in a minor release. What changed my mind was the issues we saw with removing TestFixtureSetUpAttribute etc in 3.8. To summarise - in 3.8 we removed some attributes which had been deprecated since 3.0 - assuming this would be

[2017-10-18 19:32] ChrisMaddock commented on #1212
Separate issue for discussing bringing NUnit.StaticExpect into the NUnit organisation: https://github.com/nunit/governance/issues/33

[2017-10-18 19:46] ChrisMaddock commented on #2494
@CharliePoole - Looks that way to me: https://github.com/Microsoft/testfx/blob/e3d6e822df12fed112a9c68311a11fac8a4cf914/src/TestFramework/MSTest.Core/Assertions/CollectionAssert.cs#L338

I'd personally considered changing functionality here too much of a breaking change. I agree we should work to improve this, however, if nothing can be done, I would consider leaving it unchanged preferable to cha

[2017-10-18 20:25] CharliePoole commented on #1212
@ChrisMaddock Actually, you're the one who responded already! That said, we seem to have left this undecided for something like nine months and we've been silent since July, until @fluffynuts just pushed on it again.

I like your proposal with one reservation. I think we should modify the `Obsolete` message to recommend use of `StaticExpect` now, rather than waiting.

FWIW, my desire to remove thi

[2017-10-18 21:03] ChrisMaddock commented on #1212
I agree - these were meant as three separate points - not an ordered list. 😄

[2017-10-19 08:12] mikkelbu commented on #2497
Fixed by #2503
Thanks for the work  @Breemua 👍

[2017-10-19 08:12] #2497 closed

[2017-10-19 13:20] jnm2 commented on #2494
I think the same as @ChrisMaddock. My personal preference would be a combination of options 4 and 5 and Chris's idea, and those things don't all have to be tackled at the same time.

[2017-10-19 14:01] rinubaby commented on #1208
[assembly: Apartment(ApartmentState.STA)] is broken in 3.8.0 and 3.8.1, it seems to work in 3.7.1.

[2017-10-19 14:39] ChrisMaddock commented on #1208
@rinubaby - This is being tracked here: https://github.com/nunit/nunit/issues/2426

[2017-10-19 15:24] rinubaby commented on #1208
Thanks!

[2017-10-20 08:54] liamharries commented on #2507
Facing the same issue with versions 3.8.1 & 3.8.0, reverting to 3.7.1 or previous removes the issue.

[2017-10-20 08:59] ChrisMaddock commented on #2507
@CharliePoole's been working on some of these bugs in https://github.com/nunit/nunit/pull/2476.

@CharliePoole - can I assign this issue to you, along with the rest? This seems a different case in that it uses lots of async, but I assume in the same area?

[2017-10-20 11:42] ChrisMaddock commented on #1747
Without any better API suggestions, I'm going to go ahead and close this issue.

Sorry about that @phillipsj - can we help you find something else? I'd love someone to take on https://github.com/nunit/nunit/issues/2405 *whistles*

[2017-10-20 11:42] #1747 closed

[2017-10-20 14:21] rvhuang commented on #2494
Maybe it can do a further check which is checking if type `T` implements `IEquatable<T>`. If it does, the whole test can easily be done by utilizing `EqualityComparer<T>.Default`.

[2017-10-20 14:33] CharliePoole commented on #2494
In this PR I'm limiting myself to fixes in the constraint itself. Longer term, I agree we should look at how we do equality in general.

[2017-10-20 14:42] rinubaby commented on #2426
We've already upgraded to 3.8.1 (was on 2.6.2 earlier), since we have a large number of tests, we are being blocked by this issue, any timeline as to when the next release (fix) will be available? Also, seeing occasionally that test runs are getting hung. Is this only a 3.8.1 problem, wondering if going back to 3.7.1 would fix the hanging issue as well. Thanks.

[2017-10-20 14:50] ChrisMaddock commented on #2426
Both these issues were regressions in 3.8.x - so 3.7.1 should work for you until the next release.

I don't believe anyone's currently working on this issue - so as to a fix it really depends when someone picks it up and submits a pull request.

[2017-10-21 12:23] rprouse commented on #839
@JinaJita this is an extremely low priority and I think I am going to close this issue. There is plenty of cleanup that could be done in the code that is just visual changes and so probably not worth it. I would rather see some of the other help wanted issues worked on. Please take a look around, there are plenty of other issues that we could use help with 😄

[2017-10-21 12:23] #839 closed

[2017-10-21 18:40] stevenaw commented on #999
I notice that we also use `TestOf` as a publicly-settable property of type `Type` on [TestAttribute](https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Attributes/TestAttribute.cs#L73) and [TestFixtureAttribute](https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Attributes/TestFixtureAttribute.cs#L122). Should these properties also be updated for consisten

[2017-10-21 18:55] CharliePoole commented on #999
I don't think we want to go beyond allowing multiple attributes.

[2017-10-22 11:43] bmolnar2 commented on #2021
So, there are a bunch of tests failing in a clear master branch. Is that normal?
I am mostly suspicious about failings like:

However tests like this are confusing too:

[2017-10-22 12:18] CharliePoole commented on #2021
Are you trying to run tests on NUnit using the NUnit VS test adapter? That won't work very well for a number of reasons.

The tests you are seeing fail are run by NUnit as a part of testing NUnit. We need failing tests, of course, in order to see that they fail correctly.

The real tests are found in nunit.framework.tests.dll and nunitlite.tests.dll. To run all tests for all supported runtime at t

[2017-10-22 13:26] Singh400 commented on #2498
`Error : System.IO.FileLoadException : Could not load file or assembly 'System.Data.dll'or one of its dependencies. Recursion too deep; the stack overflowed. (Exception from HRESULT: 0x800703E9)`

Have made sure your test project has that reference?

[2017-10-22 13:49] rprouse commented on #2498
What do you mean by fifth test? You mean you run 5 test assemblies and the fifth test assembly fails? It looks like you are running the tests one at a time, so each is a separate process and should be independent.

What happens if you add all 5 test assemblies in one run of NUnit console?

[2017-10-22 14:46] bmolnar2 commented on #2021
Yep, it was the adapter.
Worked from CLI, thanks.

[2017-10-22 16:06] romansp commented on #2435
Sorry guys, unfortunately can't find any spare time to work on this issue anytime soon. I wouldn't mind if someone else wants to take it.

[2017-10-22 17:46] mikkelbu commented on #2435
@romansp It is completely okay. I happens for all of us. I've removed you from the issue. And thanks for making the issue more accessible 👍

[2017-10-22 19:17] jnm2 commented on #2021
@bmolnar2 Asking for the sake of making things smoother for first-time contributors: could we have done something to make it easier for you to find https://github.com/nunit/nunit/blob/master/BUILDING.md#running-tests?

[2017-10-22 19:21] bmolnar2 commented on #2021
A note under the Running Tests section could help on the latter.
Also mentioning the VS2017 (15) dependency for the VS build would save some time, I guess.
Otherwise, so far so good docs. :)

[2017-10-22 19:32] CharliePoole commented on #2021
@jnm2 Oddly, that link seems to tell people to run the slow-tests assembly, which is not a top-level test.

@bmolnar2 The Running Tests section of the docs is oriented toward users of NUnit running their own tests. So it doesn't seem like a good place to tell developers of NUnit how to run tests. Maybe a note and a link, however.

[2017-10-22 19:38] jnm2 commented on #2021
@CharliePoole You're right, I'll fix that.

[2017-10-23 13:01] jnm2 commented on #2091
A note on `catch`: In C#, any non-`Exception` objects get wrapped and `catch (Exception e)` already catches everything.

See `RuntimeWrappedException` on [MSDN](https://msdn.microsoft.com/en-us/library/system.runtime.compilerservices.runtimewrappedexception.aspx#Anchor_4).

[2017-10-23 13:03] CharliePoole commented on #2021
@rprouse I raised questions on whether we need this feature. Subsequently, we had meta-discussion of our own procedures and answered technical questions from the person working on it, who has now submitted a PR. I think this illustrates what an happen when we allow things to get away from us.

I realize that you expressed a preference for this feature, in the form of `Has.Maxtime` but it's pretty

[2017-10-24 03:03] ericnewton76 opened #2514 "Create Test(s) dynamically"
@CharliePoole I saw you mention a few times about creating tests dynamically... based on a file list or something, which is exactly what I would like to do.

Here's the setup: I maintain the https://github.com/ericnewton76/gmaps-api-net project which basically makes the Google Maps API available as a c# strong(er) typed library.

A lot of times the json responses from google services "evolve", mea

[2017-10-24 08:18] Seddryck commented on #2514
I'm also trying to dynamically generate tests in my [project](https://github.com/Seddryck/NBi/) Tests are generated based on the content of an XML file (corresponding to a DSL). With NUnit 2.x, I used the strategy of using the attribute TestCaseSource referring to a method. This method is parsing the DSL, building objects and constraints and the main method is using ```Assert.That(obj, constraint)

[2017-10-24 17:05] ericnewton76 commented on #2514
For the time being, I'm using TestCase with the url and filename to pass into test methods, which could then upgrade with a TestCaseSource i suppose.

Still would be nice to be able to create tests dynamically.

[2017-10-24 18:06] CharliePoole commented on #2514
@ericnewton76 and @Seddryck As far as I can tell, you have different issues, so I'll answer each separately.

But first a word about "dynamic" test cases... 😄

That word is a bit dangerous, with a number of different potential meanings...

* Tests whose logic is generated programmatically versus being hard-coded in the source as methods. We have nothing like that and don't plan anything. I don't t

[2017-10-24 18:09] CharliePoole commented on #2514
@ericnewton76 Do you really want a dynamic (by any definition) test? Or do you actually want a test that compares what is received with a golden master, which you can change as needed?

Extending that... do we need a constraint in NUnit that compares two JSON files?

[2017-10-24 18:25] CharliePoole commented on #2514
@Seddryck I dont' think "everything" is assembly-centric, but framework drivers definitely are. The purpose of a framework driver is to allow the engine to work with diverse test frameworks like NUnit 2, NUnit 3, JUnit, xUnit, etc. If you have a framework of your own, then you could conceivably publish a driver that would allow any NUnit runner to run its tests. BTW, the current implementation ass

[2017-10-24 18:40] ericnewton76 commented on #2514
I was going for a set of test cases that compare vs a golden master that you can change.

I'm thinking the TestCaseSource works fine, since the code itself is basically boilerplate in that it would 1) grab json from specific url, 2) grab json from specific local file, 3) check equivalency, ie the hierarchy of keys and not be concerned about the actual values.

This would help us understand how goo

[2017-10-25 01:41] rprouse commented on #2021
@CharliePoole has a point about the semantics of `MaxTime` vs `Timeout` in other places in our code and that they should match the semantics of the constraints. Reading through the PR, @bmolnar2 has maintained the correct semantics and does not time out the test, but reports if the action takes more than the correct amount of time. I think that is good and a useful feature, but this issue talked a

[2017-10-25 02:33] CharliePoole commented on #2021
I see two places where this went awry.

First, in talking about MaxTime and Timeout as variants of the same thing. Of course, they both specify time limits and so are superficially similar. But the first just times the test, reporting a failure if the max time is exceeded. The second requires additional infrastructure. Some thread has to be waiting to Join on the test thread with a timeout specifi

[2017-10-25 14:56] evenflow58 commented on #2083
I think the problem is Guid.NewGuid(). I ran into the same problem but was trying to just return a guid, which did not work. I did notice that parsing a guid (i.e. Guid.Parse("4dcbe9ef-86c1-4e48-ac7e-5d29e3dc62cc")) works fine

[2017-10-25 15:38] ChrisMaddock commented on #2083
@evenflow58

Try using `TestContext.Random.NextGuid()` to generate your Guid. This uses NUnit's own random functionality, which is seeded for reproducibility.

[2017-10-26 07:32] CharliePoole commented on #2083
Shouldn't this either be closed or moved to the adapter project?

[2017-10-26 12:49] jnm2 commented on #2021
I have one alternative proposal since everyone seems to like `Does.Not.Timeout(int)` so long as it is not composed together with other constraints.

[code]

This gets the best of both worlds I think and isn't a big change or a breaking change.
What do you all think?

[2017-10-26 13:13] CharliePoole commented on #2021
That allows you to write things like...

[code]

Are you intending to support that? Frankly, I see no need. Again... see above... why does this have to be a constraint at all? An expression like

[code]

Is consistent with expressions like `Assert.Multiple` syntactically and allows you to put anything you like, including asserts, inside the block.

[2017-10-26 13:31] jnm2 commented on #2021
As Rob said above:

If we don't think that all the syntax under the `Throws` class is a problem, we shouldn't consider this a problem either.

[2017-10-26 15:46] SoulFireMage commented on #132
I really needed this void support guys: extremely limited use case yet it was quite important. Is there no get around?

An area I need to test absolutely does not need to return anything but I can't structure the test to try it out. I'm working with the file system, have to use async and isCompleted to know when to get to the next operation as it fails by trying to carry on before the copy file st

[2017-10-26 16:36] CharliePoole commented on #2021
It's a weakness of the syntax we use that we can't detect some errors until runtime. It's not peculiar to Throws. Something like `Assert.That(42, Does.StartWith("4"))` does the same thing.

However, we made a `ThrowsConstraint` because it allows __valid__ chaining as well as invalid. For example: `Assert.That(() => throw new Exception("garbage"), Throws.Exception.With.Message.EqualTo("garbage"))`

[2017-10-26 19:53] mikkelbu commented on #2083
After some researching I found out that this is a duplicate of nunit/nunit3-vs-adapter#97, and  @CharliePoole gives a nice explanation of the problem here https://github.com/nunit/nunit-vs-adapter/issues/15#issuecomment-39654379. That being said the solution is to do as @ChrisMaddock suggests.

Ps. I tried to do the same exercise with xUnit, and the behaviour is the same in Visual Studio, so I thi

[2017-10-26 19:53] #2083 closed

[2017-10-26 21:43] #2091 closed

[2017-10-26 22:30] CharliePoole commented on #2494
The top-down fix is ready to merge in PR #2501. I'm taking my name off this issue and leaving @ChrisMaddock to decide if further work at the back end is necessary.

[2017-10-26 22:36] mikkelbu commented on #1212
I think that https://github.com/nunit/nunit/issues/1212#issuecomment-337695330 very precisely captures my thoughts (and is expressed much better than I can do), especially regarding the "thinning out the core API".

[2017-10-27 12:02] ChrisMaddock commented on #2494
Let's close this when the PR is merged. I think any changes in NUnitDefaultEqualityComparer will be micro-optimisations, which I'd like to do anyway, but are a separate issue.

[2017-10-27 12:54] rprouse opened #2515 "Retarget Solution to use the New CSPROJ Format"
For most of the discussion and reasoning, see #2380. That PR has grown, so I am creating a separate issue to track the changes if we decide to move forward with it and release. A few key points from the PR.

This merges all of our targets into one project per assembly making maintenance easier.

![image](https://user-images.githubusercontent.com/493828/29592982-8b634f18-8775-11e7-9d54-884abb2d9477

[2017-10-28 18:08] ChrisMaddock opened #2516 "When test writes something to the stdErr there is no guaranteed way to link a test-output event to a target test using ITestEventListener"
@NikolayPianikov commented on [Thu Oct 26 2017](https://github.com/nunit/nunit-console/issues/305)

For example:

- Unit test `SuccessfulStdErrorTest` has code: `System.Console.Error.WriteLine("errorout");`

- ITestEventListener receives the following events:
[code]

`test-output` has no information id/parentId about a target test and there is no way to attach this error output. It is important to

[2017-10-28 18:15] ChrisMaddock commented on #2516
As far as I can see, @NikolayPianikov is correct - there's currently no way to associate test output with a particular test, when running in parallel, and test-names are not guaranteed to be unique.

This sounds a sensible feature for any GUI runners which wish to associate output with a particular test.

[2017-10-28 18:50] CharliePoole commented on #2516
I agree with testId. It's parentId that I have a problem with. NUnit's ids are unique within the run.

[2017-10-28 22:12] MhdTlb commented on #2516
I would like to work on this issue. But I need more explanation

[2017-10-28 22:59] CharliePoole commented on #2516
Find where we create `<test-output...>` elements in `TestOutput.ToXml()`. Add an `id` attribute along with the existing `stream` and `testname` attributes. Although order is not significant, you should probably use the same order as we use in our result XML to avoid confusion.

[2017-10-29 13:41] ChrisMaddock commented on #2516
@MhdTlb - Great! 😄

Charlie's explanation is correct. The test ID lives on the the ITest interface, so can be retrieved and passed to the TestOutput object in the same way as the test name currently is. Then it will just want adding in the `ToXml()` method, and some unit tests adding.

Assigning this issue to myself to track progress - shout up if we can help any more. 👍

[2017-10-29 16:50] CharliePoole commented on #2395
It turns out that restoring the queues was starting all queues, so that parallel and non parallel tests were running at the same time. Fixed in #2476.

[2017-10-29 20:10] CharliePoole commented on #2471
I've determined that `[Parallelizable(ParallelScope.Children)]` works correctly on parameterized methods in the latest build of #2476, so I'm counting this as being fixed when that PR is merged.

We have a general set of problems around attributes that appear on a .test method but which are expected to somehow affect all the test cases for that method.

There are three potential situations

1. Att

[2017-10-29 20:48] CharliePoole commented on #1239
@RobinsonWM Not sure if this is still an issue for you, but I'd like to clean it up.

Can you explain if there is anything special you are trying to achieve in having two SetUpFixtures in the same namespace with one parallelizable and the other non-parallelizable? Essentially, they are equivalent to a combined SetUpFixture with the two parts running in an indeterminate order. So it's not entirely

[2017-10-29 21:07] RobinsonWM commented on #1239
I worked around it by combining them into a single `SetUpFixture`  and calling `Task.Run()` multiple times in the `OneTimeSetUp` method.

My intention was for both SetUpFixtures to be parallelizable.  I only included the `[Parallelizable(ParallelScope.None)]` in my code sample to illustrate that, if you uncommented that line, it would work around the problem.  But I didn't intend to do that in my

[2017-10-29 21:28] CharliePoole commented on #1239
NUnit's structure of tests is a tree, with each node having only one parent. If we were to allow the two SetUpFixtures to run in parallel with one another, they would both need to be parents of the contained TestFixtures, transforming the tree into a more general directed network. So what we do is make one of the SetUpFixtures the parent of the other one, which in turn is the parent of the TestFix

[2017-10-29 21:34] CharliePoole commented on #1239
@nunit/framework-team I'm indicating in #2476 that it fixes this issue. We should review to see if more work is needed or a separate issue should be created.

In the fix, marking the two setup fixtures as parallelizable doesn't hang NUnit any longer. However, it doesn't have the effect that @RobinsonWM actually wanted: to allow the two SetUpFixtures to run in parallel. Currently, that is not possi

[2017-10-29 21:44] CharliePoole commented on #1905
I believe this problem was duplicated by issue #2361 which was fixed by PR #2375. I'm therefore closing it, but we can re-open if I'm mistaken.

[2017-10-29 21:44] #1905 closed

[2017-10-30 00:15] OmicronPersei commented on #2271
The main problem I'm seeing is that `NUnitEqualityComparer` recursively copies the settings from itself as it compares elements within an `IEnumerable`.  This is problematic because a true value for `compareAsCollection` tags along and prevents `EquatablesComparer` from actually looking at any `IEquatable` implemetation, because, the way it's currently implemented, comparisons are completely ignor

[2017-10-30 00:17] CharliePoole commented on #2364
This will be fixed by PR #2476. The error was not being recognized correctly.

Note, however, that the example given was not that of a `TestMethod` but of a `ParameterizedMethodSuite`. The intention is that `ParallelScope.Children` should work on a parameterized test method, which has children. I added tests to prove this in the PR.

[2017-10-30 00:20] OmicronPersei commented on #2271
What we could do is create a constructor for `NUnitEqualityComparer` that serves as a copy constructor, where when `NUnitEqualityComparer` creates its child comparers (`ArraysComparer`, `DictionariesComparer` and the like...), but it then instructs those to have `compareAsCollection` set to false as opposed to the super comparer, the original calling `NUnitEqualityComparer`.  Are there any design

[2017-10-30 00:48] OmicronPersei commented on #2271
As a quick and dirty implementation, I temporarily falsified the `CompareAsCollection` flag within the EnumerablesComprarer.Equal` method like so

[code]

Not the most elegant solution, but since the original `NUnitEqualityComparer` object reference is passed around for making note of things like `FailurePoints` etc, I'm not sure we can get away with just creating a new temporary `NUnitEqualityCom

[2017-10-30 00:55] CharliePoole commented on #2271
What if we give `NUnitEqualityComparer` a flag `_topLevelComparison`, which is initially set but is reset before making any recursive calls. Then add a new modifier to `EqualConstraint` with internal visibility... something like `IsCollectionAssert`... and use it rather than `AsCollection`. The `IsCollectionAssert` setting could cause the comparer to set `AsCollection` internally for the top level

[2017-10-30 00:59] CharliePoole commented on #2467
I added tests to demonstrate that this is not an NUnit framework problem. It may be that there is an adapter issue, of course, but I wanted to clear the issue here first.

[2017-10-30 02:48] jnm2 commented on #2271
It's nice to stay away from mutability. It makes a lot of sense to me to keep the comparer instance for the collection instance separate from the comparer instance to be used on the items within the collection. If the copy constructor idea isn't hard, that's what I'd want. That way we're also more in control of which equality settings are applied recursively to different levels of an object graph.

[2017-10-30 03:19] CharliePoole commented on #2507
@OsirisTerje I'd like to wait and see if PR #2476 fixes this.

[2017-10-30 08:42] ChrisMaddock commented on #1239
Re: different levels of parallelisation - there’s nothing actually unexpected here, is there? Nunit is essentially running one in parallel and one in non-parallel, that’s just an odd thing to be doing? I don’t see the need for an error message there.

Regarding multiple parallel setup fixtures not running in parallel - I think that one is more surprising, but I’m not sure of an easy was either to

[2017-10-30 15:05] jam40jeff opened #2518 "Bug in CollectionAssert.AreEqual for ValueTuples."
Within a test, the following code works:

[code]

However, the following code crashes when running the test:

[code]

Here is the exception message and stack trace:

[code]

[2017-10-30 16:12] ChrisMaddock commented on #2518
Thanks for the simple repro @jam40jeff. A PR would be welcome, if you'd be willing.

[2017-10-30 16:34] jam40jeff commented on #2518
Sure, I would be willing to do that, but I may not be able to get to it for
a few days.

On Mon, Oct 30, 2017 at 12:12 PM Chris Maddock <notifications@github.com>
wrote:

[2017-10-30 17:03] ChrisMaddock commented on #2518
Great! No problem. 😄

[2017-10-30 17:28] CharliePoole commented on #1239
@ChrisMaddock Essentially, I think the problem is that most users will assume that two SetUpFixture in the same namespace, marked as Parallelizable, will run in parallel. We should add to the docs to clarify that.

Source of the problem is that we model this internally as one fixture containing the other, which is not what the user sees. Changing the internal design is possible but also non-trivia

[2017-10-30 17:48] CharliePoole commented on #2518
I think this may be related to #2271. @jam40jeff Try doing it using `Assert` rather than `CollectionAssert`. If either of the two following work, my guess is that #2271 will also fix this.

[code]

A side problem, which this issue should deal with, is that CollectionAssert should really not accept non-collections without giving an error.

[2017-10-30 18:02] ChrisMaddock commented on #1239
I agree with you on both points. My previous comment on 'nothing unexpected' was referring to your first question, about when a user has one SetUpFixture parallelizable, and one non-parallelizable. 😄

[2017-10-30 18:11] CharliePoole commented on #452
After review, here's what remains to be done.

1. Release the latest nunit-console package for chocolatey, deprecating any previous portable or install releases.

2. Deprecate the existing nunit packages, refering to the nunit-console release, which is the closest in content even though it doesn't contain the framework.

[2017-10-30 18:36] rinubaby commented on #2426
I have a fix for this issue, can I do a pull request so that you can look at it? I am getting access denied.

[2017-10-30 19:34] CharliePoole commented on #2426
Anyone can do a pull request. Did you fork to your own account first?

[2017-10-30 21:04] jam40jeff commented on #2518
@CharliePoole What do you mean about `CollectionAssert.Assert` not accepting "non-collections"?  The input parameters are already typed as `IEnumerable`.

I tried using lists (`List<(int, int)>`) instead of arrays and it did work.  I also tried custom enumerables and they worked as well.  So the problem seems to only affects arrays.

[2017-10-30 21:15] mikkelbu commented on #2518
But `(int, int)[]` is a collection. I've looked a bit into the code, and I think that the problem is that the logic in `TupleComparerBase` for detecting whether the current comparator should handle the given type is wrong.

In `GetTypeNameWithoutGenerics` we extract the type name until the first '\`' to determine the underlying type. This works well for ``System.ValueTuple`2[System.Int32,System.In

[2017-10-30 21:52] rinubaby commented on #2426
Thanks Charlie, have opened a pull request.

[2017-10-31 00:21] vrushb commented on #1118
I am having issues running my specflow dll through nunit3 .I tried with nunit2.6.4 and it does not show errors but does not execute actual test .Spent 3 days but no clue
C:%Program Files (x86)%\Microsoft Visual Studio\2017\Professional\Common7\IDE
nunit3-console.exe \FIlePath\FileName.dll
Getting this error

[code]

Is there any way to run specflow scenarios with nunit or MStest.exe

[2017-10-31 00:26] CharliePoole commented on #2518
@jam40jeff AH! Never mind, I misread your example. Of course it's an array of ValueTuples, not just a ValueTuple.

@mikkelbu Looks like you're on the right track. I haven't looked at the code, but I would expect that ValueTupleComparer should be called for each array element, not for the entire array. How come it's dealing with the array type rather than the member type?

[2017-10-31 00:59] #2467 closed

[2017-10-31 01:12] MhdTlb commented on #2516
Thanks @ChrisMaddock. It is been a while a did not pull from master but when I did to day and I tried to build the solution, I got a bunch of errors most of them are: **"*** provides a compile-time reference assembly for *** on .NETCoreApp,Version=v1.0, but there is no run-time assembly compatible with ubuntu.14.04-x64."**

Am I missing a configuration to build the solution?
Note: I'm using Visual

[2017-10-31 02:25] jam40jeff commented on #2518
@mikkelbu As @CharliePoole mentioned, the root of the problem seems to actually be that TupleComparerBase is being passed the array object rather than a single ValueTuple.  The NullReferenceException actually occurs in the GetValue method (in ValueTupleComparer) because the field "Item1" cannot be found (since it is looking for that field on the array rather than on ValueTuple).

[2017-10-31 02:46] rprouse commented on #1118
@vrushb this issue was closed a couple of years ago. How are you installing NUnit? It looks to me like your assembly contains no NUnit tests. It could be because of a problem with how you are using SpecFlow. None of us use SpecFlow however, so you might want to ask for help from them. If you can reproduce the problem without SpecFlow installed, create a new issue here and we will help you.

[2017-10-31 07:59] mikkelbu commented on #2518
@jam40jeff Prior there was no special handling of tuples. This was introduced (by me :( ) in #893. I'll take a look at the PR.

[2017-10-31 09:34] ChrisMaddock commented on #2516
You may need to build in the command line, the first time around. After the initial package restore is done, I think working straight in VS will work. We’re working on fixing this.

Open a command prompt in your directory, and run ‘build’.

[2017-10-31 11:03] jam40jeff commented on #2518
Yes, I noticed this looking at the history.  Thanks for adding the Tuple
support.  I simply refactored the Tuple/ValueTuple type detection code into
TypeHelper (it was in a couple places prior), then added a simple check to
see if we have an array type before running the rest of your logic.

On Tue, Oct 31, 2017, 3:59 AM Mikkel Nylander Bundgaard <
notifications@github.com> wrote:

[2017-10-31 11:07] andrewlaser opened #2521 "Attribute Order is ignored, test fixtures (and tests) executed in alphabetic order"
Environment:
all latest NUnit packages:
NuGet package NUnit.3.8.1.
NuGet package NUnit Console Runner 3.7.0
NuGet package NUnit.Extension.NUnitProjectLoader.3.6.0
Selenium.Support.3.6.0
Selenium.WebDriver.3.6.0
NUnit3TestAdapter.3.8.0

**Runtime Environment:**
OS Version: Microsoft Windows NT 6.3.9600.0
CLR Version: 4.0.30319.42000

In the following example tests from testfixture ApiGiffGaffCases

[2017-10-31 12:24] ChrisMaddock commented on #2521
If you put Order(2) on the ApiRetailCases fixture, does this work?

Off the top of my head, I can’t remember what we defined for ordering when some fixtures are unspecified. I think it may be just that...unspecified.

[2017-10-31 13:13] mkvonarx opened #2522 "Assertion at sgen-scan-object.h:91 when running NUnit console runner on Linux on Mono"
We're building our .NET 4.6.1 application on a Linux CentOS 7.4 VM with Jenkins and Mono 5.4.0.201, and run our unit tests with the NUnint 3.8.1 console runner.

Quite often (about 1-3 in every 10 execution), the NUnint console runner fails with an internal assertion. We don't see this assertions on Windows with Microsoft .NET 4.6.1 and the same NUnit 3.8.1 console runner.

The NUnit console runne

[2017-10-31 13:21] mkvonarx opened #2523 "Error while executing reflected code when running NUnit console runner on Linux on Mono"
We're building our .NET 4.6.1 application on a Linux CentOS 7.4 VM with Jenkins and Mono 5.4.0.201, and run our unit tests with the NUnint 3.8.1 console runner.

Sometimes (maybe 1 in every 10 executions), the NUnint console runner fails with an "error while executing reflected code". We don't see this assertions on Windows with Microsoft .NET 4.6.1 and the same NUnit 3.8.1 console runner.

The NU

[2017-10-31 15:25] andrewlaser commented on #2521
@ChrisMaddock
1) Setting Order(2) in all Fixtures didn't help. Order remains alphabetic
2) according to the doc https://github.com/nunit/docs/wiki/Order-Attribute

[2017-10-31 15:52] CharliePoole commented on #2521
Let's go back to the original complaint: how do you know that one test started before the other? It's not something that is visible using the command-line settings you used. What do you see if you specify `--labels:Before`?

BTW, Since order is a framework function, we should debug this using the console-runner only because it interferes least with what you get from the framework.

[2017-10-31 16:51] andrewlaser commented on #2521
I know the actual tests order from the log I see in cmd window

Execution with suggested setting showed the following (sensitive data is skipped)
C:\Projects\RateSetter\Git\test-automation>C:\Projects\RateSetter\Git\test-automation\packages\NUnit.ConsoleRunner.3.7.0\tools\nunit3-console.exe C:\Projects\RateSetter\Git\test-automation\RS.Tests\bin\DebugStaging\RS.Tests.dll --labels:Before

Test File

[2017-10-31 17:03] jnm2 commented on #2413
🎉 https://github.com/jnm2/ApiContractGenerator/commit/025aa3caa8124fedcbd8939cd0aa95366f8375f1

[2017-10-31 17:25] vrushb commented on #1118
I tried installing from outside as well to run with older version.
Finally I could run the test through vstest.exe .So I am good .
Thanks for the suggestions. I will try.

Vrushali

From: Rob Prouse [mailto:notifications@github.com]
Sent: Monday, October 30, 2017 7:46 PM
To: nunit/nunit <nunit@noreply.github.com>
Cc: Vrushali Bhaskarwar <vbhaskarwar@legalconnect.com>; Mention <mention@noreply.gith

[2017-10-31 17:48] CharliePoole commented on #2521
Not sure what shows up in the command window... I assume you mean VS command window. The NUnit adapter doesn't produce output for each test, so it would depend on some logging you are doing yourself.

In the case of the console output, the default is that the labels appear at the __end__ of each test, since that's when the result is available. OTOH, the `--labels:before` option produces a label li

[2017-10-31 18:45] jnm2 opened #2524 "Has.Property(...).Null.Or.Empty does not work like Has.All.Null.Or.Empty"
[code]

Gives:

I guess that's due to the precedence of the Or?

Why then does this work?

[code]

[2017-10-31 19:27] ChrisMaddock commented on #2524
Is this not because the operator precedence, in order, is All -> Or -> Property?

Or was this a rhetorical question, and you're suggesting we should make it work? That sounds like potentially a massive can of backwards-compatibility-based-worms. 😄

[2017-10-31 19:30] ChrisMaddock commented on #2471
I agree, 4 sounds good. The current situation is logical with a deeper understanding of NUnit, to me.

This stuff could really use examples of these cases - I'm not sure I would have been able to guess that behaviour based on spec alone.

[2017-10-31 19:31] CharliePoole commented on #2524
Due to precedence rules, the first one means "object has property "Name" with a null value OR object is null"

The second one  means "list has all items either null or empty."

The key difference is that Property is one of those syntactic elements that actually changes what the following constraint acts on- i.e. to the value of the property. But that only applies to the immediately following const

[2017-10-31 19:33] ChrisMaddock commented on #2523
To answer both your recent issues - there's not really enough information here to diagnose either. Especially the other issue - the entire stacktrace seems to be within Moq.

If you crash is as regular as 1 in 10, can I suggest you add the flag `--trace=Debug` to your command line temporarily, which will write various log files. These may contain more information.

[2017-10-31 19:34] ChrisMaddock commented on #2522
See my response on https://github.com/nunit/nunit/issues/2523.

[2017-10-31 19:58] mkvonarx commented on #2523
Thanks for your reply! We'll try running it with `trace=Debug`.

[2017-11-01 02:48] agray commented on #2481
Will try testing with 3.8.2 when it is released and report results here.

[2017-11-01 15:23] ggeurts opened #2526 "SerializationException in low trust floating point equality test"
The following test throws when run in low trust appdomain:

[code]

System.Runtime.Serialization.SerializationException : Type 'NUnit.Framework.Constraints.Tolerance' in Assembly 'nunit.framework, Version=3.9.0.0, Culture=neutral, PublicKeyToken=2638cd05610744eb' is not marked as serializable.

[2017-11-01 16:36] #1239 closed

[2017-11-01 16:36] #2364 closed

[2017-11-01 16:36] #2395 closed

[2017-11-01 16:36] #2471 closed

[2017-11-01 16:36] #2478 closed

[2017-11-01 16:36] #2504 closed

[2017-11-01 16:41] CharliePoole commented on #2526
Ah, never mind, I see your test.

As you know, Tolerance is never passed across a remoting boundary by NUNit. I see no harm in making it serializable, but if many more things like that should pop up I think we might want to rethink the strategy.

[2017-11-01 20:13] qrdemole commented on #2395
Anybody is able to tell when we could expect a new version release containing this fix?

[2017-11-01 22:40] CharliePoole commented on #2395
@rprouse will have to speak to the schedule. But in any case, it would be great if you could try it out to make sure your case was covered completely. The latest dev build on our myget feed should have the change.

[2017-11-01 23:51] jnm2 commented on #2413
The only thing keeping us from being able to use this is that we need a way to include classes in the excluded (`Internal`) namespace. Extending, implementing, returning, or accepting internal types from the external API forces the internal type to be part of the external API in every sense that the external API itself is: It's the API we market and tell people to use and breaking changes to those

[2017-11-02 00:04] CharliePoole commented on #2413
The general principle you state is clear. An example might let me understand why you are stating it. 😄

[2017-11-02 00:17] jnm2 commented on #2413
@CharliePoole I'm stating it because it applies to these guys:

<details>

[code]

</details>

Right now this tool would mislead us into thinking we aren't making breaking changes when in fact we might be.

[2017-11-02 00:38] CharliePoole commented on #2413
AH! `Test` is a bit of an odd thing. The abstract class was once part of the API. I introduced `ITest` but continued to use `Test` in the interface - quite probably a mistake.

So... is cleaning up our public / private stuff a prerequisite to using your tool or is your tool something to help us perform that cleanup... or both?

I can see that __some people__ would consider changing this interface

[2017-11-02 00:42] CharliePoole commented on #2413
Note that even if we changed `ApplyTo` to take an `ITest`, the author of an attribute can always cast it to `Test` or even to `TestMethod` or `TestSuite` if they like. Based on past experience, I would expect somebody to come along and call changes to the derived class breaking as well.

[2017-11-02 00:48] jnm2 commented on #2413
I was thinking the former is unrealistic if the tool is to be useful and the latter could come later in the form of opt-in/opt-out warnings, but for right now all I want to implement is recursively pulling in types from ignored namespaces that are referenced in non-ignored namespaces. We should at least *see* them. The philosophy I want with this tool is not to prevent breaking changes but to bett

[2017-11-02 00:53] CharliePoole commented on #2413
Sounds like we agree. If somebody wants to examine the specific change (Test => ITest) I'd favor it.

[2017-11-02 10:23] ChrisMaddock commented on #2526
I'm a bit confused why Tolerance needs to be marked as Serializable, and nothing else. Does someone mind explaining what's going on here?

My thinking is I want to understand this to catch in future code reviews, but I'm not sure a) What's required to be marked as Serializable, and b) What NUnit supports running in low-trust.

[2017-11-02 10:55] CharliePoole commented on #2526
Actually @ggeurts pretty much added all this functionality, which I didn't know we had! I'm guessing that it's a matter of passing back the Constraint Result and it's contents.

[2017-11-02 11:44] oznetmaster opened #2529 "TestFixtureSource attribute inhibits discovery when exploring, but not when running tests"
It appears, at least in my CF build, that the use of the TestFixtureSource attribute (which is currently only used by the new ParallelExecutionTests) inhibits the test fixture from being discovered during an explore, but still allow the fixture to be correctly discovered and executed by a run.

Not sure how to go about pinning this one down.

[2017-11-02 12:05] oznetmaster commented on #2529
Perhaps it is because TestFixtureAttribute implements ITestFixtureData, and TestFixtureSourceAttribute does not?

[2017-11-02 12:09] oznetmaster commented on #2529
Maybe not, since TestAttribute and TestCaseSourceAttribute follow the have the same pattern in interfaces they implement.

[2017-11-02 14:25] CharliePoole commented on #2529
What do you mean by not being able to discover them in an explore? Is there a command that will show me the problem?

[2017-11-02 14:34] oznetmaster commented on #2529
Just do an explore of the framework tests assembly, and the resulting list will not include the ParallelExecutionTests

[2017-11-02 14:53] oznetmaster commented on #2529
It will be the only missing test fixture in the list.

[2017-11-02 15:27] CharliePoole commented on #2529
All of the fixtures use `.SetName` so the class name `ParallelExecutionTests` never appears. But the list does actually include all of them...

[code]

[2017-11-02 15:36] CharliePoole commented on #2529
BTW, we didn't have `SetName` for `TestFixtureData` before this. I added it expressly so I could more easily select and run these particular tests individually. If you think that this should work differently, it's not yet in any released version.

There is a test suite named "ParallelExecutionTests", which wraps the individual fixture instances, but of course, the default `--explore` format only s

[2017-11-02 15:44] oznetmaster commented on #2529
Then shouldn't the tests be named NUnit.Framework.Internal.Execution.ParallelExecutionTests.Issue-2464.AllTestsPassed?

Isn't that equally easy to select and run?

[2017-11-02 15:47] oznetmaster commented on #2529
When the tests are run, they are reported like I suggested above above (NUnit.Framework.Internal.Execution.ParallelExecutionTests.Issue-2464.AllTestsPassed).

Why are the tests named differently when run then when explored?

[2017-11-02 15:59] DavidZidar commented on #2395
Hi, I just tried build 3.9.0-dev-04639 and while it's working even better still it still is failing every once in a while. The console runner also locked up once.

After checking the trace logs it still seems to be running some tests in parallell even though the fixtures in question are marked with `Parallelizable(ParallelScope.None)`.

[2017-11-02 16:13] CharliePoole commented on #2529
Sounds like a bug to me! How do they show up when you explore to an xml file, ie `--explore:explore.xml` ?

[2017-11-02 16:19] CharliePoole commented on #2395
Does the incorrect parallel execution start immediately after a non-parallel fixture completes? That's when we restore the queues after having created new isolated queues for the non-parallel fixture.

An excerpt from your log with annotations about how each test is marked would be helpful here.

[2017-11-02 16:30] oznetmaster commented on #2529
Partial output:

[code]

[2017-11-02 16:36] oznetmaster commented on #2529
My issue appears to be that my code has never heard of a ParameterizedFixture :(

[2017-11-02 17:00] ggeurts commented on #2526
I added the functionality (and the LowTrustFixture) to get some NUnit 2 tests running again that verify that code was able to run within partial trust environments. This was done by running the code to be tested and the assertions in a separate appdomain with a reduced permission set. In NUnit 3 the some constraint outcomes could  indeed not be serialized across AppDomain boundaries, causing tests

[2017-11-02 17:05] oznetmaster commented on #2529
That said, I still think that the fullname of the generated TestFixture should be of the form NUnit.Framework.Internal.Execution.ParallelExecutionTests.Issue-2464.AllTestsPassed

[2017-11-02 18:18] CharliePoole commented on #2529
@nunit/framework-team I implemented `TestFixtureData.SetName` to work analogously to how `TestCaseData.SetName`  works. That is,

1. The name you set replaces the Test name: in the case of a test case, that's the method, in the case of a fixture, the class.

2. The fullName becomes the parent (usually namespace) plus the name you set.

3. Higher-level tests (namespace, fixture in which that test i

[2017-11-02 18:22] CharliePoole commented on #2529
A point in favor of @oznetmaster 's suggestion, even though it's a bit different from what we do for test cases... With a test case, the user can use a `%m% to include the method name if desired. That's not an option currently available when setting the name of a fixture, since fixture names are not generated from a template.

[2017-11-02 21:01] PYasonau commented on #2471
@CharliePoole I am sorry that i am here in closed issue, but it is still not clear for me. I need work against .net core 2.0 and now i don't have parallelism. But in future, will i got it? Any time predictions? Issues to track?

[2017-11-02 21:39] mikkelbu commented on #2396
Hi @mortenbock. As far as I can tell this issue can be closed. Do you agree?

[2017-11-02 21:57] mortenbock commented on #2396
@mikkelbu I solved my particular use case in a different way, but I don't know if the underlying issue is an actual bug, or an unsupported scenario.

I have not received any feedback for the sample repo I created for reproducing the issue.

I will leave it up to the team to decide if it's worth diving into :)

[2017-11-03 11:23] ChrisMaddock commented on #2529
I'm not a fan of the existing test case naming behaviour (Most of my cases are actually written `.SetName("{m}(TestNameIWant)");`) - but I do think we should keep this consistent with TestCaseData.SetName - and I don't think we should change the behaviour of both.

That sounds like a separate enhancement, if anyone wanted such a thing.

[2017-11-03 20:51] CharliePoole commented on #2432
If anyone wants to work on this, there's a first cut at an implementation at https://github.com/CharliePoole/nunit in the platform-attr branch.

Currently all the (simulated) detection tests pass but there are some problems with current platform detection, which is necessary for actual use. I think the 1.6 implementation works pretty well but 1.3 is problematic. I won't be doing anything on this f

[2017-11-03 22:29] MhdTlb commented on #2516
I tried to use cmd and I get new error:
**CommandLineTests.cs(137,90): error CS1061: 'IEnumerable<string>' does not contain a definition for 'ToArray' an
d no extension method 'ToArray' accepting a first argument of type 'IEnumerable<string>' could be found (are yo
u missing a using directive or an assembly reference?) [C:\Users\User\Documents\GitHub\nunit\src\NUnitFramework
\nunitlite.tests\nunit

[2017-11-03 22:59] CharliePoole commented on #2516
BUILDING.md in the root of the project.

[2017-11-04 13:35] oznetmaster commented on #2529
I guess what is concerning to me is that the fullname of any node is not the same as the full name generated by compositing the name of all the nodes in the tree.

No matter how the name value of a node (Test or whatever) is generated, it seems that the fullname value of that node should correspond to the full name that is generated if its ancestor nodes are walked and the full name is composited

[2017-11-04 14:16] CharliePoole commented on #2529
Yes, but that has been so since I first designed the naming of parameterized tests and subsequently fixtures. Otherwise we would repeat the  name of the method or the class twice, like Method.Method(1,2,3). That didn't seem to make sense.

In fact, there is no dependency in NUnit for the names of tree items to relate in this way, since fullname are actually stored. But of course, it is a bit confu

[2017-11-04 22:40] ChrisMaddock commented on #2529
I've always understood test names to be random strings - but has that not always been the case? Perhaps that's down to me being a newbie. 😄

@oznetmaster - can you clarify the issue this is causing you? Changing the behaviour now (assuming we do it for both TestCase and TestFixture) concerns me from a backwards compatibility point of view,

[2017-11-04 23:14] CharliePoole commented on #2529
I'm against changing the behavior for TestCase even though I can now think of some better ways it might have been done. OTOH, the behavior of TestFixture in the presence of SetName is completely new and has never been released. IMO it can work either way and I suspect most people won't notice that it works differently from test case - except for the absence of a template.

[2017-11-05 05:06] jnm2 commented on #2413
I finished the implementation, tests pending. I didn't quite believe the results but everything I check makes sense.

Because our non-internal API leaks these types, as shown [above](https://github.com/nunit/nunit/issues/2413#issuecomment-341281452):

- NUnit.Framework.Internal.Commands.DelegatingTestCommand
- NUnit.Framework.Internal.Commands.TestCommand
- NUnit.Framework.Internal.Randomizer
- NU

[2017-11-05 05:22] jnm2 commented on #2413
Updated. I overlooked that method parameter types do not count when recursively unignoring types. They must be in a return position to be followed. The inverse is true of delegates. That cuts it down nicely.

[2017-11-05 06:25] CharliePoole commented on #2413
So, what is the action to be taken to resolve this issue?

[2017-11-05 06:56] jnm2 commented on #2413
Here's an example of what it looks like to use the MSBuild package right now: https://github.com/jnm2/nunit/commit/0d6ec2c15220151ee28ac5a9653dd0ec5bf1aa72

This is what it looks like (right now) to add it to the project: https://github.com/jnm2/nunit/commit/ba083191c4db906a2ddf122087ffd251b543b0f6 (After we make the csproj SDK switch, that entire commit will be five lines in the (only) .csproj.)

[2017-11-05 07:00] jnm2 commented on #2413
@CharliePoole Sorry, it's late and I missed your comment.

I'm not sure yet. Things like Randomizer and even TestCommand aren't really internal; we've never treated them that way, and yet removing `Internal` from the namespace risks breaking code that fully qualifies the names. We could do the move and leave behind stubs that inherit and have an obsoletion warning, but that's ugly. Or we could con

[2017-11-05 07:05] CharliePoole commented on #2413
Shouldn't the adding of the room be separate from changes to the API?

[2017-11-05 13:55] ChrisMaddock commented on #2413
I quite like this. This has often been a source of contributor pain - people not knowing what is and isn't intended to be internal - so I'd like us to work towards a point where the internal/public division is clear, and we could make internal things actually internal a theoretical 4.x release.

[2017-11-05 15:32] oznetmaster commented on #2529
I think everyone is missing the real issue here.  I am not suggesting that the name attribute of any node be changed in any way.  The name for a Test or TestFixture or TestCase can be generated in any way desired.

The issue I am trying to make is one of the fullname attribute.  In virtually every tree based data structure (of which the NUnit TestAssembly/TestFixture/Test hierarchy is certainly on

[2017-11-05 15:47] CharliePoole commented on #2413
I also like this approach for things we can't just fix immediately. My concern is only that I'm simultaneously hearing about issues that seem to be directly fixable and the energy seems to be going toward figuring out how to postpone fixing them rather than fixing them.

I'd like to see some of our effort go into defining low-hanging fruit that we can deal with. @jnm2 has already identified a numb

[2017-11-05 17:00] CharliePoole commented on #2529
Actually, it's pretty clear that we are talking about the `FullName` of the test. Certainly, that's what all my comments have been about.

It's true that __most__ similar hierarchies build the full path to any node based on aggregating the names of the individual nodes. NUnit's has not been that way for many years. The cases where we deviate from that approach are not "incorrect" they are simply h

[2017-11-05 17:41] ChrisMaddock commented on #2516
@MhdTlb - can you clarify exactly what you've been doing to build on the command line? Are you using the build script in the repo?

It should be possible to run build.cmd and get a clean build - is that not the case? FYI - we're working on fixing this up properly here: https://github.com/nunit/nunit/pull/2380

[2017-11-05 18:30] CharliePoole commented on #1426
Review of visibility by namespace. NUnitLite uses some of these so we would have to use the `InternalsVisibleToAttribute` to allow it to continue to do so if we make them internal.

#### Builders
Most classes are potentially usable by a hypothetial custom attribute although we didn't design them with that intention. I think these have to be gone through class by class, with each one examined for i

[2017-11-05 19:31] jnm2 commented on #2413
Yikes!! I realized this morning that I stayed up past 2 am twice last night without realizing it! That last comment was actually 3 am in terms of what I'm used to... :flushed:

I'm sorry, my brain isn't computing that... what's a room?

I think turning the randomizer into an interface is a great idea because the chance that someone has written `NUnit.Framework.Internal.Randomizer` in their code is

[2017-11-05 20:08] rprouse commented on #2459
I have tested this with the recent parallel fixes that @CharliePoole did. I have a quad core cpu with 8 logical cores. Tests run and report 8 test workers. I tested with the MyGet version 3.9.0-dev-04639 and the tests (upped to 10 instead of 6) ran to completion 10 times without an issue.

Closing as fixed.

[2017-11-05 20:08] #2459 closed

[2017-11-05 20:16] rprouse commented on #2438
Tested with 3.9.0-dev-04639 and this has been fixed with the recent batch of parallizable fixes.

[2017-11-05 20:16] #2438 closed

[2017-11-05 20:23] rprouse commented on #2428
Over the past couple of weeks, I have been running and re-running a series of integration style tests for our numerous parallization tests after the recent fixes and I have not seen this `NullReferenceException` since those fixes went in although I did see it when I was reproducing the fixes with 3.8.1.

I think this is fixed, but I am going to leave open to track while I finish testing the remain

[2017-11-05 20:33] rprouse commented on #2426
I tested with 3.9.0-dev-04639 and this has not been fixed with our recent parallel fixes.

This is possibly a duplicate of #2388

[2017-11-05 21:44] CharliePoole commented on #2388
Right, that's why I threw it back in the pond. It's not exactly a parallelization error, or not in the same way as the other errors are due to parallelization. It's simply that the ParallelWorkItemDispatcher, when dispatching the suite that wraps the individual cases looses the information that everything should be run in parallel. I think there's another issue that relates to this, which someone

[2017-11-05 21:49] CharliePoole commented on #2413
LOL! That's autocorrect for "tool".

[2017-11-05 22:02] CharliePoole commented on #2413
Randomizer versus TestCommand is also a great illustration of the difference between two kinds of users and two APIs.

Randomizer is used (through TestContext) by nunit users in general, folks writing tests.

TestCommand is only used for extenders of NUnit, who are also likely to be users, of course.

The group of non-extending NUnit users is probably something between 100 and 1000 times the size

[2017-11-05 22:04] CharliePoole commented on #2413
See my last comment on #1426

[2017-11-06 09:40] DavidZidar commented on #2395
I'm getting a few hundred lines of startup info, and among them..
[code]
.. which is correct so far.

The it looks like it begins by running one non parallel test fixture but then starts running parallel tests.
[code]

Then later on it looks like this..
[code]
.. and so on.

[2017-11-06 10:05] kirtsis opened #2533 "Matches<T>(Predicate<T>) throws ArgumentException or Fails when actual is null"
**Class:** `NUnit.Framework.Constraints.ConstraintExpression`
**Method:** `Constraint Matches<TActual>(Predicate<TActual> predicate)`

Hello,
I'm trying to use the Matches constraint that takes a predicate but I'm getting an ArgumentException:

or the test fails:

I would expect the test to succeed/pass without an exception.

The same can be achieved with the Null.Or.Empty constraint, but I need t

[2017-11-06 12:14] mkvonarx commented on #2522
Hi Chris

We have seen much less errors (only one assert 6 days and no reflection error) since enabling `--trace=Debug`. Maybe a timing related issue?

Anyway: the only interesting (to me) data in the trace log files is the end of InternalTrace.log:
[code]

Does this help?

I could send you all log files if you can provide me a more private "channel" for the zip file than a GitHub issue.

[2017-11-06 13:40] MhdTlb commented on #2516
@ChrisMaddock I think there is problem with restoring Nuget packages. I tried to build the solution with Visual Studio 2015 but some assemblies were missing. I also tried to use command line to restore packages and to build but still getting same issue. Finally I installed Visual Studio 2017  which did the build for me.

[2017-11-06 13:50] Rantanen opened #2534 "SetUpFixture causes NUnit to lock with Apartment( STA )"
Reproduction:
https://github.com/Rantanen/intercom/tree/nunit-issue

Having both `[assembly: Apartment( ApartmentState.STA )]` and a type marked as `[SetUpFixture]` in a test project will cause the tests to lock up. Reproductible with both the NUnit console runner and R# test runner.

The Apartment attribute may be defined on either assembly level or type level with the same results.

[code]

[2017-11-06 17:28] greentests commented on #2435
Can I work on this as my first contribution?

[2017-11-06 18:59] CharliePoole commented on #2435
@greentests You're welcome to give it a shot! Since there has been various discussion here about alternative approaches, please tell us what you intend before you do it. 😉

I've spent a little time on this as part of another issue. Here are a few hints.

1. Historically, the console runner displayed the framework under which __it__ was running, rather than the tests. In fact, with the console runn

[2017-11-06 19:13] CharliePoole commented on #2529
I just want to remind everyone that there is a clock ticking here wrt the change I recently made to add `.SetName` to `TestFixtureData`. If you want to see that feature work differently, we will need to do it before there is a framework release, otherwise we will once again find ourselves talking about backward compatibility.

I don't plan to comment further on this issue myself as I've already sa

[2017-11-06 20:26] ChrisMaddock commented on #2516
Glad you got up and running eventually @MhdTlb. We're working on fixing the build here: #2380

[2017-11-06 20:28] ChrisMaddock commented on #2522
@mkvonarx You should have another log file for the agent. The end of that may be interesting - I think this is the main engine log, which just records that there was an issue shutting the agent down.

[2017-11-06 20:42] ChrisMaddock commented on #2529
I had missed the name/full name distinction. I understand your issue more now, @oznetmaster.

Given the behaviour Charlie pointed out, it seems like we already have exceptions to this expectation - and I don't personally feel like we _need_ to change this before release. This isn't something I have a strong opinion on - if the code hadn't already been written like this, I may be convinced the othe

[2017-11-06 20:45] ChrisMaddock commented on #2534
Will you try pulling in the latest build of master, which you can get from our MyGet feed?

https://www.myget.org/F/nunit/api/v2

I'd expect that this will currently no longer hang, but will run as MTA rather than STA. The fix for that half of the issue is in progress here: https://github.com/nunit/nunit/pull/2519

[2017-11-06 21:00] Rantanen commented on #2534
I'm probably doing something wrong. The only version of NUnit I can see over at that feed when I add it to Visual Studio package manager settings is 2.6.4 from October 2015.

[2017-11-06 21:28] mikkelbu commented on #2534
@Rantanen You can get it from here https://www.myget.org/feed/nunit/package/nuget/NUnit

[2017-11-06 21:55] ChrisMaddock commented on #2534
@Rantanen - I'm guessing you missed ticking the 'show pre-release' box? 🙂

[2017-11-06 21:57] Rantanen commented on #2534
Dammit. I was searching for similar box somewhere on the right side in the package manager UI. Not next to the search box. :)

Got it from @mikkelbu's link anyway, thanks.

Also seems to fix the issue. Tested with both the assembly level attribute, which doesn't hang but leaves the threads MTA and class level attribute, which also hanged previously but doesn't anymore and actually changes the thre

[2017-11-06 21:58] Rantanen commented on #2534
So if that's a master build that means this is already fixed in master and can be closed, right?

[2017-11-06 22:00] ChrisMaddock commented on #2534
Great - thanks for confirming!

[2017-11-06 22:00] #2534 closed

[2017-11-06 23:57] jnm2 commented on #2529
I'd never want to replace the namespace, class name, or method name. I would want to replace the contents of the parentheses containing the fixture parameters or test case parameters. Like Chris I exclusively use `.SetName("{m}(my, parameters)")` for TestCaseData and would want to do the exact same type of thing for TestFixtureData without removing the class name and without introducing a new `.`.

[2017-11-06 23:58] jnm2 commented on #2529
I'm having trouble seeing exactly what the current behavior is and what the proposed change would be. @oznetmaster would you give some examples please?

[2017-11-06 23:59] #2516 closed

[2017-11-07 00:21] CharliePoole commented on #2529
He gives the example above, but it's lost in the general discussion. My `ParallelExecutionTests` class involved arguments that would result in the same name for every test so I implemented `TestFixtureData.SetName`, which did not previously exist. In the case where I used `SetName(Issue-2464)` my implementation gives a fullname for the `AllTestsPassed()` method as

[code]

@oznetmaster would prefe

[2017-11-07 00:33] jnm2 commented on #2529
Ah. To me consistency with `TestCaseData` far outweighs the benefits of a possible redesign. I'd expect to use `.SetName("{c}(my, parameters)")` for TestFixtureData.

I'd much rather not add `SetName` and instead add `SetArgNames(params string[] names)` both places.

You would use `.SetArgNames("Issue-2464")` and it would result in:
`NUnit.Framework.Internal.Execution.ParallelExecutionTests(Issue-

[2017-11-07 00:51] jnm2 opened #2536 "SetArgDisplayNames for TestCaseData and TestFixtureData"
##### Edit: `TestFixtureData.SetName` is being made public again after we pulled it from 3.9 now that the behavior is consistent with `TestCaseData`

`TestCaseData.SetName` leaves you in an impossible situation explored by https://github.com/nunit/nunit/issues/1943 if you are forced to customize parameterized test names and the parameter names contain curlies. To summarize:

/cc @stewart-r as prom

[2017-11-07 00:52] jnm2 commented on #2529
Please see https://github.com/nunit/nunit/issues/2536.

[2017-11-07 00:53] jnm2 commented on #1943
Closing in favor of https://github.com/nunit/nunit/issues/2536.

[2017-11-07 00:53] #1943 closed

[2017-11-07 00:57] CharliePoole commented on #2529
@jnm2 There are two issues here, I think.

1. Use of template format with .SetName

This would be a major change. The names of test fixtures are currently generated adhoc, without use of any template. If you set the name to be "{c}(my, parameters)" that will be the name. It's possible to implement it locally (i.e. as part of TestCaseData) without changing how the names are generated in general of

[2017-11-07 01:03] CharliePoole commented on #2536
I'd lean to changing the method name to `SetArgDisplayNames` or something similar so it doesn't give the impression that we are actually changing the arguments of the method. I understand "Names" is intended to say that, but it's not as obvious as I'd like it.

Otherwise, it seems like a good idea. SetName still remains as a more general way to define the name if you don't like the idea of args in

[2017-11-07 01:05] CharliePoole commented on #2529
I commented separately on #2536.

Do we want to do anything with this issue?

[2017-11-07 01:13] jnm2 commented on #2529
I don't want us to implement a `SetName` on `TestFixtureData` which acts inconsistently with the one on `TestCaseData`, so if there are outstanding inconsistencies (like expansion of `{C}`) then we should resolve them before shipping this API or pull the API for 3.9.

[2017-11-07 01:14] jnm2 commented on #2536
@CharliePoole what do you think about `SetArgNames(params string[] displayNames)`? That's a little more appealing to me, though `SetArgDisplayNames` is also good.

[2017-11-07 01:34] CharliePoole commented on #2529
What I'm saying is that it's in there. There was a PR and it was merged. If somebody wants it to be different, they need to make that an action item and do a PR. Doing nothing keeps the change.

Personally, however, I see no need for template expansion in this case. It would not have been needed for methods either if we had not wanted to be able to set it globally. In the individual case, you can

[2017-11-07 01:37] CharliePoole commented on #2536
I could go that way as well. I wonder if there is a name to use if you don't actually want to put arg names in parentheses, but just something like "Issue-xxxx" or "edge case". In that case you are essentially replacing the display of args. `DisplayArgsAs` ?

The naming is important but doesn't have to hold you up if you intend to implement this. We can discuss it in the PR.

[2017-11-07 01:37] #2311 closed

[2017-11-07 03:57] rprouse commented on #2405
@ChrisMaddock this issue is in the 3.9 milestone which is fine, but be aware that I will not hold up the release for this issue. I am going to do a quick scan of the open issues, but I think we are close to ready for 3.9. Have you made any progress on this?

[2017-11-07 04:22] #2426 closed

[2017-11-07 04:24] #2388 closed

[2017-11-07 04:24] #2428 closed

[2017-11-07 04:42] jnm2 commented on #2536
It was taking way too long to figure out part of the testing, so I just put the code up for comments: https://github.com/nunit/nunit/pull/2538

[2017-11-07 07:58] svdHero opened #2539 "Equality assert for Tuple instances does not work when items are arrays"
I am using NUnit 3.6.0.0 via Resharper Test Runner in Visual Studio.
The following test A fails:
[code]
Is there a way to make the last Assert statement in Test A succeed, too? Why does it fail? Test B succeeds without any problem.

I am passing Tuple instances to my test framework which internal just calls 'Assert.That(object1, Is.EqualTo(object2))`, so I cannot just check the Tuple's items indiv

[2017-11-07 08:55] ChrisMaddock commented on #2405
Yeah, I'll remove it, it won't happen in time. Thanks!

[2017-11-07 09:17] mikkelbu commented on #2539
Proper NUnit equality for tuples will first be available from 3.9 (see e.g. #893). So in NUnit 3.6.0.0 the comparison will just be done using the regular C# equality of tuples, and hence be comparing the two arrays using object references.

[2017-11-07 10:26] mkvonarx commented on #2522
@ChrisMaddock I'll attach all log files. I hope you find something.
[traces-75-failed.zip](https://github.com/nunit/nunit/files/1449571/traces-75-failed.zip)

[2017-11-07 11:59] svdHero commented on #2539
Thanks for the quick answer. Sounds good. What is the release plan for NUnit 3.9? Will it become available anytime soon?

[2017-11-07 12:06] jnm2 commented on #2539
Rob is releasing 3.9 this week if all goes well.

[2017-11-07 13:14] rprouse opened #2540 "Nunit 3.9 Release"
I am planning on releasing 3.9 this week. I still need to scan through the open issues and see if there are other high priority issues that should be included. If anyone has candidates, please add them to the milestone and we can discuss here.

[2017-11-07 13:15] rprouse commented on #2540
@jnm2 you can add your API diff to this issue.

[2017-11-07 13:45] jnm2 commented on #2540
Alright, this is comparing 3.8.1  to 3.9.0-dev-04674:

<details>

[code]

</details><br/>

I'm not worried about any one of the five possible breaking changes, but here is an examples for each one for you to eyeball:

<details>

[code]

[code]

[code]

#### Requires naming obsolete class and getting warning

[code]

</details>

[2017-11-07 14:02] #2526 closed

[2017-11-07 14:03] jnm2 commented on #2529
@nunit/framework-team, there is a decision we have to make before 3.9 is released and `TestFixtureData.SetName` makes its debut. Unlike `TestCaseData.SetName`, it is not a template string; it will not expand `{C}` and {a}`.

 - Leave as-is. It will be a breaking change in the future if we want to enable expansions like `{C} and {a}`.
 - Make consistent with `TestCaseData.SetName`. (I have the code

[2017-11-07 14:54] CharliePoole commented on #2529
The fourth option is missing!

* Modify TestFixtureData.SetName as proposed by @oznetmaster here.

I started out favoring (4) but after discussion I'd rather leave it as is.

The options involving rushing #2538 to completion in time for 3.9 release seem unwise to me.

IMO the notion that we might want to implement template-based naming of fixtures any time is far-fetched.

[2017-11-07 15:29] oznetmaster commented on #2529
I still prefer option 4.

A TestFixture is significantly different from a Test, in that it is a container, and has children, where Test is not.

I do not think that there is a need, or an advantage, to making SetName work identically on both TestFixtureData and TestCaseData, since they are really not similar objects.

[2017-11-07 15:53] CharliePoole commented on #2529
@oznetmaster I agree entirely with you on there being no need to make the two objects work identically. Whether we stay as is or use option 4 seems to be the real question if the timeframe for a decision is by this weekend!

I was ready to go with 4 until I realized that I could have kept the original class name by simply using `SetName("ParallelExectutionTests.NewName")`. In fact if I find myself

[2017-11-07 16:14] mikkelbu commented on #2539
@svdHero I've just tested your examples against the newest build from master and both tests succeed. I'm closing this issue, as I don't think that there is an easy way to special handle tuples (and also 3.9 will soon be released). Please reopen if you disagree.

[2017-11-07 16:14] #2539 closed

[2017-11-07 17:53] mikkelbu commented on #2540
Looks great @jnm2 . I won't worry about the `Has.Member` change prior to https://github.com/nunit/nunit/commit/aa19bd1e5ca27b0b1ee74af03a0d8e0a9f60968e#diff-5bef3e0c3dde4d1fbf1eb895741faab3R198 it returned a `CollectionContainsConstraint` which were removed.

[2017-11-07 18:05] mikkelbu commented on #2522
From the logs, in particular InternalTrace.6168.MediaGateway.ManagerGui.Backend.Tests.dll.log, it seems that the agent stops at the test `GetConfiguration_WithNotExistingDetailKey_NullReturned(Machines,"machine_which_does_not_exist")`

[2017-11-07 18:11] svdHero commented on #2539
Thanks. I am in no rush and waiting another couple of days is totally okay. Thank you both for your help.

[2017-11-07 18:20] oznetmaster commented on #2529
It seems to me that what I am looking for is actually independent of the various SetName options.

I really do not care what the name is, or how it is determined.  What I do care about is each node having an attribute which is the true full name of that node, as defined by virtually every xml hierarchical definition.  That is the concatenation of the name of every parent node with the name of the

[2017-11-07 18:21] oznetmaster commented on #2529
BTW, I have no objection to implementing templating for the TestFixtureData.SetName method.

In fact, the arguments made in favor of doing so make sense to me.

[2017-11-07 18:30] jnm2 commented on #2529
@oznetmaster That is separate and I like that idea. Perhaps it could be called 'path'?

[2017-11-07 18:37] jnm2 commented on #2529
If you go that direction with this issue, it'll no longer be connected to my PR and we can continue discussing SetName there.

[2017-11-07 18:42] oznetmaster commented on #2529
I would have suggested path as it is used in many environments, but I vaguely remember that we use path as an attribute in some other nodes.  I may be incorrect.

[2017-11-07 18:46] oznetmaster commented on #2529
Briefly, the reason to have a truefullname or path attribute on every node is that it allows a simple mapping from an external (gui or whatever) reference to that node to the xml node itself.  It does not require parsing a text string or doing anything besides searching for a node with the attribute value, which, by its very definition, should be unique.

[2017-11-07 18:57] CharliePoole commented on #2529
@jnm2 I think we have needed a discussion on the use of `TestCaseSource` and `TestFixtureSource` for some time, which would include the need for templating as a topic. The problem I find is that we never have that discussion in itself, but always as an adjunct to what initially looks like some minor change. It's as if the big decision is being subordinated to some smaller issue or - alternatively

[2017-11-07 19:01] CharliePoole commented on #2529
Should this issue be renamed to say that use of `TestFixtureSource.SetTestName` is what inhibits discoverabilty? That seems to be the case but I didn't want to rename it unilaterally since we seem to have degenerated into a far-ranging discussion of various options.

[2017-11-07 19:11] CharliePoole commented on #2529
@oznetmaster I've written four GUIs (two of them were two versions of the VS adapter) for NUnit and none of them needed the `Path` feature. For some purposes, the unique ID can be used. For others, I simply created a lookup between the full name and the actual node.

But more important, although I could have used the approach you suggest in three out of the four cases, it would not have worked for

[2017-11-07 19:41] oznetmaster commented on #2529
I have written two NUnit 3.0 GUIs, so I have reasonable experience with this issue as well.

the id can never be used, since it is not consistent between the explore output and the run output for the same assembly (I really wish it were).

Since the fullname is not currently guaranteed to be unique, that is a problem in itself.

Currently, I basically read the entire xml file, and create a mapping

[2017-11-07 19:58] CharliePoole commented on #2529
Have you created an issue about the non-uniqueness of the ID? AFAIK you're the only one who has come across this. I do not believe it happens in the console runner, for example, so it might have to do with how you are initializing it. The NUnit 3 Gui makes use of the id without any issues of this kind.

I have also used the FullName, when the user has typed it in. In that case, if there is duplica

[2017-11-07 20:21] greentests commented on #2435
Thanks for the useful hints @CharliePoole. I am researching a bit after going through the discussions and alternatives suggested about what could be the approaches. Meanwhile, I am also trying to figure out why I am not able to build nunit.sln even after installing VS2017.
I would be posting the alternatives before weekend.

[2017-11-07 20:29] oznetmaster commented on #2529
I did not say the id was not unique.  What is said was that it changes for every explore and every run that is done on the same test assembly.

[code]

The first from the results of the explore, the second from the results of the run.  On the same loaded test assembly.

[2017-11-07 20:44] jnm2 commented on #2435
@greentests We are about to address that, but for now, run `.\build.ps1 -t build` and the build in Visual Studio will start working. (It's not restoring NuGet packages correctly.)

[2017-11-07 21:39] CharliePoole commented on #2529
To verify this, I just ran two commands, using the .NET 4.5 build of the framework and the mock-assembly tests.

[code]

The ids generated are the same. That's not surprising to me at all, because there are a bunch of things that would break if it were not the case.

[2017-11-08 00:35] agray commented on #2481
Will try testing against the 3.9 release and report results here.

[2017-11-08 01:42] oznetmaster commented on #2529
[code]

[2017-11-08 01:47] oznetmaster commented on #2529
Is there a test for this functionality in the framework tests?

[2017-11-08 01:49] oznetmaster commented on #2529
@CharliePoole you say that there are a bunch of things that would break if the ids are not the same, yet in my case they are not the same, and all of the tests are passed correctly.  What do you think should be breaking?

[2017-11-08 03:01] CharliePoole commented on #2529
@oznetmaster Stuff that would break would be in the GUI and I'd have to get down the code to check. Right now I'm trying to get ready for my trip to Italy, so I can't really look at it for a few days.

There really isn't a test for this. It would have to be a fairly high-level functional test, of course.

What is the runner you are using, nunitlite-runner?

In any case, I wonder if the --test opti

[2017-11-08 07:53] greentests commented on #2435
Thanks @jnm2 it worked. I can build now.

[2017-11-08 09:27] oznetmaster commented on #2529
Yes, nunitlite-runner.

I will look into the use of the filter, but since it should be identical to not using one at all, I would hope not.

However, should the use of any filter change the ids? From what has been said, I would assume that would not be the desired outcome?

[2017-11-08 09:54] oznetmaster commented on #2529
So, I ran the tests again, same command line, same loaded assembly:

[code]

ALL the ids changed again.

Then I ran the explore command again, on the same loaded assembly:
[code]

and all the ids changed again.

[2017-11-08 09:56] oznetmaster commented on #2529
This implies that the problem has nothing to do with the filter on the run.

[2017-11-08 09:56] oznetmaster commented on #2529
Where is the id initialized, and where is it set for each node?

[2017-11-08 11:40] oznetmaster commented on #2529
Ok, so the Id is set in Test.cs by:

[code]

where __nextID is:

[code]

There is no other place that Id is set.

Therefore, I do not see how multiple runs against the same loaded assembly can ever result in the same ids.

This can only occur if the assembly is unloaded and reloaded before every explore and every run, resetting the static _nextID to its initial value.  Is that what happens in the

[2017-11-08 11:54] oznetmaster commented on #2529
It does appear that the ids will not change if a filter is applied, although I may be misreading the code.

A new id is generated every time a Test, or anything derived from Test, is instantiated.  Filters can only be applied to objects derived from ITest, and hence Test and its derivatives, and they must first be instantiated.

[2017-11-08 11:59] oznetmaster commented on #2529
It seems the same issue applies to ids.  If a test itself instantiates a new test tree (which many of the nunit framework tests do), the id seed needs to be saved and reset to it s initial value prior to running the test, and then restored after the test.  This is the same as the IdPrefix issue above.

This way, if two tests each instantiate the same identical test tree, each element of that test

[2017-11-08 12:40] oznetmaster opened #2541 "Need to fix Id seed and IDPrefix"
As per my comments in #2529, there are a number of issues with both ITest.Id and Test.IdPrefix.

These include:

The seed for Test.Id is statically initialized, so that if the test assembly is never unloaded, the value is never reset to the default seed.

There is no way set IdPrefix in nunit-lite.  Currently, it is only set in FrameworkController, which is not used by nunit-lite.

If a test insta

[2017-11-08 12:44] oznetmaster commented on #2541
These changes will also allow a set of tests to be written that test Id generation and Id nesting, which it is currently difficult to do, as noted by @CharliePoole  in #2529.

[2017-11-08 13:27] ChrisMaddock commented on #2428
Sorry @rprouse - this one got lost.

I think this code has changed sufficiently that the original issue we found would no longer be applicable. I haven't reviewed the current code enough to check that - @CharliePoole may have an answer off the top of his head though. 🙂

[2017-11-08 14:11] PYasonau opened #2542 "NUnit does not support parallelism on .NET Core 2.0"
It is known, but very critical issue for those, who use nunit as testframework for .net core 2.0 targer. In some cases it is not possible to use target framework different from .net core.  Parallelism is critical feature and test society need to know should they build they test system for .net core based on nunit or migrate to other test frameworks

[2017-11-08 14:34] CharliePoole commented on #2529
Good points that we should fix. I see you created an issue so I'll follow up there.

[2017-11-08 15:23] jnm2 commented on #2533
You're right! Thanks for reporting this! We need to be doing:

`if (!(actual is T || (actual == null && default(T) == null)))`

And actually, I'd like use this method which we've started using instead:

https://github.com/nunit/nunit/blob/07d719b6851b8889934971152fb44e015b045961/src/NUnitFramework/framework/Internal/ConstraintUtils.cs#L42-L48

We would have to add an optional bool parameter to all

[2017-11-08 15:35] jnm2 commented on #2533
@rprouse I put it in 3.9 but feel free to pull it back out if you need to :D

[2017-11-08 15:36] rprouse commented on #2542
We hope to add a .NET Standard 2.0 version of the framework soon that will fully support Parallelism and re-enable many of the NUnit features that were disabled because of missing APIs in earlier versions of .NET Standard.

[2017-11-08 15:54] oznetmaster commented on #2541
It also seems that the setters for Id, IdPrefix and IdSeed (new) should all be internal.

[2017-11-08 16:00] CharliePoole commented on #2541
This all looks fixable, but I think we need to define more clearly the use case we are trying to support. As I noted on #2529 I have been unable to replicate the problem either running executable tests directly or by use of the nunitlite-runner from the command-line. I'm guessing that you are doing something else, perhaps running nunitlite programmatically?

A second underlying assumption was that

[2017-11-08 16:03] CharliePoole commented on #2541
I agree regarding internal. See issue #1426

[2017-11-08 16:05] CharliePoole commented on #2428
If the nulls were caused by concurrency issues, I'd expect we have either cured the problem or at least cut down on it's frequency.

[2017-11-08 16:12] oznetmaster commented on #2541
I only run nunit-lite from the command line.

The code is pretty clear, as I posted in #2529.  The Id seed is a static variable inside of Test, and is set to 1000 when the assembly is loaded.  It is NEVER modified except to add 1 to it.

So the only way it is reset to 1000 is if it is reloaded.

I assume that in most environments (those that support ApplicationDomains), each explore or run operati

[2017-11-08 16:14] oznetmaster commented on #2541
In my cases, there is no engine, because these environments do not support remoting.  Only nunit-lite support is really an issue for me.

When the engine stops using remoting, this could change.

[2017-11-08 16:17] oznetmaster commented on #2541
I will point out that I am already doing these fixes for my version of NUnit, because I have to.  They are being made as described previousuly.

I am happy to make them available to the release if they are thought useful.

[2017-11-08 16:21] CharliePoole commented on #2529
Since we started this wide-ranging discussion, two other issues have been created to actually solve the problems discussed. Should we close this one?

[2017-11-08 16:26] LirazShay opened #2543 "RetryAttribute not support TestFixture/Assembly level, also not support retry in case of exceptions"
Current Retry-Attribute:
https://github.com/nunit/docs/wiki/Retry-Attribute

My FR is:
1. Assembly level:
**I need this support in assembly level (I use SpecFlow and need global configuration to run each test once again if failed**
2. Retry also if failed for unknown exception, this is meaningless if it only retry just if assertion was failed, I need it to retry for any failure

Clarification:
Wha

[2017-11-08 16:29] CharliePoole commented on #2541
I have to take a small exception to what you write. Upon creation of the code, neither I nor anyone else working on it would have envisioned an environment in whch multiple command-line executions would __not__ re-initialize statics. I'm stunned to learn that's what happens and it seems to me to be a failure at the C# level. Nevertheless, I agree we should deal with it.

Can you take this one on v

[2017-11-08 16:32] jnm2 commented on #2529
:+1:

[2017-11-08 16:34] CharliePoole commented on #2543
Just noting that (1) is a major feature change. That is, it goes beyond merely allowing the attribute to appear at the class and assembly level. We will need completely different code to retry fixtures and possibly different from both of them for assemblies (or at least some differences).

The second request is really separate and I'm not in favor of it. For proper testing, I think you need to wri

[2017-11-08 16:49] oznetmaster commented on #2541
That is what I planned to do.

[2017-11-08 17:00] oznetmaster commented on #2541
I think it is because if the specific environment in which I am running and not C# itself.

With a single ApplicationDomain, and no command line processor in the system, NUnit-lite is loaded as a program, and then waits for console input, which it then parses.  It will accept multiple command lines without being unloaded, just as if it were a command line processor.  However, it initializes each s