[2017-06-27 13:58] jnm2 commented on #2280
The attribute would have to be able to intercept the method calls to the test and setup and teardown, stand up a new process or appdomaim, and be able to examine the intercepted commands, serialize them, and understand them well enough to manually perform them on the other side. From the AppDomain work I've done, this will be fairly far-reaching into the test command system.

[2017-06-27 13:59] jnm2 commented on #2280
Theres no guarantee that parameters will even be serializable.

[2017-06-27 14:27] CharliePoole commented on #2280
There's no doubt that it's a hard implementation. Parameterized tests do present an added issue, which might suggest that the implementor take an incremental approach:

1. Simple Tests
2. Parameterized tests with TestCase
3. TestCaseSource using fields
4. TestCaseSource using properties and methods (this is where the serialization issue arises)

I'd be willing to take separate PRs for each stage,

[2017-06-27 14:40] CharliePoole commented on #2284
Issue moved to [nunit/nunit-console #246](https://github.com/nunit/nunit-console/issues/246) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-27 14:40] #2284 closed

[2017-06-27 15:23] ChrisMaddock commented on #2117
Thanks @jnm2 - it's due an update anyway, as things have moved on. I'll comment here, and update the opening post.

The latest Mono releases drop .NET 2.0 targeting. The nunit.linux.sln should be updated to remove the 2.0 and 3.5 builds of the framework. It should also be possible to add the two .NET Standard builds, if they can be built in MonoDevelop or VS for Mac, which I'm not 100% sure of.

I

[2017-06-27 16:35] ChrisMaddock commented on #2116
From a quick look, I don't think this is easyfix - I'm not sure we even have enough information to pinpoint the error.

The line @xplicit wants to change would just change the message to:

[code]

Notice there's `BuildMessage()` and `BuildFriendlyMessage()` - which were put in to maintain backwards compat with how the error messages were previously formatted.  The key point here, is that both thes

[2017-06-27 16:37] CharliePoole commented on #2117
I think we'll want to drop .NET 2.0 and 3.5 at some point for sure. The thing is, we are a test framework and lots of users stay behind the curve on new adoption. The historical NUnit approach has been to keep support for a long time. NUnit 2.6.4, for example has. support for .NET 1.0 and we still support .NET 2.0 in NUnit 3.

So, now may be the right time, but it's a major project decision to mak

[2017-06-27 16:50] CharliePoole commented on #2116
This also relates to a comment I just made on another issue. The framework is not supposed to let out any exceptions, so they should all be trapped and displayed in a very exceptional way by the engine. That ought to be in the driver if it's a named exception from the particular framework. But there also should be something in the direct runner that takes any left-over exceptions and creates a ver

[2017-06-27 17:47] ChrisMaddock commented on #2117
I only intended this to relate to dropping .NET 2/3.5/whatever's-necessary from the nunit.linux.sln - to allow developers running newer mono version to have a solution the can build straight off. The builds would still be ran in CI (which _doesn't_ use nunit.linux.sln), and still 'supported' - at least as I meant the me comment above.

If that's not an issue, imo we should just remove nunit.linux.

[2017-06-27 18:00] CharliePoole commented on #2117
Those of us who build under Linux need the solution, of course.

I just followed you by enlarging the issue even further. 😄

Since the __binaries__ we distribute are built on Windows, anyone who uses them on Linux is technically getting untested assemblies. In principle, we should be testing the binaries we distribute on all platforms but that's not something we are as yet set up to do. I'd like t

[2017-06-27 18:11] jnm2 commented on #2280
I would rather find a workaround code sample allowing people to manually call `IsolationUtils.RunNewProcess(() => { })` or `IsolationUtils.RunNewAppDomain(() => { })` (I have such code sitting around) than to prioritize this feature over other hi-pri bug fixes. That puts the burden of setup, teardown, parameterization etc on the end user for now. Only one person has asked for it.

That is, unless

[2017-06-27 18:27] CharliePoole commented on #2280
@jnm2 Well, you prioritized it yourself as normal, so it isn't prioritized over high priority bug fixes.

As for `IsolationUtils`

[2017-06-27 18:39] jnm2 opened #2285 "[Meta] `closed:moved` tag"
I'd like to be able to filter this kind of issue out of lists. :-) None of the current `closed:` tags seems to fit.

Good/bad idea?

[2017-06-27 18:41] ChrisMaddock commented on #2285
No objections - although this seems to be getting a little OTT.

Do we need to label an issue as to why it was closed? Surely that should be evident from the last couple of comments.

[2017-06-27 18:44] ChrisMaddock commented on #2117
@CharliePoole - at this point, I think I'm going to bow out of discussion. Neither building nor testing on Linux myself, this isn't a topic I have much to contribute on! 😄

I've retagged as design - will leave it with those more interested in this area.

[2017-06-27 18:49] jnm2 commented on #2280
All I'm saying is I don't think the framework team should feel _obligated_ to prioritize this because we have the code sample option so no one is being blocked, and the demand is low. I'd be happy to accept a change to add process-per-test-case if someone from the community were to work on it. (Because of the complexity level, I'm not sure it's worth documenting to the point where we could apply `

[2017-06-27 18:51] jnm2 commented on #2285
Only for filtering lists without having to click each item and remember what you saw.

But I am leery of going over the top with this, so you've made me question it.

[2017-06-27 18:53] CharliePoole commented on #2285
Two reasons for closed labels:
1. We use closed:done to track what gets into the release notes
2. It's nice to tell users why we rejected something. The labels we use have become "friendlier" with time. For example, we no longer say "Invalid" but rather "notabug".

Personally, I don't see why we need this new one. Except for doing releases, we have little need to look at closed issues.

[2017-06-27 18:55] jnm2 commented on #2285
I'm content with that. Someone can reopen if they see a need.

[2017-06-27 18:55] #2285 closed

[2017-06-27 19:09] xplicit commented on #2116
@ChrisMaddock I can describe how you can reproduce the issue to debug it.

1. Create .NET Core console project and reference NUnitLite
2. Create .NET Core library project and build it.
3. From project 1 reference project 2 as `dll` `<Reference Include="../lib/library.dll">`. It's important to reference it as dll, not as C# project.
4. Run unit test. You will get this error message.

All of these s

[2017-06-27 19:12] CharliePoole commented on #2280
I'm sorry to nag, but I think it's important to have a common ground about what it means to triage a request. The "up-for-grabs" label doesn't matter. Either we think something is an acceptable feature or we don't. There is no "It's really not acceptable but if you do the work we will consider it."

The binary decision of acceptablility is carried out by assigning it as a feature (or enhancement)

[2017-06-27 19:16] CharliePoole commented on #2117
That seems OK. Whoever works this can decide whether to do the dropping, adding or both in a PR.

[2017-06-27 19:18] jnm2 commented on #2280
:+1: Restatingly more clearly:
From what I can see now, I think that process-per-test-case is an acceptable `pri:normal` feature.
I'm doubtful that AppDomain-per-test-case is a good direction, so I'm included to say that's not an acceptable feature unless there's a reason we can't do the wider and arguably cleaner solution of process-per-test-case.

It's time I step back and let others have their

[2017-06-27 19:37] jnm2 commented on #1771
There hasn't been any response here for a while. Okay to close for now?

[2017-06-27 19:44] ChrisMaddock commented on #2116
Thanks @xplicit. This isn't something I have time to look at right now, but at least the information's here, for when someone does. 😄

[2017-06-27 21:40] oznetmaster commented on #1771
Not ok by me.  I still feel it is an important issue.

[2017-06-27 21:42] oznetmaster commented on #1771
As I indicated earlier, my CF build has had this feature for over three years now, and it is widely used by those who use this version.

My GUI also uses it to present the user with a list of parameters that are used by the tests, and the valid range of values for them.  The GUI also validates the provided values BEFORE any tests are run.

[2017-06-27 21:50] jnm2 commented on #1771
@oznetmaster Cool. Can you help me understand some more use cases? The only use case that was presented above seems like poor practice to me, and my [question about it](https://github.com/nunit/nunit/issues/1771#issuecomment-264365468) still hasn't been answered.

[2017-06-27 21:52] jnm2 commented on #1771
In other words if I'm writing the tests, I'm not expecting to put the burden of finding the right parameters on the person/machine that runs the test. I'm expecting to have to know the corner cases in the implementation and test *all* the possibilities that could ever be important.

[2017-06-27 23:13] CharliePoole commented on #1771
I think that the use of runtime parameters in @oznetmaster 's framework and gui is quite different from what it was designed for in NUnit. We don't have the same use case because they are intended to be a sort of global parameter, which may be used by many tests. People use them to specify things like whether to use the test database or the production database. When used in that way, I don't think

[2017-06-28 00:30] jnm2 commented on #2230
Cecil doesn't provide a fast forward-only stream reader? I'm still fairly sure it could perform on par.
Can we at least experiment with that option before deciding on the less elegant option?

References in .csproj are now transitive and I think it's a good mental model to be consistent with.

This would be my preference second to the elegant solution. However I think we have what may genuinely be

[2017-06-28 01:08] jnm2 commented on #2008
I'm also in favor of parsing them invariantly unless there is a `SetCulture` attribute and then using the given culture.

[2017-06-28 01:17] jnm2 commented on #2084
@nunit/framework-team Is lack of `+DEBUG` in `AssemblyInformationalVersion` causing anyone pain?

[2017-06-28 01:19] jnm2 commented on #2148
What's the status on this?

[2017-06-28 01:22] jnm2 commented on #2206
I'm okay with it.

[2017-06-28 01:22] CharliePoole commented on #2230
It's absolutely a flaw, but it's a fairly obscure flaw. You can use FancyFixtureAttribute from your separate assembly very happily and the NUnit framework will figure it out __unless__ you don't use any other NUnit attributes, assertions or other references.

This is not something that users generally do unless they use a third-party framework that makes them do it. Third party devs can fix it eas

[2017-06-28 01:25] jnm2 commented on #2206
@CharliePoole

This still needs design, right? What if we did it this way?

[code]

[2017-06-28 01:28] jnm2 commented on #2216
We're still waiting for @rprouse and @OsirisTerje to respond.

[2017-06-28 01:35] CharliePoole commented on #2008
@jnm2 That would mean very big changes unless we added explicit knowledge of those attributes at load-time. How it now works...

1. The test cases are created.
2. Any attributes that modify the test case run. In this case, setting a property in the test.

Since the cases are created by many different attributes, each one of them would need to be aware of the presence of a SetCultureAttribute and a

[2017-06-28 01:38] CharliePoole commented on #2148
I'd close it, since we no longer have a Portable build. The alternative is to convert it to be about the .NET Standard builds, but it has a load of discussion about portable, which might be confusing. IMO a new issue would make sense.

[2017-06-28 02:19] CharliePoole commented on #2206
@jnm2 It would be inconsistent with our current design, since we don't use attributes on attributes right now. I'd be more in favor of an interface that let an attribute decide what it applied on.

Are we using this issue to plan out the feature? It might need a new title in that case.

In terms of process, this is a discussion item. I made it one because I thought we should decide as a team wheth

[2017-06-28 02:35] jnm2 commented on #2206
@CharliePoole I was imagining that `MyExtensions` would not be an attribute. It shouldn't be applied to classes because NUnit will see the `[ApplyGlobally]` and manage that.

I don't know, either sounds good.

I took your recommendation, Chris's support and my support to mean that we've decided to accept it.In other threads we didn't wait for more than one or two to chime in and it's been 28 days.

[2017-06-28 02:36] #2148 closed

[2017-06-28 02:46] jnm2 commented on #2008
It would mean big changes which I'd be in favor of. I've been noticing us hitting a ceiling with various aspects of the current system in recent issues and ever since one of my first PRs. Perhaps what we should do is collect all such issues and review their disparate needs when we plan the v4 API in the distant future.

[2017-06-28 02:47] jnm2 commented on #2008
Again, I saw your, Chris' and my support for the idea. Perhaps I moved it to backlog too soon.

[2017-06-28 04:45] jnm2 commented on #2230
Implementing the 'elegant' solution took about twenty minutes:
https://github.com/nunit/nunit-console/compare/master...jnm2:try_searching_deeper_references

[2017-06-28 04:57] CharliePoole commented on #2206
I'll back out then for now. When somebody takes it on and produces a design, we'll all have a chance to comment.

[2017-06-28 05:11] CharliePoole commented on #2008
@jnm2 I'm not sure what you saw me supporting. As I read the thread, Rob and I came out against the idea, you and Chris for it. That's not consensus.

Another problem we have in these long-running threads is that we talk about multiple proposals that change over time. It's very hard to figure out who is where on an issue in that case, so I can understand how anyone could get confused.

[2017-06-28 05:44] CharliePoole commented on #2008
@jnm2 I'd like to hear more about your feeling of hitting a ceiling. IMO we have a lot of power in the existing design along with a few flaws I would love to fix in some future major release. I spend almost no time thinking about those flaws most of the time because there is too much to do. We have 200+ outstanding issues, many quite important. My guess is that we might find a dozen or so that are

[2017-06-28 06:13] CharliePoole commented on #2230
@jnm2 Knowing you, I'm not surprised. But when was it ever about whether you knew how to code it or how long it would take you?

Here's my two cents. If you have a strong opinion about how something should be done, then assign yourself the issue. In my book, that gives you extra credibility in how you implement something. I'm afraid I have shown my impatience too much in these abstract discussions

[2017-06-28 08:44] ChrisMaddock commented on #2084
Not personally, although I wouldn't object to merging a PR, if it's an issue for @oznetmaster

[2017-06-28 13:16] jnm2 commented on #2008
@CharliePoole Gotcha. You said you could see the logic of either side and you would do it if it wasn't a lot of work. However, this reminds me of a [very similar thread](https://github.com/nunit/nunit/issues/2280#issuecomment-311450408) in which we trade places.

[2017-06-28 13:19] jnm2 commented on #2084
I'm happy with that too. :+1: @oznetmaster can I assign you?

[2017-06-28 13:50] CharliePoole commented on #2008
@jnm2 I wrote that immediately after the line that states my preference for the opposite. I __can__ see the logic of your view. That doesn't put me in agreement with you. I expect you, as my teammate, to make sure you see the logic of my view too.

[2017-06-28 18:27] rprouse commented on #2254
@mikkelbu yes, a sub-folder would be best, maybe under Internal. You can also make the classes internal so that users don't use them by mistake. internal will allow you to access them from the test project.

[2017-06-28 18:34] rprouse commented on #2278
Great analysis @ChrisMaddock. For adding null, we can just add a null guard to the property setter and throw with a useful message.

Not allowing adding/modifying properties during test execution is harder. My initial reaction was to make the setters internal, but that won't work because users can extend NUnit and need to be able to set properties. We could just leave it as is, fixing the null ref

[2017-06-28 18:37] rprouse commented on #1958
@CharliePoole better solution for the second issue than my non-solution in #2278 😄

[2017-06-28 19:08] CharliePoole commented on #2278
Somewhere - I can't see it above - I suggested we need an adapter for the properties. The actual properties are in the actual test, which is in the TestExecutionContext. The TestContext exposes an adapter for the Test and Result, but the properties are actually exposed. That was just a mistake and should be fairly easy to fix by returning a readonly adapter that points to the real properties.

[2017-06-28 19:09] CharliePoole commented on #1958
Ha! I looked at the issues in the wrong order. :smiley:

[2017-06-29 00:15] rprouse commented on #2008
I would vote to close this. Users passing in strings and us converting them to dates is a convenience that NUnit provides because the values in test case attributes must be const. In the example code above, all the user is effectively testing is how NUnit converts dates. We should support invariant culture for date strings and nothing else. This allows tests to run on any machine no matter the cul

[2017-06-29 00:15] #2008 closed

[2017-06-29 00:16] #2004 closed

[2017-06-29 00:33] rprouse commented on #2230
I would be okay with a depth search provided it is fast. @jnm2 your code looks good, mind adding a stopwatch in there and possibly testing something with a lot of references like an ASP.NET Core project?

Personally, I think it is up to each driver to determine if it can run tests on an assembly in whatever way it sees fit. Technically, it may not even be related to references.

[2017-06-29 00:51] rprouse commented on #2216
I would only want to accept this on a provisional status. We have many people who offer to contribute projects only to move on after the initial release (if that long) and leave the projects for us to manage.

For now, @wachulski, why don't you continue work in your account, see how far you get and then present the results to us. If it looks good, we can talk about transferring it into the organiz

[2017-06-29 00:55] rprouse commented on #1771
I am still against this idea as overkill and would vote to close. Sorry @oznetmaster but I don't see it as high enough value for the majority of users.

[2017-06-29 01:10] rprouse commented on #2280
I think we need to be careful in what we accept as features in the framework. Most users, like @dbones have very valid use cases and this is an interesting idea, but I think this is the first time I've ever seen this request in several years and I doubt it would be widely used.

IMHO, we already have way too many command line options, the majority of which are never used. Similarly, we have dozens

[2017-06-29 01:20] rprouse commented on #2117
I think dropping building pre-4.5 on Linux will likely come soon. Mono dropped support in 4.0 and they are now on 5.x. I think we will need to drop support once the common distros start shipping with Mono 4+ if that hasn't happened already. I can't build NUnit in Linux on some of my machines, so it is coming...

[2017-06-29 01:27] rprouse commented on #2117
I wonder if the name of the solution is incorrect. The Linux build isn't really a Linux only, it is for users of Mono on Linux or Mac. Should we have a Mono solution that just builds what current versions of Mono can build and maybe a NetCore solution for users on those platforms that have .NET Core installed instead of mono?

[2017-06-29 01:30] rprouse commented on #2195
Speaking earlier of feature creep, this is one feature that I think could be useful to a wider audience, so I am okay with the idea 👍

[2017-06-29 01:38] rprouse commented on #1212
Wow, 60 comments. I think we are spending more time talking about things than coding 😈

If @fluffynuts wants to take over maintenance, then how about we give him the chance to fork and prepare a pull request. I will create a repo for him to work in and we can see how it goes, just say the word.

As for removing AssertionHelper from this project, we just deprecated it in 3.7. How about we wait a re

[2017-06-29 02:24] CharliePoole commented on #2230
Exactly. The bit about the driver is what I was calling the fundamental flaw. I'd like to see that fixed rather than adding additional code into the DirectRunner, which is assuming it knows how frameworks work.

[2017-06-29 02:36] CharliePoole commented on #2280
If you want to avoid creep, this is a good one to start on. :smile:

I will say I have seen a lot of users creating AppDomains and sometimes asking if there is a way that NUnit can do it for them.

[2017-06-29 02:58] jnm2 commented on #2008
'Invariant-or-follow-SetCulture' as well as 'invariant-only' allows the tests to run on any machine no matter the culture settings of the machine.

But the more I think about it, the less obvious the decision between the two seems. :+1:

[2017-06-29 03:02] jnm2 commented on #2195
Also, [`string.Contains(string, StringComparison)` is being added](https://github.com/dotnet/corefx/issues/20846) to .NET Core.

[2017-06-29 03:11] jnm2 commented on #2195
Notes for implementers:

[`StringConstraint`](https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Constraints/StringConstraint.cs) needs a `Using(StringComparison)` method, very similar to the `CaseInsensitive` property, and the `Matches` implementation in every subclass needs to use it if specified.

[2017-06-29 03:14] jnm2 commented on #2195
Ooh, quick design question that just occurred to me: I think we should throw (and document) an `InvalidOperationException` if you use _both_ `.Using(StringComparison) and `.IgnoreCase` in either order... unless we want to define some fancy rules. Either way what I don't think we should do is have one silenty override the other because it will be misleading to anyone reading the code.

[2017-06-29 03:18] jnm2 commented on #2230
Ah... now that has sunk in, I'm with @CharliePoole. This isn't an ideal fix unless we can push it to the driver. I don't want the engine to be responsible for this.

And that is certainly not a quick fix, so if someone is having pain, let's do the band-aid fix.

[2017-06-29 03:23] jnm2 commented on #2230
@CharliePoole complete aside. I'm catching myself rushing through and squeezing time to do this between other tasks, but not realizing that the effect is that I'm not spending the time to fully understand everything I read. I'm sorry. That can't be coming across well. I am making an effort to be more thorough.

[2017-06-29 03:52] CharliePoole commented on #1212
@rprouse I agree about the talking.

Maybe there are so many comments that the essence is getting lost. Why do we need a fork? We already did all the work and merged it... minus dropping two files. The separate repo already exists.

I believe it actually waits for you to say __when__ you want it to happen, there's hardly any work left to do and the risk is that it gets done too soon and then stagn

[2017-06-29 04:21] CharliePoole commented on #2195
@jnm2 Re design issue: I think we have to do whatever we already do in other classes that allow both `.Using` and `.IgnoreCase`. If we don't it will be very confusing for users.

[2017-06-29 04:24] CharliePoole commented on #2230
@jnm2 No problem, I'm just grumpy.

But seriously, I do have the impression you are going broad rather than deep. Which I count as too bad, because I think you could go very deep indeed, and we need depth.

[2017-06-29 04:55] jnm2 commented on #2195
@CharliePoole I didn't think we had any, but let's follow precedent.

[2017-06-29 05:02] CharliePoole commented on #2195
EqualConstraint, for example, allows both.

[2017-06-29 07:46] MihaMarkic opened #2286 "Add support for custom Task (i.e. ValueTask)"
Can you add support for custom Tasks, i.e. ValueTask (new in C# 7.0).

Right now looking at Assert.ThrowsAsync.

[2017-06-29 12:58] rprouse commented on #2230
@jnm2 No worries there, I've been doing the same thing lately. Last night I sat down to over a hundred GitHub issues that I hadn't read, most with many comments. I misread or misinterpreted several as I was trying to catch up 😦

[2017-06-29 13:11] rprouse commented on #2286
ValueTasks and the like are probably going to become more widely used, so I agree that we should add this. I am going to move to the backlog and we can look at what it would take to implement.

[2017-06-29 13:14] MihaMarkic commented on #2286
Just a note, which probably you already know, it isn't just ValueTask or Task, but a custom type can be used as well.

[2017-06-29 13:21] jnm2 commented on #2230
Now of course the band-aid fix *could* be to put this recursive reference search in, but only have it apply to the NUnit 3 framework driver and keep the other drivers as-is. Then at our convenience we can move the responsibility which will require an API change to do cleanly.

[2017-06-29 13:23] rprouse commented on #1212
@CharliePoole I clearly missed something while I was catching up. I thought that the you had lost your work on the separate repo. Where is it now? I don't see it  under the nunit org or your account. If that repo exists and we can help @fluffynuts create a release, then I think we can proceed with removing AssertionHelper from this repo and make the separate AssertionHelper release just before 3.8

[2017-06-29 13:36] rprouse commented on #2286
@MihaMarkic thanks, I am aware of that and that is why I said we need to figure out what it would take to implement. Currently `Assert.ThrowsAsync` takes an `AsyncTestDelegate` which has the signature,

[code]

I don't know what that would look like for a custom return type and I don't know how our `AsyncInvocationRegion` will work. It might be easy, for example, we check if a method is async by s

[2017-06-29 13:40] CharliePoole commented on #2230
If we were sure that nobody else is using the driver API, we could just change it. We would need to modify our two drivers.

Otherwise, we have to maintain the old interface and create a new one beside it like you do in COM and we did in V2 for ISuiteBuillder.

My guess is that we would know if someone had actually published a driver, but someone could be working ion one without our knowledge. I'd

[2017-06-29 13:40] CharliePoole commented on #2230
If we were sure that nobody else is using the driver API, we could just change it. We would need to modify our two drivers.

Otherwise, we have to maintain the old interface and create a new one beside it like you do in COM and we did in V2 for ISuiteBuillder.

My guess is that we would know if someone had actually published a driver, but someone could be working ion one without our knowledge. I'd

[2017-06-29 14:19] jnm2 commented on #2286
@rprouse This PR fixes another problem and at the same time gets rid of AsyncInvocationRegion and implements support for test methods returning any awaitable type: https://github.com/nunit/nunit/pull/2181

The only hard part is figuring out a public API for assertion methods which take delegates. There is no way to constrain to awaitable types because it's a duck-typed pattern.

For simplicity, wh

[2017-06-29 14:23] jnm2 commented on #2286
I can expand on why if it's helpful.

[2017-06-29 14:23] MihaMarkic commented on #2286
@jnm2 While that works, isn't optimal as you are creating yet another state machine.
If it icn't possible adding a generic solution, than a ValueTask overload should do I guess.

[2017-06-29 14:37] jnm2 commented on #2286
@MihaMarkic I know, and I am positive that it won't be a problem. The state machine overhead is already low and you're only using it once per call to `Assert.ThrowsAsync`.

If it turns out down the road that people have specific real-world examples where the testing performance is unacceptable, we can look at more API work.

[2017-06-29 14:52] CharliePoole commented on #2230
@rprouse What do you think? Is the driver API still flexible at this point? Or do we need to maintain it?

[2017-06-29 14:55] CharliePoole commented on #2230
FWIW I made the API work as it does because I didn't want to repeat the reflection in every driver that is tried out before one is found. No doubt that was premature optimization.

[2017-06-29 15:14] jnm2 commented on #2230
I don't like repeating reflection either. We could still calculate the transitive closure of references, assuming that any driver would likely find that interesting, and hand that to each driver along with the assembly file location in case the driver wants to do additional examination.

[2017-06-29 15:17] CharliePoole commented on #1212
See https://github.com/nunit/nunit/issues/1212#issuecomment-311964899

Summary: I found a backup of the local repository I created and uploaded it to https://github.com/nunit/nunit-expectations. We merged PR #1250 back February, which eliminated all of our own use of AssertionHelper and isolated it to two files.

I think I should take a look to refresh my memory and create  as needed on nunit-expe

[2017-06-29 15:22] jnm2 commented on #2230
Even better, pass two enumerables, one for direct references and one for all transitive references. If no driver enumerates them, no work is done. If one driver enumerates, the contents (as far as it has gone) are cached in case the next driver enumerates so that the work is done no more than once. I have code sitting around that does this.

What we should probably do is pass an args object to pre

[2017-06-29 15:27] CharliePoole commented on #2230
Good ideas. Let's wait for @rprouse 's view on changing versus doubling up on the API.

[2017-06-29 15:44] MikeFH commented on #2251
If no one is working on this, I'd like to give it a try.

[2017-06-29 15:49] CharliePoole commented on #2251
Since he posted code, I assumed @jnm2 was working on this, but I see he added up-for-grabs so you are welcome to take it!

[2017-06-29 16:06] jnm2 commented on #2251
@MikeFH It's yours!

[2017-06-29 16:07] jnm2 commented on #2251
Let us know if you need anything.

[2017-06-29 18:15] CharliePoole opened #2288 "Killing thread cancels test run"
I've only seen this once, but it's pretty scary. In the following CI build, an entire test run is cancelled while we are testing ThreadUtility.Kill. I've never see this before.

https://ci.appveyor.com/project/CharliePoole/nunit/build/3.8.0-ci-04129-pr-2287

[2017-06-29 18:21] mikkelbu opened #2289 "ResolveTypeNameDifference does not handle generic types well"
Given two different classes that gives the same result via ToString(), e.g.
[code]
Then the following tests fails correctly with a message from `ResolveTypeNameDifference` that describes the type difference.
[code]
The error message, however, does not handle the generic class very well
[code]
I would have expected something like
[code]

At the moment the code just splits on "." and there is no spe

[2017-06-29 18:34] rprouse commented on #2288
Interesting, we had a timeout in those same tests and also in .NET 3.5 only in #2283 a few days ago.

[2017-06-29 18:35] jnm2 commented on #2288
This is a test I wrote, so I'll take this one.

[2017-06-29 18:36] jnm2 commented on #2288
I'll work on it tonight EST.

[2017-06-29 20:27] Rincoln commented on #1200
I've had to do the same thing to work with proprietary ODBC drivers.  My solution is a little convoluted, but works.

public Task<T> RunSTAThread<T>(Func<T> action)
        {
            var tcs = new TaskCompletionSource<T>();
            System.Threading.Thread runThread = new System.Threading.Thread(new System.Threading.ThreadStart(() =>
            {
                try
                {

[2017-06-29 21:55] CharliePoole commented on #1200
This was still marked as `confirm` and nothing has been done. I guess we should at least consider it confirmed.

[2017-06-29 21:56] jnm2 commented on #1200
There's an easy fix for this, I just did this the other day. We need to set a synchronization context and message pump on the STA thread. Otherwise, `await` schedules continuations on a random thread pool thread.

[2017-06-29 21:58] jnm2 commented on #1200
Stephen Toub gives an excellent example:
https://blogs.msdn.microsoft.com/pfxteam/2012/01/20/await-synchronizationcontext-and-console-apps/

[2017-06-29 22:01] jnm2 commented on #1200
Here's a workaround you all can use so that you don't waste threads:

Change
[code]
to
[code]

And use:
[code]

[2017-06-29 22:03] jnm2 commented on #1200
@nunit/framework-team The fix for this in NUnit will be to install the SingleThreadedSynchronizationContext before each invocation of a test method. This will collide with my PR https://github.com/nunit/nunit/pull/2181 so I should probably assign this to myself.

[2017-06-29 22:07] CharliePoole commented on #1200
Cool!

[2017-06-29 22:15] jnm2 commented on #1200
(I've been using this for my console apps because sometimes jumping around a bunch of threads gets on my nerves 😛)

[2017-06-30 04:28] jnm2 commented on #2288
Well, I have extra work so I'll have to put this off a day.

[2017-06-30 08:30] MihaMarkic commented on #2286
It's also code verbosity and typing unnecessary keywords,
() => ...
vs
async () => await ...

[2017-06-30 09:43] jnm2 commented on #2286
Thw keywords are necessary for compile-time type safety, unless we add every possible awaitable type as an overload that we want to support. At least until the Shapes and Extensions proposal at dotnet/csharplang gives use the ability to take any `SAwaitable`.

So we either drop compile-time safety, or we accept just any type and throw at runtime if it isn't awaitable. Or we may end up making an ex

[2017-06-30 09:58] jnm2 commented on #2286
I and others have [demonstrated](https://github.com/dotnet/roslyn/issues/20135#issuecomment-310673452) that this is a problem with ValueTuple for example if you reference BenchmarkDotNet in a net47 project. I don't want it to happen with ValueTask and I don't want it do be happening now with ValueTuple. If the csproj SDK for net47 is not able to resolve the problem, they should have synchronized s

[2017-06-30 14:42] CharliePoole commented on #452
The only thing left to do here is to deprecate the existing nunit package on chocolatey, which is based on a package we stopped producing after 3.4. I have filed an issue on dgtm/chocolatey-packages to cleanup there and will post a new version of the old package that deprecates its use.

[2017-06-30 15:55] jcouv commented on #2286
@jnm2 what you suggest advice (shipping package with type forwards *before* the RTW of the new framework) was just not possible.
Type forwards need some RTM bits to point to, so the framework must ship first. Note that an updated ValueTuple package was published (with pre-release flag) very shortly after the framework was RTW.

The alternatives I can see have their own problems:
- don't ship any p

[2017-06-30 16:10] jnm2 commented on #2286
@jcouv Thanks for responding. The pre-release is the problem. NUnit Framework can't RTM with a pre-release dependency if this scenario repeats with System.ValueTask. I understand it can't actually be before the .NET Framework bits exist, but it should be no more than a day or two later that an RTM System.ValueTuple package with type forwards is available.

[2017-06-30 16:10] rprouse opened #2292 "Is.Ordered.By() with a field throws NullReferenceException"
The following code throws a `NullReferenceException` because `Name` is a field, not a property, This is unintuitive for users, so we should probably handle public fields. At the very least, we should give a better error message.

[code]

[2017-06-30 16:12] jnm2 commented on #2286
And forcing users to work around the compilation problem by referencing a prerelease package is exactly as bad as having a direct NuGet dependency on a prerelease package, only harder to understand.

[2017-06-30 16:18] jnm2 commented on #2286
I certainly don't understand why it's such a low priority. It's been two and a half months since people started installing the RTW bits.

[2017-06-30 16:24] jnm2 commented on #2292
I agree. NullReferenceException should never be thrown in any NUnit framework method.
Do you want to put on the backlog as `up-for-grabs`?

[2017-06-30 16:25] jnm2 commented on #2292
Wait, I guess we have the design question of whether to support public fields in `By`. I see no reason why not.

[2017-06-30 16:33] rprouse commented on #2292
I was already looking at this answering the related StackOverflow question, so I may as well fix it.

[2017-06-30 16:47] CharliePoole commented on #2292
I'm in favor of a better error message. The way to get it is to stop letting exceptions get out of the framework. That will solve a lot of other problems.

I'm not in favor of adding fields as an option. There are a number of other features that limit you to properties and wouldn't want to start on a slippery slope.

[2017-06-30 16:54] jnm2 commented on #2292
If we fix this one, I'm not sure that will impact any of the rest of NUnit's potential bare errors. Seems like a separate review effort.

The reason I'm slightly in favor of that slope is that it fits the C# and VB.NET mental model of “a value I can reference by writing `.Name`.” The only time it makes sense to me to draw the line is in the case of `Property("Name")` which is restricted to propert

[2017-06-30 17:09] CharliePoole commented on #2292
@jnm2 Well, it depends how you fix it. All errors that escape can be captured at a single point and reported as some kind of internal framework error by the runner. That would be helpful in telling users that the error is in the framework and should give a stacktrace that we can use to fix it.

At some point, we have to say - let's leave the error in and fix the reporting first. Alternatively, you

[2017-06-30 17:15] jnm2 commented on #2292
So, only catching bare errors thrown during calculation of a constraint. That sounds good.

To which we can say no if it's a genuinely bad idea. :smile:

[2017-06-30 17:16] rprouse commented on #2292
I am just going to switch this to throwing an `ArgumentException` if the property is not found. Looking at the code, that looks like it was the intention.

[2017-06-30 17:16] jnm2 commented on #2292
Actually no. Some constraints execute user delegates and which could NRE, making it look like the Framework NRE'd. It's a matter of widespread whitelisting or widespread blacklisting. :smile:

[2017-06-30 17:25] CharliePoole commented on #2292
Any code a user executes in a test, including constructing constraints and asserting on them, generates a result, not an exception. That is, the code may throw, but it's captured and packaged as a result.

If an exception escapes, it's one of two things:
1. Non-user code is throwing (i.e. our code)
2. We are not properly capturing a test exception and converting it to a result

Both of those thing

[2017-06-30 17:29] jnm2 commented on #2292
Okay. So we already have the whitelisting going. I should have known that from my `await` PR.

[2017-06-30 18:17] #2292 closed

[2017-06-30 18:17] jcouv commented on #2286
@jnm2 I see. Yes, I think we should have tried to flip the release bit sooner.
Currently the package is planned to be marked as release when .NET Core 2.0 ships, but I will ask if we could do it now. Let me get back to you on that. Ping me in a few days if I didn't.

[2017-06-30 18:43] jnm2 commented on #2286
Thanks Julien, that would be tremendously appreciated.

[2017-06-30 18:49] jnm2 commented on #2286
@nunit/framework-team Back to topic, do we want NUnit.Framework to take a dependency on the System.ValueTuple package?

If we say yes, we will have to keep an eye on the .NET Framework to make sure that when it starts shipping ValueTask, we update the version of our NuGet System.ValueTuple dependency to the latest (counting on the .NET team to have it within a day or two), or people's code will st

[2017-07-01 01:11] jnm2 commented on #2288
Yikes. Worked 14 hours, slept 4.5, worked 11.5. Brain is cooked for today. But work deadline is over so I'll try to do this tomorrow at some point.

[2017-07-01 02:05] MhdTlb commented on #2195
Can I work on this feature?

[2017-07-01 02:36] jnm2 commented on #2195
@MhdTlb Awesome, you are welcome to! Let us know if you need anything.
We'll also send an invitation so you can be assigned to this issue.

[2017-07-01 02:48] jnm2 commented on #2258
@nunit/framework-team I'm about to submit a PR based on this and switching our tag from `easyfix` to `up-for-grabs`.

[2017-07-01 03:01] jnm2 commented on #2258
See https://github.com/up-for-grabs/up-for-grabs.net/pull/654

[2017-07-01 03:02] jnm2 commented on #2255
See https://github.com/up-for-grabs/up-for-grabs.net/pull/654

[2017-07-01 20:47] jnm2 commented on #2288
The worst thing that's happening is a call to thread.Abort() on a thread I created, not the test thread, so I'm not sure how that got propagated back up to NUnit.

[2017-07-01 20:54] jnm2 commented on #2288
I'm running stress tests via `build -t test35` and not getting a repro on my computer.

[2017-07-01 20:56] CharliePoole commented on #2288
It shouldn't... for exactly this reason. There is code that NUnit uses to cancel an Abort unless a particular flag is set in the TestExecutionContext that tells us "Yes, we really want to abort the entire run."

[2017-07-01 20:57] jnm2 commented on #2288
Do we have a second example of this failure on AppVeyor? I haven't found one so far.

[2017-07-01 20:59] jnm2 commented on #2288
AppVeyor needs a log search option.

[2017-07-01 21:02] CharliePoole commented on #2288
I saw it once before. Same stack trace as far as I remember. I wrote the bug on the second appearance of the problem.

[2017-07-01 21:06] jnm2 commented on #2288
I can't think of any lines of attack. Can't think of any ways that a ThreadAbortException could be raised on a test thread via this test.

[2017-07-01 21:13] CharliePoole commented on #2288
I took a look at it. You have a TimeoutAttribute set, which will kill the test thread if it takes more than 1000ms. Maybe that interacts with the kill in your test in some unforseen way. You could try setting that timeout very short to see what happens.

[2017-07-01 21:16] jnm2 commented on #2288
Now I feel silly. :D

[2017-07-01 21:23] jnm2 commented on #2288
The problem with timeouts is that a busy server might not have the resources to complete the test in the desired time. We could try bumping this up to ten seconds. It's not expected to ever run that long; it's just a way to keep the test from running forever worst-case.

Though that would mean that the timeout message was not shown and IIRC that's a bug I have seen a while back. Would updating the

[2017-07-01 21:24] jnm2 commented on #2288
Actually, here's a better fix: stop using the Timeout attribute and use `thread.Join(1000)` instead.

[2017-07-01 21:25] jnm2 commented on #2288
@CharliePoole worth a try and then leave it unless we see this come back up?

[2017-07-01 21:30] jnm2 commented on #2288
Weird that we don't have ThreadUtility on NETSTANDARD1_6... exploration for another day.

[2017-07-01 21:41] CharliePoole commented on #2288
Yeah... I wouldn't use Timeout there. We have often had to use low-level stuff in our tests to avoid depending on the very thing we are testing - or something close to it. My suggestion was that you __lower__ the timeout and see if you can make it fail, but if you'd rather not dig that deep I think `Join` is a good option. You can assert on the result and fail the test if the thread never ends.

[2017-07-01 22:28] jnm2 commented on #2288
I tried lowering the timeout and it always gave the standard timeout message, never cancellation with a call stack. Happy to dig deep but I ran out of ideas. :-/

[2017-07-01 22:46] ChrisMaddock commented on #2288
I thought .NET Standard doesn't have Thread.Join, which was why? I could be wrong...

[2017-07-01 23:09] jnm2 commented on #2288
Ah, I didn't know that. True, but it looks like there is if you reference the System.Threading.Thread platform extensions package.
https://apisof.net/catalog/System.Threading.Thread.Join()

[2017-07-01 23:10] jnm2 commented on #2288
But honestly we could work around it with a manual reset event, if we wanted timeout support for .NET Standard 1.6. If someone ever asks for it.

[2017-07-02 00:02] ChrisMaddock commented on #2288
We already reference System.Threading.Thread - but I think Thread.Join is only in .NET Standard 2.0?

Although the page you linked says it's in ".NET Standard + Platform Extensions" version 1.6, and I don't really know what that means! 😄

[2017-07-02 00:05] jnm2 commented on #2288
Okay! You know more than I do. :-D

[2017-07-02 00:31] ChrisMaddock commented on #2288
One of the long term things on my list has been to implement a timeoutattribute on .NET Standard.

I'm pretty sure .NET Standard 2.0 will be released before I get round to it! 😄

[2017-07-02 02:12] MhdTlb commented on #2195
I pushed required changes under new branch MhdTlb/nunit/issue-2195

[2017-07-02 02:23] jnm2 commented on #23
We already have this with the `IEquatable<>` interface, but I'm not sure that it would be a good thing to detect if `object.Equals` has been overridden.  It is doable:

[code]

but Liskov substitution and dependency inversion would not be happy with us. I'm afraid there would be too many inintended side effects. A BCL collection might start overriding equals for a reason irrelevant to the test.

W

[2017-07-02 02:39] jnm2 commented on #893
@nunit/framework-team We just had the same discussion on the `ValueTuple` type now that C# has that type backing its tuple language feature. Would we be in agreement that the same purposes apply to `Tuple`? I was under the impression that `Tuple` plays a similar role in F#'s tuple language feature that `ValueTuple` now does in C#.

@mikkelbu Would you have any interest in this? I'm thinking it's g

[2017-07-02 09:25] MihaMarkic commented on #2286
Perhaps there could be an extension (i.e. NuUnit.ValueTupleMess nuget package) that works when referencing ValueTuple nuget package. And "native" support for framework's ValueTuple where there is no need to reference external packages?

[2017-07-02 13:39] jnm2 commented on #2286
@nunit/framework-team @MihaMarkic Dang it, I said the wrong name. I meant ValueTask above. 🙄

[2017-07-02 13:43] jnm2 commented on #2286
@MihaMarkic Assuming we're talking about ValueTask now... that would mean compiling for a new platform, net471 or net48, in addition to net45 and the others we support. I also can't think of a way that a separate NuGet reference could add a `ValueTuple` overload to `Assert.ThrowsAsync` because static extension methods aren't yet a thing in C#.

[2017-07-02 14:02] MihaMarkic commented on #2286
@jnm2 Yeah, sorry. ValueTask of course. (you mention ValueTuple as well above :)).
Good point about extending static method. If Assert isn't a static class then it could be derived from "normal" Assert. But that would at least change the namespace of Assert type being used for asserting ValueTask results.
The other option is to use AssertEx or some other naming.
Not ideal either way, right.

[2017-07-02 16:20] ChrisMaddock commented on #23
I'd agree on the basis our equality testing is complicated enough, and this issue doesn't seem to have come up again since first raised in 2010!

[2017-07-02 17:49] jnm2 commented on #2286
You could create your own Assert, inheriting from NUnit's and adding methods. If you have ReSharper it will complain that you're accessing a base static method via the derived name.

[2017-07-03 10:14] LirazShay commented on #668
I also think that it would be great to remain the functionality of sln file as is.
I also have 1 solution with multiple projects (some are tests and some are test framework for automated testing)
And I want to have 1 job in jenkins for all projects and pass the project name as argument in the 'where' section - for example: --where "class =~ 'PlacementTest.Specs'" (PlacementTest.Specs is the projec

[2017-07-03 16:32] jnm2 commented on #228
Closing as duplicate in favor of https://github.com/nunit/nunit/issues/1151 which contains more information.

[2017-07-03 16:32] #228 closed

[2017-07-03 19:59] mikkelbu commented on #893
@jnm2 Sure. I can take a look at it.

[2017-07-04 13:14] bicarbon8 commented on #1514
Given this discussion ended a year ago there's probably been many changes, but it would seem you could output multiple .xml results files (one per parallel grouping) such that test methods run in parallel each get their own .xml (one .xml file per test method or _TestCase_ in the case of Data Driven test methods) while test assemblies run serially, but in parallel with other test assemblies would

[2017-07-04 13:24] ChrisMaddock opened #2298 "Write TestParametersDictionary to xml result file in readable format"
I just went to look up TestParameters in the results xml.

[code]

It would be good if we can write that out TestParametersDictionary in a more readable fashion in the TestResult xml - the current output isn't much use.

[2017-07-04 13:30] oznetmaster commented on #2298
I was not aware that it was deprecated, informally or formally :(

[2017-07-04 13:40] ChrisMaddock commented on #2298
Did I get it the wrong way around? I thought you were one of the key people pushing for it @oznetmaster! 😄

I lost track of all the debate that went into that one, but I thought one of TestParameters/TestParametersDictionary was intended to replace the other - but both were going to continue to be supported, for runner backwards compatibility? Am I wrong there?

[2017-07-04 14:26] ChrisMaddock opened #2299 "NUnitLite NuGet package no longer installs NUnit NuGet package"
The NUnit Lite package no longer installs the NUnit Framework package as a dependency.

We added empty dependency groups to the nuspec, to fix https://github.com/nunit/nunit/issues/2165 - but missed that the NUnitLite package _should_ have a dependency on all platforms of the NUnit package. 😞

![image](https://user-images.githubusercontent.com/4837132/27834023-27ac41ec-60cd-11e7-8505-76314537810b.

[2017-07-04 14:45] ChrisMaddock commented on #2298
I removed my comment on the matter, given I clearly don't know what I'm on about. 🙂

[2017-07-04 16:00] CharliePoole commented on #2299
When did the dependency get dropped? Can we fix it at the package level without a new release? I'd call this critical.

[2017-07-04 16:13] ChrisMaddock commented on #2299
This would have been broken since 3.7.0, which has been released over a month now. I guess there's not that many people adding NUnitLite to new projects!

I debated 'critical' but went for 'pri:high' as a) it's not been reported for a month and b) there's a simple workaround. I don't think we can fix it without a release, no.

[2017-07-04 16:34] CharliePoole commented on #2299
Too bad NuGet doesn't support a way to do package releases containing the same software. Apt does that with a special suffix.

[2017-07-04 19:25] CharliePoole commented on #2298
@ChrisMaddock I'm confused as well, so I guess we are forced to focus on the issue itself. 😄

Old frameworks only understand TestParameters. New frameworks currently understand both. Ideally, both shouldn't be in the XML IMO. They are two representations of the same thing.

Where is the code that adds the settings to the XML? I'm not finding it on my phone.

[2017-07-04 19:42] CharliePoole commented on #1514
@bicarbon8 In a way, that's what we already do, minus the actual file. 😄

Every test sends an XML result to the runner, which can do whatever it wants with it. None of our runners write them as files and I don't know of any third-party runner that does either, but it's certainly possible.

In our architecture, it's not the job of the framework to write files.

[2017-07-04 19:48] ChrisMaddock commented on #2298
https://github.com/nunit/nunit/blob/7b87bdc7b48ee1b13023dd282efea449c2d66b81/src/NUnitFramework/framework/Api/FrameworkController.cs#L436

Looks like it just `ToString()'s` it. Maybe we can do something more intelligent if the 'object' of the setting is a dictionary.

[2017-07-04 19:58] CharliePoole commented on #2298
My thought is that the framework should reflect the settings it's actually using. For new frameworks, that's the dictionary. So the legacy setting can easily be ignored. The TestParametersDictionary setting can be handled element by element, giving us something the actual values.

[2017-07-04 20:48] OmicronPersei commented on #1151
Looking to pick this up.

It seems that the bulk of the work is to implement a customized `ConstraintResult` type.  Then we'll need to override `CollectionEquivalentConstraint.ApplyTo<TActual>(TActual actual)` to instead return this new `ConstraintResult` type.  Should be able to expand the existing `CollectionTally` class to hold onto both missing and extra values.  The newly created `ConstraintR

[2017-07-04 21:31] CharliePoole commented on #1151
Sounds reasonable.

[2017-07-04 22:39] CharliePoole commented on #452
Blocked until we have a package to which we can refer users when this is deprecated.

[2017-07-05 00:13] rprouse commented on #2299
Odd, NUnit is still listed as an overall dependency and we still have the blank

[code]

I guess that only applies to not specified targets and we need to duplicate it for each?

We could grab the binaries out of the existing NuGet package and release an updated version with the dependencies fixed using the same binaries. I might even be able to edit the existing one using NuGet package manager fo

[2017-07-05 00:15] rprouse commented on #2299
@ChrisMaddock I added myself as a second assignee on this. Let's coordinate. Maybe you can do the proper fix for the next release and I can see if I can get a hotfix out?

[2017-07-05 00:23] CharliePoole commented on #2299
I wondered about the use of $version$ in other places in the file besides the primary version entry for the package. Are you sure that works as a general substitution?

[2017-07-05 00:26] rprouse commented on #2299
@CharliePoole that dependency hasn't changed and it looks right in the image @ChrisMaddock posted above. Notice the first dependency is correct, it just doesn't seem to get picked up because of the target specific dependencies.

[2017-07-05 00:35] CharliePoole commented on #2299
Seems like a bug in NuGet, which we will have to work around.

[2017-07-05 07:17] MihaMarkic commented on #2286
Sure, but it'd be nice if that was baked in somehow.

[2017-07-05 08:32] suras48 opened #2301 "Assert.Areequal Null reference exception is thrown"
Null reference exception is thrown whiel using Nunit 3.7.1,
when i tried with NUnit 3.6.1 issue is not seen.

Result StackTrace:
at NUnit.Framework.Assert.That[TActual](TActual actual, IResolveConstraint expression, String message, Object[] args)
   at NUnit.Framework.Assert.AreEqual(Object expected, Object actual)
   at eMSManagerTest.eMSManagerEnglishTest.TheTC001EMSManagerTabsTest() in D:\Autom

[2017-07-05 08:44] ChrisMaddock commented on #2299
@rprouse Sounds good. On my phone, but there's a PR from yesterday for the in-repo fix.

[2017-07-05 10:09] mikkelbu commented on #2301
Sounds like a duplicate of #2242, but it is difficult to be sure without some more context, e.g. the test.

Ps. The problem will be solved in 3.8.

[2017-07-05 10:14] suras48 commented on #2301
i will post a simple test here while trying this also Null exception is shown.But while downgrading NUnit from 3.7.1 to 3.6.1 issue is not observed.

[TestMethod]
        public void TestMethod1()
        {
            try
            {
                var s = "S";
                var t = "T";
                NUnit.Framework.Assert.AreSame(s, t);
            }
            catch(AssertionException

[2017-07-05 10:46] mikkelbu commented on #2301
So you are using TestMethodAttribute from MS and Assertions from Nunit. Why not just use [TestAttribute] from Nunit?

[2017-07-05 11:22] elv1s42 opened #2302 "IXmlNodeBuilder.ToXml() method"
Hello,

I was investigating how Action Attributes work, and I faced one strange behaviour.
This is the full example:
[code]

When I am called `nunitTest.ToXml(true).OuterXml` I expected to see the same result as in TestResult.xml file:
![2017-07-05 14_13_43-c__users_evgeniy_kosjakov_testresult xml - notepad](https://user-images.githubusercontent.com/6689884/27862150-97bad830-618c-11e7-8038-84db371

[2017-07-05 11:23] suras48 commented on #2301
We wna tto generate the test result in specific manner which can be done with TestMethodAttribute from MS, so we have implemented all over the code and need to display all test case on Test explorer for that TestMethod is required . Actually till NUnit v3.6.1 no issues, but after updation to NUnit v3.7.1 Null exception is displaying.
Currently we can use NUnit 3.6.1 for testing purpose.
So we need

[2017-07-05 11:30] jnm2 commented on #2286
Psst @nunit-framework team, waiting for a word from you.

[2017-07-05 12:24] jnm2 commented on #1151
@OmicronPersei It's yours.

[2017-07-05 12:40] rprouse commented on #1151
@OmicronPersei I've sent you an invitation to the Contributors team. That will allow us to assign issues to you. Once you accept the invitation, one of us can assign this issue. Welcome.

[2017-07-05 13:02] CharliePoole commented on #2301
You must use one framework or the other. If you are using MSTest to run tests, then use their assertions. If you want to use NUnit, then use NUnit attributes exclusively. The test assembly should reference only one framework.

You can run NUnit tests in VS by installing the NUnit 3 adapter.

Your use if two frameworks appeared to be working in the past because of some combination of the features y

[2017-07-05 13:02] #2301 closed

[2017-07-05 13:23] rprouse commented on #2286
I would really prefer to not take a dependency on `ValueTask` if at all possible. I would prefer to drop compile time safety for `ThrowsAsync` and throw if it is not awaitable. Are there other alternatives that I missed in these many comments?

[2017-07-05 13:52] rprouse commented on #2299
I really don't want to put out a framework hotfix just for this, so I edited the existing NUnitLite package and fixed the dependencies. It won't let me overwrite the 3.7.1 version, so I updated the version of the NuGet package only to 3.7.2. The binaries and NUnit dependency are still 3.7.1.

This might be confusing for some users, so I would like to limit the time this is out there and get the 3.

[2017-07-05 13:53] #2299 closed

[2017-07-05 14:49] OmicronPersei commented on #1151
@rprouse Thank you! :)

[2017-07-05 15:41] elv1s42 commented on #2302
Hi @CharliePoole !
Thank you very much for quick response.
I was hoping to do something similar to parsing `TestResult.xml` from `nunit3-console`, but without using `nunit3-console`.
The idea was to get test results while tests are running in Visual Studio (in ReSharper Test sessions or in Test Explorer).

Is it possible to create such extension? I guess I should extend NUnit Framework.

[2017-07-05 17:00] racharya opened #2303 "NUnit fixture skipped. Generic Test Fixtures with Parameters."
I have a unit test class that has the following TestFixture
`[TestFixture(TypeArgs = new[] { typeof(<xxxxx>) })]`
When I run my unit tests on Resharper runner all of the tests comes out to be Inconclusive:Test not run
but when I run through Nunit adapter all of these tests passes. I am upgrading all of the unit tests that were written using NUnit 2.6.3 to NUnit 3.7.1.  I was wondering if this is a

[2017-07-05 17:42] CharliePoole commented on #2303
I don't use Resharper, so I can't try this out. However, the test should work with NUnit itself and you confirm it does. In the case of Resharper, we don't really know how they make use of NUnit but I would have to guess that they are using NUnit in a way that doesn't actually run the tests because internally to NUnit Inconclusive is the default state of a test that has just been created.

[2017-07-05 17:55] racharya commented on #2303
Thank you Charlie. I was a bit curious if `TestFixtureAttribute` has anything to do with it. I am assured it's most probably ReSharper now.

[2017-07-05 18:11] #2251 closed

[2017-07-05 18:13] #2303 closed

[2017-07-05 20:58] jnm2 commented on #2286
@rprouse The other alternative is to keep compile time awaitable type safety and not change anything on our side:

[code]

I also don't feel like it's worth taking the dependency just to be able to write `Assert.ThrowsAsync(MyValueTaskReturningMethod);`.

[2017-07-05 21:00] jnm2 commented on #2286
Nor do I really feel like it's worth removing the compile-type awaitable type safety enformrcement to allow the latter, either. Until someone can demonstrate that there is a good deal of pain of some kind by having to wrap in an async lambda.

[2017-07-05 21:01] jnm2 commented on #2286
Yet another option, write a helper method:

[code]

/cc MihaMarkic I could write up a proof of concept if you like.

[2017-07-05 21:03] jnm2 commented on #2286
My bad, GitHub's close button looks so much like a Cancel button 😝

[2017-07-06 00:04] CharliePoole commented on #2302
There is no current way to inject cross-cutting code into the test execution except through a an Action Attribute - unfortunately! And any framework extension you created could only participate in the execution of the test. That is, the result would not be completely set up at the point it was running. We could add such an extension point, of course, but that would only help in the future.

[2017-07-06 09:12] elv1s42 commented on #2302
Yeah, I think that would be a very useful extension point.
Thank you

[2017-07-06 13:02] nosami commented on #34
[This](https://github.com/xunit/xunit/commit/a2aa665f1b9633e8ec00f549c5df73a0c784a742) is how @bradwilson implemented it for xunit

[2017-07-06 14:56] jnm2 commented on #2230
Too bad we can't drop Mono.Cecil and reference https://www.nuget.org/packages/System.Reflection.Metadata/. I did a proof of concept for something unrelated at work and memory-mapping the assembly files and reading the assembly reference list is insanely fast. Problem is the NuGet package only works as far back as net45 (and netstandard11).

[2017-07-06 23:02] HaomingFu opened #2306 "NUnit console fails with error code -100"
I'm using NUnit3.5 console runner. I use nunit console to run my unit tests. There is no deterministic repro but it fails very often with error code -100.

`nunit3-console.exe UnitTest.Client.dll --where "cat==MyTests" --output=RBSUnitTest_General_OutputFile.txt --result=RBSUnitTest_General_ResultFile.xml`

I see this in the nunit console cmd output:

[code]

Any help would be appreciated.

[2017-07-07 01:28] #2254 closed

[2017-07-07 08:11] ChrisMaddock commented on #2306
I'd expect this is the same issue as this, which will be fixed in NUnit Console 3.7.

https://github.com/nunit/nunit-console/issues/225

Try the console from the latest build of master at the link below - and see if that solves the problems you're seeing?
https://ci.appveyor.com/project/CharliePoole/nunit-console/build/3.7.0-dev-03691/artifacts

[2017-07-07 08:12] ChrisMaddock commented on #2306
I'm also going to move this issue over to the NUnit Console repo.

[2017-07-07 08:12] ChrisMaddock commented on #2306
Issue moved to [nunit/nunit-console #255](https://github.com/nunit/nunit-console/issues/255) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-07 08:12] #2306 closed

[2017-07-07 13:13] akamud opened #2307 "Nested tests repeats base class tests"
I have this scenario:

[code]

This shows up duplicated on VS and nUnit GUI, and the biggest problem is that the `BaseTest` showing up on the nested class fails because the test runs twice and this is the scenario:

1. BaseSetup runs
2. DerivedSetup runs
3. BaseTest runs // fails because `value` is now `100`

![image](https://user-images.githubusercontent.com/954102/27959111-89fb5e56-62fc-11e7-8b2

[2017-07-07 15:26] CharliePoole commented on #2307
Essentially, NUnit is doing what you told it to do. Both the base and derived classes are fixtures. The base qualifies because it has the attribute and also because it contains tests. The derived class also has the attribute - by inheritance - as well as tests.

The pattern you are trying to use is called Abstract Fixture and the solution is in its name. Make your base class abstract and either mo

[2017-07-07 15:26] #2307 closed

[2017-07-07 16:14] eppz opened #2308 "nunit-console can't find NUnit classes"
Hi,
I cannot run tests here:
https://github.com/eppz/Unity.Library.eppz.Extensions

---

**Is this something with having tests and NUnit in separate dlls?**
**If so, how can I resolve this?**

---

Nor on Travis nor local, `nunit-console` can't find `NUnit` classes.

I'm running `nunit-console bin/Debug/Test.dll`.

That tells me:
[code]

All the line numbers are the first usage of `Assert` class (

[2017-07-07 16:23] akamud commented on #2307
Your suggestion still has a problem for my scenario:

[code]

Sure, the tests are not repeated anymore, but the base test still fails because it runs from the derived fixture. And that test is in the base class because I can have scenarios like this in my suite:

[code]

I see your point about nUnit doing what I told it to do, but my question is: is there a way to tell nUnit to not run base class

[2017-07-07 16:41] CharliePoole commented on #2307
Sorry, but I"m not getting it. IF you don't want to run the tests in the base class, then why are they there?

Fundamentally, an abstract fixture exists to contain all the things that are common to the derived classes. If those tests are not common, then perhaps you need yet another derived class to hold them.

WRT Setup, if both the base and derived classes contain SetUp methods, both are run bef

[2017-07-07 18:12] akamud commented on #2307
Actually I do want to run the tests in the base class, but I don't want it to start from the Derived classes.

Let me show you a more concrete example of what I mean, trying to keep it as simple as possible:

This is my code:
[code]

And these are my tests
[code]

As you can see, the `_sessionControl.SetLoggedUser` does not depend on the User status, so I write this test in my `WhenLocalUserExists

[2017-07-07 18:19] CharliePoole commented on #2307
What you are trying to accomplish makes perfect sense. But you have not modelled it that way in NUnit.

Everything in the base is duplicated in every derived class. Therefore, if there is something that you don't want duplicated, it can't be in a base class.

[2017-07-07 18:59] akamud commented on #2307
I understand that, but isn't this necessary because of the way Nesting Setups work on nUnit?

I mean, the only solution I came up with, was "hiding" the common scenario (`ShouldSetLoggedUser`) in a derived class. Like so:

[code]

So essentially, all my base classes are becoming abstract classes.

What would be a better solution without the need of the `Common` subclass? I don't see how nUnit woul

[2017-07-07 20:14] HaomingFu commented on #2306
@ChrisMaddock, Thanks for letting me know!

[2017-07-07 20:27] eppz commented on #2308
@CharliePoole Can you point me to the right direction?

[2017-07-07 20:47] CharliePoole commented on #2308
I thought I had, with my closing comment, but I don't see it above! Let's try again...

You are calling methods on `_null`, which you set to `null`. So an NRE is to be expected in most situations. That's a normal C# thing, not an NUnit thing.

In the case of your extension methods, you want them to work with null. This seems like an odd design choice to me and I'm not 100% sure it's possible. One

[2017-07-07 20:52] eppz commented on #2308
Thanks for getting back.

I had similar thoughts, so I began with simple assertation, like:
[code]

Which still gives the same result.

[code]

You can see it yourself just by checking out the project.

[2017-07-07 23:06] eppz commented on #2308
Actually I had to install NUnit framework itself to Travis.
Now it just builds fine: [![Build Status](https://travis-ci.org/eppz/Unity.Library.eppz.Extensions.png?branch=master)](https://travis-ci.org/eppz/Unity.Library.eppz.Extensions.png)

**The `NUnit -Version 3.7.1` installation was key**, as it put a `nunit.framework.dll` into the built product folder.
[code]

The issue has nothing to do with

[2017-07-07 23:40] CharliePoole commented on #2308
So was the problem solely on Travis, or do you have it also locally? Naturally, NUnit (both framework and runner) have to be installed if using Travis, just as you have to install them locally.

[2017-07-08 00:42] eppz commented on #2308
I could "reproduce" it locally as well (using command line stuff only). Using IDE (MonoDevelop) cheated me (as it resolved NUnit library magically on its own, while the reference was broken).

[2017-07-08 00:42] #2308 closed

[2017-07-08 03:20] jnm2 commented on #1824
@flcdrg By running your amazing minimal repro, I see this appears to have been fixed in console 3.6.0. Please try the latest, 3.6.1, and let us know if this fixes your issue.

[2017-07-08 13:47] jnm2 commented on #2301
I don't see why NUnit and MSTest tests can't be in the same assembly. I did this with each test assembly at work as I slowly converted tests. I used the VSTest adapter, and MSTest only runs the `TestClass` tests and NUnit only runs the `TestFixture` tests and so long as you only use NUnit assertions in NUnit tests and MSTest assetions in MSTest tests, you're fine as far as I can see.

[2017-07-08 13:48] jnm2 commented on #2301
I'm for making that an explicit design goal because having to convert whole assemblies at a time is a barrier to adoption, plus why not be flexible especially since it already works?

[2017-07-08 13:52] jnm2 commented on #2301
(Side note: I'd love to see us decouple the assertion APIs from the rest of the framework, even though it's in the same DLL, and explicitly support other assertion APIs like Shoudly. Maybe v4?)

[2017-07-08 13:59] CharliePoole commented on #2301
VS will let you put both kinds of tests in the same assembly. That's not the issue here. Rather it's __one__ test that uses MSTest attributes and NUnit assertions. Since it's an MSTest attribute, MSTest executes it and any ability for NUnit assertions to function is purely coincidental!

BTW, the NUnit Engine only allows one framework per assembly, picking the first one it finds. But, of course, i

[2017-07-08 14:00] CharliePoole commented on #2301
That was a pet project of mine, which we couldn't agree on 6 months to a year ago. It's something I plan to do in a new framework - maybe - after my vacation.

[2017-07-08 14:01] jnm2 commented on #2301
How's the vacation going? 😃

[2017-07-08 14:04] CharliePoole commented on #2301
Leaving for the airport in an hour.

[2017-07-08 14:09] jnm2 commented on #2307
@akamud This is why we must run inherited methods. Otherwise this standard technique would stop working:

[code]

[2017-07-08 14:16] jnm2 commented on #2307
Also suppose this happened:

[code]

There is no way we should stop `NonoverridingClass.SomeTest` from running because doing so means that we also have to stop `OverridingClass.SomeTest` from running, *or* we hackishly disobey the OOP principles of liskov substitutability and dependency inversion, by using reflection to figure out _and act differently_ if `SomeTest` was overridden or not.

[2017-07-08 14:22] akamud commented on #2307
I see, so my scenario can only be achieved removing the tests from base classes, like I did with the `Common` class.

Thank you both for taking the time answering this.

[2017-07-08 14:31] jnm2 commented on #2307
@akamud No problem. Hopefully the solution is serviceable for you. We try to adhere to .NET object model semantics as closely as possible. Many people (including me) consider it a likely code smell if you have a class that isn't marked either `abstract` or `sealed`, so to me your solution is actually cleaner from a semantic C# point of view. But YMMV. 😄

However, the other possibility is that we a

[2017-07-08 14:38] akamud commented on #2307
That attribute would work for me :)

[2017-07-08 15:02] jnm2 opened #2309 "[TestInThisClassOnly] for test methods"
Here is an example of a someone wanting to prevent base class test methods from being discovered and run for the derived class, with code: https://github.com/nunit/nunit/issues/2307#issuecomment-313754878

We must keep running base class test methods in derived classes by default (https://github.com/nunit/nunit/issues/2307#issuecomment-313857888), so this is the workaround: https://github.com/nuni

[2017-07-08 15:03] jnm2 commented on #2307
@nunit/framework-team Started discussion in a [new thread](https://github.com/nunit/nunit/issues/2309) for `[TestInThisClassOnly]`.

[2017-07-08 16:11] CharliePoole commented on #2309
It seems like an unnecessary substitute for people's learning how nunit works. Also, this has come up once in fifteen years!

It is curious however that a number of weird usages have suddenly started to pop up.

[2017-07-08 17:12] jnm2 commented on #2309
I like to get the discussion though. For the sake of discussion, it sounds like you're saying that the `WhenX`, `AndY : WhenX` style is an unnecessary substitute for learning how NUnit works. That's not so if we decide we want NUnit to support that style.

[2017-07-08 18:36] CharliePoole commented on #2309
I was replying to TestThisClassOnly.

NUnit is designed to __support__ alternative syntactic styles but it probably makes more sense as an extension rather than expanding the framework itself.

[2017-07-09 12:41] ChrisMaddock commented on #2309
Personal opinion: I think this is going too far to solve a problem that should be handled by restructuring tests.

I think restructuring covers the vast majority. Should someone come across an edge case where they don't want to restructure, they could implement such an attribute as a custom attribute. I don't think this is a common enough case to add an attribute to the main library. 🙂

[2017-07-09 13:08] oznetmaster commented on #2309
I agree with @ChrisMaddock .

[2017-07-09 17:54] jnm2 commented on #2309
Sounds good to me. Thanks for your opinions!

[2017-07-09 17:54] #2309 closed

[2017-07-09 18:30] jnm2 commented on #2309
Here is a tested implementation as a custom attribute:

[code]

/cc @akamud

[2017-07-09 18:31] jnm2 commented on #2309
Usage:

[code]

[2017-07-09 18:35] jnm2 commented on #2307
We decided not to add this to the framework, but maintaining a custom attribute will still give you everything you'd want. See https://github.com/nunit/nunit/issues/2309#issuecomment-313936931.

[2017-07-10 02:55] jnm2 opened #2311 "Resolve test projects' namespace situation"
We are fighting uphill against convention and against most contributors' tooling by not namespacing according to folder structure. We're inconsistent which leads to confusion and a bunch of `using` directives with the name segments in a different order when adding new files.

I propose that we (I'm willing) do a sweep and make everything match the folder structure. Most people are used to working

[2017-07-10 03:45] david-proctor commented on #2201
Is this still up for grabs? I'd like to take it if so.

[2017-07-10 05:37] CharliePoole commented on #2311
I've been fixing this slowly, and it's probably time to do a sweep.

However, my fixes have been in the opposite direction... toward eliminating I the Tests namespace.

[2017-07-10 06:44] ChrisMaddock commented on #2201
Great - it's yours! Thanks!

[2017-07-10 13:07] akamud commented on #2309
Thank you all for taking the time discussing this and for providing a workaround 👍

[2017-07-10 15:58] ChrisMaddock opened #2313 "Incorrect xmldoc on RetryAttribute"
The xmldoc on RetryAttribute has been copy/pasted from RepeatAttribute. This should be corrected.

https://github.com/nunit/nunit/blob/7b87bdc7b48ee1b13023dd282efea449c2d66b81/src/NUnitFramework/framework/Attributes/RetryAttribute.cs

We already have some doc for RetryAttribute - so this could be a good issue for a first time contributor. 🙂

https://github.com/nunit/docs/wiki/Retry-Attribute

[2017-07-10 16:02] #2288 closed

[2017-07-10 18:05] jnm2 commented on #2311
I'm fine with that. With this scheme, the root namespace in every file will be `NUnit.Framework`.

`NUnit.Framework.Internal.Tests` would become `NUnit.Framework.Internal`.
`NUnit.Framework.Helpers.Tests` would become `NUnit.Framework.Helpers` (as an example; we'll actually see this when we get to NUnit.Console).

[2017-07-10 18:55] rprouse commented on #2201
@david-proctor I've sent you an invite to the contributors team so that we can assign this issue to you. Thanks for the help.

[2017-07-11 00:40] rprouse commented on #2230
I am okay with changing the driver interface at this point. Nobody has asked about or mentioned writing a driver in issues or in the mailing lists, so I doubt anyone has. It would also be a fairly easy update for people to change their driver to take in the extra arguments even though they don't use them. I think that the API we need to guard more religiously is the Engine API.

I actually wish we

[2017-07-11 01:03] david-proctor commented on #2201
@rprouse Thanks! I've put a commit together but I don't think I have push access to the repo. If someone could grant that I'll start a pull request.

[2017-07-11 01:10] rprouse commented on #2201
@david-proctor normally we start new contributors out working in forks of the repo to get started, but since you are Canadian (joking) I will temporarily add you to the framework team. We would normally add you after a couple of PRs and activity in the issues, so if you are planning on sticking around I will leave you on the framework team.

Master is locked, so no worries about messing up. If we

[2017-07-11 01:33] david-proctor commented on #2201
Thanks a lot, @rprouse. I've started the pull request #2314.

[2017-07-11 06:09] CharliePoole commented on #2230
Note that we are not actually talking about the driver interface here but the factory interface. For practical purposes, it has the same effect. I always expected to change this... just much sooner!

[2017-07-11 06:16] CharliePoole commented on #2230
The new interface should be as general as our runner, driver and framework interfaces. The driver should be the only place that knows the string representation of test container is actually an assembly with references etc. IMO, the factory interface should not depend on that.

The key issue is how to avoid each factory separately loading assemblies and finding references. That's why I preferred to

[2017-07-11 06:22] CharliePoole commented on #2230
@jnm2 You're correct about AppDomains but for the moment it's a necessary evil - one I'd like to make unnecessary and then remove. Drivers have no access to the services of the engine, so they cant create domains in the way we would prefer to see them created. Otherwise, they could just use a setting.

In fact, I think giving drivers a ServiceContext is the first step needed to move to a better in

[2017-07-11 06:37] CharliePoole commented on #2311
Probably, the default should be changed right away. I probably should have done that rather than planning to do it when all the individual changes were in, because it would have signaled my intent.

[2017-07-11 10:20] Rui90 opened #2315 "Cannot attach the file as database during OneTimeSetUp"
I have a testing project for my REST API that uses a different database from my application. But lately I stopped being able to run tests, probably due to a few changes made using migrations in my original project.

The message I am getting is:

`    OneTimeSetUp: System.Reflection:TargetInvocationException: Exception has been thrown by the target of an invocation.----> System.Data.SqlClientExcept

[2017-07-11 13:01] rprouse opened #2316 "NUnit v3 does not discover test when TestFixture inherits from class in different assembly"
@UnderHeavyDevelopment commented on [Tue Jul 11 2017](https://github.com/nunit/nunit-vs-adapter/issues/158)

When I run test that is in **test fixture that inherits from class containing [SetUp] AND/OR [TearDown] AND/OR [TestFixture] attribute and is located in different assembly**, then test is NOT discovered.

VS Output:
[code]

Platform:
- .NET Framework 4.6.1
- VS2017 (15.2 26430.15)
- NUnit 3

[2017-07-11 13:02] rprouse commented on #2316
I am marking this as an enhancement because it is providing better detection of user errors.

[2017-07-11 13:04] rprouse commented on #2014
@gregeng we had another user report that this happens if your two test assemblies reference different versions of the NUnit framework.

[2017-07-11 22:56] MhdTlb commented on #2313
Can I work on this issue?

[2017-07-11 22:59] mikkelbu commented on #2313
Sure. I've assigned the issue to you.

[2017-07-12 03:20] jnm2 commented on #2079
We should consider doing this for all fields of all our attributes. (https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/attributes)

[2017-07-12 03:21] jnm2 commented on #2079
Notably:

[2017-07-12 03:22] jnm2 commented on #23
Two votes to close and no other responses.

[2017-07-12 03:22] #23 closed

[2017-07-12 04:13] CharliePoole commented on #2079
This issue was about making the Test hierarchy more accessible to extenders. Attributes are a whole other thing. We no longer use many of out Attributes in the limited (annotations, data containers) way that MS describes.

[2017-07-12 04:55] jnm2 commented on #2079
Yes, but the logic seems similar. (What else are attributes other than data-containing annotations?)

[2017-07-12 07:55] CharliePoole commented on #2079
In NUnit, most attributes are active. That is they contain code that does something. This use of attributes was pioneered by mbUnit and picked up by me for NUnit 3. Attributes know how to create fixtures and test cases, modify tests, produce data (different from just storing it) and participate in test execution.

We also have more "standard" attributes, for which the Microsoft guidelines are appr

[2017-07-12 10:34] Thaina opened #2318 "How to test specific base class?"
I have a class want to test that was inherited in the same assembly. That class has a test function that need to test just on the base class. I want the test to only run once, not run on inherited

How could I do?

[2017-07-12 10:53] jnm2 commented on #2079
That makes sense! Thanks for explaining.

[2017-07-12 11:08] jnm2 commented on #2318
Hey @Thaina! We were just talking about this. Here is what I would recommend you do: https://github.com/nunit/nunit/issues/2309#issuecomment-313936931 Does that suit your needs?

[2017-07-12 11:10] jnm2 commented on #2318
Oops, wrong button. 😛

[2017-07-12 11:11] Thaina commented on #2318
@jnm2 Well, not so wrong because it is. But I just think it should be natively support though

[2017-07-12 11:11] #2318 closed

[2017-07-12 11:15] jnm2 commented on #2318
Thanks for letting us know your opinion. I think you're only the second person to ask for it so far, but we'll reconsider if enough people end up asking.

[2017-07-12 11:18] Thaina commented on #2309
@jnm2 Is it possible to do that on TestFixture too?

[2017-07-12 11:51] jnm2 commented on #2309
So that all methods declared in the class are not discovered in derived classes? Yes, but it might be tricky having inherited from TestAttribute. I'll take a look when I'm back at a computer.

[2017-07-12 12:32] jnm2 commented on #2316
If we fix https://github.com/nunit/nunit/issues/2230, that will fix this also.

[2017-07-12 12:34] jnm2 commented on #2316
Wait never mind, that's for if the `[TestFixture]` and `[Test]` attributes are not repeated in the dependent assembly.

[2017-07-12 12:51] jnm2 commented on #2309
@Thaina From what I can tell it is not possible to override at the fixture level. Since the `[TestFixture]` attribute itself is not needed, I can't create a custom one that changes the behavior when there are methods marked `[Test]`.

@nunit/framework-team Am I missing anything?

[2017-07-12 12:54] jnm2 commented on #2309
Similarly, if you specify `[Test, TestInThisClassOnly]`, it's not possible for `[TestInThisClassOnly]` to have any effect because it can't interfere with the `[Test]` attribute’s decision to create a test in all derived classes.

[2017-07-12 13:36] jnm2 commented on #2303
Please raise an issue with ReSharper. We need them to hear feedback like this. Much appreciated!

[2017-07-12 13:37] jnm2 commented on #2303
https://confluence.jetbrains.com/display/ReSharper/ReSharper+Issue+Tracker

[2017-07-12 13:43] jnm2 commented on #2299
If this kind of thing comes up in the future on NuGet, what if we did the standard Chocolatey thing where people fix packaging bugs via 3.7.1.20170712?

[2017-07-12 14:29] jnm2 commented on #2315
1. I'm not sure how this is related to NUnit. Can you show that this same code executes properly in the same order in a console app?

2. Your `DeleteTableIfExists` looks like it has a bugs. It only deletes a tables if `[dbo].[AspNetUserRoles]` exists, rather than deleting a table of the given name when a table of the given name exists. Could this be the cause of the problem?

[2017-07-12 15:57] #2313 closed

[2017-07-12 16:04] #1851 closed

[2017-07-12 16:21] oliverhanappi commented on #1895
@rprouse Any updates on this issue?

[2017-07-12 16:23] rprouse commented on #1895
@oliverhanappi nobody has triaged this issue yet.

[2017-07-12 17:32] CharliePoole commented on #2318
@Thaina You are trying to do something that NUnit is not designed to do, so any change request is a request for a change in how NUnit fundamentally works. That's not to say it's impossible, but it means (1) you need some good reasons why we might do it and (2) you should at least consider how the designers of NUnit thought this kind of situation ought to work.

If I understand what you are saying,

[2017-07-12 17:42] CharliePoole commented on #2299
We could give it a try.

[2017-07-12 18:00] jnm2 commented on #2313
@mikkelbu Fyi, we remove the `up-for-grabs` when we assign people and try to add `up-for-grabs` (have to document first) whenever it's approved on the backlog and not assigned.

[2017-07-12 18:05] jnm2 commented on #1895
This looks like a duplicate, but it has a workaround: https://github.com/nunit/nunit/issues/1200#issuecomment-312119597

@rprouse This, like #1200, connects to that async PR of mine. I'll get some movement on that today.

[2017-07-12 18:13] jnm2 commented on #1895
My Kraken X62 came just now, so first I'm going to get my dev machine back up and running 😃

[2017-07-13 03:04] jnm2 commented on #1895
Short story is, the CPU is damaged from the prior pump failure.

[2017-07-13 23:02] jnm2 opened #2319 "Add .editorconfig to set file encodings so that people don't have to think about it"
These days we want every file to be UTF-8 with no byte order mark. It's universally understood and compatible, unlike the ANSI encoding Visual Studio will use by default. This is a typical problem any time you copy and paste special characters from the clipboard into VS. It results in tests running fine locally and blowing up in Travis (see https://github.com/nunit/nunit/pull/2294#issuecomment-315

[2017-07-14 00:41] MhdTlb commented on #2319
@jnm2  The idea is to add encoding type to `.editorconfig` file?

[2017-07-14 01:31] jnm2 commented on #2319
Specifically I'm thinking something like

[code]

What are your thoughts?

[2017-07-14 01:36] rprouse commented on #2319
While we are at it, I would like to enforce our coding standards with the editorconfig extensions, http://kent-boogaart.com/blog/editorconfig-reference-for-c-developers

[2017-07-14 01:39] jnm2 commented on #2319
@rprouse I was hoping someone would say that (besides me). I'm a huge fan of .editorconfig enforcement.

[2017-07-14 02:42] jnm2 commented on #2319
I wonder how that list compares to the one I manually created from the Roslyn 2.0 release source code.
Also, full official documentation is coming with VS 17.3 =)
https://github.com/madskristensen/EditorConfigLanguage/issues/10#issuecomment-310139189

[2017-07-14 02:43] jnm2 commented on #2319
Looks like they've added stuff since 2.2. I'll get busy!

[2017-07-14 02:44] jnm2 commented on #2319
Oh hello, I didn't realize we had an .editorconfig already 😆

[2017-07-14 03:18] jnm2 commented on #2311
Apparently we've been in violation of the coding standards: https://github.com/nunit/docs/wiki/Coding-Standards#file-organization

[2017-07-14 03:42] CharliePoole commented on #2311
@jnm2 Can I say "Duh!" 😄 That's what this issue is about, isn't it?

That said, the particular section of the standard represents the thinking of one guy (me) at a particular time (long ago) and may or may not be what we want now. Do we even have standards now? The core team AFAIK has not yet decided, which would be the first step. I consider us to be _tabula rasa_ at this point.

[2017-07-14 03:42] MhdTlb commented on #2319
Can I work on this?

[2017-07-14 03:45] CharliePoole commented on #2319
@jnm2 Maybe edit your issue description to tell those who read it what `.editorconfig` is and give a link?

[2017-07-14 03:46] MhdTlb commented on #2319
@jnm2  Take a look at this link https://developercommunity.visualstudio.com/content/problem/22922/editorconfig-support-interprets-charset-utf-8-as-u.html. I think `charset = utf-8` will add a BOM which is not desired

[2017-07-14 03:51] jnm2 commented on #2319
@MhdTlb I'm sorry, I already went through the list! https://github.com/nunit/nunit/commits/editorconfig

I saw the BOM thing, taking a look. I haven't run into it yet other places.

[2017-07-14 03:52] jnm2 commented on #2319
Better link https://github.com/nunit/nunit/compare/editorconfig?expand=1

[2017-07-14 04:07] jnm2 commented on #2319
@MhdTlb I can't get VS to change the charset at all. I must be doing something wrong.

[2017-07-14 04:18] jnm2 commented on #2319
Looks like my naming section causes it to ignore the file. I'll take that out for now.

[2017-07-14 04:19] jnm2 commented on #2319
@MhdTlb You're right, that's no good! We'll have to wait on that till VS2017 isn't buggy.

[2017-07-14 04:21] jnm2 commented on #2311
I see a big difference between following a coding standard and changing our files to be more friendly and less aggravating. I'd push for the latter without the former.

[2017-07-14 04:22] jnm2 commented on #2311
We should just keep in mind that whoever changes the root namespace is responsible to refeactor the namespaces in all the files.

[2017-07-14 04:54] CharliePoole commented on #2311
Why? The root namespace only affects new files and resources.

[2017-07-14 05:04] jnm2 commented on #2319
PR at https://github.com/nunit/nunit/pull/2320 for what @rprouse asked about, but as @MhdTlb points out, this issue is blocked on https://developercommunity.visualstudio.com/content/problem/22922/editorconfig-support-interprets-charset-utf-8-as-u.html.

[2017-07-14 05:06] jnm2 commented on #2311
Because sometimes people add new files and have weird issues with using statements and not being able to resolve their types. Plus it causes a warning in every file for people with ReSharper, and sooner or later VS will do the same.

[2017-07-15 00:55] MhdTlb commented on #2194
Can I work on this?

[2017-07-15 01:05] jnm2 commented on #2194
Sure! The change we agreed on is only to add a sentence in the XML documentation for `.And.Contains` telling people who are looking for a substring test to use `<see cref="Contains(string)" />` or whatever the correct overload is.

[2017-07-17 10:15] KrzysFR opened #2321 "Cannot set or clear current TestExecutionContext from external runner code anymore"
The `TestExecutionContext.ClearCurrentContext()` method has been removed in 3.7.x, and the `TestExecutionContext.CurrentContext` property cannot be set from external code (marked `internal set` in .NET Standard builds).

I have a very basic test runner that allows me to run my tests from an assembly's `void Main(..)`. It creates a fake `TestExecutionContext` for each test method that is being exec

[2017-07-17 10:24] KrzysFR opened #2322 "Cannot set WorkDirectory of test from external code because TestExecutionContext.DefaultWorkDirectory is internal"
Since the changes in #2072, I'm not able to specify the Working Directory of a test from an external runner anymore.

I have a basic helper library that runs tests directly from any `void Main()`, and it needs to be able to specify the working directory for each test (value passed from the build server). Previously, I could set it on the `TestExecutionContext.WorkDirectory` property which has been

[2017-07-17 11:44] lanzelot1989 commented on #1559
@Silv3rcircl3 Can you expand on what was wrong with your tests?

[2017-07-17 18:23] bronumski commented on #652
@CharliePoole, I would like to reopen this case. I think I have a valid use case, I really like the ITestAction, the ability to write the attributes and attach it to an interface which I can use where needed. However given the current workflow I am having to make compromises.

First off I find myself  writing lots of BDD style tests where the Fixture itself is about the subject under test and a pa

[2017-07-17 19:37] CharliePoole commented on #2322
The NUnit WorkDirectory is not the working directory (CurrentDirectory) it is merely the place to which NUnit saves any files it creates, like the test result XML for example.

Since you are not running the tests under the NUnit engine's control, it doesn't seem that the WorkDirectory would have any purpose for you.

[2017-07-17 19:40] jnm2 commented on #2321
@CharliePoole Do we want to consider making TestExecutionContext.Current settable or provide a setter method similar to SynchronizationContext? We recently [switched it from private to internal](https://github.com/nunit/nunit/pull/2279/files#diff-11a1802be2fa3b7e8bb8b478b2f00c99R180).

[2017-07-17 19:45] KrzysFR commented on #2322
Ok, so if I don't use these features, I can simply ignore this setting completely and let NUnit decide.

My very basic test runner was written for NUnit 2.x and I remember having to change things a bit when 3.0 was released and the API changed. I may have mixed this property with the CurrentDirectory of the test then (I used the same value for both).

I'll check to see if I'm still able to control

[2017-07-17 19:51] KrzysFR commented on #2321
In my case, I only need to clear the previous context, to make sure that no one is using the context after the test has completed/failed. I was afraid of some async task or timeout callback that would fire _after_ the test is supposed to be over.

If clearing the test context is not possible, maybe having a way to invalidate the current context so that any background thread attempting to access it

[2017-07-17 20:04] jnm2 commented on #2321
@KrzysFR This is all it ever did: https://github.com/nunit/nunit/commit/76588be886cd2d65da836959f1a4efe13abba7a1#diff-11a1802be2fa3b7e8bb8b478b2f00c99L296

It always had the exact same effect as `TestExecutionContext.Current = null`.

[2017-07-17 20:05] jnm2 commented on #2321
@KrzysFR This is all it ever did: https://github.com/nunit/nunit/commit/76588be886cd2d65da836959f1a4efe13abba7a1#diff-11a1802be2fa3b7e8bb8b478b2f00c99L296

It always had the exact same effect as `TestExecutionContext.Current = null` which I think we could expose for you.

[2017-07-17 20:12] CharliePoole commented on #2321
@jnm2 I'd first like to understand why he needs a context at all. We just fixed the problem of not being able to run tests outside s context by having NUnit create it's own fake context.

[2017-07-17 20:15] CharliePoole commented on #2321
I disagree that this is a bug. At the moment it's just a scenario we don't support. We need to decide if we want to support it.

[2017-07-17 20:18] jnm2 commented on #2321
@KrzysFR What was gained when you used to null the `ClearCurrentContext` in the past? Now, if you null it, one will be created just in time as soon as a test needs it.

I was thinking the bug is that we deleted an API without providing a workaround like `CurrentContext = null`, which we still might need in the future. Possibly.

[2017-07-17 20:18] jnm2 commented on #2321
We aren't supposed to do that on APIs that aren't in the Internal namespace, are we?

[2017-07-17 20:23] KrzysFR commented on #2321
I think I missed the fact that now you are automatically creating an Adhoc context if none is provided. In the past, the accessor to get the current context would return null - if run outside of an official test tunner - which would break a lot of things. I had to create and install a fake context, so that most of the test features would workd. And since there was an `EstablishExecutionEnvironment

[2017-07-17 20:25] jnm2 commented on #2321
That sounds right to me. Let's work on this assumption and if an x-y problem does arise, let's see if we can deal with it directly.

[2017-07-17 20:32] CharliePoole commented on #2321
@jnm2 TestExecutionContext is in the internal namespace to signal it's internal while still allowing extensions to be created. Note that extensions only work for a particular version so there is basically nothing to break.

@KrzysFR Hopefully that's the case. Let us know how it goes.

[2017-07-17 20:37] jnm2 commented on #2321
😳 Oh, I'm sorry. I've been thinking it was in the public namespace all along.

[2017-07-17 20:41] KrzysFR commented on #2321
I just tried removing all of the previous fake context code, and here is what I find:

- Calling any of the `WorkerId`, `Random`, `Test` and `Result` properties on `TestContext.CurrentContext` throw a `NullReferenceException` (other properties do not throw). This makes a lot of test helper method fail.
- The test runner would try/catch the execution of the test method, and pass the exception to my

[2017-07-17 20:45] jnm2 commented on #2321
@KrzysFR Is what you're trying to do roughly the same as https://github.com/nunit/nunit/issues/2243? I.e, running tests without referencing NUnitLite?

[2017-07-17 20:53] KrzysFR commented on #2321
Mmmm yes you could say that, though my runner code is very basic (I don't run multiple tests, or have any test arguments, don't care about producing xml test results, etc...).

Basically, I need a quick way to execute a any test method from a void Main(), without any additional dependencies. The main motivation was to be able to run "benchmark-like" tests, using external tools such as a profiler o

[2017-07-17 20:53] CharliePoole commented on #2321
@jnm2 Maybe he needs to be using the latest development build from MyGet. I'm on my phone so can't easily check which fixes are in the release.

[2017-07-17 20:56] KrzysFR commented on #2321
There is no pressing issues, I was just trying out the latest version of NUnit in a test branch and found some breaking API changes. I'm currently using NUnit 3.5.1 without any issues, so I'm in no hurry to upgrade yet.

[2017-07-17 21:04] jnm2 commented on #2321
@KrzysFR Alright, you and I are on the same page. Though if you are doing any kind of timing tests, I do recommend using BenchmarkDotNet for [reasons](https://github.com/dotnet/BenchmarkDotNet/blob/master/README.md).

[2017-07-17 21:11] KrzysFR commented on #2321
I'm a big fan of BenchmarkDotNet :) The test methods I want to run are more complex integration tests that run only once. I have another set of assemblies dedicated for BenchmarkDotNot, which do not require NUnit at all.

[2017-07-17 21:21] jnm2 commented on #2321
@KrzysFR  Can you try the `NUnitTestRunner.Run<TheFixture>(_ => _.TheTest());` invocation from your main method, using the helper method from https://github.com/nunit/nunit/issues/2243, and see how well that suits or if it could be improved?

[2017-07-17 21:22] Silv3rcircl3 commented on #1559
Sorry @lanzelot1989 I can't remember what the issue was.

[2017-07-17 21:23] KrzysFR commented on #2321
Sure, but unfortunately it will have to wait until tomorrow, it's almost midnight for me :). Will keep you updated with the results.

[2017-07-17 21:26] CharliePoole commented on #2321
For me too, here in Paris. Good night guys.

[2017-07-17 21:26] jnm2 commented on #2321
@KrzysFR At your convenience, of course, asynchronous processing for the win =) I can't say enough good things about sleep right now...

[2017-07-18 04:51] lanzelot1989 commented on #1559
An unfortunate case of RAMnesia, I suppose. :-D

[2017-07-18 14:29] KrzysFR commented on #2321
@jnm2 I had some time to try your runner. I had to change things a bit because in NUnit 3.7.1 (from NuGet), the `Children` property of a `TNode` is get-only (you are probably working on a dev branch?). Anyway, I was able to construct the filter manually by doing the following (not pretty but it works)

[code]

This looks a lot more easier than what I was doing before, and I was able to make the te

[2017-07-18 14:30] KrzysFR commented on #2322
cf discussion in #2321, it looks like I can work around this issue by using `NUnitTestAssemblyRunner` which accepts an options dictionary.

[2017-07-18 14:30] #2322 closed

[2017-07-18 22:24] jnm2 commented on #2321
I was confused for a minute because my code snippet works using a NuGet reference to 3.7.1, but then I looked closer and saw that I'm not actually setting the ChildNodes property. I'm using a collection initializer syntax.

[code]

Is exactly the same as this:
[code]

What would actual fail to compile is this, because ChildNodes.set is private:
[code]

Note the `new Nodelist`.

[2017-07-18 22:26] jnm2 commented on #2321
I'm curious what prompted you to change that part of the code, but if you hadn't changed it, it would have compiled.

[2017-07-18 22:31] jnm2 commented on #2321
The XML is just the way the framework interfaces with tooling. You can also pass a TestListener where I have `TestListener.NULL` for realtime feedback. (@CharliePoole The name `NULL` goes against our coding standard.) Perhaps that will answer all your questions?

[2017-07-18 22:41] KrzysFR commented on #2321
I guess I must have written `ChildNodes = new TNode("and") { ... }` instead of `ChildNodes = { new TNode("and") { ... } }` for the root node `filter` while retyping the code. Copy-pasted from the original and it works fine. Oh well...

For `TestLitener.NULL`, if you are going after the same pattern as [Stream.Null](https://msdn.microsoft.com/en-us/library/system.io.stream.null(v=vs.110).aspx) or [

[2017-07-18 23:16] jnm2 opened #2323 "Rename TestListener.NULL to Null"
`NULL` goes against our coding standard and I dislike it. It also doesn't match the .NET BCL or .NET design guidelines.

It's in the internal namespace so we should be good to up and rename it, right?

[2017-07-18 23:18] jnm2 commented on #2321
Let me know if TestListener doesn't allow you to accomplish your points above.

[2017-07-19 01:19] jnm2 opened #2324 "Does.Not.Throw"
I prefer `Does.Not.Throw` to `Throws.Nothing`. It also opens the door to `Does.Not.Throw.InstanceOf<>()`.

Impressions?

[2017-07-19 02:44] marcelopontipedra opened #2325 "Retry attribute doesn't retry the test."
I've already used assert.true(), but it doesn't retry the test.

[code]

[2017-07-19 03:03] jnm2 commented on #2325
I can repro using:
[code]

And looking at the message, or debugging.

[2017-07-19 03:07] jnm2 commented on #2325
`Repeat` acts the same. Something weird is going on. I wonder if it's related to running via the VSTest adapter.

[2017-07-19 03:08] jnm2 commented on #2325
I would have expected https://github.com/nunit/nunit/blob/master/src/NUnitFramework/tests/Attributes/RetryAttributeTests.cs to cover it.

[2017-07-19 03:11] jnm2 commented on #2325
Nope, fails in NUnit Console run too.

[2017-07-19 03:19] jnm2 commented on #2325
@CharliePoole Insight would be appreciated whenever you are available. I'm not missing anything obvious, am I?

[2017-07-19 03:25] jnm2 commented on #2325
Retry is working under `TestBuilder.RunTestFixture` but not under direct run. I'm going to add a direct run test since this is the case.

[2017-07-19 03:33] jnm2 commented on #2325
Doing a manual bisect. This problem didn't exist before the multiple asserts feature was introduced.

[2017-07-19 04:14] jnm2 commented on #2325
Looks like 295fd187 is the commit that introduced this.

[2017-07-19 04:15] jnm2 commented on #2325
https://github.com/nunit/nunit/pull/2085 is the culprit.

[2017-07-19 04:17] jnm2 commented on #2325
Understanding why will be a challenge.

[2017-07-19 04:25] jnm2 commented on #2325
Correction: Repeat is fine, I did the test wrong. It's just Retry.

[2017-07-19 04:28] jnm2 commented on #2325
Added failing test: https://github.com/nunit/nunit/compare/fix_retry

[2017-07-19 04:30] jnm2 commented on #2325
While the smell test is good, what I'm really hoping to see come out of this is a test that enforces an invariant behavior between direct runs and ``TestBuilder.RunTestFixture`, because it would be nice if ``TestBuilder.RunTestFixture` reflected reality.

[2017-07-19 04:39] jnm2 commented on #2325
The exception caused by the Assert.Fail is getting [rethrown as an `NUnitException`](https://github.com/nunit/nunit/blob/1a3c728a34325f6068f0e128bce4df3c0ee95790/src/NUnitFramework/framework/Internal/Reflect.cs#L217). That exception is only caught higher up in the call stack which causes control to be taken away from RetryAttribute. ([No catch in `RetryAttribute`](https://github.com/nunit/nunit/bl

[2017-07-19 04:40] jnm2 commented on #2325
The catch is actually [one stack frame above `RetryAttribute`](https://github.com/nunit/nunit/blob/1a3c728a34325f6068f0e128bce4df3c0ee95790/src/NUnitFramework/framework/Internal/Execution/SimpleWorkItem.cs#L59).

[2017-07-19 04:47] jnm2 commented on #2325
Prior to #2085, the actual catch was in [SetUpTearDownCommand.Execute](https://github.com/nunit/nunit/blob/64605da5d57e229dc29252f1895efe127e1cdf07/src/NUnitFramework/framework/Internal/Commands/SetUpTearDownCommand.cs#L66), one stack frame below RetryCommand.Execute, and there was no catch in [`SimpleWorkItem.PerformWork`](https://github.com/nunit/nunit/blob/64605da5d57e229dc29252f1895efe127e1cdf

[2017-07-19 04:47] jnm2 commented on #2325
#2085 moved the catch from the stack frame below to the stack frame above.

[2017-07-19 04:50] jnm2 commented on #2325
Two hard questions:

 1. Was the move intentional? Is it now `RetryCommand`'s and others' responsibility to catch exceptions?
 2. Why does this work fine with `TestBuilder.RunTestFixture`?

I'll be able to answer the second more easily.

[2017-07-19 04:56] jnm2 commented on #2325
Aha! I don't think it's related to `TestBuilder.RunTestFixture` at all, which is good news. It's because the stack frame below `RetryCommand.Execute` is [`BeforeAndAfterTestCommand.Execute`](https://github.com/nunit/nunit/blob/1a3c728a34325f6068f0e128bce4df3c0ee95790/src/NUnitFramework/framework/Internal/Commands/BeforeAndAfterTestCommand.cs#L59) rather than [`TestMethodCommand.Execute`](https://g

[2017-07-19 05:01] jnm2 commented on #2325
Success: https://github.com/nunit/nunit/compare/fix_retry

So, `Retry` has not worked since #2085 in fixtures that don't have setup or teardown.

[2017-07-19 05:10] jnm2 commented on #2325
So, there were a few apparent motions in #2085:

 1. `SetUpTearDownCommand.Execute` became `BeforeAndAfterTestCommand.Execute` and continued to catch exceptions
 2. `SimpleWorkItem.PerformWork` began catching exceptions. (@CharliePoole Why?)
 3. The inner command supplied to `RetryCommand` changed from `SetUpTearDownCommand` to `TestMethodCommand`.

Aside from point 2 the answer to which I can't a

[2017-07-19 05:43] jnm2 commented on #2325
@marcelopontipedra I'll waiot for the @nunit/framework-team to comment on which is the correct fix. In the meantime, the workaround is for you to put a dummy `[SetUp]` or `[TearDown]` method in the same fixture.

[2017-07-19 06:54] marcelopontipedra commented on #2325
Thanks @jnm2 . I also tried the assert.Fail() and it doesn't retry the test. I think this is because the Assert.Fail() breaks the line of code in the test, then it continue to the next test. I think the BeforeAndAfterTestCommand is better.

[2017-07-19 06:57] CharliePoole commented on #2321
@jnm2 Regarding naming, TeatListener.NULL has a history from before our coding standard. I could have changed it from 2 to 3 but didn't. If it seemed important enough to change (I.e. were confusing) I'd add a synonym now and drop it in 4.0. IMO, it's not worth worrying about.

[2017-07-19 07:02] CharliePoole commented on #2323
This hardly seems worth our time to think about, but if we must, let's look at the corresponding code in the engine API. Having two different names could be confusing and that one is public.

[2017-07-19 09:12] KrzysFR commented on #2321
@jnm2 I was able to do most of the things I want with a custom TestListener. To simplify things, I have created a generic listener that uses lambdas.

[code]

So to sum up: when using a `NUnitTestAssemblyRunner` and some elbow grease, it is possible to create a basic test runner without the need to fiddle with fake `TestContext`, which means that there is not much point in being able to set or res

[2017-07-19 11:34] ChrisMaddock commented on #2324
NUnit historically has ended up with a number of different methods to assert the same thing - this can be confusing the new users. I wouldn't want to add to that any more without good justification.

`Does.Not.Throw.InstanceOf<>` implies that you have code which is fine to throw any type of exception, other than the type specified. I'd be intrigued to see the test that that would be useful for! 😄

[2017-07-19 13:17] CharliePoole commented on #2321
Just guessing but it's usual to find things in nunit that are public for testing purposes. Back in the day, there was no such thing as InternalsVisibleTo and when it came out it was limited to .NET 2.0 +.

We are changing this rather slowly since features take priority.

[2017-07-19 13:32] jnm2 commented on #2321
@KrzysFR Those delegate properties look like good candidates to be written as events. :D

Anything remaining that you aren't able to accomplish?

[2017-07-19 13:39] CharliePoole commented on #2321
The framework avoids events in its external APIs because we don't know how the test results will be remoted or otherwise communicated to a runner. We viewed a simple interface as something that could be handled in pretty much any environment we could engine - think micro framework for example.

Nothing wrong with capturing interface call outside of the framework and changing it however - in fact t

[2017-07-19 13:49] jnm2 commented on #2321
Yes, the interface itself is fine.

[2017-07-19 18:22] CharliePoole commented on #2324
This reminds me a bit of a perennial request, which we have always rejected: "I might get several different kinds of exceptions, why do I have to specify one." The point is that not knowing what you expect in a test is a problem in itself.

[2017-07-19 18:30] KrzysFR commented on #2321
As far as I'm concerned, I have a working solution that does not need to set or clear TestContext anymore, so I guess this issue can be closed, unless you think that there are other valid scenarios that require it?

[2017-07-19 18:40] jnm2 commented on #2321
Not as far as I know. Glad everything is working for you!

[2017-07-19 18:40] #2321 closed

[2017-07-20 07:40] fluffynuts commented on #1212
Hi all

This has been open for a while. I know I offered to maintain AssertionHelper, but I may have found a way that makes everyone happy -- the people who want to move it out as well as people (like me) who currently use the syntax.

I put up for review [https://github.com/fluffynuts/NUnit.StaticExpect](https://github.com/fluffynuts/NUnit.StaticExpect) which is up on [nuget.org](https://www.nuge

[2017-07-20 08:03] CharliePoole commented on #1212
@fluffynuts That looks like a good alternative. Do you know if other IDEs and compilers support the syntax?

As for our own NUnit support, what I see happening is that I'll make sure the new project is building after my vacation, then leave the schedule of switching over to it up to @rprouse and the framework team.

[2017-07-20 08:19] fluffynuts commented on #1212
@CharliePoole `using static` is part of the C#6 spec [https://msdn.microsoft.com/en-us/magazine/dn802602.aspx](https://msdn.microsoft.com/en-us/magazine/dn802602.aspx) so it _should_ be supported by anything which supports C#6 syntax (:

Whilst there might compilers that I don't know about which don't support this, certainly any modern Visual Studio will support this out of the box. Older Visual S

[2017-07-20 08:25] CharliePoole commented on #1212
So it's at least possible for the framework team to remove this feature entirely, provided that they don't mind the loss of backward compatibility for what is probably a small number of users.

Personally, I would continue to maintain the separate project, but not enhance it in the future.

[2017-07-20 08:36] fluffynuts commented on #1212
I agree -- whilst it doesn't impact me, NUnit has a very wide reach and I'm sure there's someone it would impact.

[2017-07-20 13:01] oznetmaster opened #2326 "Attribute order is not defined"
I seem to be constantly bringing this up.

The order of attributes is undefined on all platforms.  GetCustomAttribute(s) can return the attributes in any order that it wants.

Tests that assume a specific order for the attributes will fail on some or all platforms.

One example is the PR for #2079 which add TestMethodTests, many of which assume a specific order for the TestCase attributes.  These

[2017-07-20 13:42] jnm2 commented on #2326
We should definitely fix that across our tests. Are you up for that?

[2017-07-20 13:48] jnm2 commented on #2326
We should add this to our internal NUnit analyzer bucket list since it's constantly hard to notice.

[2017-07-20 15:43] oznetmaster commented on #2326
I am leaving on an 8 week vacation where I will have little or no internet access for at least half of it.

I will see where things stand when I return.

[2017-07-20 15:57] jnm2 commented on #2326
All right. Until then, I'll put it up for grabs. What we're looking for is any test where we build tests and access the child `.Tests` collection in an order-dependent fashion, or where we run tests and access the results in an order-dependent fashion.

What we should do instead is assume the tests are in random order and compare accordingly.
I could imagine for example [these lines](https://githu

[2017-07-20 17:14] CharliePoole commented on #2326
It's not quite that simple. You can assume test order when it's not dependent on attribute order. For example, if TestCaseSource returns 10 cases in a given order, that order won't change. The extent to which order is and isn't guaranteed is well known and even documented. See https://github.com/nunit/docs/wiki/TestCaseSource-Attribute

[2017-07-20 17:18] CharliePoole commented on #2326
Andi course it's perfectly OK to look at Tests[0] when there is only one test. Let's fix any identifiable problems but not start a big search for more. I'm fairly sure this is not widespread and is likely to be a recent phenomenon.

[2017-07-20 17:22] jnm2 commented on #2326
Also worth pointing out that the order of test methods and the order of test classes is also not defined.

[2017-07-20 17:44] CharliePoole commented on #2326
@jnm2 Right, but relevant?

[2017-07-20 18:50] jnm2 commented on #2326
As relevant as the test case order problem, no?

[2017-07-20 20:16] CharliePoole commented on #2326
Question was whether it's relevant __to__ the testcase order problem.

However, let's not split hairs. I just think you may be sending some new contributor on a wild goose chase, looking for a problem we have not confirmed to be present beyond a few cases that @oznetmaster identified. We might better spend time fixing each case in a PR as it comes up.

OTOH, if we really want to spend time looking

[2017-07-20 22:10] jaindevassy opened #2327 "Assert fails in my Test"
Assert.AreEqual(text, getelement.getwebelementtext(element));

'text' and 'getelement.getwebelementtext(element)' are same. But this step fails always.

I am using NUnit - 3.7.1, NUnit3TestAdpater - 3.7.

[2017-07-20 22:23] mikkelbu commented on #2327
Hi @jaindevassy. Can you provide some more information about the types and values of `text` and `getelement.getwebelementtext(element)`. And what is the error message?

[2017-07-20 22:27] jaindevassy commented on #2327
Some times I find following error message:-
"Cannot obtain fields or call methods on the instance of type 'OpenQA.Selenium.IWebElement' because it is a proxy to a remote object."

[2017-07-20 22:35] mikkelbu commented on #2327
But what are the exact types of `text` and `getelement.getwebelementtext(element)` ? And what is the full error message from the assertio?

Also can you supply a full stacktrace from when the assertion fails. I suspect that this is more a Selenium problem than a NUnit problem.

[2017-07-21 22:23] david-proctor commented on #2201
Pull request #2314 has been merged, so I think this issue is resolved. Thanks for the assistance, everyone.

[2017-07-21 22:23] #2201 closed

[2017-07-24 15:08] jnm2 commented on #2201
@david-proctor Thank you for the contribution!

[2017-07-24 18:38] vharavy opened #2328 "Test execution hangs without any progress."
Recently we started encountering strange issues with our NUnit tests. In the middle of the execution, progress stops. If we attach to the application we see that no test is actually executed - NUnit just waits for the previous test to finish and apparently there is no one to signal that. After some investigation, we believe this is due to the following exception that we keep encountering:

[code]

[2017-07-24 20:43] rprouse commented on #2328
How are you executing your tests and what version of the runner and framework are you using?

[2017-07-24 20:45] VHaravy commented on #2328
We are using NUnit Framework `3.7.1`. Tests are executed by NUnit Console Runner `3.6.1`. Locally I use Visual Studio Test Adapter with the same result.

[2017-07-24 21:25] rprouse commented on #2328
As far as I can tell, the code in that callstack has not changed for several releases, however @jnm2 did change the timeout code in `ThreadUtilities` recently. It could be that your tests are timing out and we are not catching and reporting it correctly? Are you using the `Timeout` attribute?

Another possibility is that the code in your tests is somehow causing a `Thread.Abort()` and we are not g

[2017-07-24 22:44] rprouse commented on #2195
Fixed by #2294

[2017-07-24 22:44] #2195 closed

[2017-07-24 23:35] rprouse commented on #2327
@jaindevassy this also sounds like a Selenium issue with a remoted object. Try splitting your code up into two parts,

[code]

If the exception is happening on the first line, it is a Selenium issue, please report it there.

[2017-07-24 23:38] rprouse commented on #2324
First impression 👎

😄

[2017-07-24 23:40] rprouse commented on #756
I am closing since we have not heard back from you. If you have more information, add it to this issue and we will reopen.

[2017-07-24 23:40] #756 closed

[2017-07-24 23:44] rprouse commented on #1480
We have made changes in some of these areas. Can you confirm if this is fixed in 3.7.1?

[2017-07-24 23:46] rprouse commented on #1824
I am closing since we have not heard back from you. If you have more information, add it to this issue and we will reopen.

[2017-07-24 23:46] #1824 closed

[2017-07-24 23:49] rprouse commented on #1970
Most of this code has been rewritten with the new .NET Core and .NET Standard bits, so I am going to close this. If this is happening with 3.7.1, we can reopen.

[2017-07-24 23:49] #1970 closed

[2017-07-24 23:53] rprouse commented on #2062
I agree that we should report an error if we don't find the specified test case source, but disagree that if the source returns no items it is an error. As @jnm2 says, the data might be coming from an external source that may occasionally be empty.

I am going to promote this to a bug, but only for the initial reported behaviour.

[2017-07-24 23:55] rprouse commented on #2262
Closing this as answered.

[2017-07-24 23:55] #2262 closed

[2017-07-24 23:57] #1886 closed

[2017-07-25 00:03] rprouse commented on #2089
Has this been fixed in NUnit 3.7.1?

[2017-07-25 00:04] rprouse commented on #2090
I am closing since we have not heard back from you. If you have more information, add it to this issue and we will reopen.

[2017-07-25 00:04] #2090 closed

[2017-07-25 00:09] flcdrg commented on #1824
Sorry about not responding previously. Thanks for the fix. We're running the latest version and not having any problems.

[2017-07-25 00:16] rprouse commented on #2177
If you are trying to associate output with a specific parallel test, you should not use `TestContext.Progress` which outputs immediately. You should be using `TestContext.WriteLine` which collects the output.

I don't think this is an issue with the framework itself. We do not control how ReSharper captures or displays our output, so you will need to report that there. We do however control the ad

[2017-07-25 00:17] #2177 closed

[2017-07-25 00:17] rprouse commented on #2177
Issue moved to [nunit/nunit3-vs-adapter #368](https://github.com/nunit/nunit3-vs-adapter/issues/368) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-25 00:18] rprouse commented on #2182
I am closing since we have not heard back from you. If you have more information, add it to this issue and we will reopen.

[2017-07-25 00:18] #2182 closed

[2017-07-25 00:20] rprouse commented on #2193
Sorry that nobody has responded, but very few people here are using NUnit 2 anymore. I hope you found a workaround, but I am going to close this because nobody was able to answer your question and we are not making updates to NUnit 2 anymore.

If you have anything further to add, just post here. We will see it.

[2017-07-25 00:20] #2193 closed

[2017-07-25 00:24] rprouse commented on #2255
I think this is done. Reopen if I am mistaken.

[2017-07-25 00:24] #2255 closed

[2017-07-25 00:24] rprouse commented on #2258
Related PR is merged. Closing.

[2017-07-25 00:24] #2258 closed

[2017-07-25 00:51] jnm2 commented on #2324
Quite fair =D

[2017-07-25 00:51] #2324 closed

[2017-07-25 12:29] VHaravy commented on #2328
Yes, we do have timeouts for all of our tests. When debugging the tests I see that `ThreadAbortException` is thrown several times, but all of the times (except the last one, which causes the hang) are caught correctly by `NUnit.Framework.Internal.Reflect.InvokeMethod`. It appears to me that the timeout happens immediately after the `OneTimeSetUp` function but before the test code starts executing

[2017-07-25 16:11] kthureen commented on #756
Hello,

This issue remains and is reproducible - please see the attached VS 2013 project.

I am able to reproduce the hang when running the tests from the NUnit 2.6.4 UI and also using the Test Adapter for Visual Studio 2013.

[WindowsFormsApplication2.zip](https://github.com/nunit/nunit/files/1174024/WindowsFormsApplication2.zip)

[2017-07-25 18:18] jaindevassy commented on #2327
Thanks for the feedback.
I too feel the same.

On Jul 24, 2017 4:35 PM, "Rob Prouse" <notifications@github.com> wrote:

[2017-07-26 11:57] VHaravy commented on #2328
Downgrading `NUnit.Framework` to `3.6.1` seems to solve the problem.

[2017-07-26 13:32] andrewlaser opened #2329 "TearDown is executed BEFORE User Attribute AfterTest(ITest test) starting from Nunit 3.7.0"
In Nunit 3.6.1 and older there was the following sequence:

1. testcase itself
2. custom attribute AfterTest(ITest test)
3. [TearDown] TestFixtureTearDown()

Since v.3.7.0  the sequence was broken (now it is 1, 3, 2) , causing our tests failure, because TearDown deletes data used by custom AfterTest

**TestCases.cs**
    [TestFixture]
    [Parallelizable]
    public class LoginCases : TestBase

[2017-07-26 14:01] CharliePoole commented on #2329
This is a result of our fixing an error described in issue #652.

We treated the behavior you relied on as an error because:
1. AfterTest should run after the test
2. TearDown is traditionally considered as a part of the test.

However, in the (unimplemented) spec for #652, we indicated that we might treat attributes __located on the fixture__ differently in the future. That's actualy your specifi

[2017-07-26 14:24] andrewlaser commented on #2329
@CharliePoole
Thanks for a quick response.
I cannot run my code inside teardown because it contains Assert.Fail("xxxx");
Is there any way to run a piece of code AFTER the test code, but BEFORE TearDown?

[2017-07-26 14:28] CharliePoole commented on #2329
@andrewlaser I'm afraid not. At one point we talked about having PreTest and PostTest attributes, which would provide a common part of the test. PostTest is needed, as your use case illustrates and PreTest would be just for symmetry and to cleanly separate SetUp from non-SetUp code. The idea was never acted on. See issue #49.

[2017-07-27 14:14] WonderGuy commented on #2301
I'm encountering the same NullReferenceException on simple Asserts.
Example:
Dim Message As String = "Message"
Assert.That(Message, [Is].Not.Empty)

These Asserts should succeed.

I'm using only NCrunch and Nunit.

Ed Swartz

[2017-07-27 19:15] Priyank-Agrawal opened #2330 "NUnit framework AssertionException inner exception null at NUnit.Framework.Assert.ReportFailure(String message)"
I've written Specflow test cases to perform integration testing. I'm using Assert.Fail() method to report any failure from my test case in case of failed validations. However, whenever my validation fails and I reach to code statement Assert.Fail() I'm seeing below exception.

at NUnit.Framework.Assert.ReportFailure(String message)
   at NUnit.Framework.Assert.Fail(String message, Object[] args)

[2017-07-27 19:15] rprouse commented on #2301
Even if we removed the restriction of requiring a test context to be setup which wouldn't be too hard, what about things like `Assert.Pass()` or `Assert.Warn()`? The first throws an exception that would cause an MSTest to fail and the second wouldn't be able to warn in a non-nunit runner.

[2017-07-27 19:31] rprouse commented on #2330
Possible duplicate of #2327 and caused by TestContext being null for SpecFlow tests?

[2017-07-27 19:36] rprouse commented on #2328
@jnm2 this may be related to your timeout changes

[2017-07-27 20:16] Priyank-Agrawal commented on #2330
To make sure this issue is not caused by objects that I'm comparing in assertion statement I tired comparing two strings
 Assert.That("abc".Equals("xyz"));

Which is resulting in same error.

[2017-07-27 23:15] jnm2 opened #2331 "Repo does not build in VS without running `build -t build` first"
For example, nunit.frameworktest-4.5 has 35 errors, all centered on ValueTuple not being found.

This afflicts every fresh clone and anyone who had a clone before https://github.com/nunit/nunit/pull/2290.

It looks like some type of NuGet restore problem.

@rprouse We don't need packages.config for VS2015 support, so why do the test projects have both `packages.config` and `project.json` files?

[2017-07-27 23:34] jnm2 commented on #2331
Here is something we should consider including in our build.ps1, even though it's not worth running on every test run:

[code]

[2017-07-27 23:36] jnm2 commented on #2328
Thanks @rprouse. I'll look into it.

[2017-07-27 23:47] jnm2 commented on #2331
This currently gives a ton of NuGet restore warnings and these errors:
[code]

[2017-07-28 00:26] OmicronPersei opened #2332 "Update build script to use NUnitConsoleRunner v3.7.0"
As the title says.

[2017-07-28 01:36] jnm2 commented on #2328
I'm thinking it's possible that [replacing `testTread.Abort()` with `ThreadUtility.Abort(testThread, nativeThreadId)`](https://github.com/nunit/nunit/pull/2023/files#diff-03716e61561bde441e861857d6f95455R64) may be the cause. `ThreadUtility.Abort` had been unused.

[2017-07-28 01:36] jnm2 commented on #2328
Ah, see the conversation here! https://github.com/nunit/nunit/pull/2106/files#diff-03716e61561bde441e861857d6f95455R63

[2017-07-28 01:42] jnm2 commented on #2328
But I'm doing little more than `thread.Abort` already: https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Internal/ThreadUtility.cs#L80 I'm skeptical.

[2017-07-28 01:48] jnm2 commented on #2328
An uncaught ThreadAbortException...

[2017-07-28 01:53] jnm2 commented on #2328
Seems very similar to what's going on in https://github.com/nunit/nunit/issues/2325. https://github.com/nunit/nunit/pull/2085 stopped catching exceptions that it was supposed to catch.

[2017-07-28 02:03] jnm2 commented on #2332
Sounds good- I'm getting consistent SocketExceptions and 3.7 fixes it for me and I saw it did the same for you.

Are you interested in submitting the PR for this?

[2017-07-28 02:14] jnm2 commented on #2328
@CharliePoole Nothing in this call stack catches exceptions. The expectation is that any time a `Thread.Abort` is called, someone in the call stack is catching and resetting. That expectation is obviously not true. I can't see any way that my PR https://github.com/nunit/nunit/pull/2023 could affect the timing of the thread abort.

Can I tap into your state of mind when you wrote https://github.com

[2017-07-28 02:17] jnm2 commented on #2328
@CharliePoole The fix I'd rather see is to override `TimeoutCommand.Execute` and handle `ThreadAbortException, `ResetAbort` and setting the result entirely in one place. What do you think?

[2017-07-28 02:19] jnm2 commented on #2328
Also, in case timer drift happens, the timer should do some check to see whether it's still okay to call `Abort`.

[2017-07-28 02:23] CharliePoole commented on #2328
Sorry I missed this thread last week. Changes in the command structure with #2085 made it necessary for every command to handle exceptions, in case there was no setup/teardown. I missed that because I was thinking we __always__ had a setup/teardown command, even if the user had no setup/teardown. That was once true, but isn't any longer.

Two ways to go here:
1. Retry should handle exceptions, as

[2017-07-28 02:33] CharliePoole commented on #2328
@jnm2 If TimeoutCommand catches a ThreadAbortException, there is no guarantee that the abort was due to a timeout. The user may actually be cancelling.

Unfortunately, we abort threads for two entirely different reasons...
1. Due to a timeout, where we don't actually want to abort but merely stop the particular test
2. Due to a user cancel, where we want to terminate the test run.

When the Timeou

[2017-07-28 03:01] jnm2 commented on #2328
@CharliePoole Do you think you should move your first comment to https://github.com/nunit/nunit/issues/2325?

So, what do you think the right fix for the timeout issue is then?

ThreadUtility.Kill is the aggressive thing you switched away from. ThreadUtility.Abort is something I added which does not appear to be aggressive in any way related to this issue. I'm 99% sure that moving back to plain Th

[2017-07-28 03:15] jnm2 commented on #2328
We could be all fancy and pass down a cancellation token through the Execute calls. That would open the door to autoinjecting cancellation tokens in test methods to give them a chance of graceful shutdown (say, deleting a temp folder) rather than brutally aborting.

[2017-07-28 04:23] CharliePoole commented on #2328
@jnm2 I'm jumping around from thread to thread on my phone so if you think some info is needed elsewhere, feel free to copy. At least it reached the right guy. :smile:

Both timeout and user cancel are aimed at stopping execution when things get out of control. They are by definition non-graceful. I wouldn't add complexity here if we can avoid it - it's bad enough already.

[2017-07-28 04:29] jnm2 commented on #2325
Answer from @CharliePoole at https://github.com/nunit/nunit/issues/2328#issuecomment-318538546:

[2017-07-28 04:31] jnm2 commented on #2328
@CharliePoole Sorry for the sidetrack on cancellation tokens. I didn't yet hear if you think it's more likely that this call stack should be catching thread abort exceptions, or that the abort is happening at altogether the wrong time, such as a race condition when shutting down the timer.

[2017-07-28 09:48] DannyBraig commented on #51
Can someone give a small update about the status this feature? Is it planned?
In my department we are doing very long-running tests, which logically really depend on each other.
Some kind of "Test-Dependency" would be really interesting and helping for us...

I heard that you are in general planing to "open" NUnit for "non-unit test" tests as well (which is basically the case for us...). I think t

[2017-07-28 13:23] dgm90 opened #2333 "TestCaseData.SetName issue"
When I use the SetName method to name my test and the name contains a dot, the VS Test Explorer doesn't display the test properly.
![image](https://user-images.githubusercontent.com/29230919/28718886-8f8c0ab8-73b0-11e7-9606-569e33edde92.png)

All the tests on the screen above are used in the same methods, but in the Test Explorer they are shown like different classes. All tests that don't have a d

[2017-07-28 14:02] Fernell opened #2334 "Insufficient error handling message in ProcessRunner -> RunTests method"
log.Error("Failed to run remote tests {0}", e.Message); is insufficeint. It lacks details required to diagnose problem. Here is sample of my log:

I was unable to recognize error only by this stack trace. I was forced to download nunit3-console binaries and debug it myself. I found out that useful error message was in ex.InnerException which is not returned in error message at all. Please extend e

[2017-07-28 14:13] ChrisMaddock commented on #2334
This is an nunit-console issue, I'll move it over to that repository.

@Fernell - we'd appreciate a Pull Request, if you were willing.

[2017-07-28 14:13] ChrisMaddock commented on #2334
Issue moved to [nunit/nunit-console #273](https://github.com/nunit/nunit-console/issues/273) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-28 14:13] #2334 closed

[2017-07-28 16:20] jtomkiew-ITM opened #2335 "Execute OneTimeTearDown as early as possible when running fixtures in parallel"
_NUnit 3.7.1_

#### Setup:

Running fixtures in parallel (`Parallelizable(ParallelScope.Fixtures)` set in `AssemblyInfo.cs`) in at least 2 threads (`LevelOfParallelism(2)` set in `AssemblyInfo.cs`).

Multiple fixtures with tests and OneTimeTearDown's for each of them exist.

#### Problem:

All `[OneTimeTearDown]` methods are executed in bulk when first available thread finishes.

#### Example:

##

[2017-07-28 17:22] TroyWalshProf opened #2336 "NUnit Asserts no longer work in other testing frameworks"
I used to be able to use NUnit asserts with other testing frameworks like XUnit and VSUnit.
Now when I use an NUnit asset outside a NUnit test I get the following error:

Note*
This issues stated with the release of V 3.7.0

Sample code:
[code]

[2017-07-28 20:59] OmicronPersei commented on #2332
Yes

[2017-07-28 21:45] jnm2 commented on #2332
Thanks!

[2017-07-29 01:06] rprouse commented on #2331
The `project.json` files are there for the full framework projects because once you add a `project.json` file for the .NET Core projects, all other projects in the same directory will use it unless they have their own.

As for `packages.config` conflicting, that could be the case and we could add the NuGet packages to the `project.json` files instead.

Ideally, once VS2017 has been out long enough

[2017-07-29 01:25] jnm2 commented on #2331
Yes! What a relief that will be!!

[2017-07-29 12:32] Sebazzz commented on #51
This feature is still in design phase, so other than using external libraries there is no built-in support currently.

[2017-07-29 19:59] stevenaw commented on #2219
@rprouse @CharliePoole  I've put up a sample PR here: https://github.com/nunit/nunit/pull/2338
It doesn't look like I'm able to update labels, so I've put a big "DO NOT MERGE" heading in the description

[2017-07-29 22:00] ChrisMaddock commented on #2336
@TroyWalshProf Can you confirm what you've been doing with this? I think it's fair to say this isn't a supported feature! 🙂

[2017-07-30 06:44] CharliePoole commented on #2336
Another duplicate of #2242, which is fixed in master. The circumstances are slightly different here because of the use of a foreign test framework, but it's basically about using asserts outside of nunit.

@ChrisMaddock is right that it's not a supported feature, but we will keep it working as well as we can for simple assertions.

[2017-07-30 06:44] #2336 closed

[2017-07-30 09:14] CharliePoole commented on #2335
You have used an assembly-level attribute to indicate that all fixtures may run in parallel. That's what they are doing.

If you really don't want test1 to run in parallel with the others, you can use an attribute to indicate that.

Perhaps you are asking for NUnit to somehow prioritize running teardowns. That's a feature request. I even considered doing it in the implementation but it was a fair

[2017-07-31 07:02] jtomkiew-ITM commented on #2335
I do want all the fixtures to run in parallel. Is OneTimeTearDown not supposed to be run at the end of the fixture it is in (like, after tests, not after tests from other fixtures)? In the result above from 3.7.1, OneTimeTearDown's are 'queued' at the end, when the worker has finished all other tests.

The "Logs from NUnit 3.6.1" is what I expected to happen.

[2017-07-31 12:20] CharliePoole commented on #2335
OneTimeTearDown for a fixture is guaranteed to run...

1. After all the tests in the fixture.
2. Before any higher-level OneTimeTearDown runs.

That's all we guarantee currently.

Mire is a new feature, which means you or someone else would need to scope it out fairly precisely for us to evaluate.

[2017-07-31 15:04] ChrisMaddock opened #2339 "Wrong date format in Ignored TestFixtures"
@alexamz commented on [Mon Jul 31 2017](https://github.com/nunit/nunit-console/issues/274)

Hi all,

First of all, many thanks to all the contributors to this great and useful project!

We have problems with the start-time and end-time dates in Ignored TestFixtures.
We are using the last version of the NUnit console, the 3.7.0.

This is an example of a test-case header in the xml generated by NUni

[2017-07-31 15:13] ChrisMaddock commented on #2339
To clarify the issue, @alexamz is referring to the tests inside ignored test-suites.

On these tests, as they are never touched, StartTime is never set, and therefore the default value of DateTime.MinValue is written to the results xml instead. I agree the current behaviour is incorrect, although we need to decide what to do to fix this - cc @nunit/framework-team

The most correct thing to do here

[2017-07-31 15:55] alexamz commented on #2339
Hi @ChrisMaddock

Many thanks for your interest.

I tried to do that, but the TFS does not accept a TRX without a valid date. I mean, I have tried several ways:
- Create a TRX as you mentioned, without the start-time, end-time and duration.
- Create a TRX with these fields, but with an empty value.

In my opinion, the best approach would be to use the current date and time. If the test run is igno

[2017-07-31 22:43] azakharov3 opened #2341 "Using SetUp attribute with parallelizable atrribute creates conflicts in variables."
NUnit Version: 3.7.0
Sorry in advance if it is by design but looks like assigning values to variables in [Setup] method creates conflicts. Please see the example code below:

[code]

Result:
[code]

[2017-07-31 23:56] CharliePoole commented on #2339
@alexamz NUnit does not create the TRX file however. The question is really what should we be giving VS through the test explorer API.

This may take experimentation on our part to determine.

However, this is sounding like a VS adapter issue. Before we move it again, can you confirm that?

[2017-08-01 00:06] CharliePoole commented on #2341
This is by design. You can run fixtures in parallel if the individual tests interfere with one another.

Essentially, by using Parallelizable, you are promising not to modify state but NUnit can't prevent you from doing it.

[2017-08-01 00:08] #2341 closed

[2017-08-01 07:19] alexamz commented on #2339
Hi @CharliePoole

The example I have pasted is directly the Xml generated by NUnit Console when I call it to test a dll assembly. The TRX that I mentioned is a post step, only parses the XML to another XML (the TRX).
I never used the VS adapter at least for now.

As a workaround, in the XML parser, we validate the dates and if are wrong like now, we use the current date, then we generate the TRX u

[2017-08-01 07:44] gcichosz commented on #2146
Please unassign me from this issue, for a while I wasn't able to find time to do it.

[2017-08-01 08:42] ChrisMaddock commented on #2146
Done, no worries. 🙂

[2017-08-01 08:43] ChrisMaddock commented on #2332
Fixed by https://github.com/nunit/nunit/pull/2340#pullrequestreview-53435939

[2017-08-01 08:43] #2332 closed

[2017-08-01 11:04] jtomkiew-ITM commented on #2335
OK, thanks for the explanation, I'll see what I can do about that feature request.

[2017-08-01 11:48] CharliePoole commented on #2339
OK, then we are in the correct repository here.

I first was of the same mind as @ChrisMaddock that the best thing would be for tests we didn't run to not have start and end dates. However, thinking about it, it's actually possible for a test to run for some time before the code decides it should be ignored and issues an `Assert.Ignore`. Other tests, are ignored using an attribute and so are never

[2017-08-01 11:59] CharliePoole commented on #2335
You can just post here and we'll make this a feature request.

One possibility is to simply give teardowns some sort of priority, without guaranteeing a particular order. That would allow resources to be released more quickly but is a fairly big change.

Another is to somehow determine whether the teardown can be run on the same thread as the last test completed. That would allow faster release in

[2017-08-01 12:00] ChrisMaddock opened #2342 "Remove deprecated Is.String* Constraints"
https://github.com/nunit/nunit/pull/2338 removed the attributes obsoleted in v3.0.

I suggest we also remove the Is.String* constraints which were deprecated at the same time - and do this in the 3.8 release, so we only inconvenience users the once.

[2017-08-01 12:30] alexamz commented on #2339
Hi @CharliePoole

I think your proposal makes sense so yeah, we are happy with that!

Many thanks!

Alex

[2017-08-01 12:38] CharliePoole commented on #2342
I've never been happy with our syntax for the four string constraints, but the Is.String* items should definitely go.

[2017-08-01 17:37] CharliePoole commented on #2333
NUnit test names look like the full name of a method - plus optional arg list - by default, but we allow the user to change the name of the method part. NUnit actually has no expectations at all for the format of a name and does not even use the name to find tests unless you ask it to via a filter. IOW, an NUnit test name is an arbitrary string that does not even have to be unique.

Visual Studio,

[2017-08-02 03:37] stevenaw commented on #2219
Sorry, I forgot to structure my GH comment so that this would close automatically.
I'm unable to manually close it. @rprouse @CharliePoole @ChrisMaddock can you guys help out?

I see we're handling obsoleted non-attributes (constraints) in a different issue (https://github.com/nunit/nunit/issues/2342)

[2017-08-02 06:04] #2219 closed

[2017-08-02 07:57] alexandlazaris opened #2343 "No tests or proper test driver found when using nunit3-console 3.7.0 in CLI"
Am writing a test framework to run e2e tests. Running the tests from Test Explorer within VS works fine. Want to run the tests via CLI. Added Nunit packages. Tried ```.\nunit3-console ..\..\..\BDD\BDD.csproj``` from within .\NUnit.ConsoleRunner.3.7.0\tools and got this output:

[code]

Repo: https://github.com/alexandlazaris/nunit-pageobjects
Packages:
[code]

[2017-08-02 08:30] ChrisMaddock commented on #2343
Are your tests found correctly if you pass the actual assembly into the nunit3-console, rather than the csproj?

[2017-08-02 10:30] dgm90 commented on #2333
Hello Charlie,

Thanks for your detailed response.

[2017-08-02 13:42] estrizhok opened #2344 "Remove dependency on System.Web.UI.ICallbackEventHandler"
Due to the dependency on `System.Web.UI.ICallbackEventHandler`, the type from `System.Web,dll`, which does not exist in .netstandard, nunit.framework.dll compiled for .netstandard is incompatible with the nunit console runner. This is awkward since references to .netstandard libraries from projects targeting full .NET framework are completed valid.

[2017-08-02 15:38] kdubau commented on #1670
Hey folks, is this work done or more pending? I couldn't find any open issues or PR's related to it.

Apologies if I'm missing something but my test attachments still are not appearing in the VS Test Explorer as I expect. I am using NUnit3TestAdapter 3.8.0 from NuGet and the API `TestContext.AddTestAttachement(file)` but I don't see the attachments in the Test Explorer. I am expecting something li

[2017-08-02 15:41] CharliePoole commented on #2344
This "kind of" duplicates nunit/nunit-console#271 but we don't really have a console issue that deals completely and clearly with being able to run .NET standard under the console runner. We should convert the referenced issue, move this one or create a new one @nunit/engine-team

@estrizhok This is not a framework issue because the framework supports other APIs besides the one that uses `System.W

[2017-08-02 15:42] CharliePoole commented on #2344
@estrizhok I'll add that there are other things besides that interface that keep it from working. Maybe if we create a proper issue, we'll make some progress on it.

[2017-08-02 15:47] ChrisMaddock commented on #1670
@kdubau - Nope, this should be released in NUnit v3.7 and NUnit3TestAdapter 3.8. See https://github.com/nunit/nunit3-vs-adapter/issues/332 for the implementation. This issue just remains open as I still haven't got round to adding the two sentences of documentation required. 😱

If it's not working, I'd first run your tests in NUnit console - and see if your output file is recorded correctly in the

[2017-08-02 16:16] kdubau commented on #1670
@ChrisMaddock okay, issue created https://github.com/nunit/nunit3-vs-adapter/issues/373

[2017-08-02 16:25] asfihafeez opened #2345 "Supported .Net Framework and Visual Studio versions"
I need to know what versions of Visual Studio and .Net Framework are supported by each, if not majority of the releases of NUnit.

Any help is appreciated.

[2017-08-02 16:52] CharliePoole commented on #2345
If you are merely using NUnit, the version of VS you use is irrelevant. It may matter, however, if you are building it.

Every version of NUnit specifies what it supports. We can answer you here if you can narrow down the versions that interest you. There are on the order of 50 versions over the past 17 years, which you can check yourself in the docs, but it's a bit much for one of us to compose a

[2017-08-02 17:06] asfihafeez commented on #2345
2.1
2.2
2.3
2.4
2.5
2.6

**&&&**

3.0
3.2
3.4
3.5
3.6
3.7

[2017-08-02 17:24] ChrisMaddock commented on #1670
Thanks to motivation from @kdubau, I've finally documented this feature, and can close this Epic. 😄

[2017-08-02 17:24] #1670 closed

[2017-08-02 17:44] rprouse commented on #2345
All versions of NUnit 3 and newer support .NET 2.0 and newer. If I remember right 2.6.4 also supports .NET 2.0 and newer.

Why do you need this information? It is a fair amount of work to compile and you could do it just as easily as us who are volunteers working in our spare time.

[2017-08-02 17:48] asfihafeez commented on #2345
I need the information for work related purposes, If you could provide me with the location this information is available at; I will gladly look myself.

[2017-08-02 17:58] rprouse commented on #2345
According to the release notes at http://nunit.org/docs/2.6.3/releaseNotes.html, support for .NET 1.0 was dropped with NUnit 2.6. Therefore NUnit 2.6 and newer support .NET 2.0 and newer. Older versions of NUnit support .NET 1.0 and newer. That said, support for specific .NET Features is very feature dependent. For example, support for async/await was not added until NUnit 2.6.3 I think? You will

[2017-08-02 17:58] #2345 closed

[2017-08-02 18:02] rprouse commented on #2343
Also, why are you including the MSTest adapter and framework? Are your tests written as NUnit tests? You mention adding NUnit after running the tests in Visual Studio, so that makes me think you are using MSTest.

[2017-08-02 22:37] alexandlazaris commented on #2343
@ChrisMaddock - If you mean if I pass in my .dll file into the nunit3-console, then no it still fails. Same error.

@rprouse - Hmm good point. I am using MSTest to use ```[TestMethod]``` attributes and so on however I was under the impression I had to import the NunitConsoleRunner package to run those tests from CLI?

[2017-08-03 00:06] OmicronPersei commented on #2062
Looking to pick this up.  I've created a test but I'm not sure if I'm covering the bug or not.  My test looks like this (within TestCaseSourceTests):
[code]
Basically I'm trying to reference a source that does not exist within `TestCaseSourceAttributeFixture`.  When the test runs, I get an exception thrown at TestBuilder.cs(94): `Assert.Fail("Method not found: " + methodName);`.

Does this mean th

[2017-08-03 02:12] rprouse commented on #2343
If you are using the MSTest framework, then you need to use their command line runner. Nunit currently only runs tests that were written with the NUnit test framework.

Normally you run tests using the runner for the framework you are using. NUnit has the ability to plug in runners for other frameworks, but none have been written yet.

[2017-08-03 02:12] #2343 closed

[2017-08-03 03:07] alexandlazaris commented on #2343
Thanks for the assistance @rprouse , makes sense now. Successfully ran in MSText.exe 👯‍♂️ 👯

[2017-08-03 05:47] qazwer1 opened #2346 "Missing reference to nunit.framework with NUnit NuGet package"
![image](https://user-images.githubusercontent.com/10104219/28907728-4f5afbbc-7828-11e7-8e0e-818e0b9113e6.png)

![image](https://user-images.githubusercontent.com/10104219/28907734-58e160ea-7828-11e7-973e-f38fea6ff61f.png)

[2017-08-03 06:06] CharliePoole commented on #2346
The only thing the images show is that your project has a reference to the NUnit framework, but the assembly is not present. To all appearances, you added the reference at one point but the files have been removed and it needs to be refreshed. There doesn't appear to be a bug here.

[2017-08-03 09:01] peppy commented on #1118
I can still reproduce this on 3.7.1 by having a referenced framework that contains an abstract base class with either `[TestFixture]` or `[Test]` attributed attached to them, but no non-abstract tests.

Example: https://github.com/ppy/osu-framework/tree/7505b631b2627ee130a3ba3a8c360821e6b52122

[2017-08-03 09:21] CharliePoole commented on #1118
As far as NUnit is concerned, an abstract class by itself has no tests. It's only when you inherit from the class that tests actually exist.

You mention that this is a framework. Do the actual test classes ever refer to NUnit directly? If they don't - that is, if you are trying to hide NUnit behind the framework - then it will not currently work. You must have at least one reference to NUnit in t

[2017-08-03 09:24] peppy commented on #1118
Thanks for the response.

Basically we have a `Framework.Testing` project which contains an abstract representation of a `TestCase` as follows:

[code]

`TestCase`s which derive from this need not know how they are run by NUnit as a result. Unfortunately when the test runner runs it also inspects the `Framework.Testing` project which contains currently only this abstract representation.

I've fixe

[2017-08-03 09:41] CharliePoole commented on #1118
Ah, I misunderstood and thought the problem was with the actual tests that derive from your abstract class.

In your case, you can just add the nunit NonTestAssembly attribute to the framework and it should be ignored.

I'm on my phone, so don't trust my spelling of the attribute from memory.

[2017-08-03 09:51] peppy commented on #1118
That sounds like a great solution, but unfortunately it still seems to fail with the same error:

https://github.com/ppy/osu-framework/pull/934/commits/8e22db6f5184485408e32609b701873050c1913e
https://ci.appveyor.com/project/peppy/osu-framework/build/3553

[2017-08-03 11:23] CharliePoole commented on #1118
You are running nunit3-console 3.6.1

[2017-08-03 12:05] ChrisMaddock commented on #1118
I think NonTestAssemblyAttribute requires the `--skipNonTestAssemblies` flag to also be passed on the console.

@peppy - I took a quick look at your project - looks like you're currently letting AppVeyor auto-discover the test assemblies? I'd just specify the actual assembly in your appveyor.yml file.

[2017-08-03 13:41] rprouse commented on #2343
@alexandlazaris glad you got it working. If MSTest doesn't meet your needs, remember NUnit is there for you 😄

[2017-08-03 15:25] mcarriga opened #2347 "Feature request for configuring tests to require Asserts - Explicit pass/fail/inconclusive"
I have testing framework built around NUnit that a large group of users writes their Selenium tests in. Need the ability to configure an explicit pass/fail in that if no assertions are present in a test then the default status is Inconclusive until an assert passes or fails the test. If 0 assertions were executed in a test then the final status would be inconclusive pending no other exceptions thr

[2017-08-03 15:37] CharliePoole commented on #2347
The only current option is to use theories, which default to Inconclusive rather than Passed. But theories are currently only applicable to parameterized tests.

The notion that a test passes if it does no asserts has been part of NUnit for many years, so we are not going to change the default. At what level would you like to be able to configure this.

[2017-08-03 15:57] mcarriga commented on #2347
@CharliePoole I agree on not making it a default; that makes total sense. If it were possible to configure this as part of the TestFixture attribute like [TestFixture(RequiresAssert: true)], that might be easiest way that I can think of. Otherwise, I am wondering if it would be possible to have a constraint that would be a constraint on the actual Test and could be configured in the SetUp - Not su

[2017-08-03 16:05] mcarriga commented on #2347
Would it be possible to have a console command line option to be able set requiring asserts?

[2017-08-03 17:46] rodolfoleal commented on #2252
@ChrisMaddock  In the Issue [#2105](https://github.com/nunit/nunit/issues/2105) you refer this one?
 What was the proposed solution?

[2017-08-03 21:31] othersuttree commented on #2335
+1 on this issue.

My group is also running concurrent fixtures that can run as high as 60 per project/assembly. Each test class inherits from a base class containing OneTimeSetUp and OneTimeTearDown which manage the driver resources for that fixture.

Our test runner hosts (8 x 2.9Ghz + 15GB RAM) are grinding to a halt due to memory saturation at about the 20th fixture (ie 20 open browsers, many

[2017-08-03 22:41] CharliePoole commented on #2335
Unfortunately, the behavior in 3.6.1 was incorrect. The teardown always ran on the same thread as the last test to complete. This is not a problem if the thread requirements of each test match those of the fixture, but it is incorrect if any test has different requirements (e.g. ApartmentState) and that test happens to be the last one to run.

We don't need +1s on this issue, we have accepted that

[2017-08-03 23:33] CharliePoole commented on #2347
The option of exposing Asserts would not solve the problem at all. Many prefectly valid tests perform no asserts at all. The most common situation is when a mock is used and the mock framework's expectations replace assertions as the third A.

[2017-08-03 23:36] CharliePoole commented on #2347
I also wonder about the utility of the Inconclusive state. NUnit is designed so that inconclusive tests get almost no visibility. They neither add to nor subtract from the verification of the software. In this case, it seems that the OP wants to actually highlight tests that perform no asserts, so some kind of warning would probably be more appropriate.

[2017-08-04 10:17] jtomkiew-ITM commented on #2335
I might have found a workaround, or it's incorrect behaviour just like in 3.6.1, as @CharliePoole stated in his previous comment.

In my test setup (from my first post) I added a new base class and gave it `[Parallelizable(ParallelScope.Default)]` attribute - all other fixtures inherit after it. Running all the tests now gives me the same "expected" result as in 3.6.1.

Current test setup for NUni

[2017-08-04 10:49] james-uffindell-granta opened #2348 "Can't use Assert.Multiple with async code"
Passing an async lambda into Assert.Multiple compiles fine with no warnings but always passes instantaneously, even if the code inside the lambda should fail.

Sample test code:

[code]

I would intuitively expect both these tests to take 5 seconds to run before then failing. However, only TestMultipleSync fails; TestMultipleAsync passes successfully in less than a second. Output from console runn

[2017-08-04 12:00] CharliePoole commented on #2335
I stated earlier that the problem only arises when both fixtures and tests are parallel. I'm not 100% sure of this - it may be a problem whenever the fixtures are run in parallel. Whoever works the issue will have to debug to see if that's so.

But in any case, when you use `ParallelScope.Default`, you are overriding the assembly level setting. Your fixtures are no longer being run in parallel, so

[2017-08-04 13:00] jtomkiew-ITM commented on #2335
That's what I thought, but they **do** run in parallel - with both `Parallelizable(ParallelScope.Fixtures)` on assembly level and `Parallelizable(ParallelScope.Default)` on base fixture, all fixtures run in parallel and `OneTimeTearDown`'s are run right after its fixture tests (just like in 3.6.1, but using 3.7.1).

I guess in this case `Parallelizable(ParallelScope.Default)` on base fixture is ov

[2017-08-04 13:08] CharliePoole commented on #2335
Interesting. That calls for some debugging I guess.

FWIW, `ParallelScope.Default` is not intended to be used by users. We hide it in the Intellisense, but a bug in VS is currently making it visible. It's an internal setting that means "no parallelizable attribute was used." I think we will eventually want to separate the internal settings from the user settings, as should have been done in the fi

[2017-08-04 13:09] CharliePoole commented on #2335
@nunit/framework-team @nunit/core-team
What do you think? I"m coming to believe that we should try to run all fixture teardowns as soon as possible, since they may release resources that would otherwise be held.

[2017-08-04 20:53] jadarnel27 commented on #345
Hi!  I would like to implement this, as it appears to still be available, and it seems like a fairly simple way to "get my feet wet" in the project.

[2017-08-05 16:14] CharliePoole opened #2349 "VS2015 Test Adapter does not see "naked" Test method override as a Test method"
@mwpowellhtx commented on [Sat Aug 05 2017](https://github.com/nunit/nunit-vs-adapter/issues/159)

I did not mine the current issues for anything similar. If it's a duplicate, please mark it as such. Also, I haven't verified across *Visual Studio* versions (i.e. 2012, 2013, 2017, etc).

It is easier to illustrate what's going on. In the following example, the **Adapter** does not **see** the overr

[2017-08-05 16:16] CharliePoole commented on #2349
Marking this for discussion. The described behavior is how NUnit has worked for a long time and we decided to keep the same behavior in moving to NUnit 3. We could consider this as an enhancement or a "mental bug" on the part of the original designers. 😄 Or we could decide to keep things as they are.

@nunit/framework-team What do you think?

[2017-08-05 16:22] CharliePoole commented on #2349
IIRC, we could "fix" this by changing "false" to "true" in one place. Except... that might give us both methods, which is not what we want. I'm not sure, since the original code in V2 was based on the names of the attributes and not the types. The fact that we now use normal reflection may save us. It would have to be tried, but I think only after we first decide what's the right thing to do.

[2017-08-05 16:23] mwpowellhtx commented on #2349
@CharliePoole Thanks for posting. I was just going to reference the link. But this is great. :+1:

[2017-08-05 16:27] mwpowellhtx commented on #2349
@CharliePoole I had solved this by using the override in another repository instead. It's a bit more bookkeeping tracking base methods versus overridden methods, but it is possible. Feel free to reference my [MeasureIt](http://github.com/mwpowellhtx/MeasureIt) repository for patterns similar to yours. It's been a little while, but I believe I'd gotten it sorted out.

[2017-08-05 16:59] mwpowellhtx commented on #2349
@CharliePoole Have a look at [DiscoverValues (private)](http://github.com/mwpowellhtx/MeasureIt/blob/aaf28089070f408039ddf934e1a5062e2cbd3a80/src/MeasureIt.Core/Discovery/Agents/PerformanceMeasurementDescriptorDiscoveryAgentBase.cs#L64) and [DiscoverValues (protected override)](http://github.com/mwpowellhtx/MeasureIt/blob/aaf28089070f408039ddf934e1a5062e2cbd3a80/src/MeasureIt.Core/Discovery/Agents

[2017-08-05 17:40] CharliePoole commented on #2349
@mwpowellhtx There's no issue about how to handle it. The convention of marking the issue as a Discussion item is that we will discuss whether to implement the change at all, rather than how. In this case, the implementation is more or less simple.

I also marked it as an enhancement. The reason it is not a bug is that the code is working as the programmers intended. In this case, the intent came

[2017-08-05 17:50] mwpowellhtx commented on #2349
On Sat, Aug 5, 2017 at 1:41 PM, CharliePoole <notifications@github.com>
wrote:

Well, as discussed, that's subject to interpretation, and is governed by
framework decisions (i.e. .NET, and how Attributes can/should be treated)
greater than yours or mine. It is what it is; no sense belly aching over it
to any great extent.

 I've already made my contributions toward that discussion. Knotty or not,

[2017-08-05 18:02] CharliePoole commented on #2349
I do understand the point that the "inherited" property on the attribute might lead one to expect different behavior. The thing is, the vast majority of users never see that. So it's a point, but a minor one. A much larger point is that users expect NUnit to keep working as it has worked in the past.

I'm not trying to argue against your request here, however, just laying out the parameters within

[2017-08-05 18:10] mwpowellhtx commented on #2349
On Sat, Aug 5, 2017 at 2:02 PM, CharliePoole <notifications@github.com>
wrote:

If the original assumptions cannot be persuaded, fair enough. I think it's
a bug, but who am I to say so; when an Attribute is Inherited=true, one
expects it to be inherited. Period, end of story. However, when
Inherited=false, then I would fully expect to have to re-decorate
overridden test methods. But it's not that

[2017-08-05 19:49] ChrisMaddock commented on #345
@jadarnel27 - go for it! I hope it works out as simple as people have suggested!

@rprouse - would you invite @jadarnel27 to the contributors team?

[2017-08-05 20:03] ChrisMaddock commented on #2335
Definitely. This would bring a return of the memory issues we were facing around 3.0. I don't believe we've upgraded all of our test suites to 3.7 yet, but in some places this could ground things to a halt.

[2017-08-05 20:04] ChrisMaddock commented on #2335
(Of course, this is more specific, as it only affects tests with OneTimeTearDown's rather than all tests - but would otherwise cause a major issue for us.)

[2017-08-05 20:09] CharliePoole commented on #2335
Actually I think it may affect all tests. Even if there is no one time teardown per se, that's where we release the reference.

[2017-08-05 21:35] CharliePoole commented on #2335
I changed the title to reflect the objective. Since this pertains to an area I worked in, I'm assigning it to myself.

[2017-08-06 19:44] CharliePoole commented on #2349
The OP has seriously misconstrued some comments, so I think I should say something here. To put it plainly, I favor fixing this problem in precisely the way they asked. It's just not as obvious as the OP believes it should be and I think more eyes on it will be helpful.

Here are some general guidelines when filing an issue...

Sometimes, the originator of an issue thinks they have to argue, when

[2017-08-06 19:50] CharliePoole commented on #2062
You need to verify that the test is marked as NotRunnable in the first place, even before it is run. You should build the suite and look for `RunState.NotRunnable`. That will also give `ResultState.NotRunnable` when the test is run.

The failure from `TestBuilder` is an error in our test utility, not in the production code. It doesn't have to be fixed - just avoided in your test. IOW, don't try to

[2017-08-06 23:31] CharliePoole commented on #2243
Now that we are able to once again run tests directly, should we close this issue?

[2017-08-07 18:44] rprouse commented on #345
@jadarnel27 I have invited you to the Contributors team. Once you accept, we will be able to assign this issue to you, but feel free to start in the meantime, it is all yours 😄

[2017-08-07 19:05] jadarnel27 commented on #345
Thanks, guys!  Expect a pull request in the near future 😄

[2017-08-08 00:51] OmicronPersei commented on #2062
@CharliePoole, Would we expect an individual test to be marked as `RunState.NotRunnable`, or the returned `TestSuite`?

[2017-08-08 01:51] CharliePoole commented on #2062
Only the test case that references that missing TestCaseSource. The way it generally works, is that any error in one of the attributes throws an exception. The code that called into the attribute is responsible for changing that error into a not runnable. You can see it happen if you have a TestCaseSource with a method that throws an exception.

[2017-08-08 13:03] #1861 closed

[2017-08-08 13:03] #1949 closed

[2017-08-08 13:03] #2175 closed

[2017-08-08 13:03] #2247 closed

[2017-08-08 13:07] rprouse commented on #2346
@qazwer1 This can happen if your NuGet restore fails to happen or if you move your project to a different folder causing the reference to be broken. I suggest that you restart Visual Studio, then remove and re-add the package.

Everyone uses the NuGet package, so this isn't a general issue, but a problem with your setup. I am going to close this as a question. If you need more help, feel free to p

[2017-08-08 13:07] #2346 closed

[2017-08-08 13:19] rprouse commented on #2347
I am marking this as an idea and moving it to our discussion pipeline.

The problem with a command line option is that it will present different behavior depending on the runner you are using. If your developers are using ReSharper or the Visual Studio Adapter, they (and several other runners) would need to be updated to support the new option.

Personally, I would not be in favor of adding this,

[2017-08-08 13:58] CharliePoole opened #2353 "Provide additional Result information through TestContext"
Issue #2347 mentions the desirability of adding the current Assert count to the information returned by `TestContext.CurrentContext.Result`. We should review other information that is not available to the test and consider adding that as well.

Initially, I propose we add  `AssertCount` and `Assertions`.

The latter would return a list of items representing the pending AssertionResults, i.e. warni

[2017-08-08 14:04] CharliePoole commented on #2347
I agree with @rprouse. If I were starting from scratch, I think that Inconclusive would be the best default value for a test. That would force any users who, for example, relied on the absence of unhandled exceptions to make a test pass to actually add an `Assert.Pass` at the end. However, we aren't starting from scratch.

I created #2353 to add assert count and some other info to `TestContext.Cur

[2017-08-08 14:07] #2348 closed

[2017-08-08 14:19] mcarriga commented on #2347
I agree as well. Adding the assert count is the most feasible option and works for what I need. Thank you both!

[2017-08-08 14:40] CharliePoole commented on #1861
I think we dropped the ball on this question, which has been unanswered for a long time. Rob just closed it for lack of activity, but I thought I would give you a brief answer...

I don't think we would want a PR that allows injecting a global change into the way we do reflection internally. Additionally, such a change would affect __all__ calls through `Reflect.InvokeMethod`, not just calls to te

[2017-08-08 15:07] rprouse commented on #2347
Since we have #2353 to track the count, I am going to close this as won't fix.

[2017-08-08 15:07] #2347 closed

[2017-08-08 19:22] rprouse commented on #2243
@jnm2 I am going to close this. Rant away if you feel strongly otherwise 😄

[2017-08-08 19:22] #2243 closed

[2017-08-09 00:58] #2353 closed

[2017-08-09 01:04] #2335 closed

[2017-08-09 02:07] OmicronPersei commented on #2226
Looking to pick this one up.  What part(s) of the code base should I look at to get a feel for where command line args are parsed, etc?  Thanks :)

[2017-08-09 05:43] CharliePoole commented on #2226
You can look in nunit-console or nunitlite at TestSelectionParser.cs to see how filters are created. But this issue is about what happens in the framework when the filters are applied, not about how they are generated.

The filters are all in the `NUnit.Framework.Internal.Filters` namespace, with tests for each type of filter in the same place in the test assembly. We don't have many (or any?) tes

[2017-08-09 09:42] ChrisMaddock commented on #2349
We don't currently use any inheritance with TestAttribute, do we? I agree the current state doesn't match expectations - am I following this thread right in thinking that one possible fix is just to correct TestAttribute to current behaviour? As in:
[code]

Am I correct that that would fix the 'bug' - the question is then if we want to add the feature of allowing TestAttribute inheritance? Which I

[2017-08-09 09:47] ChrisMaddock commented on #2339
Relabelling this issue, as I think we've done the design stage.

For clarity - I believe we've decided that tests within an ignored test-suite should have a proper start-time and end-time set, which reflect the time the decision was made to ignore them. (How that's to be implemented - I'm less sure of.) These times would be expected to fall within the start and end time of the containing test-suit

[2017-08-09 09:55] CharliePoole commented on #2349
@ChrisMaddock We need to use tend more precise than "test attribute inheritance" here. We do inherit tests from base classes. We don't allow tests in the base to be overridden.

If you change the current attribute definition, we will no longer see tests in the base class.

Another way to look at it is that use of inherited=true is an implementation detail in how we handle test inheritance.

[2017-08-09 09:56] CharliePoole commented on #2349
Inheriting tests us an NUnit feature, inheriting attributes is internal.

[2017-08-09 09:59] ChrisMaddock commented on #2349
Ah - this was the case I missed!

In that case, adding the OPs case does seem to follow the path of least surprise - although niche,

[2017-08-09 13:53] jnm2 commented on #2243
Yes, the primary motivation is satisfied now without this helper. :D

[2017-08-09 14:39] alexamz commented on #2339
Hi @ChrisMaddock ,

First of all, thank you to all the NUnit Team!

I will fork the project and try to fix this as soon as possible, but you know, it's a bit complicated to find time sometimes! Haha

Thanks again!

Alex

[2017-08-09 15:13] CharliePoole commented on #2349
Another issue that I forgot in summarizing the pros and cons is that this probably needs to be looked at more broadly. We have a set of attributes that identify methods as having a particular function: Test, SetUp, TearDown, etc. If we make TestAttribute work in a new way with overrides, it's reasonable for people to expect all those other attributes work the same way.

Here is my list of all the

[2017-08-09 18:54] ChrisMaddock commented on #2339
Great! No problem about it taking a bit of time - I know the feeling there! 😆

@rprouse - would you be able to assign the issue to Alex?

[2017-08-10 00:16] jnm2 commented on #2286
Closure for our ValueTuple conversation; the release version of System.ValueTuple now works properly. https://github.com/dotnet/announcements/issues/25

[2017-08-10 00:34] OmicronPersei commented on #2226
Alright.  I've started so far off with this test, which fails as anticipated:
[code]
Just making sure this is what's generally being looked for (along with a lot more tests to verify more combos of filters)?

[2017-08-10 01:21] OmicronPersei commented on #2226
I'm also seeing the `NotFilter` itself not really working properly in terms of Explicit selection.  The below test fails as well:
[code]

[2017-08-10 01:30] OmicronPersei commented on #2226
After reading more, I realized that there's a `CompositeFilter.IsExplicitMatch()` method... oops 😆 .  Updating the two aforementioned test to instead use the `IsExplicitMatch` check, both tests pass.  It would seem that the filters themselves are not the cause of the example bug in the OP, but something else...

[2017-08-10 08:14] Robot1que commented on #2242
@CharliePoole @rprouse I'm very sorry for a potentially stupid question but what is the point of marking an issue as closed when there is no release that contains fix for the issue? (perhaps everyone in Github does it but then it doesn't mean I agree with this approach.)
Speaking of this particular problem - last release was on Jan 6 (NUnit 3.7.1) and the fix has been merged to `master` later in J

[2017-08-10 08:56] CharliePoole commented on #2242
Our view is that a feature is "released" as soon as it is merged to master. At that point, it is available to anyone who needs it either by downloading the latest dev build from MyGet or building from source. Most people, of course, will wait for the next production release.

In this case, NUnit 3.7.1 was released on June 5 (not January 6). This issue was reported on June 12 and fixed on June 24.,

[2017-08-10 09:08] CharliePoole commented on #2226
Primary tests should be of Pass and IsExplicitMatch for these external tests because those are in the interface used by the framework. Match is useful to test for a single filter, because it is the heart of the filter implementation.

[2017-08-10 09:11] CharliePoole commented on #2226
An explicit test is run off both Pass and Is expliciT match succeed.

[2017-08-10 10:02] Robot1que commented on #2242
@CharliePoole sorry, I misread "Jun" (I read it as "Jan") and overreacted a bit. Ofcourse waiting until the end of the month is not a big problem.
Thought making local builds from `master` to get latest changes is not an option because we do not want to keep .dll files in the source control so every other developer gets it as well. Seting up local NuGet server where our team could upload packages

[2017-08-10 23:06] OmicronPersei commented on #2226
So you're saying when testing tests that are marked with `Explicit`, I should be checking whether or not both `Pass()` and `IsExplicitMatch()` succeed?  If so, is there a reason why we don't have our default "Pass" method test both conditions by default?

[2017-08-10 23:14] OmicronPersei commented on #2342
While I wait for more info on #2226 I'll work on this 😛

[2017-08-10 23:25] CharliePoole commented on #2226
Because the two tests have to be made at two different times. It's a compromise I created to solve the special problem presented by explicit. A test can pass, which means we consider it as a part of the test run, but fail IsExplicitMatch, which causes it to be reported as skipped. Here's a decision table:

Pass? | Explicit Test? | Explicit Match? | Action
------|--------------|-----------------|--

[2017-08-11 00:43] OmicronPersei commented on #2226
Okay makes sense.  Unfortunately it does not seem that the bug lies within the filtering framework bit.  At least according to the fact that the below test passes:
[code]
where `_explicitFixture` is a fixture with the `Explicit` attribute.

Any other ideas where the bug could lurk? 😛

[2017-08-11 00:57] rprouse commented on #2242
@Robot1que we also have all builds of master available as a MyGet feed to be consumed by people that need it. You will need to modify a nuget.config file to pull from the new feed, but it is there if you need it.

https://www.myget.org/feed/Packages/nunit

[2017-08-11 01:43] CharliePoole commented on #2226
Can you still verify the original report at the command-line? Maybe the code has changed since it was reported. If so, then I'd use the debugger to see what is happening.

[2017-08-11 01:48] #2342 closed

[2017-08-11 21:04] CharliePoole opened #2358 "Get framework to build under Mono 5.0"
Tests have been failing for some months now under Mono 5.0. We need to get this working correctly and then remove mono latest from the Allowed Failures.

[2017-08-12 01:47] #2062 closed

[2017-08-12 15:47] CharliePoole commented on #2226
No branch or PR for this one?

[2017-08-12 16:21] CharliePoole commented on #2226
I ran tests using both nunit3-console and nunitlite-runner. I did it with non-existent and existing categories. I can't reproduce this bug, so I'm closing.

I copied this report from another issue and should have marked it as requiring confirmation. It's always good to make sure that you have a confirmed issue when working on something.

@OmicronPersei If you have new tests that would benefit us,

[2017-08-12 16:21] #2226 closed

[2017-08-12 22:56] CharliePoole commented on #2311
@jnm2 You marked this as discussion. I was about to work on it, but Discussion means "don't work on it" so I didn't. Is there more you want to discuss?

[2017-08-13 13:10] ChrisMaddock opened #2360 "Obsolete CollectionContainsConstraint Constructors"
At some point, https://github.com/nunit/nunit/pull/2239 is going to be merged and remove CollectionContainsConstraint. The only breaking change should be where anyone is explicitly using the code `new CollectionContainsConstraint()` - all the other methods will be changed internally to use a SomeItemsConstraint instead.

I think it would be good if we can obsolete the CollectionContainsConstraint

[2017-08-13 18:02] #2358 closed

[2017-08-14 12:26] ivanakcheurov opened #2361 "NUnit Parallelizable and OneTimeSetUp with no namespace results in single-threaded test execution"
I set `[assembly: Parallelizable(ParallelScope.Fixtures)]`
I have the following OneTimeSetUp:
[code]
_Expected:_ The tests should be executed **multi-threaded**.
_Actual:_ The tests are executed **single-threaded**.

_Additional observation:_
If I put the `OneTimeSetUp` class in a namespace (corresponding to one of the test suites), then tests are executed multi-threaded. However only that namespa

[2017-08-14 12:44] CharliePoole commented on #2361
What happens if you place the attribute on the SetUpFixture rather than at the assembly level?

[2017-08-14 15:38] owenniblock opened #2362 "Ignored classes are not working as expected"
Hello,

I'm using NUnit 3.7.1 - running tests through Resharper's test runner (although investigating this issue with nunit-console and some other code which calls the NUnit framework directly).

We have a class with the Ignore attribute containing 2 tests (one ignored explicitly and one which I'd expect to be ignored based on the Class attribute):

[code]

However the `NotIgnoredMethod` gives the

[2017-08-14 15:42] ChrisMaddock commented on #2360
D'oh - sorry @mikkelbu - I meant to tag you in this and ask if you wanted to do it!

[2017-08-14 16:05] CharliePoole commented on #2362
The RunState of a test does not change when it is executed. The RunState of that particular test is "Runnable" because it is capable of being run and is not ignored directly. It is not actually run because the containing suite is not run. In theory, this test could be run by selecting it with a filter.

This behavior probably needs some review. In particular, the test, because it was not run does

[2017-08-14 17:08] rprouse commented on #2339
@alexamz I have invited you to the NUnit contributors team so that one of us can assign this issue to you once you accept.

[2017-08-14 17:41] rulrok opened #2363 "ParameterizedMethod fullname does not contain TestFixtureSource parameters"
If I have a test suite with **TestFixtureSource**, its full name will be (as example)

`WTP.Web.Share.Specs.Specs.LandingPage.SharePageOnSocialMedias(win_chrome_50).it_can_share_on_tumblr`

If some method within that test suite has a **TestCase** property, the fullname will be:

`WTP.Web.Share.Specs.Specs.LandingPage.SharePageOnSocialMedias.it_can_share_by_email`

This is causing trouble for me to

[2017-08-14 17:54] CharliePoole commented on #2363
Can you provide a specific code example that shows this behavior? The fullname should not be different.

[2017-08-14 19:40] jnm2 commented on #2319
Now that VS 15.3 is out, how long should we wait before assuming that most people are off 15.0 through 15.2 which will still cause UTF8 BOM grief?

[2017-08-14 20:12] mikkelbu commented on #2360
No problem 😄. I just needed a simple task after my vacation.

[2017-08-14 20:50] mikkelbu commented on #2360
@ChrisMaddock Just a question (I forgot about @CharliePoole's https://github.com/nunit/nunit/issues/1324#issuecomment-193552176). Adding the ObsoleteAttribute to the constructor gives the the following errors when compiling, so I'll need to do most of the same changes as in #2239 (except removing the class) in order to be able to compile the solution.
[code]

[2017-08-14 21:08] ChrisMaddock commented on #2360
Is it possible to disable the warnings with pragma's around the relevant lines?

[2017-08-14 21:15] ChrisMaddock commented on #2360
If not, maybe a solution is to merge #2239 - just without the classes removed, and them obsoleted there. Then in 3.9, it will just be a matter of deleting an unused class. 😄

[2017-08-14 21:23] CharliePoole commented on #2360
@ChrisMaddock Sounds like a plan.

[2017-08-15 22:54] evancam opened #2364 "Parallelizable attribute not invalidating invalid parallel scope combinations"
I was looking through the ParallelizableAttribute.cs, and the changes made with https://github.com/nunit/nunit/pull/2264. I noticed that there is the functionality to invalidate tests with invalid parallel combinations in the ApplyToTest() method, but it does not appear to be actually invalidating them. Is this intentional?

Using 3.7.1,
I tested and was able to reproduce the hanging found in http

[2017-08-15 23:30] CharliePoole commented on #2364
Both the issues you refer to are clearly marked as fixed for the 3.8 release, so you won't see any sign of the changes when running 3.7.1. You can, if you like, download later dev versions of the framework from our myget feed.

`ParallelScope.Fixtures` indicates that any fixtures below that point in the tree should be run in parallel. It's not valid on methods because methods don't contain fixture

[2017-08-16 00:09] evancam commented on #2364
Sorry, I should have been more specific, I was looking through the issues just for context. This is currently the ApplyToTest method in the nunit source on the dev branch

[code]

Everything after the first `if` statement that changed in 3.8 the method have not been changed since 3.7. I just tested on the 3.8 dev myget package, and the tests still run and are not invalidated. From the bottom 2 `if

[2017-08-16 00:44] CharliePoole commented on #2364
Regarding invalidating the test, please post some code that you believe should have been marked invalid but was not. As indicated, if you have a method with both ParallelScope.None and ParallelScope.Self, then it should be marked invalid. Same thing for a test case with either Children or Fixtures, since a test case can't contain any child tests.

Again... assuming you have a fixture containing so

[2017-08-16 06:27] alexamz commented on #2339
Hi @rprouse

Many thanks! I have already accepted.

[2017-08-16 09:42] ChrisMaddock commented on #2339
Have assigned the issue to you @alexamz - look forward to seeing something. 😄

[2017-08-16 11:09] rulrok commented on #2363
@CharliePoole  Here is an extract of the code.
I have one base class with the `[TestFixture]` attribute on it which inherits from yet another base class (from a different assembly now) also marked with `[TestFixture]`.

The two `[test]` methods below are the ones which generate the lines described above.
The one marked with the `[TestCase]` is not generating the fullname as expected.

the `win_chr

[2017-08-16 11:16] StefDotmailer opened #2366 "Lazy TestCaseSourceAttribute"
I noticed that a if you decorate a test with the attribute in the title, the source method gets invoked for ANY test running in the entire project. So if I run TestFixtureX.Test and TestFixutureY.Test has the attribute, the test cases method will be executed also for TestFixtureX.Test.

This causes a significant overhead in big test projects with many sources; to run a single simple test, we have

[2017-08-16 11:55] ChrisMaddock commented on #2237
Been looking at this recently - what I'm trying to do to resolve this is use the .NET Standard 1.3 build for Android.

At the moment, I'm struggling to package appropriately to support all of packages.config, project.json and PackageReference. :-/ I've filed an issue with NuGet, over getting project.json to chose the correct build here: https://github.com/NuGet/Home/issues/5759

@jalbertSyncroTech

[2017-08-16 14:18] jalbertSyncroTech commented on #2237
Thanks for the update Chris!  The new package worked fine, I was able to install it, build, and run our Android tests successfully, and I read the Assembly Version back out just to verify it was in fact running with v3.8.  I should point out that I just upgraded to VS2017 15.3 yesterday, which also updated NuGet to v4.3 and Xamarin Visual Studio to v4.6.

[2017-08-16 14:23] ChrisMaddock commented on #2237
Thanks @jalbertSyncroTech. In that case, I'll PR this change at some point - which mean Android will work with packages.config, and PackageReference - so it's just project.json which is still an issue!

[2017-08-16 15:05] CharliePoole commented on #2363
What runtime are you targeting?

[2017-08-16 15:13] CharliePoole commented on #2366
This duplicates an ancient issue: #3, which is part of the Epic #7! We should really do something about this.

[2017-08-16 15:13] #2366 closed

[2017-08-16 17:25] rulrok commented on #2363
Here is the dump of the beginning of the XML document (in json format).
I've just censored a directory folder with `*************`

[code]

[2017-08-16 17:52] CharliePoole commented on #2363
Unfortunately, the beginning of the document doesn't include the fixture in question. There is only the overall `<test-run>` summary element and the `<test-suite>` element that represents the assembly as a whole.

We need to see the part of the file that refers to the fixture and tests in question in order to know what names NUnit has given them.

[2017-08-16 18:02] evancam commented on #2364
Here is a sample fixture I used to test this,
[code]

Here are the results of the test run of that code:
[code]

For the fixture problem,

Let's assume I have 2 fixtures; fixture 'A' and fixture 'B'. They both have `ParallelScope.Self`, as well as 3 different test fixture data passed in. I want one of the test methods, 'aa', in fixture 'A' to run the individual fixture data one at a time instead o

[2017-08-16 18:30] CharliePoole commented on #2364
I'll assume that you have no higher-level `ParallelizableAttribute` either on the assembly or a `SetUpFixture`.

The `[Parallelizable]` on the fixture class will cause it to run in parallel with any other fixtures that have the same attribute. Since it's parameterized, the two instances will run in parallel with one another.

The `[NonParallelizable]` and `[Parallelizable]` attributes on test 1 ar

[2017-08-16 20:14] evancam commented on #2364
As I have said previously, I am the most recent version of the framework, v3.8.0-dev-04267. I have been testing by both running the tests in Visual Studio, as well as using the 3.6.1 console runner to ensure it is not one or the other causing the problem.

I also just tested a slightly different setup using the 3.8 dev,
[code]
this setup seems to be intermittently failing as well. Sometimes it wil

[2017-08-16 20:15] rulrok commented on #2363
Here is the full XML in json format: https://pastebin.com/sxN9bQWd.

Look for 'it_can_share_by_email'. Now I realize that the parameter name actually **IS** on the fullname, but on the `TestCase`.
I think I was making the wrong assumption that this value would be on the fullname of the `TestSuite`. 🤦‍♂️

I can now only assume this is actually not a bug, yet give it a look just to make sure.

😀

[2017-08-16 21:47] CharliePoole commented on #2364
If the errors only occur when running with attributes that should be forbidden, then I suggest you stop doing that! We will eventually fix the error and the invalid combos will be flagged as non-runnable anyway.

What I haven't yet understood is exactly what you are hoping to have happen as a result of using `ParallelScope.Fixtures` on a method. If I understood that, I could perhaps give you an al

[2017-08-17 01:14] evancam commented on #2364
Haha, I know they are wrong, I was more so just curious what would happen.

WRT method `aa`,
I don't want the different fixture instances of the test `aa` to run in parallel. However, I would like to have the individual instances of the test `aa` run in parallel with different tests within the fixture, as well as in parallel with other fixtures. I hope that makes sense.

[2017-08-17 01:43] NZSmartie opened #2367 "Exception thrown in async void EventHandler is not caught by Nunit"
When exceptions are thrown from within an async EventHandler invocation, the exception is not caught by Nunit, Visual Studio 2017.3 shows this in the Tests output window

[code]

The following example is built with .Net Core 1.1

[code]

[2017-08-17 05:48] georgooty opened #2368 "Combine existing testresult.xml file"
Hi,

Have any option to combine the test results.xml with existing test results xml file.

Regards,
George

[2017-08-17 11:53] ChrisMaddock commented on #2298
@CharliePoole - I'd like to mark this issue easyfix/up-for-grabs.

Your comment on the framework reflecting the settings it's using - I don't believe we currently make any changes to the FrameworkPackageSettings before they're written out. The same concept applies in other ways - e.g. I could pass in a RandomSeed and have no random tests, or I could pass in a string setting from a more recent runn

[2017-08-17 11:54] CharliePoole commented on #2368
No, but it's an interesting idea and the code to do it is already present in the engine.

[2017-08-17 11:54] CharliePoole commented on #2368
Issue moved to [nunit/nunit-console #281](https://github.com/nunit/nunit-console/issues/281) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-17 11:54] #2368 closed

[2017-08-17 12:05] CharliePoole commented on #2298
I didn't mean "using" in that sense, more like "capable of using." So AFAIC there's no separate issue and I have no particular investment in this one. If I were doing it, I'd skip the legacy setting, but it's not a deal-breaker.

[2017-08-17 18:58] rprouse opened #2369 "NuGet package does not install in Visual Studio 2012 or older"
I received a report from a user, "I have Nuget 2.8.6 installed on my visual studio 2010. I am trying to download Nunit in one of my projects and it gives me an error 'NUnit' already has a dependency defined for 'NETStandard.Library'.. Any help on this will be appreciated."

Doing some research, I found this, https://stackoverflow.com/questions/38247961/nuget-package-manager-automapper-already-has-

[2017-08-17 20:55] ar7z1 opened #2370 "TestCaseAttribute can't convert int to nullable long"
I've tried to run the test:
[code]

And it threw the error:
[code]

[2017-08-17 20:57] ChrisMaddock commented on #2369
This would have been an issue since January, and this is the first we've heard of it. This suggests to me that pre-VS 2012 users are a pretty small group.

I wouldn't be keen to introduce the overhead of a new package, to support an outdated IDE. Is it sufficient to suggest that users of VS 2010 should get the binary from the .zip package - which they could package on a NuGet feed, if the so wishe

[2017-08-17 21:43] #345 closed

[2017-08-17 21:44] mikkelbu commented on #345
@jadarnel27 Thanks for the contribution 👍

[2017-08-17 22:35] #2370 closed

[2017-08-18 02:14] rprouse commented on #2369
I was wondering that too. I went out today and checked a number of popular packages. Very few are not supporting .NET Standard. My guess is that people that update NuGet packages in their solutions also update Visual Studio. People that are locked into older versions of Visual Studio are still using it because of legacy software that they can't update. Just my gut feeling though 😄

[2017-08-18 08:39] andrei-turavets-epam commented on #2329
We also use custom action attribute to be run right after test and before tear down to make screenshots in case of test failures. And if this screeenshot action will be run after teardown the screenshot will not be taken in the moment of test failure. Any idea how can it be done with current situation?

[2017-08-18 09:05] ivanakcheurov commented on #2361
If I do it like this, then all tests run in parallel and the configuration is invoked
[code]
This is a good workaround for the time being. Thank you!

[2017-08-18 14:04] jadarnel27 commented on #345
Glad I could do it!  Thanks to all of you for making me feel welcome.

[2017-08-18 16:00] CharliePoole commented on #2361
@ivanakcheurov Glad that works for you. It also shows very clearly where the error is, so I'll mark this confirmed.

[2017-08-18 16:00] jadarnel27 commented on #2196
I'd like to work on this issue.

PS: is making a comment like this the correct way of requesting that an issue be assigned to me?

[2017-08-18 16:21] ChrisMaddock commented on #2369
@vikrantarora - for now, you can use any NUnit version up to 3.5.0. 🙂 That should work straight away from NuGet.

[2017-08-18 16:25] ChrisMaddock commented on #2196
It is - it's yours! 😄

@nunit/framework-team - does anyone have any thoughts to share on this before too much code is written? I'm not sure we entirely reached a conclusion back in May. I presume this would be exposed through `CurrentContext.Properties`?

[2017-08-18 16:28] realityexists commented on #2196
I'd like to repeat my original request to expose attribute data as read-only properties on the attributes, following the defacto standard for .NET attributes, even if that information is also provided elsewhere.

[2017-08-18 17:03] CharliePoole commented on #2196
@ChrisMaddock The request was for a change to the attribute, so that reflection might be used. Originally, we talked about a named property on the attribute, which is by definition read / write. @realityexists suggested it should be a read-only property after I pointed out the potential confusion arising if the user actually changed the attribute.

Note that the docs will need to be changed as wel

[2017-08-18 17:04] jadarnel27 commented on #2196
It looks to me like the code and documentation differ on whether this property is called "Scope" or "ParallelScope."

[Docs](https://github.com/nunit/docs/wiki/Parallelizable-Attribute):

[Code](https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Internal/PropertyNames.cs#L99):

        /// <summary>
        /// The ParallelScope associated with a test
        /// </summary>

[2017-08-18 17:06] realityexists commented on #2196
IMO, yes, they are desirable on all attribute types. As I pointed out above this is how virtually all .NET Framework attributes work as well as most third-party library attributes.

[2017-08-18 17:19] CharliePoole commented on #2196
This is how confusion arises on our issues! We accept a very narrow issue - as we did this one - intending that the very narrow fix be made. Then the discussion ramifies to cover a broader range of considerations.

Thinking broadly is an important thing. Elucidating that thinking in the context of a narrow issue, which we have invited new contributors to work on, can only be confusing to them.

Th

[2017-08-18 17:37] realityexists commented on #2196
I would say it is a user issue for any attributes that a user would use. "Constructor arguments" does sound like an implementation detail, but it's not about exposing "constructor arguments" as such, but rather about exposing the "values" of attributes. That is, I want to be able to tell, at runtime: what configuration got applied to this test? If those values could be set some other way, like wri

[2017-08-18 17:49] jadarnel27 commented on #2196
@realityexists for what it's worth, these are the official design guidelines from Microsoft:  [CA1019: Define accessors for attribute arguments](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1019-define-accessors-for-attribute-arguments)

But the NUnit framework, rather than user code, is the "consumer" for these passed-in values.  Which seems like a valid justification for choosing

[2017-08-18 17:54] jadarnel27 commented on #2196
Of course, I'm very new to working with the NUnit source code.  Just sharing my opinion 😄

@CharliePoole Thanks for weighing in on the larger issue! I would be interested in seeing that part of the design documentation, if you have a link handy.  I've read through the developer docs / coding standards, but didn't see anything specific to attributes like that.

[2017-08-18 17:58] realityexists commented on #2196
Thanks for finding that, @jadarnel27.

There is no need for a Roslyn-based analyzer, because it's already possible to check the attributes using Reflection. It's just liable to break as the NUnit implementation changes.

Sure, it's not absolutely essential to expose these values as properties. If that MS design guideline and virtually everyone else doesn't convince NUnit then I don't think I can.