[2015-05-26 23:01] CharliePoole commented on #663
I guess this depends on how the OrderAttribute works. I saw it as applying to an individual test, not a suite. Randomization OTOH seems like something you would specify on the class affecting all the tests. There are different ways you could handle conflicts but what feels natural to me is having random on the suite simply disable any other ordering at the method level. I can't think of a strong u

[2015-05-27 00:41] rprouse commented on #571
@CharliePoole, I finally got a chance to go through the code for your mini-engine experiment tonight. We are still a long way off from having anything portable. Classes like AppDomain, File, Path, etc are not portable. Since variations are often available on various platforms, I have seen dependency injection used to create minimal interfaces for these things. For example, a minimal IAppDomain tha

[2015-05-27 04:50] CharliePoole commented on #571
I had pretty much set the mini-engine aside in favor of the core engine, with fewer features. Neil still had some interest in it for CF and I believe has created a private build for his purposes.

It would help if we could characterize the key issues on these platforms. What can you / can't you do? On Silverlight, I believe it's not possible to specify a file name from which to load, but you can l

[2015-05-28 13:09] NikolayPianikov opened #664 "Invalid "id" attribute in the report for case "test started" when test report moves from the agent to the nunit_console via EventListener interface using TestEventAdapter"
The "id" attribute should consist of RunnerID and TestID, but it contains TestID only for "TestStarted", for "TestFinished" it works perfect. I've created pull request #665

[2015-05-28 16:13] NikolayPianikov opened #666 "Config file name should be created according to specific rules and priorities"
Steps by priority to create name of the config file:
1. We use the config file from settings
2. We create the config file by path in the assembly name, if it exists
3. We use appBaseDir as path to the config file and use assembly name as a base for config file name

[2015-05-28 16:17] #664 closed

[2015-05-28 20:06] tburnett80 opened #668 "Running from console on visual studio solution fails due to non test assemblies"
I am running my tests via mono on ubuntu and the tests are being found and passed just like they are from windows when I run them in NCrunch or the test runner in visual studio, the problem is my tests are being marked as failed because of the non-test assemblies containing the code being tested. Is there a way to ignore these NotRunnable assemblies to keep it from failing the tests?

![capture](h

[2015-05-28 20:22] CharliePoole commented on #666
I'd want to know what is being fixed here or what is changing - if anything - from the docs. Did some of the new tests previously fail?

Of course we can figure it out in review but if it's not in the issue everyone after us will have to figure it out as well.

[2015-05-28 20:31] CharliePoole commented on #668
Is there a reason you prefer to execute the solution rather than the
assemblies directly? Understanding why folks use this approach may help us
decide how to fix it.
On May 28, 2015 11:06 PM, "Tim" <notifications@github.com> wrote:

[2015-05-28 20:39] tburnett80 commented on #668
I am seeking a generic way to run all the tests I have for a particular solution. I have automation that I have no choice on that generates jenkins jobs and not having to know what all the test assemblies names are up front helps me considerably.

This is the model I used with prior versions of Nunit and am not sure why now it considers non-test assemblies as a reason to mark the test run as faile

[2015-05-28 20:41] tburnett80 commented on #668
I'm attempting to use a test config, but having the ability to specify a .sln file seems counter productive if it will fail when assemblies are present that contain no tests.

Maybe Im the only one who keeps their unit tests separated from production code its testing?

[2015-05-28 20:54] rprouse commented on #668
You are definitely not the only one who has tests in the same solution as production code, I think it is quite common. Personally, I never use the solution file, so I don't have much experience in how it worked in the past.

@CharliePoole, did this work in 2.6? Could you specify a solution file with a mix of test and non-test projects?

As a workaround, you could use an nunit project file to speci

[2015-05-29 00:31] tburnett80 commented on #668
Yeah I am going to try the nunit project file as it could be easily maintained in the solution under source control and trigger tests based on a naming convention for the project in place of the solution. I just thought it was odd considering it had worked in 2.6 for me on windows last time I sat it up on our build servers about a year ago. I had been forced to use VS unit test suit for the better

[2015-05-29 07:34] CharliePoole commented on #668
@rprouse It worked with exceptions. Certain rarely used project types will throw an exception.

We have discussed in the past discontinuing support for solutions since they may contain many kinds of non-test projects and since we have no control over the addition of new types by microsoft.

If we decide to handle them, I think we should have a list of project types we understand and ignore others.

[2015-05-29 10:01] NikolayPianikov commented on #666
Hi, Charlie
My test shows that compatibility with previous versions was broken. This test checks case when appBase is defined but the config files for the test assemblies are located near with test assemblies. Test failed because AppDomain was configured to find config file in the appBase directory. I found following document: http://www.nunit.org/index.php?p=configFiles&r=2.2. It contains explana

[2015-05-29 12:19] CharliePoole commented on #666
For 3.0 the default is to run each assembly in a separate process. The default domain setting is also Multiple so the issue of multiple assemblies in a domain can only come up if the user forces them into a domain.

[2015-05-29 13:22] NikolayPianikov commented on #666
What about compatibility?

[2015-05-29 15:11] tburnett80 commented on #668
Yes I agree, I think removing the .sln support might make sense.

I am moving to using a .nunit project file but having some mixed results but I think I can make it work. Thanks for the advice guys and keep up the good work.

[2015-05-29 15:16] NikolayPianikov opened #669 "TeamCity service message should have assembly name as a part of test name."
#671
For example ##teamcity[testStarted name='NUnit.Engine.Tests.TestEngineResultTests.CanCreateFromXmlString' captureStandardOutput='true' flowId='0-1111']
##teamcity[testFinished name='NUnit.Engine.Tests.TestEngineResultTests.CanCreateFromXmlString' duration='0.001' flowId='0-1111']
should be:
##teamcity[testStarted name='nunit.core.engine.tests.dll: NUnit.Engine.Tests.TestEngineResultTests.CanC

[2015-05-29 15:38] CharliePoole commented on #669
I feel like we are thrashing on this issue. At @chris-smith-zocdoc 's request, we created the flowId, which is unique across all assemblies, to resolve the same problem. If it's not working, we should fix it of course but maybe we need to have a better understanding of the purpose of each of the parameters before making any more changes.

We probably need to have our teamcity build working before

[2015-05-30 06:19] CharliePoole commented on #666
@NikolayPianikov Regarding compatibility... NUnit 3.0 is a major version change and it has been announced since 2008 (an embarrassingly long time ago) as having _some_ breaking changes.

The change in defaults for the ProcessModel and DomainUsage values has been decided explicitly because it simplifies use of the options for users. Most users should not have to change the options except when debug

[2015-05-30 06:23] CharliePoole commented on #666
@rprouse I haven't reviewed the code but I can if you need a second person.

We should be sure to check what happens if the user specifies the config file in the settings as just the file name without a full path. First, what do we want to happen in such a case? Second, what is happening?

[2015-06-01 03:44] chris-smith-zocdoc opened #670 "Failing Tests in TeamCity Build"
2 tests are currently failing the TeamCity build

https://teamcity.jetbrains.com/project.html?projectId=NUnit_NUnit3_BuildAndTest

NUnit.Framework.Assertions.EqualsFixture.DirectoryInfoEqual
NUnit.Framework.Constraints.EqualityComparerTests.SameDirectoriesAreEqual

[code]

I believe this happens because the teamcity agent running the test is a service account with no My Documents folder.

[2015-06-01 04:03] chris-smith-zocdoc commented on #669
I made some progress with the [TC build](https://teamcity.jetbrains.com/project.html?projectId=NUnit_NUnit3_BuildAndTest&tab=projectOverview&branch_NUnit_NUnit3_BuildAndTest=__all_branches__) but did find one new issue https://github.com/nunit/nunit/issues/670

This particular issue

was actually brought up in https://github.com/nunit/nunit/pull/590#issuecomment-94918882 but haven't been motivated

[2015-06-01 05:50] CharliePoole commented on #670
We should probably create a temp directory for this test.

[2015-06-01 08:52] NikolayPianikov commented on #669
See pull request #671
The "flowId" is just "id of thread" and should be unique if tests are processed in parallel. Thus the "flowId" doesn't help when user has several different assemblies which contain some test methods with the same names (including class's name and namespace). User has several results for his tests and have no ability to collate specific result and corresponding test.
I tried t

[2015-06-01 09:24] NikolayPianikov commented on #666
As I mentioned from my point of view we should have following order of analyse:
1. We use the config file from settings if it exists - it goes without saying
2. We create the config file by path in the assembly name, if the path of testing assembly exists (if there is invalid path we can't run any tests for this assembly)
3. We use appBaseDir as path to the config file and use assembly name as a b

[2015-06-01 12:19] chris-smith-zocdoc commented on #669
The "start suite" and "stop suite" messages were removed in https://github.com/nunit/nunit/pull/590 because they interfered with the parallel test execution. Is it possible to use them and run tests in parallel? Most of the discussion around this happened in the google group https://groups.google.com/forum/#!topic/nunit-discuss/X2-LDrsxXXc

[2015-06-01 13:29] rprouse commented on #666
This sounds reasonable, let me review the PR.

[2015-06-01 15:04] NikolayPianikov commented on #669
As I understood from the discussion we can start within some suite using different TestWorkers and we have now way to assign correct flowId for test suites. We could use following TC service message ##teamcity[flow Started flowId='<new flow id>'] and ##teamcity[flow Started flowId='<new flow id>' parent='<parent flow id>'] to show tests' results correctly in the TeamCity. These messages allow us t

[2015-06-01 15:40] NikolayPianikov commented on #669
I've checked ##teamcity[flowStarted ...] and it works fine.
But I think this change is not important now - TC uses his own grouping on the client.
And what do you think about "TeamCity service message should have assembly name as a part of test name"?

[2015-06-01 16:59] chris-smith-zocdoc commented on #669
Yes I think this is a good change. It allows users to filter by assembly which is nice.

[2015-06-02 01:34] CharliePoole commented on #666
I continue to wonder about the use of the appbase. This isn't consistent with what the docs call for and I still haven't seen an explanation as to why this should be the default.

Of course the "same directory" as the assembly will usually be the appbase but not always.

[2015-06-02 07:25] CharliePoole commented on #669
Maybe we need a page in one of our wikis about exactly what messages we send (or want to send) for each teamcity event. If someone wants to volunteer to do this we can give you access to create it.

Also, I am beginning to think that our flowid goes too far. We created a flowid that is actually unique for every test and suite. This is probably not serving the purpose for which flowid was intended.

[2015-06-02 08:16] NikolayPianikov commented on #669
I can fill this page, but it would be nice to make review after

TC has the bug, related to our situation - unique flowId per test, but I am going to fix it in the TC. FlowId per test is acceptable solution from my point of view. Solution "one flower per thread of execution" - will be better (but it is not so critical), we could schedule this task and I could make.

[2015-06-02 11:34] CharliePoole commented on #669
I created a stub page and gave you access to edit the wiki...

https://github.com/nunit/dev/wiki/TeamCity-Service-Messages

I put it under Specifications in the development wiki for now. When we implement, it can become a Technical Note in the nunit wiki.

The unique id per test was intended as a workaround, which we hoped would solve all problems of duplication. That isn't so because TC only uses

[2015-06-02 11:35] CharliePoole commented on #669
In writing up the service messages and how we use them, I suggest you use links to the TeamCity documentation for each one.

[2015-06-02 11:51] NikolayPianikov commented on #669
OK, thanks @CharliePoole, I will look

[2015-06-02 12:02] NikolayPianikov commented on #666
@CharliePoole could you suggest way how I can sort out the following scenario:
- User can specify more then one test assembly
- User sometimes would like to start test related to the config files for some assemblies
- User can specify path to the NUnit-console.exe (and we should not forget about all dependencies, config files, and sub-directories of NUnit directory)

TC starts nunit-console using

[2015-06-02 14:51] CharliePoole commented on #666
Let's start with one assembly on the command line. If the user specifies no config, we use file.dll.config in the same directory as the assembly. This may or may not be the appbase. Do you agree?

If the user specifies a file name, without a path, then I think this should also be found in the same directory as the assembly, since that is the normal case.

I believe you are saying that IF the user

[2015-06-03 11:14] NikolayPianikov commented on #666
OK, let's leave it as is - we will not merge this PR. I turn off the NUnit test for several assemblies with their config files. If a user wants to use this scenario he divides this build step and he uses own config files for each build step. If there are any issues, we will think how to solve them.

[2015-06-04 22:17] michal-franc commented on #670
Is this acceptable or do we need to try harder ?

[code]

[2015-06-05 05:11] CharliePoole commented on #524
Should have been closed by PR #657

[2015-06-05 05:11] #524 closed

[2015-06-05 05:34] CharliePoole commented on #670
It looks fine to me. It's a simple test, so simple code makes sense. :-)

[2015-06-05 13:28] #670 closed

[2015-06-05 17:10] CharliePoole opened #673 "Ensure proper disposal of engine objects"
This issue deals with some internal refactoring we need in order to ensure that the engine itself and objects it creates are disposed correctly. We will use the following standards:

1) Interfaces that will most likely be implemented in a way that requires disposal will inherit from IDisposable. This allows the interface to be used directly for disposal, without a cast. Any implementation that doe

[2015-06-05 17:15] CharliePoole opened #674 "Engine does not release test assemblies"
Because it uses ReflectionOnlyLoad in the primary AppDomain, the engine fails to release test assemblies after examining them. This doesn't have much effect on the console runner but causes problesm with the VS test adapter.

Eventually, we plan to use mono.cecil rather than ReflectionOnlyLoad. In the meantime, we should ensure that a separate AppDomain is used for ReflectionOnlyLoad.

[2015-06-06 11:56] #674 closed

[2015-06-06 17:58] OsirisTerje commented on #674
Does this mean we can remove the fix that was done in the adapter, where we load the whole engine in a seperate appdomain ?

[2015-06-06 19:56] CharliePoole commented on #674
That's the intent, but it isn't actually tested in the adapter yet.

[2015-06-06 21:34] OsirisTerje commented on #674
The question then is:  That fix has not been released, so should we release that fix, or should we remove it and release with this fix ?

[2015-06-07 02:22] CharliePoole commented on #674
I thought we only put in the first fix in order to release a working adapter using nunit beta-2, which was to be ctp-3.  Otherwise, there would be no reason to fix an engine problem by a workaround in the adapter.

The engine fix is for beta-3. We originally thought we would be using mono.cecil for that release but I was thinking it may not get done and so did this one.

Do we currently have any w

[2015-06-07 12:31] OsirisTerje commented on #674
The fix is not released, we discussed giving it a week or so, to pick up more, but with this fix we should reverse it, but then we need to test that it works for the adapter before we release.   I agree the fix belongs in the engine, but the adapter fix kind of isolates the adapter from the engine.  I'll try to make a new build of the engine, and reverse the changes in the adapter to see if it sti

[2015-06-07 12:42] rprouse commented on #674
Terje,

Are you sure that it is not released? I am running CTP3 on this machine and
am pretty sure I got it from the Gallery. There is also a release on
GitHub, https://github.com/nunit/nunit3-vs-adapter/releases/tag/3.0-ctp-3
and you emailed me on May 22 saying it was released.

Are we talking about something different?

Rob

On 7 June 2015 at 08:31, Terje Sandstrom <notifications@github.com> wro

[2015-06-07 14:11] OsirisTerje commented on #674
Right, the appdomain fix is sort of in there, but it doesn't work for Run All, just for selected tests.
This fix https://github.com/nunit/nunit3-vs-adapter/pull/35 was merged to fix that, and we planned to do a release ctp-4 this week, but haven't done so yet.

[2015-06-07 14:32] CharliePoole commented on #674
I forgot that fix was posted ctp-3! It seems you should continue as planned so we have a working adapter. Then you can test with the new change and decide what to do next without so much pressure.

[2015-06-07 15:13] CharliePoole opened #677 "Portable NUnit "Engine""
We need a portable engine for use with the portable framework. It's not clear if this component will really be an "engine" since it's functionality is so reduced, but that's the working title for now.

There are a number of big issues with a portable engine:

1. It isn't possible to open test assemblies as files, so we can only run in the NUnitLite style, where the component runs tests from the as

[2015-06-08 13:20] #673 closed

[2015-06-09 10:13] CharliePoole commented on #677
After some review of the code, it's clear we need less than a full engine - much less- but also more than just an engine. The portable framework build doesn't include FrameworkController, so it's not possible to call into the framework without having a direct reference.

FrameworkController will need to be included in the portable build in some modified form.

@rprouse As the "Customer" for this t

[2015-06-09 11:49] rprouse commented on #677
Charlie,

At the airport and about to board,  so I am not looking at the code.  Your
evaluation sounds pretty much right though.  On mobile,  I might not have
access to the file,  but I can always get the assembly,  so I need to load
using assembly.

I currently don't use filters,  but I may decide to in the future.
Eventually,  I might like to explore tests and allow the user to run
specific test

[2015-06-09 22:03] rprouse opened #679 "Windows 10 Support"
The `CultureSettingAndDetectionTests` are failing on Windows 10 because constructing a `CultureInfo` with an invalid culture on that platform creates a user defined culture rather than throwing a CultureNotFoundException. I was going to fix it by adding a platform attribute, but that needed extending.

I thought this would be easy, but it didn't turn out to be so. The `OSPlatform` class currently

[2015-06-09 22:16] rprouse commented on #679
On Windows 10, I have found the correct information in the registry under `HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion`

There are child keys `CurrentMajorVersionNumber = 10` and `CurrentMinorVersionNumber = 0`. There is another key `CurrentVersion = 6.3`

On my Windows 8.1 machine, `CurrentMajorVersionNumber` and `CurrentMinorVersionNumber` don't exist and `CurrentVersion = 6.

[2015-06-10 04:42] rationull opened #681 "NUnit agent cannot resolve test dependency assemblies when mixed mode initialization runs in the default AppDomain"
I've run into an issue where NUnit fails to load a mixed mode test assembly due to code running during managed assembly initialization (in the "cctor" as covered here: https://msdn.microsoft.com/en-us/library/ms173266.aspx) which is dependent on another, collocated assembly. Part of the assembly initialization process (controlled by the mixed mode C runtime library) is forced to run in the default

[2015-06-10 04:53] rprouse opened #682 "Add Async Support to Portable Framework"
The currently implementation of the portable framework missed the async support from net40 and net45.

Task isn't available in a PCL, but I believe that the 4.0 code will work if we reference the BCL.

[2015-06-10 05:51] CharliePoole commented on #681
Thanks for filing this. It helps to nail down what has been a long-standing but poorly understood problem. We'd welcome a pull request to resolve this issue, some ideas on implementation follow...

The agent is not the only runner that may launch tests. They are launched by both the console runner and the gui directly, depending on the options chosen. Any fix for 2.6.4 has to be in the nunit.util

[2015-06-10 07:20] CharliePoole commented on #677
I think the key question is whether we will need to open assemblies with tests other than the original assembly that calls into the runner. In fact, I think that this is the main distinction between an nunitlite-style driver/runner and an engine/runner.

However, it turns out this is a can of worms, so I'm temporarily putting this issue on hold in order to work on getting the FrameworkController c

[2015-06-10 07:40] CharliePoole opened #683 "Make FrameworkController available in portable build"
This issue came up in working on #677. The FrameworkController is not available in the portable, CF or Silverlight builds. This was originally done simply because the class is not needed. However, as the code was developed, changes were introduced that make it impossible to build this class for the portable version of the framework.

The main issue is that the class makes use (indirectly) of Syste

[2015-06-10 11:17] NikolayPianikov commented on #669
See PR #684

[2015-06-10 19:17] #679 closed

[2015-06-11 12:05] NikolayPianikov opened #685 "In the some cases when tests cannot be started NUnit returns exit code "0""
In the some cases when tests cannot be started NUnit returns exit code "0" and shows error messages. TeamCity marks this step as successful because it has no messages about failed tests and just has exit code. In these cases we should send the "buildProblem" service messages, see [https://confluence.jetbrains.com/display/TCD9/Build+Script+Interaction+with+TeamCity]

See PR #686

[2015-06-11 15:30] NikolayPianikov opened #687 "TestAgency does not launch agent process correctly if runtime type is not specified (i.e. v4.0)"
Error: Could not load file or assembly 'assembly name'; or one of its dependencies. This assembly is built by a runtime newer than the currently loaded runtime and cannot be loaded.

[2015-06-11 17:50] CharliePoole commented on #687
This is a normal error message in certain cases. It should not come up by default but it may come up if you force NUnit to do something like trying to run a 4.5 assembly under 2.0.

What command line was used to result in this message?

[2015-06-11 17:53] CharliePoole commented on #685
We did this by design, but I agree that returning zero is a bug. We will need to decide what to return if _no_ assemblies can be run as well as what to return if only _some_ assemblies fail to load.

I don't think we should need a special message in this case, provided we return an error code. At least, I hope not. :-)

[2015-06-12 10:52] shytikov opened #688 "Assigning friendly names to unit-tests"
Hi,

I really like `xUnit` feature of assigning unit tests custom names, that more clear for user than method names. But so far I haven't found something similar in `NUnit` (I'm working with most recent stable version in 2.6.x branch).

So my first question, is it possible to implement this feature natively?

And  the second question, meanwhile this feature is not present in the `NUnit` can I exte

[2015-06-12 15:28] CharliePoole commented on #688
As you probably know, NUnit supports renaming parameterized test cases. There is no way to rename a "normal" non-parameterized test.

An action attribute won't help here because the test already exists before it is run We would have to support this internally.

For NUnit 3.0 you may be able to create a custom attribute that implements IApplyToTest. I'm not absolutely sure but I think it should wor

[2015-06-13 07:00] CharliePoole commented on #688
I labeled this as idea, which means we will think about and discuss whether to do it.

We could add a Display Name property to TestAttribute but we ha e to consider if it replaces the test name or is separate. We might also have to changetest cases.

What do folks think about this?
=

[2015-06-15 08:27] NikolayPianikov opened #689 "The TeamCity service message "testFinished" should have an integer value in the "duration" attribute"
Duration (optional numeric attribute) - sets the test duration in milliseconds (should be an integer) to be reported in TeamCity UI. See:  [https://confluence.jetbrains.com/display/TCD9/Build+Script+Interaction+with+TeamCity#BuildScriptInteractionwithTeamCity-ReportingTests]

[2015-06-15 08:58] NikolayPianikov commented on #687
`nunit-console.exe HelloWorld.Tests.dll --noresult --framework=4.0 --workers=10 --verbose`
But it works under NUnit 2.6.4

[2015-06-15 09:34] mklemarczyk opened #690 "Release NUnit-agent as a service"
Can you provide NUnit-agent as a windows service?
It can provide testing on many virtual machines.

[2015-06-15 10:01] NikolayPianikov commented on #690
Hi @mklemarczyk You could use [TeamCity](https://www.jetbrains.com/teamcity/) :)

[2015-06-15 10:27] NikolayPianikov commented on #685
Special messages will allow users to get more information about problem

[2015-06-15 13:12] NikolayPianikov opened #691 "Would like to be able to include tests based on namespace not just using categories"
For example
`nunit-console.exe foo.dll --include=ns:Foo.SimpleTests --exclude=ns:Foo.SimpleTests.Group1`
or something like this [Specifying an Assembly and a Test to be Run](http://nunit.org/index.php?p=consoleCommandLine&r=2.6.4) May be it is working for NUnit 3?

[2015-06-15 13:24] NikolayPianikov commented on #691
Ok sorry I see it works via arg --test

[2015-06-15 13:24] #691 closed

[2015-06-15 13:41] CharliePoole commented on #691
Yes, these may be unified in a future release.
On Jun 15, 2015 3:24 PM, "NikolayPianikov" <notifications@github.com> wrote:

[2015-06-15 14:58] rprouse commented on #687
@NikolayPianikov, is `HelloWorld.Tests.dll` compiled as a .NET 4.5 assembly? If it is, then the error is correct.

If NUnit 2.6.4 is detecting that the assembly is 4.5 and running it as 4.5 despite the fact that you specified 4.0, then I think that is wrong.

If however HelloWorld.Tests.dll targets .NET 4.0 or earlier, then this is a bug. Can you please confirm which framework it targets?

[2015-06-15 15:16] rprouse commented on #688
I would like to understand the use case a bit more. You state that a replaced name would be more clear for the user than the method name. Is that not a problem of poorly named methods?

If more information is needed to fully understand the purpose of the test, then I tend to use the `DescriptionAttribute` to add the information. This way, I have the test method name so that I can quickly navigate

[2015-06-15 15:25] NikolayPianikov commented on #687
HelloWorld.Tests.NUnit2 (mscorlib, Version=4.0.0.0)
ref to
	nunit.framework, Version=2.6.4.14350 (mscorlib, Version=2.0.0.0)

nunit-console.exe HelloWorld.Tests.NUnit2.dll /framework=4.0
ok
nunit-console.exe HelloWorld.Tests.NUnit2.dll /framework=2.0
failed
nunit-console.exe HelloWorld.Tests.NUnit2.dll /framework=4.5
ok
nunit-console.exe HelloWorld.Tests.NUnit2.dll
Execution Runtime: net-3.5
ok

H

[2015-06-15 15:45] rprouse commented on #687
@NikolayPianikov, thanks, that is exactly what we needed. Looks like a bug to me :beetle:

[2015-06-15 15:52] NikolayPianikov commented on #687
https://github.com/NikolayPianikov/HelloWorld.git
Could you fork it

[2015-06-17 14:36] jcansdale opened #692 "PlatformAttribute_OperatingSystemBitNess fails when running in 32-bit process"
Test 'NUnit.Framework.Internal.PlatformDetectionTests.PlatformAttribute_OperatingSystemBitNess' failed:
  Expected: False
  But was:  True
	...\NUnitFramework\tests\Internal\PlatformDetectionTests.cs(498,0): at NUnit.Framework.Internal.PlatformDetectionTests.PlatformAttribute_OperatingSystemBitNess()

[2015-06-17 16:03] CharliePoole commented on #692
This is a test bug. In fact, the test only fails in a 32-bit process because PlatformHelper correctly identifies that it's on a 64-bit OS. The intent of the Assert at line 498 is that the OS must be 64 bit if the process is 64 bit. This should be refactored a bit to make it clearer.

[2015-06-17 16:25] cuiviemen opened #693 "Generic Test<T> Method cannot determine type arguments for fixture when passed as IEnumerable<T>"
Having test written like:
[code]
fails with:
[code]

[2015-06-17 17:09] CharliePoole commented on #693
As a workaround, try moving your test case data to a separate (maybe nested) class. The class should implement IEnumerable and return your test case data items.

Meanwhile, we'll investigate the issue.

[2015-06-17 20:47] CharliePoole commented on #690
I'm interpreting this to mean: Have a long-running server that functions sort of like nunit-agent except that nunit-agent terminates after running a test. I'm assuming this server would need to be reusable and would be contacted by (multiple) clients to run tests. Is that right?

We once had such a component but set it aside to work on other things. In fact, that component shared a base class with

[2015-06-18 10:04] ralu-d opened #695 "USER32.dll and KERNELBASE.dll errors when running nunit-console as different users"
I need nunit-console to be started with several different users, once a week, automatically. In order to solve this, I have created a Scheduled Task that starts a Powershell script in which PsExec triggers the execution of nunit-console with different users.
However, the nunit-console process is started and then immediately stopped, resulting in the following errors in Event Viewer:
Faulting appli

[2015-06-18 13:54] CharliePoole commented on #695
Make sure you are not doing anything that would cause a security error, like trying to load the tests (or NUnit itself) from a share. Make sure you can run the tests manually _as_the_same_users_ you are trying to use with the scheduled task.

While we will keep this as an issue, I think you may be better served by asking about this in front of a broader audience. Issues are generally things we nee

[2015-06-18 14:25] ralu-d commented on #695
Running the tests manually as the same users works well. Both NUnit and the tests are accessed from local paths. The PsExec command is also configured to run on localhost.
Thank you, Charlie. I already posted it on StackOverflow as well, I'll head over to nunit-discuss and post it there as well.

[2015-06-18 17:37] #692 closed

[2015-06-18 18:55] CharliePoole commented on #687
I'm able to replicate this using NUnit's own tests, which makes it simpler.

I think the problem is with the user of --framework=4.0 rather than --framework=net-4.0. Could you try that in your environment?

[2015-06-18 19:30] CharliePoole commented on #687
Changed title to reflect what I have found. When no runtime is specified, the TestAgency has different code to launch agent under .NET versus Mono. If only the version is specified, it should pick one - the one under which it is currently running, I think.

[2015-06-18 19:42] mklemarczyk commented on #690
The main reason is to automate test execution from any build server system. (Like Jenkins-CI).
NUnit-agent should be as a service that able to respond on request from network.
It also should queue test execution requests.

Test results can be distributed as file on local hard drive or some network drive.

[2015-06-18 19:53] CharliePoole commented on #690
If you want a server, then you definitely don't want to use nunit-agent.

Reasons:
1. NUnit-agent is a client! It calls into the TestAgency component of the NUnit (which is a service) and asks for work. Once it gets the work, it completes it and then exits.

2. NUnit-agent does not understand any of the options of nunit-console. Anyone using it directly has to process some sort of command line or

[2015-06-19 10:04] CharliePoole commented on #523
@oznetmaster Any progress on this issue?

[2015-06-19 10:54] CharliePoole opened #698 "Deprecate / Remove TestCaseSourceAttribute Constructors"
According to our documentation, two of the constructors are deprecated. Currently, however, they are not. Neither is this change noted in BreakingChanges. We need to either implement this or decide to do something different and document it.

There were two main reasons for making these changes:

1. Having the TestCaseSource value in the same class causes problems when constructing parameterized or

[2015-06-19 10:57] CharliePoole commented on #698
Note that the same issue applies to ValueSourceAttribute, which should be resolved in the same way as TestCaseSourceAttribute.

[2015-06-19 11:35] NikolayPianikov commented on #687
@CharliePoole it helps, thank you

[2015-06-19 13:48] Andrey-Bushman opened #699 "Can I write the trace, console and error outputs into my XML report file?"
Thank you for NUnit existing!
I have some problem with the output saving. I publish my question here: http://stackoverflow.com/questions/30938178/how-can-i-write-the-trace-console-and-error-outputs-into-my-xml-report-file
After the XML generation I use the ReportUnit.exe ( http://relevantcodes.com/reportunit-report-generator/ ) for the HTML report generating. Therefore I want to have the output in

[2015-06-19 16:51] CharliePoole commented on #699
I'll answer with respect to NUnit 2.6.4 first and then relate to the current NUnit 3.0 beta.

NUnit 2.6.4 does not put text output from the test into the XML file and does not give you any way to write it their yourself. It's conceivable that a report generator could take the XML result plus the text output files and generate some sort of combined output but it wouldn't be easy to figure out which

[2015-06-19 16:52] #699 closed

[2015-06-19 22:12] mklemarczyk commented on #690
Yes, It is the way I need.
Can I help you to develop this solution?

[2015-06-20 12:19] CharliePoole commented on #649
Not critical for the milestone.

[2015-06-20 12:30] CharliePoole commented on #682
The is:task label means it's a task for us (not a feature, enhancement or bug) it's not about the Task class. :-)

[2015-06-20 14:20] CharliePoole opened #701 "NUnit Test Server"
An Test Server would run continuously on the local or a remote machine. It would accept and queue requests to run tests and report on their status back to the requestor.

While it might seem to do the same thing as nunit-agent, it's a bit different:
1. It's long running.
2. It's a server. (NUnit-Agent actually works as a client, even though it performs a service!)
3. Execution may be delayed so it

[2015-06-20 14:24] CharliePoole commented on #690
To avoid confusion, I created a new issue for this: #701

You would certainly be welcome to help with this. However I don't think we will be working on it till after 3.0 and it's a pretty complex feature for your first contribution to NUnit. Would you want to spend some time working on a few bugs or improvements in the meantime?

[2015-06-20 14:24] #690 closed

[2015-06-20 19:36] CharliePoole commented on #698
@nunit/core-team @nunit/contributors Looking for comments on this issue before I work on the code.

[2015-06-20 20:16] agray commented on #698
I have code that relies on valuesource, were not talking about removing these constructs I hope.  Could you possibly provide more examples  of how it would work in the proposed new ways for us to comment further?

[2015-06-20 20:26] CharliePoole commented on #698
@agray Take a look at the documentation page for TestCaseSource on the wiki. It shows two forms as deprecated. We've been planning this for a long time, but now it's time to really decide whether to do that, keep them or do even more - i.e. remove them.

So... ValueSource(Type, string) and ValueSource(string) would be removed or deprecated. They would be replaced by the existing ValueSource(Type)

[2015-06-20 20:41] acco32 commented on #698
If the new scheme is to follow a data driven approach shouldn't the data source live outside of the compiled source? We could define a standard xml file (or another key/value source type) that is referred to data in the test(s). Some examples:

TestCaseSource('data1',  int[])....
look for id 'data1' in standard file and interpret as an array of int

TestCaseSource('data.txt', 'data1', int[])
Same

[2015-06-20 21:02] CharliePoole commented on #698
@acco32 I think I would see that as a new feature rather than a modification of TestCaseSource, which is designed for getting internal data. The new feature could build on it though.

It seems to me we once (maybe back on Sourceforge) had a request for such a feature but it seems to be lost now. I suspect we are very close to the point of being able to implement such a feature as an extension, usi

[2015-06-20 22:10] #472 closed

[2015-06-20 22:38] rprouse commented on #698
It is interesting that the docs state that `TestCaseSourceAttribute(Type sourceType, string sourceName);` is deprecated, but then we use it in the very next example. Personally, I like this form and think we should leave it in. If there are issues with the sourceType being the same as the test fixture itself, can we state that is not allowed in the docs and throw if it is used that way? We could a

[2015-06-20 22:40] #687 closed

[2015-06-20 23:44] CharliePoole commented on #698
@rprouse Can you check that cname will work as the string arg to a  TestCaseSourceAttribute? There are lots of restrictions on attribute args, so I'm wondering.

[2015-06-21 01:19] rprouse commented on #698
@CharliePoole, you mean nameof don't you? If so, then yes it works, I tried code like this and it works as expected.

[code]

[2015-06-21 02:36] #683 closed

[2015-06-21 02:44] CharliePoole opened #702 "Modify NUnitLite to use FrameworkController"
NUnitLite currently references the framework. By using FrameworkController, we can eliminate the reference, allowing one build to be used with multiple frameworks.

[2015-06-21 02:55] CharliePoole commented on #698
Yes that's what I meant. Ok, let me sleep on it.

[2015-06-21 12:33] CharliePoole commented on #698
After thinking about this, I've come up with a simplification, which I hope will work for us.

Suppose we just say that the second (Type, string) and third (string) constructor forms can only refer to a static field, property or method? This would apply whether the class being used were the test class itself or some other class.

As it now stands, the data source has to stand on it's own anyway, o

[2015-06-21 12:57] CharliePoole commented on #698
I just found that there's an undocumented form of TestCaseSource:

TestCaseSource(Type sourceType, string methodName, params object[] args);

The args are used for the constructor of the sourceType. I'll have to research this a bit to see how and where it's used. We don't seem to use it directly ourselves except in order to test it. Must have been added in the past for some reason. Since it's not

[2015-06-21 23:51] cuiviemen commented on #693
Ok, I tried to go with your suggestion (tried both separate class and nested class):
[code]
However test results were the same:
[code]

[2015-06-22 08:15] maximpashuk opened #703 "TeamCity non-equal flowid for 'testStarted' and 'testFinished' messages"
I am using NUnit.Console Runner 3.0.0-beta2 on assemblies dependent from NUnit 2.6.4 (v2 driver bundled in nuget package)

I get following messges.

##teamcity[testStarted name='NuClear.AdvancedSearch.EntityDataModel.EntityFramework.Tests.EdmxBuilderConceptualModelTests.ShouldExposeAssociationSet' captureStandardOutput='true' flowId='1012']

##teamcity[testFinished name='NuClear.AdvancedSearch.Ent

[2015-06-22 12:59] CharliePoole commented on #703
I'm thinking this is probably easy to fix so I put it in the beta 3 milestone.

[2015-06-22 15:33] CharliePoole commented on #703
@maximpashuk I'm not seeing this problem on the current source. Are you able to build from source and try it?

[2015-06-22 16:04] CharliePoole commented on #693
I forgot to ask: what NUnit version are we talking about here?

[2015-06-22 16:54] cuiviemen commented on #693
I have tried those tests on 2.6.4 and  3.0 Beta 2.

[2015-06-22 17:49] CharliePoole commented on #321
It looks like all the pieces of this were implemented in separate issues so I'm changing this to a doc issue and scheduling it for beta 3.

[2015-06-22 18:05] CharliePoole commented on #693
What's been puzzling me is the message "Unable to determine type arguments for fixture." You don't have a generic fixture, but a generic method.

Now that I have replicated the error with similar code to yours, I get the message "Unable to determine type arguments for method." Are you sure that's not what you're getting?

[2015-06-22 18:44] CharliePoole commented on #693
I'm confirming this bug. It appears that the logic for deducing type args needs some work.

[2015-06-22 20:40] #321 closed

[2015-06-22 20:44] cuiviemen commented on #693
No matter if I run tests thru resharper (my prefered way of running tests) or via console I still get the same result above.

Console run:
[code]

[2015-06-22 22:12] CharliePoole commented on #47
Disposition of the suggested new enhancements to Range:

Range with DateTime and Step as TimeSpan: Range (DateTime, DateTime, TimeSpan)

Range (long, long) without Step (implicitly 1) - or does this make conflicts with Range (int, int)?

unsigned variants

Range (Type sourceType, string sourceName, int start, int end) might also be nice. Than it is easy to use the same data for multiple tests, if

[2015-06-23 03:37] rprouse commented on #244
I've run into a bit of a chicken and egg problem with this issue and could use some suggestions.

In order to determine if an assembly targets .NET 4.5 so that we can disable 4.0 compatibility mode, I use reflection on the test assembly to get the `TargetFrameworkAttribute` and parse the `FrameworkName` attribute. I have added this into `DefaultTestAssemblyBuilder` because that is where we have th

[2015-06-23 05:26] #698 closed

[2015-06-23 13:14] jcansdale commented on #244
Hi Rob,

I've had a similar challenge with TestDriven.Net. I needed to examine
a target assembly before deciding which test runner to execute tests
with (in a fresh app domain). To begin with I did some premature
optimization and used some custom IL reading code.

I later did some performance tests and discovered that creating a new
app domain and using Assembly.ReflectionOnlyLoadFrom can actually

[2015-06-23 14:12] CharliePoole commented on #244
Do we know for sure that the property has to be set before loading the assembly? If .NET is checking it dynamically, it could be possible to set it after the assembly is loaded. Is this documented? If not, maybe you can run a quick experiment to find out.

If it has to be set before loading, then I would do the extra ReflectionOnlyLoad for now. If / when we start using mono.cecil, we could improve

[2015-06-23 14:43] CharliePoole commented on #703
I have confirmed that this problem exists in the beta2 release but has been fixed in the current code, incidental to other issues.

[2015-06-23 14:43] #703 closed

[2015-06-23 15:50] jcansdale commented on #244
I've had a dig around and it looks like the key to the different
behavior is the following internal class:
System.Runtime.Versioning.BinaryCompatibility

Here is one of its methods:
private void AddQuirksForFramework(TargetFrameworkId
builtAgainstFramework, int buildAgainstVersion);

It appears this class is initialized very early and setting the
TargetFrameworkName for the app domain will be the

[2015-06-23 16:30] CharliePoole commented on #539
It doesn't appear that any further truncation is needed at this time. Adding a unique suffix should be the responsibility of any runners, like the adapter, that may need it.

[2015-06-23 16:30] #539 closed

[2015-06-23 17:31] rprouse commented on #244
Jamie,

Thanks, I found that method when I was first trying to figure out the
original issue that spawned this issue :) I was tearing my hair out trying
to figure out why the URI constructor was behaving differently in NUnit
than on the command line :) Before that, I never knew that there was a
quirks mode :)

Charlie, your 'easy out' isn't quite right. The issue is that 4.5
assemblies are running

[2015-06-23 19:12] jcansdale commented on #244
I actually need to implement exactly the same feature in TestDriven.Net.
Shall I post the utility class I use here when I'm done? We can then
compare notes/do a code review. :)

Regards,
Jamie.

--
http://www.testdriven.net
http://twitter.com/jcansdale
http://weblogs.asp.net/nunitaddin

On 23 June 2015 at 18:31, Rob Prouse <notifications@github.com> wrote:

[2015-06-23 19:15] rprouse commented on #244
Sure, I don't mind sharing :) If my wife lets me have some computer time
tonight, I should have something working soon :)

On 23 June 2015 at 15:12, jcansdale <notifications@github.com> wrote:

--

Rob Prouse

I welcome VSRE emails. Learn more at http://vsre.info/

[2015-06-23 22:22] mklemarczyk commented on #701
+1 I can provide some help with this issue in the future.

[2015-06-24 00:18] rprouse commented on #244
Jamie,

If you want to crib off my code or code review, it is up at
https://github.com/nunit/nunit/pull/705. You are welcome to it if yours
isn't done yet.

Rob

On 23 June 2015 at 15:14, Rob Prouse <rob@prouse.org> wrote:

--

Rob Prouse

I welcome VSRE emails. Learn more at http://vsre.info/

[2015-06-24 04:04] acco32 opened #706 "New attribute for test fixtures/cases supporting external data sources"
Per the discussion in issue #698, I am filing this issue to track the development of specifying a data source external to the test binary. This will extend the framework's current data driven capabilities.

[2015-06-24 04:23] acco32 commented on #706
@CharliePoole, @rprouse
I don't seem to be able to apply labels on issues. If you could apply the appropriate labels, I'd appreciate it. I will start some initial design soon from the following sources: CSV, XML, JSON, Database.

Candidates for the attribute name: DataSource, and TestDataSource. Perhaps to make development more incremental, we could specify individual attributes per the source (e.

[2015-06-24 05:00] CharliePoole commented on #706
We use labels in a structured way that would quickly break down if everyone could set them. :-)

I like the idea of individual names per source type. You could probably define a common ancestor.

We can always change the name, so start with whatever makes sense to you.

[2015-06-24 05:03] CharliePoole commented on #706
@acco32 I'm giving this a low priority and no milestone for now. We can re-examine both of those after you have had a chance to work on it and see how it goes.

[2015-06-24 05:07] DustinVenegas opened #707 "Include Chocolatey packages in releases"
Chocolatey is a machine package management, or desired state configuration, tool. It assists with managing machine-level applications similar to apt-get and yum.

Chocolatey currently has an outdated package for NUnit submitted by an individual contributor. I propose the project includes a set of Chocolatey packages in addition to the NUnit ones. It's possible to contact the Chocolatey administrat

[2015-06-24 05:57] CharliePoole commented on #707
This duplicates #452

Thanks for your comments. They will help us on implementing this.

[2015-06-24 05:57] #707 closed

[2015-06-24 06:04] DustinVenegas commented on #452
@CharliePoole, I'm interested in this and have a few questions for the implementation.
* Other than a bin and Windows installer what other installs is NUnit considering?
* Since NUnit versions in a semantic fashion would the group be okay with keeping the Chocolatey package versions in sync instead of releasing multiple different packages?
* Am I correct that a Chocolatey package of NUnit should i

[2015-06-24 09:43] jcansdale commented on #244
Hi Rob,

I have similar challenges. I've just installed myself in a coffee shop to get some guaranteed computer time ;)

Thanks for the link. I've going to be working on a version that works with .NET 4.5, but still compiles/runs on .NET 2.0.

Regards,
Jamie.

[2015-06-24 13:52] CharliePoole commented on #452
@DustinVenegas Bear in mind that this repository is for NUnit 3.0, which is substantially re-written from NUnit 2.x. We may even treat it as a new product for Chocolatey purposes - that's not yet decided.

I will be issuing a chocolatey package for NUnit 2.6.4, which will pretty much look like the one that already exists for 2.6.3.

For the major version, things may change. We are in general tryin

[2015-06-24 13:54] CharliePoole commented on #707
Can you explain what you mean by NUnit.install and NUnit.portable?

[2015-06-24 16:50] OliverHallam commented on #244
We've been having some trouble with our tests - I believe it's caused by the same bug.

It's taken a couple of days of head-scratching though so I hope mentioning it here will make this come up in a google search and might save someone else from the same pain before coming to this conclusion.

The particular case we have is with MEF open generic support which was added in .NET 4.5

Here's a minima

[2015-06-24 19:08] DustinVenegas commented on #452
@CharliePoole,

The NUnit package should become the virtual package. Portable packages are Chocolatey nomenclature for "bin deploy". Install packages denote a Windows installer under the covers.

I *do not* recommend creating a separate NUnit3 package in Chocolatey. If we did then users would depend on the "nunit" package to install the 2x series and "nunit3" to install the latest version. Users c

[2015-06-24 19:10] DustinVenegas commented on #707
The "Install" postfix denotes that a package uses a Windows installer under the covers while a "portable" package is just a bin deploy with the ability to add items to the chocolatey bin and path.

[2015-06-24 19:27] CharliePoole commented on #707
Thanks. Can you point me to an example package that uses this convention?

[2015-06-24 19:33] CharliePoole commented on #452
Right. But that only works if the underlying packages being installed follow the same structure as NUnit 2.x. If, for example, there is no big do-it-all Windows installer to reference, then there can't be such a package in Chocolatey.

Since NUnit 3.0 is not fully backward-compatible with NUnit 2.x, by design, it seems like a bad idea for users to get an automatic upgrade at any point.

That said,

[2015-06-24 19:54] rprouse commented on #244
Oliver, if you are already using NUnit 3, you might want to set an ignore on your tests. The fix for this is done. I am going to make a few small tweaks to it today and the next beta will hopefully be out next week.

[2015-06-24 20:27] DustinVenegas commented on #707
Sure! Putty has a [virtual package](https://chocolatey.org/packages/putty), [Windows Installer package](https://chocolatey.org/packages/putty.install), and [bin deploy package](https://chocolatey.org/packages/putty.portable).

Anything that depends on Putty should use the virtual package. The portable and install packages let the user select exactly which they'd like to install. Regretfully it's [

[2015-06-24 21:41] OliverHallam commented on #244
Rob,

Thanks, that's great news!

We're still on NUnit 2, although if there's a compelling reason (which this is) to upgrade to a beta release , then I see no reason why we couldn't.

This bug was blocking a big refactoring from being checked in (it behaved in the resharper runner which was used for development).  Unfortunately it affects all of our integration tests so muting them isn't viable in

[2015-06-24 21:53] rprouse commented on #244
If you are using Resharper, you may want to hold off on moving to NUnit 3
since it isn't supported in Resharper yet. Sorry.
On Jun 24, 2015 5:41 PM, "OliverHallam" <notifications@github.com> wrote:

[2015-06-25 01:28] #237 closed

[2015-06-25 01:28] #244 closed

[2015-06-25 09:06] ChristianPejrup commented on #701
Very interesting idea, we have been talking about doing something similar in my team. We need some test grid (for lack of a better name) where we can execute long running integration tests.
if there are some concrete tasks I would be happy to lend a hand :-)

[2015-06-25 09:08] NikolayPianikov opened #709 "Exclude NUnit root methods in the call stack from code coverage"
The coverage tools show statistics about NUnit. That's not what the user wants in the general case from my point of view. We could just turn off it adding ExcludeFromCodeCoverage attribute before several root methods

[2015-06-25 12:58] CharliePoole commented on #709
It's an interesting idea. I see two concerns:

1. Would we have to do this in a large number of places? That could be a maintenance hassle.

2. We like to run code coverage on NUnit itself from time to time.

Let's hold and comment on this as an idea before we decide to make it a new feature.

[2015-06-25 13:03] NikolayPianikov commented on #709
1. We could do it only for roots of invocations
for example main() in the nunit-console and in the agents when we start running
2. We can use alternative internal roots of invocations special for this case

[2015-06-25 13:25] CharliePoole commented on #709
So does the attribute, when placed on a method, also exclude everything called by that method? If that's the case, how does it get turned off when we enter the code of the SUT?

BTW, I have personally never liked the attribute approach, preferring external filters, which is why I don't understand it very well. :-)

[2015-06-25 13:33] NikolayPianikov commented on #709
Yes you are absolutely right, but we are using a thread to start the test (or we can do it) is not it? In this case we could use this approach, but we will have some performance gap and an additional complexity

[2015-06-25 13:46] CharliePoole commented on #701
I doubt this is something we will get into the 3.0 release. More to the point, we wouldn't want to delay the 3.0 release in order to get this feature in.

That said, I can go ahead and restore the old server code in order to let someone else work on it. Give me a few days.

[2015-06-25 13:48] CharliePoole commented on #709
Of course, in general people also want their tests excluded from the
report. But that's either up to them or a matter of filtering their
results, I think.

On Thu, Jun 25, 2015 at 6:33 AM, Nikolay Pianikov <notifications@github.com>
wrote:

[2015-06-25 17:20] CharliePoole commented on #668
Here's what I propose on this issue...

1. Remove current support for VS solutions as "project files" That means we will no longer be able to open them from the command line.

2. Provide a standalone program to convert solutions to nunit projects, which can then be edited by the user.

@nunit/core-team Comments?

[2015-06-26 06:37] ChristianPejrup commented on #701
That's all right, right now i'm personally more excited about seeing the final release of NUnit 3...this is just a cool feature. Until a server exist it should still be possible to do some RPC on another computer and running NUnit.exe commandline.

[2015-06-27 01:14] CharliePoole commented on #693
Turns out to be quite a serious problem. We only recognize the simplest of cases, where the actual argument exactly matches expected generic type. Even something like SomeMethod<T>(List<T> c) is not handled correctly and interfaces are compeltely ignored.

@cuiviemen Good you found this! It has apparently been a bug for a long time but not reported because generic methods are not used that often a

[2015-06-27 15:44] CharliePoole commented on #59
@nunit/core-team Please review the updated spec at https://github.com/nunit/dev/wiki/Generation-of-Test-Names at a high priority.

If we can agree on the approach there, we can quickly close several outstanding issues. If you have read all the boilerplate before, you'll find the new proposal near the end of the page.

[2015-06-27 18:52] CharliePoole commented on #47
Unfortunately, as I should have realized, DateTime and TimeSpan cannot be used conveniently as arguments to an attribute. Such arguments must be constant and DateTimes cannot be constant. An indirect approach, such as TestCaseSource or ValueSource must be used.

[2015-06-27 22:12] CharliePoole commented on #47
Changed title to make this issue just about RangeAttribute. A separate issue is being created to deal with extensions to RandomAttribute.

[2015-06-27 22:20] CharliePoole opened #712 "Extensions to RandomAttribute"
This issue breaks some requested changes out of issue #47, pertaining to RandomAttribute.

The request was for attribute constructors for long, float and unsigned values (int and long).

The current implementation only generates int and double values, but converts them to the type needed by the method parameter. In fact, this works for float but is not entirely satisfactory for long, uint or ulong

[2015-06-27 22:35] CharliePoole opened #713 "Include command information in XML"
See comments toward end of issue #297, started by @yetibrain.

We should experiment with including (some or all of) the contents of the TestPackage settings in the xml.

[2015-06-27 22:36] CharliePoole commented on #297
I have started issue #713 to handle the @yetibrain 's request regarding command-line paramters.

I'm closing this issue as the original problem was fixed some time ago.

[2015-06-27 22:36] #297 closed

[2015-06-28 14:43] #693 closed

[2015-06-28 19:21] CharliePoole opened #714 "Console --test option should include nested classes"
If I use the option --test:My.Namespace.A, where A is a test fixture, class B, nested in A, is not executed. I have to separately specify --test:My.Namespace.A+B to get it. It seems logical to me that we should include any nested classes when a classname is specified on this option.

This could be considered a feature, enhancement or bug. I made an arbitrary choice.

[2015-06-28 21:03] #47 closed

[2015-06-29 08:09] agray opened #715 "Provide a data source attribute at TestFixture Level"
Gallio MbUnit supports the following syntax on the TestFixture attribute:

[TestFixture, Factory(typeof(MyFactory), "MethodInMyFactoryThatReturnsIEnumerable")]
public class MyTestFixtureClass {
        public MyTestFixtureClass(MyFactory factory) {
            //Do stuff
        }
}

For every item in the factory IEnumerable the MyTestFixtureClass constructor is called.

As far as I've been able t

[2015-06-29 09:12] agray opened #716 "OneTimeSetup working under NUnit 2.6.4 but not NUnit3"
Under NUnit 2.6.4 my Console.WriteLine statements that appear in a method annotated with [SetUp] in a class annotated with [SetUpFixture] execute and write to the Jenkins console as expected.

Under NUnit 3.0 Beta 3 the Console.WriteLine statements that appear in a method annotated with [OneTimeSetup] in a class annotated with [SetUpFixture] do not write to the Jenkins console. Other statements do

[2015-06-30 11:36] omer727 opened #717 "Nunit Hangs with a message box"
Hi,
I'm running my tests on a separate process using nunit-console-x86.
Sometimes the test throws an exception, the nunit-agent catch this exception display a message box on the screen and hangs.

Is there any way to tell nunit to skip this message box, write an error to the log and continue to the next test (for example the /stoponerror flag)?

Thanks,
          Omer

[2015-06-30 12:51] rprouse commented on #717
What is displayed in the message box? What type of exception is being thrown and from where (conftructor, setup,  test, etc?)

Displaying a message box isn't normal. Is a Windows debug message box?

[2015-06-30 16:49] CharliePoole opened #718 "RangeConstraint gives error with from and two args of differing types"
I discovered this working on RandomAttribute and spent a lot of time thinking it was my new code causing the problem, since the error didn't actually point to the place where it occured. For that reason, I think this is a high priority bug.

Here's some code:

        [Test]
        public void ExampleTest()
        {
            short val = 7;
            short min = 5;
            int max = 10;

[2015-07-01 02:53] rprouse commented on #544
I was able to reproduce this in Android very rarely. I have been debugging through it repeatedly and still can't see anything wrong with our code. I think it is only happening with nested async calls. If anything, the problem is in `AsyncInvocationRegion.WaitForPendingOperationsToComplete`, but every time I step through it, it behaves as expected.

I am giving up on this one for now. I am going to

[2015-07-01 08:42] NikolayPianikov opened #719 "We have no way to configure tests for several assemblies using NUnit project file and the common installation from msi file"
Here is an example of my command line:
`"C:\Program Files (x86)\NUnit.org\bin\nunit-console.exe" C:\Projects\NUnitTest\1.nunit "`

When I use following project file (case 1):
`<NUnitProject>
<Settings activeconfig="active" appbase="C:\Program Files (x86)\NUnit.org\bin"/>
<Config binpathtype="auto" name="active">
<assembly path="C:\Projects\NUnitTest\bin\HelloWorld.Tests.dll"/>
</Config>
</NUnitPro

[2015-07-01 08:50] NikolayPianikov commented on #685
For example:

[18:56:06][Step 4/6] Starting: "C:\Program Files\NUnit 3.0.0 b2\bin\nunit-console.exe" C:\Projects\TeamServer\BuildServer.idea_artifacts\agent_deployment_debug\temp\agentTmp\FwndJdLbHTCYvMyzqGzuxUqkqoeZg9KH\project.nunit "--work=C:\Program Files\NUnit 3.0.0 b2\bin" --noresult --framework=4.0 --workers=10 --verbose
[18:56:06][Step 4/6] in directory: C:\Projects\TeamServer\BuildServer.

[2015-07-01 22:49] CharliePoole commented on #719
Case 1: This isn't an error. You set your appbase to NUnit's own bin directory. Nobody should ever do that. Since you used binpathtype=auto, the probing path is set to the C:\Projects\NUnitTest\bin directory. Since that's not under the appbase, it's an error.

Case 2: The appbase defaults to the location of the NUnit project file. The auto probing path is the same as in the preceding example. The

[2015-07-01 23:02] CharliePoole commented on #685
It looks like there is sufficient info given in the console output that we could simply define a code to return when some assembly cannot be loaded. Since an rc > 0 is defined to mean the number of failing test cases, this should be one of our negative codes.

I think all the codes are already defined, we just stopped returning them between 2.6.4 and 3.0.

[2015-07-02 01:22] agray commented on #715
Having TestCaseSource for an individual test is not enough. The requirement implicit in the issue is for it to be at the TestFixture level.

So if MethodInMyFactoryThatReturnsIEnumerable() return an IEnumerable containing 10 records and there are 5 tests in the TestFixture, the end result needs to be 50 tests are spawned.

Additionally if a testcase is datadriven itself tests should be spawned com

[2015-07-02 03:23] CharliePoole commented on #715
This is how Test Fixtures in NUnit already work. The only thing that's lacking is the level of indirection that is provided for test cases.

That is, test cases can be specified directly (TestCaseAttribute), Indirectly (TestCaseSourceAttribute) and combinatorally via direct (Values, Range, Random) or indirect (ValueSource) sources annotated on the test parameters.

OTOH, fixtures only currently pr

[2015-07-02 03:26] CharliePoole commented on #715
Although this duplicates #2, I decided to keep it open since it expresses what is needed differently.

[2015-07-02 03:35] agray commented on #715
As long as it is understood that the data source at the Test Fixture level "multiplies out" at the test case level then I am currently satisfied that item 3 (in Charlie's comment) as I understand it is the essence of this feature request.

[2015-07-02 03:57] agray commented on #715
I would also like to see this feature implemented in a 2.6.5 release of NUnit.

[2015-07-02 05:00] CharliePoole commented on #715
Re "multiplying out": Have you experimented with parameterized fixtures? A fixture is created for each set of arguments, as specified on a TestFixture attribute. Test cases are created independently, based on methods within the fixture. Since each fixture contains all the tests, the total number of tests might be said to be "multiplied" although it's more like creating a bunch of houses from the s

[2015-07-02 05:03] CharliePoole commented on #715
We are not planning a 2.6.5 release but I don't rule it out. If we did it,
it would only include bug fixes. This is a new feature and implementing it
for an obsolete version of NUnit would simply be lost time for the current
version.

On Wed, Jul 1, 2015 at 8:57 PM, Andrew Gray <notifications@github.com>
wrote:

[2015-07-02 05:18] rswarup opened #720 "Need a way to get test-specific command-line arguments at runtime"
We are trying to implement NUnit in our project and hit a road block because of 2 things:

1. There is no way in which we can pass any parameter from command line to the test called.
2. We tried exploring "Category" feature if that can help in achieving the above point but again hit a roadblock as there is no way in which I can get the list of Categories passed using console runner.

Considering t

[2015-07-02 06:35] agray commented on #715
If you're able to share the syntax of how to achieve in NUnit 3 what can be done with a factory in MbUnit  I would love to see it.

I have tried everything I can think of based on what I have read in the documentation.  It appears unsupported currently, which I thought you confirmed in a previous comment in point 3.

[2015-07-02 10:01] NikolayPianikov commented on #719
The nunit.framework.dll is located in the "bin" directory near the HelloWorld.Tests.dll

Case 4
<NUnitProject>
<Settings activeconfig="active"/>
<Config name="active">
<assembly path="C:\Projects\NUnitTest\bin\HelloWorld.Tests.dll"/>
</Config>
</NUnitProject>

It does not work:
LOG: Attempting download of new URL file:///C:/Projects/NUnitTest/nunit.framework.DLL.
LOG: Attempting download of new UR

[2015-07-02 10:52] NikolayPianikov opened #721 "Support old names for arguments together with new names"
The NCover uses "/noshadow" to run tests under NUnit
Could we support old names, if it possible

[2015-07-02 12:59] rprouse commented on #720
In NUnit 3, the categories and many other meta-data type attributes like
Description are implemented as properties of the test, so the code you want
looks like this,

[Test]
[Category("PDF")]
[Category("DOC")]
public void CanGetCategory()
{
    IPropertyBag properties = TestContext.CurrentContext.Test.Properties;
    var cat = properties["Category"];
    Assert.That(cat, Contains.Item("PDF"));

[2015-07-02 13:06] rprouse commented on #685
The return codes are in `ConsoleRunner`. @CharliePoole, as you say, we just need to start returning them again :smile:

[code]

[2015-07-02 13:15] rprouse commented on #719
I have confirmed 2 and 3, I am looking at it.

[2015-07-02 14:40] rprouse commented on #719
Okay, I've dug into this and I think this is a documentation issue. In all the cases that you site above, you use absolute paths, but that isn't the way that the project files were designed, nor is it good practice since it does not translate across machines.

The project file should be in a common parent directory for your tests. If you do not specify the AppBase, then it defaults to that of the

[2015-07-02 15:12] CharliePoole commented on #719
Yes, that's the case... assuming it solves all of @NikolayPianikov 's issues.

NUnit 2.6.4 works with absolute paths in memory but always saves the project file using a relative path. It's pretty easy to mess it up when hand-editing.

NUnit 3.0 doesn't have any way to save project files, although you can still use the old project editor because the format has not changed. One result is that we wil

[2015-07-02 15:20] CharliePoole commented on #685
NUnit 2.x returned -2 and -100 in response to exceptions it caught. By design, we no longer throw those exceptions but instead return a TestResult that includes the error information. The console runner should analyze the result and return the appropriate error code.

In fact, it's already analyzing the result in order to display the errors, so this shouldn't be too hard.

I spotted another error

[2015-07-02 15:41] CharliePoole commented on #720
@rprouse That doesn't solve his problem of wanting to know the _selected_ categories.

I'm not in favor of providing a test with any information about _why_ it is being run. That violates the independence of the test. We have previously rejected the same request for a test to know what categories caused it to be run, so that it could behave as a different test depending on the category. While that

[2015-07-02 15:49] CharliePoole commented on #721
In general, we are trying to make a clean break from old version command-line arguments with 3.0. Can you give some more specific reason why this should be different?

I have used ncover myself and the command-line is always specified by me. Does NCover now have some built-in understanding of NUnit? If that's so, won't there be other differences that prevent it from running correctly?

[2015-07-02 16:03] CharliePoole commented on #715
@agray I didn't mean to suggest that NUnit already does what you asked for, but only that you don't seem to understand what NUnit already does. Having an understanding of NUnit would make it easier for you to articulate what you want changed so that we deal with your request correctly.

In an earlier post, I listed three things you were asking for and explained that NUnit already does two of them.

[2015-07-02 23:05] agray commented on #715
Hi Charlie.  Happy to be shown where I may have a misunderstanding.  Lets try this again with code.

NUnit needs to support the following:

Let's say we have a TestFixture like so:

[TestFixture, Factory(typeof(MyTestData), "GetTestData")]
public class TestBase {
	protected readonly MyTestData MyTestData;

	static TestBase() {
	}

	public TestBase(MyTestData myTestData) {
		MyTestData = myTestData

[2015-07-02 23:36] CharliePoole commented on #715
@agray I think it's more like _we_ have a misunderstanding - not _you_. :-)

First of all, I have been saying that NUnit does _not_ yet have this feature but it has two sub-features that you mentioned. So you aren't missing anything.

However, with this new example, I see that we have been talking about two different things. We have plans for new ways to call the constructor. Think of it as TestCa

[2015-07-03 00:03] agray commented on #715
Hi Charlie,

The individual tests don't need or use the MyTestData records.  They are just passed up to the TestFixture to create the multipling effect.

The individual tests can independently have their own TestCase[] annotations.

Test1 above could be:
    [TestCase("12345678")]
    [TestCase("98765432")]
    public void Test1(string text) {
    }

So with R1,R2 and R3 at the TestFixture level,

[2015-07-03 00:54] CharliePoole commented on #715
Yes, I see we _are_ talking about the same thing. NUnit will have some attribute that can feed data to a TestFixture class constructor without hardcoding. :-)

[2015-07-03 02:48] agray commented on #715
Great, thanks Charlie.  More than happy to participate in the implementation so this is reality sooner rather than later. However, will need to be guided by your superior knowledge of the code base.

[2015-07-03 06:06] rswarup commented on #720
Thanks @CharliePoole. Yes you are absolutely right. I need to get Selected categories only because currently there is no other way of passing command line arguments to my test. If that is taken care of in some way, then that would be great.

Such a feature can really bolster this framework further as it can enhance the data driven capability to a major extent.

[2015-07-03 10:52] jcansdale opened #723 "Does nunit.nuspec require dependency on Microsoft.Bcl.Async?"
I noticed that when compiling for net40, the NUnit NuGet package takes a dependency on Microsoft.Bcl.Async. This seems like a heavy dependency for a relatively lightweight framework assembly.

Looking at the 'nunit.framework-4.0' project, it doesn't appear to reference System.Runtime, System.Threading.Tasks, Microsoft.Threading.Tasks or any of the other Microsoft.Bcl.Async associated assemblies. T

[2015-07-03 13:15] rprouse commented on #723
Jamie,

It has been on our todo list to check if it is actually needed, but we
never got around to it. I am pretty sure it isn't. I will get it removed
for the next release if it isn't needed.

Rob
On Jul 3, 2015 6:52 AM, "Jamie Cansdale" <notifications@github.com> wrote:

[2015-07-03 13:58] JohanLarsson opened #725 "AreEqual overload that takes an equalitycomparer"
Would look like this:

[code]

A couple of useful default comparers are:
- BinaryEqualsComparer
- XmlEqualsComparer
They would serialize expected and actual and compare the bytes.

Should I write a PR for this?

[2015-07-03 14:45] CharliePoole commented on #725
We are not in general creating new features in the "classic" (aka legacy) Asserts. The prefered way to do this would be to allow use of the Using modifier on the constraint-based assert with an IEqualityComparer...

   Assert.That(expected, Is.EqualTo(actual).Using(comparer));

This already supports use of IEqualityComparer as well as other options.

[2015-07-03 14:46] #725 closed

[2015-07-03 15:08] CharliePoole commented on #715
A general question for all: what would be a could name for an attribute
that works like TestCaseSource but applies to fixtures? Alternatively, what
would be a good name for an attribute that applies to both.

The MbUnit folks used "Factory" which I dislike because (a) it's not
generally used as a factory, although it can be and (b) the name doesn't
say what it creates. So far, in NUnit, we have st

[2015-07-03 15:15] CharliePoole commented on #310
@rprouse Should this issue be closed now as a result of #244?

[2015-07-03 16:28] rprouse commented on #310
Yes, I am going to close as won't fix in 2.6 and fixed in a later release.

[2015-07-03 16:29] #310 closed

[2015-07-03 16:29] JohanLarsson commented on #725
The legacy asserts are much cleaner imo. In fact I don't know of any project that uses the fluent asserts, perhaps because of noise or just a matter of taste.
What is the harm in adding this?

[2015-07-03 17:29] CharliePoole commented on #725
From a different perspective, the addition might be considered noise. :-)

Here are some considerations:

* We have to maintain both the classic asserts and the constraint-based asserts. Even though the former is based on the latter, situations arise where a separate change is needed. Your other recent PR is a good example.

* The interface becomes crowded for users, particularly novices. Admitted

[2015-07-03 17:37] JohanLarsson commented on #725
Sounds great that you will consider reopening it.
Here is a scenario that is not uncommon where it would be nice:

[code]
This comes up quite often where it does not make sense to override equality for a type.

[2015-07-03 17:53] CharliePoole commented on #718
If we get this into the beta 3, it eliminates all confirmed high-priority bugs outstanding.

[2015-07-03 17:56] CharliePoole commented on #166
Marking this low-priority to simplify our bookkeeping. We can increase the priority when we get to the GUI.

[2015-07-03 18:24] jcansdale commented on #723
That's great, thanks. :)

On 3 July 2015 at 14:15, Rob Prouse <notifications@github.com> wrote:

[2015-07-03 19:03] CharliePoole opened #727 "TestCaseData should have a way of including/excluding platforms"
We support properties IncludePlatform and ExcludePlatform on TestCaseAttribute, but if TestCaseSource is used there's no way to selectively include or exclude platforms. A good example of where this might be used is in our own AsyncTestMethodTests.cs

[2015-07-04 11:45] agray commented on #715
My first thought is:  What's wrong with TestCaseSourceAttribute?  The point being that it potentially behaves differently (i.e. appropriately) when placed against a [Test] or a [TestFixture]

    [TestFixture, TestCaseSource(typeof(MyTestData), "GetTestData")]

If we do decide it is better to call it something different, here are some suggestions:
# FixtureCaseSource (If I had to pick one)
# Fixtu

[2015-07-04 12:39] #718 closed

[2015-07-04 14:35] CharliePoole commented on #715
Because it's not a source of tests cases. It's a source of test  fixture instances. Your third suggestion would be a good alternative name for the existing attribute.

The first seems reasonable if we don't mind calling each class instance a case.

[2015-07-04 19:19] CharliePoole commented on #723
Thinking about it, I wonder if we really should be distributing this in _any_ of our packages. We include it in the packages that have tests, so that any user can run the tests. However, the intent is that Tasks should work on those systems that have 4.5 or have the 4.0 with the async package. It's not to modify the system on which NUnit is installed.

There is one hitch here. If we don't include

[2015-07-04 19:55] CharliePoole commented on #715
A specification for this feature is available at https://github.com/nunit/dev/wiki/Parameterized-Test-Fixtures

[2015-07-04 20:57] CharliePoole commented on #59
@nunit/core-team It has been a week and nobody has commented on the proposal for how to resolve this issue. Kindly let me know what you think so we can start implementing it.

[2015-07-05 00:51] rationull commented on #681
In the Google Groups thread (linked in the original report), @rprouse suggested adding an assembly attribute to the framework to allow opt-in to this behavior, but I don't think that solution will work. In order to analyze assembly attributes, the assembly must be loaded, and even loading into the reflection-only context requires loading dependent assemblies, which circles back to the original pro

[2015-07-07 15:33] omer727 commented on #717
Here is the message box I'm getting:
![nunit-agent](https://cloud.githubusercontent.com/assets/1544215/8549936/2762f210-24d6-11e5-8d58-3d3e96837ff4.png)
I can also see the following log in event viewer under .NET framework :

`
Application: nunit-agent-x86.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.ComponentModel.

[2015-07-07 19:20] Roland-Schneider opened #728 "Missing overload Assert.That(TestDelegate, IResolveConstraint, string, params object[])"
The Assert.That(TestDelegate, ...) overload allows to pass in a delegate as follows:
`Assert.That(() => { Console.Write(null, null); }, Throws.TypeOf<ArgumentNullException>());`
However writing the assertion statement with a message
`Assert.That(() => { Console.Write(null, null); }, Throws.TypeOf<ArgumentNullException>(), "A message");`
yields the compiler errors:
(NUnit 3.0.0 beta 2)
error CS1643

[2015-07-08 09:09] NikolayPianikov commented on #719
It helps. Thank you

[2015-07-08 11:12] #712 closed

[2015-07-08 13:37] CharliePoole opened #729 "NUnit packages should be signed"
Let's see what it takes to get our packages signed using gpg. It will give people assurance that they actually have a real package from us.

Comment here regarding this idea.

[2015-07-08 22:29] agray commented on #729
If we did that would it mean projects that nuget nunit would also have to be signed?

[2015-07-08 22:34] CharliePoole commented on #729
Not that I'm aware of. This is not about signing assemblies in .NET it's about download of packages.

[2015-07-08 22:58] agray commented on #729
Ahh ok.  then +1

[2015-07-10 14:03] jamiehumphries commented on #632
It may be worth mentioning that NCrunch have made MIcrosoft Fakes and Shims work in their runner, so maybe one of their devs could point you in the right direction for instrumentation? @remcomulder?

[2015-07-11 13:02] Benjamin4git opened #730 "how to use Assert.AreEqual() to compare an object with another?"
I know AreEqual(object expected,object actual) can be called when you want to compare one object with another.
But,actually,things are not that easy like I thought before.
When I checked definition of AreEqual(object expected, object actual),I saw these:

 public static void AreEqual(object expected, object actual);
        //
        //     Verifies that two unsigned ints are equal. If they are n

[2015-07-11 14:44] CharliePoole commented on #730
NUnit 3.0 uses only double and object overloads for Assert.AreEqual. NUnit 2.6.4 uses a number of other overloads, including object. The comparison works for any type that defines AreEqual correctly.

Of course, it's possible for the comments to get out of sync with the  code. However, I looked at the code and the documentation pages for both NUnit 3.0 and NUnit 2.6.4 and that's not the case. Ever

[2015-07-11 15:35] Benjamin4git commented on #730
I'm using NUnit 2.6.4 in VS2013.
![x g6k c 8l actc459 w](https://cloud.githubusercontent.com/assets/8764482/8634240/ea350a30-2823-11e5-9343-dacd1fafe826.png)
As shown in the picture,the confusing documentation is in nunit.framework.dll v.2.6.4.14350 (by the way, I;m a Chinese :)

And in fact , I know if two instances that both refer to one same object, and Assert.AreEqual(instance1,instance2) will

[2015-07-11 16:07] CharliePoole commented on #730
From the image, it seems the file you are displaying is named UnitTest1.cs. It contains Chinese characters in the comments. Also, it doesn't have the code for the asserts! Each definition simply ends with a semicolon. So this is definitely not a file from NUnit.

My guess is that somebody made this file to document NUnit for you. Possibly someone in your company? In any case, it is correct. The co

[2015-07-11 16:07] #730 closed

[2015-07-13 20:58] sideeffffect opened #731 "NUnit fails on F# project with FsCheck"
I have a trivial project started from [ProjectScaffold](/fsprojects/ProjectScaffold).
I have a test file `tests/FSharpHello.Tests/Tests.fs` like this:

[code]

on `./build.sh` I get this error:

[code]

when build or run tests in MonoDevelop, `hello returns 42` runs OK, but `hello always returns 42` doesn't run because of this error

[code]

without `hello always returns 42` everything is ok.

I'v

[2015-07-14 07:18] kleinerl opened #733 "Nunit crashes on Win 8.1 while running smoothly on Win7x64"
I have tests that running smoothly on Win7x64.
When I run these tests on Win8.1 Nunit crashes. This is what I can see in Event Log:

Application: nunit-agent-x86.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.ComponentModel.Win32Exception
Stack:
   at System.Windows.Forms.NativeWindow.CreateHandle(System.Windows.Forms

[2015-07-14 09:01] constructor-igor opened #734 "Console without parameters doesn't show help"
When run console application "**nunit-console.exe**" without parameters the programs shows next:
[code]
Probably, it's possible to add help or, at least "help" parameter syntax
[code]

[2015-07-14 09:11] constructor-igor opened #735 "Workers number in xml report file cannot be found"
When run console with "--workers=4" parameter
[code]
it shows the paremeter on display
![image](https://cloud.githubusercontent.com/assets/1849690/8669938/43255b14-2a21-11e5-9871-8ecf5db0447d.png)
but I cannot find the information (number of workers) in genereate report file "TestResult.xml".

Also, if user doesn't set number of workers, console "nunit-console.exe" doesn't show actual number of us

[2015-07-14 09:54] CharliePoole commented on #735
This partially duplicates #713

[2015-07-14 10:41] constructor-igor opened #736 "Native Win32 Exceptions not handled/reported by NUnit Agent"
I try with 3 parameters sets: "--workers=4 --x86" and "--x86" and without parameters (assembly name only).

![image](https://cloud.githubusercontent.com/assets/1849690/8671344/f2d4fda2-2a2c-11e5-80a5-ab6b0446f9c2.png)

[code]

When I selects "Debug" of "nunit agent" VS shows
![image](https://cloud.githubusercontent.com/assets/1849690/8671460/e8f35d32-2a2d-11e5-9ddb-7ff2bbd1b0a1.png)

[2015-07-14 11:06] constructor-igor opened #737 "Unexpected time in report file"
File "TestResult.xml" has **correct local time**  "**2:01 PM**"
![image](https://cloud.githubusercontent.com/assets/1849690/8671809/dacb9aaa-2a30-11e5-9400-2e40b7913bc0.png)

but file contains other times (**11:01**).
I expect, by default, local time in reports file.

[code]

[2015-07-14 11:17] constructor-igor commented on #736
found interested comment near the test class definition:
[code]
But now the tests are passed under nunit v2.6.4.

[2015-07-14 11:31] CharliePoole commented on #736
I'm confused. Are you intending to say that this is somehow connected with the error you are experiencing with your own tests?

[2015-07-14 11:38] CharliePoole commented on #737
The XML results file uses UTC NY design. Future versions of NUnit will allow running tests across multiple servers, which could be located in different time zones.

[2015-07-14 11:41] constructor-igor commented on #736
seems, somettinh happens in c++ method, which we call from our test.
Now I reproduced the crash from VS
![image](https://cloud.githubusercontent.com/assets/1849690/8672373/479ff5e0-2a36-11e5-83cc-dffdec0f82e2.png)

[2015-07-14 11:49] CharliePoole commented on #736
OK, I see now that the comment _is_ in your tests. I was confused because one of NUnit's tests has an almost identical Ignore for one of our tests!

I'm afraid this will join a variety of issues we have with running C++ tests.

One small thing to check: make sure you are not trying to load any 64-bit assembly.

[2015-07-14 11:51] CharliePoole commented on #736
Note that the original error (your first post) is not the cause of the problem. It's just an error caused by the fact that the agent has terminated.

[2015-07-14 11:56] constructor-igor commented on #736
The c# test project has "Platform target x86" and, according to my tests, doesn't try to load x64 assembly.
Also, the test sometimes passes with nunit v3.

[2015-07-14 11:58] constructor-igor commented on #737
I understand, but when we execute all our tests on our servers (placed in same time zone) we prefer see local time.
Probably, it can be implemented via some plugin system? Does nunit v3. support plugins?

[2015-07-14 12:02] CharliePoole commented on #737
The engine (which is what runs the tests) supports plugins, but there isn't a defined extension point for controlling the time format. There is an extension point for defining a complete new output format, but that seems like overkill for this problem.

Let me think about this and discuss with the team. Maybe a command-line option would be a reasonable course here.

[2015-07-14 12:55] rprouse commented on #736
@constructor-igor, my guess is that NUnit is working 'properly' and that the native code in your test is failing occasionally, probably by throwing something like a Win32 AccessViolation which we do not handle. We could add a Structured Exception Handler to NUnit to log an error before we exit, but they tend to cause other problems in managed code.

You say that your code fails occasionally. What

[2015-07-14 12:58] rprouse commented on #736
Also, looking at the failure you are seeing, it is an Assert Failure. This might not be an NUnit assert (likely it isn't), but a C++ assert in the native code that you are calling. See https://msdn.microsoft.com/en-us/library/ww5t02fa.aspx

[2015-07-14 13:01] #723 closed

[2015-07-14 13:12] #682 closed

[2015-07-14 13:12] #544 closed

[2015-07-14 14:29] constructor-igor commented on #736
thank you for detailed comments of the issue.

I investigated the "occasionally failed" test and found incorrect parameter (incorrect number of copied items). The incorrect number of items we transfer to MKL (Intel Math Kernel Library).

When I fixed the parameter, the test passed without any problems.

So, problem found and fixed in our test.

If nunit will able to support "unmanaged" exceptions,

[2015-07-14 14:32] CharliePoole commented on #736
@rprouse I don't think we have an issue on support for unmanaged exceptions. They could, of course, be wrapped if we can catch them. Should we make a new issue? Or we can change this one's title.

I see this as "future" if at all.

[2015-07-14 14:45] rprouse commented on #736
I just looked at the App.config files and we have
`<legacyUnhandledExceptionPolicy enabled="1" />` and `<startup
useLegacyV2RuntimeActivationPolicy="true">` so native exceptions should be
getting translated to SEHExceptions and handled. We should be reporting
these as errors. I will rename this issue to reflect that and check by
modifying our C++ test assemblies.

The issue might be that the excep

[2015-07-14 14:48] rprouse commented on #736
I added status:confirm and assigned to myself for confirmation.

[2015-07-14 19:21] CharliePoole commented on #735
This isn't as easy as it might appear. The number of threads to be used is not known to the console runner. The default value is calculated by the engine based on it's own formula. We only display options that are set by the user because we know those will be used.

It would be useful to know the resolved value of various settings and display them on the console. This would require an engine funct

[2015-07-14 20:24] #734 closed

[2015-07-15 06:35] agray commented on #716
Is this issue related to #71 ?

[2015-07-15 10:35] CharliePoole commented on #716
Are you creating an AppDomain?

[2015-07-15 11:38] NikolayPianikov commented on #721
When I run the NCover it tries to add argument "/noshadow" on one's own. I am using NCover v3.4.18.6937 x64. I dont know about other differences. When I start NUnit from cmd file the NCover does not detect NUnit and does not add argument "/noshadow". Now it is not very important, we have postponed the support of NCover for NUnit 3.

[2015-07-15 13:55] #715 closed

[2015-07-15 14:09] CharliePoole commented on #698
Went back and changed the title to reflect what we actually decided to do instead of deprecating the constructors.

[2015-07-15 15:00] CharliePoole commented on #721
OK, I see we were talking about different things. The only NCover I have used is the open source tool. I haven't bought or used the commercial version.

My feeling is that it's up to the NCover developers to ask us for changes or to adapt their product to NUnit 3.0. We treat NUnit 3.0 as almost a new product compared to NUnit 2.x and I think it will be best if they do it as well. This is definitel

[2015-07-15 15:00] #721 closed

[2015-07-16 06:32] stffabi opened #741 "Explicit Tests get run when using --exclude"
Running an Assembly with a TestFixture like the following, the Explicit Tests will be run by the console-runner if the --exclude argument is used.

nunit-console.exe NUnitFailers.dll --shadowcopy --exclude=mytest

[code]

NUnit Console Runner 3.0.5674
Copyright (C) 2014 Charlie Poole

Test Files
    D:\Framework\01_Source.git\NUnitFailers\NUnitFailers\bin\Debug\NUnitFailers.dll

Runtime Environmen

[2015-07-16 06:36] stffabi opened #742 "Environment.CurrentDirectory not the same as with NUnit2"
The Environment.CurrentDirectory is not equivalent in NUnit3 as with NUnit2. The following Test passes with NUnit2 but fails with NUnit3

[code]

NUnit Console Runner 3.0.5674
Copyright (C) 2014 Charlie Poole

Test Files
    D:\Framework\01_Source.git\NUnitFailers\NUnitFailers\bin\Debug\NUnitFailers.dll

Runtime Environment
   OS Version: Microsoft Windows NT 6.3.9600.0
  CLR Version: 4.0.30319.0

[2015-07-16 06:38] Aviage-Uma opened #743 "NUnit 2.6.4 stable version - Src.zip unavailable."
Hi Nuint Team,

Since i am not able access your google.groups link, I am posting this here.

Why there is no source code zip (src.zip) available for 2.6.4 current stable version ?.What do we need do to get the src.zip for 2.6.4 version ? do you have plans to publish in your site soon? If so, how long will it take? We may need src.zip for project specific purpose. Please suggest a solution to this

[2015-07-16 12:35] oznetmaster opened #744 "RangeAttributeTests incorrect for CF builds (Beta 3)"
The LongRangeAndZeroStep test throws a DivideByZeroException in the CF build, but the test expects an ArgumentException.

The LongRangeAndNegativeStep and LongRangeAndStep_Reversed tests both throw an OverflowException in CF, but the tests expect an ArgumentException.

[2015-07-16 12:39] oznetmaster commented on #744
This is apparently because a Guard method call was added at some previous point in time that was never incorporated in my CF builds :(  My source code management problem.  Sorry.

[2015-07-16 12:39] #744 closed

[2015-07-16 12:52] rprouse commented on #743
You can get a source Zip of the 2.6.4 source from GitHub at https://github.com/nunit/nunitv2/releases/tag/2.6.4. We did not post it to nunit.org because it is just a Zip of the repository, not the version we normally package.

You can also fork or clone the git repository for 2.6.4 from https://github.com/nunit/nunitv2 using the 2.6.4 tag.

[2015-07-16 12:52] #743 closed

[2015-07-16 13:57] CharliePoole commented on #742
This change is by design. See https://github.com/nunit/nunit/wiki/Breaking-Changes

In previous versions of NUnit, we guaranteed that the current directory when running a test would be set to the directory containing the test assembly. We found that having NUnit mess with the current directory caused other kinds of problems so for 3.0, we do not set the current directory at all.

If you need to kn

[2015-07-16 13:57] #742 closed

[2015-07-16 14:19] CharliePoole commented on #741
Confirmed by code inspection. NotFilter has a boolean property TopNode, which causes explicit tests to be skipped when true. The code to actually set TopNode never made it into 3.0. It's a fairly simple fix to TestFilter.cs.

[2015-07-16 18:58] #741 closed

[2015-07-17 16:48] CharliePoole opened #746 "Framework should send events for all tests"
Currently, we don't send events for tests under a suite that is ignored or skipped.

However, some runners (like the vs adapter) may rely on those events to display the results. Other runners (like nunit-console) will use the final result at the end of the run, which does contain complete data for ignored or skipped.

It appears that we should support runners that use either approach or a combinat

[2015-07-17 18:29] CharliePoole opened #747 "NUnit should apply attributes even if test is non-runnable"
See the issue nunit/nunit3-vs-adapter#27 for an example of why this is important.

Currently, NUnitTestCaseBuilder does not apply attributes to a test if it's signature is invalid. We should apply them in general and each attribute must check that the test is runnable if it matters for that particular attribute.

[2015-07-18 02:16] CharliePoole commented on #737
We have had a discussion about this among the developers. We considered several options and decided to maintain the UTC time format in the primary XML output format.

Secondary output files and reports generated from the primary file can easily support a change in format, so long as the desired Time Zone is provided as an input.

To clarify the terminology, by primary format we mean the format of

[2015-07-18 14:22] CharliePoole commented on #654
I have changed this to milestone beta-4 because I think we need to resolve it sooner rather than later.

@oznetmaster I guess we had a misunderstanding about your taking on the issue - I removed your name and added mine as the assignee. Please keep contributing your ideas.

I think my next step is to create a spike that uses cecil.

[2015-07-18 15:40] CharliePoole commented on #294
@rprouse Are we ready to spell this out as a feature? It's listed in the 3.0 milestone, so we should either do that or move it to 'Future'. I have no preference.

[2015-07-18 15:43] CharliePoole commented on #423
I have also noticed that the open source version of ncover has had some development activity by other folks since the original developer formed his company.

Since this is clearly something we should do at some point, I'm taking it out of the 'idea' category. I recognize it may not actually get done for 3.0.

[2015-07-18 16:07] jcansdale commented on #423
Interesting. Where have you seen this activity?

On 18 July 2015 at 16:43, CharliePoole <notifications@github.com> wrote:

[2015-07-18 21:07] #728 closed

[2015-07-18 21:24] Roland-Schneider commented on #728
Many thanks for implementing this promptly.

Roland.

[2015-07-18 21:33] CharliePoole commented on #423
Well, I can't confirm because sourceforge is offline. The odd thing is that I saw activity as late as 2013 but there is no binary release after 2004. I'll check again when I can.

[2015-07-18 21:38] CharliePoole opened #749 "Review Use of Mono.Addins for Engine Extensibility"
Mono.Addins provides extensibility for the engine. The purpose of this issue is to review it's use and decide if we are getting enough benefit from mono.addins to justify the effort of using it. At the same time, we will try to evaluate options for replacing it.

[2015-07-19 12:37] rprouse commented on #749
I agree that this seems like overkill for our needs. I think that the extendable attributes will be the majority of the NUnit 'addins'. Even if we don't use Cecil, it would be fairly easy to inspect assemblies in a given set of addin directories that implement a given interface. We could even make that less expensive by requiring an assembly level attribute so that we don't have to inspect all of

[2015-07-19 12:39] rprouse commented on #749
@CharliePoole, you've assigned this to yourself, but if we decide to go with a plugin model as above, I would be happy to take it.

[2015-07-19 12:53] rprouse commented on #294
I would like to leave this one in for now, but I don't have a strong preference, so am willing to drop it. I will spell out here what I would like to see and we can discuss,

- NUnit ships with a simple XML to HTML transform. I think that once we provide a basic one, people will start extending it.
- Add a command line option to perform the transform and optionally specify your own transform and o

[2015-07-19 16:29] CharliePoole commented on #746
Based on discussions on the nunit-developer list, we'll make this a standard. All test cases and suites must send results back to the user. It doesn't appear that they need to send start-test events as well, but we could add that easily enough in the future.

As an overall goal, let's say that:
* Any runner that only displays test cases (without a tree structure) should be able to use the events a

[2015-07-19 16:44] CharliePoole commented on #294
@yetibrain I see that I missed your post some months ago. Sorry I missed it. Have you tried using the results from our mock-assembly.exe?

[2015-07-19 17:01] CharliePoole commented on #294
@rprouse Some comments on your outline...

 * I think the html transform should be a new format defined for the --result option. That is...
         --result=filename;format=html
   This will require a new addin to the engine.

 * The option to create the report using xslt already exists..
         --result=filename;format=user;transform=xsltfile

 * The command-line currently allows you to specif

[2015-07-19 22:55] oznetmaster commented on #654
I never said I would not take this on.  I said that I did not have the git expertise required to either fork or to create a sub-repo, or whatever is the best structure to maintain our version of cecil.  I had asked that some else undertake that specific step.  Once that is done, I will port all of my conditionals to the code so different minimal versions of it can be created

[2015-07-20 01:58] CharliePoole commented on #654
As I said, it was my misunderstanding. Rob created a repo many months back,
before my vacation trip. Nothing has been done in it except to pull in
changes from the jbevain/cecil repo.

I'll use this to do a spike that will hopefully enable us to make a
decision about using it before we try to minimize the size.

Charlie

On Sun, Jul 19, 2015 at 3:55 PM, Neil Colvin <notifications@github.com>
wrote

[2015-07-20 04:51] agray commented on #2
Given #715  has been implemented in Beta-3, can this issue be closed?

[2015-07-20 05:19] CharliePoole commented on #2
Yes. In fa t I was looking for this one but didn't find it when you filed #715

[2015-07-20 05:19] #2 closed

[2015-07-20 09:02] oznetmaster commented on #654
Where is that repo?

Aside from minimizing the size, the CF conditionals need to be updated, as well as the readonly ones.

My CF cecil is also fully up to date with all of the jbevain/cecil repo, but with all of the CF, readonly, and other size minimization conditionals in it.

[2015-07-20 10:07] CharliePoole commented on #654
It's under the nunit organization, I.E. a sibling of nunit/nunit.

[2015-07-20 10:22] jcansdale commented on #423
Wow, Sourceforge has been down for quite a while. it looks like their
Subversion repository is down as well. They appear to be struggling!

On 18 July 2015 at 22:33, CharliePoole <notifications@github.com> wrote:

[2015-07-20 12:39] constructor-igor commented on #737
Looks OK. Please, could you create repository for extensions and place existing extensions?

[2015-07-20 12:55] CharliePoole commented on #737
We're still working on the technology to be used for extensions. The current beta uses mono.addins but that will probably be replaced with a simpler plugin design of our own. Once the extension tech is firmed up and the interfaces are stable, we'll think about a repo for user extensions.

At the moment, you could do one of two things:

1. Use the existing facility to transform the nunit3 file usin

[2015-07-21 04:47] agray commented on #716
No, I don't think so

[2015-07-21 04:49] agray commented on #715
Request that this important feature be backported to a 2.6.5 release of NUnit 2

[2015-07-21 04:52] #519 closed

[2015-07-21 04:56] agray commented on #733
I have been happily running v3-Beta2 and Beta3 on Win 8.1 enterprise since they were released.  Does this issue still occur if you upgrade to one of those versions?

What edition of Windows 8.1 are you running?

[2015-07-21 05:06] CharliePoole commented on #716
Then I'd say no. :-)

[2015-07-21 05:08] CharliePoole commented on #715
Sorry, that's not happening. All our effort is devoted to getting 3.0 done.

[2015-07-21 05:13] agray commented on #423
@rprouse, I suggest your initial thoughts of using OpenCover and ReportGenerator are good.  I have used these tools on two previous projects.

We added OpenCover and ReportGenerator to the Solution via NuGet and included the packages in source control so the CI checked them out.

I have virtually generic batch files that can be executed as postbuild steps (we were using Jenkins)

The hardest part

[2015-07-21 16:29] davidfowl commented on #575
Any progress made here?

[2015-07-21 16:51] CharliePoole commented on #575
Sorry, no. Our use of milestone 3.0 means we would like to get it into the 3.0 final release but that it's not currently planned in any of the betas. Our plates are pretty full.

Now that I'm back from my long vacation, I'll take another look at what @voloda  has done. My first reaction was that he removed ReflectedType at the expense of a complicating some interfaces and that we might actually be

[2015-07-22 00:38] oznetmaster commented on #654
I am probably just ignorant, but it seems like i cannot clone both the main branch and the nunit fork in my machine at the same time.  They both appear in my list of repos in github, but  they keep showing up as the same identical set of files.

Is there a secret to doing this.

[2015-07-22 00:49] rprouse commented on #654
@oznetmaster, sorry, but I am not sure what you are saying there. If you are having trouble cloning our copy of Cecil, go to https://github.com/nunit/cecil, it is a different repository.

If you are trying to clone nunit/nunit and your fork, oznetmaster/nunit, it should be fairly straightforward at the command line.

What are you using to clone repositories and exactly which repositories are you h

[2015-07-22 03:35] CharliePoole commented on #654
If you want to work with both versions on your machine, then you have to use a separate working directory. There's no need to go through github to do it, just make a local clone, just as we usually do when working with NUnit.

[2015-07-22 09:17] oznetmaster commented on #654
The separate working directories appears to be the issue.  I have all of my github clone repos in a single folder.  I will need to do something different for the nunit/cecil one.

[2015-07-22 10:23] CharliePoole commented on #654
But each repo is a subfolder, so simply give it a different name.

What command do you enter to clone a repo?
On Jul 22, 2015 2:17 AM, "Neil Colvin" <notifications@github.com> wrote:

[2015-07-22 11:51] rprouse commented on #654
The easiest thing to do is rename your clone if Cecil in your directory to something like CecilOz then clone the nunit copy.

The correct way would be to add nunit as a new remote to your copy and map nunit master to a branch on the clone. This would allow you to merge across branches, but requires more git knowledge (or googling). If you want to do that, I can give you the commands, but you will

[2015-07-22 16:20] CharliePoole opened #750 "Include Explicit Tests in Test Results"
Currently, it's as if Explicit tests that are not directly selected don't exist at all. They do not appear in the XML result and no progress events are sent for them. Consequently, they are not counted by the console runner and the console summary display is always out of balance by the number of explicit tests.

This could be remedied by returning an explicit <g> result of Skipped:Explicit. All o

[2015-07-22 21:35] CharliePoole commented on #750
In addition to what is described above, here's another option for implementation:

Allow explicit tests to "execute" and query the attribute at runtime to decide the test should be skipped should be skipped or allowed to proceed. This could eliminate the need for an explicit runstate in the test

[2015-07-23 16:39] #746 closed

[2015-07-23 22:52] CharliePoole commented on #749
@rprouse I reassigned it to you but left it is:design to indicate that a little bit of up-front design is called for. Would you review how we did it in NUnit 2.x and see if some of that can be reused? I think it would be advantageous for users who have written addins in the past if this were similar, at least superficially.

Some thoughts for you... although I know you have done this before...

 *

[2015-07-23 22:58] CharliePoole commented on #610
See my proposal for dealing with this issue on the PR.

[2015-07-23 23:04] CharliePoole commented on #374
A number of other issues really depend on this in the sense that we would either not do them or do them differently depending on the outcome of this issue. I'm upping the priority and clarifying that it's in the design stage at this point.

[2015-07-23 23:06] CharliePoole commented on #727
This may not be needed depending on outcome of #374

[2015-07-23 23:15] CharliePoole commented on #716
@agray Can you provide a simple repro? We have tests of this in NUnit itself, and they are passing.

[2015-07-23 23:22] CharliePoole commented on #666
@NikolayPianikov I hesitate to drop the PR before I have even understood what problem you are trying to solve! Can you tell me exactly what is incompatible with 2.x? I see your test cases above but I don't understand which ones are failing for you that passed in the older version.

Beyond compatibility, we can of course make improvements, but I am trying to separate the two things in my mind.

[2015-07-24 02:51] agray commented on #716
namespace Tester.Tests {
        [SetUpFixture]
        public class GlobalSetup {
            [OneTimeSetUp]
            public void RunBeforeAnyTests() {
                Console.WriteLine("This should be printed once for the whole fixture, but doesn't");
            }
        }
    }

and in the same package (TestBase provides the [TestFixture])...

    public class MyTests : TestBase {

[2015-07-24 04:43] CharliePoole commented on #716
Does anything change if TestBase is in the same namespace? Or if there is no base?

[2015-07-24 04:53] CharliePoole commented on #716
I'll set up a dummy test like yours and see what happens. I don't think any of our existing tests use a base class.

[2015-07-24 05:35] agray commented on #716
did your dummy test replicate my experience with [OneTimeSetup]?

[2015-07-24 08:45] NikolayPianikov commented on #666
Let it be as it is, I think we can close this issue

[2015-07-24 08:47] NikolayPianikov commented on #721
I've created an issue for the NCover team

[2015-07-24 12:42] rprouse commented on #666
@NikolayPianikov, thanks, I am going to close the issue and the PR then.

[2015-07-24 12:42] #666 closed

[2015-07-24 12:57] #747 closed

[2015-07-24 18:38] CharliePoole commented on #716
Does your TestBase have any NUnit attribute on it?

[2015-07-24 19:05] CharliePoole commented on #716
I'm suspecting that your TestBase (which I have not seen) is somehow indicating to NUnit that it should be executed independently, not just as the base of the tests. If that's the case, then the SetUpFixture wouldn't be used, since it's in another namespace.

Ways to tell NUnit to treat it as an independent test class, not just a base, include:
1. Putting a TestFixtureAttribute on it
2. Putting an

[2015-07-24 20:51] agray commented on #716
What if I want to put [TestFixture] in the base class. Can this be
supported by [OneTimeSetup]?

On 25 July 2015 at 05:05, CharliePoole <notifications@github.com> wrote:

[2015-07-24 22:07] CharliePoole commented on #716
I don't understand. Why would you want to do that? What is it intended for
NUnit to do as a result?

In NUnit terms , what is in your base class? (Setup, etc.) Is it abstract?

It seems you are wanting this worked on but are hesitant to provide the
info. If your base is proprietary, then you need to create a sanitized
example that you are able to share.
On Jul 24, 2015 1:51 PM, "Andrew Gray" <noti

[2015-07-25 05:30] agray commented on #716
Hi Charlie, NUnit is intended to loop through all the combinations.  The fix for Issue 715 helped a lot in this regard.

My Base class is quite simple:

    namespace MyNameSpace {
        [TestFixtureSource(typeof(MyClass))]
        public class TestBase : TestBaseBase {
            protected SauceryRemoteWebDriver Driver;

            public TestBase(MyClass myclass) : base(myclass) {

[2015-07-27 22:47] ulrichb opened #753 "Feature request: Is.SupersetOf() assertion constraint"
See https://bugs.launchpad.net/nunit-3.0/+bug/1184903.

[2015-07-28 00:38] agray commented on #716
Let me know if I can clarify any further.

[2015-07-28 01:19] CharliePoole commented on #716
For both of our understandings, I suggest you set a breakpoint on one of the methods of TestBase. Easiest would be a OneTimeSetUp, which you could create temporarily for this experiment. From what you have described, I suspect that you will see it called twice, once for the derived class and once for the fixture itself. That's because you have told NUnit to do it, by identifying TestBase as a Test

[2015-07-28 03:12] agray commented on #716
I really do want to treat TestBase as a TestFixture: I am thus providing a service to the developer who uses it to write their tests .

[2015-07-28 04:00] CharliePoole commented on #716
In NUnit, treating it as a test fixture means...

1. You want NUnit to instantiate it independently of any derived classes.
2. You want it to be run by itself, without regard to any derived classes.
3. If it contains setup, teardown or tests, they will be run independently.

Treating it as a base for test fixtures means...

1. You want NUnit to instantiate any non-abstract derived classes.
2. You

[2015-07-29 08:30] GibbOne opened #755 "TimeOut attribute doesn't work with TestCaseSource Attribute"
I'm using NUnit version 3.0.0-beta-3 and the dot net Framework 4.6.

Example:

[code]

Am I doing something wrong?

[2015-07-29 13:38] Taron-art opened #756 "Async Task test run hangs when a Windows Forms Form was created in the scope of previous\current test"
Hi all,
I have not tested this issue on NUnit 3.0 but because 2.0 repository is closed, I am posting it here.
NUnit 2.6.4
Here the example of the issue:

[code]

Form1 is the Windows Forms form. If you run these tests one by one, they will pass. However, in a single run it hangs on the second test.
Such test will also fail:

[code]

There is a workaround - use the "async void" instead of "async Ta

[2015-07-29 20:05] CharliePoole commented on #304
Several different threads of activity currently pertain to this issue. I'll document them here:

@chris-smith-zocdoc Will produce a separate PR that makes TestRun an awaitable object and makes use of it throughout the hierarchy of tests.

@charliepoole will take PR #572 and extract a minimum feature set that implements parallel execution of assemblies, without the code that is intended to limit th

[2015-07-30 15:35] CharliePoole opened #757 "Implement some way to wait for execution to complete in ITestEngineRunner"
This is a piece of work we need in order to fully implement issue #304.

NOTE: This description supersedes some earlier discussions on the implementation of asynchronous execution in separate assemblies. See further note below regarding TestRun  class.

The internal communication between various levels of runners in the engine is through ITestEngineRunner. With respect to asynchronous execution, i

[2015-07-30 18:40] CharliePoole commented on #585
@agray Any progress on this? If you have not started, I'd like to free it up for someone else to work on.

[2015-07-30 22:32] agray commented on #585
Ok, give it to someone else.  Havent been able to crack it yet
On 31 Jul 2015 4:40 am, "CharliePoole" <notifications@github.com> wrote:

[2015-07-31 09:30] di97mni commented on #585
:+1:
RetryAttribute will help us with occasionally failing Selenium tests

[2015-08-01 02:32] CharliePoole commented on #753
This is an issue we neglected to move from launchpad at the time we migrated to GitHub. Thanks to @ulrichb it's here now. I'm marking it for inclusion in 3.0 because it's pretty easy to do.

This would be a good one for somebody who is new to NUnit development, since it merely requires copying and making a few changes to the existing SubSetConstraint, and then adding the appropriate syntax element

[2015-08-01 02:57] ArsenShnurkov opened #759 "`NUnit.Framework.Assert' does not contain a definition for `IsNotNullOrEmpty'"
After updating to NUnit-3.0.0-Beta3 i started receiving this error:
<pre><code>
Errors:

/var/calculate/remote/distfiles/egit-src/deveeldb.git/src/deveeldb-nunit/deveeldb-nunit.csproj (Build) ->
/usr/lib64/mono/4.5/Microsoft.CSharp.targets (CoreCompile target) ->

	Deveel.Data.Sql.Expressions/SqlBinaryExpressionTests.cs(56,11): error CS0117: `NUnit.Framework.Assert' does not contain a definition f

[2015-08-01 03:26] CharliePoole commented on #759
See https://github.com/nunit/nunit/issues/197

See also https://github.com/nunit/nunit/wiki/Breaking-Changes

[2015-08-01 03:26] #759 closed

[2015-08-01 12:59] Seddryck commented on #753
I'd be pleased to take it but I'm not sure I've really understood the goal of this new constraint. Is there really a difference between this new constraint "SuperSet" and creating an assertion with a few constraint "Contains" linked with an "And"?

[2015-08-01 14:00] CharliePoole commented on #753
@Seddryck Both SuperSet and SubSet could be emulated by the user with Contains constraints, provided that
1. Only a few items are involved
2. They are known to the user
3. There are no duplicates
4. There are no nulls

The existing SubSetConstraint deals with all of those and is generally used by folks with two collections to deal with, one or both of which doesn't meet the above criteria.

I woul

[2015-08-01 14:02] CharliePoole commented on #753
@Seddryck I've added you to the contributors team and will be able to assign this issue to you once you accept.

[2015-08-01 17:10] Seddryck commented on #753
@CharliePoole invitation accepted. I'll do this tomorrow, doesn't sound really complex.

[2015-08-01 19:27] CharliePoole opened #760 "Packaging targets do not run on Linux"
Currently packaging doesn't run on Linux, due to some references to .NET CF. We don't try to build CF on linux, but we do some cleanup in other targets based on the assumption that CF may have been built. Some extra checks need to be added.

Once the current error related to the bin/netcf-3.5 directory is fixed, others may show up. They should all be fixed so that the packages that are capable of

[2015-08-01 21:46] CharliePoole commented on #585
Here is a mini-spec for this feature as I am implementing it...

RetryAttribute is only allowed on test methods.
Only one attribute is allowed.
Attribute is not inherited.
If the test returns a failure (that is, assertion failure) then it is retried up to the max specified
If it returns anything else (ignored, error, inconclusive, passed) it is not retried.
Note that an unexpected exception is an

[2015-08-02 03:37] di97mni commented on #585
Why not inherited and on class level as well? It would make it easier to retry failing Selenium tests by putting this attribute on a base class

[2015-08-02 04:10] CharliePoole commented on #585
@di97mni WRT inheritance, it was left out because other, similar attributes are not inherited. We could consider it if it doesn't appear to cause any conflicts.

WRT class level, I'm not sure how to define it at the class level. What do you do if you run a class and some tests pass while others fail?

[2015-08-02 04:37] di97mni commented on #585
Defined on class level would just be an easier way than having to put it on each method. Then if it fails I would asume that the failing methods/tests was run again

[2015-08-02 05:25] CharliePoole commented on #585
I see. That would be similar to how we handle Timeout. When placed on a
class, it sets the default for any methods in that class. It's however the
only NUnit attribute that works that way.

Given that many people thought we shouldn't have Retry at all, I don't
think making it easier to apply would get a really good reception. :-)

As you may have noticed, RetryAttribute is now implemented and wait

[2015-08-02 07:44] di97mni commented on #585
OK, then we wait for next round.
Thanks for looking into it!

[2015-08-02 15:42] CharliePoole commented on #649
It appears that inline tasks are not supported on Mono xbuild.

[2015-08-02 19:25] voloda commented on #575
@CharliePoole I was out as well.

At some point you made a comment whether this cannot be taken from test context. Actually - I believe that some sort of context from which you will be able grab all the information about the actual test class might be pretty useful and IMHO cleaner solution from design perspective.

With my limited knowledge I was not able identify the correct way how to approach

[2015-08-02 23:41] CharliePoole commented on #575
@voloda Regarding context, I can't remember the comment I made. We do have a TestExecutionContext, which contains the current test, which has a Type specified. I'm not sure that's very helpful, however, because the context has to do with the execution of tests and most of our reflection takes place before execution begins.

[2015-08-03 05:53] voloda commented on #575
@CharliePoole Perhaps you could have a context which will be created based on initial information you have and during execution you will clone from it more and more specific context as you have more and more information available?

[2015-08-04 15:42] CharliePoole commented on #750
@nunit/core-team This needs someone to review it.

[2015-08-05 14:01] #585 closed

[2015-08-05 14:06] di97mni commented on #585
Will there be a new issue to follow for the "next round"
https://github.com/nunit/nunit/issues/585#issuecomment-126988556

[2015-08-05 15:37] CharliePoole commented on #585
I don't know. :-)

Seriously, if somebody files a new issue or starts a discussion on nunit-discuss, then we'll talk about it. If I know our community, I suspect some will argue to remove the attribute, while others will want to extend it.

Based on past discussions, the majority of users think that a retry attribute is just a sign of lazy programming. "Write your tests so they either pass or fail

[2015-08-06 11:14] DigitalFlow opened #764 "Assert Exception does not validate exception message"
Hello everyone,

Edit: Nevermind, just found out that this is intended and that the message attribute specifies the error message if the test fails instead of specifying a comparison message.
You can close this issue. Below just for the record the initial question.

///

I just wrote a unit test which should verify if a specific exception is being thrown when a function is called.
My code for veri

[2015-08-06 11:47] rprouse commented on #764
There is just a mistake in your code. The third parameter is the message that displays if the assertion fails, not the message in the exception. If you use Assert.Throws, it returns the exception that was caught so that you can check the message in a subsequent assert.

Or you can use the Assert.That syntax and add the expected message to the second argument.

[code]

[code]

[2015-08-06 11:48] #764 closed

[2015-08-06 16:20] #753 closed

[2015-08-06 22:32] #750 closed

[2015-08-08 00:44] chris-smith-zocdoc commented on #125
Has the NuGet situation improved at all in the last year? I would assume Microsoft is making some advances with the non Windows support for .net

[2015-08-08 15:59] #716 closed

[2015-08-08 16:42] CharliePoole commented on #125
@chris-smith-zocdoc Coincidentally, I just added a new package to the build, which brought this issue to my attention again. We really have a lot of binaries in the repo because of this issue.

This would be a good time to address the issue. NuGet provides three different ways to synchronize, so it seems like one of them ought to work.

In case you want to experiment with this, we need to be able

[2015-08-08 16:53] CharliePoole commented on #642
It turns out that splitting the build into multiple files breaks the Linux build. The reason is that there is an xbuild bug that targets run via CallTarget run in the context of the imported project rather than the main project. That means that common properties and targets are not defined for the called target.

Instead of separate files, I'm putting regions into the single file. In order to coll

[2015-08-09 14:34] rprouse commented on #125
I  think the biggest problem we may run into is with NuGet packages that
contain Powershell scripts. Probably none for what we use.
On Aug 8, 2015 12:43 PM, "CharliePoole" <notifications@github.com> wrote:

[2015-08-09 15:00] constructor-igor commented on #755
![image](https://cloud.githubusercontent.com/assets/1849690/9155405/4e7d5832-3ec0-11e5-998b-3687c300f817.png)

[code]

[2015-08-09 15:04] constructor-igor commented on #755
when I remove "async"\"await":
![image](https://cloud.githubusercontent.com/assets/1849690/9155423/075cfd9e-3ec1-11e5-9949-4fccb783ee71.png)

[2015-08-09 16:01] CharliePoole commented on #755
What did you do for the delay when you removed async and await?

Confirmed, in any case.

[2015-08-09 19:16] constructor-igor commented on #755
This test is expected to fall
[code]
but it passes
[code]

[2015-08-09 19:18] constructor-igor commented on #755
Interesting result of next test:
[code]

![image](https://cloud.githubusercontent.com/assets/1849690/9156490/7ba48ea6-3ee4-11e5-8909-5517c7650bc8.png)

[2015-08-09 20:48] CharliePoole commented on #755
@constructor-igor Do you feel like fixing this one? My guess is that parameterized tests, which are suites, are not being handled correctly with respect to this Attribute. What should be happening is that the default timeout in the TestExecutionContext gets updated by the suite initialization and then used by each method. My guess is that no initialization is happening, since this is not a fixture

[2015-08-09 20:50] CharliePoole commented on #755
The cancelled tests would suggest that _some_ of what should be happening is happening, but on the wrong level. TimedOut tests are cancelled but we should actually recognize why they were cancelled and report them as failures, not timeouts.

[2015-08-09 21:05] constructor-igor commented on #755
@CharliePoole I'll try to check and suggest a fix in a few days. if not, I'll inform you.

[2015-08-09 21:06] CharliePoole commented on #755
Great. Be sure to include missing test cases in our tests.

[2015-08-10 17:42] CharliePoole commented on #749
@rprouse If you have not had time to get going on this, I can take a shot.

[2015-08-10 17:54] CharliePoole commented on #668
@nunit/core-team Maybe this is a failure in our process, but when I ask for comments on an "is:idea" and nobody comments, then it never gets addressed. As a matter of personal policy, I pretty much **never** add a feature to NUnit because **I** think it's a good idea.

In this case, I'd appreciate both your comments on the proposal as well as any ideas about how to handle such things better. Shoul

[2015-08-10 19:20] OsirisTerje commented on #668
Sorry Charlie.  Promise to behave better :-)
I am a VS guy, so I prefer to use the VS solution files, and not the nunit Project files.  Using NUnit Project files With VS solutions, how does that work ?
So I am opposed to 1), and I don't see how 2) should work out.
My reason for not commenting on this is that the question seems outside my area of interest, but I see it may affect it.

Further, I do

[2015-08-10 19:50] CharliePoole commented on #668
@OsirisTerje You raise several pointss...

"Using NUnit Project files with VS solutions, how does that work?"
Not "with" - they are alternatives.

You can enter the name of an NUnit project file on the command line and it gets "expanded" to the assemblies contained in it. You can enter the name of a VS project file and it gets expanded to the assembly it creates. You can enter the name of a VS sol

[2015-08-10 19:55] CharliePoole commented on #668
One possible workaround: Flag assemblies that we are trying to load because they come from a solution file. For such assemblies, when no driver can be found, just show them as having no tests rather than as not-runnable. This might require a new driver to compement the one we use for non-runnable assemblies.

[2015-08-11 01:09] CharliePoole commented on #374
Proposed External Syntax for selecting tests. This would be used, for example, in a gui text box or as a command line argument.

A simple filter consists of a key word, an operator and a value or set of values. For example:
    id=123
    name%test
    category=Urgent
    Priority=High

**Key words** are case-insensitive and include id, name, test, fullname, class, method, category and any propert

[2015-08-11 01:48] CharliePoole commented on #713
Here's a proposal for fixing this...

Include a new element <settings> under <test-run>.
Under <settings> include multiple <setting> elements.
Each <setting> element would have name and value attributes.
All package settings, as finally resolved in the engine, would be included. IOW, if the engine decided to use 5 worker threads, we would have
  <settings><setting name="NumberOfWorkers" value="5"

[2015-08-11 10:52] rprouse commented on #749
Feel free to grab it, sorry.
On Aug 10, 2015 1:43 PM, "CharliePoole" <notifications@github.com> wrote:

[2015-08-11 12:59] NKnusperer opened #771 "Is there anything special in the way NUnit create AppDomain to execute tests in?"
I'am fighting an issue for a while that in the context of a NUnit runner I cannot do .Net remoting calls.
This issue is already logged at Xamarin (https://bugzilla.xamarin.com/show_bug.cgi?id=31091).
Today I found out then when using the `--domain=none` everything works as expected so this must have something to do with the way NUnit create/handles AppDomains.
This happens both in NUnit 2 and 3.
U

[2015-08-11 13:41] #685 closed

[2015-08-11 15:42] #642 closed

[2015-08-11 15:42] #649 closed

[2015-08-11 18:51] CharliePoole commented on #771
Here is my guess, based on reading the Xamarin bug... it's only a guess as I have not tried to reproduce the situation.

When your echo service is reached, it tries to connect back to the calling client, which is the executing process. Due to the mechanism of the channel you created, this connection is routed to the proper endpoint when you are running in the primary AppDomain. The primary AppDoma

[2015-08-14 07:24] Alex2357 opened #772 "Running tests in parallel"
What am I doing wrong?
I had created 3 projects having just one class
    [TestFixture]
    public class UnitTest1
    {
        [Test]
        public void TestMethod1([Values(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)] int i)
        {
            Thread.Sleep(700 + i * 1000);
        }
    }

I run them using
"C:\Program Files (x86)\NUnit.org\bin\nunit-console.exe" "C:\Work\NunitParallel\Test3Proj\UT1\UT1\bi

[2015-08-14 08:49] OsirisTerje commented on #772
Read about the Parallelizable attribute here:  https://github.com/nunit/nunit/wiki/Parallelizable-Attribute
As you can see it is default off, so just add it to your test classes, and it should work.
Also be aware of the NUnit discussion list https://groups.google.com/forum/#!forum/nunit-discuss which is intended for user issues.
I am closing this as it is not a NUnit issue.

[2015-08-14 08:49] #772 closed

[2015-08-14 14:06] CharliePoole commented on #772
It looks like @Alex2357 made the assumption that running in multiple processes would cause those processes to run in parallel. It's not an unreasonable expectation but that's not how it works.

You don't say what version of NUnit you are using. If it's 2.x, then there is no way to run tests in parallel using a single execution of NUnit. In fact, NUnit is designed to prevent this from happening. OT

[2015-08-14 14:28] rprouse commented on #755
Fixes with PR #770

[2015-08-14 14:28] #755 closed

[2015-08-14 14:39] rprouse opened #773 "Upgrade Travis CI from Legacy Infrastructure"
Lower priority, but when I was on Travis, they suggested we upgrade our build from their legacy infrastructure to their new container based infrastructure.

See http://docs.travis-ci.com/user/migrating-from-legacy/

I pushed this out to 3.2 so that it is not on our critical path.

[2015-08-14 20:51] Alex2357 commented on #772
Many thanks to OsirisTerje & CharliePoole.
Charlie I hope I understood correctly 2 negations. I understood

Sorry I forgot to mention that I was using version 3. Because Resharper was doing paralleling using by assemblies I was thinking that it should work that way.
Paralleling test fixtures what I was looking for as we have just one testing assembly which I proposed to split into multiple.

[2015-08-15 04:43] CharliePoole commented on #772
You understood correctly.

Since you are using 3.0, you can expect to get parallel assembly execution after we
1) Finish issue #304 so that NUnit supports it in a new release, and
2) Create a way for you to access that feature from the adapter in a new adapter release.*

* Note that we only use released versions of NUnit with the adapter. Anything else would be too confusing.

[2015-08-15 10:14] OsirisTerje commented on #772
@Alex2357 If you already have all Your tests in a single Assembly, the attribute Method should work for you.  If you know that all textfixtures you have can be run in parallell, you can in fact just search/replace all TextFixture to Parallelizable  :-)

[2015-08-15 11:45] Alex2357 commented on #772
Thank you Charlie

[2015-08-15 11:48] Alex2357 commented on #772
@OsirisTerje. That's good feature that I don't need to split. Many thanks.

[2015-08-16 21:27] #125 closed

[2015-08-16 21:32] CharliePoole commented on #654
I'm closing this issue, since we have implemented use of Cecil for all versions of the engine we now create, including the core engine used by the adapter. If we decide to create other engines (for CF, for example) then we can deal with that in a separate issue.

[2015-08-16 21:32] #654 closed

[2015-08-17 14:30] ArsenShnurkov opened #776 "Unable to find version '2.6.4' of package 'NUnit'."
as of
commit f23c6a0c27c37472e12dfc6703998fbab7ed6505
Date:   2015-08-16T14:27:06-07:00

        # nuget restore nunit.linux.sln
        Unable to find version '1.1.10' of package 'Microsoft.Bcl'.
        Unable to find version '1.0.168' of package 'Microsoft.Bcl.Async'.
        Unable to find version '1.0.21' of package 'Microsoft.Bcl.Build'.
        Unable to find version '2.6.4' of package 'NUn

[2015-08-17 14:36] CharliePoole commented on #776
The package dependency on NUnit 2.6.4 is not to the framework project being built, but to the legacy 2.6.4 framework used by the addin that handles tests written against 2.6.4. NUnitV2 is a completely separate project from NUnit 3.0.

Odd. This seems to be the result of a change we just merged, which worked in our Travis build.

@chris-smith-zocdoc Did you modify the linux solution as well?

@Arse

[2015-08-17 16:38] ArsenShnurkov opened #777 "xbuild and Frameworks work not very well together"
https://gist.github.com/ArsenShnurkov/ca947ccb8e027e646f06

Project ".../src/NUnitEngine/mono-addins/Mono.Addins.csproj"
CSC:  warning CS1685: The predefined type `System.Runtime.CompilerServices.ExtensionAttribute` is defined multiple times. Using definition from `mscorlib.dll`
Compatibility/ExtensionAttribute.cs(32,22): (Location of the symbol related to previous warning)
/usr/lib64/mono/4.5/msc

[2015-08-17 16:43] CharliePoole commented on #776
@ArsenShnurkov You posted info on the gentoo/dotnet project that included a reference to your build script. It seems to me - if I understand correctly - that you are building NUnit yourself, using your own script instead of ours, and it isn't working. Is that right?

If so, please explain why this is an NUnit bug? I'm not yet saying it isn't, but it seems to be your own script that isn't working.

[2015-08-17 16:57] ArsenShnurkov commented on #776
not at all. I looked into your ./build,
https://github.com/nunit/nunit/blob/master/build
and copied it into mine ebuild (it actually calls nuget restore, mine does the same, but on nunit.linux.sln).
I don't see how this differs from your main line.

This is not exactly a bug, because you are trying to keep your trade secrets,
you want to be the only builder of this project and don't want to explai

[2015-08-17 17:20] ArsenShnurkov commented on #776
Just for completeness, here is the result of your script:

        # ./build
        ./build: line 2: ./tools/nuget.exe: cannot execute binary file: Exec format error
        XBuild Engine Version 12.0
        Mono, Version 4.0.3.0
        Copyright (C) 2005-2013 Various Mono authors

        Build started 8/17/2015 8:18:27 PM.

[2015-08-17 17:38] CharliePoole commented on #776
You are pretty off-base here. Open source is not helped by people who think that their "brand" of open source is the only one that's valid. You are sounding like one of those folks and I wish you would think two or three times before jumping to conclusions. You are also making statements about my "point of view" which you cannot possibly know. Talking about what you imagine is in other folks' head

[2015-08-17 17:56] ArsenShnurkov opened #778 "build and build.cmd scripts invoke nuget.exe improperly"
# ./build nunit.linux.sln
        ./build: line 2: ./tools/nuget.exe: cannot execute binary file: Exec format error
        XBuild Engine Version 12.0
        Mono, Version 4.0.3.0
        Copyright (C) 2005-2013 Various Mono authors

        Build started 8/17/2015 8:18:27 PM.

Linux loader in kernel should have capabilites to run .net images like native executables.
https://www.kernel.org/doc/Do

[2015-08-17 17:57] ArsenShnurkov commented on #776
https://github.com/nunit/nunit/issues/778

[2015-08-17 18:31] ArsenShnurkov commented on #777
http://stackoverflow.com/questions/546819/strange-warning-about-extensionattribute

[2015-08-17 18:45] rprouse commented on #777
Like many other libraries, the version of NUnit Framework that targets .NET 2.0 defines `ExtensionAttribute` so that we can write extension methods to make the code cleaner. If you reference that version of the NUnit Framework in a project that targets a newer .NET framework, you will see this warning which as the StackOverflow question says, you can safely ignore.

I believe that Mono.Cecil which

[2015-08-17 18:51] ArsenShnurkov commented on #777
What I don't understood, it is why I don't receive this errors when I build the solution with monodevelop on the same machine (with the only framework installed)

[2015-08-17 18:52] CharliePoole commented on #778
@chris-smith-zocdoc Please take this comment as the description of the issue, rather than the original above. The original gives useful general info but doesn't actually say what the problem is.

When you fixed issue #125, you modified both scripts to include the restore. The primary issue is that you are invoking nuget.exe, a managed program, without the mono prefix. Apparently, the OS we run und

[2015-08-17 18:54] CharliePoole commented on #776
Is this a duplicate of #778?

[2015-08-17 18:55] ArsenShnurkov commented on #776
no, this issue is about dependencies,
and that issue is about error checking in scripts

[2015-08-17 19:00] CharliePoole commented on #777
@rprouse That would only explain that specific duplication. He has dozens of others, which are related to the System.Linq classes whose code I duplicated out of mono in order to build Mono.Addins for 2.0.

@ArsenShnurkov I'm surprised if it doesn't happen in all builds using the same compiler. Are you perhaps targeting 2.0 under MonoDevelop?

As previously stated, I think it's a waste of your time

[2015-08-17 19:06] CharliePoole commented on #776
In that case @chris-smith-zocdoc please give #778 priority, since we know what the problem is. We should fix it asap if you can.

I still don't understand this issue. It's clear that the restore is working perfectly well on our Travis build, which I think uses Ubuntu. I'll be at home today with my own Linux machine, so I can try it there as well, now that #125 is fixed.

[2015-08-17 19:08] CharliePoole commented on #776
@ArsenShnurkov Please comment on #778 regarding what error checking you would like to see in which of our scripts. I interpreted the problem as build script simply missing the mono prefix, which we always use for managed programs.

[2015-08-17 19:12] ArsenShnurkov commented on #776
I make assumption that online repository is available, which doesn't true in my case. I should be able to emerge all ebuilds one-by-one according to direct acyclic graph (DAG) of dependencies.
I probably will cut all test projects and 2.0 compatibility code with patch, and replace target framework versions to 4.0 to get the local trusted gentoo package built.

In general it is illogical, that prog

[2015-08-17 19:34] CharliePoole commented on #776
@ArsenShnurkov You may be right about online repository availability. However, this is a very specialized situation and I think we have to get the new approach working generally before worrying about how to build it in the situation you describe. Frankly, I don't think our build is ready for use by you in your situation... that's why we call it non-production, non-stable, beta, etc.

However, you

[2015-08-17 20:06] ArsenShnurkov commented on #777
gentoo-specific bug -
https://github.com/gentoo/dotnet/issues/106

[2015-08-17 20:06] #777 closed

[2015-08-17 20:41] ArsenShnurkov commented on #778
"Please comment on #778 regarding what error checking you would like to see in which of our scripts. "

if there is an error, the script should stop. If you throw away the information - this creates various additional risks (of nonupdated packages with malicious code and so on).

It shouln't start building and hope that another error occurs and display the information which you thrown away before.

[2015-08-17 20:56] CharliePoole commented on #778
Fair enough. We have been treating these scripts as only used by us at the command line and they only wrapped a single command up to now. But they may be used by other scripts, as you point out.

@chris-smith-zocdoc If you retain the call to nuget in the script, we should check the return code. I think you work on linux, right? If not, you can re-assign it to me.

[2015-08-17 21:01] ArsenShnurkov commented on #776
I will try to create two ebuild based on the same tarball. One with Addins, and another with the rest of code.

My ebuilds are anchored to sha1 of specific commit, so they will work for me for next 20 years, or as long as I will keep my gentoo source base archive. Gentoo is rolling distribution, so it doesn't matter for me at which point of time to anchor. So, i don't worry that the work is not fi

[2015-08-17 21:55] chris-smith-zocdoc commented on #778
I won't have time for a couple of days so I assigned it back to you @CharliePoole

I've tested on linux but I don't primarily work there

[2015-08-17 23:37] CharliePoole commented on #778
OK. I'll take care of it.

[2015-08-17 23:59] CharliePoole commented on #776
The problem I was thinking of is independent of version. It has to do with package content. If the package "nunit" contains the console runner when it comes from one source but does not from another source, that's very confusing to users, especially to users who work on multiple platforms. Of course, we have already dealt with that problem, when we changed the meaning of "nunit" at NuGet.org. Pers

[2015-08-18 00:03] CharliePoole commented on #776
I thought I commented on this, but I can't find it anywhere, so exuse any repetition...

"Yes, I will need to build other packages first, to put them to local repository, and they will be restored with nuget restore command from your script. But I can't do the same for the package being built."

The NUnit 2.6.4 nuget package is **not** the package being built. It's the old version of NUnit, which

[2015-08-18 01:41] #778 closed

[2015-08-18 07:53] ArsenShnurkov commented on #776
"does not from another source"

here is a list of installed files:
https://gist.github.com/ArsenShnurkov/1d94c37ee9c0a03cbcb1

"so long as you are consistent"

I can't speak for all users of gentoo, funtoo, sabayon, calculate and other distributions from this list:
https://wiki.gentoo.org/wiki/Distributions_based_on_Gentoo
they will probaby receive this ebuild (in a ~month), because gentoo/dotnet

[2015-08-18 08:29] di97mni commented on #585
I agree that generally you shouldn't use Retry but we have tried to fix all occasionally failing Selenium tests but it's _really_ hard. There is a Retry in XUnit as well and the [motivation for that one](https://github.com/giggio/xunit-retry#why-i-wrote-this) is the same as for us.

Anyhow, is there a nightly nuget build I can try or do I need to wait for Beta 4? Any rough plans when that might be

[2015-08-18 11:52] CharliePoole commented on #585
Actually, the Retry is not **in** xUnit, it's an extension. Maybe that's what we should have done. But it's in now and we have other work to do. :-)

We are not doing nightly builds so you would have to either wait or build from source. According to the schedule of milestones on GitHub, we are four or five days late on the beta 4 but only half done. We'll have to make a decision shortly to release

[2015-08-18 12:14] CharliePoole commented on #776
Very confusing. First you say it's private, now it's "official." Very well...

Here are the problems I see...

1. You are distributing an unfinished beta version of NUnit 3.0 but you are saying it is stable and leaving out the beta.

2. Your packaging will not match ours in the sense that you will have a single package that includes more than we include in the nunit package.

3. We treat NUnit and

[2015-08-18 12:18] CharliePoole commented on #776
I'm closing this issue since the dependency problem seems to be because @ArsenShnurkov is treating NUnit 2.6.4 as the "same package" as NUnit 3.0, at least as far as I can understand the explanation. It's very likely that we still have other problems with the Linux build, but this particular issue isn't an actual bug but a difference in points of view.

[2015-08-18 12:18] #776 closed

[2015-08-18 17:15] sjwoodard commented on #464
It would make sense to be able to write a test like this:
`Assert.Throws<Exception>(async () => await obj.ThrowAsync());`

The easiest alternative I found was this, but I would much prefer to use async/await.
`Assert.Throws<Exception>(() => obj.ThrowAsync().Wait());`

3.0.0-beta-3 (NuGet)

[2015-08-18 17:28] StephenCleary commented on #464
The problem with `Assert.Throws<Exception>(async () => await obj.ThrowAsync());` is that it requires sync-over-async behavior. If you're unit testing ViewModels or other code that needs to run within a single-threaded context, then there's no way for NUnit to do sync-over-async and avoid deadlocks.

That's why I prefer `await Assert.Throws<Exception>(() => obj.ThrowAsync());` - it extends the asyn

[2015-08-19 07:57] constructor-igor opened #781 "Assert.That fails when compares int and enum with same values"
[code]

[code]

[2015-08-19 11:18] CharliePoole commented on #781
What happens if you simply cast the int to AssertEnumSample rather than using ToObject? What happens if you reverse the terms of the Asser.That?

[2015-08-19 11:34] ArsenShnurkov opened #782 "No sources for 2.6.4"
on page
http://www.nunit.org/index.php?p=download

they are here - https://github.com/nunit/nunitv2/releases
the archive - https://github.com/nunit/nunitv2/archive/2.6.4.tar.gz
released 2014-12-17

the last commit in master is 1b549f4f8b067518c7b54a5b263679adb83ccda4
from 2015-01-11

The absence of 2.6.4 on download page explains why 2.6.3 is latest in some distributions (which was one of mine ear

[2015-08-19 12:03] constructor-igor commented on #781
- test **passes** when add casting **(int)enumValue** ;
- test **fails** when reverse arguments in Assert.That

[2015-08-21 14:15] #737 closed

[2015-08-21 14:53] CharliePoole opened #783 "Package separately for Silverlight"
Based on some discussions around issue #760, we will remove Silverlight from the zip and nuget distributions and create separate packages. For now at least, we will leave it in the msi, since that is only produced on Windows machines.

Tasks:
1. Remove Silverlight from the binary NUnit zip package.
2. Remove Silverlight from the NUnit nuget package.
3. Remove Silverlight from the NUnitLite nuget p

[2015-08-21 14:57] CharliePoole opened #784 "Build Portable Framework on Linux"
## Updated Issue ##

Add portable framework to the Linux solution and document how to build it.

## Original Issue ##

Based on some discussions around issue #760, we will remove the portable build from the zip and nuget distributions and create separate packages. For now at least, we will leave it in the msi, since that is only produced on Windows machines.

Tasks:
1. Remove portable build from t

[2015-08-21 16:40] rprouse commented on #784
I understand the problems of packaging Silverlight and CF on Linux, but reading through the discussions, I don't see what the problem is with the PCL versions other than the paths might be wrong.

It is fairly common practice to include the PCL versions of assemblies in NuGet packages and not have separate versions for them. Don't the PCL libraries build on Linux?

[2015-08-21 16:48] CharliePoole commented on #784
Well, I wasn't sure about portable but I created the issues to force the comments I wasn't getting back on the email proposal. :-)

I haven't tried to build the PCL projects on Linux but I can unless you want to try - I can't remember if you have a Linux machine.  I'd much rather be able to build them and I agree that they make sense in a general distribution.

I have found some links that say Mon

[2015-08-21 17:07] #782 closed

[2015-08-21 18:44] #760 closed

[2015-08-21 18:53] rprouse commented on #784
I don't have a Linux box right now to test on, but I do know that MonoDevelop and Xamarin both support compiling PCLs. If it is a pain for you to test, I will dust off my linux laptop and get everything up to date. I probably should anyway :smile:

[2015-08-21 18:55] CharliePoole commented on #784
I can give it a try later - expecting company today. I'll just add the portable projects to the linux solution and see what happens.

[2015-08-21 18:56] rprouse commented on #784
If I get time, I will try too. I will let you know if I do to save you time.

[2015-08-21 18:57] CharliePoole commented on #784
I guess we could just create a branch and push it to see what Travis does.

On Fri, Aug 21, 2015 at 11:56 AM, Rob Prouse <notifications@github.com>
wrote:

[2015-08-21 20:50] rprouse commented on #784
I updated my linux box to the latest version of MonoDevelop (4.0.12) and Mono (3.2.8) available via apt-get on Ubuntu. I can create a portable project in MonoDevelop, but I cannot compile the blank project. It gives me the error "PCL Reference Assemblies not installed."

Microsoft opened the PCL reference assemblies for other platforms back in Oct 2013 (http://blogs.msdn.com/b/dotnet/archive/2013/

[2015-08-21 21:25] rprouse commented on #784
Okay, after copying the `.NetPortable` directory over to Linux and switching the ToolsVersion in the project files to 4.0 from 12.0, I was able to load the portable nunit.framework project and compile it.

[2015-08-21 23:26] CharliePoole commented on #784
So the remaining question is whether you can run tests, since the reference libraries need to point to something.

[2015-08-22 15:25] ArsenShnurkov commented on #782
Thanks.

[2015-08-23 16:43] CharliePoole commented on #283
Closing this as answered. We are using an error result until it doesn't work. :-)

[2015-08-23 16:43] #283 closed

[2015-08-23 20:43] CharliePoole commented on #713
@nunit/contributors @nunit/core-team @yetibrain
This won't go anywhere unless there are positive comments.

[2015-08-23 20:45] CharliePoole commented on #735
Either we should move this out of the beta or move #713 into it. Both should be in the same milestone.

[2015-08-24 11:58] constructor-igor commented on #713
@CharliePoole I agree with this proposal

[2015-08-24 14:34] rprouse commented on #713
I also agree with this proposal.

[2015-08-24 14:36] rprouse commented on #735
Move both out of beta 4?

[2015-08-24 15:17] CharliePoole commented on #735
I moved both of them to 3.0. Since they impact the XML format, they should probably be in the release.

[2015-08-24 16:59] rprouse opened #786 "Switch configuration files from XML"
Most of NUnit's current configuration files are XML formatted (the project file, settings, etc). XML files are excessively verbose for our needs and can be difficult and error prone to edit.

We've switched the addin configuration to a simple flat file which prompted us to consider switching the format of our other configuration files to a simpler format. A flat file probably won't work, but JSON

[2015-08-24 19:20] CharliePoole commented on #749
Closing this issue now that the initial implementation is done. There is more work to do on addins, but we'll use separate issues for the enhancements.

[2015-08-24 19:20] #749 closed

[2015-08-24 22:47] #757 closed

[2015-08-25 17:55] akoeplinger commented on #784
@rprouse the PCL Reference Assemblies are available if you install the latest Mono from the official Xamarin apt repositories: http://www.mono-project.com/docs/getting-started/install/linux/ (install the `referenceassemblies-pcl` package). Mono 3.2.8 as package in Debian/Ubuntu is quite old.

[2015-08-25 19:19] akoeplinger commented on #635
While it's true that Mono 4.0 dropped the 2.0, 3.5 and 4.0 assemblies for runtime, they are still available to compile against (i.e. they are reference assemblies without runnable IL) when Mono is installed via the official Xamarin repositories. It might not be worth the pain modifying the build when people can just use the official Mono instead of what the distro packages.

[2015-08-25 19:37] CharliePoole commented on #635
@akoeplinger The difficulty with developing a test application is that it has to support legacy stuff for a reasonable period of time, because users still have to test that stuff. So, my question is "Would that scenario support people who need to test 2.0-targeted apps under 2.0?

[2015-08-25 19:46] akoeplinger commented on #635
@CharliePoole not sure I follow completely, but yes you can compile a library against the 2.0 profile on Mono 4.0.

[2015-08-25 19:53] CharliePoole commented on #635
@akoeplinger So let's say we do that for the NUnit framework. Sombody installs NUnit on a machine that is using Mono 3.2.8 and uses it to run tests. Does that then work?

I ask because this seems different from building against a "real" (non-reference) assembly, but maybe that's because I haven't used them in this context before.

My experience with people working in IT (as opposed to startups and

[2015-08-25 20:02] akoeplinger commented on #635
@CharliePoole It is no different than building against a real assembly. In the end all that gets embedded in the IL when you reference an assembly is this:
[code]

[2015-08-25 20:13] CharliePoole commented on #635
That's good news. :-)

The bad news is if we want to support the scenario, we need to test it as well.

[2015-08-25 20:15] akoeplinger commented on #635
Well you can continue to run your tests on Mono 3.2.8 on Travis, that should give the most confidence ;)

[2015-08-25 20:57] CharliePoole commented on #635
Sure, but the most confidence would come from building under Mono 4 and then running under 3.2.8, in keeping with the principle that nothing is known to work unless you test it. :-) I doubt it's a real problem, however.

[2015-08-25 21:04] rprouse opened #789 "Test TimeoutTest.TestTimeOutCaseWithOutElapsed is failing randomly"
I am commenting out the test for the beta 4 release, we can investigate after the release.

**Update**

This test failed on CF when I was packaging beta 4. @CharliePoole couldn't reproduce, so thought it was fixed by recent changes. It then happened again on the Travis CI server for the .NET 4.5 build, so it is likely a very intermittent failure.

[2015-08-26 15:12] CharliePoole opened #790 "Allow Extensions to provide data through an attribute"
Currently, Extensions provide only the names of a Type and its containing Assembly. That means no information can be acquired by the engine without first loading the assembly and instantiating the type.

Mono.Addins, which we originally used, allowed the extension to provide data, via an attribute, to the ExtensionNode it created. The host application could examine that data without loading the as

[2015-08-26 15:18] CharliePoole opened #791 "Allow Extensions on Extensions"
Currently, it's possible to extend the engine but extensions may not have extensions, which was one of the capabilities provided by Mono.Addins. Such a capability would be generally useful to users and would most likely be used by us.

For example, we might want to make the ProjectService and extension, allowing us to deploy the engine either with or without that capability. [We now do that by usi

[2015-08-26 15:23] CharliePoole opened #792 "Implement Addin model for extensions"
The spec for Engine Addins identifies a model for more complex extensions that uses a Type derived from IAddin to actively create and register extensions, similarly to what we did in NUnit V2 addins.

We should investigate whether this is actually needed and, if so, implement it in a future release. If it isn't needed, we may identify further features that serve the same purpose of allowing the cr

[2015-08-26 15:29] CharliePoole opened #793 "Replace CoreEngine by use of Extensions"
If every feature of the full engine that is excluded by the core engine were made into an extension, we could eliminate the separate core engine build and simply deploy the engine without those extensions in situations we now use the core engine. This could also eliminate the need for any other engine builds, such as the mini-engine we have discussed for CF.

I'm marking this for the RC only to th

[2015-08-26 17:44] CharliePoole commented on #789
@rprouse I'm not getting an error when I remove the #if NETCF condition. My VS2008 is version 9.0.30729.1 SP and it's using the Windows Mobile 5.0 Pocket PC R2 emulator. How are you running and what error are you getting?

[2015-08-28 23:48] CharliePoole opened #794 "Make it easier to debug tests as well as NUnit itself"
In order to debug easily, it's necessary to do one of two things:

1. Run nunit-console under debug, specifying --process:Single so the test runs in process.

2. Attach to the agent while the test is running.

Generally, it's simpler to run in process when you can. However, it may not be possible if the test assembly needs to run under a different runtime from that used by NUnit. So we need to hav

[2015-08-31 04:33] chris-smith-zocdoc commented on #304
@CharliePoole How far did you get in extracting the minimum feature set for parallel execution? Anything I can help out with?

[2015-08-31 14:14] constructor-igor commented on #275
I investigated the issue and found next:
When we work with "object", seems, in general case, we cannot find relevant IEquatable method.
Also "listA.SequenceEqual(listB)" fails when collection declared via "object".
So, I am not sure, if the issue can be "solved" in general case.

test fails
[code]
but test passes
[code]
where interfaces and objects declared next:
[code]

[2015-08-31 14:19] constructor-igor commented on #275
FYI
sources of **SequenceEqual** method:
[code]

[2015-09-01 12:24] jho1965us opened #795 "TestDetails"
Access to SetupFixtureAttribute annotated class instance should be available from methods in attribute class that implements ITestAction most likely as a member of TestDetails
This is not the case in 2.6.4

Motivation: some times you want some shared data in your SetupFixture currently you are forced to make this static

As a workaround for I attempted to store the SetupTestFixture class instance

[2015-09-01 12:46] jho1965us opened #796 "`TestContext.CurrentContext.Test.Properties` from TestFixture should be available from `TestContext` for Test"
`TestContext.CurrentContext.Test.Properties` from TestFixture should be available from `TestContext` for Test. Probably in an new member TestContext.CurrentContext.TestFixture.Properties

[2015-09-01 14:06] constructor-igor commented on #275
As I understand, the issue cannot be solved: when nunit compares 2 objects it related to them as to "object" and, in general case, cannot select **Equals()** method.

[code]

[2015-09-01 14:08] CharliePoole commented on #796
This issue is similar to #548, which relates to individual cases accessing properties of the method.

In general, NUnit is designed to keep tests as separate as possible. This includes tests like TestFixtures, which contain other tests.

That said, many properties are of a nature that they should probably be passed down to or inherited by the lower level tests. The problem for NUnit is that proper

[2015-09-01 14:16] CharliePoole commented on #795
TestDetails is a class in NUnit 2.6.4, which doesn't exist in NUnit 3.0. Instead, the attribute is passed an ITest instance, which should allow full access to the parents of the test.

I think the new design covers what is asked for here, so I'm closing this issue. Let us know if you see any further issue with the new design.

[2015-09-01 14:16] #795 closed

[2015-09-01 14:21] CharliePoole commented on #275
Actually, although NUnit passes arguments as objects it doesn't simply call methods on Object in the implementation. We are able to examine the actual type of the objects passed and either cast it (if it's a well-known type) or use reflection. We currently use reflection to solve this problem as shown in my much earlier comment. We are apparently not doing a good enough job in complex cases.

So,

[2015-09-01 14:44] constructor-igor commented on #275
In my test, class **public class ObjectEquatable : IObjectEquatable1, IObjectEquatable2** implements 2 interfaces **IEquatable<IObjectEquatable1>** and **IEquatable<IObjectEquatable2>** with 2 methods **bool Equals(IObjectEquatable1 other)** and **bool Equals(IObjectEquatable2 other)**.

In the case, how nunit can select what **Equals** to call?

[2015-09-02 04:57] CharliePoole commented on #275
You may be right. I would have to spend some time to know for sure and I don't have it right now. :-(

Just off the top of my head, I believe the current code only handles situations where one object implements IObjectEquatable<T> with T being the exact type of the other object. We would have to recurse to all impmemented interfaces for your example to work.

[2015-09-02 10:34] constructor-igor commented on #476
I checked the scenario in 3.0Beta4 and cannot reproduce reported issue (see details below).
Probably, could you help me actual problem?

Details:
[code]
and can inform that NUnit3 Test Adapter executes 2 tests:

![image](https://cloud.githubusercontent.com/assets/1849690/9628841/fa79286e-5176-11e5-9b4d-d0ae8ea676a5.png)

Also nunit command line executes the 2 tests:
[code]

[2015-09-02 16:43] CharliePoole commented on #476
In that case, I think you have eliminated one bug! :-)

[2015-09-02 16:43] #476 closed

[2015-09-02 17:00] CharliePoole commented on #789
@rprouse Still waiting to hear from you on this.

[2015-09-02 17:13] rprouse commented on #789
@CharliePoole, sorry I forgot :-1:

I ran the tests in Pocket PC 2003 SE Emulator and the error is,

[code]

[2015-09-02 17:38] CharliePoole commented on #789
Thanks Rob, I'm in full flight on a different issue right now, but I'll
come back to it and retest using that emulator.

On Wed, Sep 2, 2015 at 10:13 AM, Rob Prouse <notifications@github.com>
wrote:

[2015-09-03 03:26] pmadhuyadav opened #798 "Nunit - 3.0 release date"
Hi,

Can i know the expected date for nuint 3.0 complete release

[2015-09-03 11:23] rprouse commented on #798
The planned release date was an RC at the end of September and a final release mid October. We are running a bit behind, but it will be this fall.

[2015-09-03 11:24] #798 closed

[2015-09-03 18:54] rprouse commented on #558
Interestingly, I am no longer seeing this warning, even with new builds of the install. I assume it is because the NUnit installer has been recognized as safe, or maybe because I allowed it in the past?

[2015-09-03 18:59] rprouse commented on #9
I have renamed this to include the Android and iOS Xamarin runners and will close the iOS specific issue as a duplicate. I have made good progress on the Xamarin runners this week in the https://github.com/nunit/nunit.xamarin repository.

[2015-09-03 19:00] rprouse commented on #1
Marking this as a duplicate of #9 and closing.

[2015-09-03 19:00] #1 closed

[2015-09-03 19:02] rprouse commented on #28
Windows Phone 7 is pretty much done, support should be for Windows phone 8 or 8.1 or possibly soon for Windows 10 Universal. I am renaming this to just Windows Phone.

[2015-09-03 19:24] CharliePoole commented on #28
Yeah, that and the issue # show it's been around for a while.

[2015-09-03 19:26] CharliePoole commented on #558
Unless somebody else is still seeing it, I think we could close this.

[2015-09-03 19:36] rprouse commented on #784
@akoeplinger, thanks for the update. Even more reason to close this issue without action :+1:

[2015-09-03 19:42] CharliePoole commented on #784
Do we want to close this and make a new issue or just change it to say "Make portable build work on Linux"?

[2015-09-03 19:46] rprouse commented on #784
I vote for make Portable build work on Linux with a 3.2 milestone. I got it
working and have a branch for it, I just don't want to commit it because
the versions of Mono on Ubuntu are currently so far behind that your
average user would need to jump through hoops. I think we should wait a bit
on this.

On 3 September 2015 at 15:43, CharliePoole <notifications@github.com> wrote:

--

Rob Prouse

I

[2015-09-03 19:57] rprouse commented on #717
This is an NUnit 2.6.x issue. Without more information, we can't verify if it is still happening in NUnit 3. Can you provide a minimal example that reproduces the problem?

[2015-09-03 20:01] rprouse commented on #729
As an alternative, we could also provide the MD5 hash for any packages that we release.

[2015-09-03 20:02] rprouse commented on #733
@kleinerl, can you update us on if this is still happening?

[2015-09-03 20:03] rprouse commented on #733
@kleinerl, I am closing this issue. If it is still happening, please provide more information and we can re-open it.

[2015-09-03 20:03] #733 closed

[2015-09-03 20:04] akoeplinger commented on #784
Please note that I don't think the reference assemblies will ever be packaged in Ubuntu/Debian as they don't have source code (just the DLLs). You'll likely always need to rely on the Xamarin repository for this, which frankly should be preferred in almost all cases for installing Mono anyway.

If someone wants to build NUnit on Linux requiring a current Mono doesn't seem too bad to me. Running sh

[2015-09-04 21:08] pjmagee opened #799 "Why was ExpectedExceptionAttribute removed?"
I don't see a great benefit from removing this functionality in the next version of NUnit. Now for what used to look like clear simple methods, now have to be wrapped inside an Action

[code]

When before if you had a lot of simple tests the `[ExpectedExceptionAttribute]` was enough.

[2015-09-05 02:05] rprouse commented on #799
`ExpectedException` was removed because it encourages bad practices and it was generally felt that removing it helped developers fall into the [pit of success](http://english.stackexchange.com/questions/77535/what-does-falling-into-the-pit-of-success-mean).

The `ExpectedException` attribute is only really safe if there is one line of code in your test method or the other lines cannot possibly thr

[2015-09-05 02:05] #799 closed

[2015-09-05 02:43] rprouse commented on #736
I am closing this issue without action. I tested by modifying our C++ mock test assemblies to access a native nullptr and we handled the error correctly. As I suspected, we do not handle the native `assert` method which is to be expected since it breaks immediately. I change the code to the following and reproduced a similar error as expected.

[code]

The `ExecutionEngineException` in the one scr

[2015-09-05 02:43] #736 closed

[2015-09-05 06:06] CharliePoole commented on #575
PR #797 has now eliminated the user of MemberInfo.ReflectedType from the framework code, eliminating one obstacle to a CoreCLR build.

[2015-09-05 18:32] rationull commented on #681
Do you think a setting in the test assembly's .config file would be an appropriate place for this, given the problems with using an assembly reference?

[2015-09-05 20:08] CharliePoole commented on #681
Since NUnit 3.0 now pre-loads assemblies using Mono.Cecil, it's likely we could use an assembly attribute in the fix.

[2015-09-06 04:19] rationull commented on #681
Thanks for pointing that out, looks promising!

[2015-09-07 02:42] rationull commented on #681
Interestingly, I noticed that when running with --domain=NONE this assembly resolution problem does not occur. I haven't figured out why yet, since the default AppDomain's base directory should not allow the referenced assembly to be resolved -- however both the test assembly and its referenced assembly are clearly loaded into the nunit agent process after the test is run (verified with Process Ex

[2015-09-08 07:14] constructor-igor commented on #799
@pjmagee Next resharper plugin can help to migrate from NUnit v2 to NUnit v3
https://github.com/constructor-igor/NUnit.That.Resharper.Plugin

[2015-09-08 13:36] rprouse commented on #784
I have renamed this to adding the portable build to the Linux solution and documenting how to build it including updating Mono on Debian/Ubuntu based systems. I have taken ownership because I already have a branch for this on my Linux box.

[2015-09-08 13:43] rprouse commented on #41
PR #127 might have fixed this. We should make sure there is a unit test and close if it is fixed.

[2015-09-08 13:47] rprouse commented on #514
Confirm in 3.0RC, but possibly move to 3.2 or Future.

[2015-09-08 13:54] rprouse commented on #695
Moving to 3.0RC for confirmation, we may move out based on our investigation.

@ralu-d, can you provide a link to the StackOverflow question so we can follow that discussion too?

[2015-09-08 13:56] rprouse commented on #717
@omer727, we haven't heard back from you so we are closing this issue. If you haven't solved your problem, feel free to ask us here to reopen the issue.

[2015-09-08 13:56] #717 closed

[2015-09-08 13:58] rprouse commented on #771
Moving to 3.0RC for confirmation. We may change the milestone based on the results of our investigation.

[2015-09-08 14:33] rprouse commented on #573
I used your example code on a Mac running mono 4.0.3 and the latest version of NUnit 3.0 and can confirm that this issue is fixed in 3.0.

[code]

I also tried the command line above.

Since this is fixed in 3.0 and won't be putting out new releases for the 2.6.x stream, I am closing this issue.

[2015-09-08 14:33] #573 closed

[2015-09-08 16:07] rprouse commented on #784
For the docs, http://www.monodevelop.com/download/linux/

[2015-09-08 16:24] a-scher opened #801 "NUnit calls Dispose multiple times"
NUnit calls Dispose after each test with TestCase/TestCaseSource/Values attributes.

[code]

[2015-09-08 16:50] CharliePoole commented on #801
That's a feature! :-)

If you derive your fixture from IDisposable, that tells NUnit to dispose of
each fixture it creates, that is, one for each test case.
On Sep 8, 2015 9:24 AM, "yascher" <notifications@github.com> wrote:

[2015-09-08 19:59] rprouse commented on #789
Interesting, I got the exact same failure running on Travis for .NET 4.5 today. Maybe a timing related error? I am going to re-open and rename, but probably a very low priority if it fails so infrequently.

From Travis,

[code]

[2015-09-08 20:34] rprouse commented on #789
I have now seen this 4 times on Travis today while pushing other changes. I am going to up the priority back to normal because it is happening very regularly there. Interestingly, I have only seen it on Travis, not on my Linux box.

[2015-09-09 10:43] rprouse commented on #41
PR #127 does fix this, closing.

[2015-09-09 10:43] #41 closed

[2015-09-09 11:04] rprouse commented on #695
I have tested this using NUnit 3 and PsExec works fine. I did have to specify the working directory on the command line, otherwise the test result file was trying to write to C:\Windows\System32 and got an access denied.

The command line I used to test this is,

[code]

I am closing this issue. @ralu-d, if you can get back to us with reproducible steps, then we can re-open this issue.

[2015-09-09 11:04] #695 closed

[2015-09-09 11:17] rprouse commented on #695
@ralu-d, I noticed after I closed this issue that the problem was running PsExec through a scheduled task so I tested that also. I created a batch file to run the above command and scheduled it. It also ran fine.

It might be a problem with the user you are running the scheduled task as (not the user you are switching to) or it could be a bug in NUnit 2.x which we won't fix since it is working in

[2015-09-09 15:58] a-scher commented on #801
I think, NUnit should dispose fixture only once after all tests are completed, but NUnit calls Dispose after each parameterized test method.

[2015-09-09 18:14] rprouse commented on #794
I think that --debug having the same options as --process, but --process being able to override is confusing. I would prefer --debug to have no options and respect either the default process or the --process command line.

I also think that --debug should set the --workers to 1 so that it is single threaded. That can be overridden on the command line.

The simplest option is to just call Debug.Bre

[2015-09-09 18:33] rprouse commented on #794
I've been playing with `Debugger.Launch()` and it seems to be more reliable than I thought it was. It allows you to pick a running instance of Visual Studio and override which debuggers get attached. It isn't as seemless as the Visual Studio automation code that MbUnit used which automatically selected and attached to the running instance, but I think it is good enough and probably more reliable.

[2015-09-09 21:02] CharliePoole commented on #801
I misunderstood you. Yes, NUnit disposed of a fixture only once. Do you have a case where it triedto do it more than once?

Your example only has one test case.

[2015-09-09 21:54] rprouse commented on #801
I have rewritten the test and reproduced the behavior, although the issue isn't that `Dispose` is being called for each `TestCase`, it is just incorrectly always getting called twice.

This is my sample code,

[code]

I put a breakpoint in the constructor, the test and the dispose. The constructor is called once and the test is called 4 times. The dispose however is called twice on the same object

[2015-09-09 21:55] rprouse commented on #801
I have assigned to the next milestone and assigned to myself. Thanks for the report, good catch @a-scher.

[2015-09-10 04:22] rationull commented on #681
For reference [this StackOverflow post](http://stackoverflow.com/questions/17993010/dlls-loaded-from-wrong-appplicationbase-when-trying-to-load-mixed-c-sharp-and-c/18499944#18499944) seems to cover the same problem and says of the behavior "This appears to be a bug in .NET 4.5." I'm not sure I'd go that far since the stack traces on the repro seem pretty intentional (LanguageSupport::InitializeDef

[2015-09-10 16:59] CharliePoole commented on #794
I agree. I've been using Debugger.Launch myself and it takes care of a lot
of stuff for us. The key issue is whether we need to do something different
for debugging tests versus debugging NUnit. I'll try to do it with one,
but, if necessary, we can even have a special option for NUnit development,
possibly undocumented.

Charlie

On Wed, Sep 9, 2015 at 11:33 AM, Rob Prouse <notifications@github.co

[2015-09-12 19:18] CharliePoole commented on #794
@rprouse Any particular reason you prefer workers:1 to workers:0?

[2015-09-13 22:59] rprouse commented on #30
@aschlapsi, I assume you haven't made any progress on this. Let me know or I am going to remove you as the assignee to give someone else a chance to work on it. Thanks.

[2015-09-13 23:42] rprouse commented on #522
I have confirmed that this is happening in the latest release of NUnit 3.

[2015-09-14 01:12] #689 closed

[2015-09-14 02:28] rprouse commented on #9
@CharliePoole, I am nearly at a point where I would like to release an initial beta of the Xamarin runners. I just want to merge the outstanding pull requests and maybe consider different version numbers than the framework the runners are currently tied to. Are you OK with that?

[2015-09-14 04:20] CharliePoole commented on #9
@rprouse Yes, I'm OK with that. I think getting some feedback would be helpful.

Be sure to indicate in the release what beta of the framework is used.

[2015-09-14 15:26] #801 closed

[2015-09-14 16:12] rprouse commented on #522
The workaround to get this working is to set `TypeFilterLevel.Full`, the default level is `Low` which is causing the error you are seeing. See this [MSDN article](https://msdn.microsoft.com/en-us/library/5dxse167%28v=vs.80%29.aspx?f=255&MSPPError=-2147217396) for more information.

The modified version of your example code that works is;

[code]

Since the workaround is fairly simple and arguably

[2015-09-14 16:12] #522 closed

[2015-09-14 21:31] aschlapsi commented on #30
I haven't made any progress on this. I remove myself as the assignee.

[2015-09-15 01:36] CharliePoole commented on #304
@chris-smith-zocdoc Just getting back to this after focusing on other stuff for a while. I'll let you know.

[2015-09-15 16:52] rprouse commented on #794
Completed with PR #808

[2015-09-15 16:52] #794 closed

[2015-09-15 16:56] rprouse commented on #514
@fcoulombegoogle says that he hasn't seen this in awhile and we have no information on how to reproduce, so I am going to close this issue. If someone has reproducible steps to demonstrate this issue, we can reopen.

[2015-09-15 16:56] #514 closed

[2015-09-15 16:59] CharliePoole commented on #514
@rprouse I generally remove bugs that are closed in any way other than closed:done from the milestone, so they don't show up in the statistics.

[2015-09-15 17:33] kostix opened #809 "[OneTimeSetUp] does not run if [TestFixture] does only contain [Theory]-s and no [Test]s"
The problem manifests itself if:

* There's a class marked with `[TestFixture]` which contains:
    * A method marked with `[OneTimeSetUp]`
    * A method marked with `[DatapointSource]`
    * A method marked with `[Theory]` (matching that datapoint source method)
* This text fixture class does *not* contain any method marked as `[Test]`.

In this case, the theory is attempted to be proven by exec

[2015-09-15 17:37] kostix commented on #809
I'm running NUnit 3.0.5674.19278 under .NET 4.0 on 32-bit Windows XP SP3.
I think that's NUnit 3.0.0 beta3.

[2015-09-15 18:17] CharliePoole commented on #809
@rprouse I think this could be related to a bug you just fixed, so I assigned it to you.

[2015-09-15 18:44] rprouse commented on #809
@CharliePoole, I will look at this next.

[2015-09-16 20:06] CharliePoole commented on #304
Well, I just spent a bunch of time trying to make the approach I wanted to use - based on synchronization primitives - work across processes. It works fine otherwise, but cross-process is exactly the case we need. I can see a way to make it work across processes, but that will burden the non-cross-process case with a lot of overhead.

@chris-smith-zocdoc It turns out that the approach you original

[2015-09-16 21:54] rprouse commented on #809
@kostix, I tested this with a simplified version of your code. I am pretty sure that this shows that the issue is fixed in the current codebase. Can you see anything wrong with my version of the code or with PR #810?

[code]

[2015-09-16 22:33] MainMa opened #811 "The bindingRedirect prevents the assembly from being loaded"
I'm working on [MockEverything](https://github.com/MainMa/mockeverything) project and am facing a strange problem which manifests itself with NUnit, but not when running a similar test using Visual Studio Unit Testing Framework.

The goal of the project is to be able to tamper third-party assemblies when running unit tests. The [NUnit example](https://github.com/MainMa/mockeverything/tree/master/M

[2015-09-16 22:36] MainMa commented on #811
The issue is reproduced by running NUnit-Console version 2.6.4.14350.

[2015-09-16 23:11] CharliePoole commented on #811
What are the relative locations of NUnit-Console, your tests and the modified System.dll?

[2015-09-17 00:08] MainMa commented on #811
- The location of NUnit-Console is the default one (C:\Program Files (x86)\NUnit 2.6.4\bin\nunit-console).

- The test assembly (MockEverythingExample1.TestsWithNUnit.dll), its corresponding configuration file (MockEverythingExample1.TestsWithNUnit.dll.config) and the tampered assembly (System.dll) are all stored in the project `/bin/Debug` directory (which is also the current directory in command

[2015-09-17 00:18] CharliePoole commented on #811
That's all as it should be. The next question that comes to mind is "Who is trying to load it and in which AppDomain?" Have you looked at the Fusion log?

[2015-09-17 08:35] MainMa commented on #811
I tried to reproduce the issue with the latest console runner (3.0.5738), and can confirm that the test runs successfully. I suppose that only 2.6.* version is affected.

As for your question, it looks like the actual runner tries to load the assembly and fails. In all cases, it happens *before* the actual test code is called, and even before calling the method decorated with `[SetUp]` attribute.

[2015-09-17 12:31] appel1 opened #813 "ThrowsConstraint behavior inconsistent for async delegates"
ThrowsConstraint behaves differently depending on whether the exception is thrown directly by the method under test or returned as part of the resulting Task.

[code]

[2015-09-17 13:02] appel1 opened #814 "Support nullable types with TestCase"
For convenience it'd be nice if TestCase supported nullable types so you could have for example a DateTime? parameter instead of having to use TestCaseSource.

[code]

[2015-09-17 13:30] darthKwisatzHaderach opened #815 "Ignore attribute not work properly with TestCase attribute"
Hi,

I have six test cases. I want to ignore two of them. When I do it as described below, I get error "Duplicate Ignore attribute.

	[TestCase("03/03/20166"), Ignore("PRX-1000")]
	[TestCase("03 03/2016"), Ignore("PRX-1000")]
	[TestCase("0303/2016")]
	[TestCase("033/03/2016")]
	[TestCase("03/033/2016")]
	[TestCase("03/03/201")]
	public void InvalidDeadlineDateFormat(string dateFormat) {}

I am not

[2015-09-17 13:44] rprouse commented on #811
@MainMa, thanks for confirming that this is no longer an issue in 3.0. I am going to close this issue because we will not be making any additional 2.6 releases and 3.0 will be out very soon.

If you want to see the 2.6 source code, it is here on GitHub at https://github.com/nunit/nunitv2. As I said though, there won't be another release unless we find some serious errrors.

[2015-09-17 13:44] #811 closed

[2015-09-17 13:57] rprouse commented on #815
Sounds like a bug to me :)

[2015-09-17 14:38] chris-smith-zocdoc commented on #304
@CharliePoole :( Well that's unfortunate. Could you explain the cross-process issue you ran into and what your potential solution would be?

Do you have a branch that exhibits the cross-process issue? I wouldn't mind playing around with it and trying to find an alternative to make it work.

[2015-09-17 14:57] darthKwisatzHaderach commented on #815
The same situation with NUnit 2.6.4.14350

[2015-09-17 15:33] CharliePoole commented on #304
The issue is that ManualResetEvent doesn't work cross process. I could make it a named EventWaitHandler instead, and put the name into the AsyncTestResult but that would be overkill for the inprocess waits.

Nope. I think you had the right approach at the start and that's what I used, making other changes but copying a lot of your code. There's now a PR waiting for review so you can take a look.

[2015-09-17 15:45] CharliePoole commented on #815
Actually, it's not a bug, but I'll warrant it's confusing. Here is what happens:

The textual layout of your attributes means nothing to .NET. When you use
   [TestCase("03/03/20166"), Ignore("PRX-1000")]
   [TestCase("03 03/2016"), Ignore("PRX-1000")]
   [TestCase("0303/2016")]
it's just the same as
   [TestCase("03/03/20166")]
   [Ignore("PRX-1000")]
   [TestCase("03 03/2016")]
   [Ignore("PRX-1

[2015-09-17 15:46] #815 closed

[2015-09-17 15:47] rprouse commented on #815
@CharliePoole, good catch, I totally missed the fact that the Ignore wasn't inside the TestCase.

[2015-09-17 15:49] CharliePoole commented on #814
I put this into the RC on the premise that it's a trivial change. If I'm wrong, we should move it to 3.2.

[2015-09-17 15:51] darthKwisatzHaderach commented on #815
Thanks for the detailed explanation!

[2015-09-17 15:53] CharliePoole commented on #813
This is closely related to #464

[2015-09-17 20:58] #304 closed

[2015-09-19 18:15] rprouse commented on #275
I have renamed this issue based on the fact that it has nothing to do with CollectionAssert, it is comparing an IEquatable<T> where the T being compared is derived from T.

[2015-09-19 18:20] oznetmaster opened #818 "Possible error in Merge Pull Request #797"
In src\NUnitFramework\\Internal\Execution\CommandBuilder.cs:

		/// <summary>
		/// Builds the set up tear down list.
		/// </summary>
		/// <param name="fixtureType">TypeInfo of the fixture.</param>
		/// <param name="setUpType">Type of the set up attribute.</param>
		/// <param name="tearDownType">Type of the tear down attribute.</param>
		/// <returns>A list of SetUpTearDownItems</returns>
		pu

[2015-09-19 18:27] rprouse commented on #818
The XMLDoc is wrong, I pushed a fix.

[2015-09-19 18:30] rprouse commented on #809
Closing based on PR #810

[2015-09-19 18:30] #809 closed

[2015-09-19 19:57] #818 closed

[2015-09-19 19:59] #275 closed

[2015-09-19 20:32] oznetmaster opened #821 "Wrapped method results in loss of result information"
The new MethodWrapper is not being properly handled when an error occurs in a TestCaseSource test.

For example, the RunTests test in Internal.AsyncTestMethodTests reports:

"RunTests(Nunit.Framework.Internal.MethodWrapper, Failed:Invalid,0)",

instead of reporting the actual method name that failed.

[2015-09-19 21:09] oznetmaster opened #822 "Test for Debugger in NUnitTestAssemblyRunner probably should not be in CF build"
Even though it compiles, I am not sure what it would actually do.

Probably should be conditioned out for CF build.

[2015-09-19 23:12] CharliePoole commented on #822
Do you mean this code?

if (!System.Diagnostics.Debugger.IsAttached &&
   Settings.Contains(PackageSettings.DebugTests) &&
   (bool)Settings[PackageSettings.DebugTests])
   {
      System.Diagnostics.Debugger.Launch();
   }

On Sat, Sep 19, 2015 at 2:09 PM, Neil Colvin <notifications@github.com> wrote:

[2015-09-20 00:58] oznetmaster commented on #822
Yes.

[2015-09-20 01:02] rprouse commented on #789
@CharliePoole, my latest theory on this is that it happens on single core machines, thus the Travis and CF failures, but not on our machines. While debugging the test, I noticed that as I was stepping through `WorkItem.RunTestOnOwnThread()`, each of the two `TestCases` was stepping through at the same time and nearly in lock step.

My theory is that on a single core machine, we default to two chil

[2015-09-20 01:13] rprouse commented on #789
I stepped through the code at a slightly higher level and `CompositeWorkItem.RunChildren` is definately creating a new thread for each of the child test cases and I don't see any code in there that respects `WorkItem.IsParallizable`. I assume this is a bug that this code is running TestCases in parallel without a way to turn it off?

[2015-09-20 03:05] CharliePoole commented on #789
Definitely sounds like it. It could be an experiment that I mistakenly
checked in.

On Sat, Sep 19, 2015 at 6:13 PM, Rob Prouse <notifications@github.com>
wrote:

[2015-09-20 11:04] oznetmaster opened #823 "Strange behavior in CF build after pull request #800 (issue 789)"
This test was originally conditioned out of the CF build.  It was put back in in the merge.

It fails in my CF build in a strange way:

9) Failed : NUnit.Framework.Attributes.TimeoutTests.TestTimeOutTestCaseWithOutElapsed
  Expected: `<Failed>`
  But was:  `<Failed:Cancelled>`
at NUnit.Framework.Attributes.TimeoutTests.TestTimeOutTestCaseWithOutElapsed()

[2015-09-20 11:09] oznetmaster commented on #701
This is basically what I am doing in a small way with my CF builds.  "Server" runs on CF device, and queues request from PC to run tests on the device (which run independently from the server).

[2015-09-20 11:12] oznetmaster commented on #823
Sorry, should have attached this to issue #789 :(

[2015-09-20 11:17] oznetmaster commented on #823
Aside from putting this in the wrong place, isn't the error itself a bit strange?

Shouldn't it be

9) Failed : NUnit.Framework.Attributes.TimeoutTests.TestTimeOutTestCaseWithOutElapsed
  Expected: '<Failed:Cancelled>'
  But was:  '<Failed>'
at NUnit.Framework.Attributes.TimeoutTests.TestTimeOutTestCaseWithOutElapsed()

[2015-09-20 11:22] oznetmaster commented on #823
How can the specific TestCase which is failing be determined?

It does not seem to be available in the results.

Should it be?

[2015-09-20 12:48] oznetmaster opened #824 "Remove unused System.Reflection using statements"
With the introduction of the wrappers for Type, Method, etc.., there are many source files that now reference System.Reflection but do not use any of the classes in that namespace.

Does it make sense to clean these references up before release?

[2015-09-20 13:36] rprouse commented on #823
I am going to close this issue as a duplicate of #789

[2015-09-20 13:36] #823 closed

[2015-09-20 13:37] rprouse commented on #824
Yes we should clean it up, but I don't think it needs to be done before the release since it has no effect on the resulting code that is compiled.

[2015-09-20 13:38] rprouse commented on #824
I moved out to 3.2, but if someone wants to knock it off before, go for it and we can move it into the appropriate milestone.

[2015-09-20 13:42] rprouse commented on #822
Is having this code in the CF build harmful? I assume that it won't get called, so no harm no foul. It would be interesting to test if you could use it to attach a remote debugger. Doubt it, but it would be cool if we could.

[2015-09-20 13:43] oznetmaster commented on #789
Closing my issue removed the second part, which is the seeming erroneous error message itself:

Isn't the error itself a bit strange?

Shouldn't it be

9) Failed : NUnit.Framework.Attributes.TimeoutTests.TestTimeOutTestCaseWithOutElapsed
Expected: <Failed:Cancelled>
But was: <Failed>
at NUnit.Framework.Attributes.TimeoutTests.TestTimeOutTestCaseWithOutElapsed()

[2015-09-20 13:43] oznetmaster commented on #789
Also lost was the followup (perhaps should be a separate issue?):

How can the specific TestCase which is failing be determined?

It does not seem to be available in the results.

Should it be?

[2015-09-20 13:45] oznetmaster commented on #822
Not harmful, since on inspection, the actual options and package settings are not in the CF build, so it cannot be invoked.

However, since the options are conditioned out of the CF build, then the code seemingly should be as well.

A remote debugger cannot be attached by the CF device.

[2015-09-20 13:46] rprouse commented on #784
Closed with PR #802 and PR #803

[2015-09-20 13:46] #784 closed

[2015-09-20 13:50] rprouse commented on #789
The error that is being reported is because we are not reporting on the test being run, but on the overall result of the run. Also, the individual results should be available as child results of the results. I would need to step through and double check though :smile:

[2015-09-20 14:15] rprouse commented on #789
I believe this is happening because _topLevelWorkItem is null in `SimpleWorkOrderDispatcher.Dispatch(...)`. @CharliePoole, shouldn't it be set to the CompositeWorkItem that represents the parent paramterized test suite?

[2015-09-20 14:20] rprouse commented on #789
Actually, looking at this again, I think that the two `TestCases` being run in parallel is just a symptom of the fact that we are running the test method, not running a suite. We pass the test method into the `TestBuilder.RunTest` call, so the context is not setup the same was as if we were running an entire suite or even a fixture.

I guess this could still be an issue if the user specifies a sin

[2015-09-20 14:21] CharliePoole commented on #789
No, it should be set to the topmost item in the entire test run. This is
probably a second level test being run individually.

I'm on my phone so I'll have to check later.
On Sep 20, 2015 7:15 AM, "Rob Prouse" <notifications@github.com> wrote:

[2015-09-20 15:35] CharliePoole commented on #789
@oznetmaster What did you think the message should be? You apparently included angle brackets in the text, so it is being deleted here... Put the message within markdown "fences" (```) or replace the brackets with html entities.

[2015-09-20 15:51] CharliePoole commented on #789
@rprouse Looking at the test, I don't understand why we expect the result to be Failed:Cancelled. I would think that the suite should be failed, since it contains a failed test method. And yet, it is passing at least some of the time. This may be an artifact of how TestBuilder, which we only use for running second-level tests, runs test methods.

There's a weird construction in TimeoutFixture.cs,

[2015-09-20 16:00] CharliePoole commented on #789
@oznetmaster Never mind... it's clear in #823. The result of the overall suite should, IMO be Failure, not Cancelled. The two individual tests should Succeed and Fail, respectively. Probably, each assert should have a message to make it clear what failed.

[2015-09-20 16:02] CharliePoole commented on #789
@rprouse The apparent parallelism could be because you are looking at a test that runs a second-level test. You may want to change some names so that it's less confusing.

[2015-09-21 05:17] CharliePoole commented on #822
I thought that perhaps it would work with an emulator, but I tested and found out it doesn't. The code should be conditioned out under CF.

[2015-09-21 14:55] #821 closed

[2015-09-21 18:53] rprouse commented on #790
Is this issue done now with PR #816?

[2015-09-21 18:54] #790 closed

[2015-09-21 18:56] CharliePoole commented on #790
Yes. I just closed it.

On Mon, Sep 21, 2015 at 11:53 AM, Rob Prouse <notifications@github.com>
wrote:

[2015-09-21 19:28] CharliePoole opened #826 "Randomizer uniqueness tests fail randomly!"
We have a number of tests of our random generator that fail
intermittently. This is due to the fact that we generate 10 values and
expect some number (usually 8) of unique results. When we generate
bytes and characters, this is occasionaly exceeded.

These are basically "smoke tests" so they don't test the distribution
of values at all. The bar does not have to be very high for these tests.

I'm c

[2015-09-21 20:48] #826 closed

[2015-09-21 21:52] oznetmaster opened #828 "Merge pull request #827 (issue 826)"
The XML doc introduces a param "unique" while the actual param is "targetCount".

[2015-09-22 00:42] CharliePoole commented on #789
The problem is definitely in the test code rather than NUnit. See PR #829 which ignores the test temporarily.

[2015-09-22 00:49] rprouse commented on #789
Commented out in PR #829, see the comment there. I am moving this out to post-3.0 since it doesn't really block the release.

[2015-09-22 00:49] rprouse commented on #828
Fixed by PR #829

[2015-09-22 00:49] #828 closed

[2015-09-22 01:09] oznetmaster commented on #789
Just want to note that it fails 100% of the time in the CF build.

[2015-09-22 02:16] CharliePoole commented on #702
After some discussion, we have decided to keep NUnitLite referencing a specific version of the framework.

[2015-09-22 02:16] #702 closed

[2015-09-22 04:11] CharliePoole commented on #451
As written, this issue asks for a general NUnitLite capability to cancel the run. Such a capability is already in existence in the framework.

NUnitLite runners that expose a user interface while the test is running are already able to stop the run, provide that the UI is active while the test runs. Other runners, such as those that are based on a console display that runs the tests synchronously,

[2015-09-22 04:11] #451 closed

[2015-09-22 04:13] CharliePoole commented on #344
After review, we have decided to keep NUnitLite as simple as possible. Running multiple assemblies will requier use of a runner that makes use of the test engine. This is in constrast to NUnitLite, which is intended to run a single test assembly without use of the engine.

[2015-09-22 04:16] CharliePoole commented on #789
@oznetmaster Also in .NET 4.5. See comment in PR #829.

[2015-09-22 04:33] CharliePoole commented on #533
NUnitLite is becoming solely a component for use by self-executing assemblies. For that reason, features __not__ related to AutoRun will be removed.

[2015-09-22 08:01] oznetmaster commented on #533
I have a real problem with this.  Since the engine does not support CF, this will effectively eliminate any CF devices that have consoles from being able to have console control of their NUnit tests.

I have no problem with this taking place once there is a usable "engine" or equivalent for CF builds that will allow console control (and remote control as well), but to make this change before then

[2015-09-22 10:42] remcomulder opened #830 "Add ability to report test results synchronously to test runners"
With the madness of the new VS release now receding to manageable levels, I’ve been working on integrating NCrunch with NUnit3.

I’m happy to say that so far progress has been good.  I now have a prototype adapter that can discover tests and execute them using NUnit’s FrameworkController.  With the XML reporting of results and the engine living inside NUnit.Framework, it’s looking like I’ll be abl

[2015-09-22 14:11] roji commented on #575
+1 to this, having NUnit support CoreCLR is critical for projects wanting to support CoreCLR and already using NUnit...

[2015-09-22 14:28] CharliePoole commented on #830
I've made this a priority for the RC, always assuming we can make it work within the timeframe.

I think we can make the progress events come to you directly from the test thread, which may not be the same thread on which you called the framework. Do you think that will work?

[2015-09-22 14:56] CharliePoole commented on #533
@oznetmaster I sent an email to the developer list yesterday describing our general direction for NUnitLite. It would be most useful to continue the discussion there because it involves more than this single issue. If you didn't get a copy let me know and I'll resend to you.

Regarding this issue... It's been here for a long time and you haven't been able to contribute anything toward resolving it