[2017-05-30 12:57] halex2005 commented on #2206
For example, I have four teamcity configurations, each has two parameters:

- current batch number
- overall batches count

In implementation of `ITestDecorator` I can compute hash for test fixture and divide it by module of "overall batches count". Then I compare result with "current batch number", if they are equal test fixture will run all the tests. Otherwise, tests will be skipped.

Using has

[2017-05-30 13:02] CharliePoole commented on #2206
How does your test decorator know to which tests it should be applied. Do you implement a special attribute? Or do you just decorate every fixture?

[2017-05-30 13:08] oznetmaster commented on #2202
@ChrisMaddock Which looks fine to you, the Microsoft ones or @jnm2 ones?  I really think we should go with the three that @CharliePoole indicated from the Microsoft list.

[2017-05-30 13:11] CharliePoole commented on #2205
When we say the "dev feed" we mean binaries from MyGet that represent changes proposed, reviewed, passed in CI and merged into master. Essentially they are already released - at least for those who follow the master source., I'm assuming you consume NUnit as a nuget package. If you don't, we can put a zip up somewhere instead.

The number of merges is growing because we tend to do small changes. B

[2017-05-30 15:03] halex2005 commented on #2206
No, there are no any special attributes, the test decorator is applied to all tests in current run

[2017-05-30 15:34] jnm2 commented on #2206
@halex2005 I wonder if the new parallelization support in 3.7 is able to replace your method of manually batching in order to parallelize?

[2017-05-30 15:38] jp2masa opened #2207 "Question about Randomizer.NextEnum(Type)"
Randomizer.NextEnum(Type) currently [gets the next int in range \[0, enums.Length\[](https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Internal/Randomizer.cs#L491), and enums.Length is the total number of declared elements in an enum. But there are elements with the same value, so the `enums` array can have duplicate values, resulting in higher chances for some enum values of

[2017-05-30 15:44] jnm2 commented on #2207
I had the same question, as well as a question about what happens if you apply `[Flags]` to the enum.

For non-flags, I'd lean towards randomly picking out of `GetNames` and then looking up the value for the chosen name.

For flags, I'd lean towards ORing everyvalue together and using that as a mask over 32 random bits (or whatever the bit size of the enum is).

[2017-05-30 16:11] CharliePoole commented on #2207
Yes, this is as designed.

Randomizer is used in NUnit in two ways: to generate test cases and to allow users to get random values from the TestContext. It simply wraps Random and adds type safety plus the ability to get repeated runs with the same random values. That seems like a big enough job for a class. 😄

When used with non-numeric types, the notion of randomness is little more than metaphor

[2017-05-30 16:11] #2207 closed

[2017-05-30 16:17] jp2masa commented on #2207
So it's by design that values declared by the most enum elements have a higher chance of being returned?

[2017-05-30 16:44] CharliePoole commented on #2206
@jnm2 He wants to parallelize parts of the same assembly onto different machines at a fixture level, if I understand it. So if running in the same machine would serve him, he could have used NUnit's parallelization even before 3.7. But we don't support multiple machines yet, so the only way to do it is to have multiple runs and tell each of them to only run certain tests. @halex2005 Please correct

[2017-05-30 16:46] halex2005 commented on #2206
@jnm2, no, I think it is impossible.
We have many long running web tests (about 1000). Web tests cannot be parallelized, they are constrained to be single-threaded.

[2017-05-30 16:49] CharliePoole commented on #2207
It's more by not-having-given-it-much-thought... i.e. we implemented what somebody asked for. It works well in some uses, not in others. Perhaps something is needed in the docs.

If you want us to change how it works, feel free to file an issue with a proposal. But you will have to come up with a strong rationale, since random numbers are really not normally intended to apply to things like enumer

[2017-05-30 16:57] jp2masa commented on #2207
No, thanks for the help.

[2017-05-30 16:57] halex2005 commented on #2206
@CharliePoole, you understood me correctly.

Thanks, I will try to use `TestActionAttribute` as you advised. Hope it will works))

To be clear, in Nunit v2 I used [this test decorators extension point](https://nunit.org/index.php?p=testDecorators&r=2.6.4). To run test I just return test passed in arguments, to skip test I set property of `test.RunState = RunState.Skipped`.

[2017-05-30 17:07] CharliePoole commented on #2206
@halex2005

That's the part I'm not sure of. You should do the same thing with RunState and see what happens. It may not do the job because the test is already running when the BeforeTest method is called. If not, you want to simulate dynamically skipping a test as Assert.Ignore does, but you don't want to use that because it would be reported as ignored. Instead, you want to silently skip the tes

[2017-05-30 17:22] halex2005 commented on #2206
@CharliePoole, unfortunately, it does not work.

First, `ITest.RunState` has no setter, only getter.
Second, you right, [it seems like it's too late to modify test state in this attribute](https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Internal/Commands/BeforeTestCommand.cs#L48), there is no checks if RunState was changed from `Runnable` to other value here.

[2017-05-30 17:24] halex2005 commented on #2206
@CharliePoole , is there any chance that the team will consider to add extensibility point [like nunit v2 test decorators](https://nunit.org/index.php?p=testDecorators&r=2.6.4) in near future?
Can I help with PR? What is your vision about this feature?

[2017-05-30 17:31] halex2005 commented on #2206
Or

- I can try to cast `ITest` to `Test`. It has setter for `RunState` property
- We need PR with added logic in commands: need to check `RunState == RunState.Runnable` before executing test

Would you confirm this will works? If yes, I'll propose PR with changes needed.

[2017-05-30 18:43] CharliePoole commented on #2206
I looked at the code more closely and Action Attributes would not work anyway. The Before Test is not called until the fixture has already been constructed and the one time setup has run. You want to prevent running much earlier.

Our "equivalent" to TestDecorator actually is an execution-time decorator. That is, it runs the test and returns a modified result. That is of course not helpful to you.

[2017-05-30 18:50] ChrisMaddock commented on #2206
@CharliePoole - Sorry, I'm not familiar with NUnit 2 addins at all, which is making this a little hard to follow. Can you explain the difference between what you're proposing, and a standard custom attribute?

[2017-05-30 18:56] ChrisMaddock commented on #2202
@oznetmaster - Sorry, I didn't realise we were looking at both options.

I have no objection to the more highly specified option @jnm2 proposed. The Microsoft extract appears to be a subset of that.

This isn't something I personally have much interest in attacking - however if @jnm2 does want to bring the current codebase up to this standard, it would undoubtedly be an improvement. That's part of

[2017-05-30 19:03] CharliePoole commented on #2206
@ChrisMaddock Let's see how brief I can be!

NUnit V2 Addins are actually more like engine extensions that V3 custom attributes, even though an addin frequently had a custom attribute associated with it. That's because V2 attributes were basically markers - as .NET attributes usually are - and the code to act upon them was entirely separate. As you know, V3 attributes are active - they have lots o

[2017-05-30 19:12] CharliePoole commented on #2202
I too could live with either one, always tempered with a bit of pragmatism.

WRT code review, this is an area where I'd like to see changes suggested or recommended, with a justification given that helps people understand rather than just a reference to a document. In the case of coding standards, we just point to the document and say "Just add the underscores like it says." Here, OTOH, we want to

[2017-05-30 19:21] CharliePoole opened #2208 "StackFIlter trims leading spaces from each line"
I noticed in the gui that stack traces from a test failure were showing up without leading spaces before the "at" on each line, whereas error failures had it. I confirmed same behavior on the console. While not terribly important, this does make the reports of combined failures and errors look odd.

I think it's due to a `Trim()` call in StackFilter.cs, which should probably simply be eliminated.

[2017-05-30 21:12] ChrisMaddock commented on #2206
Thanks Charlie. Sounds sensible enough to me.

[2017-05-30 22:44] RobinsonWM opened #2209 "NUnit occasionally hangs when parallelizable TestFixture has OneTimeSetUp and OneTimeTearDown"
This issue happens sporadically and appears to be a regression in NUnit Framework 3.7.  I can reproduce it within ~10 tries with NUnit 3.7, but I cannot reproduce it with NUnit 3.6.1.  I have reproduced it with the console runner and the Visual Studio runner.  It is most easily reproduced with a batch file that calls the console runner in a loop.

I have a TestFixture with a `OneTimeSetUp` method,

[2017-05-30 23:04] CharliePoole commented on #2209
Does using Console.WriteLine as opposed to Debug make any difference?

[2017-05-30 23:08] RobinsonWM commented on #2209
I just switched tem to `Console.WriteLine()` and was able to reproduce it.

[2017-05-30 23:36] CharliePoole commented on #2209
Looks like a fun one. 😄

[2017-05-31 01:33] CharliePoole commented on #2209
I can't make it fail using nunit3-console. Any particular command-line options you use? I'm just specifying the assembly.

[2017-05-31 01:58] RobinsonWM commented on #2209
I was using a bunch of command line options, but I trimmed it down to just the assembly and was able to reproduce it.  Here's the batch script I was using to reproduce it.  It usually hangs within a minute or so:
[code]

For me it has been freezing with this output showing:
[code]

[2017-05-31 02:06] CharliePoole commented on #2209
I ran it about 15 times manually, but I'll try again in a loop.

[2017-05-31 02:17] CharliePoole commented on #2209
I got an error (not a hang) after about 4 minutes due to the agent disconnecting. I'm wondering if you are having that problem, but the error itself is somehow being masked. Would you add `--inprocess` to your command-line and see what happens?

[2017-05-31 02:25] CharliePoole commented on #2209
A few more minutes of running and I got the hang without any agent error, so it's a separate thing. I was not able to do any debugging into the release framework of course. I'll try it with a verbose trace, although that may slow things down and prevent the hang.

[2017-05-31 16:59] rprouse commented on #2209
This sounds like a potential to include in the hotfix release we are considering, so I added a 3.7.1 milestone and added this issue.

[2017-05-31 17:51] fluffynuts commented on #1212
Just leaving my 2c here:

I, for one, am a big fan of the Expect syntax provided by AssertionHelper, especially when one has to deal with Javascript projects alongside .NET ones and the syntax remains familiar between the two.

It seems as if interest in AssertionHelper is the realm of the esoteric -- so I volunteer to be part of maintaining AssertionHelper if it is to be released as a separate re

[2017-05-31 18:01] jp2masa commented on #2119
I think that the problem is that the projects aren't being built, as you can see [here](https://travis-ci.org/ChrisMaddock/nunit/builds/229524812#L620).
I pulled your branch to my fork and tried to make it work, but no success. I also noticed that the script is trying to build csproj, but they are .NET Standard PCLs, right? So I think that the project files are the *.project.json ones.
I also foun

[2017-05-31 18:18] CharliePoole commented on #2209
How very optimistic of you. 😸

[2017-05-31 18:51] CharliePoole commented on #1212
@fluffynuts It's great if you want to become the maintainer of AssertionHelper and I'd be glad to help you do it. It's a little harder to make you __part__ of maintaining it if the NUnit Core Team is removing it from NUnit.

@ChrisMaddock @jnm2 I think your 👍 's are a little ambiguous. Are you all for dropping `AssertionHelper` (which I think you both voted for) and having somebody else take it ov

[2017-05-31 19:27] fluffynuts commented on #1212
@CharliePoole well, if the NUnit Core Team is set on removing it, perhaps the easiest solution is that I fork? And at some point I could implement the static Expect which would enable `using static` and mean that fixtures wouldn't have to inherit from AssertionHelper any more.

If I were to do this, I would be interested in is some kind of notification from the NUnit Core Team of an upcoming relea

[2017-05-31 19:34] CharliePoole commented on #1212
Let's give the thumbs up guys a chance to respond. I've stated the direction that I __thought__ we had decided to go, but it's always possible - especially working remotely - to have completely opposite understandings out of the same discussion.

Regarding `using static` I'm not clear how that would give you any of the advantages of AssertionHelper __except__ for the verb `Expect`. How would you d

[2017-05-31 19:54] fluffynuts commented on #1212
To be honest, I haven't given much thought to the idea beyond "it would be
cool if I could get the Expect syntax without inheritance". I'll give it a
closer look tomorrow (:

On May 31, 2017 21:34, "CharliePoole" <notifications@github.com> wrote:

[2017-05-31 20:33] ChrisMaddock commented on #1212
What I wanted to see was the AssertionHelper separated from the framework - we have a lot to maintain here and a big API, and, in my opinion, it's the right limb to chop off. **If** there is interest (which it seems there is from at least one user!) - a separate NuGet package which depends on the framework package seems an ideal solution to me.

As I understood, one of the motivations for deprecat

[2017-05-31 21:56] CharliePoole commented on #2209
It must be Rob's optimism helping me. I set it up to run in process and leave a debug trace and kicked off the batch file. It hung on the first iteration! Here are the final entries from the  log:

[code]

At 872 the test itself starts to execute. It finishes almost immediately and at 874 the dispatcher decides the shift is over. Everything begins to shut down. At 913 the dispatcher finally is rea

[2017-05-31 22:18] CharliePoole commented on #1212
@ChrisMaddock Thanks for clarifying. All I remembered was that I had made it a separate project but backed out that change because somebody (maybe not you) wanted us to either keep it or kill it completely.

[2017-05-31 22:31] jnm2 commented on #1212
My thoughts are the same as @ChrisMaddock's.
Also it does change the picture if we don't know of anyone who is motivated to invest in it, and then someone does come along. Even if I think we should spend no more time on it, I'm never going to vote to block a motivated party from working on something like this.

[2017-05-31 23:57] rprouse commented on #1212
I am also fine with someone else taking over and making it a separate package that depends on the main framework. I am also happy to split it out into it's own repo under the main org if @fluffynuts wants to maintain and release it. At the very least, if it is a separate NuGet package, we can track downloads and with that usage.

[2017-06-01 00:16] rprouse commented on #2119
@jp2masa we use PCL CSPROJ files that target .NET Standard, so building those is actually correct. It is an undocumented hack that was suggested so that we could continue to build in 2015 once 2017 was installed. At some point we will want to move to requiring VS2017 and use the new CSPROJ format, but we want to be as inclusive as possible for potential developers.

[2017-06-01 00:19] CharliePoole commented on #1212
@jnm2 Remember that this is open source. Even if we just erased it, it still exists in the repo and anybody is free to fork it and release it themselves. We don't really have to decide if the software will live, just whether we want to work on it or take responsibility for it.

That said, I think it's cleaner if we make it in to it's own project first. Then somebody can fork it as they like OR the

[2017-06-01 05:32] CharliePoole commented on #1212
So what are we doing with this?

[2017-06-01 06:07] fluffynuts commented on #1212
@CharliePoole I'm ok with whatever "sits best" with the NUnit Core Team (:

It looks like there's a general leaning towards splitting out into a separate project with its own package -- cool.

What I'd like to achieve, if possible, is that that project releases packages in lock-step with the main NUnit project (as mentioned above: {new project} x.y.z should depend specificially on NUnit x.y.z -- t

[2017-06-01 08:13] gcichosz commented on #2146
The problem with the second approach is that the actual value could be an exception only in case of `ExceptionTypeConstraintResult`, but in fact even there it isn't. In case of `ExactTypeConstraint`, which `Throws.TypeOf` uses, the actual value is a type, and that makes sense, since it's a type constraint. I see no simple and decent way of modifying `ConstraintResult.WriteActualValueTo` so that wo

[2017-06-01 11:38] ChrisMaddock commented on #2119
@jp2masa - I'm not sure about that bug, the files aren't in the root directory. I never figured out what to make of all the null reference exceptions however - but if the builds failing, it's off that cake doesn't pick that up. Maybe worth adding a File.Exists() check just to see what's actually created?

Please feel free to pick this up and try and get it working - it's not something I was planni

[2017-06-01 13:03] jnm2 commented on #1212
@CharliePoole Btw this is what I meant by not blocking. I'd like this to be free to happen since @fluffynuts is motivated to invest in it.

[2017-06-01 13:57] rprouse commented on #1212
I am happy to keep it as an official NUnit project that will be maintained and released as long as the community continues to use it and maintain it. It also looks like we have general agreement from the @nunit/core-team. @CharliePoole do you want to re-instate the previous repo that you created for this, or would you prefer someone else do it?

[2017-06-01 13:59] CharliePoole commented on #1212
@jnm2 To be clear - in case I wasn't earlier - I am for this idea. I'm raising questions that have to do with the overall running of the project.

Several people in the discussion are members of the Core Team, which will be making major decisions for the project in the future. It has only been a matter of months since they decided __not__ to accept my proposal to separate AssertionHelper into it's

[2017-06-01 14:15] rprouse commented on #1212
I thought that our original plan was to not move in 3.7 because it was a breaking change for users and we wanted to give them time to update and allow us to gauge the reaction. I thought removing it without first deprecating it for a release or two wasn't a good idea.

I thought that we would then decide if we wanted to move it to a new project and find a maintainer or remove it completely. We hav

[2017-06-01 14:17] ChrisMaddock commented on #1212
This was also my understanding.

[2017-06-01 15:17] CharliePoole commented on #1212
@rprouse @ChrisMaddock I don't want to beat a dead horse here, but if that was your understanding, then we should not have merged a change that marked AssertionHelper obsolete, with the notation that it was going to be removed in a future release. I submitted that based on my understanding of what you guys were saying. If we go ahead with the separate repo, then we should remove the ObsoleteAttrib

[2017-06-01 15:18] CharliePoole commented on #1212
I'm going to reserve any further "policy" discussion for either email or the governance repo.

[2017-06-01 15:21] jnm2 commented on #1212
If AssertionHelper is moving to a new NuGet package and a new assembly, it's actually a good thing we obsoleted it from the NUnit framework assembly. We just need to update the obsoletion message now telling people where to go for the correct assembly.

[2017-06-01 15:50] CharliePoole commented on #1212
@jnm2 Obsolete is for stuff that's going away entirely. If the new class - wherever it is - is going to have the same name, then we should not use Obsolete. Where you find the class is a matter for some other warning, probably in the release where the change happens.

On the other hand, @fluffynuts has suggested some new names to replace AssertionHelper and I agree that a new name is a good idea.

[2017-06-01 15:58] jnm2 commented on #1212
I obsolete things that move between assemblies because now you have access to two identical APIs available to IntelliSense at the same time and the obsoletion message would be helpful, saying don't use `AssertionHelpers, NUnit.Framework`, instead use `AssertionHelpers, NUnit.Expectations`. From an API  compatibility viewpoint, changing the assembly is exactly the same break and obsoletion process

[2017-06-01 16:20] CharliePoole commented on #1212
@jnm2 That's only possible if the two exist at the same time. I was thinking they would not. I suppose we could leave a dummy AssertionHelper in the framework and mark it obsolete. Is that what you are thinking?

In any case, we can't do that right now, because the separate version of AssertionHelper does not yet exist. Right now (3.7.1) is what I was talking about. What would you use during the p

[2017-06-01 16:25] CharliePoole commented on #1212
@fluffynuts IF you are going to be doing this, I suggest you propose a plan for the sequence of things. Our 3.8 release will likely not be for another 3 months. We may have one or more hotfix releases - Rob has scheduled 3.7.1 for a few days from now.

Even without enhancements and working quickly, I can't imagine you will be at the point of creating a release of the new assertion helper sooner th

[2017-06-01 16:40] gcichosz commented on #2146
Unfortunately the first approach doesn't work either. `Throws.TypeOf` uses `ConstraintExpression.TypeOf` under the hood. It's return type can't be changed to `ExceptionTypeConstraint`, because `ConstraintExpression.TypeOf` constraint is suppose to work with types other than `Exception`. @CharliePoole correct me if I'm wrong.

That issue just stopped looking like an easyfix to me :wink:

[2017-06-01 16:53] jnm2 commented on #1212
How about we either keep the message that AssertionHelpers is going away from NUnit.Framework, which is true, or we go beyond that and say that we have tentative (or firm) plans for it to be moved to NUnit.Expectations.

[2017-06-01 16:55] fluffynuts commented on #1212
@CharliePoole well, one way of doing things (not necessarily the _right_ way, but one way (: ) would be to fork the NUnit repo, under the NUnit account, grant me maintainer/developer access and I clone, wantonly ripping out everything that isn't AssertionHelper or something which directly supports it, making the hosting project for AssertionHelper depend on an NUnit nuget package. I reckon that wo

[2017-06-01 16:58] Jammy1986 opened #2210 "BadImageFormatException when using NUnit with Accord.Video.FFMpeg"
Hi, I'm getting a bizarre error when I try to use the Accord library with NUnit. I've attached a project demonstrating the problem.

I added the Accord.Video.FFMpeg and NUnit packages using NuGet. If I use the microsoft.visualstudio.testtools test runner to get the type of a class in the accord package, then the 'test' passes, but if I use the NUnit test runner to do the exact same thing, then it

[2017-06-01 17:47] CharliePoole commented on #1212
@fluffynuts I located a local backup copy of the nunit-assertion-helper repository. I can rename it nunit-expectations before uploading it if everyone likes that name. I have to look at the code to see what's there but it looks like it has a proper build etc. This is pure chance due to my not having purged it from one of my machines yet.

@nunit/framework-team @nunit/core-team
Unless I hear otherw

[2017-06-01 17:52] CharliePoole commented on #2210
I assume you mean this for the nunit 3 visual studio adapter?

Where is the accord video dll relative to the test assembly?

[2017-06-01 18:01] fluffynuts commented on #1212
@CharliePoole epic win! (:

I think that the first release of the package should literally just be to cleave it from NUnit, ie change nothing other than the assembly name and where the code lives (:

I would prefer, as mentioned before, to do package releases in lock-step with NUnit main, matching version numbers -- it will be simpler for downstream users to deal with. It's for this reason that I

[2017-06-01 18:07] CharliePoole commented on #2209
More breadcrumbs... The sequence of events that seem to matter is as follows:

1. The TestWorker running Test finishes and raises it's idle event
2. The WorkShift handles that event by checking to see if the shift is over.
    * The shift is defined to be over when all queues are empty and all workers are idle..
    * The workers are idle because this is the only test
    * All queues are empty be

[2017-06-01 18:10] Jammy1986 commented on #2210
Sorry, I'm not sure if this is for the nunit 3 visual studio adapter, if that's the NuGet dependency then no, I'm just using the plain NUnit dependency.

Assuming the test assembly is the built version placed in bin/Debug, then the dll is also placed in that directory.

I'm using Visual Studio 2015 if that helps.

[2017-06-01 20:30] ChrisMaddock commented on #1212
Sounds good to me.

Unless namespace/class names are changing, it wouldn't be possible to use the new AssertionHelper package, while the old AssertionHelper still exists in the framework, would it?

That suggest to me that 3.7.1 just changes the obsolete message to mention the new package, and 3.8 removes the old assertionhelper, and is the first release of the new package.

@CharliePoole - I wond

[2017-06-01 20:53] CharliePoole commented on #1212
In the new repo, I put it into the NUnit.Framework.Extensions namespace. If that's OK with everyone, then any user could switch to the new version at any time by use of an alias.

I created the repo and I'm working on changing names of assemblies and projects. Will add package ref to 3.7 and then request a review. @fluffynuts can continue from there.

[2017-06-02 01:45] Ch0senOne opened #2211 "Request: Add support of indexers to the PropertyConstraint"
At the moment it is only possible to test values of normal properties and no way to test indexer values. I need to write a test that looks something like this:

[code]

[2017-06-02 02:26] jnm2 commented on #2211
I like the idea.

C# doesn't support named indexed properties but VB.NET does. I think the syntax `.Property("Name", index1, ...)` should be reserved for named indexers, so I wouldn't want to see that be used for a default indexer. I'd like to be able to respect the C# language by not requiring people to pass in a name parameter.

What do you think about `Has.Item("TEST1").EqualTo("1")` or `Has.In

[2017-06-02 03:19] Ch0senOne commented on #2211
@jnm2
Having "Item" or "Indexer" method as a shortcut is convinient, but it is actually possible to change indexer name in C#: https://stackoverflow.com/questions/5110403/class-with-indexer-and-property-named-item

[2017-06-02 04:09] jnm2 commented on #2211
@Ch0senOne It is possible to change the name. To be clearer I should have said, it is not possible to make a non-default indexer in C#. For example, you can't declare two indexers, nor can you consume the name from C#.
Thinking it over I'm afraid `Has.Item("value")` would be too confusable with `Contains.Item`. So maybe `Has.Index("value")`?

So I'd be in favor of `Has.Index("IndexValue")` for the

[2017-06-02 04:54] CharliePoole commented on #2211
We already defined a direction to go on properties using lambdas rather than strings. Seems like time might be better spent on that. I'm on my phone so I can't give you the issue number.

[2017-06-02 08:35] yommgui opened #2212 "[Nunit 3.7.0] Issues with Parallelizable attribute on methods"
Hi,

I spent some time yesterday testing the 3.7.0 Parallelizable attribute on methods and get some issues.
Here is the scenario I wanted to achieve: run multiple tests in parallel **within** a class but **not with other classes**.
I'm running test on 4 cores -> 4 tests can run in parallel.

first test class:
[code]

second test class:
[code]

Parallelizable target:
Test11a and Test11b run in para

[2017-06-02 08:41] BrianLanghoor commented on #2205
@rprouse are you gonna implement a solution for this in 3.7.1? Because @remcomulder has created a fix in nCrunch with version 3.9. For me the issue is now resolved using nUnit 3.7.0 in combination with nCrunch 3.9. Just want to make sure you guys are not building a solution in both places.

[2017-06-02 08:43] remcomulder commented on #2205
@BrianLanghoor beat me to the punch!  I was just about to announce that NCrunch v3.9 is out now with a fix for this issue.

[2017-06-02 09:21] CharliePoole commented on #2212
I assume that when you write `Parallelizable.Self` you mean `[Parallelizable(ParallelScope.Self)]`, etc.

If I understand you correctly, you have the two fixtures (classes) which should __not__ run in parallel at all. Therefore, you should use `[NonParallelizable]` on those classes.

Within each class, you have some methods that are allowed to run in parallel and others that are not. You should us

[2017-06-02 09:21] #2212 closed

[2017-06-02 10:03] Lette opened #2213 "SetCultureAttribute: CultureInfo ctor should use default culture settings"
The `CultureInfo` constructor's `useUserOverride` argument defaults to `true` ([source](https://referencesource.microsoft.com/#mscorlib/system/globalization/cultureinfo.cs,325)), which has the unfortunate effect that if you call `new CultureInfo("en-US")` while on an OS that is set to use **user-modified** en-US regional settings, those modifications will get picked up. This leads to code that pic

[2017-06-02 10:08] CharliePoole commented on #2213
I don't doubt that this is a bug, but it's a bug that has been around for about 12 years. Any idea why nobody has ever hit it before? Must be a little-used feature, at least in systems used for testing.

[2017-06-02 10:10] yommgui commented on #2212
Hi Charlie,
You understand my request perfectly and my syntax as well ;)
Thanks for your quick answer; I tested it but it does not work as well; all tests run sequentially.

[2017-06-02 10:12] CharliePoole commented on #2212
Would you edit your description to include the attributes you are using, where you are using them?

Also, make sure you __are__ really running NUnit 3.7. The feature is new to that release. How are you running the tests, btw?

[2017-06-02 10:13] CharliePoole commented on #2212
Additionally, what is your target runtime?

[2017-06-02 10:16] yommgui commented on #2212
As you suggested I put:
- [NonParallelizable] on classes
- [Parallelizable] on Test11a, Test11b, Test21
and
- [NonParallelizable] on Test12 and Test22

I confirm i'm using 3.7.0 assembly from nuget and running using VS nunit adapter 3.7.0

[2017-06-02 10:23] yommgui commented on #2212
I justed test the other syntax as well:
- [Parallelizable(ParallelScope.None)] on classes
- [Parallelizable(ParallelScope.All)] on Test11a, Test11b and Test21
- [Parallelizable(ParallelScope.None)] on Test12 and Test22

this is weird as it runs Test11a, Test11b and **Test12** in parallel and then Test21(5000), Test21(10000) and **Test22** on parallel as well

[2017-06-02 10:25] Lette commented on #2213
I've actually hit it several times, but only because my current customer insists on messing with the regional settings through group policies. So, our dev machines use Swedish regional settings with the decimal point being 'dot' instead of 'comma' which is the default for Sweden. Sometimes someone changes their local regional settings and then culture specific tests start to fail...

I guess that

[2017-06-02 12:30] rprouse commented on #2205
@remcomulder any ideas how many of your users upgrade or continue to run on older versions? Trying to gauge how much of a priority it is to release an update.

[2017-06-02 12:39] remcomulder commented on #2205
@rprouse I don't have any hard metrics on this unfortunately :(  I very often have support requests from versions going back as far as 4 years ago.  I'm not sure how many of these users will be tracking NUnit for the latest Nuget update.  NCrunch doesn't have an auto-update system, so probably it will be a while before the bulk of people are on v3.9.

[2017-06-02 13:10] jnm2 commented on #2211
@CharliePoole https://github.com/nunit/nunit/issues/26?

That makes sense for `Has.Property`. We could do:

 * `Has.Property(_ => _.PropertyName[index1, ...])`
 * `Has.Property(_ => _.PropertyName, index1, ...)`

I still think we should not do anything with `Has.Property` until non-default properties are needed, and for now just provide `Has.Index(value1, ...)` or `Has.Index[value1, ...]` or `Has.

[2017-06-02 14:23] CharliePoole commented on #2211
That's the one. I agree with you on named indexers, which haven't been requested anyway.

[2017-06-02 14:42] CharliePoole commented on #2213
Fair enough. It's certainly news to me.

[2017-06-02 22:28] CharliePoole commented on #2212
How exactly are you determining what's running in parallel? I'm wondering if it's possible that you are misunderstanding the output.

It may also help to see how this runs under the console runner. You might try running with --trace:Info or --trace:Debug to see how the tests are being dispatched.

[2017-06-03 12:23] wachulski opened #2216 "A dedicated Roslyn analyzer project to help migrate v2 -> v3"
Just an idea. I've plenty of nunit tests 2.6.4 in my commercial product. I wanted to upgrade to 3 and therefore to adjust their usage to 3v API. This is somewhat tedious and repeatable work. Having some automation at hand would save tons of time for developers and NUnit creators (less questions on various forums).

What about starting a little dedicated analyser project for this? I see the current

[2017-06-03 12:33] wachulski commented on #2216
@ChrisMaddock
I'd personally love to see this! It was one of the ideas thrown around on the original analyzer issue. (Sadly one of many things I wanted to look at, but never managed to get back to!)

https://github.com/nunit/nunit/issues/629#issuecomment-230166968

One question: how well does Roslyn deal with analysing non-compiling code? I've converted just about everything within reach from NUni

[2017-06-04 18:49] mintsoft opened #2217 "Console runner performance varies wildly depending on environmental characteristics"
Hiya,

We've just rolled out NUnit 3 for the majority of our build suite, and we've found some interesting (to say the least) performance behaviour. I think this may be a duplicate of: https://github.com/nunit/nunit/issues/480

Basically we noticed that tests "are slow on CI"; after eliminating the hardware and installation etc. We've found that tests when executed through NUnit-console are quicke

[2017-06-04 19:09] CharliePoole commented on #2217
Running from the project file is somewhat unusual. That, combined with the fact that VS is involved, makes me suspicious. Can you see what happens if you just run the assembly?

[2017-06-04 20:42] mintsoft commented on #2217
@CharliePoole That's a good point, however I've just tried it with the same behaviour:
[code]

The first run (~8seconds) was with VS closed, the second (~2seconds) was with it open.

[2017-06-04 21:22] CharliePoole commented on #2217
Interesting. As developers, we are almost always running NUnit tests locally with VS running, so those are the times we see. I'll do some experiments.

[2017-06-04 22:02] mintsoft commented on #2217
That's exactly what we found, it was only on CI that we noticed the run-time difference initially.

[2017-06-04 22:07] CharliePoole commented on #2217
I am unable to duplicate this so I'm marking it for somebody else to try to confirm.

When you did your experiments, did you try it with VS open but no solution loaded? I wonder if it could have to do with some assemblies being in memory already.

I'm assuming that neither your tests nor your SUT uses VS in any way - i.e. you are not loading the VS object model or anything like that.

[2017-06-04 22:10] #2209 closed

[2017-06-04 22:39] mintsoft commented on #2217
@CharliePoole Yeah it was VS open with no projects loaded at all vs it unopened. The tests are totally in-memory standalone things. There's no relationship to VS in the tests at all.
What version of Windows are you using? I'm wondering if it's a Server vs Desktop runtime style difference

[2017-06-04 23:10] rprouse commented on #2216
I would be okay with this as a potential project and will help out as much as possible, but to be honest, I don't find the conversion difficult enough to warrant the work. The big changes are converting non-static TestCaseSources to static and handling the ExpectedException. The first is a bit of a hunt and fix which an analyzer could help with, but I don't think you would get meaningful code fixe

[2017-06-04 23:13] rprouse opened #2219 "Remove Obsolete Attributes"
We obsoleted several attributes like `FixtureSetup` with the 3.0 release. It is probably about time we removed them.

Other candidates for removal are some of the fluent syntax for constraints where we came up with better naming.

[2017-06-05 00:00] CharliePoole commented on #2217
I'm running on Windows 10.

[2017-06-05 12:49] rprouse commented on #2217
@mintsoft just a guess, but could you repeat the test with another .NET program running, even just a simple console app blocked in a `Console.Readline()`? It is a stretch, but I am curious if it isn't anything to do with Visual Studio, but instead the fact that a .NET program is running and therefore the CLR is in memory.

Also, are you only able to reproduce this on your CI machine or are you als

[2017-06-05 21:34] mintsoft commented on #2217
@rprouse I've just tried that, the tests ran in ~9 seconds (that's the slow time) with a console application running in the background.

I can reproduce this on dev machines easily enough even with a fresh install of windows.

I've been experimenting with other applications being open, interestingly enough it doesn't seem to be limited to Visual Studio. One that was particularly interesting is the

[2017-06-05 21:49] CharliePoole commented on #2217
Maybe we are looking at this wrong. Could the problem be in how we report the time?

[2017-06-05 21:59] mintsoft commented on #2217
@CharliePoole I don't think so, when I'm watching the runs it physically takes longer to watch. I can do a video of the test if you want?

[2017-06-05 22:13] mintsoft commented on #2217
I've done a quick gif showing it: ![2017-06-05_23-08-34](https://cloud.githubusercontent.com/assets/978048/26805542/46adeacc-4a44-11e7-8eff-cc3fb869f5da.gif)

There's nothing else open at all other than ShareX, cmd and nunit-console.

There are 3 runs that are slow (8-9 seconds), then I open the ModernUI app I've compiled (based on the one linked to earlier, but with stuff deleted from it) it's do

[2017-06-06 00:03] rprouse commented on #2217
Looking at the pauses in the output, it looks like it is happening while starting up the remote agent. The actual running of the tests appears to be the same. Could you try running the tests with the `--inprocess` command line switch to see if it makes a difference and help narrow down the problem? I am thinking it is setting up remoting, networking or process launching.

[2017-06-06 00:09] rprouse commented on #2217
Sorry, I am wrong, the Run Settings is output at the end of the test run. It still could be related to the remote agent though, so please try the `--inprocess` switch and let me know the results.

[2017-06-06 00:16] rprouse commented on #2205
Fixed with PR #2214, but not closed automatically because it was merged into the release branch.

[2017-06-06 00:16] #2205 closed

[2017-06-06 00:56] yaakov-h opened #2220 "Apply an IWrapSetUpTearDown attribute to all tests in a fixture"
Similar to #2015, I'm trying to perform some setup and teardown code before the test's own setup and teardown code is run, and apply this to multiple test fixtures via an attribute.

I have tried a custom attribute which implements `IWrapSetUpTearDown`, but it's not called if I apply it to the entire test class, only if I apply it to each individual test. `ITestAction` is not suitable, as it does

[2017-06-06 01:14] CharliePoole commented on #2220
We have one or two similar requests, which we will eventually merge when we decide how to handle this.

Currently, the most flexible use of custom attributes is for those that are placed directly on a method. There are no interfaces like IWrapSetUpTearDownForAllTheTestsInThisFixture. :-)

Right now, only ActionAttributes may be used on a fixture and apply to all the tests. The order of execution m

[2017-06-06 02:23] rprouse commented on #2205
The 3.7.1 hotfix is out. I also updated the docs to state that a null or empty string is also accepted for an empty filter as of NUnit 3.7.1, but "<filter/>" should be used for backwards compatibility.

[2017-06-06 02:47] rprouse opened #2222 "Switch to one Release branch"
Proposing this as an idea pending discussion and testing.

We are currently creating a release branch for every major release, then adding commits to those release branches for hotfixes. This is working but we are accumulating many branches that we are unlikely to use anymore because we only ever create hotfixes on the latest release. We also have tags for every release, so we can always get back

[2017-06-06 03:00] rprouse commented on #2210
Is the `Accord.Video.FFMpeg` assembly compiled x86 or x64 as opposed to AnyCPU? If so, your tests should also target x86 or x64.

Also, how are you running your tests? Are you using `nunit3-console.exe`?

[2017-06-06 03:04] rprouse commented on #2213
I often override my date settings, so I am surprised this one hasn't been an issue for me. I guess it is more likely and issue for overriding the decimal separator.

I added the easyfix label. @Lette this is marked low priority, but we do accept pull requests 😄

[2017-06-06 05:20] CharliePoole commented on #2222
As a third option, if we tag on master, then we don't need to keep any release branch after it is merged.

Create a 3.8 branch
Do the release
Merge to master and tag
If a hotfix is needed, create a new branch off the tag on master.

Because of how we do versioning, that part of  it is a little messy, but no worse than what we now do. If we could get away from keeping the version in the repo, then

[2017-06-06 09:24] markvantilburg opened #2223 "Assert.IsTrue - Object reference not set to an instance of an object."
Using v3.7.0/v3.7.1 from nuget.

This code does result in "Object reference not set to an instance of an object."

[code]

In version 3.6.1 This results in "Additional information:   error value is not true
  Expected: True"

Is this an intended breaking change?

[2017-06-06 11:27] rprouse commented on #2223
The change was intentional although I doubt we considered usage of the asserts outside of tests. The change in question was part of making our `TestExecutionContext` more thread safe. The old code did lazy instantiation of the `CurrentContext` (if null create a new one and return it) whereas the new code sets the current context as tests are being executed.

The asserts use the `TestExecutionConte

[2017-06-06 12:19] Jammy1986 commented on #2210
Ahah, progress!

So if I choose x86, I get instead a FileNotFoundException.

I was trying both Rider, and Visual Studio, running the test by right clicking, and selecting 'Run Unit Tests'. However when trying just now, I noticed that Visual Studio actually has two options for running tests (unfortunately I can't upload an image for some reason). The first option reads 'Run Tests' instead of 'Run U

[2017-06-06 12:24] mintsoft commented on #2217
@rprouse I've tested that anyway, the `--inprocess` has no effect on either time. It's still ~ 3seconds vs 8seconds.

[2017-06-06 12:51] CharliePoole commented on #2217
That's expected since the timing is done entirely within the framework code.

[2017-06-06 12:56] CharliePoole commented on #2210
What is Rider?

[2017-06-06 13:15] yommgui commented on #2212
Hi Charlie,

Sorry for the late anwser.
I did run the setup you suggested with [NonParallelizable] on class and methods I want to run not parallelized (Test12 and Test22) and with [Parallelizable] on methods I want to run in parallel inside class (Test11a, Test11b, Test21(5000/10000).

As said I confirm everything is running sequentially.
Please find trace:debug for this test, Please tell me if yo

[2017-06-06 13:17] Jammy1986 commented on #2210
https://www.jetbrains.com/rider/

[2017-06-06 14:24] CharliePoole commented on #2210
We don't have any info about how Rider works. This is unsurprising, since we have never had any information from JetBrains about how Resharper interacts with NUnit. 😞 Obviously, they have not contacted us about how their new product will work with NUnit either.

From reading their published info, they seem to be competing in the same space as VS, but on a cross-platform basis. Sounds like a great

[2017-06-06 15:08] CharliePoole commented on #2212
The trace indicates that all your "parallelizable" test methods are being run using the "Direct" strategy, i.e. on the same thread as the fixture. This is what would be used if the methods have no Parallelizable attribute. Please re-post the source code with the exact attributes used for this run and I'll try it locally.

[2017-06-06 16:28] yommgui commented on #2212
first class:
[code]

second class:
[code]

[2017-06-06 16:57] mintsoft commented on #2217
@CharliePoole I've managed to reproduce it on my Windows 10 pro laptop with basically the same behaviour. 11 Seconds normal, 3 with the ModernUI Application open. So it doesn't look like it's limited to Windows Server 2012 R2

[2017-06-06 18:38] Jammy1986 commented on #2210
Ah, thanks for the explanation that makes a lot of sense! I'll file a bug report with the Rider team to look into integration with NUnit.

As for visual studio (not that it really matters), but do you have any idea why the test even runs with the other 'Run Unit Tests' option? I notice this option disappears when I remove the [Test] attribute, so what exactly is running (and consequently failing)?

[2017-06-06 18:38] #2210 closed

[2017-06-06 18:42] mintsoft commented on #2217
I've also reproduced it on my personal desktop machine running Windows 10 Pro, although I had to reboot in order to get the "slow" time, then I got the same behaviour as 2012 R2 and my laptop

[2017-06-06 18:45] markvantilburg commented on #2223
We test a "asp.net web site ( https://msdn.microsoft.com/en-us/library/dd547590(v=vs.110).aspx )" using the nunit framework, simply created some pages which contains methods to check if the right values are returned (which in turn are checked by Selenium checks to see if tests fail).

Web site projects do not support unit tests and are much of a relic from the past. New projects are usually "asp.n

[2017-06-06 19:17] CharliePoole commented on #2210
I can't find that option on the system I'm using right now. If memory serves, it may only be on paid product versions. What are you using and where does it appear?

[2017-06-06 19:18] CharliePoole commented on #2210
Or are you running R#?

[2017-06-06 20:35] Singh400 commented on #2217
Hi All,

I can reproduce this behaviour. With the ModernUI Application _closed_, tests take around 10-11 seconds to complete. With it _open_ tests take around 3-4 seconds.

My tests can be found [here](https://github.com/Singh400/aoc). I have attached the verbose output for the slow and fast runs.

[slow.txt](https://github.com/nunit/nunit/files/1056314/slow.txt)
[fast.txt](https://github.com/nuni

[2017-06-06 20:37] Jammy1986 commented on #2210
Linkback, logged this issue here: https://youtrack.jetbrains.com/issue/RIDER-6929

[2017-06-06 20:38] Jammy1986 commented on #2210
Yes I'm running ReSharper, it would make sense to come from there. Thanks for all your help. 👍

[2017-06-06 21:14] mintsoft commented on #2217
@Singh400 Do you have the output xml files from the runs?

[2017-06-06 21:19] Singh400 commented on #2217
@mintsoft These are from my desktop PC running Windows 10 v1703:-

[Slow_TestResult.txt](https://github.com/nunit/nunit/files/1056395/Slow_TestResult.txt)
[Fast_TestResult.txt](https://github.com/nunit/nunit/files/1056396/Fast_TestResult.txt)

Cheers,
Indy

[2017-06-06 21:34] mintsoft commented on #2217
Thanks, it's interesting. Looking at a few tests there doesn't seem to anything obvious except that the durations are longer on the slower run for all the tests :/ Strange

[2017-06-06 21:41] Singh400 commented on #2217
@mintsoft I get the same behaviour if I use [**AnimationExamples**](https://github.com/Microsoft/WPF-Samples/tree/master/Animation/AnimationExamples) instead of ModernUI app.

Can you confirm?

Cheers,
Indy

[2017-06-06 22:00] Singh400 commented on #2217
Found a better example; [**AnimationTiming**](https://github.com/Microsoft/WPF-Samples/tree/master/Animation/AnimationTiming).

1. Build AnimationTiming. Open and keep the .exe open.

2. Run the test suite. Test execution is slow.

3. In AnimationTiming click "Start Animations" under the tab "RepeatBehavour Example"

4. Run the test suite. Test execution is fast.

5. In AnimationTiming click "Stop

[2017-06-06 22:21] mintsoft commented on #2217
@Singh400 Yes I can confirm that is exactly what I'm seeing. Half of those examples didn't compile for me, however the AnimationTiming behaves exactly like you stated.

This is really odd, it seems like maybe WPF animations are forcing the framework into some sort of high resolution timing mode which is having an effect on the way that NUnit's console runner is scheduling the test execution?

[2017-06-06 22:37] Singh400 commented on #2217
@mintsoft To be honest, I have no idea. I think it is GPU/GFX related. Just played about with stopping/starting this [video](https://www.youtube.com/watch?v=sLprVF6d7Ug). I initially picked the 8K in the hopes it would make the tests fast. It didn't.  Picked 144p, and I am seeing the slow/fast behave as I stop/start the video. I embedded the video in a simple html file to ensure nothing else was h

[2017-06-07 03:36] yaakov-h commented on #2036
Seems to be all good. Thanks again @jnm2 and team.

[2017-06-07 07:42] mintsoft commented on #2217
Well indeed, this all feels like guesswork, however I was looking at how NUnit schedules the test runs:
https://github.com/nunit/nunit-console/blob/master/src/NUnitEngine/nunit.engine/Runners/AggregatingTestRunner.cs#L160

I can't see anywhere that `LevelOfParallelism` is actually set to anything other than 1.

[2017-06-07 08:33] appel1 commented on #2217
Sounds like this could be related to changes in the windows timer resolution.

[2017-06-07 08:52] Singh400 commented on #2217
@appel1 So I found this [**blog post**](https://randomascii.wordpress.com/2013/07/08/windows-timer-resolution-megawatts-wasted/). Using the utility [**ClockRes**](https://technet.microsoft.com/en-us/sysinternals/bb897568.aspx) I was able to confirm a change in the "Current timer interval" when starting and stopping the animations in AnimationTiming. Which matches the fast and slow behaviour. I als

[2017-06-07 09:44] mbrehmer opened #2224 "Writing tests for awaitable methods in Visual Basic"
Good Day,

I try to write Unit Tests for an existing application, written in Visual Basic.
The language has to be Visual Basic, because its the only .NET language every member of the team can read/write.
I would prefer C#, but that's no option.

Our classes provide some awaitable methods, that should also be tested.

In C# something like the following would work:
[code]
I have seen such code very

[2017-06-07 12:17] mintsoft commented on #2217
@Singh400 @appel1  That is *exactly* what it is.

If I leave this running in the background I get the performance benefit:
[code]

[2017-06-07 13:43] CharliePoole commented on #2217
As stated earlier, I don't think the performance is changing. NUnit uses the timer and converts that to time in seconds. It assumes the resolution is constant. This was good research but I'm not sure if there is a solution.

[2017-06-07 14:08] mintsoft commented on #2217
@CharliePoole  I guess it depends on how you define it. It's not that the duration output in the report is wrong. The tests do *actually take longer to run*. The time that's output by `nunit-console` is accurate when compared to me timing it manually.

Personally I *would* define that as the performance being affected?

[2017-06-07 14:50] CharliePoole commented on #2217
@mintsoft Obviously, I haven't seen this running. If the time is actually __observably__ different, then we have to ask how changing the timer resolution speeds things up. Is latency due to context switching reduced?

To eliminate as many variables as possible from the discussion, you might try running tests with NUnitLite. In that way, we don't involve any component of NUnit except for the framew

[2017-06-07 15:19] CharliePoole commented on #2224
@mbrehmer In NUnit V2, you could have used the C# code you list but in NUnit 3, based on community input, we eliminated it. You would have to substitute `Task` for `void` as the return type. Somebody wrote that `Task` is the `async` equivalent of `void` for most work except for fire-and-forget methods. An NUnit test cannot be fire-and-forget because NUnit needs to wait to see if the test passed or

[2017-06-07 16:26] mriswyth opened #2225 "OneTimeTearDown and Dispose Ordering"
Using v3.7.0/v3.7.1 from nuget.
Run with NUnit3TestAdapter, NUnit-Gui-0.3, and nunit3-console.

I have some TestFixtures that implement IDisposable. Prior to the v3.7.0 release these test fixtures always executed the OneTimeTearDown (and TestFixtureTearDown before that) method before the TestFixture class' Dispose method. After performing a NuGet update to NUnit v3.7.0 and NUnit v3.7.1 these tests

[2017-06-07 16:27] Singh400 commented on #2217
@CharliePoole I get the exact same slow/fast behavior using NUnitLite. And for me the time is observably different.

[2017-06-07 17:04] Singh400 commented on #2217
Out of interest. I have compiled my test suite using NUnit v2.6.4 and used the 2.6.4 console runner for that test suite. The duration of the tests is always fast regardless of the windows resolution timer interval (confirmed using ClockRes).

[nunit-2_fast.txt](https://github.com/nunit/nunit/files/1058753/nunit-2_fast.txt)

I also used the same 2.6.4 AoC.dll test assembly with the 3.7.1 console ru

[2017-06-07 17:53] CharliePoole opened #2226 "Test filtering not working correctly in certain cases involving explicit"
This issue came up in discussing nunit/nunit-console#134 =
The following example filter expression at the command-line causes all tests to be run, including explicit tests.

[code]

The expected behavior is that All tests will be executed __except__ Explicit tests that are not in the Integration category. The actual behavior is that all tests are executed.

Possible lines of attack:
* How is the o

[2017-06-07 18:09] CharliePoole commented on #2225
I have confirmed this error by inspecting the code. The commands that make up a test setup are executed in reverse order, whereas one time setup commands are independent and are executed in the order specified in the command list. I updated the list of commands for fixture one-time teardown incorrectly.

I'm assigning this to myself, since I caused it. Too bad we didn't here about this before the

[2017-06-07 18:25] CharliePoole commented on #2217
@Singh400 This narrows it down.

When you run with NUnitLite, only the NUnit 3 framework is involved.

When you run under NUnit V2, no NUnit 3 components are involved.

When you run NUNit V2 tests under NUnit 3, the NUnit 3 console and engine are used, but the framework obviously is not.

So, whatever problem exists (I still have not been able to reproduce it) it resides in the nunit 3 framework.

[2017-06-07 18:58] Singh400 commented on #2217
@CharliePoole I have managed to narrow this problem down further. I went back and compiled my test suite against v3.0.0 and I **could not** reproduce this problem. I kept moving up versions until the problem re-surfaced and it does so at v3.4.0. The last version that did not have this problem was v3.2.1.

Can anyone else reproduce and confirm please?

[2017-06-07 19:17] mintsoft commented on #2217
@Singh400 confirmed; with my test suite, 3.4.0 takes 9.174 Seconds; 3.2.1 takes 1.704 seconds

[2017-06-07 19:18] Lette commented on #2213
So, I decided to jump in and provide you with the PR. I pulled the source to my computer at home, ran `.\build` and everything compiled. (I'm not so lucky compiling in VS 2017, but that's probably another story.)

Then I ran `.\build -t test` just to make sure I had a nice baseline, and I had 7 test failures in each project. Turns out that those test failures happen because I have my regional sett

[2017-06-07 19:20] mintsoft commented on #2217
@CharliePoole The only way I've found to be totally sure when reproducing is to use clockres that @Singh400 linked to before and look at the Current timer interval. By default it is 15.625ms, if it's at that then the run will be slow, anything else and it'll be quicker:

Random applications appear to change the timer interval, so I've been running it on every run to check that chrome or firefox ha

[2017-06-07 19:44] CharliePoole commented on #2213
With your seven failures in Swedish, I was going to say just include them. Now that it's getting more complicated, I think we should have another issue. If you have time to work on it, that would be great, but even documenting the problem would be very useful.

[2017-06-07 20:25] Lette commented on #2213
I'll create another issue for the other culture dependent test failures.

[2017-06-07 21:00] oznetmaster commented on #2225
I think it might be critical :(

[2017-06-07 21:05] Lette opened #2228 "Several tests for nunit fails when run in a development environment with certain regional settings"
My development PC has its regional settings set to Swedish. When running `.\build -t test` in the nunit repository I get 7 test failures in each project. Worse yet, when switching to Turkish regional settings I get 48 test failures in the 4.5/4.0 projects, 46 test failures in the 3.5/2.0 projects and another 16 in the netstandard projects.

For now, this is only a problem for contributors that do

[2017-06-07 22:32] CharliePoole commented on #2217
My first reaction is that a program that changes the clock resolution, affecting other programs is somewhat poorly behaved! My second reaction is that maybe NUnit should change it. 😄

Changing it, however, is platform-specific and that's something we tend to avoid.

I'm tied up with another problem but I'll experiment with the clock-setting program when I have a chance.

[2017-06-07 22:46] mintsoft commented on #2217
That is always an option! I'm currently looking through the diff between 3.2.1 and 3.4.0 to see if I can identify something that changed to make NUnit susceptible to that setting change affecting performance. However I don't know what I'm looking for or what things are affected, so it could take a while!

[2017-06-07 22:47] Singh400 commented on #2217
@CharliePoole

I agree. But something changed between 3.2.1 and 3.4.0 that made NUnit sensitive to the windows resolution timer. I did try and review the changes between the two versions, but given that I am unfamiliar with the architecture of NUnit I gave up.

I put together a ZIP with everything needed to demonstrate the different durations:-

https://github.com/Singh400/nunit/blob/master/TestSu

[2017-06-07 22:56] mintsoft commented on #2217
@Singh400 https://github.com/Singh400/nunit/blob/master/TestSuite.zip is a 404

[2017-06-07 22:56] Singh400 commented on #2217
@mintsoft Just fixed it :)

[2017-06-07 23:38] jnm2 commented on #2224
Returning a value using setter notation in VB.NET would have to be `TestAsyncCode = `, and that's not allowed in an `Async` method IIRC. (And it should be banned in any method, but I digress.)

You definitely want:
[code]

I don't know what's causing the error that "`Task(Of Boolean)` can not be converted into Task" without seeing the rest of the method but it is not NUnit-related.

Side note. Tha

[2017-06-07 23:47] Singh400 commented on #2217
Playing around with `trace=Verbose` and looking at the resulting log files only reveals one difference. The log file for the run with 3.4.0 has this line in:-

`00:38:55.327 Info  [ 9] WorkItemQueue: NonParallelQueue pausing`

Whereas the log file for 3.2.1 does not.

Snippet for 3.4.0 log file:-

[code]

Snippet for 3.2.1 log file:-

[code]
I have no idea if that is even related (pure guesswork)

[2017-06-08 00:03] CharliePoole commented on #2217
I don't see much connection to the timing problem. Pausing a queue doesn't stop time.

It would be a bit of work, but you could continue to try builds between 3.2.1 and 3.4, doing a binary search. All builds for commits to master are on our MyGet feed.

[2017-06-08 04:12] CharliePoole commented on #2225
It probably is. Sigh.

[2017-06-08 05:24] appel1 commented on #2217
@Singh400 That could be it since, unless I'm mistaken, the timer resolution determines the precision for how short time you can sleep. So Thread.Sleep(1) will sleep ~15ms if the timer resolution is 15ms.

https://msdn.microsoft.com/en-us/library/d00bd51t(v=vs.110).aspx

[2017-06-08 05:35] #2225 closed

[2017-06-08 07:03] mintsoft commented on #2217
That's a good call and seems reasonably likely, however in https://github.com/nunit/nunit/commit/bb86737a16ad03ee22777848fa6e3064b9664812 the only Thread.Sleep(1) (or similiar) is within an `#if` for .net 2/3.5/compact and we're .net 4 here. I guess it's also plausible that Thread.Yield may wait for 15ms intervals, but that seems *very* long for a thread's timeslice.

[2017-06-08 12:43] Lette commented on #2228
A PR for this is already being discussed - #2185. This issue might be resolved by that PR.

[2017-06-08 15:04] copypastedeveloper opened #2230 "Need a special attribute to identify test assemblies that use NUnit indirectly"
I wrote a [bdd framework](https://github.com/copypastedeveloper/given) a while back and one of the supported testing frameworks was nunit.  I recently decided to update it for the first time in quite a while and make it compatible with nunit 3.x.  What I'm noticing now is that when my (abstract) base class that has a `TestFixture` attribute is in a different assembly it seems to not get picked up

[2017-06-08 15:38] CharliePoole commented on #2230
Rather than "supported" in the past, I would have to say it "just happened to work." 😞 Neither NUnit V2 nor 3 was designed with much thought for cases where NUnit itself was not being used directly.

The NUnit 3 engine, which runs tests, looks at the test assembly in order to decide what framework it uses. It does so by calling all the installed framework drivers, asking "Can you run this?" We pro

[2017-06-08 16:26] noobwu opened #2231 "nunitlite.tests.exe Win10 system command line console"
nunitlite.tests.exe  version 3.7.1
nunitlite.tests.exe  --testlist=Tests.dll
runtime at NET 4.5
![qq 20170609001847](https://user-images.githubusercontent.com/4328356/26939534-2af2201a-4caa-11e7-8bf1-928dca5ac545.png)

[2017-06-08 16:28] noobwu opened #2232 "NUnit Adapter 3.7.0.0 vs2017 引发类型为“System.OutOfMemoryException”的异常。"
NUnit Adapter 3.7.0.0: Test discovery starting
Assembly contains no NUnit 3.0 tests: test.dll
Exception System.OutOfMemoryException, Exception converting Tests.BooleanTests.Can_store_and_read_bool_values
引发类型为“System.OutOfMemoryException”的异常。

[2017-06-08 16:42] CharliePoole commented on #2231
The `--testlist` option takes the name of a text file containing a list of tests to be run from the assembly or assemblies specified elsewhere on the command-line.

Please read the documentation: https://github.com/nunit/docs/wiki/Console-Command-Line

[2017-06-08 16:42] #2231 closed

[2017-06-08 16:46] CharliePoole commented on #2232
You will have to provide a great deal more information before we can treat this as an issue.

Does your `test.dll` contain any NUnit 3 tests? The message says not. It's not clear where the OOM exception is coming from.

[2017-06-08 17:20] jnm2 commented on #2222
I like both your and @CharliePoole's suggestions.

[2017-06-08 17:33] CharliePoole commented on #2222
This is where you need a BD. 😄

[2017-06-08 18:29] copypastedeveloper commented on #2230
I'm honestly not familiar enough with all of the cases you guys have to optimize for.  I see you're using Mono.Cecil to inspect the IL and get the references, which explains why you don't see references without them being used.  I'm fine with the `[Description]` attribute idea mostly, but it might be nice to have an attribute that doesn't need anything passed in.  I personally prefer the idea of a

[2017-06-08 18:37] CharliePoole commented on #2230
To load the assembly in the same process as the engine for inspection, we had to create and we unload an AppDomain. In addition, we could not load any assembly that was not compatible with the current runtime.

Of course, use of Mono.Cecil versus System.Reflection doesn't affect this issue one way or another. In either case, we would not see the reference.

Since you know the workaround already, I

[2017-06-08 18:42] CharliePoole commented on #2230
I'm in favor of @copypastedeveloper 's suggestion:

[code]

It will be easier for third-party framework developers in this position to tell their users to use this attribute rather than telling them to use "some" attribute.

@copypastedeveloper Please consider using `[NonTestAssembly]` on your own assembly.

[2017-06-08 19:47] Singh400 commented on #2217
Hi All,

I think I found the commit that introduced this regression; 9086990

Can anyone else confirm please?

Cheers,
Indy

[2017-06-08 19:49] jnm2 commented on #2232
I'm pretty sure it's [Mono.Cecil causes OutOfMemoryException with new .csproj PDBs](https://github.com/nunit/nunit3-vs-adapter/issues/296). If that's the case, [this](https://github.com/nunit/nunit3-vs-adapter/issues/296#issuecomment-285698000) is the workaround.

[2017-06-08 19:53] jnm2 commented on #2231
@CharliePoole OP might be saying that he's having issues with the console encoding. I don't know enough about NUnitLite to know if setting [`Console.OutputEncoding`](https://msdn.microsoft.com/en-us/library/system.console.outputencoding.aspx) to `Encoding.Unicode` is in scope for it.

[2017-06-08 19:55] jnm2 commented on #2231
@noobwu Please clarify what you are expecting and how it's different from what is actually happening.

[2017-06-08 20:04] CharliePoole commented on #2217
Good detective work! We need to figure out just why we thought we needed this. If it was __only__ for CF, we can change it back. @oznetmaster do you remember this?

[2017-06-08 20:04] jnm2 commented on #2230
@CharliePoole This may or may not be related like it was to https://github.com/nunit/nunit/issues/2163, but I think NUnit should discover test classes and methods which have attributes applied which inherit from TestFixture and Test, even though the test assembly itself does not directly reference NUnit.

If we agree and fix that, it may remove the need for an `NUnitAssemblyAttribute` for everyone

[2017-06-08 20:10] jnm2 commented on #2228
[http://www.moserware.com/2008/02/does-your-code-pass-turkey-test.html](Does Your Code Pass The Turkey Test?) 😆

[2017-06-08 20:12] copypastedeveloper commented on #2230
Well, yes, obviously checking assembly  tyoes for attributes would be
ideal, but it seems like the point at which the engine makes the decision
is before the assembly is loaded into an app domain, so that level of
inspection isn't possible.  I could be wrong, I formed that opinion after
about 30 minutes of looking at the code.  :)

On Thu, Jun 8, 2017, 3:04 PM Joseph Musser <notifications@github.c

[2017-06-08 20:17] jnm2 commented on #2230
Right, so to obtain the ideal outcome, we'd either check each test assembly's references recursively for NUnit before loading into an AppDomain and doing further checking to see if it is a test assembly, or we'd just always load it into an AppDomain and do further checking to see if it is a test assembly.

Actually checking references recursively is really simple and can be implemented quite effic

[2017-06-08 20:28] #2213 closed

[2017-06-08 21:04] CharliePoole commented on #2231
@jnm2 According to the display he used `--testlist=test.dll`. The console is reading `test.dll` a text file and listing all the "lines" it finds in it as "test" names.

[2017-06-08 21:35] CharliePoole commented on #2228
When I was at Microsoft we used to get tons of bugs from testers who ran in the Turkish culture. We hated them for it! 😄

[2017-06-08 21:53] CharliePoole commented on #2230
@jnm2 By default (and I think preferred usage) we run tests in a separate Process. Before setting up the process, we have to inspect the assembly to see what kind of process we will set up. In the general case, we have to allow for that process having a different runtime target and a different platform from the one we are on. In the future, it will be worse, since we will want to run on devices.

[2017-06-08 22:01] mikkelbu commented on #474
@CharliePoole The file was added in 7eda103d2d4500386203518ecba5de2772359d2c (also tests were added).

[2017-06-08 22:19] jnm2 commented on #2231
@CharliePoole I'll pay more attention.

[2017-06-08 22:32] jnm2 commented on #2230
This just academic but I'd be interested to see which is actually less of a performance penalty, using Mono.Cecil to parse the IL or ReflectionOnlyLoad in a temporary AppDomain, and by how much.

The payback is that test frameworks like in https://github.com/nunit/nunit/issues/2163 that use NUnit underneath can stop being leaky abstractions. For what my personal instinct is worth, I'll always see

[2017-06-08 22:38] oznetmaster commented on #2217
We changed to Sleep(1) from Sleep(0) because Microsoft issued a document that basically stated that Sleep(0) should never be used!

It had nothing to do with the CF build.

I think I referenced the document in the original issue.  I have not searched for it, but it should be there.

[2017-06-08 23:30] CharliePoole commented on #2230
I'm somehow not being clear. It is __not possible__ for us to use Reflection in all cases because the engine is expected to examine assemblies that could not be loaded and/or run in the current process.

I guess one has to also ask if building abstractions on top of NUnit is something we want to support. I don't know that. It was never thought about in the past an we have never discussed it.

Supp

[2017-06-08 23:35] CharliePoole commented on #2230
@nunit/framework-team We're talking around this because nobody has actually added it to the backlog, much less self-assigned it. If we decide to fix it in the engine rather than as I proposed, then the issue should be moved there and the title changed.

[2017-06-08 23:37] Lette commented on #2228
I've made all tests pass under Swedish, Turkish and English (U.S.) cultures.

My code is, however, depending on #2179 being closed by merging #2185 into master, which will take care of the last (first?) seven failing tests.

I'll wait for your decision on that one, before I make a PR.

[2017-06-08 23:40] #2179 closed

[2017-06-09 02:08] jnm2 commented on #2226
Oh. Last week makes more sense now. :smile:

[2017-06-09 02:30] #2208 closed

[2017-06-09 02:47] noobwu commented on #2232
test.dll contain NUnit 3 tests
nunit version  3.6.1.0
NUnit Adapter 3.7.0.0: Test discovery starting
Assembly contains no NUnit 3.0 tests: Test.dll
Exception System.OutOfMemoryException, Exception converting
Tests.Can_store_and_read_bool_values
引发类型为“System.OutOfMemoryException”的异常。
test code eg:
    [Test]
        public void Can_store_and_read_bool_values()
        {
            using (var db =

[2017-06-09 06:25] mbrehmer commented on #2224
You are right Joseph, This error came from the async method itself and was the origin of my issue.
That's the Problem, if you have to use the NUnit3 test adapter for Visual Studio. All errors are shown as caused by the test, so it's quite hard to see their real origin, even if you have the stack trace.

Now everything works fine.
Thank you guys for your great help.

[2017-06-09 06:25] #2224 closed

[2017-06-09 07:32] mintsoft commented on #2217
IIRC `Thread.Yield` won't allow a thread from another core to be time-sliced in, only threads that are already scheduled for execution on the core that's yielded. I.e. it doesn't force a context switch

[2017-06-09 07:53] appel1 commented on #2217
Is there a reason for the event pump thread to run with highest priority? The commit comment that it fixes a deadlock seems odd to me. Always tricky when you mess with the thread priorities.

[2017-06-09 11:55] CharliePoole commented on #2217
@appel1 Where is this coming from? The event pump thread should not have highest priority at all. It makes blocking calls to unknown event handlers.

[2017-06-09 12:02] rprouse commented on #2222
I also like @CharliePoole's suggestion although it will require some change to our build process. My only concern with that suggestion is that it could result in CI builds creating new builds using the released build number (plus the CI identifiers) after a release since we usually increment the version number post release.

I would like to see us get to a point where tagging a release builds it o

[2017-06-09 12:07] appel1 commented on #2217
@CharliePoole https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Internal/Execution/EventPump.cs#L143

[2017-06-09 12:54] rprouse commented on #2232
@noobwu as @jnm2 stated, the workaround for your issue is at https://github.com/nunit/nunit3-vs-adapter/issues/296#issuecomment-285698000

I think that if you run your tests with `nunit3-console.exe` your tests will work. It is a bug in the Visual Studio adapter.

[2017-06-09 12:55] rprouse commented on #2232
I am going to close this issue as a duplicate. Please feel free to continue to comment here, we will see your responses.

[2017-06-09 12:55] #2232 closed

[2017-06-09 12:55] CharliePoole commented on #2217
Wow! That has been in there since NUnit 2. Back then, it made a bit more sense. We had control over the event handlers and knew what they did. And using a higher priority made it possible for Sleep(0) to work.

[2017-06-09 13:32] ChrisMaddock commented on #2230
This issue has come up a few times. If it's possibly to fix it via recursive inspection of references, I'd be in favour of that over a special attribute, as that's the closes path to 'just works' for the user. That of course relies on someone being willing to implement such a thing!

[2017-06-09 13:36] jnm2 commented on #2230
Me 😈

[2017-06-09 13:39] jnm2 commented on #2230
@CharliePoole I like to keep a clear delineation between "this is a direction we like in isolation" and "this is worth prioritizing over other work." They are separate conversations. If a design is agreed upon, it can sit on our backlog and be up for grabs if a passerby has a motivation to implement it. And if we determine we want it next year, we don't have to start the design conversation from s

[2017-06-09 13:46] appel1 commented on #2217
I'm most likely missing something but I can't observe any issues using nunit-console, nunit-gui or R# if I remove changing the thread priority and sleeps in dequeue even when running the tests in-process.

What problem is that code trying to solve? Don't have access to any single core non-ht machines to test on so maybe that is it.

[code]

[2017-06-09 14:48] CharliePoole commented on #2217
My inclination is to drop the priority-setting and the Sleep and see what happens over the next month. We can adjust before a release if we have to.

[2017-06-09 17:37] ChrisMaddock opened #2237 "System.Runtime.Loader not available for iOS/Android"
I'm not 100% clear on the latest NuGet behaviour - so would appreciate a second opinion on the below. This is what I think is going on in https://github.com/nunit/nunit.xamarin/issues/87.

Out .NET Standard 1.6 build relies on System.Runtime.Loader 4.3.0. If you unzip that NuGet package, the structure looks like this:

[code]

When this package is installed into an Android project (and I assume .N

[2017-06-09 18:56] ChrisMaddock commented on #2237
Reopening after a couple of hours more digging. Would appreciate a sanity check!

[2017-06-09 19:05] ChrisMaddock commented on #2237
I missed a bit.

The other potential solution in my eyes would be to drop the System.Runtime.Loader dependency. I'm haven't looked in to what relies on it, but if we can do without it for .NET Standard 1.3, perhaps we can here as well. That way, our .NET Standard 1.6 build would be closer to actually being .NET Standard. 😤 We should probably check the other dependency, and what that _actually_ sup

[2017-06-09 19:17] ChrisMaddock commented on #2237
Ah, I found another reason we didn't see this before.

Between 3.6.1 and 3.7 - the version of the System.Runtime.Loader package was upgraded from 4.0.0 - 4.3.0. The former didn't include the 'placeholders' for MonoAndroid, the latter did. I wonder if it previously used to crash at runtime. :-/

https://github.com/nunit/nunit/commit/24c66b96bfdc6d81f8e196ae7e8e17de57f6940c#diff-ffc083106f0fb9a9c5b7

[2017-06-10 18:53] ayumsoftware opened #2238 "Assert.IsTrue throws NullReferenceException"
object a = null, b = null;
bool areEqual = System.Object.ReferenceEquals(a, b);

Console.WriteLine(areEqual); //prints True

//all of these asserts will throw "Object reference not set to an instance of an object."
Assert.IsTrue(areEqual);
Assert.IsTrue(a == null && b == null);
Assert.IsTrue((object)a == null && (object)b == null);

[2017-06-10 19:07] jnm2 commented on #2238
Is this a dupe of https://github.com/nunit/nunit/issues/2223? Also please specify the NUnit Framework version you are using because this looks like a lot of bugs that have been fixed.

[2017-06-10 19:26] CharliePoole commented on #2238
I was so stunned by this that I had to try it out! These are all the most fundamental assertions and have worked for a long time. Still, who knows? So I wrote this, which passes everything:

[code]

I'm guessing that @jnm2 got it right. Are you somehow trying to use NUnit Assert outside of an NUnit test? That will not work. The assertion depends on a bunch of things that are set up when NUnit runs

[2017-06-10 19:26] #2238 closed

[2017-06-10 19:33] ayumsoftware commented on #2238
I'm using NUnit v3.7.1 with TestDriven.NET so I can just right click into my Test file in Visual studio and say "Run Test(s)".

Sorry for this inconvenience guys but I think I just found where did I got wrong. Please see the attached files. I have really no intention of "duping" you, just wanted to help the community because I've been using NUnit for more than 3 years and it helped me a lot. Again

[2017-06-10 19:40] ayumsoftware commented on #2238
One thing also, I did not intentionally commented out the "Test" attribute there. I really did not put it there to begin with because my tests sometimes passed. I do this with TestDriven.NET tool (and not putting "Test" attribute) whenever I am too lazy (or in a hurry) to test some miscellaneous tests. Very sorry again guys for taking some of your time. Won't to it again, promise :)

[2017-06-10 19:43] jnm2 commented on #2238
My only recommendation is to never post an issue (in anyone's bug tracker) without doing a few searches to see what's already there, but certainly don't feel bad about being stumped! It happens to me all the time. 👍

TestDriven.NET is misleading people though, not sure I like that.

[2017-06-10 19:56] CharliePoole commented on #2238
Hey @ayumsoftware
You probably figured it out by now, but "dupe" isn't related to the english verb "to dupe" meaning to trick someone, it's short for "duplicate". It turns out your issue isn't a duplicate, however. 😄

[2017-06-10 20:03] CharliePoole commented on #2238
@jcansdale I think this may be a bug for you - unless it's an insufficiently explained feature. 😸

According to @ayumsoftware it's possible to run a test without test attribute (or commented out) by clicking on it in TD.Net. If that's correct, I think it's an error on your part.

One guess I can make: are you recognizing tests by the legacy method - that they end in "Test"? NUnit has not done that

[2017-06-10 20:04] CharliePoole commented on #2238
@ayumsoftware See... you did a good thing here! 😃

[2017-06-11 13:14] ayumsoftware commented on #2238
Hello @CharliePoole & @jnm2. Thanks guys for the effort of explaining these things to me. I feel ashamed because you ought not to do much effort about the issue that I submitted after finding out that it was my mistake. Don't worry, I already uninstalled the TestDriven.NET and use the TestRunners provided by NUnit. @jnm2 is pretty much convincing there which made me decide to use NUnit and its Tes

[2017-06-11 22:10] stevenaw commented on #2219
I can take this on.
Can I please be assigned to it?

[2017-06-11 23:04] CharliePoole commented on #2219
Hi @stevenaw  Sure thing. I sent you an invitation as a contributor. After you accept I'll be able to make assignments to you.

[2017-06-11 23:27] jnm2 commented on #2238
@ayumsoftware It's really not a big deal. You're cool! Please stick around :smile:

[2017-06-12 01:16] rprouse commented on #2238
@ayumsoftware TD.NET is also a great tool, you just need to remember to add the Test attribute 😄

[2017-06-12 01:23] oznetmaster commented on #2208
It seems like this fix is in the wrong place, and assumes that every stack trace line starts with whitespace, and the same whitespace.

If that ever changes, then this will break again.

Correct fix seems to be to Trim everything, and then format the reports correctly.

[2017-06-12 01:34] rprouse commented on #2230
If we go with the recursive inspection, the graph for .NET Core applications can be quite large, so we should probably optimize it a bit. We need to keep track of assemblies that have already been visited and not revisit (probably obvious, but putting it out there) and we might want to skip dependent assemblies that start with `System.` or `Microsoft.`.

Might we also only want to walk out one lev

[2017-06-12 02:26] stevenaw commented on #2219
Thanks @CharliePoole , I've accepted the invite 🙂

[2017-06-12 05:26] CharliePoole commented on #2230
Remember also that Cecil has to read __every__ assembly you inspect into memory. This sounds to me like one of those things developers do because it's a cool challenge, without a strong payback. Projects that do things on that basis sometimes end up with fragile code - although I'm sure we could do it well if we did it.

The attribute is not elegant, but it's trivial.

Another approach is for the

[2017-06-12 05:30] danpowell88 opened #2241 "SetCulture and RequiresThread"
Is it possible to use both of these at once with Nunit 3

From a quick test I could see some behaviour that seemed to indicate the thread did not have its culture set.

[2017-06-12 08:15] Lette commented on #2219
Just a thought:

If we're following SemVer, we have to consider that removing these attributes might be a breaking change, which will require a bump of the major version. So, this is probably something that shouldn't be done before the 4.0 release.

[2017-06-12 10:28] ChrisMaddock commented on #1730
This was done at some point.

[2017-06-12 10:28] #1730 closed

[2017-06-12 10:33] ChrisMaddock commented on #2241
I believe it should be!

What's your test? And what framework are you targeting?

[2017-06-12 15:06] CharliePoole commented on #2219
That's a point. Not sure how much into semver everyone is at this point though. @rprouse ?

[2017-06-12 16:48] deni35 commented on #1794
I think for reference-type we need a special function containing all asserts.
And set this function via special attribute. In this case you will not confuse TestCaseData and prevent different logic in one test.

For example:
[code]

[2017-06-12 17:57] CharliePoole commented on #1794
@deni35
Just a heads up... this issue was closed many months ago and really isn't on anyone's radar now. Making a comment here is OK, but won't cause anything to happen.

There are two ways to go to have a chance for some action.

1) Request this to be re-opened, presenting new reasons we didn't consider in the earlier comments. You should do this if you want us to do pretty much everything that w

[2017-06-12 20:40] jcansdale commented on #2238
Hi folks!

The explanation is that the method is being executed as an "ad hoc" test. You can do this with pretty much any method, property or field. See here:
http://testdriven.net/quickstart.aspx#Ad%20Hoc%20Tests

The clue in this case is at the bottom in brackets where it shows the test runner used to execute the test.
![image](https://user-images.githubusercontent.com/11719160/27053790-80951162

[2017-06-12 20:59] jnm2 commented on #2238
That seems reasonable. What if we were to prevent the NRE and throw a more helpful exception explaining that NUnit tests can't be run ad-hoc?

[2017-06-12 21:53] CharliePoole commented on #2238
@jnm2 Who is "we" in this context? Jamie's code or ours?

And as far as R# goes, we're all in the dark.

NUnit has no concept of "adhoc" execution. It's an error if a test is run outside of an execution context. Even if we "knew" there was such a thing as TD.Net's adhoc execution, we can't just assume that's what is happening when there is no execution context - that can signal serious problems.

[2017-06-12 21:59] jnm2 commented on #2238
@CharliePoole Our code. I would say in general NRE is never a good thing to allow to escape when people misuse your framework. It sends the message "we have a bug we don't know about." We should provide a message with all the information necessary for people to figure out what is going on.

ReSharper is kind of irrelevant. If Visual Studio supported a quick action to start debugging from any stati

[2017-06-12 22:14] CharliePoole commented on #2238
@jnm2 It's generally a good principle not to allow exceptions to escape, but it's an equally important principal not to handle exceptions when you don't understand their cause. This particular exception, if it occurs when calling NUnit through our supported APIs is an internal error. Since we could only handle it by throwing some sort of InternalErrorException, we have never done so. When it comes

[2017-06-12 22:28] jnm2 commented on #2238
@CharliePoole I agree with that, *if* TestDriven.NET is calling an NUnit API to run the method at all. But it's not. No runner is calling into NUnit; it's just running the code the user told it to. I think this should not result in an NRE but rather in a message explaining what's wrong:

[code]

[2017-06-12 22:41] CharliePoole commented on #2238
@jnm2 TD.Net is commercial, non-open code, so how do you know what it's doing? I don't.

[2017-06-12 22:42] CharliePoole commented on #2238
@jnm2 Taking it a step further: I _could_ try to do some reverse engineering, but I kind of think I shouldn't. 😺

[2017-06-12 22:45] jnm2 commented on #2238
@CharliePoole IMO it doesn't matter what TD.NET is doing because we know that [this code sample](https://github.com/nunit/nunit/issues/2238#issuecomment-307951896) causes NUnit to surface a NRE without any third-party tools in the picture. Then, if we still have this issue with TD.NET which I doubt, it's a bug for jcansdale.

[2017-06-12 22:57] danpowell88 commented on #2241
I ran a few variations of the following and it all appeared to work, my issue my be related to something else

[code]

[2017-06-12 22:57] #2241 closed

[2017-06-12 23:05] CharliePoole commented on #2238
@jnm2 Sorry... I didn't actually notice what your sample was doing. We shouldn't keep talking about this in the TD.NET issue, 'cause it confuses us old folks.

That has never been something users were __supposed__ to do, but I have certainly seen it before. It would have appeared to work for some percentage of tests in the past. I could argue that throwing an NRE is actually an improvement over fa

[2017-06-12 23:12] jnm2 opened #2242 "Running tests directly should never surface a NullReferenceException"
We're gathering a few bug reports around this issue. People try to manually run or debug an NUnit test and get a NullReferenceException. This sends the message to the user that this is a bug we do not know about. It would be better if we surfaced an exception with a helpful message getting the user on the right track.

Even better than that, I wish we could fall back gracefully and continue. That

[2017-06-12 23:13] jnm2 commented on #2238
https://github.com/nunit/nunit/issues/2242

[2017-06-13 00:21] jnm2 opened #2243 "Provide a helper method similar to TestBuilder.RunTest"
I used to be able to do this so that I could debug the test every time I pressed F5:

[code]

Now that that is not possible, it would be great to be able to directly run tests like this:
[code]

What I definitely don't want is to have to reference any assembly other than nunit.framework.dll just for this.

Rough draft of the new API:
[code]

[2017-06-13 02:07] CharliePoole commented on #2242
@jnm2 I had two reasons for the change of title:

1. The method is not actually being called through an API here. Of course, to be precise, Assert is an API, but that's not how we describe it when we tell people there are three APIs for running tests in the docs.

2. It's usually better to put issues in terms of the problem space rather than the solution space - i.e., the internal TestExecutionCon

[2017-06-13 02:20] CharliePoole commented on #2243
Although we are reorganizing things, I think we should follow existing protocols for now and only change with notice to everyone when and if we decide differently.

So... marking something as an enhancement (usually coupled with adding it to the Backlog) has always given anybody - team or contributors - the right to self-assign it and implement it. If we did that here, then the only review would b

[2017-06-13 02:26] CharliePoole commented on #2242
@jnm2 In our discussion about this you had raised the issue of figuring out how we were called and actually running successfully, rather than giving an intelligent error message. Have you given up on that?

[2017-06-13 02:36] jnm2 commented on #2242
@CharliePoole

Not if you think the idea has merit! 😃

[2017-06-13 04:57] #1996 closed

[2017-06-13 06:24] CharliePoole commented on #1996
@jnm2 Did you actually intend to close this?

[2017-06-13 06:33] CharliePoole commented on #2242
@jnm2 If you haven't already noticed :smiley: I'm big on JIT. I think this idea has merit but I don't know if it's feasible. If I decided to work on this, that point in time would be just-in-time for figuring out what's possible to do here. I'm just saying that we won't know until somebody takes on the issue.

Here's a bit of agilist propaganda for you...

One of the stated values of XP is Courage

[2017-06-13 07:59] yommgui commented on #2212
Hi @CharliePoole
Any news?

[2017-06-13 08:46] appel1 opened #2244 "Add KeyValuePair<TKey, TValue> to the default formatters"
Many times the ToString representation of KeyValuePair isn't very helpful so I think it'd make sense if there was a default formatter that formatted the key and value separately using the registered formatters.

[2017-06-13 08:51] appel1 opened #2245 "Make the delegate for TextContext.AddFormatter<TSUPPORTED> generic"
Since AddFormatter checks the type it'd make the formatter callback simpler.

[2017-06-13 09:16] appel1 opened #2246 "Expose the formatter chain to formatters"
Currently I don't see any way to continue using the registered and built-in formatters in the TestContext.AddFormatter delegate.

Right now I do the following but I'm guessing I'm not supposed to use the classes from the NUnit.Framework.Internal namespace.

[code]

[2017-06-13 09:25] cncharman opened #2247 "Test cases skipped"
We have two TFS servers which integrated with NUNIT to execute automatic unit test.
Every night the same unit test dynamic library will be loaded and executed, but with different results as below.

The two servers all are installed with WIN7.

**Server 1**
... Total: 50, Passed: 25, Failed: 0, Other: 25 Click here for details

**Server 2**
... Total: 50, Passed: 50, Failed: 0, Other: 0 Click here

[2017-06-13 09:46] lanzelot1989 commented on #1826
I am also facing this issue with test runners that are able to start tests from Visual Studio, i tried both:
* Resharper Unit Testing and
* NUnit VS Adapter

The problem seems to be this line in ByFactory:
https://github.com/appium/appium-dotnet-driver/blob/master/appium-dotnet-driver/Appium/PageObjects/ByFactory.cs#L32

I think the problem can be generalized and would occur when a loaded DLLs tri

[2017-06-13 09:49] jnm2 commented on #1996
Yes, this was supposed to be closed in #2023.

[2017-06-13 10:07] CharliePoole commented on #1996
A comment is good in such situations.

[2017-06-13 15:08] CharliePoole commented on #2247
Clearly something is different on Server 1. Take the NUnit console output from both of them, start at the top and see what is different in the listing. First thing to check is the version of the console. If nothing turns up there, do the same with the XML output. You can post any suspicious differences here.

[2017-06-13 15:20] LirazShay commented on #164
Can someone explain me how does it work?
I have a test class
When I run this tests NOT in parallel - all tests passed
But when I run them with   [Parallelizable(ParallelScope.Children)]
So they do run in parallel (multiple methods in the same class)
but for some reason some tests are failing.
I have some instance fields in this class and it seems that those fields are shared between threads
Am I r

[2017-06-13 15:31] CharliePoole commented on #2246
I see your point. I started to show you how to do it but then I realized you want the Value to be displayed using the formatters recursively. Let me give this a think!

[2017-06-13 15:37] CharliePoole commented on #164
You figured it out! Yes, all tests in a fixture use the same instance. This is historical with NUnit, which has always worked that way. You must choose between running the test cases in parallel and having any state that is modified per test. There is no way around it currently.

That said, if you have a decent proportion of fixtures, simply running fixtures in parallel can give you good performan

[2017-06-13 15:45] CharliePoole commented on #2245
Seems like a good idea, but do we need this issue plus #2246 ?

[2017-06-13 15:47] CharliePoole commented on #2244
Related to #2245 but a built-in solution avoids adding a new user interface. Seems like a good quick fix.

[2017-06-13 16:41] jnm2 commented on #2242
@CharliePoole I had given up on convincing the team because of the last few discussions we've had a while back. In that case, since that would be the preferred fix and I think it'll be conceptually on the same order of difficulty, I'll shoot for that first and fall back to giving a message only if it's not feasible.

[2017-06-13 18:05] CharliePoole commented on #2242
@jnm2 Absolutely! I merely expressed that I thought there could be difficulties. Nothing definitive about that. If there are difficulties, you'll probably notice them. 😄 It's different when you are planning to try yourself versus trying to convince someone else (maybe a contributor) to do it a certain way.

[2017-06-13 18:12] appel1 commented on #2245
I think it would be helpful.

[2017-06-13 18:17] CharliePoole commented on #2245
I agree. I'm asking why this is not a duplicate of #2246 ?

[2017-06-13 18:25] appel1 commented on #2245
If the delegate was generic you could use it like this instead:
[code]

Instead of:
[code]

But not a big deal, just a little thing I thought worth mentioning that could simplify usage.

[2017-06-13 18:26] appel1 commented on #2245
Perhaps it would also make it a little bit more obvious that the delegate will only be called with an instance of the specified type as argument.

[2017-06-13 18:30] CharliePoole commented on #2245
We are missing one another. 😄 I understand both issues. Aren't they both part of one issue, with one solution? This issue appears to be at least a partial solution for the problem in #2246.

I see why #2244 is separate, although I'd probably fix it in the same PR as the other two, but #2245 and #2246 seem to be looking at the same problem from two different perspectives.

[2017-06-13 18:33] CharliePoole commented on #2245
@appel1 "Perhaps it would..." What is "it" in that sentence? If it's this (#2245) issue, there's no doubt that it's a very good idea. My doubts were about #2246.

[2017-06-13 18:37] appel1 commented on #2245
This one is for the signature of the delegate to make using AddFormatter easier. #2246 is about making it possible to implement the callback to recursively take advantage of the existing formatters, in my current specific case (KeyValuePair) that would be handled by #2244 but we have other classes not part of the framework that could take advantage of that.

Perhaps I'm just too tired to be able e

[2017-06-13 19:41] CharliePoole commented on #2245
@appel1 No, I think it's me not expressing my question clearly.

First... thanks for the explanation... I did understand the details of what you were asking for. I was more on the higher level of whether we should manage these things as separate issues or just unify them and make one fix. Let's just keep them separate now and do a single PR for both of them if that seems appropriate to whomever ta

[2017-06-13 19:52] evancam opened #2248 "OneTimeSetup runs multiple times if Test throws exception"
Using v3.6.1/3.7.1 from nuget.
NUnit Adapter 3.7.0.0

Nunit seems to re-run OneTimeSetup if a test fails due to an exception being thrown. If multiple tests throw exceptions, it will  It does not re-run OneTimeSetup if the test failed due to an assertion.

This behaviour can be seen through the following code by debugging, or observing the output of the setup below. One of the tests will fail, the

[2017-06-13 22:52] tgmayfield opened #2250 "Storing trace output"
With NUnit 2.6.3 and earlier, I had logging configured to output to `Trace`. Most of the time, tests are run either from CI or from ReSharper, either of which let me dig down into that trace output if there was a problem or if I needed to investigate a test. The other common runner was from the command-line, to run the full test suite before committing or pushing changes.

I've upgraded to NUnit 3

[2017-06-13 23:04] tgmayfield commented on #2250
As I'm thinking about it, I would be perfectly fine with logging using `TestContext.WriteLine(...)`, if that output did not show when running from the console. Is that an option?

[2017-06-14 02:06] CharliePoole commented on #2250
It's pretty easy to capture trace output, as we did in NUnit V2. However, trace output is simply text and has no info attached that tell us which test produced it. In NUnit V2, we only ran one test at a time, so we could deduce which test had created the trace output. This was also true for log4net output.

In NUnit 3, with the possibility of multiple tests running in parallel, we can't associate

[2017-06-14 02:12] CharliePoole commented on #2248
The example you give creates two fixture instances. OneTimeSetUp in a fixture class is intended to use in initializing each instance. For that reason, your OneTimeSetUp will be run twice. This happens whether there is an exception or not, although you may not have noticed it without the exception.

I'll give you a chance to reply before closing this in case I have misunderstood the question.

[2017-06-14 02:16] cncharman commented on #2247
I found a difference in the output cleanupScript.log

Server 1
Local\VSEQT\QTAgent\4202f1a8-5846-4ad9-b67b-9e44741f2061\SHCT008\Deployment>set TotalAgents=2

Server 2
AppData\Local\VSEQT\QTAgent\cafac896-a9be-451c-825e-83447929ac4f\SH296A\Deployment>set TotalAgents=1

I need only one agent in server 1.
How can I set to unify the difference.

[2017-06-14 02:27] CharliePoole commented on #2247
TotalAgents is not an NUnit thing, although we have an --agents command-line option. I guess this is TFS.

[2017-06-14 03:23] jnm2 opened #2251 "Randomizer.NextGuid()"
Creating a random GUID is not as straightforward as setting all 128 bits randomly. Ref: https://en.wikipedia.org/wiki/Universally_unique_identifier#Version_4_.28random.29

https://github.com/nunit/nunit3-vs-adapter/issues/331 is an example of where someone needs random GUIDs using the repeatable randomness from `TestContext.CurrentContext.Random`.

[2017-06-14 04:19] CharliePoole commented on #2251
Doesn't seem like an easyfix to me! Requires knowledge of the different GUID types and how to generate them. (easyfix label is intended to attract new and inexperienced folks)

[2017-06-14 04:54] jnm2 commented on #2251
Perhaps not. Ideally we'll copy whatever CoCreateGuid is doing (what Guid.NewGuid wraps).

[2017-06-14 05:17] agray commented on #164
Is is possible to have the [Parallelizable(ParallelScope.Children)] in the
AssemblyInfo.cs file?

Has anyone seen that working?

On 14 June 2017 at 01:37, CharliePoole <notifications@github.com> wrote:

[2017-06-14 05:21] jnm2 commented on #2251
We can duplicate what `Guid.NewGuid` is doing by masking 128 random bits with `ffffffff-ffff-0fff-3fff-ffffffffffff`.

<details>
  <summary>Derivation</summary>

[code]
</details>

[2017-06-14 05:33] jnm2 commented on #2251
So, the entire implementation will look like this:

[code]

All that remains is writing tests.

[2017-06-14 05:33] jnm2 commented on #2251
And code comments.

[2017-06-14 05:45] jnm2 commented on #164
@array Yes, in fact that's the only reason I have an AssemblyInfo.cs now.

[2017-06-14 05:51] CharliePoole commented on #2251
@jnm2 Where does the code come form that you used and how is it licensed?

[2017-06-14 11:41] LirazShay opened #2252 "Parallel execution of test methods within a fixture is not thread safe"
As @CharliePoole mentioned here: https://github.com/nunit/nunit/issues/164#issuecomment-308157832
When running test methods within a fixture in parallel, all tests in a fixture use the same instance.
This makes this feature not usable in most cases for the following reasons:
1. My test class use shared resources, for example - fields that are declared in the class, now - 2 tests are running in par

[2017-06-14 12:30] ChrisMaddock commented on #2252
There's an open issue discussing this as a proposition below. I suggest you add your thoughts there, I'll close this one as a duplicate. 🙂

https://github.com/nunit/nunit/issues/2105

[2017-06-14 12:30] #2252 closed

[2017-06-14 12:33] jnm2 commented on #2251
@CharliePoole both written from scratch in VS by me as a contribution to NUnit under the repo licence. We

[2017-06-14 12:34] jnm2 commented on #2251
But it needs comments.

[2017-06-14 13:32] agray commented on #164
Hi Joseph,

What parallelism line are you adding to your AssemblyInfo.cs file?

I'd love to know what works.

Cheers,

Andrew

On Wed, 14 Jun 2017 at 4:17 PM, Joseph Musser <notifications@github.com>
wrote:

[2017-06-14 13:41] jnm2 commented on #164
@agray The one you asked about:

[code]

[2017-06-14 13:45] MaceWindu commented on #164
don't forget target
[code]

[2017-06-14 14:06] tparikka commented on #164
@LirazShay I use NUnit to drive Selenium tests, and was using fixture-level fields to hold things like references to user accounts and to the Selenium WebDriver instance that I was working with and so was unable to run tests in parallel in-fixture. The way I worked around that was to write a "factory" (I use quotes because I'm not sure it's the right term) that implements IDisposable that for each

[2017-06-14 14:20] CharliePoole commented on #2251
Sorry, you said something about "copying" so I thought you meant code. We can use other open source code but only if the license is compatible.

[2017-06-14 14:39] lorisp1 commented on #652
Hi, I've just upgraded to nunit framework 3.7 because I needed to execute some test actions before OneTimeSetup, but I noticed that the code sample above is producing the following result:
[code]
which is OK, but at the Fixture level, I'm seeing the following output:
[code]
while the expected result, if I'm not wrong, is:
[code]

[2017-06-14 15:40] CharliePoole commented on #652
If you look at my comment, immediately before yours, you'll see that there was no solid agreement about what to implement. I implemented a minimal change that we agreed on and left everything else the same. I think your "expected" is what @47th asked for, but we didn't completely give it to him.

What would motivate us to do more might be a specific use case you have that requires some change. In

[2017-06-14 15:59] tgmayfield commented on #2250
I love the thought of having the ability to manage additional streams that get included in the report. It would prove very useful to have an explicitly-named log stream, SQL statement stream, etc.

For me, it's really about making a way of capturing additional trace output. I can see where developers would want to capture trace output from the SUT. Would that be possible based on trace categories?

[2017-06-14 16:14] evancam commented on #2248
Ah yes, I did not notice it initially with some changes I was making to the configuration. My mistake.

[2017-06-14 16:14] #2248 closed

[2017-06-14 16:16] CharliePoole commented on #2250
Do you mean to turn it on and off at the test level?

[2017-06-14 16:17] lorisp1 commented on #652
The behaviour I was expecting was based on the simpler approach proposed [here](https://github.com/nunit/nunit/issues/652#issuecomment-285107096), which by the way would be absolutely fine for my needs.

My use case is this: I have an abstract class IgnoreIf which extends TestActionAttribute and which has several concrete subclasses that checks some conditions and, if met, they invoke Assert.Ignor

[2017-06-14 16:21] CharliePoole commented on #652
In the end, I felt we only had agreement on test cases, so I didn't implement my proposal on fixtures. I can look again, but a use-case would help me and the other dev understand better what's needed.

[2017-06-14 16:44] jnm2 commented on #2251
Oh, that makes sense! I meant copy the _behavior_ of CoCreateGuid.

[2017-06-14 16:46] tgmayfield commented on #2250
Assuming you have additional streams available, `[CaptureTraceOutput("MyCategory)]` would be an easy extension to write at the test level, yes. The NUnit extension would just grab that category of trace output while the test is executing and append it to the additional stream.

[2017-06-14 17:10] CharliePoole commented on #2250
That would get you any trace output produced while that test was executing, but not necessary trace output __caused__ by that test. I recognize that an approximation might be useful, but just wanted to point out that a general solution to capturing output based on the test that caused it is not possible unless the originator of the output somehow tags it. That's what we do when you do TestContext.

[2017-06-14 17:37] tgmayfield commented on #2250
We got off into the weeds on what may be useful for existing Trace statements, just playing with ideas for capturing it when possible.

For my own needs, just having additional streams available (that don't output to the console) on the TestContext would have me taken care of. I can whip up a pull request toward that end, if you'd like.

[2017-06-14 17:46] CharliePoole commented on #2250
Maybe let's spec it out a bit here first. I was just trying to find out where this issue needed to go versus where the weeds are. 😄

What would we add to TestContext as a user interface if we want to do this?

[2017-06-14 18:37] jnm2 commented on #164
@tparikka I highly recommend exactly that approach myself.

[2017-06-14 18:44] bjharo opened #2253 "Parallelizable(ParallelScope.Fixtures) doesn't work on a TestFixture"
I use NUnit for my UI (Selenium) and API (REST Calls) integration tests.  I'm currently testing 3.7.1 and my tests are not executing in parallel as they did in 3.6.1.  I've gone over the changes in 3.7.1 and the documentation but I can't seem to figure out where the problem lies.

All of my test classes have these attributes:
`[TestFixture]`
`[Parallelizable(ParallelScope.Fixtures)]`
or
`[TestFixt

[2017-06-14 19:21] jalbertSyncroTech commented on #2237
When upgrading our nunit.xamarin Android test projects from NUnit v3.6.1 to v3.7.1 I'm now getting this error with the latest stable VS2017:
`Exception while loading assemblies: System.IO.FileNotFoundException: Could not load assembly 'System.Runtime.Loader, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. Perhaps it doesn't exist in the Mono for Android profile?`

I *did* get t

[2017-06-14 19:39] jalbertSyncroTech commented on #2237
I was able to get past the compile error by removing m ExcludeAssets work around, but this triggers the runtime error I had been getting previously with v3.6.1 without the work-around:
`06-14 15:35:46.296 F/monodroid-assembly( 3201): Could not load assembly 'System.Runtime.Loader' during startup registration.`
`06-14 15:35:46.296 F/monodroid-assembly( 3201): This might be due to an invalid debug i

[2017-06-14 21:45] CharliePoole commented on #2253
Possible bug when using ParallelScope.Fixtures __on__  a fixture. You expect it to mean run this fixture in parallel but it may not babe doing that since it was meant to be used at a higher level and apply to fixtures __below__ that point. Try replacing with just [Parallelizable].

[2017-06-15 07:08] Aurelianus opened #2254 "EqualTo on ValueTuple with Nullable unexpected"
I recently observed unexpected test failure when comparing ValueTuples with nullable types.

This works:
`(string name, int val) tuple = ("Hello", 3);`
`Assert.That(tuple, Is.EqualTo(("Hello", 3)));`

Fails with msg: "Message:   Expected: (Hello, 3) (Int32])  But was:  (Hello, 3) (Int32]])"
`(string name, int? val) tuple = ("Hello", 3)`
`Assert.That(tuple, Is.EqualTo(("Hello", 3)));`

With correct

[2017-06-15 11:18] lorisp1 commented on #652
Sure, please consider the following classes:
[code]
Using nunit.framework 3.7.1, I'm obtaining the following result:
[code]
while with NUnit 2.6.4, adapting the code as required:
[code]
the test would be ignored:
[code]

[2017-06-15 11:29] bjharo commented on #2253
@CharliePoole That was it.  Thanks!

[2017-06-15 12:55] jnm2 commented on #2254
@nunit/framework-team I'm strongly in favor of bringing this philosophy over to NUnit from our discussions at dotnet/rosyn and dotnet/csharplang:

 1. Tuples (the C# language feature) are intended to be as much as possible like an argument list.
    Operations on a tuple should be distributable as operations on each individual value.
    For example, `(a, b) == (c, d)` should be synonymous with `a

[2017-06-15 13:32] CharliePoole commented on #2253
Although `ParallelScope.Fixtures` is intended to make all fixtures below a certain point in the tree run in parallel, it's fairly natural for users to mistakenly use it on the fixture itself. In this case, we should treat it as implying `Self`.

[2017-06-15 13:50] CharliePoole commented on #2254
That makes sense to me so long as your intention is not to go crazy with conversions.... i.e. "5" != 5. (We are not PL/I).

However, before we code I'd like to understand why this isn't working. I assume that we are falling through all of our special cases and using the ValueTuple Equals override. If Tuples are intended to work in the way you describe, why doesn't its Equals do the job correctly?

[2017-06-15 14:06] jnm2 commented on #2254
@CharliePoole

At runtime, the static type information does not exist to implement the equivalent of `a == c && b == d` via  `(a, b) == (c, d)`. That has to be something the compiler does by circumventing the ValueTuple type. And that's why I stressed in point 2 that the `ValueTuple` type and its `Equals` method are not the way to go. `ValueTuple` only matters so long as it is able to support the

[2017-06-15 14:11] jnm2 commented on #2254
To make this more concrete, the intention of this code will never be to make sure the function's static return type is correct. It will always be to make sure the multiple returned values are correct:

[code]

[2017-06-15 14:26] CharliePoole commented on #2254
OK... when I commented on your idea of ignoring types, I didn't mean the type of the tuple, but the type of the items. It seems to me that we need to compare Item1 to Item1, Item2 to Item2, etc. using __NUnit__ equality rules, not C# rules. I don't want to have something like

[code]

[2017-06-15 14:43] jnm2 commented on #2254
@CharliePoole Ah, got it. Thanks for clarifying that. I agree that the value-to-value comparisons should be NUnit comparisons, and that doing it any other way would not be following the philosophy of tuples.

In other words I believe that whether this succeeds:
[code]
Should be exactly the same as whether this succeeds:
[code]

For any values of `"Hello"` and `"5.0"` 😄

[2017-06-15 14:46] jnm2 commented on #2254
Aka `Is.EqualTo` being distributive. We should also see if any other kind of constraint needs to be distributive with tuples.

[2017-06-15 14:56] CharliePoole commented on #2254
Separate issue, hopefully. 😉

[2017-06-15 14:57] CharliePoole commented on #2254
Please finish triaging this and then either take it or leave it for somebody else!

[2017-06-15 15:03] CharliePoole commented on #652
OK... it seems like an odd use for an Action Attribute, but I can live with it. 😄

Odd for me because I see Action Attribute as something we have gotten away from in favor of various interfaces. We're forced to maintain it because it's the only way to place an attribute on a fixture and have it injected for every test case. Eventually, we'll find another approach and deprecate this.

In this case,

[2017-06-15 15:18] jnm2 commented on #2254
@nunit/framework-team If you're comfortable with taking the design I proposed, I wonder what priority we should set for this? I'd be happy to take this one but I have my hands full and don't want to prevent someone else from doing it sooner.

[2017-06-15 15:24] CharliePoole commented on #2254
@jnm2 You're a team member and even a core team member. You can feel free to give stuff the priority you believe. That's what triaging involves. Hint: almost everything is normal, by definition, unless you have a reason to think it is low or high. Critical, means stop the presses, we need a new release tomorrow. Seriously... unless the project lead decides to change it, all committers have the aut

[2017-06-15 15:31] jnm2 commented on #2254
@CharliePoole Cool.

Okay. Is it usually fine to just make a proposal, hear from only one other framework team member, and go ahead and implement it or ask someone to take it on, and then rely on other team members being able to give their feedback on if and what we're doing during the PR in case the framework team doesn't end up with consensus?

[2017-06-15 15:44] jnm2 commented on #2254
I'm going to put this in the backlog as up-for-grabs. That means PRs are welcome from @Aurelianus or anyone else who would like to see this get done sooner. Please comment if you'd like to contribute so we can assign you to avoid race conditions. :smile:

[2017-06-15 15:57] lorisp1 commented on #652
OK, then I'll change IgnoreIf so that it implements one of those interfaces instead of extending TestActionAttribute.

Thank you very much for helping me! :smile:

[2017-06-15 16:22] jnm2 opened #2255 "[Meta] Up-for-grabs label"
tl;dr I'd like to apply an <kbd>up-for-grabs</kbd> label as liberally as possible because it's a good signal to potential outside contributors that we are hoping they jump in.

Even if most of our unassigned backlog items end up with this, it's still a valuable signal. Outsiders won't know what our plans mean for them when we leave an issue unassigned, and most can't see the fact that it's in our

[2017-06-15 16:28] ChrisMaddock commented on #2255
I suggested this before, but it was decided against on the basis that really, everything is 'up-for-grabs'.

Now, I'm not so sure on it. I like the idea, but it is a valid point that we're not a professional team, so really anything unassigned should be open for community contribution. The only state that might prevent that, would be that we haven't reached a decision on something yet, which does

[2017-06-15 16:33] jnm2 commented on #2255
Cool. I organized the sections above a little better. How would you respond to the points above?

[2017-06-15 16:38] CharliePoole commented on #2254
Bearing in mind that our new approach to decentralization could mean that something changes in the future, here's how we have done it in the past.

A couple of committers will discuss how to do it and try to involve others to the extent that there seems to be a potential for controversy. That means we need to use judgement not only in how we want to implement it but also in realizing when an issue

[2017-06-15 16:40] ChrisMaddock commented on #2255
I they're are all good points, although I don't totally understand what you're getting at with the first sentence of point 1.

It comes back to the same issue as when I suggested it however long ago though - what _don't_ we label as up-for-grabs? (That may actually be a better point for you to clarify on! 🙂 )

[2017-06-15 16:43] jnm2 commented on #2254
@CharliePoole Thanks. It wouldn't be fair to self-assign this because I'm not going to get to it for a while.

Re: doing the same for structs- unlike tuples, structs do have structure and coherence. We shouldn't be accessing inaccessible fields or assuming it's meaningful to treat multiple fields in isolation. I think `.Equals` is exactly the right thing to do for structs in general.

[2017-06-15 16:54] CharliePoole commented on #2255
Our closest label right now is easyfix, but that adds the qualification that the job is easy.

One thing that @jnm2 brings up has been bothering me too. In order to understand what it's OK to work on you have to have ZenHub. That's not helpful.

I didn't know about up-for-grabs.net. That's at least a small motivator toward having a label. However, I'm inclined to think that we would have to do som

[2017-06-15 16:56] CharliePoole commented on #652
It's mutual! I think you have pointed out that there is stuff about Action Attributes that need to be in the docs... like... prefer to use one of our extension interfaces if possible!

[2017-06-15 16:58] jnm2 commented on #2255
@ChrisMaddock

@CharliePoole

Appreciated! I addressed both of these in point 4 and added a section "What don't we label as up-for-grabs?"

[2017-06-15 17:12] jnm2 commented on #2255
It's also a way to tell people, "if you want this, don't wait for us to do it." Knowing that we're planning for outside contributors to work on an issue will itself make it more likely for outside contributors to work on it.

[2017-06-15 17:21] CharliePoole commented on #2255
@jnm2 The points you list under when not to use it map fairly well to the criteria we use for easyfix. Since up-for-grabs.net allows you to specify the label used in your yml file, it seems like we don't need another label. However, we may need to document better when we want easyfix to be applied and/or follow those guidelines better.

[2017-06-15 17:22] CharliePoole commented on #2255
@jnm2 On your last comment, I disagree. I do not think we want up-for-grabs or easyfix to mean we won't do it but you can or to have anything to do with priorities. It's orthogonal. If you want to indicate we probably won't get to it, just label it pri:low.

[2017-06-15 17:27] jnm2 commented on #2255
@CharliePoole

The only reservation I have is that I really want Randomizer.NextGuid() to be something that is marked up-for-grabs, but you didn't think it was an easyfix.  It's not the easiest thing in the world, but it's a self-contained, documented issue that anyone could pick up if they wanted.

Fair. How about, "It's also a way to tell people that if they want to see a certain thing finished

[2017-06-15 18:12] CharliePoole commented on #2255
I guess I figured one of our existing commiters or contributors should do this since Randomizer is so central to the framework. We could add some guidance that would steer people away from breaking test execution in general.

[2017-06-15 18:15] CharliePoole commented on #2255
One reason I am hesitant about solving this with a label is that I want to see us add comments that say "If you pick this up, do this... don't do that..."

[2017-06-15 18:18] ChrisMaddock commented on #2255
I definitely think there's two different concepts in 'easyfix' and 'up-for-grabs'. The former should be for simple changes suitable for a first time contributor to open source in general. The latter can have a bit more meat to it.

@jnm2 - I think your points under "What don't we label as up-for-grabs?" are good. I think the scoping is key. As you said, @CharliePoole - issues would need to have a

[2017-06-15 18:25] jnm2 commented on #2255
@CharliePoole

Is that sustainable though? And don't PRs reviews deal with this well enough? I welcome outside implementations that break things because it means we don't have enough tests. And where there are tests, that's the best spec and tightest feedback loop possible for the outside contributor to develop against.

I think we need both. The label for discoverability and advertising if you wi

[2017-06-15 18:27] jnm2 commented on #2255
Keeping `easyfix` alongside `up-for-grabs` is also a really good idea because outside contributors will notice what is easy and what is more meaty.

[2017-06-15 18:33] CharliePoole commented on #2255
@jnm2 I think finding out you did the wrong thing only after you write the code is a bad experience for a new contributor.

[2017-06-15 18:54] jnm2 commented on #2255
@CharliePoole

I don't disagree, but it's also a reality for every programmer. Many of my PRs to other projects seemed to tend that direction. I'm going to borrow your point that programmers are a resourceful lot. 😀 If we have so few tests that this ends up happening all the time, we'll recognize that and take the initiative to write more internal tests.
We can make it a good experience for new an

[2017-06-15 19:08] CharliePoole commented on #2255
I think it's one thing to get your code sent back as a result of code review. It's another to discover you did something completely different from what you were supposed to do. There may not even be test failures, but the reviewers are saying... that's not what we wanted from this issue. We should avoid that.

With failing tests, we avoid the problem by having better tests. With doing-the-wrong-th

[2017-06-15 19:34] #2244 closed

[2017-06-15 19:42] jnm2 commented on #2255
@CharliePoole Okay, yes. I agree.

First attempt:

<table><tr><td>

##### `up-for-grabs`

Indicates a backlog issue ready for implementation where we would love for the wider community to jump in to be assigned! Whoever adds this label should couple it with a comment suggesting what code to look at and a general approach to working the issue.

##### `easyfix`

Indicates an issue that is expected t

[2017-06-15 19:46] CharliePoole commented on #2254
I added to Backlog, which signals to us that we can self-assign and work on it. We're supposed to do a design next, before coding, according to the labels. I'm removing the design label so somebody can program on it. All this, of course, presumes that people know how we use labels and pipelines. New contributors may not. 😄

[2017-06-15 19:50] CharliePoole commented on #2255
I like your definition of `up-for-grabs`. It makes me think of just renaming it "community".

Isn't "Whoever..." still needed on `easyfix`? Seems like the new folks need the guidance even more. As a possible separate matter, we once considered assigning mentors to new contributors. Of course, we do that informally anyway.

[2017-06-15 19:51] jnm2 commented on #2254
I should have removed `design` after the conversation about waiting for the rest of the framework team. Things will go smoother when there isn't so much meta. 😆

[2017-06-15 19:54] tgmayfield commented on #2250
I've been thinking about how I'd use it, and how that would result in changes to TestContext. My thought right now is to add `TextContext.GetOutputStream("name")`, and then including those additional results in the generated result file. For the standard file, it would generate additional `<output name="name">` elements.

[2017-06-15 20:01] jnm2 commented on #2255
I'd prefer that except that `up-for-grabs` is possibly more immediately recognizable?

We should either require `easyfix` to be accompanied with `up-for-grabs`, or we should purposely allow it to be used on things that are *not* up for grabs. I could see potential value in either direction.

[2017-06-15 22:58] rprouse commented on #2255
I did a PR on Up for Grabs a couple years ago to add our easyfix label, so that is what we are currently listed under. I'm not sure it ever brought in many people, but who knows 😄

I like `up-for-grabs`. It might encourage people to contribute rather than repeatedly ask "what is the status of this issue?" or "when are you going to do this?"

If we do switch, we should make the change on Up for Gra

[2017-06-15 23:06] rprouse commented on #2254
One question that may be already answered above and I missed it. The plan is to iterate through each value in the tuple and compare it to the value in the second tuple. Will we use .NET equality for each of those values, or will we recursively pass each value back into the `NUnitEqualityComparer`? I would assume the later since that is what we do for other "collections".

[2017-06-15 23:10] jnm2 commented on #2255
So we are! 😆 I didn't look hard enough.
We are under http://up-for-grabs.net/#/tags/testing but sadly not under [http://up-for-grabs.net/#/tags/unit testing](http://up-for-grabs.net/#/tags/unit%20testing). I wonder if that can be fixed?

[2017-06-15 23:14] jnm2 commented on #2254
@rprouse I believe we should recursively pass each value back into NUnitEqualityComparer. This is why: https://github.com/nunit/nunit/issues/2254#issuecomment-308754988

[2017-06-15 23:20] rprouse commented on #2254
@jnm2 I agree, I just wanted to make sure it was clear if anyone picks up this issue. If it is one of us that takes this issue, it might also be a good opportunity to refactor that class into separate classes with one that pulls them all together. It is getting to be a bit of a monster.

[2017-06-15 23:25] jnm2 commented on #2255
Other possibilities:
 - http://www.firsttimersonly.com/#are-you-an-oss-project-owner
 - https://www.codetriage.com/?language=C%23

[2017-06-15 23:26] CharliePoole commented on #2255
Funny! Which of our projects are listed?

The tags would be in the yml file that Rob submitted.

[2017-06-15 23:27] CharliePoole commented on #2255
I guess we are overthinking this. Let's either keep easyfix or change it to up-for-grabs or help-wanted or whatever we like best - but one label seems sufficient.

[2017-06-15 23:28] jnm2 commented on #2255
@CharliePoole I want a label I can put on noteasyfixes so... 😆

[2017-06-15 23:30] jnm2 commented on #2255
https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/_data/projects/nunit.yml

[2017-06-15 23:32] rprouse commented on #2255
I think we are overthinking this too. Let's just add an `up-for-grabs` label and see how it works 😄

[2017-06-15 23:34] jnm2 commented on #2255
There's no way back from deleting `easyfix` if we change our minds so let's keep it. 😈

[2017-06-16 00:08] ayoung opened #2257 "Console.WriteLine() does not write to console when running`dotnet test`"
I'm running `dotnet test` targeting netcorapp1.1. Within the test I'm executing a console write but that text never makes it to the output on the screen.

[2017-06-16 00:59] agray commented on #164
I have the following in my AssemblyInfo file:

[assembly: Parallelizable(ParallelScope.Children)]
[assembly: LevelOfParallelism(16)]

Do I need the LevelOfParallelism attribute as well anymore?

On 15 June 2017 at 04:37, Joseph Musser <notifications@github.com> wrote:

[2017-06-16 01:08] jnm2 commented on #164
I haven't looked into using `LevelOfParallelism` yet. [It defaults to the number of cores you have.](https://github.com/nunit/docs/wiki/LevelOfParallelism-Attribute)

If your tests are not CPU-bound, higher makes sense. But as always with perf- the answer is so dependent on your scenario that it's better to measure rather than guess.

[2017-06-16 01:48] jnm2 commented on #2255
Also, we have `hardfix` and that makes it a good symmetry to leave `easyfix`.

My feeling is that the smallest possible change is to leave `easyfix` labels in place and add an `up-for-grabs` label. Is that a good way to proceed?

[2017-06-16 02:19] jnm2 opened #2258 "Up-for-grabs.net tag updates"
Here's what I'm thinking of adding so that we're more visible at http://up-for-grabs.net:

[code]

`NUnit`: Right now nothing happens if people search for 'nunit'. This will change that.
`.NET Core`, `cross-platform`: In case people are looking for such projects to contribute to
`unit testing`: It's a popular tag; we should be in the list
`OSS`: Seems redundant, but it's also a popular tag and it'

[2017-06-16 02:57] agray opened #2260 "Can't get Parallelism to work with NUnit 3.7.1"
I have a very similar issue #2253.

I have also consulted the docs related to Parallelism but its not making sense to me yet.

I am consuming NUnit v3.7.1 from NuGet and using nunit-console v3.6.1.  I have two Test fixtures both inheriting from a couple of base classes that provide a [TestCaseSource(typeof(MyClazz))] enumeration.  See #1118 for more information on this structure.

While it continu

[2017-06-16 03:40] jnm2 commented on #2202
I have incorporated the feedback into this page: https://github.com/nunit/docs/wiki/Best-practices-for-XML-documentation.

@CharliePoole

It makes an eye-catching difference every time intellisense or documentation is visible. It's not much effort nor is the raw XML harder than usual to read. I would at least not discourage it if at all possible.

[2017-06-16 05:37] CharliePoole commented on #2260
Best thing I can do is to read and interpret your code back to you.

The assembly level parallelizable attribute says that __everything__ can be run in parallel with everything else - setup fixtures, test fixtures, test cases, etc. You must have done a very solid job of removing dependencies to be able to do that.

You have a TestFixture that provides a ParallelScope argument. That doesn't make an

[2017-06-16 05:37] #2260 closed

[2017-06-16 06:17] danpowell88 opened #2261 "When an assembly is marked with ParallelScope.None and there are Parallelizable tests Nunit hangs"
Using the following

[code]

in a class library targetting .NET Framework 4.5.2

If I include
`[assembly: Parallelizable(ParallelScope.None)]`

in my AssemblyInfo.cs file and then have tests like the following

[code]

The test runner hangs and will not return, as soon as I remove the assembly attribute the tests run fine.

Repro solution here https://ufile.io/1zbgk

[2017-06-16 06:22] danpowell88 commented on #2261
This may be related also.

If I change the tests to be Fixture level with having None on the Assembly the tests do not hang and return a result but my Resharper test runner is telling me that

[2017-06-16 06:54] agray opened #2262 "Question: Issue 2260 follow on"
Following on from #2260, which was closed:

Is [this](https://github.com/saucelabs-sample-test-frameworks/CSharp-Nunit-Selenium/blob/master/ParallelSelenium) an incorrect code example?

[2017-06-16 08:11] appel1 commented on #2261
It looks like WorkItemQueue is restored to an empty queue after the parallel work items have been queued so they are lost. This causes nunit to get stuck in ParallelWorkItemDIspatcher.OnEndOfShift since State is not Complete but there are no shifts to start since all queues are empty.

[2017-06-16 08:27] ChrisMaddock commented on #2255
I agree with keeping easyfix alongside up-for-grabs. I think it's good to have a tag to identify the simplest issues to newcomers to pick up, and it seems we want to encompass more than that in up-for-grabs.

[2017-06-16 08:28] ChrisMaddock commented on #2258
Looks good. :-)

[2017-06-16 10:22] slarti-b opened #2263 "Cannot inherit NUnit.Framework.Constraints.Constraint in vb.net"
I'm trying to write a custom constraint in vb.net  Simplest possible example:
[code]
The ApplyTo definition was added by Visual Studio automatically even, when I inherited the nunit Constraint class.  Problem is, it won't compile!

I get two errors:

And

Looking at the nunit source for the Constain class I see that it defines two variants with (almost) the same signature:

[code]

One is abstract

[2017-06-16 12:46] CharliePoole commented on #2263
Well, they aren't "almost" the same signature, as they use entirely different types. 😄

What happens if you use ByVal in the definition of your override?

[2017-06-16 12:58] rprouse commented on #2258
Maybe add the common alternatives dotnet and dotnetcore?

On Fri, Jun 16, 2017 at 4:28 AM, Chris Maddock <notifications@github.com>
wrote:

[2017-06-16 13:08] jnm2 commented on #2258
@rprouse Sure, that makes sense. We'd be the first project to use those.

[2017-06-16 13:23] jnm2 commented on #2263
VB.NET doesn't allow methods to overload by ref-ness like C# does. I just did a test and it prevents you from overriding too if the signatures are ambiguous.

VB.NET can't even *call* a method if it has an overload which differs only by ref-ness.

[2017-06-16 13:25] jnm2 commented on #2263
Specifying `ByRef` and `ByVal` make no difference in the override. `ByVal` is redundant.

[2017-06-16 13:48] CharliePoole commented on #2263
@jnm2 In that case, it's pretty annoying that you don't get an error. The assembly is supposed to be CLSCompliant and not being able to call a method from VB seems pretty non-compliant to me!

It's still very odd that VB sees the two overloads as only differing by byref. That's confusing, since they are not `T` and `ref T` but `T` and `ActualValueDelegate<T>`. It even lists them correctly in the e

[2017-06-16 13:52] slarti-b commented on #2263
Yeah, they are different types - sorry, missed the other definitona dn thought that that was where the "byRef" variant in the VS message came from

Adding ByVal (or ByRef) doesn't help.  ByVal is anyway default if neither is given

I _can_ override the delegate variant by using
[code]

But it still won't compile the tests project, complaining that:

Having looked more at the source, I see that you

[2017-06-16 13:56] jnm2 commented on #2263
@CharliePoole Lol

[code]

https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs3006 "Overloaded method 'method' differing only in ref or out, or in array rank, is not CLS-compliant "

[2017-06-16 14:01] jnm2 commented on #2263
@CharliePoole Git blame: https://github.com/nunit/nunit/commit/6f9ca59e736b841ce9eef798f50b16ee2240c320#diff-bda8af86776dd93e124714b9ef005e79

[2017-06-16 14:32] CharliePoole commented on #2263
Ouch! The proper fix would have been to add `[CLSCompliant(false)]` but that may have rippled to a lot of the framework.

Key question would be whether writing custom constraints from VB is a goal. I'd say it is. In that case, we would have to figure out a new set of signatures - not a minor change.

[2017-06-16 15:48] slarti-b commented on #2263
Would it be an option to abstract the abstract stuff to a master class and have another which inherits it contain the virtual function and use that.  Why do you need both?

Would still be a non-trivial change of course

[2017-06-16 17:58] CharliePoole commented on #2261
The problem is that the queue state is restored without having previously been saved. It happens because we save the queue when the test worker __becomes__ busy after dequeuing a non-parallel item. In this case, it encounters a non-parallel item while runnng a higher-level non-parallel item and so runs it directly on the same thread, without enqueuing / dequeuing anything.

[2017-06-16 18:01] CharliePoole commented on #2261
Workaround in this case is to eliminate use of `ParallelScope.None` on the assembly. It's generally not needed, since non-parallel is the default, but this bug is a side-effect of using it.

[2017-06-16 19:26] CharliePoole commented on #2263
Added to backlog as a design item, since it is central to the entire operation of asserts.

[2017-06-16 20:38] CharliePoole commented on #2263
We use the `ref TACTUAL` interface for DelayedConstraints. It's our only internal use but a fairly important one. Of course, users could create other constraints that use it.

[2017-06-16 22:33] CharliePoole commented on #2262
Placing `[Parallelizable(ParallelScope.Fixtures)] on a test fixture triggers the bug in issue #2261. Just use `[Parallelizable]`.

There are so many options in the `ParallelizableAttribute` that users seem to be drawn to use as many as possible. I think this was an error in the API design, but it's too late to change, at least until 4.0.

`ParallelScope.Fixtures` is __intended__ to make any fixtur

[2017-06-17 02:35] #2253 closed

[2017-06-17 02:48] rprouse commented on #2257
Are you using `dotnet-test-nunit` or the alpha of the adapter for your tests? In other words, `project.json` or `csproj`? This issue needs to be moved to the correct repository.

[2017-06-17 07:45] ayoung commented on #2257
i am using the alpha adapter. csproj.

[2017-06-17 10:59] slarti-b commented on #2263
Yeah, I was just thinking that any existing classes that inherit the Constraint class could continue to do so, unchanged, even if Constraint in it's turn inherits ConstraintBase (or whatever).  Then any VB custom constraints could inherit ConstraintBase directly.  But I was probably thinking "minimal change" rather than "cleanest solution"

[2017-06-17 12:02] CharliePoole commented on #2263
Constraint implements IConstraint, which is used by Assert to deal with all constraints uniformly. As it stands, it's impossible to implement the interface in VB. If we remove the method, then we have to remove one of the Assert.That overloads as well as drop a feature in DelayedConstraint.

[2017-06-17 15:34] rprouse commented on #2247
Are you using the NUnit Visual Studio adapter and the TFS Test task in your build, or are you integrating some other way? Is there anything special about your tests? For example, do they have Platform attributes or any Include/Excludes?

Are these two build agents running off the same TFS build definition?

@OsirisTerje can you help here?

[2017-06-17 15:37] rprouse commented on #2257
Thanks, I am going to move to that repository then. Please track it there.

[2017-06-17 15:38] #2257 closed

[2017-06-17 15:38] rprouse commented on #2257
Issue moved to [nunit/nunit3-vs-adapter #343](https://github.com/nunit/nunit3-vs-adapter/issues/343) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-17 15:41] CharliePoole commented on #2261
Notes toward a solution...

1. Any Non-Parallel TestFixture or SetUpFixture may have Parallel children, except for TestFixtures that specify single-threaded. When that happens, we want to be running from an isolated set of queues.

2. At the time of starting the fixture, we don't know if it will have parallel children, so initially we want to deal with it for all such fixtures. We may be able to o

[2017-06-17 15:47] rprouse commented on #2261
@CharliePoole, you know the code better than me, but removing the optimization in step 4 seems to be the conceptually correct fix. Option 7 adds additional complexity. The optimization seems reasonable and I would have probably done the same thing, but it feels like it disconnects those test runs from the rest of the system. Do we have any numbers on the increase in test time for queuing non-p tes

[2017-06-17 16:06] rprouse commented on #2242
Most of the issues I have seen reported seem to boil down to the `CurrentContext` being null. We would need to test it, but what if we switched the getter for the property to throw an `InvalidOperationException` with a more useful message when it is null? I did a quick scan of the code and we seldom check if `CurrentContext` is null because we used to do lazy instantiation if it was.

[2017-06-17 16:29] rprouse commented on #2212
@yommgui `Console.WriteLine` will not show you correct results because NUnit captures console output and then prints it out sequentially at the end of the test. If you want a valid test, use `TestContext.Progress.WriteLine()`

I switched your class to

[code]

Which gives the output,

[code]

As you can see, the tests were running in parallel.

[2017-06-17 16:33] rprouse commented on #2243
In my opinion, we already have too many ways to run tests between the console runner, nunitlite, nunitlite.runner...

This just seems like an even lighter nunitlite.

[2017-06-17 16:50] CharliePoole commented on #2261
I wish we did have some numbers. I've observed improvements, but it's anecdotal and also, I believe, masked by the Sleep(1) issue that is discussed elsewhere.

I'd like to see a set of integration tests, completely separate from our unit tests, which ran a bunch of assemblies with instrumentation.

[2017-06-17 17:00] CharliePoole commented on #2242
@rprouse That's what I would do as well. But @jnm2 feels like he can make it work when null and I didn't want to discourage him. 😈

[2017-06-17 20:08] jnm2 commented on #2243
Yes. The motivation is that I really don't want is to have to reference any assembly other than nunit.framework.dll just for this. This is just for debugging.

[2017-06-17 21:19] jnm2 commented on #2261
I think the same as @rprouse.

Maybe we should track this with an issue and add to it each time we think of another scenario where we need integration tests?

[2017-06-18 21:03] OmicronPersei opened #2265 "Tests to run when opening solution file not clear"
The unit tests expected to be ran when opening the solution file is not clear.  I suggest updating the `BUILDING.md` file to make which projects' tests to run more clear.  We should probably also update the wiki to mention reading the `BUILDING.md` file for direction on which unit tests to run.

[2017-06-18 21:28] jnm2 commented on #2265
This has crossed my mind a number of times. It would be nice for new contributors.

This may apply to other repos too.

[2017-06-18 22:50] OmicronPersei commented on #2004
Has there been any more movement on this?  I can pick this one up if needed.

[2017-06-18 23:03] jnm2 commented on #2004
@cristobalito, it's been a while. Are you still working on this?

@nunit/framework-team I'm guessing 5 months means it's okay to just reassign, but how have we handled this before?

[2017-06-19 02:59] rprouse commented on #2004
@OmicronPersei, I have unassigned @cristobalito from this issue. Feel free to take it up and submit a PR. Sorry, I cannot assign to you until you are a member of the contributors team which I would prefer to happen after you've contributed 😄

[2017-06-19 07:49] yommgui commented on #2212
Hi Rob @rprouse
I was able to run all tests in parallel, that is not my request. My purpose is to run **some** tests in parallel **inside** one TestFixture.
Mayde a description or my real scenario will help:
I am working on integrations with target systems. I have features and different accounts on target system. target system does not support multiple communications at the same time. From this I

[2017-06-19 12:46] LiyueWang opened #2267 "NullReferenceException when using Assert in TestCaseSource"
I have upgraded NUnit from 3.6.1 to 3.7.1, and tests with the below structure now throw an `NullReferenceException` , caused by the `Assert.That` in the static `TestCasesMethod()`. It works in Nunit 3.6.1 but not 3.7.1, Is this intended?

[code]

[code]

[2017-06-19 13:45] CharliePoole commented on #2267
While asserts were never intended to work outside of a test method, they didn't blow up so spectacularly in the past. Even in earlier releases, only a successful assert worked correctly. A failing assert threw an Assertion exception, which NUnit did not recognize or report as a failure. Rather it was treated like any other unhandled exception, causing the test to be invalid.

In 3.7, we introduced

[2017-06-19 13:46] #2267 closed

[2017-06-19 15:06] LiyueWang commented on #2267
@CharliePoole Thanks!

Good to know and agree with that

In our real code, I found someof us used the `TryGet` pattern to get some values of the `TestCaseData`, and use `Assert.IsTrue` to throw exception if failed to get the values. It seems not a proper way to use `Assert`, we could throw exception explicitly if get values failed.

[2017-06-19 16:45] CharliePoole commented on #2212
@yommgui Sorry not to have gotten back to you here. I'm working on the precise issue under #2261, which narrows it down to the use of ParallelScope.None on the assembly, with parallel tests under it.

I think that solution will also resolve your issue, but to verify please try this:

1. Remove the assembly attribute. The absence of an attribute is defined to be the same as using `ParalllelScope(No

[2017-06-19 16:48] CharliePoole commented on #2265
So, I have always thought of this as "obvious" since the actual tests are all in the tests directory. If anyone is having a problem, then it's clear I'm wrong, but since the two of you understand one another so well, could you explain where the confusion lies! 😺

[2017-06-19 17:45] ChrisMaddock opened #2268 "Standardise behaviour of params and optional arguments across parameterised attributes"
NUnit has various parameterised arguments, which make various special conversions to adjust parameters to match method signatures, to allow invocation via reflection. The key ones I'm thinking of are `[TestCase()]`, `[TestCaseSource()]`, `[TestFixture()]` and `[TestFixtureSource()]`.

Support for params and optional arguments between these attributes is inconsistent. Over the years, this has raise

[2017-06-19 17:48] CharliePoole commented on #2268
Seems like this should be an Epic.

[2017-06-19 17:50] ChrisMaddock commented on #2216
We should move this to conclusion. Sorry @wachulski - it's been a busy few weeks.

With the above feedback, is this still a project you'd be interested in working on? I think Rob raises a valid point, that there's perhaps only so much of the upgrade process that can be automated - but in general, it looks to me like if you were interested in working on it - we'd be keen to have it as part of the o

[2017-06-19 17:53] ChrisMaddock commented on #2268
I would have thought an Epic implied we wanted people to take each issue on separately, where as my intention was that the functionality would be synchronized as one PR - rather than someone creating a new implementation for each attribute.

[2017-06-19 18:20] jnm2 commented on #2265
I think this issue is now fixed, at least for this repo. https://github.com/nunit/nunit/pull/2266#issuecomment-309523146

@CharliePoole The `tests` directory structure is not visible anywhere in Visual Studio, including Solution Explorer, the test window, and ReSharper's test session tabs.

Visual Studio populates its test window and ReSharper populates its test window using all loaded projects th

[2017-06-19 18:20] #2265 closed

[2017-06-19 18:27] Yarmonov commented on #2268
I have done such utility class that covers all attributes you've mentioned, all cases (optional or/and array params), with a lot of performance optimizations, unit tests and some slight design ideas. Halfway migrated the existing code to this new utility before got extremely occupied. My apologizes.

Was going to find some time this weekend to finish this stuff.

In case I won't succeed, will push

[2017-06-19 18:27] jnm2 commented on #2265
@CharliePoole So we have this documented, but it's still an irritation for me because my IDE makes the valid assumption that when I say "run all tests," it should directly test every test project in the solution.

Besides hitting cancel every time and using ReSharper to delete those project nodes, or changing the VSTest window view to group by projects and selecting all nodes and unselecting the t

[2017-06-19 18:34] jnm2 commented on #2265
We could have a new `NUnitIndirectTestAssembly` attribute in the `Internal` namespace. It would make no sense for end uses to use it but it would be nice for NUnit development itself.

[2017-06-19 18:37] ChrisMaddock commented on #2268
Sounds great! 😃

I wasn't sure if you were still looking at this or not. If it's a work in progress, that's great. No rush - whenever you manage to fit it in. :-)

I've assigned this issue to you @Yarmonov. @nunit-framework-team - I'd still like to close the other issues, it sounds like they should hopefully be taken care of with @yarmonov's changes anyway.

[2017-06-19 19:19] CharliePoole commented on #2265
I tried to comment on this several times but was not able to get my comments to post for some (probably network-related) reason. I really never understood what it was about until made a reference on a separate doc issue to the testdata tests. I guess you and the OP were on the same wavelength, but ideally he should have been made to spell out the problem.

If he had done that, we could have told h

[2017-06-19 19:28] CharliePoole commented on #2216
Shouldn't we discuss this as a core team governance issue? (Acceptance of a new project and project lead)

My feeling is that we should __only__ accept it as an experimental or incubator project and only if it comes with a project lead who plans to be heavily involved, perform releases, etc. I'd like to see it, but I would not like to see it take away from existing resources.

We can either move t

[2017-06-19 19:41] CharliePoole commented on #2265
@jnm2 Our comments crossed. I'm sorry to say that the "rule" of not using the adapter for NUnit work is so ingrained in me that it never crossed my mind that anyone would do it. The adapter is a weak substitute for the console runner when testing NUnit because of poor performance and insufficient info contained in the output. It has been a disappointment to me to see how many NUnit users prefer th

[2017-06-19 19:49] jnm2 commented on #2265
Just my two cents. I strongly believe this should not be the case. If framework tests are erroneously failing or succeeding based on engine version, we have failed in our goal of separating the two projects.

As I've also stated in the past, the convenience or a rapid feedback loop is worth breaking this rule ten times over. I only run `build.ps1` before I commit code. I believe that is all that i

[2017-06-19 19:56] jnm2 commented on #2216
Let's move the issue.

[2017-06-19 19:57] ChrisMaddock commented on #2216
I'd taken the Core Team members' agreement above to cover that. Apologies if I'd misinterpreted that. If you (or any other core team member!) thinks there's more to be discussed, then yes, we should definitely do that.

An issue sounds good. Given this has been quiet for two weeks - shall we wait to hear @wachulski's thoughts before discussing much further?

And to your comment re: project lead -

[2017-06-19 20:13] jnm2 commented on #2265
^ This is just a single vote as a member of the @nunit/framework-team. If others don't agree, all is well. =)

[2017-06-19 20:23] CharliePoole commented on #2265
@jnm2 This may be an "old vs new guard thing" which you guys will change in time.

I wrote the first adapter under strong encouragement from Microsoft. I'm sorry to say that I have always considered it as a sort of toy. It was dreadfully inefficient for many years and the inefficiency didn't lie in the adapter itself but in the environment that called it. If you don't see that now, then I'm pleasa

[2017-06-19 20:30] CharliePoole commented on #2265
I'm not sure it's a matter to "vote" on or just a question of opinion. It would take a fair bit of analysis to actually verify or disprove the assertions that each of us has made. That would give a factual basis to any decision. However, I'm not for a "vote" that just decides we wish this to happen some day. I'd be for an actual plan if it looked like it would work.

Neither of us works primarily

[2017-06-19 20:39] CharliePoole commented on #2216
I think it's OK to be informal and I'm merely stressing it because I think we are not all used to thinking as the @nunit/core-team. As chair, I want to here from every member, whether we do it under governance or here. There will eventually be a governance PR to implement this, but I would hope the main issue would be decided before then and the PR would just be documenting it.

Of the five core t

[2017-06-19 20:42] CharliePoole commented on #2268
@ChrisMaddock Depends what you mean by hopeful. 😄

If the others are the same issue, then I would close them as duplicates. If they are related and will only probably be fixed, then we should keep tracking and check them against the PR.

[2017-06-19 20:48] cristobalito commented on #2004
Apologies all - this dropped off my radar in recent months. Will try and
pick up another one over the coming weeks to compensate.

Chris

On 19 Jun 2017 03:59, "Rob Prouse" <notifications@github.com> wrote:

[2017-06-19 22:24] CharliePoole opened #2269 "Parallelizable and NonParallelizable attributes on setup and teardown silently ignored"
NUnit has many attributes that only work when used on the right element.

In the case of Method vs Class vs Assembly, we rely on the compiler to tell us. However, in the case of methods particularly, there are a lot of different sorts of methods in a test fixture and the compiler can't help us. Usually, NUnit just ignores any attribute that is incorrectly placed: for example, if you put a `Timeout

[2017-06-19 22:30] jnm2 commented on #2269
Slightly related to this, it would be fantastic if NUnit shipped with an analyzer in the NuGet package which errored or warned on misplaced attributes. It doesn't have to start out comprehensive; it'll just be a place for us to add helpful diagnostics and sometimes fixes as we think of them.

[2017-06-19 22:35] CharliePoole commented on #2269
I think it would improve the clarity of this issue if you could spell out the pros and cons of the two approaches: static analyzer vs in-framework error checking. Also, how would they relate? That is, would the errors in one case be a proper subset of those in the other? Are there some things you can only catch one way or the other?

[2017-06-19 23:02] jnm2 commented on #2269
I think we need both approaches.

Pros of static analysis:

 * Best possible feedback loop, comes with description and sometimes fix
 * Finds things which would be inefficient for the framework to find at runtime (see example 1)
 * Can provide ignorable suggestions on best practices if we think of any, such as telling people when attributes are redundant (https://github.com/nunit/nunit/issues/2212

[2017-06-19 23:15] wachulski commented on #2216
Thanks for your positive feedback for my idea. I like the term _incubation_ as I don't know where it will end up eventually. Should you find it unacceptable, well, it will finish its life as yet another unofficial community addon. Anyway, I’ve already started with ExpectedException transformation.

And I agree with @rprouse on the nature of the effort, no rocket science here. Nevertheless, I’ve se

[2017-06-19 23:50] CharliePoole commented on #2269
@jnm2

Pros of error checking in the framework...
 * It works even if the user hasn't done any static checking
 * It works in all environments, including non VS and non-Windows
 * Errors display in the test report and are included in the XML
 * It is consistent the idea that we try to use whatever the user claims is a test, giving an Invalid status to the test if it isn't.

Re your example... We *

[2017-06-19 23:55] CharliePoole commented on #2269
Relevant to this, I want to point out the great mission statement that Rob came up with, which is now in our vision document. He wrote that we are __unopinionated__ i.e. we let users do things the way they prefer.

So another bullet to place under both static analysis and runtime checking is
 * Some users may prefer to do it this way!

@jnm2 I didn't mean this as a trick question, but I was hoping

[2017-06-20 00:32] jnm2 commented on #2269
@CharliePoole Thanks.

This is also a pro of a Roslyn analyzer. There is nothing VS- or Windows-specific about them.

The con for runtime here is that looking at every method for out-of-place attributes is slow by comparison and really IMO doesn't belong in test run errors. Runtime errors should be limited to incidental errors which actually prevent a test from being run.

Yes! Totally agree.
We s

[2017-06-20 00:35] jnm2 commented on #2269
If anything, I think people start showing up here with positive feedback if we bundle the analyzer with the framework.

[2017-06-20 00:35] OmicronPersei commented on #2265
If there are fundamental problems / actual bugs using the NUnit VS framework adapter to run the tests on the solution of NUnit, it should be documented as such.  Outside of that, with all due respect, all I really see is rationalized preference.

In the end, code is always going to hit the CI, so why does it really matter?  Your supposed benefits of the "speed and accuracy of a dedicated runner" a

[2017-06-20 00:40] jnm2 commented on #2269
It's a question of a) leaving most people in the dark permanently versus b) potentially having to change our minds and publish as two packages if we discover a reason that that would be desirable.

And even if we do change our minds due to unforeseen issues, that's not a bad outcome. It's no worse than any other release where one or two people had to stay on the previous version until a hotfix was

[2017-06-20 02:51] CharliePoole commented on #2269
If you're talking of bundling and packaging, that's a different discussion. Initially, it sounded like you wanted to include it in the framework assembly. If you do that, you take away choice. If you use nuget packaging properly, with dependencies as well as the ability for users to install things separately, then you are giving more choice.

I do think it will be a while before we are ready to bu

[2017-06-20 03:02] jnm2 commented on #2269
As far as I know you can't mix analyzer assemblies with project reference assemblies. But I was picturing the two side by side in the main nunit.framework package so that no package exists with only the framework. That doesn't take away choice because the user can still turn off the analyzer and just use the framework assembly.

[2017-06-20 03:19] CharliePoole commented on #2265
@OmicronPersei It seems to me that we should be responsible to warn people - including possible contributors as well as those who are building from source for their own use - about ways of working that may lead to confusion or even give wrong results.

This got a little off track, because the IDE wasn't mentioned originally and it only came up in a separate discussion I was having with @jnm2. I wa

[2017-06-20 03:31] CharliePoole commented on #2269
Please, if you want to keep discussing this, can you create an issue to do it? This is a report of a problem that I would like to see fixed now, not at some future time. I don't think anyone is going to take it and do a PR while we are involved in all this debate.

I assume such an issue would be part of the analyzers project.

[2017-06-20 08:10] yommgui commented on #2212
Hi @CharliePoole ,

No worries; I appreciate you follow my issue.
I tested your suggested setup and doing this, all tests run sequentially.
I agree, [NonParallelizable] on Assembly, TestFixture or TestCase should be default behavior and missing attribute should be considered as NonParallelizable then. Attribute should then be used to override default.

[2017-06-20 08:32] Yarmonov commented on #2268
I agree with @CharliePoole. There is a close to 100% probability that standardized solution will be better, but to be on the safe side it's better to ensure that results meet the expectations :) And then close tracked issues.

[2017-06-20 08:57] ChrisMaddock commented on #2268
Fair enough.

In that case, I'll just comment on the attached issues. What I don't want, is a new contributor unwittingly picking up one of those issues, when @Yarmonov has (probably!) already done the work for them. 😄

[2017-06-20 08:58] ChrisMaddock commented on #1281
See https://github.com/nunit/nunit/issues/2268 for a more recent update on this issue.

[2017-06-20 08:58] ChrisMaddock commented on #1883
See https://github.com/nunit/nunit/issues/2268 for a more recent update on this issue.

[2017-06-20 08:58] ChrisMaddock commented on #1459
See https://github.com/nunit/nunit/issues/2268 for a more recent update on this issue.

[2017-06-20 18:32] LiyueWang opened #2271 "When CollectionAssert.AreEqual do compare each element, it will ignore the IEquatable of the element too"
With the code changes #2118 for [Issue2097](https://github.com/nunit/nunit/issues/2097), the test below still will fail, since when the `NUnitEqualityComparer` does each item comparison, the property `compareAsCollection` is still `true`,  so it will not get in the  [condition](https://github.com/nunit/nunit/blob/release/3.7/src/NUnitFramework/framework/Constraints/NUnitEqualityComparer.cs#L229),

[2017-06-20 18:56] CharliePoole commented on #2271
The purpose of PR #2118 was to make ` CollectionAssert.AreEqual` operate exactly as you describe. The intention was that you would not use `CollectionAssert` if you didn't want that behavior, but instead `Assert.AreEqual`.

I'm closing this as not a bug, but you can still comment and we will respond.

[2017-06-20 21:26] LiyueWang commented on #2271
@CharliePoole  Thanks! So for now `CollectionAssert.AreEqual` will ignore any implement of `IEquatable`, and `Assert.AreEqual` will use any implement of `IEquatable`, right?

I list 4 tests below.  what is the specific use case for `CollectionAssert.AreEqual`? For Test3 and Test4, if we want to compare only the elements of the collection, we could both use `Assert.AreEqual( set1.ToArray(), set2.To

[2017-06-20 22:56] CharliePoole commented on #2271
Well, the point of #2097 was that NUnit should __not__ be using an IEquatable implementation when we were asked to compare two collections. At first, we resisted, but the logic is that **Collection**Assert demands collection logic even if the collection object has an IEquatable implementation.

As I think about it, you may have a point. The same logic that got us to agree to the change would seem

[2017-06-20 23:02] jnm2 commented on #2271
I agree to reopen. I missed this outcome earlier.

[2017-06-20 23:10] CharliePoole commented on #2271
Two ways to go...
1. Apply to top level collection only
2. Apply to any members, but only if they are collections (i.e. IEnumerable)

[2017-06-20 23:21] jnm2 commented on #2271
I think (1) should be the default.

[2017-06-21 05:15] CharliePoole opened #2272 "Make Rob a copyright owner"
I want to make Rob a joint copyright holder with me both in recognition of his contributions and in order to protect NUnit in the future.

[2017-06-22 00:29] SeanFeldman opened #2275 "Assertions outside of test thread"
I've gone through issue #2223 and have a different case where assumption about test thread doesn't necessarily hold true.

This issue is manifesting itself when working with the [WindowsAzure.ServiceBus Client SDK](https://www.nuget.org/packages/WindowsAzure.ServiceBus/) and registering a message pump (callback) within the test method. Assertions within the callback fail with NRE.

[code]

Full re

[2017-06-22 00:41] CharliePoole commented on #2275
I'm curious to know how this could ever have worked correctly. It's definitely true that the NRE is not thrown prior to 3.7, so successful tests should have worked. But a failing assert in a separately created thread has never been supported. What happened in the past if your test failed?

The standard way to deal with callbacks in the past has been to store the value to be tested in an accessible

[2017-06-22 00:45] SeanFeldman commented on #2275
@CharliePoole this is a simplified test, so don't take it as-is. It is solely to demonstrate what happens. Storing the value outside would be a challenge as ASB is one of the many messaging services automated test suite is running through. None of them has the issue like ASB does, so the tests are not organized to "keep something for verifying later".

[2017-06-22 00:48] SeanFeldman commented on #2275
It did 🙂 Downgrade NUnit to 3.6.1 and it will work.

[2017-06-22 00:51] CharliePoole commented on #2124
@rprouse This Epic has one remaining issue in it out of the original eight. I re-assigned it to you only so you could decide what to do about it.

[2017-06-22 00:53] CharliePoole commented on #2275
Is a failure of the Assert reported as such?

[2017-06-22 01:23] CharliePoole commented on #2275
LOL I'm always closing these things by mistake and re-opening them. 😃

OK, so that example shows me that NUnit does __not__ see the failure. What's happening is that your `Assert.True` is taking the result and effectively converting an error to a failure.

I'd be very surprised to find any AssertionException in a separate thread that NUnit captured and processed as a __failure__ unless that thread

[2017-06-22 02:59] SeanFeldman commented on #2275
@CharliePoole you're correct. I tried a simple `Assert.IsTrue(false)` and `AssertionException` was not propagated out of the callback. So there's also an issue on our end.

You don't need any software to be installed to run the repro, all self contained. You do need an Azure account and a namespace (basic would do) to get the connection string.

In regards to NRE - an issue/PR I could track?

[2017-06-22 05:06] CharliePoole commented on #2275
See #2242. It's not clear if we will fix it or just improve the error message so it basically tells you what you already had to figure out. Fixing it would obviously be better, but is tricky. Your error arises in a different situation, but it still seems to be the same cause.

BTW, the creation of a context on the fly, as we did in 3.6.1 resolves the problem of the NRE, but since we don't have any

[2017-06-22 13:28] Singh400 commented on #2217
Are we any closer to choosing a solution (#2233 or #2236)? It has been 18 days since the issue was raised, and 14 days since the regression was identified in commit 9086990.

It reads like that the majority of people prefer #2236 in which case I can close #2233 and we can just focus on getting #2236 into the next release.

[2017-06-22 17:20] CharliePoole commented on #2217
The rule is that it requires two committers to approve a merge to master. Neither of these has that yet. Usually, the PR submitter simply makes some changes to get the PR approved, but in this case we appear to have devolved into a more general discussion. 😞

Since we have two PRs, I'll summarize here...

#2233 Simply changes the Sleep period. It had one review from @jnm2 who requested changes.
 *

[2017-06-22 17:24] #2272 closed

[2017-06-22 18:05] SeanFeldman commented on #2275
Raised an issue with ASB client team. Would be good for NUnit to avoid throwing NRE and provide a meaningful message 🙂

[2017-06-22 18:39] CharliePoole opened #2276 "Intermittent test failures in Travic CI: TestContextTests"
Failure is in new tests added in relation to attachments...
 * `FilePathOnlyDoesNotThrow`
 * `FilePathAndDescriptionDoesNotThrow`

See https://travis-ci.org/nunit/nunit/jobs/245882030

[2017-06-22 18:44] CharliePoole commented on #2275
Perhaps best is to do the message - which is easy - and come back to it again later to try for a different approach. @jnm2 What do you think?

[2017-06-22 19:08] jnm2 commented on #2275
@CharliePoole Since I'm swamped, I can't argue. :-D

[2017-06-22 19:16] CharliePoole commented on #2217
I notice that this still is marked as needing confirmation, although it was confirmed a while back. I'll fix.

[2017-06-22 19:19] CharliePoole commented on #2275
@jnm2 So are you doing the simpler fix? Or should somebody else do it?

[2017-06-22 19:28] ChrisMaddock commented on #2276
These have been flakey on Mono/Travis before, and I've really no idea why. 😞

They've never had a problem on Appveyor, and I can't work out any logic issues with parallelisation.

The especially weird ones are the ones where file file exists for one test, but not for the next - the file should be created and disposed of in the OneTimeSetUp and OneTimeTearDown - so I'm really not sure what's going

[2017-06-22 20:18] CharliePoole commented on #2276
Parallelization is what it is. TestContextTests and TestAttachmentTests are creating and using the same file name. Best to use GetTempFileName().

[2017-06-22 20:40] jnm2 commented on #2275
I'm going to let someone else because I didn't even get time to start.

[2017-06-22 21:36] rprouse commented on #2275
Should we close this as a duplicate of #2223? It is a different use case, but it is the same issue.

[2017-06-22 21:54] rprouse commented on #2275
Sorry, #2223 is a marked as a question, it is #2242 that I am thinking of. I will do the simple fix and I am going to close this as a duplicate. If anyone thinks we should keep this open for a deeper fix, please comment and reopen.

[2017-06-22 21:54] #2275 closed

[2017-06-22 21:55] rprouse commented on #2223
I am going to close this as a question. If you have more questions, please comment, we will see them.

[2017-06-22 21:55] #2223 closed

[2017-06-22 21:56] rprouse commented on #2242
@CharliePoole you assigned this to yourself. It sounds like you thought @jnm2 was doing it in the other issue. Are you working on this? If not, I can take it.

[2017-06-22 21:59] #2269 closed

[2017-06-22 22:03] CharliePoole commented on #2242
I started looking. Seems simple but the test is a tad hard to construct, since we want to run the test outside of a test. 😕 I may just test it externally.

[2017-06-22 22:04] rprouse commented on #2217
Since this is fixed by #2233, should we close this issue, or should we keep it open as we discuss #2236?

[2017-06-22 22:09] CharliePoole commented on #2217
I'd keep it open, since it has the most thorough discussion. It started out as a kind of puzzle and it was  only gradually turned into a workable bug by folks on the thread.

[2017-06-22 22:22] jnm2 commented on #2242
@CharliePoole Why not spin up a new thread to test it? That's what I was going to do.

[2017-06-22 22:24] jnm2 commented on #2242
Something like
[code]

[2017-06-22 22:26] jnm2 commented on #2242
And then `Assert.That(() => ThreadUtils.RunOnBareThread(Assert.Fail), Throws.TypeOf<CorrectExceptionType>());

[2017-06-22 23:26] CharliePoole commented on #2242
The TestExecutionContext follows the new thread. You would have to get a thread from elsewhere, not create it. Like a pool thread. However, I'm doing it another way. Did you forget you were busy? 😜

[2017-06-23 01:26] jnm2 commented on #2242
@CharliePoole Hey, I'll blame you for nerd-sniping me :D I could hand over my tiny NativeThread implementation :D

[2017-06-23 07:57] ChrisMaddock commented on #2276
Ahhh - thanks! I'll PR at some point.

[2017-06-23 13:17] PavelStryhelski opened #2278 "Unreadable Error message when adding 'null' instance to Test Properties in [OneTimeSetup]"
Hi,
I`ve found a curious thing:
when you`re trying to  add something which is null (any reference type, e.g. not initialized class) to
TestContext.CurrentContext.Test.Properties you get an unreadable error message without any reference to where it has happened. The tests are being executed ok, you can debug and see they go to the end and when everything is finished - you can see Resharper/NUnit-co

[2017-06-23 13:27] ChrisMaddock commented on #2278
I think there's three separate bugs here! Hopefully someone else can sanity check this...

1. The stacktrace should be more useful. This should be fixed in NUnit Console 3.7 when it's released - see https://github.com/nunit/nunit-console/issues/11. If you were to run this with the `--inprocess` flag, I believe you'd see the stack trace in https://github.com/nunit/nunit/issues/1958.

This brings us

[2017-06-23 13:27] #2278 closed

[2017-06-23 13:28] ChrisMaddock commented on #2278
I should add - we'd appreciate a Pull Request, to fix all or part of #1958, if you'd be willing! 😄

[2017-06-23 15:28] CharliePoole commented on #2278
Good analysis @ChrisMaddock

Looking at @1958, I see that it has been sitting for a long time and none of us triaged it. It's still unlabeled and not on the backlog. So, in principle, nobody is supposed to work on it!

Of course, that's crazy! @PavelStryhelski we __would__ appreciate a PR. I'll go in and fix this one, but we should discuss how we can avoid have something sitting untriaged for such

[2017-06-23 15:29] jnm2 commented on #2278
@CharliePoole I'm in favor of reviewing every issue not tagged as closed with an eye to documenting and marking up-for-grabs anyway.

[2017-06-23 15:31] jnm2 commented on #2278
You might be more immediately interested in https://github.com/nunit/nunit/issues?q=is%3Aissue no%3Alabel though.

[2017-06-23 15:40] CharliePoole commented on #1958
I triaged this issue as dealing with the "bug" portion only - item 1 of the 2 in my earlier comment, i.e.

There are probably two things to fix even for the bug...

1. PropertyBag should handle adding a null with a more graceful error.

2. The Properties exposed to the user should be an adapter, just as we expose a test adapter and a result adapter to the user rather than the real test or result.

[2017-06-23 16:12] CharliePoole commented on #2278
@jnm2 Yeah... the second is more useful.

I'll defer to @rprouse on how he wants to handle this.

[2017-06-23 16:13] #2276 closed

[2017-06-23 20:43] mikkelbu commented on #2254
I can try to supply a PR for this.

@rprouse Wrt. the refactoring, would something like a new folder `Comparers` with one class/file per (major) comparer be appropriate? E.g. a `DirectoryInfo`-comparer, a `Arrays`-comparer etc.

[2017-06-24 14:28] #2261 closed

[2017-06-24 18:46] dbones opened #2280 "appdomain per test (isolation per test), for dealing with static classes"
<< Feature Request >>
Run each test in its own app domain.

My subject under test (the actual service) has a dependency on a library which uses static classes.

between each I create a new instance of the Subject, but as it has this dependency it is unable to be an isolated test.

in NUnit 2.6.x I created a new AppDomain in the test setup, and run the subject inside that. This seemed to work (tiny

[2017-06-24 19:03] OsirisTerje commented on #1381
@rprouse @CharliePoole  This one is dormant.  And the corresponding https://github.com/nunit/nunit3-vs-adapter/issues/144  in the adapter is then dormant too.  Are we anywhere near being able to do something here?

[2017-06-24 19:41] CharliePoole commented on #1381
Some @nunit/framework-team member needs to assign it to themselves and work on it.

I take this issue to be making `--explore` show an error of some kind. Maybe with an extra option. However, that won't do anything for the adapter unless the error is then displayed somewhere. The key problem in the adapter is that it's a test fixture error and test fixtures don't have any good place to be displaye

[2017-06-24 19:49] CharliePoole commented on #2280
I think this would be a cool feature... we could have an attribute that ran either an entire fixture or an individual test case in a separate appdomain, depending where it ws placed. Could be the start of a whole new set of isolation options.

It's a fairly big item but if the referenced app could be a source of ideas that would help. I don't believe we can use it as a source of code, since it's A

[2017-06-25 00:28] jnm2 commented on #2280
Since AppDomains are not a thing in .NET Core, and there are actually decent reasons why, this would have to be disabled in .NET Core/.NET Standard builds of the framework or else we'd have to provide out-of-proc execution per test. Out-of-proc is where you're supposed to go now if you need that kind of isolation.

[2017-06-25 00:34] jnm2 commented on #2280
https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)
https://tldrlegal.com/license/mit-license

I don't know anything about them, but only additional restriction of Apache 2 vs MIT seems to be that you have to state changes and if you have a NOTICES file, you have to include their notice.

[2017-06-25 00:52] CharliePoole commented on #2280
There are two ways to go.
1. Assume it's OK if you can't see any reason why not.
2. Assume it's not OK unless you get a qualified legal opinion.

As you can probably guess, I'm in camp 2. I've done extensive research trying to find an IP lawyer who published something about this and I failed. I think I even asked Rosen once, without getting an answer.

If the "just take ideas" approach doesn't mak

[2017-06-25 01:09] CharliePoole commented on #2280
@jnm2 Based on this: http://www.apache.org/foundation/license-faq.html#Distribute-changes I'd say we can use a component licensed with the Apache 2 license provided we jump through a few hoops. Slightly different hoops depending on whether we change the code or use it as is. Not something to worry about till it comes up, I would say.

[2017-06-25 02:29] jnm2 commented on #2280
@CharliePoole The "just take ideas" approach actually makes me happier either way.

[2017-06-25 02:31] jnm2 commented on #2280
I was just interested because I thought of Apache and MIT as almost exactly the same, and we're MIT, and I thought part of the point was so that people could just take code if they wanted.

[2017-06-25 03:03] CharliePoole commented on #2280
Every license is different. MIT lets you do just about anything. Apache lets you do a lot of stuff but requires a few things of you, like including the license and any notices. Corporations have somebody review this stuff and make sure they are in compliance. We have always had to make do with research and free legal help where available.

Over the years, I've had to take action myself against a v

[2017-06-26 04:07] NN--- opened #2281 "Add type constraint for Throws and any method requiring Exception"
Instead of code:

[code]

The code should be:

[code]

[2017-06-26 14:11] jnm2 commented on #2281
This is interesting.

 * In the CLR it's possible for any object type to be thrown, not just exceptions. Exceptions are the only CLS-compliant things that may be thrown. C# can only catch exception objects unless you use the parameterless `catch` block. That catches non-exceptions too but doesn't provide the actual thrown object, because in C# you can't throw objects that aren't exceptions.
 * NUn

[2017-06-26 15:04] Jivko1212 commented on #2242
Hi, I ran into the issue of not being able to run tests directly. It used to work fine on 3.6.1. But now it throws  on the first Assert.AreEqual.

I find running one test directly when trying to debug it works better than the visual studio "DebugAllTestsInContext" shortcut. I have some tests that use events raised from Native API (via callback). The callbacks simply don't work when I try to debug

[2017-06-26 15:04] CharliePoole commented on #2281
I think the absence of a where clause is due to the fact that the original implementation was non-generic, taking a Type as an argument. We just translated what was already there to generic form.

[2017-06-26 15:36] CharliePoole commented on #2242
@Jivko1212 Note the labels and assignment. 😃 They tell you this is accepted to work on and is being worked on. There's a linked PR, which you are welcome to review. It will be merged as soon as another committer reviews it.

[2017-06-26 15:43] CharliePoole commented on #2242
@nunit/core-team See previous comment, where I was teasing @Jivko1212 a bit for not reading the labels.

The fact is, however, that you need to read our developer docs to understand our process and interpret the labels correctly. It hadn't struck me before, but this can be viewed as a fault in our process. Maybe we should re-define labels in a way that it makes the status of any issue crystal clea

[2017-06-26 15:51] jnm2 commented on #2281
@NN--- are you interested in submitting a PR for this?

[2017-06-26 15:55] jnm2 commented on #2255
Another reason to keep `easyfix` is that we'd want to keep the easy vs hard classification while removing `up-for-grabs` when the issue is no longer up for grabs.

A common scenario will be first-time contributors. I've picked up on a preference for us not to add them as collaborators until we've seen a few contributions from them. That means we will be leaving the issue unassigned. Removing `up-f

[2017-06-26 16:00] jnm2 commented on #2255
It looks like we have consensus on creating an `up-for-grabs` label and updating the descriptions as in
https://github.com/nunit/nunit/issues/2255#issuecomment-308846068.

As we have time, we should wander through all unassigned backlog items and add or get the ball rolling on necessary documentation to be able to add an `up-for-grabs` tag.

[2017-06-26 16:03] jnm2 commented on #2255
We should start with `easyfix` issues and once they are all documented (if perchance one isn't already) and have `up-for-grabs` applied, we should update our up-for-grabs.net tag.

[2017-06-26 16:12] jnm2 commented on #2242
@CharliePoole I was thinking the same just now.

[2017-06-26 16:13] jnm2 commented on #2242
`in-progress`?

[2017-06-26 16:15] jnm2 commented on #2242
Or maybe `status:implementing` and `status:reviewing`?

[2017-06-26 16:15] jnm2 commented on #2242
Would work with `status:design`.

[2017-06-26 16:22] jnm2 commented on #2117
@ChrisMaddock this is marked easyfix but I'm not sure I understand what work needs to be done or how to do it. Can you review whether this issue should have easyfix and/or up-for-grabs?

[2017-06-26 16:30] jnm2 commented on #345
@CharliePoole is this issue unofficially assigned right now?

[2017-06-26 16:34] jnm2 commented on #2116
@rprouse this is marked easyfix but I'm not sure I understand what work needs to be done or how to do it. Can you review whether this issue should have easyfix and/or up-for-grabs?

[2017-06-26 16:38] jnm2 commented on #2255
I've reviewed the few `easyfix` issues we have, and I commented on the only two issues remaining which might need tags updated. After they are updated, we can switch our up-for-grabs.net tag.

Next, unassigned backlog items that aren't necessarily easyfix: [is:open no:assignee -label:up-for-grabs](https://github.com/nunit/nunit/issues?utf8=%E2%9C%93&q=is%3Aopen%20no%3Aassignee%20-label%3Aup-for-gr

[2017-06-26 16:44] Jivko1212 commented on #2242
Hi, I was excited to see the same issue that I was having and decided to write about it. Will get more familiar with github labels.

It is really interesting though why NUnit fails when running tests for code that registers for a native callback. The same tests work fine from the console runner but do not work from the Visual studio IDE (the test adapter) or when debugging. Has there been similar

[2017-06-26 16:48] jnm2 commented on #2280
So we need to decide if we want to implement AppDomain isolation and keep it .NET Framework-only (Does Mono have AppDomain support?), or implement process isolation and have it work the same everywhere. We could end up doing both too, though it seems simpler to do just one than both.

[2017-06-26 16:50] jnm2 commented on #2280
Either way, I'm expecting AppDomain-reuse or process-reuse to be important for performance if you have a lot of individual test cases which all use static state.

[2017-06-26 16:52] jnm2 commented on #2280
(Or if all that sounds like it's too complex, we could go with the conventional wisdom that static state is anathema for testing and that dependencies should be injected.)

[2017-06-26 16:56] jnm2 commented on #2242
@Jivko1212 You're asserting inside native callbacks? That sounds like something I might do 😆 Can you expand on that in a new issue?

[2017-06-26 17:17] appel1 opened #2282 "CancelRun_WhenTestIsRunning_StopsTest sometimes never finish"
Does anyone know why _currentWorkItem is set to null in TestWorker.Cancel? _currentWorkItem is accessed without the lock used by Cancel in TestWorkerThreadProc and it looks like TestAssemblyRunnerTests.CancelRun_WhenTestIsRunning_StopsTest fails (never finishes) whenever TestWorkerThreadProc  throws a NullReferenceException. Looks like that is because then you end up with more Busy events getting

[2017-06-26 17:50] #2242 closed

[2017-06-26 18:04] CharliePoole commented on #2255
@jnm2 I thought we had a consensus, so I don't want to restart that discussion, at least.

However, your last comment about examining unassigned backlog items skips the triage process. We have plenty of items hat are open unassigned issues because we have not yet decided whether to do them. For that you have to look at ZenHub as well.

[I'm not as enthused about ZenHub as I once was, but since we

[2017-06-26 18:09] jnm2 commented on #2255
@CharliePoole Agreed. Thanks for bringing that up. I was thinking we should triage them and ask for a decision with an eye to either closing or marking `up-for-grabs`.

[2017-06-26 18:09] CharliePoole commented on #345
@jnm2 Nope. I don't even recognize the concept. 😄

Note however that in spite of all the discussion about dependencies, this is only about applying OrderAttribute to fixtures. Whoever takes it on will have to figure out what that means, i.e. what is the  scope within which the ordering applies... assembly, namespace, etc.

[2017-06-26 18:14] jnm2 commented on #345
Meaning, do we know that Tom is working on this? It seems that's what you were saying. (Also, bit different, but we do have other issues where the person doing the work isn't assigned because we didn't want to add them as collaborators yet and only collaborators can be assigned. I'd be open to inviting and assigning sooner. Perhaps we should discuss that in a new issue.)

[2017-06-26 18:26] CharliePoole commented on #2280
@jnm2 This issue asks for __AppDomain__ isolation.

Following our conventions, you actually already said we would do it, by adding the labels you added, but then your comment says we have to decide if we will do it.  If I were the OP I would be confused. :smile: But then I already said elsewhere that our labels are pretty confusing!

Inability to implement something on every platform has never sto

[2017-06-26 18:30] CharliePoole commented on #2242
@jivko1212 I'd suggest waiting to see if your situation works with the fix in PR#2279. My guess is that if it worked before 3.7, it will work with the new fix.

[2017-06-26 18:32] jnm2 commented on #2280
@CharliePoole Which label communicates that we have decided to do this, the `pri:` label?

[2017-06-26 18:35] jnm2 commented on #2242
@CharliePoole Weird that it would work in 3.7 from the console runner but not the VSTest adapter rhough, isn't it?

[2017-06-26 18:35] CharliePoole commented on #2282
Our cancel run capability is very poorly exercised, since none of our runners use it. When the gui implements cancel, it will start getting more attention and I think more bugs will be generated.

WRT our own test failing (not finishing) could you specify the environment in which you run it, the framework version and the versions of whatever runner you use? It's not failing in our development envi

[2017-06-26 18:38] jnm2 commented on #2195
@nunit/framework-team Any objections to adding this to the backlog?

[2017-06-26 18:43] jnm2 commented on #2188
Since no one has an immediate need for `Ignore` behavior conditional on runtime platform detection, I'm closing this for now.

[2017-06-26 18:43] #2188 closed

[2017-06-26 18:57] CharliePoole commented on #345
@jnm2 Nope, Tom never responded by posting.

FWIW, my approach was to hand out Contributor status right and left to whomever wanted it. That allows assigning things and gives early recognition. By the time they have done a few issues, I'm ready to make them committers for the project to which they contributed.

As I see it, the project lead gets to decide who gets assigned rights and when. @rprous

[2017-06-26 19:00] NN--- commented on #2281
@jnm2 Thanks. I didn't think about this. I don't think anyone throws object not subtype of Exception.
Even in native C++ the good practice is to make your class deriving from base exception.
Interesting how many people used custom type here.

I can submit PR when I have time for this.

[2017-06-26 19:03] NN--- commented on #2219
Please do it in 4.0.
It will break my code and many other projects too.

[2017-06-26 19:06] CharliePoole commented on #2280
Yes, together with the is:enhancement label rather than is:idea. See the wiki page about labels.

As already stated, I have come to the conclusion that the system of labels I set up is OK for us to use once we get used to it but doesn't say much to users.

If I had triaged this, I would have marked it as you did minus design and added it to BackLog. Everything needs design, but the label means "do

[2017-06-26 19:07] jnm2 commented on #345
Last thing- I know you said this is any easyfix but I tried to get my head around it and to me it still looks like a hardfix 😄

[2017-06-26 19:08] jnm2 commented on #345
Perhaps a point on how you think it would be implemented would make it seem more doable?

[2017-06-26 19:11] CharliePoole commented on #345
Are you rejecting my premise or my conclusion? 😜

[2017-06-26 19:12] appel1 commented on #2282
Current nunit develop (.net 4.5 target) using Visual Studio 2017, latest R#, fully updated .NET 4.7. It also happens using the console runner (3.6.1).

[code]

[2017-06-26 19:13] CharliePoole commented on #2242
Not if you've worked on the adapter. There are __so many__ things different about the environment when you run under the adapter, things that are out of our control, that I expect anything. 😄

[2017-06-26 19:15] CharliePoole commented on #2195
For an easyfix, I would suggest telling the possible contributor where the fix needs to be made in our source code.

[2017-06-26 19:16] CharliePoole commented on #2195
Although, easyfix for an item not on the backlog means it will show up in searches, possibly confusing people who don't see the pipelines.

[2017-06-26 19:20] CharliePoole commented on #345
Also from above comments...

- Allow the Order attribute on classes
- Nothing else as far as I can see!

[2017-06-26 19:23] CharliePoole commented on #2219
@rprouse How do you want to handle this? Should we have a 4.0 Milestone?

[2017-06-26 19:33] jnm2 commented on #345
I wasn't comprehending the premise which tempts me to doubt the conclusion of easiness 😆 You're using terms I'm not confident with.

But I think I understand now that changing the AttributeUsage on the OrderAttribute is all the work that should have to be done. I was getting sidetracked in the other conversations in this thread.

It wouldn't hurt to repeat and summarize the expected work in basic

[2017-06-26 19:36] jnm2 commented on #2195
Yeah, okay. For the time being I won't apply easyfix without it being approved for implementation, even if I think it is an easy fix.

[2017-06-26 19:39] jnm2 commented on #2242
@CharliePoole I am an incurable empiricist as well as optimist. 😆

[2017-06-26 19:47] jnm2 commented on #2280
I did read the `is:` docs and saw `An addition or improvement to an existing feature.` but nothing suggesting that the team has decided to do the thing being discussed.

`design`:

Seems to fit a scenario where I'm asking the team to decide whether it's worth adding an AppDomain feature versus an out-of-proc feature before anyone writes code =) I am leaning toward the latter. Once you and perhaps

[2017-06-26 19:49] jnm2 commented on #2280
I also wouldn't expect it to go in the backlog if we're still discussing whether we want the feature as described vs alternatives.

[2017-06-26 19:51] jnm2 commented on #2280
@dbones Please feel free to make a case for multiple AppDomains for test cases vs multiple processes for test cases, if you have an opinion either way.

[2017-06-26 20:04] CharliePoole commented on #2280
@jnm2 Let's stop discussing meta-stuff here then and keep it to the actual request...

You've asked for discussion, I marked it for discussion. My view: this sounds like a good feature we should add to the Backlog. If you are programming and testing an app that runs on a platform with AppDomains, you should be able to create an appdomain for your tests if you need to. I would see this as used eith

[2017-06-26 20:29] jnm2 commented on #1212
@CharliePoole Who is the current assignee for this issue?

[2017-06-26 20:52] CharliePoole commented on #1212
Nobody. I was taking the tack that issues are local to repos, with this one about removing assertion helper being a framework issue. I created the new repo, nunit-expectations. If it's wanted, I can do some more work on it and we can file some issues there.

The practical side of this is that you can't really do an integration test with the new component until the framework is changed and you can'

[2017-06-26 21:42] CharliePoole commented on #1212
I should add... I'm assuming this will be a contributed project, which normally means somebody comes in as the project lead rather than one of our committers. **However** if one of our newer (than me or Rob) team members wanted to take this on as a first shot of being a project lead, I think it would be a good experience, maybe leading to bigger things. 😺 🥇 😈

[2017-06-26 22:14] CharliePoole commented on #2282
You're right... setting `_currentWorkItem` to null is not a good idea. We could remove that code and if something breaks we will know what problem that line was trying to solve.

[2017-06-26 22:25] dbones commented on #2280
@jnm2, I do not mind, either should work. (@both, please do not implement anything you think will effect your upgrade path)

my main goal is to run code in complete isolation, and invoke it via its API (consider a contract/api test on a small service, where the service runs its entire stack, no mocking, in the appdomain/process), when the test is done then destroy the service instance, and that sh

[2017-06-26 23:13] CharliePoole commented on #2282
Obviously we should fix this!

[2017-06-26 23:14] CharliePoole commented on #2282
Obviously we should fix this!

Beyond that, maybe we need to consider how to handle similar issues we have not yet found and fixed. If a test throws an exception, NUnit captures it and transforms it to a  result of some kind. Maybe the driver needs to capture any residual exception from the framework and transform it into something that goes back across the remoting boundaries in a way that makes

[2017-06-26 23:16] CharliePoole commented on #2282
One approach would be to imagine we are dealing with a framework we didn't write. Frameworks are not actually supposed to throw exceptions - or at least their driver should handle them. So if MysteryFramework throws an exception, what does the driver, runner and engine need to know in order to display clearly "Here's a problem that the framework caused."

[2017-06-27 02:05] jnm2 commented on #1212
@CharliePoole I'm just wondering what remaining work is keeping _this_ issue from being closed and if we know who will do it.

[2017-06-27 03:32] CharliePoole commented on #1212
@jnm2 This issue is about removing the files from the framework and documenting how people should deal with the change. It's trivial but somebody has to decide when to do it. We probably don't want it to be up-for-grabs, since it requires coordination with the other project that replaces the feature.

I should probably get the other project building so somebody can take it over in conjunction with

[2017-06-27 03:33] CharliePoole commented on #1212
@rprouse Would you want this done right before release of 3.8 or is any time during the period OK?

[2017-06-27 05:50] appel1 commented on #2282
Closed?

[2017-06-27 07:25] ChrisMaddock commented on #2195
No objection from me

[2017-06-27 10:01] CharliePoole commented on #2282
Not intentionally.

[2017-06-27 13:04] rprouse commented on #2219
If we follow SemVer to the letter, then we probably should hold off on this to a 4.0 release. I think you could argue though that since most of the attributes were obsoleted in 3.0 and there have been many releases to fix the warnings it isn't a breaking change.

AFAIK, the only obsolete feature that isn't a simple search and replace update is the `AssertHelper`. `AssertHelper` has only been obsol

[2017-06-27 13:18] stevenaw commented on #2219
I have some of these changes sitting in a branch. Should I go back to it,
wrap it up, and open a PR?
Or should I wait until we know when we'll be releasing it?

On Tue, Jun 27, 2017, 09:04 Rob Prouse <notifications@github.com> wrote:

[2017-06-27 13:19] rprouse commented on #2280
Personally, I am a bit uncomfortable with the idea of creating an `AppDomain` for every test or even running every test in it's own process. Adding that amount of complexity to the framework to support a very limited use case is over the line IMHO. I might be okay with the idea if it could be limited to one attribute applied to test fixtures or tests, but if the changes started leaking out into th

[2017-06-27 13:21] CharliePoole commented on #2280
I assumed this was only about an attribute you apply when you need it.

[2017-06-27 13:22] NN--- commented on #2219
I have some obsolete attributes. Not really much work to find and replace.

The main difficulty was ExpectedException attribute removal in 3.0 which I can say was a very good idea.
Too bad it existed from the beginning..

[2017-06-27 13:23] rprouse commented on #2219
@stevenaw if you want to do a PR, it might help us visualize what is changing and what the impact will be without searching through the code ourselves. If you do the PR, please put a `do not merge` in the description and you should probably hold off on doing more work until we make a final decision on this issue. @Lette and @NN--- have raised good points and I think we should evaluate the impact o

[2017-06-27 13:24] rprouse commented on #2280
If that is the case, then I would be okay with the enhancement. I immediately thought about our various command line options which might have colored my attitude.

[2017-06-27 13:49] cyanite opened #2284 "No way to specify app.config with console runner"
Using nunit-console runner on individual dll's, there is no way to specify the app.config file to use. To do that you have to create an .nunit file and use configfile="app.config". There should be a command line option to do this.

We have a huge number of dll's which require assembly redirects and we don't have config files written for each of them, but only for our executables.