[2016-09-22 20:28] oznetmaster commented on #1803
I use FluentAssertions with NUnit on CF!  So I know it works in that environment.

[2016-09-22 21:43] CharliePoole commented on #1803
@oznetmaster If you know anything about how it interfaces with NUnit, please post it here. I'm interested in

* Whether it references the framework and, if so, which version
* How it tells NUnit about failures and whether NUnit handles them correctly
* Any limitations you have encountered

Ultimately, we will use this to figure out what "API" they are using - that is, what must we avoid changing i

[2016-09-22 21:54] CharliePoole commented on #1802
But the single-lambda approach (I think of it as the multple-asserts-per-lambda approach) doesn't have to be implemented as you did it. In fact, if necessary, we can let the asserts throw, but immediately catch the result and save it, just as you do in the multiple-lambda approach.

I agree we can live with the ordering thing - I merely feel queazy, but I'm not yet throwing up. :-) Still, a lambda

[2016-09-22 21:55] jcansdale commented on #1803
There's also mocking frameworks like NSubstitute, Moq and TypeMock that are commonly used with NUnit. They have assert like functionality when verifying called methods. It would be nice if these checks could be made inside a multi-assert (or at least not break NUnit's multi-assert functionality).

[2016-09-22 22:13] jcansdale commented on #1802
Ah, but there lies the problem. You're throwing and immediately catching inside NUnit code. The stack trace won't contain any user code. What you're suggesting is how I sketched out my multple-asserts-per-lambda implementation (from the `AssertMultipleY` screen grab above).

Here it is:

[code]

It's quite possible I've missed an alternative approach. How would you go about resolving the missing s

[2016-09-22 22:26] CharliePoole commented on #1802
I'll give it a shot when I get  some other stuff done that I'm working on. I did it about a year ago as a spike, which I didn't keep, but it should be re-creatable.

[2016-09-22 22:38] CharliePoole commented on #1803
@jcansdale That would be a change. That is, those frameworks have never worked correctly with NUnit. We treat their private exceptions as errors, not failures. Since we have already said that an unexpected exception (error) inside a multiple assert would terminate it, that's what would happen with them. That's obviously not the best solution. I'm just saying it's not a new problem.

I suggested fi

[2016-09-23 09:09] yetibrain commented on #1743
@CharliePoole  I agree, `<asserts>` tag is to be preferred.

[2016-09-23 13:43] stecydube opened #1804 "No way to specify floating point precision for comparison constraints (GreaterThan, GreaterThanOrEqual, etc...)"
Same for version 2.6.4 (which is, sadly, no longer maintained) and version 3 (according to the docs). I haven't had the chance to convert my tests and use it on teamcity.

[2016-09-23 14:22] heltonbiker opened #1805 "Error message "arguments provided for method not taking any" seems incomplete / doesn't make much sense"
I got an error message while using NUnit with `TestCaseSource` attribute.
The message is:

And is found in the line below:

https://github.com/nunit/nunit/blob/5f6b47144c2d7b69caa52b3ae24dbb740444f347/src/NUnitFramework/framework/Internal/Builders/NUnitTestCaseBuilder.cs#L217

I couldn't figure out what this means, since the sentence seems to be missing some part, it is grammatically weird. Taking

[2016-09-23 14:28] argha007 commented on #720
Can I get in C# code in [SetUp]  RunBeforeAnyTests() method the categories passed from command line argument? I am using nunit 2.6.2 version.

Please let me know if I can get the category name passed to the nunit runner from console as getting the property name i want to do dome customization in setup... Please help..

TestContext.CurrentContext.Test.Properties["_CATEGORIES"]).Contains("Mobile"));

[2016-09-23 14:32] ChrisMaddock commented on #1805
The error message can be read as: "Arguments provided for method not taking any **_arguments_**". It's shown when you've given a parameter to a test method, but no source for this, e.g. if you have no `TestCaseSource` attribute in the above code. Any suggestions for how to improve that error message?

The issue at hand: I can't reproduce this problem with your code on NUnit 3.4.1. Which version of

[2016-09-23 14:33] CharliePoole commented on #1804
Can you say a little more about what you want to do? You can definitely use do values with those constraints.

[2016-09-23 16:08] CharliePoole commented on #1805
The message could be misleading, arising from some other error. In particular, it may be that NUnit can't decide whether the arguments are individual doubles or the entire array. As an experiment, try replacing the data source with this longer form:

[code]

[2016-09-23 16:18] CharliePoole commented on #720
@argha007 This is a closed issue. Asking questions here is not generally useful. You should ask on the nunit-discuss list or - if you think there is a bug - file a new issue. That said... here's a short answer. Please try the discussion list if you need to continue the discussion.

No version of NUnit allows your test to know __why__ it is being run. It may have been selected by category, by name,

[2016-09-23 16:22] argha007 commented on #720
ok thanks for your reply @CharliePoole ... appreciate it... just want to know that could i access the command line arguments passed from the command line in test setup method? if yes could u let me know how?

[2016-09-23 16:29] argha007 commented on #720
For example, to start a test:
  nunit-console NUnitDemo.dll /run=STR /err=STR //myparameter:abc

And then, from the test code I can do this:

[TestFixtureSetUp]
For Example:
$nunitRunner = "C:\Program Files (x86)\NUnit 2.6.2\bin\nunit-console.exe"
#----- get latest report----#
$testReport = "c:/tmp/TestResult_" + $(get-date -f yyyy_MM_dd_HH_mm_ss) + ".xml"
#----- get latest test exe ----#
$latestE

[2016-09-23 16:31] CharliePoole commented on #720
OK... I'll go one more answer here... The answer is no, for the same reason that you can't get the operating categories. The test does not know what program is running it. Maybe it's nunit-console, maybe it's the gui, maybe it's resharper, etc. The runner may not even have a command-line.

Run Parameters were invented to  solve this problem. Command-line programs have options to supply them while

[2016-09-23 17:30] jplebre commented on #1778
I never used IntPtr before, but looking at the docs I see there's an explicit cast to convert it into int64.

The IsZero() has no overload for IntPtr and tbh without my machine in front of me can't really play around with the equalities.

The MSDN docs do say it should be int32 or int64 depending on the system... interesting

[2016-09-23 17:35] #1553 closed

[2016-09-23 18:48] stecydube commented on #1804
I am trying the following test:

[code]

Unfortunately there is no `Within()` method that can be used at this point.

[2016-09-23 19:02] heltonbiker commented on #1805
Thanks, I already got everything running. I think perhaps there was some other quirk, the tests ran without recompiling, I don't know.

Anyway, the reason that I wrote here was not to get help getting my code running, but alert about a very confusing, and thus unhelpful message, IMO.

[2016-09-23 19:13] heltonbiker commented on #1805
@ChrisMaddock regarding your comment (which I only saw later), I could suggest some options, just as food for thought (I am not a native english speaker).

Instead of

some combination from the [optional] terms below could be used:

(sorry for the nested optionals...)

[2016-09-23 20:26] CharliePoole commented on #1804
NUnit's `Within` syntax is used on EqualConstraints to specify a tolerance. `Within(0.001)` is equivalent to writing "plus or minus 0.001." It is only available for equality constraints.

An expression such as the one you wrote could mean a number of things. I am assuming you would expect it to mean ">= 2.001" but somebody else might think it means ">= 1.999"

You can implement what you want by si

[2016-09-23 20:29] CharliePoole commented on #1805
Maybe "Arguments provided for method not taking arguments" :-)

2016-09-23 12:13 GMT-07:00 heltonbiker <notifications@github.com>:

[2016-09-23 20:47] heltonbiker commented on #1805
Or better yet:

[2016-09-23 20:58] CharliePoole commented on #1805
@heltonbiker That sounds a little too gentle... more like a warning than an error. After all, we are marking the method as invalid.

My guess is you would have understood the message better if the circumstances were not so strange.

However, pronouns are always strange in a foreign language, and "any" used that way is OK but a bit unusual.

[2016-09-24 03:57] remcomulder commented on #1802
I think there's a little bit of confusion about how NCrunch is handling these two options.  I'm personally fairly indifferent to the syntax either way, but perhaps I can shed some light on NCrunch would handle each scenario.

In the current version of NCrunch, @jcansdale 's example of creating an assertion pattern that uses multiple lambdas and AggregateException will cause NCrunch to parse the .T

[2016-09-24 04:07] CharliePoole commented on #1802
@remcomulder More than a little! :laughing:

My main confusion is that I don't understand how you could possibly be handling exceptions at all, since they never leave the framework. Aren't you limited to parsing what's in the XML output? Or are you doing something tricky we don't know about. :wink:

[2016-09-24 04:14] remcomulder commented on #1802
@CharliePoole All NCrunch is doing is parsing each line of the exception's string output.  NCrunch actually doesn't know its an AggregateException, but because AggregateException.ToString() calls .ToString() on all its nested exceptions, the exception stack lines all end up in the same dump.  NCrunch thinks its dealing with one big exception, and each failure is just one stack frame in that except

[2016-09-24 04:28] CharliePoole commented on #1802
I'll add that __unless__ you are doing something tricky, what you get in the output is completely removed from our use or non-use of an AggregateException or some other internal implementation, and even farther removed from the syntax.

I think of it like this...

          User Syntax =/=> Internal Implementation =/=> Output XML

where the broken arrow stands for some opaque transformation we are

[2016-09-24 04:31] CharliePoole commented on #1802
@remcomulder But how are you getting __any__ exception out of the framework? Any escaping exception is a bug as far as we are concerned.

[2016-09-24 05:54] remcomulder commented on #1802
@CharliePoole I get the exception text from the NUnit XML, not the exception itself :)

But this exception text seems to include all the stack trace lines from all exceptions nested inside AggregateException.  I assumed that NUnit was calling .ToString(), but perhaps you are doing something more involved?

I understand the build limitations with AggregateException only existing in .NET 4.0 and abo

[2016-09-24 14:50] CharliePoole commented on #1802
@remcomulder You guessed right that it was your reference to ToString() that was confusing me. The stack trace you see is actually constructed by NUnit here: https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Internal/ExceptionHelper.cs#L100

We display all inner exception stack traces, including those from AggregateException, preceding each new trace by a line like "--SomeExc

[2016-09-24 22:50] remcomulder commented on #1802
@CharliePoole Ahh.  In that case, the compatibility advantages of reporting using this exception are probably a bit more limited.  Other frameworks would need to implement the same functionality as you have here for NCrunch to be able to dig deeper into the exception, unless they provided access to the exception object itself.

Maintaining the existing string output format for this exception will

[2016-09-25 09:43] Sebazzz opened #1806 "ITestAction on assembly-level does not run for suites"
As discussed in [#1770](https://github.com/nunit/nunit/issues/1770#issuecomment-247627302), when an ITestAction is placed on the assembly level it does not run for test suites within the assembly.

Please review an reproduction with [this gist](https://gist.github.com/Sebazzz/5c04b92f566bc8e9c6397b2f10d4f191). Compile by placing NUnit 3 console runner and NUnit 3 assembly into same directory and r

[2016-09-25 14:26] CharliePoole commented on #1770
Copy of comment by @Sebazzz posted to a new issue by mistake:

-----
As discussed in [#1770](https://github.com/nunit/nunit/issues/1770#issuecomment-247627302), when an ITestAction is placed on the assembly level it does not run for test suites within the assembly.

Please review an reproduction with [this gist](https://gist.github.com/Sebazzz/5c04b92f566bc8e9c6397b2f10d4f191). Compile by placing

[2016-09-25 14:27] CharliePoole commented on #1806
Additional information should go on the same issue, in this case #1770. I copied your comment there.

[2016-09-25 14:27] #1806 closed

[2016-09-25 14:30] CharliePoole commented on #1770
@Sebazzz Could you add the info about which page in the docs you are referring to? I'd like to fix that if it's incorrect.

[2016-09-25 14:57] Sebazzz commented on #1770
Hi @CharliePoole, check the page on [action attributes](https://github.com/nunit/docs/wiki/Action-Attributes#AssemblyAttachedAction), chapter about Assembly Attached Action.

[2016-09-25 15:03] Sebazzz commented on #1806
My rationale for creating a new issue is because the referred issue is a question. Sorry.

[2016-09-25 15:51] CharliePoole commented on #1806
That's OK. The original poster was a little unclear what he wanted, so I marked it as a question. The issue has been hanging around for a while. I'll re-label it.

[2016-09-25 16:04] CharliePoole commented on #1770
That doc was originally written by the person who contributed the feature and seems a little ambiguous as to what it means by Suite. Internally, NUnit considers any aggregation of tests a suite, including an assembly, namespace, test fixture, parameterized method, etc. OTOH, his implementation does not deal with all suites suites, so he probably did not intend this to apply to suites that are not

[2016-09-25 16:25] Sebazzz commented on #1770
No, I don't have an use case for running it on namespaces, but I do expect the methods to be run for fixtures themselves, which currently doesn't happen.

Test actions on the assembly are not run for any test suite - including testfixtures - regardless if any SetUpFixture is used. Only for each test method test actions are run.

[2016-09-25 17:23] CharliePoole commented on #1770
@sebazz You were no doubt correct to create a new issue in the first place, but now that I've put us back on this one, I'm changing the name of the issue to reflect what we're talking about. :smile:

I wasn't able to access your gist from the cafe where I was working earlier. I can get it now and I'll give it a try before commenting further.

[2016-09-25 19:07] jplebre commented on #1778
I can confirm the problem.
However, Both of the following tests pass:
[code]

I've never used IntPtr in any of my software so I'm not sure what the good practices around this are. It seems to me that IntPtr is not intended to be compared against string without casting or using the conversion methods.

We could add an overload to allow IntPtr. What say the nunit team? @nunit/contributors

[2016-09-25 19:18] CharliePoole commented on #1778
The only rational that I can see for doing it is that there is an IntPtr.Zero member, which could lead one (did lead someone) to thinking that Assert.IsZero should work. I'm not sure that's enough justification.

[2016-09-25 20:16] immeraufdemhund commented on #1778
I've used IntPtr.Zero many times. Normally it's to subustitue for native code that calls for `NULL` which is defined as the value 0. I would think that maybe making `Assert.That(IntPtr.Zero, Is.Null);` a valid scenario.

[2016-09-25 20:40] jplebre commented on #1778
If I do `Assert.That(IntPtr.Zero, Is.Null);` it fails:
[code]

[2016-09-25 23:04] CharliePoole commented on #1778
Since the result from NUnit's Assert matches what the language returns, I'd say this is not a bug. @rprouse Would you agree?

[2016-09-26 00:25] rprouse commented on #1778
I can understand wanting `Assert.That(IntPtr.Zero, Is.Zero)` or  `Assert.That(IntPtr.Zero, Is.Null)` to pass, but like @CharliePoole says, we are not matching what the language returns. When we evaluate requests like this, we usually try to stay within the bounds of the language and not introduce implicit casts. So,

[code]

The problem is, we have added convenient overrides  for stuff like this i

[2016-09-26 01:16] CharliePoole commented on #1778
I agree. Done.

[2016-09-26 01:16] #1778 closed

[2016-09-26 10:33] jcansdale commented on #1802
Sorry about the delays responding. I have a 2yr old who's idea of programming is, "I want to press a button and make it green", which isn't always conducive to getting stuff done. 😉

It seems NCrunch isn't doing what I thought it was doing. I thought its coverage instrumentation could detect the exceptions falling through and mark them accordingly. I'd glad I pulled in @remcomulder for clarificati

[2016-09-26 10:42] oznetmaster commented on #1802
You should be aware that StackFrame is not available in the CF build :(

[2016-09-26 12:22] jcansdale commented on #1802
Hmm. Does the CF have a working version of `Environment.StackTrace`?

[2016-09-26 12:23] stecydube commented on #1804
I've fix my issue by adding an `.Or.IsEqual ` to the constraint.

[2016-09-26 12:31] jnm2 commented on #1778
I don't think the fact that `IntPtr` is a struct is relevant. `decimal` is also a struct with number semantics.
`IntPtr` is what you use instead of `int` and `long` when you need the size to be platform-specific.

[2016-09-26 12:34] rprouse commented on #1802
I know you wouldn't be happy with the decision @oznetmaster, but I would be okay if some features don't make it into all versions of the framework. We should try wherever we can, but I don't think we should compromise the design to support older frameworks. That is part of the reason we want to spin CF and Silverlight out to their own repos, so they can go in the directions that make the most sens

[2016-09-26 14:09] rprouse commented on #1778
@jnm2 true, but I mention it is a struct because it doesn't have implicit conversions (AFAIK) to int, long or null and I would prefer if NUnit not add additional implicit conversions internally.

[2016-09-26 14:19] immeraufdemhund commented on #1778
@jnm2 not to mention that it's a pointer, not a value. The value `IntPtr.Zero` does happen to be 0 and in the C++ world is the same as null... but to put what @rprouse  said a tad differently is that the pointer points to a location in memory and can point to numbers, as well as by reference objects, and arrays (including strings and wide strings). The idea of checking for `IntPtr.Zero` instead of

[2016-09-26 14:37] rprouse commented on #1778
I would also extend that a bit, older C++ uses a define for `NULL` that is an int 0, but newer C++ uses `nullptr` which is not of type `int`, but a special type `std::nullptr_t` and if I remember correctly, there is not implicit cast for that either.

@immeraufdemhund if we were to implement anything, your semantics of `Is.ZeroPointer` or `Is.NullPointer` would be more palatable, but we don't want

[2016-09-26 14:41] rprouse commented on #1804
@stecydube thanks for the update. I am going to close this as won't fix.

[2016-09-26 14:41] #1804 closed

[2016-09-26 14:41] oznetmaster commented on #1802
No

[2016-09-26 15:14] jnm2 commented on #1778
That makes sense. `IntPtr` in C# doesn't actually have number semantics, it has pointer/native handle semantics.

Along those lines though it feels less clean to convert it and compare using number semantics. I'd prefer `Assert.That(value, Is.EqualTo(IntPtr.Zero))` over anything else.

[2016-09-26 15:24] rprouse commented on #1646
With the MSI for the framework being dropped, this will no longer be an issue going forward so we can probably close this issue.

[2016-09-26 15:24] #1646 closed

[2016-09-26 16:03] CharliePoole commented on #1802
Whoever actually implements this feature will decide what to do about Environment.StackTrace, including whether to support CF in some way. Then we'll all get an opportunity to comment on whatever that implementation choice is in the course of code review.

In order to avoid contributing to this mess  of  premature implementation detail, I'm not going to go back and recreate my earlier implementati

[2016-09-26 16:21] rprouse commented on #1802
I agree, I prefer (1) the single lambda approach 👍

[2016-09-26 17:07] jcansdale commented on #1802
Assuming we have a way to accommodate 3rd-party mocking/assert libraries, I also prefer the single lambda approach. It's both more flexible and clearer what's going on. 😄

[2016-09-26 18:29] #1479 closed

[2016-09-26 18:31] rprouse commented on #1792
@debugosaurus did you make any progress on this over the weekend? We are planning on doing the 3.5 release this week and need to know what will be included.

[2016-09-26 21:38] slipdef opened #1807 "[Parallelizable] by default"
Is there a way to say that all tests in a particular assembly should be run in parallel? If I understood the docs correctly I must mark each and every test with [Parallelizable] attribute.

[2016-09-26 22:02] CharliePoole commented on #1807
Yes, put the `ParallelizableAttribute` on the assembly, like so...

[code]

This will give you as much parallelism as NUnit currently supports. That is, fixtures will run in parallel but methods within a fixture will run sequentially.

See the docs at https://github.com/nunit/docs/wiki/Parallelizable-Attribute for details.

[2016-09-26 22:02] #1807 closed

[2016-09-26 22:44] remcomulder commented on #1802
Another vote here for single lambda.

[2016-09-26 22:57] debugosaurus commented on #1792
@rprouse nothing that doesn't undo other previous fixes

[2016-09-27 00:15] CharliePoole commented on #1802
I updated the existing spec for this feature to match our renewed conclusions:
https://github.com/nunit/docs/wiki/Multiple-Asserts-Spec

[2016-09-27 00:15] #1802 closed

[2016-09-27 00:17] CharliePoole commented on #391
After a great deal of discussion under issue #1802, now closed, the spec on the wiki has been updated:
https://github.com/nunit/docs/wiki/Multiple-Asserts-Spec

Implementation will proceed under this Epic as soon as the other sub-issues are resolved.

[2016-09-27 12:18] NUnitTester commented on #1778
@rprouse: Sorry, but this is not a solution!

`IntPtr.Zero.ToInt32() == 0 // true
Assert.That(IntPtr.Zero.ToInt32(), Is.Zero) // Passes`
It will be wrong on a 64 bit system, because the Pointer has the size of a register all the time.

NULL is defined as followed ((void*)0) in compiler I used last years. In C++11 nullptr ist the right on to use.

I dont't like it really, but if Zero is interpreted

[2016-09-27 12:23] jnm2 commented on #1778
@NUnitTester What do you need that `Assert.That(value, Is.EqualTo(IntPtr.Zero))` doesn't give you?

[2016-09-27 12:25] NUnitTester commented on #1778
I think most people talking about having no problems with IntPtr didn't write there software in native language like C++ and D. Only surface and server interfaces are written in managed, so NUnit tests use IntPtr or UIntPtr. But one important thing is that the size of the pointer is unknown, so a cast To Int32 is definitively wrong.

[2016-09-27 12:29] NUnitTester commented on #1778
It's not really quite nice, you don't write
`Assert.That(value, Is.EqualTo(0))
Assert.That(value, Is.EqualTo(string.Empty))`

Instead you use
`Assert.That(value, Is.Zero)
Assert.That(value, Is.Empty)`
won't you?
It is very good readable.
And back to pointer. In almost all times only the difference to IntPtr.Zero is important, not the exact value, which is not useful for the surface/nunit.

[2016-09-27 12:32] NUnitTester commented on #1778
I would prefer to have an overload for IntPtr and UIntPtr. I don't think that will be more than 10 lines of code, are it?
The time we talking about is more than fixing the problem.
@CharliePoole : Can you please solve the problem? If you don't like to have it as an bug, call it feature request.

[2016-09-27 12:37] NUnitTester commented on #1778
Sorry, I don't understand this:

What does it mean, that the Assert matches what the language returns? NUnit give the message:
**Expected: 0
But was: 0**

[2016-09-27 12:43] CharliePoole commented on #1778
Actually, the error message is a bit of a bug. Apparently, IntPtr.ToString simply displays the int value.

[2016-09-27 12:46] jplebre commented on #1778
I'm not sure I understand. From what you just said:

in both examples, you are using the `.ToInt32()` method

So we know all of these pass:
[code]

What would the overload add that you don't have above?

Like I said on my previous post looking at the documentation it gives the feel you are expected to either cast or use `.ToInt` before using this value as an integer.

As per my first post, never u

[2016-09-27 12:50] jplebre commented on #1778
@CharliePoole hmmm
Looking at the posts above by @rprouse seems it would make more sense that the .ToString() returned null not 0. What is the likelyhood the .net team would accept our PR?

Adding an overload for IntPtr to Is.Zero could cover this issue but seems like we are driving a pneumatic drill on a M3 flathead screw

[2016-09-27 12:55] NUnitTester commented on #1778
M3 flathead screw ??? What this?

Ok, try an UIntPtr in 64 Bit with a value all bits are set: 0xffffffffffffffff.
(Or IntPtr with 0x7fffffffffffffff).
What does the function ToInt32 do? I think, an exception is thrown.
If not, than think about a pointer to 0xffffffff00000000.
ToInt32 will give 0 but the Pointer is not UIntPtr.Zero.
That's what I'm talking about.

[2016-09-27 13:15] rprouse commented on #1778
Wow, I am surprised so many people are interested in this issue. I agree that the message is misleading because `IntPtr.Zero.ToString()` returns 0. I also agree that it would be an easy fix, but my concern is that it is a slippery slope. If we add `Is.ZeroPtr`, shouldn't we do the same for every struct in the .NET framework that has a Zero, Empty, MinDate, MaxDate, etc? My thinking is that people

[2016-09-27 13:17] CharliePoole commented on #1778
Well since Is.Zero is a property, you can't actually overload it.

Any variable behavior based on the type of the actual value requires us to
create a ZeroConstraint, similar to EmptyConstraint, which would postpone
the choice of the real constraint until the Type of the actual value us
known.

The alternative would be to make a much deeper change in how NUnit
determines equality. I wouldn't want

[2016-09-27 13:23] jnm2 commented on #1778
I hope no one seriously thinks `.ToInt32()` should be used unless the semantic you want is the discarding of the most significant half. And `IntPtr.Zero.ToString()` should most definitely be `0`. But that's a side conversation.

@NUnitTester I wouldn't want `Is.Zero` to run slower and I wouldn't want `Is.ZeroPtr` cluttering the API unless it was a truly central use case. It is a fact that what you

[2016-09-27 13:28] jnm2 commented on #1778
@rprouse @CharliePoole Is there another discussion on `Is.Zero`? I don't think this should be done necessarily, but I'm curious what the ramifications would be of implementing `Is.Zero` as `value?.ToString() == "0"`. Perf would be decent. Probably a internationalization nightmare? False negatives and positives?

[2016-09-27 14:08] rprouse commented on #1778
@jnm2 there isn't an open discussion on `Is.Zero`. I would also be worried about the ramifications of comparing the ToString value, it just feels wrong 😉

[2016-09-27 14:13] NUnitTester commented on #1778
@jnm2: I think if the compare with `value?ToString` is removed, the code is faster even if a `Is.Zero` is added for IntPtr und UIntPtr.

[2016-09-27 14:28] CharliePoole commented on #1778
Guys... all this talk of how to implement Is.Zero misses a key point: Is.Zero does no comparison at all. It's just a static property that returns a new Constraint. The actual value is not available when it is invoked. Currently, I believe it returns `new EqualConstraint(0)`. Here are our choices...

1. Remove Is.Zero from the framework entirely. However, IIRC it's already released in 3.4, so I wou

[2016-09-27 14:31] CharliePoole commented on #1778
@NUnitTester Since we only invented Is.Zero "yesterday", people have actually been writing Is.EqualTo(0) for many years without a complaint. Similarly, before we invented Is.Empty, they used Is.EqualTo(""). A slightly longer syntax is not an absolute deal-breaker for most programmers, particularly if it reads clearly.

[2016-09-27 14:33] CharliePoole commented on #1778
@rprouse On the separate problem of the error message, I think we should create an issue to add special handling in the display of IntPtrs as expected or actual values, just as we do for many other types. What do you think?

[2016-09-27 14:34] jnm2 commented on #1778
I strongly agree; I think `Assert.That(value, Is.EqualTo(IntPtr.Zero))` is the clearest and most semantically correct thing to do. Also, @NUnitTester can easily write his own `IsIntPtr.Zero` which is a fun exercise left to the reader because I have other things to do at the moment. ;-)

[2016-09-27 14:35] NUnitTester commented on #1778
Nice options, I would prefer option 3 most.

[2016-09-27 14:39] DanHarman commented on #1586
Is there any further thinking on this? My particular scenario is passing in a glob to my teamcity nunit build step for:

`**\bin\Release\*Tests.dll`

As this means we don't need to keep adding test projects into the build server manually (I've already failed to do this once...) However we also have mstest projects in the build which also have *Tests.dll extension, and nunit console test runner err

[2016-09-27 14:40] CharliePoole commented on #1778
@jnm2 Comparing the string value would break Is.Zero as applied to decimals, doubles, etc.

@NUnitTester The five options are in my order of preference, but number 1 is probably a fantasy and 4 and 5 are only listed to show why they are bad ideas in my view. Practically, it's between 2 and 3.

@rprouse We did already release this, right? I guess we can't unrelease. 😦

[2016-09-27 15:18] CharliePoole commented on #1586
Well, as a result of earlier discussion, we accepted this as a feature request and added it to our backlog.

The next thing you can watch for is for somebody to take it on as an assignment. That could be a team member or an outside contributor who wants it badly. :smile:

[2016-09-27 15:36] jplebre commented on #1778
I have to agree with @jnm2 for the leave as is and use 'Is.EqualTo(IntPtr.Zero)' as this is an edge case. Reading the docs gives me the distinct idea a conversion is necessary if it needs to be handled as an int too.

Also agree that if adding Is.Zero started this discussion, adding further properties like the IntPtr would probably cause a barrage of requests for every similar property.

Id leave

[2016-09-27 16:16] rprouse commented on #1778
1. `Is.Zero` has been released, so we cannot remove it.
2. I am fine with leaving it as is 😄
3. I would be reluctant to add a `ZeroConstraint` as I think it could lead us down a rabbit-hole of supporting different concepts of Zero
4. Rather than add a special case for the message for an IntPtr.Zero, I think we should have a more generic fix for where the message looks the same. We have seen simila

[2016-09-27 16:16] ChrisMaddock commented on #1778
I think creating a ZeroConstraint could potentially open the floodgates a little as to what is 'semantically zero'. `TimeSpan.Zero` springs to mind as being a similar situation, and I guess there's many more.

Seems to me like an ideal candidate for a user-custom-constraint. Perhaps there's a documentation issue however that we should clarify `Is.Zero` checks solely for integer zero?

[2016-09-27 16:20] ChrisMaddock commented on #1778
Apologies mine and @rprouse's posts crossed - didn't intend to just reinforce the same points!

This seems like a good idea - although I'd vote only when string representations match. It's a problem in 0.1% of comparisons, I don't see that justifying making everything more long-winded.

[2016-09-27 16:22] rprouse commented on #1586
If we decide to change this, we should do the same in the .NET Core runner. There is a duplicate issue there with a couple of requests, nunit/dotnet-test-nunit#77

[2016-09-27 16:23] rprouse commented on #1586
This is also a Console issue, I am going to move this issue there.

[2016-09-27 16:23] #1586 closed

[2016-09-27 16:24] rprouse commented on #1586
Issue moved to [nunit/nunit-console #62](https://github.com/nunit/nunit-console/issues/62) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-27 19:03] jplebre commented on #1778
I like the adding the type to the message best.
Expected: 0 (Int32)
But was: 0 (string)

Liking it already

[2016-09-27 20:37] ChrisMaddock commented on #1805
I think there is a little room for improvement here. As the method name is already available at this point, including that in the error message might highlight to a user exactly where to look.

@CharliePoole @heltonbiker - how do you both feel about a combination of both the above and going for:

I'll do a PR in time for 3.5, if this is agreed on. 😄

[2016-09-27 20:48] heltonbiker commented on #1805
@ChrisMaddock I believe the message you suggested is great. I would only replace "which" by "but it", since it is more clearly indicative of some kind of problem. Thus:

[2016-09-27 23:09] CharliePoole opened #1808 "Disambiguate error messages from EqualConstraint"
Although we try to avoid it, EqualConstraint occasionally fails with an error message like

[code]

Issue #1778 illustrates such a case, producing the message

[code]

It is proposed that we append the type in such a case.,.

[code]

Note this has to be done somewhere in the code where **both** the expected and the actual values are available and after the string representations have already been

[2016-09-27 23:10] CharliePoole commented on #1778
Created issue #1808 for the error message.

[2016-09-27 23:32] oznetmaster commented on #1808
If this can be done, it would be great!

[2016-09-28 01:22] pfgherardini opened #1809 "Assert.AreEqual fails for Complex on Linux"
Hi

The following test:

[code]

is failing for me on 3.4.1 on Linux. The same test works fine on Windows.

[code]

[2016-09-28 02:09] rprouse commented on #1809
When you run it on Windows, are you also using .NET Core 1.0.0-preview2-003131?

[2016-09-28 06:25] jplebre commented on #1808
What would happen if namespaces are incredibly long?
(Mysolution.myproject.tests.helpers.factory.stub.consumeraddress)
Or something silly like that.

Could it be worth to just have the type?

[2016-09-28 06:48] CharliePoole commented on #1808
One could just use the name in most cases, I think.

[2016-09-28 10:17] oznetmaster commented on #1808
Just use as much of the name as needed to make it unique (right to left).

[2016-09-28 20:49] pfgherardini commented on #1809
Yes

[code]

[2016-09-28 21:08] rprouse commented on #1809
Thanks, my guess is that there is a difference between the .NET Core implementation of `Complex` on Linux and Windows, or possibly a difference in reflection causing us to not use the `IEquatable<Complex>` interface.

[2016-09-29 12:34] ChrisMaddock opened #1811 "Build.ps1 fails if spaces in path"
If the nunit repo is in a location with spaces in the path, the build.ps1 bootstrapping script fails.

The [latest version from Cake](https://github.com/cake-build/cake/blob/develop/build.ps1) (26/09/2017) appears to fix this issue. It does however:

- Specify a specific Cake version. I haven't yet looked at how this interacts with our current method of specifying in packages.config, but we should

[2016-09-29 13:14] rprouse commented on #1811
I am okay with it installing the .NET Core CLI, we are going to need it soon anyway and it is a small install. Would it worry you @CharliePoole?

[2016-09-29 13:32] #1805 closed

[2016-09-29 13:37] rprouse commented on #1796
Adding a confirm because I want to ensure it is our code that is causing this, not a general issue with `ProcessStartInfo.EnvironmentVariables`.

[2016-09-29 13:58] rprouse commented on #1796
I am closing this as `not our bug` (TM)

NUnit does not set `LOCALAPPDATA`, but it does have to set other environment variables. I reproduced your bug with the following console app.

[code]

[2016-09-29 13:58] #1796 closed

[2016-09-29 14:00] rprouse commented on #1796
As a workaround, you could probably run with `--inprocess`, or switch to CMD or PowerShell for running from the command line.

[2016-09-29 14:13] ChrisMaddock commented on #1796
Agreed its not-our-bug. The issuse is that `p.StartInfo.EnvironmentVariables` tries to build a case-insensitive StringDictionary, leading to duplicate keys.

I did wonder if we could however work around it by NUnit using `Environment.SetEnvironmentVariable("variable", "value", EnvironmentVariableTarget.Process)` instead. Never got round to investigating.

[2016-09-29 14:20] CharliePoole commented on #1811
@rprouse Assuming that it merely installs the package for Cake's or Roslyn's use, I don't see an issue. If it's in tools, our projects wouldn't be referencing it anyway.

@ChrisMaddock Rob and I have talked about setting up a common location for build files we share across projects. I'm going to initially set something up that works across the extensions I'm separating. This doesn't prevent workin

[2016-09-29 14:33] rprouse commented on #1796
Good point about case sensitivity @ChrisMaddock. I retested using the correct case for the environment variable `export LOCALAPPDATA=/d/tmp` and it works fine. Based on this, even if we were to try and fix it, I would class it as extremely low priority based on that.

[2016-09-29 16:30] ChrisMaddock commented on #1811
Great - I imagine this is best waiting until then. I'll edit my original post with a script date

[2016-09-29 19:58] debugosaurus commented on #1792
Pull request #1812 created

[2016-09-30 07:45] oznetmaster opened #1813 "What should happen?"
Porting a test suite from V2.

Lots of tests like this:
[code]
The assumption is that if there is no exception the first Assert.Fail (#1) will be the one that is reported.  What is happening is that the #3 is being reported.

Is this the expected behavior in V3?

[2016-09-30 07:48] oznetmaster commented on #1813
It appears that the first Assert.Fail (#1) is throwing an exception which is then being caught by the empty catch clause, and then the Assert.Fail (#3) is happening.

[2016-09-30 11:12] rprouse commented on #1813
I'm surprised that worked in NUnit 2. Are you sure #2 was ever hit? You can fix it by catching the nunit exception and throwing.

[2016-09-30 11:12] #1813 closed

[2016-09-30 14:00] p-gintare opened #1814 "Assert user message: newline "\r\n" is shown in output as text"
Nunit 3.4.0 and 3.4.1 does not escape new line

**Code:**

var magic = $"Message {Environment.NewLine}new line";
Assert.IsTrue(false, magic);

**Output:**
  Message \r\nnew line
  Expected: True
  But was:  False

[2016-09-30 15:07] CharliePoole commented on #1814
This is a duplicate of issue #1575, which is fixed in master for the 3.5 release.

Please search for existing issues, including closed issues, before filing a new one.

[2016-09-30 15:07] #1814 closed

[2016-09-30 17:57] NUnitTester opened #1816 "Has.Count does not work allways"
If the collection is an Array the `Has.Length` does work but the `Has.Count` doesn't. That's wrong because every array is also a collection which has a property Count.

`int[] numbers = {1, 2, 3};`
`Assert.That(numbers, Has.Length.EqualTo(3));`
`Assert.That(numbers, Has.Count.EqualTo(3));`
`ICollection<int> numbersCollection = numbers;`
`Assert.That(numbersCollection, Has.Count.EqualTo(3));`

**Sy

[2016-09-30 18:19] CharliePoole commented on #1816
This is by design. We only look at properties based on the type passed, just as the C# compiler does. You would have to cast numbers to some type to IEnumerable in order for the test to pass.

I recognize that there are arguments for implementing it as you describe. We considered those arguments when the feature was added some years back but decided to limit ourselves to properties of the defined

[2016-09-30 18:19] #1816 closed

[2016-09-30 19:35] gabrielpalacios opened #1817 "Serialization Security Exception: System.Runtime.Remoting.ObjRef cannot be accessed (since v2.6.2 to v3.4.1)"
In top level integration tests i'm experiencing remoting security exceptions.
2.6.1 no problem, 2.6.2 to 3.4.1 has this exception -- no other changes in the source.

Exception thrown when attempting a request:
**System.Runtime.Serialization.SerializationException : Because of security restrictions, the type System.Runtime.Remoting.ObjRef cannot be accessed.**

**There are old good entries about it

[2016-10-01 05:08] oznetmaster commented on #1771
No comments at all? :(

[2016-10-01 13:06] rprouse commented on #1817
@gabrielpalacios does adding the suggested configuration changes to `nunit-agent.exe.config` work?

[2016-10-01 13:08] rprouse commented on #1817
This is also likely an NUnit Console bug, we will likely move it to that repository once we evaluate it.

[2016-10-01 13:17] rprouse commented on #1816
@NUnitTester you say that the array has a property Count, but that isn't technically correct. LINQ provides an extension method `Count()`.

I can understand how you would expect `Has.Count` to work, but as @CharliePoole said, we've already made the choice of where to draw the line. Supporting `Count` would probably require us to attempt a cast to an `IEnumerable<T>` then apply the `Count()` extens

[2016-10-01 15:41] CharliePoole commented on #1771
Well, I've been keeping quiet to see if somebody came along to agree with it. I don't like it as a feature.

When we implemented run parameters, we decided to do it in a way consistent with how other frameworks, notably MsTest implement them. That is, it's up to the test code to access the parameters. They are all strings, which is what they start out as when entered either on the command-line or

[2016-10-01 16:47] oznetmaster commented on #1771
After I added support for the parameters to my GUI, I discovered my users were using them a lot.

Being able to have all available parameters displayed in the GUI, along with validation of values entered for them, was a significant enhancement to just have a place to enter them.

The only way I could see to easily do that was with attribute based definition of the parameters used in each test, if

[2016-10-01 16:57] CharliePoole commented on #1771
I'll continue to wait for others to chime in. :-)

[2016-10-01 16:59] oznetmaster commented on #1771
How do you propose to handle parameters in the NUnit GUI?

[2016-10-01 17:49] CharliePoole commented on #1771
I haven't thought much about it since it's a brand new feature to support.
Client-side validation seems out of the question in a runner that supports
multiple frameworks without adding an entire capabilities API to every
framework.

On Oct 1, 2016 9:59 AM, "Neil Colvin" <notifications@github.com> wrote:

How do you propose to handle parameters in the NUnit GUI?

—
You are receiving this because yo

[2016-10-02 07:10] appel1 commented on #1816
Arrays in .net implements ICollection that has a Count property. It is explicitly implemented though so you'd have to cast to ICollection or take explicit implementations into account when reflecting. Perhaps that'd be confusing though.

[2016-10-02 12:34] ChrisMaddock commented on #1816
This looks like #1394

[2016-10-02 15:35] CharliePoole commented on #1816
@ChrisMaddock I guess you are right, although I initially took them differently.

My take on #1394 was that we don't __even__ see the property when you pass in the interface that is implemented explicitly. That's not actually what @yaakov-h 's example shows there, but it was how I read it at the time.

It seems to me correct that you should not see an explicitly implemented property if you pass in

[2016-10-02 20:21] rprouse commented on #1589
Since this is an Epic that is spanning multiple releases (SL and CF will come post release), I am moving this to the next milestone as I prepare for release.

[2016-10-02 21:35] rprouse commented on #1792
I am going to move this to 3.6. I am preparing the release.

We might even be able to use your code from #1812 soon after the release. We are thinking about splitting CF out to it's own repository, so your fixes might be fine as is.

[2016-10-03 11:55] NUnitTester commented on #1816
First thing: It would be nice if the item is closed after has had a change to react.

@rprouse: As mentioned I haven't used LINQ at all and Count() is a function not a property. You will see this part of code I used:
`int[] numbers = {1, 2, 3};`
`ICollection<int> numbersCollection = numbers;`
`Assert.That(numbersCollection, Has.Count.EqualTo(3));`

**System.ArgumentException : Property Count was n

[2016-10-03 11:58] NUnitTester commented on #1816
@ChrisMaddock : Thanks for the link. Has I have found out reading the discussion above, this go deeper in Nunit as I have thought.

[2016-10-03 12:17] NUnitTester commented on #1816
`ICollection<int> numbersCollection = IWorker.DoMethod();`
`Assert.That(numbersCollection, Has.Count.EqualTo(3));`

Think about the following usecase: You will test different implementations of IWorker given as parameter of tha attribute TestFixture, in my case 3. Two will use an Array to give back as ICollection<int> and one will give back an HashSet<int>.
How to write the Unit-Test with Has.Coun

[2016-10-03 13:09] rprouse commented on #1816
@NUnitTester we are always able to reopen issues and as you see, it is fine to continue discussion on closed issues to try to convince us that we made the wrong decision. This is issue #1816, NUnit is a very popular project with a large volume of issues reported and very few people to respond to the issues, so we do our best to deal with issues quickly and efficiently.

Your example above is more

[2016-10-03 13:12] rprouse commented on #1394
From @NUnitTester, this also causes `Count` to not be found where an array is cast to an `ICollection` because arrays explicitly implement `ICollection`.

--

`ICollection<int> numbersCollection = IWorker.DoMethod();`
`Assert.That(numbersCollection, Has.Count.EqualTo(3));`

Think about the following usecase: You will test different implementations of IWorker given as parameter of tha attribute Tes

[2016-10-03 13:46] rprouse commented on #1771
I like the fact that this would make the parameters discoverable. The problem with the existing parameters is that they are invisible unless you search through the code, so you need to document what your tests require. If we were to do this, I would like to see it extended so that it includes default values and descriptions of what the parameter is used for. We could then add a command line option

[2016-10-03 14:49] yoyos06 opened #1819 "TestContext.Progress.Write writes new line"
Hi,

The TestContext.Progress.Write method now works exactly the same as TestContext.Progress.WriteLine because it writes a newline character at the end.

[2016-10-03 14:51] rprouse commented on #1819
Thanks for the report, we will look into it.

[2016-10-03 16:36] xplicit opened #1820 "NUnitLite on .NET Core - impossible to know which test is crashed."
Sometimes tests can crash on .NET Core (StackOverflowException,  hanging, etc). In this case extremely useful to know which tests is crashed from  a huge test suite. To know about it it would be great to output test case name at the beginning of the test and at the end of the test. But such functionality is absent in NUnitLite on .NET Core.

For example:

Option `--labels=On` does not work at all,

[2016-10-03 18:25] CharliePoole commented on #1771
@rprouse In fairness to @oznetmaster, he did bring it up but I thought the idea was a  bit over-engineered. What he describes involves fairly tight coupling between a gui and the framework, which is something he can do for his own CF gui, but which we can't do so easily in a gui that is two steps removed from the framework.

Nevertheless, I like the idea of creating visibility within the existing

[2016-10-03 20:47] CharliePoole commented on #1816
@rprouse I still think we have two things to decide before we can work on #1394. I'll move my above comment to that issue.

[2016-10-03 20:56] CharliePoole commented on #1394
From #1816...

"Let's decide two things here: (1) how it should be and (2) how it can be right now, since our assertions are currently based on objects."

What I meant is

(1) Let's decide how we think this should work, assuming no restrictions on implementation. I think it's important to decide this first, before making any immediaate changes.

My own view is that we should be able to see an expl

[2016-10-03 21:16] oznetmaster commented on #1771
My implementation does all of those things, so I know it is possible in a tightly coupled runner like nunitlite, which is how my GUI works - it talks to nunitlite through a special console runner on CF.

I believe that my approach could be adapted to the two step removed current environment, since in the end, the parameters are still passed in the same way as is currently done.  Discovery is part

[2016-10-03 21:20] CharliePoole commented on #1819
@yoyos06 Actually, TestContext.Progress.Write doesn't write a newline after the text. It's done in NUnit console.

That might seem like an academic distinction, but it's actually important. The framework puts out events which are received and handled by runners. Each runner may handle them in a different way. For example, some gui might have a special text box that received all the "Progress" outp

[2016-10-03 21:24] CharliePoole commented on #1771
What does your XML look like WRT parameter discovery?

[2016-10-03 21:29] CharliePoole commented on #1820
It sounds to me as if nunit/nunit-console#24 would resolve your problem, if ported to nunitlite.

Would you take a look at it and see if you agree?

[2016-10-03 22:18] oznetmaster commented on #1771
It is an xml element that can be a child to test-suite or test-case elements.

[code]
Everything except the name attribute is optional.

All the information is extracted from the test parameter attribute which can be applied to the assembly, test suite or test case.

Note that there can be conflicting test-parameter elements (differing types or validation rules) in the discovery xml, since current

[2016-10-03 23:45] JackUkleja opened #1821 "Responding to cooperative cancellation within test fixture"
I am currently using NUnit for writing system tests.

Because these tests are long running I need the ability to cancel the test runs at will. NUnit already supports this but as far as I can tell there is no way within a test fixture itself to know the test run has been cancelled.

The reason I need to know is because I want to be able to clean up system resources that were enrolled in running the

[2016-10-04 00:12] CharliePoole commented on #1821
The notion of "cooperative cancellation" in NUnit refers to cooperation between the runner and the framework itself. The framework stops running any new tests and waits for outstanding tests to finiish. As tests finish, all teardowns and one time teardowns are executed, giving you the opportunity to clean up any resources. The teardowns are not intended to know that the run was cancelled and shoul

[2016-10-04 00:35] JackUkleja commented on #1821
I guess the ideal solution for me would simply be if the tear downs were called irrespective of whether the run finished normally or was cancelled. My apologies if this is already how it works - I've not had a chance to verify it.

I don't need to take specific action on a cancellation vs normal termination, I just need to make sure that the same clean up is run in either case.

For example if I u

[2016-10-04 00:38] rprouse commented on #1820
@xplicit I also think this is fixed in the latest version of `dotnet-test-nunit`. See nunit/dotnet-test-nunit#56

Is there any reason you prefer NUnitLite over the .NET Core test runner?

[2016-10-04 00:47] JackUkleja commented on #1821
Sorry, previous comment deleted as it was too confusing.

What I have figured out is  I need a way to signal to a long running test that it needs to stop. For that I require at least one hook to kick the whole process off once a user cancels the test run.

Tear downs (even one-time/fixture) appear to be no use for this because they only run after the currently running test returns. And in my case

[2016-10-04 04:26] oznetmaster commented on #1771
In my implementation, things are very flexible.

If the attribute specifies a method parameter insertion, and the parameter is not defined in the test method definition, there is no error, and the test parameter can still be used in the current fashion.  Even if the method does specify the given parameter, and the insertion occurs, the old methodology of getting the parameter from the test context

[2016-10-04 07:28] xplicit commented on #1820
@CharliePoole yes, it would be a great if the feature was ported to NUnitLite

@rprouse `dotnet-test-nunit` is not released yet and we set some settings/params at start of each assembly run,  so we have to move them somehow to config files. Is there a documentation how to use configuration files with .NET Core test runner?

[2016-10-04 09:19] ChrisMaddock commented on #1661
I did some homework:

- MonoDevelop has an in-progress PR to support netstandard: https://github.com/mono/monodevelop/pull/1622
- SharpDevelop seems to have no sign of supporting netstandard yet, but equally still has an open issue to support .NET 4.6. I think VS community may see the end of SharpDevelop?

Rob - would you accept help with this one? I can't offer any prior expertise, but sounds lik

[2016-10-04 13:50] rprouse commented on #1661
@ChrisMaddock help would be appreciated. There is already a branch up with work started on this. Look for the branch with this issue number. If you want, you can pull it down and bring it up to date and see if you can get it building again 😄

I won't be looking at it this week if you want to look at it.

[2016-10-04 14:16] ChrisMaddock commented on #1661
Didn't realise it was already under way - will have a look. Cheers!

[2016-10-04 15:28] CharliePoole commented on #1661
@rprouse Could we rename this issue to "Create .NET Standard Framework Build?"

I'm sure you didn't intend to wipe out the portable build immediately anyway. 😄

Additionally, I hope you will release this as a series of incremental dev builds, without waiting for every missing feature to be added.

[2016-10-04 15:33] CharliePoole commented on #1601
Seems to me we have already discussed this enough and are now ready to make it a feature in the backlog.

[2016-10-04 15:43] CharliePoole commented on #1601
@rprouse I agree with the approach you outlined. Some thoughts...

 * I like the idea of forking it first. Maybe I should have done that with the extensions, although I don't want to backtrack now.
 * Assuming we get no bug reports that impact it, the 3.6 release should really just be the same code with a lot of the conditional stuff removed. That would allow other people to fork it and improve it

[2016-10-04 17:42] rprouse commented on #1601
I am assigning to myself and to the 3.6 milestone. I would like to get this out of the way to evaluate the process for CF and I also think it will make adding a netstandard version of the framework a bit easier with fewer conditionals.

[2016-10-04 17:48] rprouse commented on #1661
@CharliePoole I have renamed it. Part of the reason why I wanted to move this to 3.6 is so that we could get the initial PR in early in the release and then add issues to re-enable individual features. We might want to create an epic for this, but we can do that once we get this initial PR done.

[2016-10-04 17:48] mhutch commented on #1661
FWIW the netstandard support that just landed MonoDevelop is for MSBuild based projects, not xproj.

[2016-10-04 17:49] CharliePoole commented on #1601
We could leave the SILVERLIGHT conditionals in place in the nunit repo for now and remove both SILVERLIGHT and CF in one pass later. I think we should remove the project and build step as part of this one, however.

[2016-10-04 17:50] rprouse commented on #1661
Thanks for the info @mhutch. I didn't know you can do netstandard projects using MSBuild based projects. Clearly I have more reading to do 😄

[2016-10-04 18:16] mhutch commented on #1661
@rprouse yes, it's kind of hidden away :) In the project options for a PCL project there's an option to switch it to target netstandard. It's a little confusing because there's a project.json file in the MSBuild project - but in this case it's just a NuGet package manifest, essentially replacing packages.config.

[2016-10-04 19:24] mhutch commented on #1661
@rprouse yes, this only works in VS2015 Update 3 with the .NET Core Tools RC.

I'd personally recommend the MSBuild approach since MonoDevelop / Xamarin Studio supports it, but the official guidance is to use xproj:  https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/target-dotnetcore-with-msbuild

[2016-10-04 19:32] rprouse commented on #1661
@mhutch thanks for the link. I think we fall into the "You may want to use MSBuild to target .NET Core for existing projects that already use MSBuild that you want to port to .NET Core" category 😄

[2016-10-05 01:22] oznetmaster commented on #1771
Given that this approach is fully backward compatible, and would impose no required changes on any test or runners/guis, it would seem to be a good thing.  It would open up a lot of possibilities for future enhancements.

It has worked very well in my CF implementation.

[2016-10-05 03:49] CharliePoole commented on #1771
@oznetmaster In case you don't know, @rprouse and I are pretty tied up trying to complete the various 3.5 releases right now, which is why this isn't getting our immediate attention. :smile:

[2016-10-05 08:45] jcansdale commented on #1661
I tried using the .csproj + project.json combination for a little while, but found myself in a world of pain. I've settled on a hybrid .csproj + packages.config / .xproj + project.json approach as a least worst option.

The .csproj gives me a stable environment with quick compiles and the .xproj + project.json gives me multi-targeting and .NET Core support. It's not perfect, but it's maybe better

[2016-10-05 17:28] mhutch commented on #1661
Correct, MD/XS does not support xproj (and never will).

[2016-10-06 05:27] flcdrg opened #1824 "RemotingException from TestContext when using TestCaseSource and multiple assemblies"
Given multiple test assemblies where at least one assembly has a test method that uses the `TestCaseSource` attribute, and the method linked to by TestCaseSource makes a call to `TestContext.CurrentContext.TestDirectory`,

the test fails with a RemotingException

[code]

I have created a minimal repro here - https://github.com/flcdrg/NUnit-Issue1824.

If I run a single assembly at a time, I don't

[2016-10-06 07:59] constructor-igor opened #1825 "Unexpected time of array's testing."
```Assert.AreEqual(expected, actual);``` takes 1.5 seconds
```Assert.That(actual, Is.EquivalentTo(expected));``` continues minutes (stopped after **~10 minutes**)

[code]

[2016-10-06 08:16] szczechu opened #1826 "Nunit 3.4.1 is not supporting Appium Page Objects based on Selenium Page objects (Nunit probably cannot get test assemblies)"
Visual Studio 2012 Premium Update 5.Net test solution
Nuget Packages installed:

Appium WebDriver 2.0.1.1
Selenium WebDriver v2.53.1 with dependencies
Nunit 3.4.1 with dependencies

Problems:
On Jenkins and Locally (Resharper runs Nunit3 Appium tests)

[code]

Nunit does not coppy required WebDriver.Support.dll to wokspace.

[code]

Pages are created in function:

[code]

It appears that Nunit 3.4

[2016-10-06 15:16] constructor-igor commented on #1825
A test (from real project) checks different ways of "big data [1024,1024]" processing and compares results.
I like Assert.That and changed Assert.AreEqual to Assert.That ;).

Sure, I can continue to use Assert.AreEqual in the case, but probably possible to implement special case for arrays?

[2016-10-06 15:29] CharliePoole commented on #1825
Hmmm... Isn't the special case for any extremely large collection rather than arrays? Or do you have an idea for an optimization that applies to arrays only?

[2016-10-06 15:44] appel1 commented on #1825
Is it really an equivalent check you want in this case? Do you not care about the order of bytes?

[2016-10-06 15:51] constructor-igor commented on #1825
oops
yes, I need same order and it's enough to use ```Assert.That(actual, Is.EqualTo(expected));```
So, the issue can be closed.

[2016-10-06 15:51] #1825 closed

[2016-10-06 22:16] rprouse opened #1827 "Remove unused repository paths from repositories.config"
See `packages/repositories.config` it still contains all of the console and engine projects.

[2016-10-07 07:56] JackUkleja commented on #1821
I've examined the `DelayedConstraint` source code and experimented with a few ways of doing this but it doesn't seem like that approach is going to be too easy.

There's no practical way to short circuit the constraint evaluation chain without getting an inaccurate test fail/success reported. All status except Success result in the constraint showing up as a failure, and besides you still need to

[2016-10-10 10:44] meijin007 opened #1828 "Add Retry for failed tests only"
Is it possible somehow?

[2016-10-10 15:30] ChrisMaddock commented on #1380
This looks to be fixed

[2016-10-10 15:30] #1380 closed

[2016-10-10 15:54] CharliePoole opened #1829 "NUnitLite accepts --params option but does not make any use of it."
At the time of implementing the --params option for the console, we put the option definition into CommandLineOptions.cs, which was then shared by nunit3-console and nunitlite, but we never implemented the option in TestRunner.cs. The intent was that somebody would implement it, but that never happened.

At this time, the option is recognized without error, but is never passed to the framework by

[2016-10-10 16:03] CharliePoole commented on #1828
NUnit includes a `RetryAttribute` for tests that should be retried up to a maximum number of times if they fail. Please review the documentation.

[2016-10-10 16:36] oznetmaster commented on #1829
My CF build of nunitlite does recognize it, so I must have ported the code to do so from somewhere, but I do not remember doing so, and do not have it conditioned in any way.  So I never realized it was not supposed to be supported in nunitlite :(  I certainly believe it should be.  Do not see any reason for it not to be.

[2016-10-10 17:46] CharliePoole commented on #1609
@ChrisMaddock Some of us can't use Cake 16+ due to a bug. I've been using 15.2 in all the latest updates to other projects. NUnit-Console and our own four extensions have now been updated to use the latest bootstrap scripts from Cake as well as having tools/packages.config updated to 15.2. You may be able to simply copy .gitignore, build.sh and build.ps1 from those projects.

[2016-10-10 22:46] oznetmaster opened #1830 "Add --labels switch changes to nunilite and nunitlite tests"
As per @CharliePoole, I am opening this issue to make sure that the --label changes (issue24 nunit/nunit-console#78) made to the console are also made to nunitlite and its tests.

[2016-10-10 22:56] CharliePoole commented on #1830
That's what issue #1829, on which you just commented, is about. :-)

[2016-10-10 23:34] oznetmaster commented on #1830
No, it is not.  One is about --params, the other is about --labels. No relationship at all!

[2016-10-10 23:46] CharliePoole commented on #1830
Sorry... my mistake.

[2016-10-10 23:52] CharliePoole commented on #1830
I corrected the reference in your description, which was not pointing to the --labels issue but to PR #78 in this repository. Use `nunit/REPONAME#nn` to refer to issues and PR that are in another repo.

[2016-10-11 05:43] KWodarczyk commented on #1829
Hi Thanks for the feedback Charlie. Any reason why NUnitLite should not take same set of arguments as Console app ? Is it a lot of work ?

[2016-10-11 05:49] CharliePoole commented on #1829
No reason. I was just trying to lay out the options for whomever works on this.

[2016-10-11 05:51] KWodarczyk commented on #1829
Ok so I understand that this will be supported in near future ?

[2016-10-11 08:22] ChrisMaddock commented on #1609
Thanks Charlie - I'd been using 16.1. Will go back a version!

[2016-10-11 08:26] oznetmaster commented on #1829
I will back-port my CF code to propogate this to nunitlite, and also the tests.

[2016-10-11 13:58] ChrisMaddock commented on #1609
@CharliePoole - looks like Cake 16.2 has just been released today.

Was this the bug you were referring to: https://github.com/cake-build/cake/issues/1247? I'll go ahead using 16.2 if it's fixed, else I'll stick to 15.2.

[2016-10-11 14:07] CharliePoole commented on #1609
No. It's an issue I discussed in chat. I should file an issue report on it.

In any case, I think it's best to get everything on the same level, then
continue to upgrade things in sync. I'm working on something to facilitate
that.

On Tue, Oct 11, 2016 at 6:58 AM, Chris Maddock <notifications@github.com>
wrote:

[2016-10-11 19:00] JustinRChou commented on #1758
Was this fixed?

I tried a test and the using !Contains.Keys was working. Unless I am misunderstanding the issue?

[code]

[2016-10-11 19:18] CharliePoole commented on #1758
That has always worked. Every constraint automatically works with `!`.

The requester wanted to write Does.Not.ContainKey, which is still not supported.

The priority is low precisely because there are other ways to do the same thing. :-)

[2016-10-11 19:59] JustinRChou commented on #1758
I see.

[2016-10-11 21:29] JustinRChou commented on #1758
But is Does.Contains supposed to work on Dictionaries?

I have been running the following
[code]
And the test passed.

Seems like the dictionary was not properly converted a collection type for Contains.

[2016-10-11 23:15] CharliePoole commented on #1758
Yes, as you see, a dictionary is a collection of key pairs. So your original negative tests passed because the dictionary never contains "Hello". You could have written either of the following:

[code]

This is a byproduct of the fact that NUnit generally treats the actual value in an assertion as an object and any type-checking done is dynamic. We hope to get past that some day, but it isn't like

[2016-10-11 23:56] CharliePoole commented on #345
As commented earlier. The "easy fix" for this is to allow the Order attribibute on classes. I think that ordering of the fixtures will "just happen" as a result. Once we get that working, we can investigate the corner cases like multiple setup fixtures on a namespace.

[2016-10-12 00:05] CharliePoole commented on #1811
@ChrisMaddock Will this be fixed by Cake 15.2?

[2016-10-12 00:10] CharliePoole commented on #1459
It wouldn't be an easy fix except that the code already exists for methods and should be able to be ported.

[2016-10-12 00:33] rprouse commented on #50
@CharliePoole I think we can close this, do you agree?

[2016-10-12 00:37] rprouse commented on #1618
Closing as duplicate of nunit/nunit-console#17

[2016-10-12 00:37] #1618 closed

[2016-10-12 00:37] #1609 closed

[2016-10-12 00:37] #1811 closed

[2016-10-12 00:40] CharliePoole commented on #50
Agree.

[2016-10-12 00:52] #50 closed

[2016-10-12 07:34] JackUkleja opened #1834 "SocketException thrown by nunit3-console.exe --explore option"
I am running NUnit.ConsoleRunner.3.5.0\tools\nunit3-console.exe with the --explore option against one of my test assemblies and I am getting the following stack trace:

Any clues what is going on? The tests in this assembly run just fine, but the explore options seem to kill the runner.

[2016-10-12 08:18] ChrisMaddock commented on #1811
@CharliePoole - it was fixed by the updated build.ps1 that was added in #1832. 😄

[2016-10-12 08:33] #1829 closed

[2016-10-12 09:01] ChrisMaddock commented on #1834
@JackUkleja - What error do you see if you add the --inprocess option?

[2016-10-12 09:30] seraphim207 opened #1836 "Support nullable enums in Theories"
I would like nUnit to support nullable enums in [Theory] tests, it should iterate all values plus provide null case.

[Theory]
public void AppShouldWork(MyEnum? nullableValue) {...}

[2016-10-12 10:01] mbendtsen opened #1837 "[Request] AfterContraint to support more readable usage"
As a developer
I want to be able to use the AfterConstraint in a more readable and DSL like fasion
so that anyone else that reads my code, quickly understands what the numbers means.

**Background**
Today when using the After constraint you have to define the delay in milliseconds. If I then want to wait for 3 minutes I can do one of the two:
Specify the delay in milliseconds:
`Assert.That(checkSt

[2016-10-12 12:24] CharliePoole commented on #1837
It's an elegant solution to what I imagine to be a rather rare problem. :-) Or I hope so anyway.

A unit test waiting for three minutes sounds like a bad test. However, I can see it if you use NUnit for functional testing.

As an old programmer, I always considered millisecond timing as a great convenience over counting ticks, but times have changed.  :-)

Anyway, it seems like a feature we could

[2016-10-12 13:34] CharliePoole commented on #1836
We should do nullable booleans as well.

[2016-10-12 13:38] mbendtsen commented on #1837
Agree, I actually strive not to have any async operation in my unit test, but some times it is needed. And even then I tend to write 2000 for two seconds, because timing issues, like different hardware and such, should not result in my test failing.
But you are right, this example is for function test, in my example I use NUnit together with Specflow.

[2016-10-12 13:56] CharliePoole commented on #1837
But it's a fun feature to program anyway. :-)

[2016-10-13 00:22] JackUkleja commented on #1834
If I try `--inprocess` I get:

So obviously my test DLL is 32 bit and the nunit-console.exe is running as 64 bit due to it being 64 bit OS.

If I use Corflags to force nunit-console.exe to run as 32 bit then the `--explore` option appears to work just fine.

So it seems I am unable to replicate the original exception when doing `--inprocess`.

[2016-10-13 01:59] CharliePoole commented on #1834
It's useful info nonetheless. We should see if we can replicate this.

[2016-10-13 02:56] oznetmaster commented on #1771
I will try to be patient 😄

[2016-10-13 11:56] ChrisMaddock commented on #1834
Hmm...I can't reproduce this with a simple x86 dll.

@JackUkleja - What's your entire command line, is there anything else involved? Could you try setting up a minimal example, with a 1 test assembly you'd be able to share?

[2016-10-13 17:57] Sebazzz commented on #345
Building my [test ordering library](https://github.com/Sebazzz/NUnitTestOrdering/) I've found a few things:
- If you want to run things in order, you need to disable parallelism for the tests which need to run in order
- Despite this, test methods will still run out-of-order as opposed to the fixtures which declare them. The reason is that NUnit doesn't immediately execute the tests as soon as the

[2016-10-13 18:49] CharliePoole commented on #345
@Sebazzz Yes, both points are covered by my earlier comment here, although perhaps not made clear enough.

"Ordering" in NUnit is viewed as an approximate thing and can't be used for situations in which one test must complete (or perhaps succeed) before another starts. We view that as a kind of "dependency" rather than an "ordering". This has been discussed in many of the threads around method ord

[2016-10-13 19:39] Sebazzz commented on #345
Yes, true, I'm looking for something that even tends to be more like specifying a test script. That is more or less what MSTest offers with ordered testing, and what I implement in the library.

[2016-10-13 19:46] CharliePoole commented on #345
Well, I'd love to have you work on it with us. 😄

[2016-10-13 20:03] Sebazzz commented on #345
Happy to do so 😄 It is a bit off topic but what kinds of ordering and dependency testing are currently envisioned by the core team of NUnit? Is this open to discussion?

[2016-10-13 20:04] JustinRChou commented on #1808
Tentatively I wrote the following to get the difference type names. Still looking into how to get it into the Write function naturally.
[code]

[2016-10-13 21:21] rprouse commented on #1601
I tried to fork the nunit repository to my account, then renamed it to nunit-silverlight, then tried to assign ownership back to nunit, but GitHub would not allow that. I think that since it is a fork and you can't fork to the same organization, it won't allow it.

I am going back to the multiple origin approach.

[2016-10-13 21:54] CharliePoole commented on #1601
I created a new clone of the nunit repo locally. My plan is to reset origin to the new repo, remove all branches except master and push it. Does that sound reasonable?

[2016-10-13 22:46] rprouse commented on #1601
That is what I did. Forgot to remove the release beaches though, will do
that.

On Oct 13, 2016 5:54 PM, "CharliePoole" <notifications@github.com> wrote:

I created a new clone of the nunit repo locally. My plan is to reset origin
to the new repo, remove all branches except master and push it. Does that
sound reasonable?

—
You are receiving this because you were assigned.

Reply to this email dir

[2016-10-13 23:32] rprouse commented on #1601
@CharliePoole I am starting the branch in this repo to remove the SilverLight projects. I will remove the CF projects at the same time. No use both of us doing it. If your clone that you are going to move to another repo isn't up to date, we can hold off merging my PR until you get latest.

[2016-10-13 23:39] CharliePoole commented on #1601
I'm out and about on my phone right now. Will check when I get home.

[2016-10-14 00:19] rprouse opened #1840 "Remove SL and CF #Defined source"
Once #1601 and #1599 is complete, clean up the source by removing the NET_CF and SILVERLIGHT code in #if blocks.

[2016-10-14 01:09] oznetmaster commented on #1599
And where was the "evaluation" of this idea?

Seems like it was proposed, and then executed without any discussion.

All of the issues raised by @CharliePoole are valid issues, but I do not see any resolution of them anywhere :(

Are the CF and non-CF projects going to be kept in sync, or not.

If changes are made to non-CF, who is going to port them to CF, the person making the change, or does th

[2016-10-14 01:23] oznetmaster commented on #1599
Also, what about the documentation?  Is it going to be split into two versions as well?  If the CF and non-CF projects are not kept in sync, then the documentation will need to be different for each.

[2016-10-14 01:41] rprouse commented on #1599
@oznetmaster this issue was opened four months ago and I mentioned in #1589 that we would be moving forward with this right after the release. We have been talking about spinning the CF and SL repositories out to their own repositories since before we released 3.0. We have also talked to you many times in the past about leading that effort for CF.

The intention is that the CF and the SL projects

[2016-10-14 01:50] oznetmaster commented on #1599
So if I want to add features to the CF build that are not in the non-CF build, that will be ok?  I was about to push a PR for the @filename issue for nunitlite.  Where would  I push it?  In my case, probably the CF build.  Who will be responsible for reviewing it?  Who will then port it to the regular nunitlite build, if at all?

What will happen to the documentation then?

I cannot find a CF repo

[2016-10-14 02:13] rprouse commented on #1599
Yes, if they are features that are useful for the entire CF community and work on the majority of CF devices. Reviewing will be the responsibility of whoever steps up to maintain the repository. Back-porting to NUnit will be up to whoever decides that it is needed.

It hasn't been pushed yet, but will be soon.

So you are using your own Creston build of our CF releases, not the releases themselves

[2016-10-14 03:15] rprouse commented on #523
This issue has been inactive and no further comments despite requests. Closing.

[2016-10-14 03:15] #523 closed

[2016-10-14 03:17] oznetmaster commented on #1599
Well, there are tens of thousands of Crestron devices running CE/CF, and it is expanding, not contracting.

However, since the releases need to be adapted for the Crestron CF build, I am the only person who "downloads" that build for this base of machines, so that number would never be seen in your download counts

The same is true of other frameworks like FluentAssertions, NInject, and so on.  Ea

[2016-10-14 03:18] CharliePoole commented on #1599
@oznetmaster After the future of our CF build had been talked about rather loosely for several years, Rob and I decided it needed to be resolved in a firm way. I created an issue to collect comments back in June. There have been no comments. I recently promoted it to a feature from an idea and assigned it to myself. I'm doing it because, as you know, I'm somewhat attached to CF, legacy or not. Rob

[2016-10-14 03:23] oznetmaster commented on #1599
Crestron and I have discussed using the unchanged CF release in their products.  It could be used as is if it were bundled in the firmware of the system.  This is a security issue.  Other open source frameworks such as Sqlite, Newtonsoft.Json, and OpenSsl are currently bundled in that way.

If that were done, then there would be thousands of potential/actual users of the unmodified CF release.

Ho

[2016-10-14 03:38] CharliePoole commented on #1599
I think for me, it's the number of users we are helping directly, whether through downloads or otherwise. You and I discussed in the past having an open source Crestron build as part of NUnit, but that didn't seem feasible for various reasons.

What I would like to hear from you is why it makes any difference, since all these users are getting their software from you anyway. Why is it better for y

[2016-10-14 03:45] rprouse commented on #1599
How many of those other libraries (FluentAssertions, Ninject, JSON.NET, etc) still maintain and release CF builds? I assume you are maintaining your own custom ports of all of those?

I am also very uncomfortable with features and enhancements to NUnit being driven by a commercial vendor. I realize that you make many contributions as a part of your job and we appreciate your help, but occasionally

[2016-10-14 03:52] oznetmaster commented on #1599
None, as far as I know.

I do not work for Crestron.

All of these ports, including the NUnit one, are open source, and are posted on my github repo as requested by users.

Since I currently maintain about 300 ported open source libraries, I have chosen not to post all of them to github since mainaing the github repos would become a major task all by itself.  I post them as requested.

I have, for

[2016-10-14 03:54] oznetmaster commented on #1599
I had considered posting the Crestron version of nunit on the nunit repo.  However, as you indicated, it is for a very specific market.  It was (and still is) unclear how to do so.

I am probably going to post it on my github repo soon, but no one has asked for it yet, so I have not bothered.   Apparently, everyone is happy with the port of nunit as is.

[2016-10-14 03:59] oznetmaster commented on #1599
@CharliePoole The reason why having it as part of the standard nunit framework/nunitlite builds is the ability to maintain sync easily.

Changes are made, and I simply, most of the time (if no Crestron specific areas are affected), sync with the changes.  If a Crestron specific area is affected, then I have to do the porting of the change manually.  This happens about 20% of the time.  The other 8

[2016-10-14 04:04] oznetmaster commented on #1599
@rprouse I agree that many times I propose changes that are driven by the needs of ,my environment.

However, many of these have proven to have global applicability.

There are many features in my Crestron build which I have never proposed to be included in the regular nunit build, and some which I have and which have been rejected.  The thread per test and my existing implementation of @filename,

[2016-10-14 04:05] oznetmaster commented on #1599
@rprouse I never mentioned json.net.  Not sure where that came from.  Not even sure what is is?

[2016-10-14 06:44] pradeeparutla opened #1843 "Get the time duration of a Test Script in Test TearDown"
Steps to reproduce:
1. Run a test script
2. Try to capture the Test duration in **TestScript TearDown** using TestExecutionContext.CurrentContext.CurrentResult(Return type of this object is TestResult) object.

Expected: It should show the actual time take to execute a test script.
Actual: It is showing the time duration as '0' ms  irrespective of time taken to run the tests.

Note: If we use the

[2016-10-14 06:57] CharliePoole commented on #1843
You are referring to some classes internal to nunit like TestExecutionContext and to others that do not exist like TestScriptTeardown. Are you sure you are using nunit?

If you are, the test is not finished during TearDown so the duration is not yet set.

[2016-10-14 06:58] #1843 closed

[2016-10-14 07:23] CharliePoole commented on #1599
Between the release in process and my visiting family, I won't be able to contribute much to this discussion for a few days.

[2016-10-14 08:02] pradeeparutla commented on #1843
Hi Charlie,

I am using NUnit. When I say TestScriptTeardown, I mean the [teardown] attribute applied to a method which will be called at the end of each test script.
If TestExecutionContext is not the proper way to get the duration in TearDown, is there any way to get the test duration in the tearDown?

[2016-10-14 10:46] tasoss commented on #480
@CharliePoole
Hello.I believe that the console version really runs tests slower.I have a specific test with takes up to 200ms  in console but a few ms in ncrunch/resharper.How could i help you identify any potential problem?Thanks!

[2016-10-14 12:15] rprouse commented on #480
Neither @CharliePoole nor I have Resharper nor NCrunch licenses, so it is hard for us to compare, but 200ms doesn't seem too slow. It sounds like you are running one test which isn't a fair comparison. When you run, R# and NCrunch have already pre-parsed your assemblies and can just run the test. The console has to parse the assembly, create all of the test cases, pick the right one and then run i

[2016-10-14 12:44] asbjornu commented on #480
@rprouse: Off-topic, but I'm sure the NUnit project is qualified for a [JetBrains Open Source License](https://www.jetbrains.com/buy/opensource/). As far as I know, NCrunch does not have an open source license.

[2016-10-14 12:53] ChrisMaddock commented on #1661
@rprouse - Have you had any further thoughts on which way you think we should go with this?

I've done the last couple of changes got things building again (although ReflectionExtensions.cs will definitely need a tidy! 😓) There's still something a little odd going on with tests, will need to look at that.

What are your thoughts on xproj vs csproj? I'm not following .NET core development that clos

[2016-10-14 13:02] rprouse commented on #1661
@ChrisMaddock I am pretty sure I am going to go with the `csproj` approach. I will likely start with the projects in their own solution and then move them into the main solution when we understand any potential issues. I was thinking of dropping my existing branch and starting again fresh once the CF and SL changes are merged. Cleaning up all of the CF and SL defines will create way too many confl

[2016-10-14 13:13] tasoss commented on #480
Thanks for replying.
a)You can use the evaluation versions but what you said"When you run, R# and NCrunch have already pre-parsed your assemblies and can just run the test. The console has to parse the assembly, create all of the test cases, pick the right one and then run it."
seems to explain a few things...I mean this could be a reason for delays,right?
b)

 Please give me some time i want to b

[2016-10-14 13:59] fsalas opened #1844 "NonGeneric TestFixtures derived from generic TestFixture does not work"
Hi, the following code does not work as I expected

Given a base abstract test

[code]

and a derived class

[code]

Neither base or derived tests appears in the runner, tested with vs runner and nunit-gui , if I remove the attributes in the base class then the derived tests appears.
I think this is an issue or I'm missing something

Thanks for the great work

[2016-10-14 14:44] ChrisMaddock commented on #1661
@rprouse - Looks sensible! Sounds like a bit of a one-man critical path until the last step, so I'll hold back until then. 😄

[2016-10-14 15:06] rvignesh89 commented on #1837
@CharliePoole, I'd like to give this try. I extensively use nunit for unit and integration tests and wanted to read the code anyway. By solving I hope I can score two birds in a stone :)

[2016-10-14 15:24] CharliePoole commented on #1843
An NUnit test case is defined as SetUp+Test Method+TearDown. The timing that we report includes all three of those phases. The duration is applied to the test result by the system after the TearDown returns.

The result is that a test can never know it's own duration. It can, of course, time parts of itself. Theoretically, NUnit could make available some intermediate timer value for use in teardow

[2016-10-14 15:32] rprouse commented on #1844
Have you tested this with the Console? We have similar reports against the VS Adapter, but those reports say it works in the console.

[2016-10-14 15:34] rprouse commented on #1661
@ChrisMaddock once I create the branch and get things started, we could coordinate and work on the same branch. I could probably use help getting each project compiling, updating the build scripts, etc.

I will contact you once I get started and we can coordinate.

[2016-10-14 17:07] fsalas commented on #1844
no, I didn't check it with the console, but I do checked with nunit-gui master and the results are the same, so it is not just a vs adapter problem I think, I'm not used to console runner, couple of tries couldn't get it working yet

[2016-10-14 17:45] CharliePoole commented on #1837
OK! I sent you an invitation to be a contributor, which will allow me to assign this to you so you get credit for it.

[2016-10-14 17:48] CharliePoole commented on #1661
Maybe it's time to create a dev branch, making it the default branch in GitHub. That would make it easier to collaborate and to merge features that are partial and which we don't yet want released generally.

I plan to do this for the NUnit 3 adapter once I release 3.5, so an option would be to wait and see how that goes - or you could just do it now if you like the idea.

[2016-10-14 20:34] rprouse commented on #480
@asbjornu thanks for the link, but JetBrain's terms are fairly restrictive. They say that "Open Source licenses can only be used for non-commercial Open Source development". Since Resharper integrates with Visual Studio, I would need to turn it off whenever I was doing non-open source development. Since R# hijacks many of the keybindings for refactorings and quick fixes, I would end up working in

[2016-10-14 21:16] rprouse commented on #1844
@fsalas I think there must be something wrong with your code that is causing the failure. I tested with an abstract base class, generic base class and an abstract generic base class and all work as expected using the latest version of the framework (3.5) and the latest VS adapter.

Here is my test code if you want to try it,

[code]

Here is a screenshot of the test showing up in Visual Studio,

!

[2016-10-14 21:16] #1844 closed

[2016-10-14 21:25] CharliePoole commented on #1844
The TestFixture attribute on the abstract base is an error.

[2016-10-14 21:44] rprouse commented on #1844
Yes, but I was trying to reproduce with the code given 😄

[2016-10-14 22:50] CharliePoole commented on #1844
I got that... I wanted to be sure that @fsalas understood.

[2016-10-15 04:44] oznetmaster commented on #1771
So, now that 3.5 is out, any thoughts on this?

[2016-10-15 05:10] CharliePoole commented on #1771
We did the framework, engine and console. Now I'm working on the vs adapter as well as entertaining company. Maybe you and @rprouse can discuss and I'll chime in as I can.

[2016-10-15 05:31] oznetmaster commented on #1771
Entertaining company always has priority 😄

I would be happy to have @rprouse input.

I could, if appropriate, backport my existing code to nunit/nunitlite in a PR.  Do not know if that is a worthwhile use of time if there is no consensus on the value of the approach.

[2016-10-15 12:36] bartw commented on #1836
I'm going to try to tackle this one.

[2016-10-15 23:17] oznetmaster commented on #1830
I will implement this as soon as the nunit-console PR is merged, and my pending PR for @filename is merged, since it also modifies the same files as need to be modified for this.

[2016-10-16 00:00] JustinRChou commented on #1808
While I am in the middle of figuring out to create a pull request for this.

But my update did cause failures in other tests asserting on the exception message.

Would this be acceptable since it would mess up a lot of other users asserts?

[2016-10-16 00:05] CharliePoole commented on #1830
@oznetmaster We're still waiting for comments on that console PR about --labels, regarding a possible change to what we show for each option. It would be great to hear from you and @rprouse, as well as others!

[2016-10-16 00:15] oznetmaster commented on #1830
I am actually indifferent to the decision.  As long as the desired information is available by selecting the correct set of options, the rest is syntactic sugaring.

[2016-10-16 16:28] CharliePoole commented on #1808
@JustinRChou Your changes should not break other tests, since we only want to show the type when there is ambiguity and I don't think there is ambiguity in any of our existing tests. Of course, if there is, then your change will impact them and that's OK, but only in that case.

Your code is a bit hard to follow out of context. You should create a feature branch to work on this and show where you

[2016-10-17 21:48] joel-cass opened #1849 "Dll has no TestFixtures"
This works in 3.4.1 but not 3.5

1. Clone project https://github.com/nunit/nunit-csharp-samples
2. Open in VS, build, run tests = OK
3. Download nunit 3.5 zip from https://github.com/nunit/nunit/releases/tag/3.5
4. Run tests
[code]

5. Download 3.4.1 zip from https://github.com/nunit/nunit/releases/3.4.1 and run:

[code]

To me this looks like a bug. Nothing in the documentation/change list sugges

[2016-10-17 23:05] CharliePoole commented on #1849
If I understand you correctly, you are mixing the 3.4.1 version of NUnit with NUnitlite 3.5. NUnitlite is a shortcut approach to running a test in a single assembly but, unlike the console runner and engine, the versions must match.

Since the NUnit 3.5 release just came out, the samples have not been updated to use it. You can update the references yourself.

[2016-10-18 16:28] m-wilczynski opened #1851 "TestCaseSource unable to pass one element byte array"
**NUnit version:**  3.5.0
**Runner**: NUnit3TestAdapter 3.4.1
**Environment**: Visual Studio 2015 Pro Update 1

I'm having troubles using one element byte array passed to NUnit test with `TestCaseSourceAttribute`.

How to reproduce:

[code]

When you run `TestStuff` it will attempt to test things in seperate tests like this:

![nunit](https://cloud.githubusercontent.com/assets/6330789/19486757/ec8

[2016-10-18 17:58] rprouse commented on #1851
This was reported in #1327 and was supposed to have been fixed in PR #1354, but I can confirm that this is still happening using v3.5 of the framework and the console runner.

As a temporary workaround, you can change your source to

[code]

Thanks for the report.

[2016-10-18 18:15] #1836 closed

[2016-10-18 18:22] #1758 closed

[2016-10-18 18:25] rprouse commented on #1849
I am going to close this as a question. Normally you would run the tests using `nunit3-console.exe`, not the NUnitLite runner which is tied to a specific version of the framework as @CharliePoole stated.

[2016-10-18 18:25] #1849 closed

[2016-10-19 06:19] JustinRChou commented on #1674
Would it be possible to check if the user did use Using for objects that did not implement IComparable?

Or default it to a IComparer comparing on the ToString()?

[2016-10-19 06:22] meijin007 commented on #1828
This is working only for tests without parameters. Is there any why to pass a parameters when we are using retry?

[2016-10-19 08:54] CharliePoole commented on #1828
If it isn't working for a particular use case we can reopen this issue. Please provide an example.

[2016-10-19 11:52] jcansdale commented on #1726
I had a bit of a rant at @Johnmont and @drunkvs: 😉
https://twitter.com/jcansdale/status/788698134939566080

[2016-10-19 13:18] meijin007 commented on #1828
This is the documentation on https://github.com/nunit/docs/wiki/Retry-Attribute :
"Since a parameterized test method represents a suite, RetryAttribute is ignored when it appears on such a method."

[2016-10-19 15:42] nadvolod opened #1852 "Retrieving a random sample of data from TestCaseSource in NUnit 3.0 attribute doesn't work?"
I'm having a strange issue utilizing this combination of technologies:

 - Nunit(3.4.1.0)
 - NUnit 3 Visual Studio Test Adapter
 - TestCaseSource attribute

My test uses the attribute like this:

            [Test, TestCaseSource(nameof(GetSmallSampleSizeOfTestDataForScratchwork))]
        public void TestMe(string accessionNumber, string loginId)
        {
            var studentAssessmentPage =

[2016-10-19 15:50] CharliePoole commented on #1828
@meijin007 Thanks for reminding me of that restriction, which I had forgotten. I'll reopen this and take a closer look.

[2016-10-19 16:33] CharliePoole commented on #1852
This is a well-known issue with the Visual Studio adapter. I'm moving it to that repo where the info will be helpful to others and will comment further there.

[2016-10-19 16:34] CharliePoole commented on #1852
Issue moved to [nunit/nunit3-vs-adapter #240](https://github.com/nunit/nunit3-vs-adapter/issues/240) via [**ZenHub**](https://www.zenhub.com/)

[2016-10-19 16:34] #1852 closed

[2016-10-19 16:50] dgee2 opened #1853 "Nunit test runner picking up ignored tests (ish) in tfs"
Hi,

I'm running tests in TFS using the NUnit3TestAdapter nuget package. We have a test fixture that is completely ignored at the class level. We are getting error messages in the output saying: `The specified test case was not found in the current result context (mapping test id to test node).` I can't find any information in the documentation to say that this is not supported and it indeed has b

[2016-10-19 17:00] rprouse commented on #1852
@nadvolod, This is a problem with the Visual Studio adapter, it will run fine if you run it using the NUnit Console.

At a high level, the problem is that Visual Studio calls the NUnit adapter to give it a list of tests to display in the test window. You randomly return values, so a random set of tests is given to Visual Studio. When you go to run your tests, Visual Studio asks NUnit to run your r

[2016-10-19 17:11] CharliePoole commented on #1853
Please try to select the right project when reporting errors. That way the right people are looking at it. Since you identified this as an adapter issue, I'm moving it there.

[2016-10-19 17:11] CharliePoole commented on #1853
Issue moved to [nunit/nunit3-vs-adapter #241](https://github.com/nunit/nunit3-vs-adapter/issues/241) via [**ZenHub**](https://www.zenhub.com/)

[2016-10-19 17:11] #1853 closed

[2016-10-19 18:13] CharliePoole commented on #1828
The documentation statement was a hold-over from NUnit 2 and is not correct. I have added a test to verify that Retry works on Test Cases. Note that the retry applies to each test case when used this way.

[2016-10-19 18:13] #1828 closed

[2016-10-19 21:15] bbi-yggy commented on #1238
Yes please! Very difficult to diagnose otherwise.

[2016-10-19 21:52] joce opened #1854 "No .msi provided for 3.5"
Despite [mention](https://github.com/nunit/nunit/releases/tag/3.5) of an .msi containing the binaries in the wiki,

the console runner, engine and extensions will be available as an MSI installer.

no such file appears to be available for download.

[2016-10-19 22:04] ChrisMaddock commented on #1854
The NUnit framework and NUnit console have been split in to two separate repositories, the msi for the console can now be found under that repository.

https://github.com/nunit/nunit-console/releases

Out of interest, what link did you follow to look for the new release, was it via nunit.org? @rprouse @CharliePoole - we should probably update that soon!

I'll close this issue now as a question - p

[2016-10-19 22:04] #1854 closed

[2016-10-19 22:15] joce commented on #1854
Ha!  Thanks!

It was the link I found at the top of this page.
http://www.nunit.org/index.php?p=download

Having a ling to https://github.com/nunit/nunit-console/releases from
https://github.com/nunit/nunit/releases/tag/3.5 could maybe be preferable?
(as one might only want to have access to the framework from the nunit.org
link... but at the end of the day, it's your call!)

On Wed, Oct 19, 2016

[2016-10-19 22:24] oznetmaster commented on #1771
Maybe @rprouse has no more thoughts on the issue ☹️ ?

[2016-10-19 22:25] ChrisMaddock commented on #1854
The plan is that the framework and console may no longer always be released in sync, so there may not be a 3.6 console at the same time as the 3.6 framework - which would cause problems with linking between the two. But I agree it may have been helpful for the first release where the downloads were in separate places!

[2016-10-19 23:11] joce commented on #1854
Then post both links separately from nunit.org would definitely be helpful.
:-)

On Wed, Oct 19, 2016 at 6:25 PM, Chris Maddock <notifications@github.com>
wrote:

[2016-10-20 00:36] rprouse commented on #1854
Just went to the website repo to enter an issue for this, but I see you've already done it @ChrisMaddock. Thanks. 👍

[2016-10-20 03:22] rprouse commented on #1771
I like the idea of making parameters visible, but I can't see how you can do that with the existing params implementation which are accessed in code, not via attributes. Does your approach only work with a new attribute and not the existing implementation? I am uncomfortable not supporting the existing parameters and adding support for a new style so soon.

Is my interpretation correct? Can you sh

[2016-10-20 04:07] oznetmaster commented on #1771
The current implementation has to do with providing parameter and their values.  I am not changing that at all.  It still works the same way.  The parameters are added to the TestContext in the same way.

There are two parts to the process with the addition of discovery and validation.

The TestParameterAttribute defines a parameter that is used by the assembly/testsuite/test. It provides a name,

[2016-10-20 11:08] jcansdale commented on #1726
My failed attempt to use `[EditorBrowsable(EditorBrowsableState.Never)]`, is probably related to this:
https://github.com/dotnet/roslyn/issues/4434

[2016-10-20 11:39] ChrisMaddock commented on #1771
I like the visibility/validation stuff. 😄

Personally I'm less keen on retrieving the attribute by passing that in as a parameter, as I'm not sure I see sufficient benefit to add a second method to retrieve parameters, and add more to the API. I think this could have been a nice implementation if we'd started with it, but I'm less keen on adding it as 'alternative syntax'. Just my 2c!

[2016-10-20 11:54] CharliePoole commented on #1726
You could verify that by trying it in VS2013.

[2016-10-20 12:14] jcansdale commented on #1726
Verified!

You can see below, `Equals` is no longer visible in Visual Studio 2013:

![equalsvs2013](https://cloud.githubusercontent.com/assets/11719160/19559183/86e0341a-96c6-11e6-9a22-5db66b559f18.png)

This means we can successfully nuke `Equals` and `ReferenceEquals` using the following:

[code]

Hopefully this bug will be fixed in Visual Studio "15" or they will hide static methods on `object`

[2016-10-20 14:52] oznetmaster commented on #1771
I actually added two methods for retrieving parameters.  The TextContext.Parameters<Type> property, and the ability to optionally pass them in as method parameters.

I actually use that method in most of my tests that use test parameters, because it is the cleanest, but that is a personal preference.  That is why I supported all three.

[2016-10-20 15:46] Pilchie commented on #1726
We'll try to fix it for VS "15", but I can't promise it at the moment.  In the meantime, I would recommend adding the `new`, method as above so it is hidden in VS2013, and will start being hidden whenever we fix the bug.  However, a couple of tweaks I'd suggest:

1. Add a better message, explaining what users should do instead.
2. Add an `[Obsolete]` attribute, so that the compiler can at least te

[2016-10-20 19:43] rprouse commented on #1771
Okay, I am pretty sure I understand now. Correct me if I am wrong, but the attributes are just markers that the code is expecting parameters, the attributes do not supply the parameters. The supply of the parameters is the same code we have now.

English is so imprecise, I prefer code 😆

If my understanding is correct, let's see the code 👍

[2016-10-20 21:01] oznetmaster commented on #1771
Yes, you are correct in your understanding.

I will backport my code then, and open a PR.

[2016-10-21 00:26] jcansdale commented on #1726
@Pilchie,

Thanks for the suggestion. There are two related issues.

1. New users who accidentally use the wrong method (your suggestion works great for this).
2. Regular users who enter `Assert.That(x, Is.EqualTo(y)` multiple times per day.

The second issue is quite subtle, but I find it infuriating because of this:

https://msdn.microsoft.com/en-us/library/43f44291.aspx

This feature means a ce

[2016-10-21 15:04] NUnitTester commented on #1674
If `Using` is used, always the comparer given by using must be used. Only if there is no using at all, `IComparable` is used.
It is also a common case to give an other comparer for nunit as the implementation does by implementing `IComparable`.

In my eyes, the test, if `from` is smaller or equal `to `must be done later, not in constructor at all.

[2016-10-21 18:32] SeanKilleen opened #1856 "Define TestCaseSource equivalent that does not give an error when there is no data"
Hi all,

Thank you for a fantastic product that keeps our codebase in shape.

I am in the process of trying to confirm whether the "issue" I'm seeing is:
- A misunderstanding of NUnit on my part (expectation is wrong)
- A difference in the way test runners treat this scenario
- An issue with how NUnit services results in this issue.
## Background
- I have a `TestCaseSource` that houses the concept

[2016-10-21 19:06] rvignesh89 commented on #1837
@CharliePoole @rprouse do you also want to add the polling interval as suggested by @mbendtsen?

[code]

This should be simple enough with the Interval class in place now.

[2016-10-21 19:18] rvignesh89 commented on #1459
@CharliePoole I'd like to help with this issue. I looked at the code to figure out where the change is. Here is what I've found. Let me know if I'm looking in the right direction.

As you mentioned that this functionality exists in test case I started with the search there and found this in TestCaseAttribute.GetParametersForTestCase() class.

[code]

My guess is that there should be a similar chec

[2016-10-21 19:25] rprouse commented on #1856
Let us know how the console runner handles the test. We have no visibility into how Resharper runs NUnit tests.

[2016-10-21 20:03] ChrisMaddock commented on #1459
@rvignesh89 This issue is closely tied to a PR currently in progress - #1850. I imagine how that implementation is made will affect what's necessary here, might just be worth holding on till that ones been discussed, before doing too much work here. 🙂

[2016-10-21 23:55] CharliePoole commented on #1856
This is how the framework works and should work the same for any runner. When no test case provider (i.e. attribute) returns any test cases, NUnit tries to create a simple non-parameterized test and fails to do so because the method has parameters and none are provided. This creates an error as opposed to a failure, although the R# runner may not make a distinction. An error generally indicates a

[2016-10-22 00:10] CharliePoole commented on #1837
I lean toward using PollEvery or Polling or Poll as being shorter. @rprouse what do you think?

[2016-10-22 04:01] rvignesh89 commented on #1459
@ChrisMaddock Just caught up with the other issue thread. Seems like multiple Attributes have this problem. Thanks for letting me know! I'll wait and see how this is fixed 👍

[2016-10-22 04:18] rvignesh89 commented on #901
@CharliePoole could you give a little more details about this enhancement?

[2016-10-22 04:53] CharliePoole commented on #901
The console runner calls CheckWritability on each output path specified for saving results, e.g.: TestResult.xml. That method is implemented by various result writer extensions and generally throws some System.IO type of exception. The user has to interpret the exception to figure out what is wrong.

We should catch the exception and make it the inner exception of an NUnitEngineException that has

[2016-10-22 04:54] #901 closed

[2016-10-22 04:54] CharliePoole commented on #901
Issue moved to [nunit/nunit-console #110](https://github.com/nunit/nunit-console/issues/110) via [**ZenHub**](https://www.zenhub.com/)

[2016-10-22 08:20] rprouse commented on #1837
I like PollEvery

[2016-10-22 15:59] CharliePoole commented on #1837
@rvignesh89 You should create a new issue for this. Let's use `PollEvery(n).Minutes` etc.  Best way to do the work is to start a new branch based on the latest master and create a new PR when you are ready.

There are some subtleties here. In the most obvious implementation, `Minutes` applies to the full delay and `Minute` to the polling interval. But this could be confusing for users. For example

[2016-10-24 07:04] JackUkleja opened #1857 "Exception message is "TestDelegate" when using Throws.Nothing.After"
Could someone explain the following behaviour to me? (assuming it is not a bug...). When using the `DelayedConstraint`

`Assert.That(() => {throw new Exception("hello");}, Throws.Nothing.After(100));`
Outputs:

`Assert.That(() => {throw new Exception("hello");}, Throws.Nothing);`
Outputs:

I expect both to output the second message.

[2016-10-24 07:34] oznetmaster opened #1858 "build -testall"
this seems to only build everything now :(

how do I build and then test everything in one command?

[2016-10-24 08:25] ChrisMaddock commented on #1858
`build -t Test`

There used to be `build -Test` and `build -TestAll` which both did the same thing - then `TestAll` was removed. If you run the script with an 'invalid' target, it just runs the default, which is just to build.

Will close this now - go ahead and reopen if there's more to say!

[2016-10-24 09:43] oznetmaster commented on #1858
Is this documented somewhere?  If not, shouldn't it be?

[2016-10-24 09:48] ChrisMaddock commented on #1858
https://github.com/nunit/nunit/blob/master/BUILDING.md

Building.md was updated at the time, to remove `TestAll`. (There's #1730 to update it again for the console/framework split stuff, but that's a separate issue!)

Is there somewhere else that still suggests `TestAll`?

[2016-10-24 10:58] NN--- opened #1859 "ConcurrentQueue is duplicate with System.Threading.dll package"
Make .NET 3.5 project.
Install both NUnit package and System.Threading.dll package (https://www.nuget.org/packages/System.Threading.dll/)

System.Collections.Concurrent.ConcurrentQueue defined in both assemblies.

[2016-10-24 11:08] zharro commented on #1827
Working on it.

[2016-10-24 12:37] tomekpaszek opened #1861 "Wrapping MethodInfo.Invoke or improving TestCommand wrappers"
Hi!

First of all, great job with the product and the recent changes to the architecture.

I was able to use extension points to achieve most things I needed for implementing nUnit in the tools I'm working on besides few small things. What I would like to achieve is to delegate the test's code invocation to a separate thread that I have control of (not just to spawn on a separate thread). In most

[2016-10-24 13:31] CharliePoole commented on #1857
Use of `After` with Throws makes no sense but if it is allowed should give better output.

My preference would be to fix this by making After unavailable on this constraint at compile time. If that can't be done, then the message should say it's an error to use it here.

[2016-10-24 14:00] CharliePoole commented on #1859
This class is in the 2.0 and 3.5 builds of the framework. One solution would be to put it into our own namespace, since it is only used internally. That will require some aliasing where it's used. We could also experiment with changing it's visibility - not sure that will remove the conflict. A third solution would be for us to use the same package ourselves, although it most likely contains stuff

[2016-10-24 14:03] CharliePoole commented on #1859
As a workaround, you can use an alias on the reference to System.Threading.dll. Or make your test project target .NET 4.0 or higher.

[2016-10-24 14:11] NN--- commented on #1859
@CharliePoole If it is used internally then mark it internal and it will solve the issue.
Thanks.

[2016-10-24 14:17] CharliePoole commented on #1859
@NN Certainly the easiest if it works. I guess I'm slightly distrustful of VS doing the logical thing. :smile:

We kept these classes taken from Mono public simply because we didn't want to modify the source, but in retrospect maybe they should all be internal.

[2016-10-24 15:09] NN--- commented on #1859
Thanks
Waiting for the update.

[2016-10-24 22:50] oznetmaster commented on #1858
That page is inaccurate.  It lists the tasks that can be run.  One of these is "* TestAllFrameworks   Runs all framework tests. Dependent on Build.".  However, if that is used, an error occurs: Error: The target 'TestAllFrameworks' was not found.

I did not test all the others to find other errors in the documentation.

[2016-10-24 23:05] JackUkleja commented on #1857
Can I ask why you say it makes no sense?

Because what we are trying to do in our test is ensure that after a certain amount of time, a method stops throwing (if you are curious why it's because we are using NSubstitute to verify calls - and until the call has been verified it will throw).

It _seemed_ Throws.Nothing.After would be appropriate, and _seems_ to be working for us.

[2016-10-24 23:17] CharliePoole commented on #1858
I've been wondering about these Building.md pages. It seems as if they require a bunch of effort to keep up to date. Why don't we just tell people to read the build.cake file that actually contains the targets?

[2016-10-24 23:28] CharliePoole commented on #1857
So each time the method is called, you would want it to succeed if no exception is thrown but just keep on trying if one is thrown, finally only failing after the time is up? That would be consistent with how After usually works, although not consistent with how we generally handle exceptions. :smile:

What if you used Throws<SomeException>().After ? Should that be allowed?

[2016-10-24 23:51] JackUkleja commented on #1857
Yes this may not be consistent with how we generally handle exceptions but it's how the [NSubstitute API works](http://nsubstitute.github.io/help/received-calls/). There are alternatives - we could do our own polling check to check the call is received, or we could wait on something else before making the call. But the NUnit delayed constraints framework seems nice for many of these threading/time

[2016-10-24 23:57] rprouse commented on #1858
We should probably add descriptions to our build tasks in the cake file. Then you can use the `--showdescription` command line option to show all the tasks. Here is the current output for this project,

[code]

[2016-10-25 00:24] CharliePoole commented on #1857
Yes, it makes some sense. We will have to override the general implementation of After for those particular constraints.

[2016-10-25 00:35] CharliePoole commented on #1858
That makes perfect sense.

[2016-10-25 00:39] JackUkleja commented on #1834
One more clue about this...

I was just trying to replicate this issue with the following command:

and much to my surprise it worked without any errors. I got a list back of the contained tests, as expected! So I tried a few of my other test assemblies - they all worked too. Finally I tried my IntegrationTests.dll once more, exactly the same command line,...but this time it failed with the aforem

[2016-10-25 00:52] JackUkleja commented on #1834
Nothing I can do now seems to let me run this command successfully again. I've rebuilt the assemblies, restarted the console, looked for any "remtoing" or "nunit" processes that maybe could be killed or restarted (nothing). Is something is persisting in the remoting that is breaking things - something that is not being cleaned up? I'll try log off/on to see if that gets it working again....

[2016-10-25 00:55] JackUkleja commented on #1834
Oh and this only seems to be happening with my IntegrationTests.dll so there is clearly some strange specific interaction between that dll and nunit remoting.

[2016-10-25 01:38] rprouse commented on #1858
PR for the change is up and reviewed, so I am changing this from question to a build task.

[2016-10-25 01:42] rprouse commented on #228
@CharliePoole do you think the various changes we made to allow overriding the messages, etc is enough to satisfy the needs of this issue?

[2016-10-25 01:45] rprouse commented on #366
The new, but soon to be deprecated `xproj` format allows for this very nicely and all targets are compiled. They said that they wouldn't drop functionality when they update the `csproj` format for .NET Core, so we should revisit this then.

[2016-10-25 01:45] rprouse commented on #1771
I am switching this from idea to enhancement.

[2016-10-25 01:52] oznetmaster commented on #1858
Is --showdescription documented somewhere? I am assuming it is.  I just do not seem to be able to find it.

[2016-10-25 01:52] rprouse commented on #535
@CharliePoole does this belong in the console repo now?

[2016-10-25 01:54] rprouse commented on #1858
Show description is documented on `Cake.exe`, but that is non-obvious, so I added it to the BUILDING.md as part of the PR.

[2016-10-25 01:55] oznetmaster commented on #1771
I have opened a PR #1863 with my backported implementation.

[2016-10-25 02:01] rprouse commented on #729
I think that downloading from a known good source (our GitHub or NuGet feeds) is probably enough and nobody has requested that I know of.

[2016-10-25 02:05] rprouse commented on #1023
I am not sure how well this would work for xUnit which constructs the class for every test method execution. Wouldn't we need to somehow treat the constructor as a [SetUp] if running using xUnit attributes?

[2016-10-25 02:07] oznetmaster commented on #1858
Thank you.

[2016-10-25 02:14] oznetmaster commented on #1023
Yes

[2016-10-25 02:29] rprouse commented on #1569
The related issue is closed, so I am closing this as a duplicate. Please comment and reopen if I am incorrect.

[2016-10-25 02:29] #1569 closed

[2016-10-25 02:31] rprouse commented on #1637
@JohanLarsson I am closing this since there haven't been any updates. Please comment and reopen if you feel I shouldn't have closed the issue.

[2016-10-25 02:31] #1637 closed

[2016-10-25 02:34] rprouse commented on #1665
I am closing this as fixed in NCrunch.

[2016-10-25 02:34] #1665 closed

[2016-10-25 02:35] oznetmaster commented on #1023
And the destructor as a [TearDown]

[2016-10-25 02:38] rprouse commented on #1686
I am closing this since it is not our bug and therefore shouldn't be on our radar. People can still find it if they have the same issue...

[2016-10-25 02:38] #1686 closed

[2016-10-25 02:40] rprouse commented on #1698
@greg73  and @MistyKuu, we will need more information to move forward with this issue.

[2016-10-25 02:42] rprouse commented on #1753
Closing this as a duplicate of #1502

[2016-10-25 02:42] #1753 closed

[2016-10-25 02:45] rprouse commented on #1773
@wiredsister can you provide a simple test case that we can work with? A small GitHub repo would be ideal.

[2016-10-25 02:47] rprouse commented on #1779
@soetes I am closing since we have not heard back from you. If you have more information, add it to this issue and we will reopen.

[2016-10-25 02:47] #1779 closed

[2016-10-25 02:49] rprouse commented on #1781
@CharliePoole do you think we should make a fix to translate the uppercase _DESCRIPTION if we find it, or just close this issue? I am in favor of making the change, but you might think of something I haven't 😉

[2016-10-25 02:50] rprouse commented on #1817
@gabrielpalacios I am closing since we have not heard back from you. If you have more information, add it to this issue and we will reopen.

[2016-10-25 02:50] #1817 closed

[2016-10-25 02:51] rprouse commented on #1817
If you can provide us with code that we can use to reproduce the problem, I will reopen.

[2016-10-25 02:56] CharliePoole commented on #535
@rprouse It does... moving...

[2016-10-25 02:57] CharliePoole commented on #535
Issue moved to [nunit/nunit-console #115](https://github.com/nunit/nunit-console/issues/115) via [**ZenHub**](https://www.zenhub.com/)

[2016-10-25 02:57] #535 closed

[2016-10-25 03:00] rprouse commented on #1826
I expect that `WebDriver.Support.dll` is being found, but that it has dependencies that are not found when run from another directory. To be honest, I think this is more a question for Appium. Do they do any static initialization that requires the current directory be set?

[2016-10-25 03:01] CharliePoole commented on #228
@rprouse The intent was to have a completely different expected/actual display, which is internal.

What's the new "review" label intended to mean?

[2016-10-25 03:02] CharliePoole commented on #729
I'm OK either way.

[2016-10-25 03:04] CharliePoole commented on #1771
@rprouse I continue to not like the idea but I'll bow to the majority.

[2016-10-25 03:10] CharliePoole commented on #1023
If we are discussing... I don't like the idea. It's something I did a fair bit of in the very distant past. It was easy to get simple tests to work and I was able to run mstest and csunit tests under NUnit quite well. The difficulty was in taking it beyond 95% compatibility, which I found required extensive time investment for diminishing returns.

I think this is a project for somebody to underta

[2016-10-25 03:13] rprouse commented on #1790
I could see the use of this for Linq queries where you expect to only get one item back to ensure you only get one back.

Working it out, we could change this

[code]

to

[code]

It is a bit cleaner and I work with Linq queries that I expect to return a single item often, so I like the idea even though it is a small gain.

My only issue is that the call will hide the fact that the query will get

[2016-10-25 03:18] CharliePoole commented on #1781
Yes... I agree. We should translate only known NUnit V2 internal property names to their new values when creating the XML. (I was only waiting for another committer to comment)

[2016-10-25 03:20] #1858 closed

[2016-10-25 03:27] rprouse commented on #1023
I agree with @CharliePoole on this. I think that there are so many subtleties between the way we run tests and the way that other test frameworks run them that there will be many 'bug' reports from users that expect it to just work.

If anything, I could see someone writing an xUnit driver for the engine and properly executing xUnit tests, but I think that if you are going to port your tests, you

[2016-10-25 03:27] #1023 closed

[2016-10-25 03:30] CharliePoole commented on #1611
Other changes have overtaken this issue and it is really not relevant any longer. I'm closing it.

[2016-10-25 03:30] #1611 closed

[2016-10-25 04:18] CharliePoole commented on #1856
I think the idea of an optional set of tests is a valid one although I'm not sure that the approach suggested is the right way to go. The issue is only 3 days old and I put it into the discussion pipeline and classified it as an idea so we could talk it over.

I agree that too many "ideas" have sat for too long but I hope we will make some effort to deal with them regularly after this pass through

[2016-10-25 04:20] CharliePoole commented on #1763
I don't see this as being of general use.

[2016-10-25 04:20] #1763 closed

[2016-10-25 04:21] CharliePoole commented on #1667
I'm OK with dropping this. If we deal with the equality case, which is a separate issue, I don't think there is much more benefit here.

[2016-10-25 04:26] remcomulder commented on #1743
@CharliePoole Thanks for drafting this up and for being so inclusive in the design for this feature.  From my side, I don't see any issues with the new design.  As expected, I'll need to make some modifications to NCrunch to enable the new feature.  It would be great if you could ping when you have everything ready for integration.

I'm quite interested in the idea of also exchanging details on pa

[2016-10-25 04:34] CharliePoole commented on #1743
@remcomulder Thanks for the comments.

Regarding passed assertions, it's really only at the idea stage and is fairly futuristic. However, what seems reasonable to me is to simply capture the location of the passing assert... just a single line of the stacktrace.

[2016-10-25 04:37] remcomulder commented on #1743
@CharliePoole Is it possible to capture a single line without pulling up the whole trace?  The whole trace would actually be really useful for me, as I'm sure users would like to be able to see the checkmarks projected over the whole call stack in the same way as the red Xs.  Anyway, understanding that it's a future feature, I guess this is something we could work out later.

[2016-10-25 06:18] CharliePoole commented on #1743
@remcomulder Since we already truncate the call stack it probably doesn't matter which way we go in terms of space used. The stack trace is usually rather short for assertions anyway since it doesn't normally include the frames that are below the test method itself.

[2016-10-25 06:21] remcomulder commented on #1743
@CharliePoole That's true.  I was thinking about handling custom assertion methods, where the actual assertion may be nested a little deeper.  Anyway, I'll place my vote for having the full stack trace exposed.  Since it's collected anyway, we might as well use it :)

[2016-10-25 06:33] XdX-Software opened #1865 "Two unit test projects are not testable, one is"
Hi,

I have a strange issue, I have three NUnit 3 unit test projects in one solution.
In one project I can execute all unit tests, but in the other two projects I get a strange error message.

No handler for message 'TestExecution.TestResult' when at state 'TestExecutionSentTestRunnerProcessStartInfo'
An exception occurred while invoking executor 'executor://dotnetunittestexecutor/v1': Unable to w

[2016-10-25 10:22] jcansdale commented on #1743
@remcomulder,

You can use `new StackFrame(1, true)` in the full .NET framework, but this will only be exposed in .NET Standard 2.0 and later. Currently in .NET Core 1.0, we would need to use `Environment.StackTrace` (which does appear to include file/line info).

[2016-10-25 11:34] rprouse commented on #1865
It looks like you are using  .NET Core. This is a known and fixed issue that will be released soon. Please confirm so I can close.

[2016-10-25 11:44] XdX-Software commented on #1865
How should I confirm that the issue is solved, if the version where the issue is presumed fixed, is not released yet and I can not use it  :)

[2016-10-25 11:46] greg73 commented on #1698
@rprouse
The error is not reproducible, i.e. it will happen once and then when immediately running the same tests again the error won't happen. I think it may be related to available memory, if the server is swapping memory and the build is running slowly the error seems more likely to happen.

[2016-10-25 12:48] rprouse commented on #1667
Thanks for the idea, but this isn't in keeping with our vision of where we want to take NUnit, so I am closing.

[2016-10-25 12:48] #1667 closed

[2016-10-25 12:48] rprouse commented on #1856
Thanks for the idea, but this isn't in keeping with our vision of where we want to take NUnit, so I am closing.

[2016-10-25 12:49] rprouse commented on #1856
Sorry, I am reopening this. As @CharliePoole says, the idea needs some fleshing out though before we will implement.

[2016-10-25 12:50] rprouse commented on #1488
Thanks for the idea, but this isn't in keeping with our vision of where we want to take NUnit, so I am closing.

[2016-10-25 12:50] #1488 closed

[2016-10-25 12:52] rprouse commented on #1462
Thanks for the idea, but we are spinning SL out into it's own repository and putting it into maintenance mode unless someone from the SL community wants to pick it up and move it forward.

[2016-10-25 12:52] #1462 closed

[2016-10-25 12:53] rprouse commented on #1462
I have moved this issue to the SL repo if anyone decides to continue work on it.

[2016-10-25 12:54] rprouse commented on #1376
Thanks for the idea, but this isn't in keeping with our vision of where we want to take NUnit, so I am closing.

[2016-10-25 12:54] #1376 closed

[2016-10-25 12:54] rprouse commented on #1374
Thanks for the idea, but this isn't in keeping with our vision of where we want to take NUnit, so I am closing.

[2016-10-25 12:54] #1374 closed

[2016-10-25 12:56] rprouse commented on #1287
@ghost I am closing since we have not heard back from you. If you have more information, add it to this issue and we will reopen.

[2016-10-25 12:56] #1287 closed

[2016-10-25 12:58] rprouse commented on #160
Thanks for the idea, but this isn't in keeping with our vision of where we want to take NUnit, so I am closing.

[2016-10-25 12:58] #160 closed

[2016-10-25 12:58] rprouse commented on #493
Thanks for the idea, but this isn't in keeping with our vision of where we want to take NUnit, so I am closing.

[2016-10-25 12:58] #493 closed

[2016-10-25 12:59] rprouse commented on #616
Thanks for the idea, but this isn't in keeping with our vision of where we want to take NUnit, so I am closing. This would be better implemented by the IDE that you are using and Visual Studio is moving in that direction.

[2016-10-25 12:59] #616 closed

[2016-10-25 12:59] #729 closed

[2016-10-25 13:00] #925 closed

[2016-10-25 13:00] rprouse commented on #1154
Thanks for the idea, but this isn't in keeping with our vision of where we want to take NUnit, so I am closing.

[2016-10-25 13:00] #1154 closed

[2016-10-25 13:02] rprouse commented on #1249
This hasn't received any feedback, design or further interest from the community, so I am going to close.

[2016-10-25 13:02] #1249 closed

[2016-10-25 13:03] rprouse commented on #709
Thanks for the idea, but this isn't in keeping with our vision of where we want to take NUnit, so I am closing.

[2016-10-25 13:03] #709 closed

[2016-10-25 13:04] rprouse commented on #1395
Thanks for the idea, but this isn't in keeping with our vision of where we want to take NUnit, so I am closing.

[2016-10-25 13:04] #1395 closed

[2016-10-25 15:10] CharliePoole commented on #1698
Not sure if we will be able to fix this, but moving it to the right project anyway. 😄

[2016-10-25 15:10] CharliePoole commented on #1698
Issue moved to [nunit/nunit-console #117](https://github.com/nunit/nunit-console/issues/117) via [**ZenHub**](https://www.zenhub.com/)

[2016-10-25 15:12] rvignesh89 commented on #1837
@CharliePoole I understand the subtleties of this issue now. Let me see what I can do :)

[2016-10-25 15:16] CharliePoole commented on #1837
Please start by creating the issue. :-) I'll assign both of us to it.

[2016-10-25 15:17] rvignesh89 opened #1866 "[Request] More readable way to set polling interval in After constraint"
This issue is a follow up of #1837 (originally requested by @mbendtsen ) to work on improving the readability of setting a polling interval in the After constraint.

[2016-10-25 15:24] rvignesh89 commented on #1866
@CharliePoole I was thinking of using extensions to the integer class to simplify the readability, something like this. What do you think? This should be straightforward but adds extra braces which I don't like :)

[code]

[2016-10-25 15:31] rvignesh89 commented on #1866
One of the limitations that I see with the above piece of code is, how will the user of the library know that he can do something like this. because the signature of After would probably be like this,

[code]

But this does not expose to the user about how to create an Interval.

[2016-10-25 15:35] CharliePoole commented on #1866
@rvignesh89 I gave this the design label to start with.

Our earlier discussion was that we would implement new modifiers:
 * `PollEvery(int n)` to set the polling interval amount
 * `minute`, `second` and `millisecond` to set the polling interval measurement type
Taken together with the earlier modifiers, that's a total of seven modifiers that can appear after `After`. Unless we do something abou

[2016-10-25 15:39] CharliePoole commented on #1866
@rvignesh89 Our comments crossed.

I am suspicious of adding extensions to basic classes like int. If we do it here it's going to pop up in other places as a user option. And the resulting syntax, as you point out is not that great.

What do you think of the nested class idea?

[2016-10-25 15:48] rprouse commented on #1865
Sorry, if you could confirm that you are using .NET Core, then it is a known issue in that repo that was fixed last week.

[2016-10-25 15:49] rprouse commented on #1865
See nunit/dotnet-test-nunit#58

[2016-10-25 16:03] rvignesh89 commented on #1866
@CharliePoole I like the idea, but at the moment I'm just not sure how I would do it :) The good part is, it still sticks to the syntax which @mbendtsen originally requested for. So I'm guessing it is more intuitive compared to my idea.

I'll give it a try first and see :)

[2016-10-25 16:30] CharliePoole commented on #1866
Remember that you can always do a PR to get code review, even if the work is only partially done.

One approach to start would be to convert the existing code to use a nested class for the modifiers, thereby eliminating the problem of duplicate dimensions. Polling interval would then be a second commit.

[2016-10-25 19:31] CharliePoole commented on #1599
@rprouse As we discussed, I reassigned this to you. I had barely gotten started in a local repo so there is nothing to transfer to you.

[2016-10-25 23:33] sevenkingdoms2 opened #1867 "pnunit test framework"
Hi,

I got a project which used pnunit test for testing.  This is part of nunit binaries in 2.6.+.zip.  But I cannot find it in 3.+.  Does anyone know what happens to it?

Also, in the current 2.6.+ version, I notice a problem. Say two pnunit-agents are launched, and punit-launcher executes test.  One of the pnunit-agent gets tests and executes fine, but the other one get stuck at
PNUnit.Agent.PNU

[2016-10-25 23:46] rprouse commented on #1867
PUnit isn't an NUnit project, it is a separate project that uses NUnit and I don't think it has been updated in years. You will need to ask them for help, none of the NUnit team uses it.

https://www.plasticscm.com/documentation/technical-articles/pnunit-parallel-nunit.html

NUnit 3 can run tests in parallel, although not across machines. You may want to look at our docs, https://github.com/nunit/

[2016-10-25 23:50] rprouse commented on #1867
Sorry, my mistake, I read PUnit, but see you wrote PNUnit which was part of 2.6.x. It is not distributed as part of NUnit 3 which is a complete rewrite.

I am going to reopen this as a question for a short period to allow people to help you with the agents. This issue belongs in the v2 repository, but I will leave it here for now because more people will see it.

[2016-10-26 00:48] CharliePoole commented on #1867
PNUnit is developed by plasticscm and was distributed with NUnit. Our version under V2 was slightly changed from theirs to work with the latest 2.6.x version of NUnit.

I have written to the author to ask if they have tried to make it work with NUnit 3 and invited him to respond on this issue.

[2016-10-26 01:30] #1601 closed

[2016-10-26 01:31] #1840 closed

[2016-10-26 01:43] oznetmaster commented on #1599
Since I had never responded to @CharliePoole question about my involvement in the CF repo, I wanted to make it clear that it, in and of itself, is actually of little use to me.

Since my CF build of NUnit contains most of those pieces that are being removed from the CF repo (such as async support, DateTimeOffset, Task, etc), and will continue to do so, I will need to continue to port from the full

[2016-10-26 01:43] #1599 closed

[2016-10-26 03:15] CharliePoole commented on #1599
FYI it's not necessary to re-open an issue in order to comment on it.

Separation of CF into a separate repository is a decision we took a while ago, and is now implemented as a result of this issue.

Whether we are going to maintain it in the future is still undecided. I'm working on some higher priority things right now, but I do plan to get back tot his and start a discussion, probably after po

[2016-10-26 09:32] oznetmaster commented on #1599
It is interesting that after changing my source code to removal all SILVERLIGHT and all NETCF conditionals, I ended up with very few remaining CF specific sections of code (mostly due to generic and AppDomain limitations).  This is due to the fact the my CF/Crestron framework supports the vast majority of .NET 4.0 classes.  So many things that were conditioned out for NETCF are the same for my env

[2016-10-26 17:05] CharliePoole commented on #1599
That makes sense. Logically, there are two  strategies to use in dealing with a limited platform like NetCF: either dumb down the framework or extend the platform. We chose the former, you the latter. What we will need to figure out is how many people really want us to keep maintaining a framework for native CF and whether any of them will be willing to work on it.

[2016-10-26 21:43] CharliePoole commented on #423
Made this a build task.

[2016-10-26 21:47] CharliePoole commented on #150
This seems to be a bug with a proposed fix rather than just an "idea" I would promote it and invite PR submittal.

[2016-10-26 21:48] CharliePoole commented on #228
Making this a low-pri enhancement. If somebody wants to submit a PR that will get it done sooner.

[2016-10-26 21:50] CharliePoole commented on #366
This was originally proposed in the context of CF but we more recently talked about it in terms of shared projects. I think we can revise how we build any time in the future but this particular issue has reached the end of it's usefulness and should be closed.

[2016-10-26 22:02] CharliePoole commented on #1743
Taking this out of design and queuing it up to work on.

[2016-10-27 07:49] XdX-Software commented on #1865
Ah, OK.

Yes, I confirm that this are .NET Core projects.

I hope you can release it this weekend like you planned it.

[2016-10-27 09:33] ChrisMaddock commented on #150
I agree.

[2016-10-27 09:52] ChrisMaddock commented on #150
This seems similar to #1850, in that the handling of nullable values looks to be done separately in every instance - e.g. I _think_ this would work with TestCaseAttribute, but not TestCaseData. We should see if we can push this down a level, and standardise like we want to with `params` and optional parameters.

[2016-10-27 11:39] ChrisMaddock commented on #366
Agree with Rob that we should definitely happen with the new csproj. Seems like having an issue to track that would be sensible - I'm ambivalent as to whether that's this one, or we create a new one!

[2016-10-27 13:47] rprouse commented on #150
I agree and am promoting to the backlog.

[2016-10-27 13:50] rprouse commented on #366
I agree that we can close this issue. When I do the .NET Standard port, I will keep this issue in mind, but I don't want to do it the way that was originally proposed with multiple build configurations.

[2016-10-27 13:50] #366 closed

[2016-10-27 14:17] fredgate commented on #1670
This feature is a must have.
We are running our automated behavior tests with NUnit and Selenium. If a test fail, we love to attach a screenshot of the browser in the test result : this is a great help to fix the test.
To do this, we had to use Microsoft's test framework, but it is not as powerfull than NUnit (attribute at assembly or class level, generic test class...). So we look forward to this

[2016-10-27 14:42] CharliePoole commented on #1670
I'm changing this to a feature needing design, which is more solid than an idea. We still need to resolve the questions listed in my earlier comment.

[2016-10-27 17:03] ChrisMaddock commented on #1670
I guess it's either serialising the file in the xml, or keeping a referenced directory besides it. One leads to vast xml, general slowness, and the files requiring a specific interpreter, the other leads to the possibility of files being separated from the results, and the references broken.

Which is the lesser of evils? I feel like with the former, the pain will outweigh the benefits of keeping

[2016-10-27 18:47] rprouse commented on #1670
We should look at how MSTest stores the files. I expect that the Visual Studio extension requires a link to the file on the drive.

[2016-10-27 18:49] rprouse commented on #1865
Thanks, I am going to close this as a duplicate.

[2016-10-27 18:49] #1865 closed

[2016-10-27 19:07] CharliePoole commented on #1670
Seems like a reference in the XML is the way to go. For NUnit, the logical initial location is the work directory, which is where the XML goes by default. That resolves my first two points above.

Answering my other points:
 * I guess the console would do no more than list the attachments with the path, just as it does for results.
 * The gui could have some sort of menu or panel to list attachmen

[2016-10-27 19:21] CharliePoole commented on #1670
What does an attachment element need to include in terms of attributes and elements? Something like this?

[code]

I'm assuming it is a child of the test that produced it, so we have that info. Users may want to include multiple screen shots, hence the description. Anything else?

What is the syntax for attaching something? Should we use TestContext? Should there be a way to associate it with an a

[2016-10-27 19:45] rprouse commented on #1670
👍

No, I've never used attachments. I like your XML format. Personally, I think we should start with adding attachments from the TestContext as it is the simpler route. We can then evaluate if we want to expand that out to Asserts.

[2016-10-27 19:53] CharliePoole commented on #1670
So `TestContext.CurrentContext.AddAttachment` ?

With overloads for `(string path)` and `(string path, string description)` ?

[2016-10-27 19:53] CharliePoole commented on #1670
Maybe we have a spec already!

[2016-10-28 06:22] fgreunen commented on #1396
I've done the following and it works:

`protected TestContext fixtureContext;
        [TestFixtureSetUp]
        public void TestFixtureSetup()
        {
            fixtureContext = TestContext.CurrentContext;
        }
private ArrayList GetTestCategories()
        {
            return (ArrayList)fixtureContext.Test.Properties["_CATEGORIES"];
        }
`

[2016-10-28 07:05] CharliePoole commented on #1396
Yes, that certainly works.

[2016-10-28 16:05] #1827 closed

[2016-10-28 18:12] CharliePoole opened #1870 "EqualConstraint result failure message for DateTime doesn't show sufficient resolution"
As reported on PR #1868 the failure message does not show ticks, which may cause the two values to be displayed the same even though they are not equal. We should use 'F' rather than 'f' in the format string.

[2016-10-28 19:52] Corniel commented on #1870
I'm willing to fix this.

[2016-10-28 19:57] CharliePoole commented on #1870
Great. I invited you as a contributor, which will allow me to assign it to you.

I think we only need the change you already made to the MsgUtils in the other PR plus a test.

[2016-10-28 20:06] Corniel commented on #1870
I'll do that. Actually, I'll already did that in first request. I can do that again I guess. :)

[2016-10-28 22:03] CharliePoole commented on #1870
Yes... thanks for doing it again.

[2016-10-28 22:05] Corniel commented on #1870
You're welcome. :)

[2016-10-29 14:10] #1870 closed

[2016-10-29 15:09] rprouse commented on #1771
@oznetmaster as I stated in the PR, this is much more than I expected, so I am going to close this as a won't fix.

[2016-10-29 16:31] rprouse commented on #706
I am okay with doing this for CSV, XML or JSON data sources, but I was uncomfortable with the way it was being done for databases. If another attempt is made for database data sources, I think it should be either generic enough to work with any database, or easily extendable enough to work with any database.

Databases are tough because the connection string may be different for different develope

[2016-10-29 16:36] rprouse commented on #1589
@CharliePoole we have one idea and one low priority feature left in this epic. I'm not sure it is worth keeping open for those. Shall we close as complete and track the two remaining issues on their own?

[2016-10-29 17:14] CharliePoole commented on #706
Since we are pushing this issue back anyway, I think I'll comment on what I think went wrong here.

@acco32 Defined a new attribute that was intended to work with any data source. That's visionary thinking but if you try to implement it all at once, most people get into trouble. I know I would get into trouble if I did it, so I don't work that way.

Here's the way I would do it and how I would str

[2016-10-29 17:17] CharliePoole commented on #1589
Done!

[2016-10-29 17:17] #1589 closed

[2016-10-29 18:21] rprouse commented on #706
@CharliePoole I have closed the PR. I took @acco32's branch, merged latest from master, resolved conflicts and pushed it to this repository. Anyone who is working on this and would like to look at that attempt, it is at https://github.com/nunit/nunit/tree/issue-706-ext-data-sources

[2016-10-29 19:26] CharliePoole commented on #706
Thanks!

[2016-10-29 20:09] oznetmaster commented on #1771
You realize that rejecting "more then you expected", even though I clearly documented exactly what I was back-porting before I did the work, seems a bit a strange response.

If you only want the limited parameter discover/validation, then remove the method insertion code.  To throw the baby away with the bathwater seems like a real waste, even more so given that it seems very difficult to implemen

[2016-10-30 01:22] CharliePoole commented on #890
Closed by #1846

[2016-10-30 01:22] #890 closed

[2016-10-30 06:02] JustinRChou commented on #706
Wouldn't it be better for the user to write their own generator method?

Or is the whole point to just allow the user to write something like
`
[TestDataSource(@Filename,@FileType)]`

[2016-10-30 06:40] CharliePoole commented on #706
@JustinRChou Something like that.

The intent in the NUnit 3 framework design has always been to allow additional attributes that might provide data in different ways. Of course, you could do everything with TestCaseSource, but each user would have to write their own code.

If this goes forward in the future, we should spec out the syntax in advance.

[2016-10-30 08:07] mbenningfield1 opened #1872 "Parameterized method being called with no parameter"
[code]

-OR-

[code]

results in this:

[code]

It appears that an extra call to the parameterized method is being generated that uses no parameters.

[2016-10-30 08:52] appel1 commented on #1872
It's because you've specified an empty TestCase in addition to creating tests using TestCaseSource.

[2016-10-30 11:16] mogikanin opened #1874 "Build fails when targeting .net 4.0, profile=client"
I have an assembly foo.dll which is  .net 4.0, profile=client, and foo.tests.dll which has same target framework.
When I'm trying to build solution, there is a warning and build errors.
![nunit_clientprofile](https://cloud.githubusercontent.com/assets/840681/19836231/bbaf84d4-9eaa-11e6-96e4-790f55259791.png)

If set full .net4.0 for foo.tests.dll, then build works fine.

Does it mean that test ass

[2016-10-30 13:38] rprouse commented on #1874
The .NET Framework is compiled using full .NET 4.0 support, so I would expect that your test assembly also has to be. You will get the same behavior running under the full framework, you will just get access to the more classes.

You asked, "Does it mean that test assemblies no more support v4.0, profile=client?".  I don't think it ever did.

I am going to leave this open for a bit to discuss. @nu

[2016-10-30 13:53] rprouse commented on #1872
To expand/clarify what @appel1  is saying, the `[TestCase]` is unneeded. It will try to create the third test and fail because the parameters don't match.

[2016-10-30 14:12] mogikanin commented on #1874
Yes, I agree that for tests assemblies behaviour will be same. I just updated from nunit 2.x which works fine with client profile assemblies (though really never tested it on computer where only client profile installed), and the question is appear.

[2016-10-30 14:41] ChrisMaddock commented on #1874
We had the same issue upgrading from 2.x to 3, we just targeted full profile instead.

I don't know how much would need to be changed to provide client profile support. If its just another target, I don't see the harm. (Does xproj support it? We should make this decision with a view to when we have a single project with multiple targets.)

If this requires a number of changes, then Id say were bes

[2016-10-30 17:34] mbenningfield1 commented on #1872
OK, thanks. I wish I had some free time, because the docs really need a lot of work. I will check back when my current side project is finished; maybe I'll have some more time then.

[2016-10-30 18:05] CharliePoole commented on #1872
@mbenningfield1 Hope you do have some time, but meanwhile could you point to where they are misleading regarding TestCase?

[2016-10-31 02:56] mbenningfield1 commented on #1872
Not misleading; perhaps more counter-intuitive; and with TestCaseSource,
not TestCase.

I realize that the docs mention that TestCaseSource additionally
identifies a method as a test case, but
it is a mention in passing.

The name of TestCaseSource suggests -- grammatically speaking -- that is
primarily a 'source', not a 'testcase', and
would therefore intuitively be used in conjunction with a Tes

[2016-10-31 03:09] CharliePoole commented on #1872
Well, the good news is that I've only seen this particular thing come up once before. :smile: However, I understand that it seems like a pretty natural thing to do.

Maybe it's a bug that we allow you to use TestCase without an argument and then tell you it's wrong!

[2016-10-31 12:20] mbenningfield1 commented on #1872
As I understand it (granted, I'm a noob with NUnit),  TestCase with no
args is exactly the same as Test.

Any time you have 2 pieces of an API that do exactly the same thing, its
a flag: one of them is either wrong

or not needed, and pieces that aren't needed are "wigglies in the soup".

I would say that if it's at all possible, amend the API to require args
on TestCase.

On 10/30/2016 10:09 PM,

[2016-10-31 20:00] CharliePoole commented on #1792
We've recently been having some (meta-)discussions about discussing issues. This one should probably have been tossed into the discussion pipeline so we could decide exactly what we want to have work as a test case source. The old definition was that we supported any ienumerable returning a number of possible Types, indicated in the comments as follows:

[code]

The comments are not too clear abou

[2016-10-31 20:05] CharliePoole commented on #1872
It was never intended to be so, but the implementation allows it to be used that way. A few people have taken it that way, tried it out and found out that it works. That, of course, explains why it's not covered in the docs as much as anything else.

[2016-10-31 20:06] CharliePoole commented on #1872
Reopening this for discussion: Should we make it impossible to use TestCaseAttribute without args?

[2016-10-31 22:53] rprouse commented on #1872
As I quick test, I tried to add a private default constructor to TestCaseAttribute to hide the params constructor, but the params constructor still gets called. Therefore I don't think we can disable it at compile time.

We could switch the null check in the params constructor to throw which would give a more meaningful error. It is still a runtime bug, but I would be okay with that since it is gi

[2016-10-31 23:08] CharliePoole commented on #1872
In the past, I've used a constructor like `TestCase(object arg1, params object[] remaining) to force the inclusion of a first argument. It makes the constructor code a bit more complicated but doesn't impact the user.

Extra [Test] and [TestFixture] attributes are a legacy thing that we allow for backward compatibility. It takes a small amount of special code for each of them - more for [TestFixtu

[2016-10-31 23:35] rprouse commented on #1872
That is a better idea for making it not compile, I didn't think of that. Base on that, I am more in favour of the idea 👍

[2016-10-31 23:41] CharliePoole commented on #1872
Changed the labels but leaving it here in discussion for a beat. Anybody else have thoughts on this?

[2016-11-01 00:31] mbenningfield1 commented on #1872
For my part, I'm a firm believer in leaving client code as little room
as possible for making missteps.

On 10/31/2016 6:41 PM, CharliePoole wrote:

[2016-11-01 00:52] CharliePoole opened #1876 "What should we do about Env.cs"
Now that we no longer have CF and Silverlight integrated, Env.cs is no longer doing much. It defines:

* **Newline** which is always equal to `Environment.Newline`

* **DocumentFolder** which maps to `\MyDocuments` in portable and to the special documents folder in all other builds.

* **DefaultWorkDirectory** which maps to DocumentFolder in portable and to `Environment.CurrentDirectory` in other

[2016-11-01 00:58] oznetmaster commented on #1876
Since there are still compatibility differences in Environment between portable and all other builds, it seems that Env should still be the standard for all builds, and all references to Environment should be removed.

Alternatively, the references to DocumentFolder and DefaultWorkDirectory can be conditioned for the portable build.  However, I thought the current preference was to eliminate condi

[2016-11-01 00:59] rprouse commented on #1876
I think we should remove `Env.Newline` and `Env.DocumentFolder` if it is not used. I think I would prefer to leave `DefaultWorkDirectory` for now, although we could move it elsewhere. I only want to leave it until we see how .NET Standard shakes out, but I don't have strong feelings on that.

[2016-11-01 01:04] CharliePoole opened #1877 "Resolve differences between NUnit Console and NUnitLite implementations of @filename"
We (well actually I) mistakenly merged the nunitlite changes thinking that the differences between the console runner and nunitlite implementations had already been resolved between @NikolayPianikov and @oznetmaster

We need to decide first what features to include / exclude then change one or both of them so that users do not get confused and features we have not decided to support do not become

[2016-11-01 01:13] CharliePoole commented on #1876
@oznetmaster Of course there are other Environment fields we use that are not reflected in Env.cs - it only contains those three entries. I think I prefer removing NewLine, since it no longer serves a purpose, and DocumentFolder, since it's unused.

I think it generally works better to have a central definition most of the time, but with only three conditionals needed to eliminate it, that might b

[2016-11-01 01:56] oznetmaster commented on #1876
Sorry, I was not thinking.  My CF build uses a custom Environment class which is 100% compatible with the standard .NET Environment, so I have never really paid attention to Env.  Given what @rprouse and you have indicated, I would think that removing Env entirely and conditioning the portable build where required would make the most sense.  Leaving Env for a single field seems the lesser alternat

[2016-11-01 03:03] rprouse commented on #1876
.NET Standard has `Environment.NewLine` and `Directory.GetCurrentDirectory()`, but not `Environment.CurrentDirectory`

[2016-11-01 06:19] CharliePoole commented on #1876
This is so low-hanging, I decided to just do it.

[2016-11-01 08:43] NikolayPianikov commented on #1877
I've used Regex from @oznetmaster and I could add the nesting of any levels during 5 minutes if it needed. I agree it would be better to have one code base and it doesn't matter for me which code will be preferable. I am just interested in implementation of this feature.

So I would like to highlight some questions:

About requirements:
- We should clarify a list of requirements.
- Should we imple

[2016-11-01 09:31] CharliePoole commented on #1877
I support @oznetmaster 's proposal in PR #1856:

"I guess I am recommending we leave at least one level of nesting (currently my code has two - it is only a constant), and remove the alternative delimiter. Then modify the console code to support the same syntax."

I think this is a minimum fix that will keep users from getting confused.

As already stated, I don't support trying to make the code c

[2016-11-01 09:38] CharliePoole commented on #1877
I intended this to be in the Discussion pipeline when I created it but didn't put it there.

@NikolayPianikov Once we are done discussing and have decided on a course of action, we'll move it to the Backlog. Someone will decide to do it or we will pick someone. Then they will do it. :smile:

[2016-11-02 12:46] #1876 closed

[2016-11-03 02:01] debugosaurus commented on #1792
@CharliePoole Thanks for the feedback, your comments about using an outer array of object make sense and I think that's a crucial piece of the puzzle in my understanding the behaviour of test case data.

From the feedback so far and re-evaluating my PR I'm more inclined to think that extending the use-cases may be undesirable - as it puts more burden on NUnit to guess / figure out intent at the ex

[2016-11-03 12:06] jocasofer opened #1879 "RetryAttribute - number of effective runs"
Hi all,

Is it possible to get the number of times a test has been executed until it succeeded?
In the report, I can only find the total retries, as specified in the test.
But if I specify 5 retries in the test and the test succeeds on the second execution, I would like to see a 2, not a 5. Or see
`<property name="Retry" value="5" />
<property name="Runs" value="2" />`
Is this possible?
Thanks.

[2016-11-03 14:46] CharliePoole commented on #1743
While working on the implementation of #391 I realized that we resolved the question of a new, enhanced format using `<assertion>` elements but left a couple of things are unresolved regarding compatibility with existing usage, so I'm re-opening it to discuss those points a bit further.

Following the specification, my working code currently concatenates all the messages from all the asserts that

[2016-11-03 16:00] CharliePoole commented on #1879
Seems like a reasonable idea and easy to implement. I'd like to get some feedback on what to call the property, since we may re-use it for other kinds of repeated tests. What do @nunit/contributors think?

[2016-11-03 16:24] constructor-igor commented on #1879
Let's check other scenario: when code contains "random" bug and developer wants to execute a test many times till the test will fail.
In the case, developer defines number of retries and wants to stop the test after first fail.

[2016-11-03 16:36] CharliePoole commented on #1879
@constructor-igor That sounds like RepeatAttribute, with added ability to stop on first failure, rather than retry attribute, which aims to run until it is successful.

I guess we have possibility of
* Fixed number of repetitions (Repeat)
* Repeat until successful (Retry)
* Repeat until it fails (Repeat with an extra property or some new attribute)

I like the idea of repeating until some conditio

[2016-11-03 20:52] JustinRChou commented on #1879
Should there be a default timeout for "Repeat until it fails" or is that up to the user?

[2016-11-03 21:07] CharliePoole commented on #1879
I think you would have to specify it, just as you do now for Repeat.

[2016-11-03 21:38] constructor-igor commented on #1879
[Retry] and [Repeat] tests don't show actual number of starts in result xml report.
Probably, it's possible write it to report.

Also, I use Repeat test to find problematic input. So, then test fails I want to see the input on report xml file.
For example:
[code]
In the case, nunit can output value of input parameter for failed test to xml report file.

[2016-11-03 22:04] CharliePoole commented on #1879
@constructor-igor Well, no it's not in the report because that's what this issue is asking for!

Generating a different random per test case is an interesting idea but the C# syntax for attributes would not let you do it. Currently, you can either simulate it with code in the test...

[code]

...or you can use a TestCaseSource and generate the arguments with a random.

BTW, if you want repeatabili

[2016-11-03 22:39] constructor-igor commented on #1879
For example, I have a production code, which sometimes fails and I want to find input value, when it happens.
I prepare synthetic test.
[code]
If the production code passed, nunit created next report
[code]
When the test failed, nunit created next report:
[code]
In the case, I cannot find in report
1. number of iterations and
2. **value of input parameter when production code failed**.
Thus, I hav

[2016-11-03 22:41] remcomulder commented on #1743
I think that it should be possible to design the new format in a way that allows existing runners to keep functioning, while giving space for new runners to easily plug into the format.

For me, the ideal way to handle an existing runner (which has no knowledge of multiple results/assertions) would be to concatenate the results together in the same way as you've described, and use the stack trace

[2016-11-03 23:28] CharliePoole commented on #1879
@constructor-igor First off, if you want to enhance repeat, you should probably start a new issue, :smile:

However, the scenario you describe is handled pretty well by the Random attribute...

[code]

[2016-11-03 23:44] CharliePoole commented on #1879
Bringing us back on topic, I looked more closely at the RetryAttribute and I see this isn't such an easy fix as I thought. The complication is that TestResults don't have properties, tests do. We would have to invent the notion of ResulltProperties in addition to properties on tests. Not rocket science but definitely a new thing to add. It might, in fact be useful for other things.

[2016-11-03 23:44] oznetmaster commented on #1771
In reviewing @CharliePoole comments, I have removed (made obsolete) TestMethodParameterName from the TestParameterAttribute, so it no longer plays any role in providing data to the test method.

I have added a TestParameterValueAttribute, which is only applicable to the test method parameter, and works similarly to the RandomAttribute in providing data to that parameter, in this case one or more t

[2016-11-03 23:52] oznetmaster opened #1880 "AttributeUsage for various Attributes"
I have noticed that many the attributes do not have the AttributeUsageAttribute applies to them.

For instance, the RandomAttribute, which only applies to a parameter, is not constrained by an AttributeUsageAttribute with a AttributeTargets.Parameter flag set.

It seems like it should be.

I have not examined all of the attributes, but there may be others that are not constrained that should be.

[2016-11-03 23:57] CharliePoole commented on #1880
Indeed. We may fix some of these as we work in the code but at some point somebody should make them all explicit.

[2016-11-04 00:18] oznetmaster commented on #1771
Also note that the TestParameterValuesAttribute is unrelated to the TestParameterAttribute.

It might be useful to consider each of them independently.

[2016-11-04 00:23] rprouse commented on #1743
I like @remcomulder's suggestion. I am reluctant to introduce a new format. NUnit 3 has been RTM for a couple of years now and in pre-release for a very long time, but many third party tools are just catching up and releasing support. I don't think we want to put our users through that again if we can help it.

[2016-11-04 00:26] oznetmaster opened #1881 "Data type conversion"
In many places, the Convert.ChangeType method is used to convert the type of an object to a desired type.

This works fine for the base types (Boolean, Char, SByte, Byte, Int16, Int32, Int64, UInt16, UInt32, UInt64, Single, Double, Decimal, DateTime and String) and for user-defined types that implement IConvertible.

However, for all other types, a TypeConverter needs to be used.

NUnit currently

[2016-11-04 05:33] oznetmaster opened #1883 "TestCaseSource with Test Method with params arguments"
I thought I had seen this issue raised, but I cannot find it.  If this is a duplicate, I apologize.

If I have a test method:

Method (int arg1, string arg2, param object[] arg3)

I would hope to be able to past it an object from a TestCaseSource like:

new object[] {1, "abc", obj1, obj2, obj3, ...}

However, that results in a "Too many arguments provided" error.

Shouldn't TestCaseSourceAttribute

[2016-11-04 05:39] oznetmaster commented on #1880
The only attribute missing this appears to be the RandomAttribute

[2016-11-04 09:19] jocasofer commented on #1879
Ok @CharliePoole , thank you for your feedback.
So, we can expect this feature to be implemented in a future release, but not anytime soon, right?

[2016-11-04 09:44] ChrisMaddock commented on #1883
Looks like it was just a PR without the issue. :smile: https://github.com/nunit/nunit/pull/1850

@cPetru - how's this going, do you manage to get things building in the end? Would be great to get this all untangled for the next release! 👍

[2016-11-04 09:52] cPetru commented on #1883
I had a small vacation. I will resume working on this issue, hopefully over
this weekend.

Pe 4 nov. 2016 10:44, "Chris Maddock" <notifications@github.com> a scris:

[2016-11-04 10:50] ChrisMaddock commented on #1883
@cPetru - Great, enjoy! The next release is a few months away, there's no rush. 😄

[2016-11-04 12:13] rprouse commented on #1879
@jocasofer this issue is in the backlog, so anyone is welcome to work on it and submit a PR. Nobody is working on it though and it is marked low priority, so I don't think the NUnit team will get to it soon unless one of us has a need for the feature. We tend to work in priority order.

[2016-11-04 13:49] jocasofer commented on #1879
Ok, let's hope someone else needs this :)
Thank you for your feedback @rprouse

[2016-11-04 17:22] CharliePoole commented on #1879
Because it's a low-priority feature that turns out to require a new field in the TestResult class (because results do not have properties) the most likely way it will get done is if we accumulate other feature requests that require the same thing.

[2016-11-04 22:01] oznetmaster opened #1885 "Test parameter containing a semicolon"
Currently, the --p (--params) command line option uses the semi-colon as a separator.  This makes it difficult to have a parameter containing a semi-colon,

I thought that using multiple --p option would work, but internally, all of the parameters are still  concatenated together using a semi-colon as a separator.

The external interface should not be changed.  However, the internal format (used t

[2016-11-04 22:08] oznetmaster opened #1886 "Support TestContext.Parameters.Get<xxx[]> ()"
I recently had occasion to want to pass an array of integers as a test parameter.

There is no problem doing so on the command line (--p:par1=1,2,3,4).

However, I then had to manually parse and convert that to an array of integers in the test.

Since Parameters.Get<> already knows how to do conversions to the requested type, it would be useful if that could be extended to allow Get<xxx[]>, which

[2016-11-04 22:09] CharliePoole commented on #1885
This is basically the same issue as nunit/nunit-console#23, applied in this case to nunitlite. Since a lot of discussion has already taken place there, let's keep that as the primary issue and port the fix here when it's done.

[2016-11-05 20:44] CharliePoole commented on #1877
OK... I don't see any action on this folks, so I'll lay out a proposal...

Let's allow a single level of nesting and remove the alternative delimiter as @oznetmaster suggested.

If this is agreed upon, then we need to
1. Add a single level of nesting to NUnit3-console.
2. Remove extra nesting level from NUnitLite
3. Remove alternative delimiter from NUnitLite

@rprouse @oznetmaster @NikolayPianiko

[2016-11-05 20:51] CharliePoole commented on #1883
@ChrisMaddock After reviewing an issue, you should close it (if rejecting) or add it to either Backlog or Discussion.

[2016-11-05 20:56] CharliePoole commented on #1872
Five days... anyone not commenting missed their chance. :smile:

Adding to backlog.

[2016-11-05 21:08] CharliePoole commented on #1872
@rprouse My idea for making it not compile works... but doesn't. :frowning_face:

That is, it does prevent `[TestCase()]` from compiling, but it turns out we need it for at least two reasons:

1. We use it for methods without arguments that have a return value.

2. We use it for methods with all the arguments optional.

So the error will have to be at run-time rather than compile-time.

[2016-11-05 21:17] oznetmaster commented on #1877
The number of levels of nesting in my code is a constant.  It is only there to eliminate the possibility of infinite recursion.  It serves no other function.

Removing the alternative delimiter is easy.

[2016-11-05 21:24] ChrisMaddock commented on #1883
@CharliePoole - Sorry, sometimes I use an app, which of course doesn't have Zenhub. Will try and remember to come back to things!

[2016-11-05 22:47] rprouse commented on #1877
Agreed to all points.

[2016-11-05 22:48] rprouse commented on #1872
Runtime is less than ideal, but a better error message will be an improvement.

[2016-11-06 00:25] CharliePoole commented on #1883
@ChrisMaddock I use OctoDroid so I understand the problem. I wish they were Zenhub-aware!

[2016-11-06 02:04] #1872 closed

[2016-11-06 02:09] CharliePoole commented on #1743
@remcomulder I don't think any of the options we are discussing require version detection - crazy or uncrazy. Elements are either present or absent.

If I am understanding you correctly, your proposal would include the message for each failure in the runtime three times: once under `<assertion>`, once under `<failures>` and once concatenated into the main failure message. Is that what you are sayi

[2016-11-06 02:33] remcomulder commented on #1743
@CharliePoole Sorry, I don't think I articulated this very well.  I wasn't trying to replace the <assertions> approach with <failures>, rather just trying to give an example of how the newly formatted assertion results could be kept separate from the existing reporting system to maintain backwards compatibility.  Trying to explain (or understand) an XML structure without examples seems to be quite

[2016-11-06 02:46] CharliePoole commented on #1743
@remcomulder Good point about showing the XML examples. I'll do the same...

Current structure is...

[code]

I was wondering if we could get away with

[code]

Am I wrong to think this would actually work for many processing programs?

[2016-11-06 02:50] CharliePoole commented on #1877
Replicating the issue for nunit-console

[2016-11-06 11:22] remcomulder commented on #1743
@CharliePoole Thanks for the example!  This is so much clearer now :)

I think that multiple 'failure' elements would be a risk.  We would then be making the assumption that runners are always accepting the first element in the set when processing results.  Under NCrunch, this is indeed the case, but you never know when people might be using .Single() instead of .First().

Also, when this XML is p

[2016-11-06 16:38] CharliePoole commented on #1743
@remcomulder You're right. The fact that it would only fail for some programs doesn't make it a viable solution. I'll stick with what we have.

@rprouse WRT introducing API changes, we decided that it was best to do it sooner - through a continuous dev build - rather than later. I'm just wondering if that wouldn't be the right approach for the XML format as well - having some format that dropped t

[2016-11-06 16:40] CharliePoole commented on #1743
With all that, I'm ready to re-close this without further changes at the moment. Any future changes to the `<assertion>` element will be additions, and so compatible.

[2016-11-06 16:43] rprouse commented on #1743
Looking at your XML helps, thanks. I agree and think we should close for now.

[2016-11-06 16:43] #1743 closed

[2016-11-06 16:48] CharliePoole commented on #1877
@oznetmaster I looked in the repo for your code, but didn't see it. I guess you are talking about your private build. Did you retain compatibility with external runners? That is, do you still pass a single string to the framework containing the parameter info, or are you passing a list?

[2016-11-06 16:55] CharliePoole commented on #391
Cool! It turns out you can add issues from multiple repositories to an epic!

[2016-11-06 16:58] CharliePoole opened #1889 "Modify nunitlite to display multiple assert information"
Currently, the nunitlite runner uses the single failure message created for compatibility in order to display the result of a test using multiple asserts. It should use the actual result of each assert to display both the message and stack frame.

[2016-11-06 18:30] oznetmaster commented on #1877
@CharliePoole not sure what you are asking.  This issue is about @filename, not parameters

[2016-11-06 18:55] rprouse commented on #1889
Do we need to do the same in the adapter and dotnet-test-nunit?

[2016-11-06 19:18] CharliePoole commented on #1889
Yes. The code should be capable of porting pretty easily among nunitlite, the console and dotnet-test-nunit, while the adapter poses special challenges. I thought I'd use nunitlite to set a standard for what the text-based display should look like and deal with the adapter last.

[2016-11-06 19:23] CharliePoole commented on #1877
My mistake - I had both issues open.

[2016-11-06 19:52] CharliePoole commented on #1889
I created issues for dotnet-test-nunit and nunit3-vs-adapter.

[2016-11-07 00:36] CharliePoole commented on #406
I'd like to come back to discussion of this issue. I just updated the spec at  https://github.com/nunit/docs/wiki/Warning-Level-Assert-Spec

Let's try to resolve whether we want to do this (I favor it) and if so pick a syntax and put it onto our backlog again.

[2016-11-07 00:46] oznetmaster commented on #1881
No thoughts on this?

[2016-11-07 00:46] oznetmaster commented on #1886
No thoughts on this?

[2016-11-07 00:57] CharliePoole commented on #1881
Duplicate of #89?

[2016-11-07 01:01] CharliePoole commented on #1886
I don't see it as an extremely high priority. If you implemented it, would you limit it to arrays of those types we already support? How would you handle decimal representations in languages that use a comma to separate the decimal part?

[2016-11-07 01:12] rprouse commented on #1886
I also think this is fairly low priority and might even be inclined to decline the feature as it becomes a slippery slope of supporting more and more types. If I needed this sort of thing in my tests, I would likely just add a string extension method to my test project to split the string and return the array.

[2016-11-07 01:35] oznetmaster commented on #1881
Related, I guess.

Certainly applies to TestCase, but also to Parameters.Get<>, TestValues, and many other places.

Since Cf is no longer an issue, TypeConverter should be a solution that would work in all builds.

I use it in my CF build wherever Convert.ChangeType is currenty used.  I check if Convert.ChangeType is applicable (through a global HashSet of convertible types), and if not, then try

[2016-11-07 01:38] oznetmaster commented on #1886
I use the current culture to obtain the list separator character.  That solves the decimal problem.

Since I support all types that can be converted from string (see #1881), even custom user defined types are supported.

I have one test that takes a parameter containing an array of Point, for instance.

[2016-11-07 02:58] CharliePoole commented on #1881
We usually make better progress with issues that are narrower in scope. Maybe we should think about identifying one place where this change could be made profitably.

[2016-11-07 03:10] oznetmaster commented on #1881
I think that if its made, it needs to be made in those three places at the same time.

Otherwise, support for arbitrary types will be inconsistent.

In my CF build, most of the code was common anyway.

[2016-11-07 10:51] KrzysFR opened #1891 "TestContext.Progress and TestContext.Error silently drop text that is not properly XML encoded"
I upgraded my test cases from NUnit 2.x to 3.x and replaced all occurrences of `Console.WriteLine(...)` to use either `TestContext.Out`, `TestContext.Error` or `TestContext.Progress`. After doing this, I started to see random parts of the test output missing.

After some investigation, I found that both `TestContext.Progress` and `TestContext.Error` do not work well with text that is not properly

[2016-11-07 12:56] danieltharris commented on #1079
Is it no longer possible to install the Test Adapter via NuGet for v3? If not that's fine, I'll just add it to our documentation and indicate that the extension is a requirement for the relevant projects but I couldn't find a definitive answer.

[2016-11-07 12:58] rprouse commented on #1079
@danieltharris you can still install the adapter for the projects, but you need to use the new v3 adapter, not the old adapter. Remove the NuGet reference for `NUnitTestAdapter` and add one for `NUnit3TestAdapter`

[2016-11-07 13:02] danieltharris commented on #1079
@rprouse Thanks I've found that now and got it working. It's much easier this way versus VISX extensions. Glad it's still possible with v3. Not sure how I missed the package in the NuGet explorer the first few times

[2016-11-07 13:23] rprouse commented on #1891
Excellent report, thanks. This should be a fairly easy fix, we just need to ensure that if we encode the output that it is getting decoded in the runners.

[2016-11-07 13:48] szczechu commented on #1826
No static directory have to be set.
I changed Page Object to use only Selenium native methods instead of Appium.
Now I have to copy manually WebDriver.Support.dll into Resharper or Visual Studio (for Nunit 3 Test Adapter). After that tests are running with success.
If Nunit 3 Test Adapter and Resharper have same issue then tis is not an Appium problem.
Same Dll is referenced in test project in Vis

[2016-11-07 14:24] KPKA commented on #164
@CharliePoole is there any update to this issue?

[2016-11-07 15:07] NikolayPianikov commented on #1877
I agree with it

[2016-11-07 15:19] KrzysFR commented on #1891
If the decoder is using an XML parser, then decoding is probably already done automatically.

For the moment, I'm doing a very crude workaround by using the following helper method:
[code]

This is of course not a proper fix, but is sufficient for my test cases . Ideally, a proper XML encoder should be used instead, though I'm not sure if there is an efficient way, in the BCL, to do that without a

[2016-11-07 15:52] rprouse commented on #164
@KPKA we haven't started work on this yet, so there is no update. For users with ZenHub installed, you will see this issue move from Backlog to ToDo then In Progress as we start working on it.

[2016-11-07 16:55] CharliePoole commented on #164
For non-users of Zenhub, you will be able to tell when somebody picks it up by watching who is assigned to the issue.

[2016-11-07 16:57] CharliePoole commented on #1877
The issue is duplicated for nunit-console as nunit/nunit-console#126.

Both issues are available for somebody to self-assign.

[2016-11-07 17:00] rprouse commented on #1826
@szczechu is the `WebDriver.Support.dll` in your test directory? What errors do you see in the Visual Studio output pane under Tests when running using the Visual Studio Adapter?

[2016-11-07 20:48] CharliePoole commented on #1891
@KrzysFR I am unable to replicate the problem. All special XML characters display correctly for me.

Can you tell us how you are running your tests? NUnit3-console? NUnit3 VS adapter? etc.

[2016-11-07 20:49] CharliePoole commented on #1891
Additionally, please tell us what version of framework and runner you are using.

[2016-11-07 20:57] KrzysFR commented on #1891
I'm using mainly ReSharper 2016.2 in VS2015 which seem to have its own "test adapter" gui. I'm also testing using the latest version of TestDriven.NET which dumps the result in the output console, with same behavior.

I have installed the NuGet packages for NUnit 3.5.0, as well as the NUnit.ConsollerRunner 3.5.0 which I use with TeamCity for CI.

I don't have any other "NUnit Test Adapter" or equi

[2016-11-07 21:55] CharliePoole commented on #1891
OK, I have replicated this using the NUnit 3.5 Console Runner. Oddly, it works correctly when running under NUnitLite, but with the console runner, the line disappears entirely as you reported. This leads me to suspect that the lack of encoding in `TestOutput.ToXml` that you pointed out is not the sole cause.

That said, I think the Text field should be a CDATA section, as it is for standard outpu

[2016-11-07 22:36] CharliePoole commented on #1891
Ah! Of course the reason for the discrepancy is obvious. There's no XML encoding / decoding involved when using NUnitLite because it references the framework directly.

[2016-11-08 06:42] frankshearar commented on #632
The magic required is that nunit3-console has to somehow configure the IntelliTrace instrument provider. This I know from nothing, but I'm digging around a bit to see if I can find out what needs doing. (That's not a promise to implement the feature: I will share what I learn, and if I can spare the cycles would love to take a run at the issue.)

[2016-11-08 07:59] szczechu commented on #1826
This DLL is in ..bin\Debug catalog after solution build.
After using native selenium PageObjects NunitTestAdapter is running tests with success.

When creating page:
`        public static TPage GetMobileAppPage<TPage>() where TPage : new()
        {
            var page = new TPage();
            PageFactory.InitElements(Android.Driver, page, new AppiumPageObjectMemberDecorator());
            re

[2016-11-08 09:40] #1891 closed

[2016-11-08 13:05] JornWildt opened #1893 "Cannot load configuration file"
I am trying to get nunit3-console.exe to load a specific configuration file as described here: https://github.com/nunit/docs/wiki/Configuration-Files. The idea is to use on single config file for many assemblies through the use of a .nunit project file.

I have "ServerTests.nunit" and "ServerTests.nunit.config" and the console runner is started as:

    nunit3-console.exe ServerTests.nunit

or

[2016-11-08 13:14] JornWildt commented on #1893
I am trying to use configFile="ServerTests.config" in the .nunit project file too - without any success.

[2016-11-08 13:29] rprouse commented on #1893
I have assigned a confirm label on this for the team to look at. The feature is not used much and we don't have integration tests for this, so it may have become broken.

[2016-11-08 16:56] CharliePoole commented on #1893
IIRC, we no longer use the default "project.nunit.config" in NUnit 3, which would make the doc page we copied from NUnit V2 incorrect at this point. This needs to be confirmed.

The nunit-project-loader extension does return a package with the configuration file set from what is in the project but we need to check to see whether the framework honors what is passed.

If we find that the framework i

[2016-11-08 16:58] #1889 closed

[2016-11-08 17:08] #1866 closed

[2016-11-08 17:11] CharliePoole commented on #1893
One possibility here would be to allow an override of the config file on the command-line - although we should honor what's in the nunit project file if not overridden.

@JornWildt has also asked about this on SO, where he mentions the nunit adapter as well. Of course, the adapter can't load nunit project files but only loads what VS tells it to load. We could add a setting to the `.runsettings` f

[2016-11-08 17:23] CharliePoole commented on #632
@frankshearar Thanks for your support. We'll be glad for anything you can dig up.

[2016-11-08 23:40] CharliePoole commented on #1771
@oznetmaster You re-opened this without explanation. If it was intentional, would you add one?

[2016-11-09 00:01] oznetmaster commented on #1771
I reopened it because I addressed the issues raised by both you and @rprouse, and it seemed like that justified a reconsideration of each of the two pieces.

[2016-11-09 08:38] JornWildt commented on #1893
That would certainly work too. What ever works, I'll take it :-) It is rather troublesome to maintain one test X.config for each assembly X - when it could all be put into one single shared config file.

And, yes, the nunit adapter is an issue too and I do see that it can be difficult here. If only the new GUI runner could use .nunit project files like the old one then I would be happy - running f

[2016-11-09 08:40] JornWildt commented on #1893
That would help, but unfortunately we do have solutions that contain many different test projects that would need different .runsettings files (or, rather, different .config files).

[2016-11-09 08:54] CharliePoole commented on #1893
@JornWildt Bear in mind that there is as yet no production release of an NUnit 3 GUI at all! Whatever features it had or doesn't have, if we the developers are telling you it's not ready for production use, I think it makes sense to pay attention!

WRT the adapter, we are limited by the VS architecture, which has no provision for separate setting files other than the nunit per-assembly default. Ho

[2016-11-09 09:00] JornWildt commented on #1893
I know :-) I did compile it myself from GitHub to see how it worked.

So the conclusion is that NUnit 3 has no way of supporting shared config files as it is today, right? The GUI-runner is not ready and neither the console runner nor the nunit adapter supports it. That is unfortunate but not a show stopper. We *really* need NUnit 3 for testing async code :-)

[2016-11-09 09:24] JornWildt commented on #1893
I'll see if some creative app.config copying in the build process solves it.

[2016-11-09 15:00] oliverhanappi opened #1895 "LogicalCallContext lost with async SetUp methods"
In NUnit 3.5.0 running on .NET 4.5: The logical call context set during async SetUp methods is lost when running tests. See the following failing unit test `PreservesLogicalCallContextOnAsyncSetUp`. Note that `PreservesLogicalCallContextOnSyncSetUp` works without problems.

    [TestFixture]
    public class LogicalCallContextTest
    {
      [SetUp]
      public void SyncSetUp()
      {
        C

[2016-11-09 16:10] psandhu79 opened #1896 "Test has passed however Reason with an empty message is printed in the xml"
[code]

This when imported into TeamCity reports a failure

[2016-11-09 16:18] rprouse commented on #1896
The fact that TeamCity reports a passed test as a failure is a problem that should be fixed there. @NikolayPianikov any comments on that? What about `Assert.Pass("Message")`?

@psandhu79 can you give us a code example of a test that displays an empty message?

[2016-11-09 19:34] psandhu79 commented on #1896
@rprouse Thank you looks like a bug in TeamCity found this
https://youtrack.jetbrains.com/issue/TW-15717

However the tests pass in Nunit 2 for teamcity and fail in Nunit 3 i am guessing its a regression in the Nunit importer for the xml

[2016-11-09 20:08] CharliePoole commented on #1896
Even if it is not the cause of the TC errror, NUnit should not be creating an empty reason element under any circumstance. We need to confirm whether this happens, and when, and fix it.

Based on the TC issue, it appears to happen when AssertPass is used. We should check out Assert.Pass both with and without a message.

[2016-11-09 20:51] psandhu79 commented on #1896
TC reports a failed test either with Assert.Pass() or Asset.Pass("No exception should occur until this point with current setup")

With a message the reason element contains the message

[2016-11-09 21:03] CharliePoole commented on #1896
There should only be a reason element if there is a reason. Of course, TC should deal with it anyway, but we should fix our output as well.

[2016-11-09 21:46] tenwit opened #1897 "EqualTo().Using() prevents caller from comparing strings to anything else"
Given a suitable `DateTimeComparer` class that converts `IConvertible` objects to `DateTime`, I expect this code to not throw an assertion:
[code]
But it does, because `Using(DateTimeCompare.Instance)`  returns either a `ComparerAdapter` or an `EqualityComparerAdapter`, neither of which override the default implementation of `CanCompare`.

Since the person writing the test is taking responsibility

[2016-11-09 22:16] rprouse commented on #1897
Thanks for the detailed report. I've labeled and moved to the backlog.

[2016-11-09 22:36] tenwit commented on #1897
I've confirmed that I can build NUnit and have locally added this test to `NUnit.Framework.Constraints.UsingModifier`:

[code]
It is failing correctly (that is, the last line is throwing an assertion). I can claim this issue if you like and submit a pull request later today.

[2016-11-09 23:38] ChrisMaddock commented on #1897
Have assigned it to you @tenwit, sure it would be welcome!

[2016-11-09 23:40] tenwit commented on #1897
I've reviewed all uses of `Using()`, `NUnitEqualityComparer`, `EqualityAdapter.For` and `CanCompare`. As far as I can tell, `CanCompare` is used only when the person writing a test calls `Using`. And I posit that every time that happens, `CanCompare` should return true.

Reducing that, my solution would be to remove `CanCompare` and change `NUnitEqualityComparer.GetExternalComparer` to return the

[2016-11-10 00:11] CharliePoole commented on #1897
@tenwit Bear in mind that Using may not be applied at the top level of a comparison. For example, if you are testing that a certain collection contains an item equal to an expected value, the equal comparison is performed on the individual items. In theory, this sort of nesting can be to any depth.

As another example, imagine comparing two object arrays for equality. The object arrays contain str

[2016-11-10 00:30] tenwit commented on #1897
Ok found the requirement by searching all the .md in nunit/docs.wiki:

Which describes what @CharliePoole said above.

In investigating the comment "multiple generic comparers for different types may be specified", I changed my comparer from this:

[code]
to this:
[code]
and the generic equality comparer supports my use case (that is, test "CanCompareUncomparableTypes" mentioned earlier changes fr

[2016-11-10 01:58] tfabris commented on #1062
This was marked as closed:done in November 2015. I just ran into this issue in November 2016 with version 3.5 of Nunit. Console.WriteLine from inside [OneTimeSetup] and [OneTimeTearDown] does not produce output, but Console.WriteLine from inside [Test] does produce output.

Is this expected to have been fixed?

[2016-11-10 02:57] CharliePoole commented on #1062
This issue was the start of the discussion that eventually led to the provision of immediate output.

To summarize, NUnit supports two kinds of output: standard and immediate.

Standard output is produced using Console.Write and TextContext.Write. The text is attached to the test result.

Immediate output is produced by Console.Error, TextContext.Error and TextContext.Progress. It is displayed imm

[2016-11-10 03:20] tfabris commented on #1062
Thanks! I'll try TestContext.Progress.WriteLine() as a work-around. That will write to STDOUT instead of STDERR, correct?

[2016-11-10 04:52] CharliePoole commented on #1062
The console runner uses stdout to write everything that comes from a test, so it goes to the console screen unless you used a command-line option to redirect it. In the case of error output, it displays in red.

[2016-11-10 07:33] oznetmaster commented on #1830
Any progress on getting the console version of this merged?

[2016-11-10 13:56] KrzysFR opened #1899 "Constraint Throws.Exception does not catch exception with async lambdas"
After converting tests from NUnit 2.6.4 to 3.5.0, a few of them starting failing for no reason. After a quick diagnostic, all of them use the constraint `Throws.Exception` with an async lambda (don't care about the actual exception type, just checking that it fails on invalid input).

The behavior is that the test case fails by throwing the actual Exception, instead of catching it.

I have other p

[2016-11-10 14:25] rprouse commented on #1899
Thanks for the report and reprol. We will look into it.

I initially thought is that your lambda is `async void` and therefore we cannot await it properly, but that is not the case. I have confirmed your issue and tried several variations. As a workaround, change to `Throws.InstanceOf<Exception>()`.

I initially prioritized this as High, but I am going to lower that because we recommend that peopl

[2016-11-10 14:42] KrzysFR commented on #1899
That's what I did to fix my tests.

The real issue here would be for people converting from 2.6.4 or older,  that will probably spend a few minutes wondering why some tests fail all of the sudden. Hopefully they will find this issue and apply the workaround.

The words "not a recommended practice" can be interprented as "it works, but it's ugly" by some. Also, I confess that I did not read again A

[2016-11-10 14:46] NikolayPianikov commented on #1896
@psandhu79 it looks like a bug in the TeamCity xml parser for NUnit. I will check it

[2016-11-10 14:50] KrzysFR commented on #1899
While I'm at it, a quick question about async lambdas:

The two async tests in the repro above do show the compiler warning `This async method lacks 'await' operators and will run synchronously. Consider using the 'await' operator to await non-blocking API calls, or 'await Task.Run(...)' to do CPU-bound work on a background thread.` because they don't have an await in their body (the only await is

[2016-11-10 15:12] rprouse commented on #1899
We recommend not using `Throws.Exception` alone, but that is only a best practice and as you say, it should work with async. I lowered the priority only because it is hopefully not widely used.

As for your question about the warning on your async tests. You don't need `async Task` on your tests. `Assert.That` is not async and we handle executing your lambda within an async invocation region withi

[2016-11-10 15:13] CharliePoole commented on #1830
This is issue nunit/nunit-console#24 and PR nunit/nunit-console#124, which are still being worked on.

[2016-11-10 19:19] nadvolod commented on #796
Hello all,
Was this issue ever resolved? From everything that I read, seems like it's still open. Or is there a work around? I'm running into this issue now and it's a bit frustrating as I can't read any data from my tests. Thanks for all your help in advance :+1:

[2016-11-10 19:32] CharliePoole commented on #796
It was triaged and added to our backlog, which is where it remains. You can see most of this if you view the issues online on GitHub, since we use labels to categorize them.

[2016-11-10 19:44] nadvolod commented on #796
I'm actually looking at it on Github. But I guess now I see the enhancement and normal priority Labels. I just wasn't sure if those Labels would change if this issue was fixed.

Do you know of a possible work around for being able to read properties from the methods?

[2016-11-10 19:48] CharliePoole commented on #796
Tracking on GitHub, you'll eventually see it moving assigned to somebody who may leave comments about progress. Additionally, if you have ZenHub installed, you'll see it move from Backlog to To Do to In Progress and finally Done.

The simplest workaround would be to use a OneTimeSetUp method to store the value of the property in an instance variable. When you are in that method, you are running in

[2016-11-11 09:23] deepak--sharma opened #1900 "Do not add failed tests to Test Result XML"
Below is my call to Nunit3 tests in MSBUILD
**_<NUnit3 ContinueOnError="WarnAndContinue"  Workers="1"  TextOutputFile ="E:\Logs\tests\TestResult.txt" OutputXmlFile="$(ProjectTestDir)\TestResults.xml;format=nunit2"
           Assemblies="@(TestAssemblies)"  Process="Single" ToolPath="$(NUnit3Dir)" Where="cat == Sequential"  />_**

As I'm using ContinueOnError="WarnAndContinue" feature, I want my bu

[2016-11-11 14:20] psandhu79 commented on #1896
@NikolayPianikov could you please update this bug
https://youtrack.jetbrains.com/issue/TW-15717

If possible attached a new xml plugin and i can test

[2016-11-11 16:54] CharliePoole commented on #1900
First off, NUnit has no knowledge of the script that calls it. So nothing in that script can affect how NUnit works unless the script also passes the info - perhaps as an argument - to NUnit.

More importantly, NUnit does not have an option to exclude failed tests from the XML file and we would not accept a request to do so. The test result file is intended to report what actually happened and sho

[2016-11-11 16:54] #1900 closed

[2016-11-11 17:11] deepak--sharma commented on #1900
Yes, makes sense now. But still I would want to delete failed tests nodes which I'll do it manually using xpath because I want error messages to be suppressed as I'm using WarnAndContinue, anyways thanks!

[2016-11-11 23:30] CharliePoole commented on #1900
Well, before you go to the trouble, are you  talking about the error messages that are displayed by the console runner? Is that what the msbuild task runs? I ask because those messages are produced before the file is ever created. IOW, make sure that whatever you are trying to suppress is actually affected by the content of the XML file.

Frankly, it may be simpler to change your tooling and run c

[2016-11-14 06:25] deepak--sharma commented on #1900
Nope I'm not talking about console errors. Here is my story:-

I'm running nunit 3 tests from a build step onTeamCity. There are a few flaky tests that break at times intermittently and they get successful when re-ran. So what we have done is used the ContinueOnError="WarnAndContinue" in Nunit 3 task, this suppresses the 1st attempt failures and proceeds to run remaining tests. Now the failed test

[2016-11-14 06:36] CharliePoole commented on #1900
And RetryAttribute won't work for you? If not, it could be because those tests should not be run in parallel. Things to try:
 * [Parallelizable(ParallelScope.None)] on the fixture
 * --workers=0
 * [Retry(some number)] on the test
 * Combinations of the above

[2016-11-14 06:37] CharliePoole commented on #1900
Bottom line, it seems to me in your best interest to actually solve the problem that requires you to rerun the test rather than ignoring the first failure.

[2016-11-14 10:35] GrimaceOfDespair commented on #1062
I'm experiencing a similar issue. I've got a static constructor, which can throw an exception, resulting in:
[code]

I'm trying to use TestCases based on the outcome of that static constructor:
[code]

None of the `Custom message`s end up in my Visual Studio test console.

[2016-11-14 12:49] NikolayPianikov commented on #1896
@psandhu79 I can't reproduce this issue. Could you attach nunit xml report file?

[2016-11-14 13:01] CharliePoole commented on #1062
Our advice on test class constructors has remained the same for many years.
They should be very sparse if they exist at all. Remember that NUnit makes
no guarantees as to when or even how many times your class is constructed.
That's why the various setup methods exist.

In your case, there is the added problem of trying to use TextContext at a
time when no test is being executed. That output is si

[2016-11-14 15:11] NikolayPianikov commented on #1896
@psandhu79 Looks like this issue was fixed in TeamCity 10.0.3
So try upgrading to this version

[2016-11-14 17:12] GrimaceOfDespair commented on #1062
Ok, clear. Sorry for having disregarded these apparently long lasting guidelines, so thanks for your patience on that :)

By the nature of the error message, I was under the impression that under the hood, OneTimeSetup would result in the same behaviour as a static constructor. Deducting from that, I was expecting some data in the output, if it wasn't for the fact that the exception details _do_ e

[2016-11-14 18:55] rprouse commented on #1062
@GrimaceOfDespair you are using `TestCaseSource` incorrectly. I assume that your static constructor is being used to initialize your `TestCaseSource`. That works, but most people make the `TestCaseSource` a property or method that contains the code that you have in your static constructor and then `yield return` the results.

Another small tip, if you have the `TestCaseSource` on a test, you don't

[2016-11-14 19:17] tfabris commented on #1062
I tried using TestContext.Progress.WriteLine() and I get the same result: I only get ouput from the [Test] methods and no output from the [OneTimeSetUp] and [OneTimeTear Down] methods.

[2016-11-14 19:37] DanLomanto opened #1902 "Unable to get property on a test's class when properties are specified on a test within the class."
I have a class\test that looks like below, but when I go to read the Properties of the Test via it's context, i'm only given the "Retry" property when I was hoping to see the Category that was specified at the class level as well.  I've figured out that if I remove the Retry property from the test that I'm then able to see the Category from the class decorator. So it appears that the properties ar

[2016-11-15 01:29] CharliePoole commented on #1902
Duplicate of #796