[2020-06-07 19:29] CharliePoole commented on #3579
@Denis535 In the past, working on the adapter, I've had bugs reported against this behavior (one test case with multiple results in Test Detail). What's now in the adapter is a result of many compromises.

Keep in mind that Test Explorer receives no information directly from NUnit. It's all created by the adapter based on what NUnit sends but massaged to fit.

"Fixing" the adapter by changing NUni

[2020-06-07 19:29] mikkelbu commented on #3579
I thought that the Test explorer would give "A test with the same name '....' already exists. This test is not added to the test window." (at least we have some issues about this in the adapter repo and in other places). The Test Explorer used to do this when encountering tests with the same name, see e.g. nunit/nunit3-vs-adapter#78 or nunit/nunit.analyzers#81, but it can be with their change to F

[2020-06-07 19:33] Denis535 commented on #3576
You mean a such case?
[code]
Yes, this can be interpreted in two ways:
1) type is argument.
2) type is generic.

But can't this be checked by comparing the number of parameters and arguments?
In the previous example type is argument.
In the next example type is generic.
[code]

[2020-06-07 19:37] CharliePoole commented on #3579
@mikkelbu I'm kind of surprised that you guys don't immediately move issues like this. I shouldn't because I'm not part of the framework project, or I would have done it. @OsirisTerje is very responsive on his project but we know he doesn't follow this one. I think those of you who work on both follow both, so no problem there.

[2020-06-07 19:45] CharliePoole commented on #3576
If the team wanted to do that, it's possible. Past philosophy was to give errors whenever there is ambiguity.

I spent a long time on getting fixture arguments to work. There were corner cases where there was not enough info to decide. Test cases are a bit different but I think that's still the case. Off the top of my head, optional args and params arrays come to mind.

[2020-06-07 19:52] jnm2 commented on #3576
Here's another example of an ambiguity:

[code]

[2020-06-07 19:58] Denis535 commented on #3576
Okey. How to set up generic types is a topic for other issues: https://github.com/nunit/nunit/issues/1215 and https://github.com/nunit/nunit/issues/2562
I think this issue should be closed.

[2020-06-07 19:58] #3576 closed

[2020-06-07 20:30] mikkelbu commented on #3579
I wanted to be sure exactly what the user requested and also that it was useful for more people than just the user who requested it.

If we do this entirely in the adapter, then at some point we will probably get get question on why this behave differently in the console or in TestCentric.

[2020-06-07 21:36] mikkelbu commented on #3352
Disclaimer, I have not worked on this area of the the code and have never used the events. That being said I think the two cases should be handled consistently. Regarding the "empty" start-time and end-time, then it sounds like a duplicate of nunit/nunit#2339 - or at least a very similar issue.

[2020-06-07 21:46] CharliePoole commented on #3576
@Denis535 I'm surprised. As compared to the other two, which need design, this is something we solved once already! Your call, however.

[2020-06-07 22:00] jnm2 commented on #3576
Isn't https://github.com/nunit/nunit/issues/2562 an exact duplicate?

[2020-06-07 22:14] CharliePoole commented on #3576
I guess it is! I saw that it was still labeled as needing design and didn't read through it again. The original requester asked to do a PR but that was going on three years ago!!!

[2020-06-07 22:33] Denis535 opened #3580 "How to make TestCaseGenericAttribute and TestCaseGenericSourceAttribute?"
Because NUnit still hasn't way to set up generics, I decided to do it myself.

`TestCaseGenericAttribute` is simple. Only you should have excess type argument.

    [TestCaseGeneric( typeof( int ), 777 )]
    [TestCaseGeneric( typeof( int ), "777" )]
    [TestCaseGeneric( typeof( object ), "777" )]
    public void Test_00<T>(Type _, T value) {
        Console.WriteLine( typeof( T ) );
        Cons

[2020-06-07 23:00] CharliePoole commented on #3580
Here's the start of the code block that does it for TestFixtures: https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Internal/Builders/NUnitTestFixtureBuilder.cs#L101

[2020-06-09 13:46] Denis535 commented on #3580
`TestCaseSourceAttribute` is not very extensible. I was forced to write almost completely my own `TestCaseGenericSourceAttribute`. It works, but I don't like it. I could make some bug. Or it will not work in next versions of NUnit.
Original `TestCaseSourceAttribute`: https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Attributes/TestCaseSourceAttribute.cs

        private stati

[2020-06-09 13:50] Denis535 commented on #3580
I also noticed that this example doesn't work. I think it's due to https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Attributes/TestCaseSourceAttribute.cs#L200

    private static readonly IEnumerable<object> Args = new object[] {
        new object[2] { new object[0], 0 },
    };
    [TestCaseSource( nameof( Args ) )]
    public void Test(object[] obj, int i) {
        TestC

[2020-06-09 14:09] ddshpak commented on #3376
Very glad to see this is being worked on! Thanks!

[2020-06-09 15:02] jnm2 commented on #3569
In the next version of NUnit, you will see documentation clarifying these expectations on all Assert methods:

[2020-06-09 17:44] CharliePoole commented on #3580
`TestCaseSourceAttribute` isn't specifically intended to be extensible. However, the `TestCaseData` class, which is commonly used with `TestCaseSourceAttribute` is quite extensible. You can also provide your own data class, implementing `ITestCaseData`.

Before you ask... NUnit was written a long time ago, when it wasn't customary to seal many classes. Back then, the attitude was "You can try to e

[2020-06-10 23:23] CharliePoole commented on #3576
Well no, because (1) I didn't say that and (2) what I said is just one guy's opinion.

Because I no longer work on this project, I try to be very careful about the kind of comments I make. In this case,   I gave some history about why it works as it does and suggested a way to fix it as a relatively small change, with only a small chance of breaking anyone.

Of course the guys who actually work on

[2020-06-11 13:53] CimaCha opened #3582 "Nunit don't handle custom attribute"
I've created a custom attribute to process retry if an exception was caught. This attribute is a copy of retry attribute except one "if" statement:

[code]

And I use it in test like this:

`[Test, RetryOnException(2), Category("SmokeTests")]`

In debug mode, I can see that attribute is created, but the "Execute" method isn't called by Nunit

[2020-06-11 14:33] CharliePoole commented on #3582
Did you copy the attribute code from the current GitHub master or from the source code of the nunit release you are using? The latter would be the best way to go to match your version of NUnit but either one should work.

If you are sure that the `Execute` method is not being called, then its content is not relevant to the problem. Check if your `Wrap` method is being called.

If not, it means you

[2020-06-12 10:51] ColmBhandal commented on #2064
Rob The "Run Tests After Build" is there in VS2019 as far as I can see, but it still seems buggy. Still use the console runner. Thanks!

[2020-06-12 18:51] mwhelan commented on #3572
Hi, it's been 10 days and I haven't had a response. I would really appreciate it if someone could please suggest some options for setting the TestName for an inheriting class? Or perhaps just suggest the best place to implement this kind of behaviour?

Some ideas I've seen mentioned elsewhere:
- Create a custom attribute using something like StackFrame?
- Create a custom test name template?
- Give

[2020-06-12 20:10] mikkelbu commented on #3572
Currently, most of the answers, investigations, reviews etc. in all the NUnit repositories are done by approximately a handful of people in their spare time, so often the feedback be slow.

That being said of the alternatives that you list above then we don't support custom test name template as far as I know, replacing the TestName in the .trx file sounds hacky, so I would go for a custom attribu

[2020-06-12 20:13] mikkelbu commented on #3566
Hi @levifabi
Have you run into problems due to this, or have you just examined the code and spotted a possible problem?

[2020-06-12 20:18] mikkelbu commented on #3578
I still think we should support these versions. I know several companies that are stuck on old frameworks due to other constraints.

[2020-06-12 21:33] CharliePoole commented on #3572
Just a quick comment to supplement @mikkelbu as to why certain things don't work...

The test name is part of the test identity, which also includes the fullname and an id. All of those are set before the test starts to run and are tracked by NUnit. Once the test begins, they can't be changed. Nothing you do within the code of the test - including SetUp and TearDown - is allowed to actually change

[2020-06-13 01:30] mwhelan commented on #3572
@CharliePoole thanks for that extra context. It's helpful to know.

@mikkelbu apologies if I sounded like I was complaining. I really appreciate people giving up their time to help with open source. Your solution is exactly what I was looking for, thanks. I had tried using a custom attribute without getting it to work, but wasn't aware of NUnitTestCaseBuilder. Thanks!

[2020-06-13 02:15] #3578 closed

[2020-06-15 09:33] CimaCha commented on #3582
I copied code from the source code of the NUnit release:
[code]
On Windows 10

"Wrap" method isn't called too

[2020-06-15 11:35] CharliePoole commented on #3582
If Wrap is never called, then of course nothing can happen. Wrap will only be called if your custom attribute is referencing the same copy of the framework as the tests. The easy way to do this is to define the attribute right in the test assembly.

[2020-06-15 12:22] CimaCha commented on #3582
What do you mean by "define the attribute right in the test assembly."?? File with attribute created in the same project with tests.

[2020-06-15 15:16] CharliePoole commented on #3582
Exactly. Is that what you did?

All this info is necessary in order to try to replicate and confirm the problem.

[2020-06-16 10:13] CimaCha commented on #3582
The issue is resolved by restarting the computer. Rebuild project didn't help

[2020-06-16 10:13] #3582 closed

[2020-06-17 08:57] OlafVolafka opened #3584 "Failed tests are displayed as Error in NUnit Console Runner"
I have a test that correctly evaluate a failure but has a result displayed as Error (not Failed as expected). Is it possible there could be some error occured in TearDown method that is causing test result being stated as Error not Failed?

[2020-06-17 09:34] Denis535 opened #3585 "Why TestCase with "\uffff" argument doesn't work?"
[TestCase( "\uffff" )]
    public void Test_01(string value) {
        TestContext.WriteLine( value );
    }

After running this test stays white. Neither green nor red, just white. Why?

[2020-06-17 10:00] CharliePoole commented on #3584
That's possible. The stacktrace

[2020-06-18 04:54] CharliePoole commented on #3585
@Denis535 Perhaps you could give some info about what version of the NUnit framework you are using, what runtime you are targeting and what software you use to run the tests?

[2020-06-18 06:49] mikkelbu commented on #3585
From the text I guess that you are running the tests from VS, and VS have problems with special names. I think I've seen similar problems in the adapter project before.

[2020-06-18 09:50] Denis535 commented on #3585
NUnit 3.12.0
NUnit3TestAdapter 3.15.1
Visual Studio 2019 Version 16.7.0 Preview 2.0

It is strange that any other value is displayed as a square. But "\uffff" is displayed as it is.
![Tmp](https://user-images.githubusercontent.com/7755015/85005900-170f2000-b162-11ea-88f9-4d715d983027.png)

[2020-06-18 13:00] mikkelbu commented on #3585
@Denis535 This is a problem in the adapter, but if you update to 3.16.0, then it should work, if I read nunit/nunit3-vs-adapter#484 correctly. I'll transfer this issue to adapter repo, if it is still a problem in 3.16.0, otherwise I'll close this issue as solved.

[2020-06-18 13:38] Denis535 commented on #3585
Hmm... My `Package source` wasn't `All`. So, I didn't know that there is newer version))
But in 3.16.1 it still doesn't work ((

[2020-06-18 13:46] mikkelbu commented on #3572
@mwhelan No problem :). I'm closing this issue as answered.

[2020-06-18 13:46] #3572 closed

[2020-06-19 07:06] OlafVolafka commented on #3584
@CharliePoole Thanks for the answer.

[2020-06-19 21:04] #3584 closed

[2020-06-19 23:00] Denis535 commented on #3580
@CharliePoole I rewrite my attributes so that thay extend directly `NUnitAttribute`.
But now I have a little problems. Test Explorer can discover my tests only when solution is built. And he can forget only when solution is cleaned.
What I did wrong?

[2020-06-19 23:33] CharliePoole commented on #3580
Have you tested under either NUnitLite or NUnit-Console? That's the way to tell if the attribute is working correctly. If it works in those environments and doesn't work in Test Explorer, that could mean the adapter may need to do some extra work.

[2020-06-20 00:19] OsirisTerje commented on #3063
@jnm2  I do agree, but will this be done ?

[2020-06-22 10:18] akytsun commented on #2452
+1 too

[2020-06-23 08:07] mlidbom commented on #3270
Bumping this one since I have exactly the same need except that for me the storage providers are MySql, Postgre, SQL Server, and Oracle. Any tips would be greatly appreciated.

[2020-06-23 12:36] ChrisMaddock commented on #3270
How are you running your tests? If it's with the NUnit console, you might want to look at setting up 4 different config files, and specifying the different configs in an [NUnit Project FIle](https://github.com/nunit/docs/wiki/NUnit-Test-Projects).

[2020-06-23 12:58] mlidbom commented on #3270
Thanks for suggestion. If I was using the console that sounds like it would do the trick.
I'm using NCrunch ( https://www.ncrunch.net)  to run my tests though and I find it to be indispensable to be able to run my tests that way. I could not imagine giving that workflow up.

[2020-06-23 13:03] ChrisMaddock commented on #3270
Ah ok. I don't know myself how NCrunch integrates with NUnit - you may be better going to their support instead. Does it have any support for `TestParameters`? That would be another option.

[2020-06-23 13:13] mlidbom commented on #3270
I'm unaware of any NUnit feature not supported by NCrunch.
But I thought TestParameters were targeted to a single test or test fixture.
I have many hundreds of tests and I would really like to find a solution that does not require me to perform open heart surgery on them en masse.
Currently I am, reluctantly, trying the option of using a shared project ( shared source, not assembly: https://docs.m

[2020-06-23 13:15] mlidbom commented on #3270
This seems to work, but the multiplied virtually empty projects really are not making me happy. Neither is the additional build time. NCrunch having to build the entire test project once per provider does nothing good for the number of seconds it takes me to know if I broke something with the last change.

[2020-06-23 13:28] ChrisMaddock commented on #3270
No, TestParameters are global within an assembly. (`TestContext.TestParameters` are the ones I'm referring to?) They're set in different ways depending on your test runner - the .runsettings file for the NUnit VS adapter, the -testparams flag for the NUnit Console etc. As before, I'm don't know how NCrunch works as to how you'd be able set them. They're a second feature that could potentially be u

[2020-06-23 13:38] mlidbom commented on #3270
Thanks again @ChrisMaddock. I'll look into TestContext.TestParameters and how/whether NCrunch supports them. If not I guess I'll go with a shared project for now. I started exploring it after posting my first comment here, I'm just about done getting it working, and the only real downsides are the ones I gripe about above.  so I guess the pragmatic choice might be to go for that solution unless/un

[2020-06-23 20:28] mlidbom commented on #3270
My problem has been solved cleanly by an NCrunch feature that is currently in testing: the DistributeByCapabilitiesAttribute: https://forum.ncrunch.net/yaf_postsm14815_Find-out-which-DistributeByCapabilitiesAttribute-capability-a-test-is-executing-under.aspx

I'm now running that version and it seems to do exactly what I need. Posting that here for anyone else that might find there way here throug

[2020-06-23 22:25] ChrisMaddock commented on #3270
Nice, cool feature! 😊

[2020-06-24 13:38] levifabi commented on #3566
We had a freeze first in Azure Pipeline.
 My test Assembly was configured as [assembly: Parallelizable(ParallelScope.Fixtures)] and all Test Parallescope.All
Nunit wrote as followings , and freezed:
  "NUnit Adapter 3.16.1.0: Test execution started
Running all tests in ...Tests.dll
   NUnit3TestExecutor converted 15 of 15 NUnit test cases
Running all tests in ... "

After that I begun to analyse i

[2020-06-25 16:44] RafeeqMohammed opened #3587 "Current Nunit Test Properties are always coming as null when using TestCaseSource in Test method"
Current Nunit Test Properties are always coming as null when using TestCaseSource in Test method.

Below is my test mthod

 [TestCaseSource("DeviceInfoFromAppConfig"), Description("MyTestDescription")]
 public void TestMethod(MobileOs os, string appName)
{
var desc1 =TestContext.CurrentContext.Test.Properties["Description"];
var desc2 =TestExecutionContext.CurrentContext.CurrentTest.Properties.Get

[2020-06-26 11:18] Denis535 commented on #3580
@CharliePoole I tried NUnitLite. "Test Count" always is right. So, it works right.
Only it prints only some tests. I don't understand why.
How does NUnit use Roslyn to find tests without compiling? Maybe here is reson for my problem.

[2020-06-26 13:52] mikkelbu commented on #3580
NUnit does not use Roslyn to find tests and require that the code is compiled as it depends on reflection. The test cases are created by calling `BuildFrom` on the attributes deriving from `ITestBuilder` (like `TestCase` or `TestCaseSource`) or from `ISimpleTestBuilder` (like `TestAttribute`).

See e.g. https://github.com/nunit/nunit/blob/830e0df681eb38490742355900436b4a988a0b52/src/NUnitFramework

[2020-06-28 16:38] jnm2 opened #3588 "Audit string equality comparisons and consider changes for v4"
Many of .NET's System.String APIs default to CurrentCulture comparisons. Unintentional linguistic comparisons cause correctness and performance problems. @jskeet has found a couple of significant speed issues caused by NUnit using EndsWith without specifying StringComparison.Ordinal: https://github.com/nunit/nunit/pull/3583, https://github.com/nunit/nunit/issues/1555.

~~If you think it's a good i

[2020-06-29 01:44] jnm2 opened #3589 "File headers, copyrights, and licenses"
I've heard a mix of things that I'm still trying to clarify:
- Year ranges are extraneous and possibly invalidate the copyright notice.
- A year in a file should never be updated or it possibly invalidates the copyright notice.
- A starting year that is later than the entire project's initial publish, even for new files, possibly invalidates the copyright notice.
- A license notice is not required

[2020-06-29 03:03] CharliePoole commented on #3589
Lots of conflicting info out there, for sure. There are a few good reasons for that, I believe:
 1. Statements are not always from lawyers.
 2. People are from various countries.
 3. Even sticking with lawyers and US law, many of these opinions are predictions of how a court would interpret the law. Lots of copyright stuff as applied to Open Source has actually never been adjudicated and existing

[2020-06-29 16:11] jnm2 commented on #3589
Also: https://www.copyright.gov/title17/92chap4.html#412 seems to say that the date wouldn't have any impact at all unless you register the copyright (thanks to @sharwell for finding this).

@CharliePoole I meant this as a framework issue since it seemed like a it would be up to each project lead independently. This is the project where dealing with headers comes up the most for me. Thanks for com

[2020-06-29 16:19] stevenaw commented on #3588
I did a cursory check for `EndsWith` a week or two ago, and I think most usages of that check for a constant string of symbols all in the ASCII range (similar to the `EndsWith("[]")` case covered in #3583  ). It's possible that most of these could be updated in a non-breaking way.

[2020-06-29 16:47] CharliePoole commented on #3589
Agree it's a team issue so I would not normally respond. But I was predicting you may want the same in the console project, so I thought I'd give my opinion anyway. :wink:

[2020-07-05 21:04] akalnay opened #3590 "TestCaseSource + NSubstitute + Async = Skipped Tests in VS 2019"
Given this interface:

[code]
and this class that implements the interface:

[code]
Running the following tests in VS 2017 works as expected:  four tests run and they all pass.  However running the same tests in VS 2019 causes one of the tests to get skipped (TestB2Async).
[code]
The main difference between the tests in TestsA and TestsB is that the tests in TestsA directly create the IThing insta

[2020-07-08 08:11] sonudavidson opened #3591 "Test runner doesn't link my custom property to the <test-case> but adds it to the <test-suite>"
Hi,
I'm using NUnit 3 with SpecFlow 3.
I'm adding a custom property called "ScenarioContent"
Here is an example
Scenario Outline: Calculator 23
  Given I have entered <first> into the calculator
  And I have also entered <second> into the calculator
  When I press add
  Then the result should be <result> on the screen

  Examples:
  | first | second | result |
  | 20    | 30     | 50     |
  | 85

[2020-07-08 10:17] sonudavidson commented on #3591
This is the result file
![image](https://user-images.githubusercontent.com/5096397/86906972-a0d45c80-c114-11ea-9ac0-958ddf4b696e.png)

This is the feature scenario outline
![image](https://user-images.githubusercontent.com/5096397/86907193-f577d780-c114-11ea-9741-9204084ce0c8.png)

This is the code behind the feature file
![image](https://user-images.githubusercontent.com/5096397/86907074-cbbeb080

[2020-07-09 22:38] uchagani commented on #49
resurrecting this as something that I'm running into from an integration test perspective:

Usecase:

We have a bunch of random failed integration tests related to performance that hasn't been a high priority to fix.  The testing team spends a lot of time combing through failed tests and figuring out which test is a real failure and which is related to this performance issue.

The performance issu

[2020-07-10 10:03] CharliePoole commented on #49
This very old issue started life as one thing (TearDown) and was rejected. Then I changed it, proposing a new attribute (PostTest) which would not be constrained by the rules of TearDown. That didn't attract enough interest, so it was eventually closed without action.

So, if you want to revisit it, you should probably say which notion you want to revisit.

[2020-07-10 19:56] uchagani commented on #49
I'd like to revisit the PostTest version of this that might allows the user to change the test result itself.

[2020-07-10 23:50] CharliePoole commented on #49
Someone on the team would have to decide whether to reopen this, of course. However, even when it was open, it sat for a long time without action... notice the low issue number!

OTOH, it seems to me that it would be pretty easy to create such an attribute yourself. If you decide to try it, look at `MaxTimeAttribute` as a model. It changes a success  to a failure if the test ran more than a certai

[2020-07-10 23:54] uchagani commented on #49
I need this to run after every test. Would that still be possible with my
own attribute?

On Fri, Jul 10, 2020 at 7:50 PM CharliePoole <notifications@github.com>
wrote:

[2020-07-11 05:31] CharliePoole commented on #49
Definitely possible but maybe not so convenient. NUnit will let you do lots
of things in a custom attribute but you need to apply it on each test you
want it to affect. There is really no general mechanism for injecting extra
steps into __all__ your tests.

On Fri, Jul 10, 2020 at 4:54 PM uchagani <notifications@github.com> wrote:

[2020-07-11 23:38] OsirisTerje opened #3592 "Add classname and methodname to the start-test event"
The test case finished event includes the classname and methodname.  The start-test event needs the same.  The lack of this is the reason the NUnit3TestAdapter cannot skip the discovery phase.

[2020-07-11 23:51] #3565 closed

[2020-07-14 19:40] ChrisMaddock commented on #3591
Hi @sonudavidson,

In NUnit terms, this is worked as intended. `Calculator23` is your suite, and there are two different `TestCaseAttributes` creating two test cases inside that suite. The `PropertyAttributes` are both applied to the `Calculator23` method, meaning your properties are both applied to the suite, and not the individual test cases.

`TestCaseAttribute` itself doesn't have a way to add

[2020-07-14 19:40] #3591 closed

[2020-07-16 09:39] doctor-house opened #3595 ""Test host process crashed : Unhandled exception." when switching to async test methods"
I have a suite of tests that make calls to an API. Previously the tests looked something like this:

[code]
which worked fine, but then I read that NUnit 3 supports `async` test methods so I went through an updated a bunch of tests to look like the following:
[code]
At first this seemed fine; after updating a small batch of tests, I would run those tests to see that they still worked and then merg

[2020-07-16 17:36] markhobson opened #3596 "AreAlmostEqualUlps throws OverflowException for -0"
Similar to #1046, the following assertion:

[code]

Results in:

[code]

Tested against NUnit 3.12.0.

[2020-07-16 17:42] doctor-house commented on #3595
After digging around through my test code I realized I made the following easy-to-miss mistake:

Old Test:
[code]

Naively make everything `async`:
[code]

This works fine if the testResponse `await` call never throws an exception. However, `List<T>.ForEach` only has one definition for `Action<T>` type delegates, and therefore naively making that delegate `async` has the unintended effect of also

[2020-07-16 17:42] #3595 closed

[2020-07-16 21:01] appel1 commented on #3596
Might be related to #1094 unless something has changed with the nunit ulps implementation since then.

[2020-07-17 05:36] janissimsons commented on #2574
@CharliePoole could you please review @avilv latest version? It seems to be fully implemented. I think a lot of people are waiting for this feature.

[2020-07-17 06:19] CharliePoole commented on #2574
@janissimsons Sorry, y

[2020-07-17 15:04] HeyBanana opened #3597 "Parallel SetUpFixture with non-parallel test fixtures does not work properly"
According to point 4 on this resource https://docs.nunit.org/articles/nunit/technical-notes/usage/Framework-Parallel-Test-Execution.html#specifying-parallelism-at-multiple-test-levels

- Parallel SetUpFixture with non-parallel test fixtures: The group runs in parallel with other fixtures and groups. Within the group, only one fixture at a time may execute.

We have created a simple solution to che

[2020-07-17 15:26] CharliePoole commented on #3597
FWIW (and also IIRC) back when I was working on the project and wrote this section it was more aspirational than descriptive. I'm not sure that we had even done anything about setup fixtures at the time. I'm able to see in the history that I put in some other things marked NYI at the same time and probably should have done the same for those two points.

That said, I think that the description is

[2020-07-20 10:30] HeyBanana commented on #3597
Thanks for the quick feedback =)

[2020-07-20 13:36] resuem opened #3599 "Documentation: Target wrong in Navigation Frame (Attributes/TestCaseSource)"
Go To: https://docs.nunit.org/articles/nunit/writing-tests/attributes/testcase.html
Navigation on the left (the Attribute List) shows TestCaseSource (below TestCase)
Expected Target of the link:
https://docs.nunit.org/articles/nunit/writing-tests/attributes/testcasesource.html
Actual Target of the link:
https://docs.nunit.org/articles/nunit/writing-tests/attributes/platform.html

The target of the

[2020-07-20 15:29] CharliePoole commented on #3599
Confirmed. The menu as displayed on the left for every attribute description contains this incorrect entry. All other links appear to be correct.

I'm moving this issue to the `docs` repository so it can be dealt with there.

[2020-07-21 17:50] skomialek commented on #2950
@CharliePoole  please have a look when you have a chance into the pull request.
It allows for getting fixture specific arguments as input to TestCaseSource factory method.

I needed a very specific behavior in my case (where test cases differed depending on the fixture that is being processed), but just getting the context information (that is already available during creation of test cases anyway

[2020-07-21 19:06] CharliePoole commented on #2950
@skomialek Looks interesting. I will look it over and make some comments. However, you need two team members to review the PR for merging. Although you'll find my name in lots of past discussions and even some current ones, I haven't been an actual member of the framework project for a few years.

FWIW, current team members are listed on GitHub at https://github.com/orgs/nunit/teams/framework-team

[2020-07-21 19:51] skomialek commented on #2950
@CharliePoole  - thank you.

@rprouse  - I don't have access to the pointed page (404) - are there any specific people that would be appropriate to get involved in this change?

[2020-07-21 22:25] FestTestQA opened #3600 "Async tasks in parralel tests issue"
Hi,

I have the following issue;

Multiple tests within a fixture class.
Each tests is marked with [Parallelizable].

The tests (selenium automation) all kick off well.
Once they call a Selenium Extension method that uses 'Task.Factory.StartNew', the tests start to fail. It seems that they  cross at that point. Running w/o paralel works a dream.

Is there something in my setup or is this a bug?

T

[2020-07-21 22:50] CharliePoole commented on #2950
@skomialek Sorry about the link. I didn't realize it was a restricted page. Members of the @nunit/framework-team usually jump in to do reviews when needed. I'm tagging some key people here: @rprouse @jnm2 @mikkelbu

[2020-07-22 14:39] h4kun4m4t4t4 opened #3601 "Nunit 3.10.1.0 + ReSharper 2020.1.4: Test execution delayed by ~60seconds"
Hi,

first of all, I'm not sure whether NUnit or Resharper might be the problem. (But problems started after upgrading to latest resharper)

When I start the execution of a test via resharper test runner, the test shows pending for about 60 seconds before even starting the relevant test code. I tracked it down to be a loading/performance issue at **RuntimeFramework.cs**
`Type monoTouchType = Type.

[2020-07-22 15:33] CharliePoole commented on #3601
The key bit you have left out is what kind of an application you are targeting. :smiley: That line of code will execute differently depending on whether you are using MonoTouch or not.

To be more precise, it will execute differently depending on whether an assembly containing that UI delegate is loaded or not.

[2020-07-23 06:08] h4kun4m4t4t4 commented on #3601
Thanks for the info.
The application is written in C# and targeting .Net Framework 4.7.
In fact in our company we have different Solutions with the above settings... some show the delay and some not.

I did non hear about MonoTouch until yesterday, so I do not think it is involved at all. The call always returns "Null".

In the meantime I believe it might be something how the resharper testrunner

[2020-07-23 15:41] Poimen commented on #3452
I was having a quick look into this...

From the documentation, the Regex constraint works like:
[code]

Is the issue about making the API:
[code]
?

Assuming this is correct, the current `RegexConstraint` inherits from the `StringConstraint` which would make sense currently in how it is being used. However, in the case that it takes a regex, I would think that you could go two ways:
1. Keep the h

[2020-07-23 16:22] CharliePoole commented on #3452
Answering your last question:

[code]

All constraints have a syntax element used in the middle of a constraint expression (`Matches`) and another used to start an expression (`Does.Match`).

[2020-07-23 16:34] Poimen commented on #3452
Thanks, that's great. I always forget the `And` syntax 🙈

[2020-07-23 20:09] ChrisMaddock commented on #3601
I suspect a PR I did 2 years ago is the reason for the change between 3.10 and 3.12 --> https://github.com/nunit/nunit/pull/3131

I have no idea what might be the cause of your current issue, I'm afraid.

[2020-07-24 01:03] CharliePoole commented on #3452
FWIW I just implemented this in tc-lite. Someone could port it pretty easily if desired.

[2020-07-24 09:57] Poimen commented on #3452
@CharliePoole I had a quick look over the changes you implemented on `tc-lite`. Although I'm not too au fait with the `tc-lite` structure, it looks like the syntax is slightly different from nunit. The `tc-lite` changes could be ported across quite easily (I don't mind doing that).

Would you be suggesting that the Assert API more look like:
[code]
?

[2020-07-24 10:23] CharliePoole commented on #3452
I went with four possible options for the user...

[code]

I also made the attribute stand on it's own, no longer a StringAttribute.

For NUnit, it's a bit trickier of course. There's backward compatibility to contend with.

[2020-07-24 16:55] Poimen commented on #3452
I have created a PR with a version ported from `tc-lite` with a few "modifications". I went down the same route described by @CharliePoole but just changed the API to match the existing NUnit API.

I used the same API for both text patterns and regex objects for consistency.

I have marked that PR as WIP for any further discussion. Feel free to amend, suggest, etc. as required.

[2020-07-27 02:51] stevenaw opened #3604 "Use "peverify-compat" build flag for C# 8 compatibility on full framework builds"
It turns out that using some C# 8 language features may cause the following runtime error on CLR4 (NET4, NET45, NET46):

[code]

I ran into this today when trying to make NUnit's implementation of an ImmutableStack a `readonly struct`. The root issue is that that runtime's IL verification tool (peverify) isn't up-to-date with the latest language features. This made the runtime unable to verify acc

[2020-07-27 09:08] NecroFilja commented on #1711
@CharliePoole
Just found this issue when trying to migrate from NUni2 to NUnt3. Our test starting to failing after migration.
We have very specific tests that uses some old COM/ActiveX based component. It requires X86 platform, STA , single thread and we need to create specific ComActivationContext.
We do creation of ComActivationContext and some init in SetUpFixture->OneTimeSetUp as it is expensi

[2020-07-27 10:38] Poimen commented on #3596
Ah, the good ol' `0 == -0` problem.

For those interested, there is a good write up on floating numbers here:
https://ciechanow.ski/exposing-floating-point/

The long and short of it is that IEEE floating point numbers represent `0` as two different amounts so `0` and `-0` are valid and different, while at the same time `0 == -0` is valid. Math is hard :rofl:

@mikkelbu the easier fix is to do a `

[2020-07-27 11:39] Thypari opened #3605 "Assert that Directory does not exist?"
What's the recommended way to do this?

[code]

For a long time I've used the first approach. But it suddenly fails with "Expected: false, Was: false"....
NUnit3: 3.12.0
NUnit3TestAdapter: 3.14.0
Visual Studio 2019 Pro 16.6.5

[2020-07-27 14:14] Poimen commented on #2211
@jnm2 Is this issue still something the team wants done?

I had a quick squiz through the issue and as I don't understand exactly want the supported API should look like - is it:
[code]
or is it:
[code]
?

You example takes `params object[]` so was going with option #2.

Assuming #2, would the array be required as if just one object provided, assert that the key exists, 2 parameters - key and valu

[2020-07-27 14:26] jnm2 commented on #2211
@Poimen Yes, and we'd appreciate the help!

The array is required because indexers can take more than one argument. For example:

[code]

You'd use `Has.Item(42).EqualTo("First indexer")`, `Has.Item("42").EqualTo("Second indexer")`, and `Has.Item(1, 2).EqualTo("Third indexer")`.

[2020-07-27 14:43] CharliePoole commented on #1711
Have you tried the `ApartmentAttribute` to require running the test in the STA?

[2020-07-27 14:46] Poimen commented on #2211
See, you learn something new every day - I had assumed that was a typo, oops :see_no_evil: I have not had the pleasure of using a multi-key indexer before...

Ok, cool, I'll look at putting something together this week.

[2020-07-27 16:03] tomwaitforitmy opened #3606 "How to pass info output to TFS test output?"
I was wondering what would be the supposed way to pass output containing any "good to know" information to a TFS release pipeline?

Stacktrace, Exceptions, Asserts are all shown in case of an error.
TestContext.AddTestAttachment is super sweet, but for files.

I have tried so far:
[code]
last one -> shown in case of error like this:
![grafik](https://user-images.githubusercontent.com/25305424/8856

[2020-07-27 18:04] mikkelbu commented on #3605
@Thypari Can you provide some more information about why the first approach suddenly fails.

Using the constraint based syntax I would go with
[code]

If you prefer the classical syntax you can use
[code]
or
[code]

All of the above give better failure messages, e.g.
[code]
compared to the boolean comparisons that just states if something is true or false
[code]

Failure messages like

[2020-07-27 18:22] mikkelbu commented on #3596
@Poimen You are most welcome to look at this problem. Please note that the following is working
[code]
It is only when we compare the values with tolerance using "Ulps" - unit in the last place - that the problem occur.

[2020-07-27 20:07] NecroFilja commented on #1711
yes. we are using assembly level [assembly: Apartment(ApartmentState.STA)]

[2020-07-27 22:00] Thypari commented on #3605
I have no idea why the Assert is failing. It just says _"expected: false but was: false"_

[2020-07-28 06:39] h4kun4m4t4t4 commented on #3601
Morning,
I'm currently back to my old setup **Nunit 3.10.1.0 + ReSharper 2019.2.4**. This works fine so far.

Last Friday I was experimenting and tried to create a simple test project, to be able to reproduce the problem.... It is not that easy :-/.
In the end I took one of my company projects and stripped down all unnecessary code parts.
In my company all solutions and projects output-folder poin

[2020-07-28 10:18] Dreamescaper commented on #3605
@Thypari
`Assert.AreEqual(false, Directory.Exists("/test/test"));`
This line passes for me.
Would it be possible for you to provide example project demonstrating the issue?

[2020-07-28 19:53] Thypari commented on #3605
The issue only occurs on a co-worker's machine. The same project works on other machines.
We will look into it and report back if we are able to find out what's the difference.

[2020-07-29 18:33] AlekseyMartynov opened #3608 "[Platform] attribute fails with DllNotFoundException in WASM"
Version: `3.13.0-dev-06832`

Steps to reproduce:
-  [BlazorApp1.zip](https://github.com/nunit/nunit/files/4996759/BlazorApp1.zip)
- Load in VS 2019, run in Chrome
- Check browser developer console

[code]

[2020-07-29 20:04] ChrisMaddock commented on #3601
@h4kun4m4t4t4 I agree you need to follow this one up with the ReSharper team. Those log messages you've shared are from ReSharper, not NUnit, but sound like they might point to the difference.

I'll close this issue, as I don't think there's any more we can do here - but please open a new one if you can trace a cause back to NUnit. 👍

[2020-07-29 20:04] #3601 closed

[2020-07-29 20:05] ChrisMaddock commented on #3606
TFS uses the NUnit3 Test Adapter, right?

I'll move this question over to the repo for that project, as I think the team there might be able to help. Apologies if I'm wrong!

[2020-07-30 15:29] Poimen commented on #2211
@jnm2 I have created a PR for this issue.

The one concern that I have is the error message that is produced by the code:
[code]

The error message is a little "hacky", but I'm not sure what the cleanest way of resolving this. The "hack" is:
https://github.com/nunit/nunit/pull/3609/commits/96154ca6402c692cec5e0ae6947f9922e72799fe#diff-ceeee4b8399633f181b6bccd5a39eb32R72

[2020-08-01 15:09] #3608 closed

[2020-08-02 22:31] cjconrad2 commented on #3592
This seems easy to implement given those properties already exist on ITest, but based on the discussion in https://github.com/nunit/nunit/pull/2099 (the last time this event was updated), @CharliePoole seemed opposed to adding additional information to the start-test event.

[2020-08-02 22:33] cjconrad2 commented on #3587
@RafeeqMohammed, which version of the framework are you using?

[2020-08-02 22:58] CharliePoole commented on #3592
Saw my name here. :smile:

My objection to adding the __particular__ info requested in #2099 was that the requestor gave no explanation of why it was needed. In this case, @OsirisTerje has stated why it's needed.

That said, I'm no longer a part of this project, so I'll leave it for others to act.

[2020-08-02 23:04] CharliePoole commented on #3587
This is a well-known "gotcha" in NUnit, which has been discussed many times. When a test method has arguments, a suite of tests is created, which contains the individual test cases. The attribute is applied to that suite, not to the individual tests.

Basic question is "Why does your test need to know it's own description?"

[2020-08-03 09:31] drauch opened #3613 "SetUp/TearDown and C# 8 nullability"
This issue is more of a question than a bug report.

Do you have a good strategy for C# 8 nullability annotations and tests? Unfortunately, even if we assign all fields in the SetUp method, it is not in a ctor and therefore the compiler thinks that all the fields are potentially null. We have to use the ! operator quite a lot to overcome the issue.

We don't want to ignore the warning either, beca

[2020-08-03 13:32] jnm2 commented on #3613
Because C# 8 has no special knowledge of NUnit, class fields have to be analyzed from the standpoint that the class methods might run in any order. I have personally avoided class fields at all costs because it means that the tests within the fixture can't usually run in parallel with each other. I use private static helper methods to get things set up in variables within each test, or to avoid ev

[2020-08-03 16:41] drauch commented on #3613
Uh, that sounds like exactly what we're looking for. Unfortunately that issue is in-review for quite some time now, let's hope it will finally get merged soon. You're a member of the Core team if I read correctly, do you have a time horizon for the merge? Is there anything the OpenSource community could do to decrease the time-to-market? :-)

Thank you also for your workaround idea, but I feel tha

[2020-08-05 08:37] Dreamescaper commented on #3587
Duplicate of https://github.com/nunit/nunit/issues/1358.

[2020-08-06 13:26] sunux opened #3614 "enum == but not the same"
nUnit 3.12.0

test a function like
[code]
where SvnStatus is a enmu whose values can be Add, Modified, Ignore etc.

test case is
[code]

As 'AreSame' check reference, why assert '==' pass but asser 'same' fails.
Does C# 's enum value share the same instance, doesn't it ?

[2020-08-06 13:27] sunux commented on #3614
fail info is like

[code]
I am not the same as myself ?

[2020-08-06 14:20] jnm2 commented on #3614
@sunux `AreSame` asks the question, "Are these two object references the same object instance?" Value types like enum values are not object references, so AreSame doesn't make sense to use on them. What is happening here is that the AreSame parameters are of type `object`, so C# is implicitly casting the enum values to `object` which boxes them and creates a new object reference each time.

[code]

[2020-08-06 14:28] jnm2 commented on #3614
One thing we could have done about this in the past was to define AreSame this way so that it would be a compiler error to use AreSame with value types such as enums:

[code]

Because we care about ABI compatibility, this would have to wait for NUnit v4. In the meantime, we can achieve the same effect by adding a rule to https://www.nuget.org/packages/NUnit.Analyzers. I highly recommend you add th

[2020-08-06 19:24] teremyx opened #3615 "Listening to Socket in SetUp"
Hi, I want to write Tests for my MasterServer.
I have two testing methods, that don't do anything as of yet.
I have a Setup-method with "SetUp"-attribute, in which I start the MasterServer => listening on a specific port.
When I run the TestFixture, the second test always fails, because I am already listening on that port.
I thought SetUp is for any logic, that is run before any test, but I didn't

[2020-08-06 22:51] CharliePoole commented on #3615
@teremyx Please allow me to turn your question upside down. :smiley:

SetUp and TearDown is part of __each__ test case. Therefore, if you want something to happen once and once only, then why would you use SetUp or TearDown?

If you implemented a TearDown, that would allow you to repeat the action of listening for each test. That's OK if it's what you want to do but it will prevent you from ever r

[2020-08-07 05:54] sunux commented on #3614
@jnm2 Many thanks for your replay. It makes things more clear. I will follow your advice.

[2020-08-07 07:28] CharliePoole commented on #3614
@jnm2 FYI I took your advice in my TCLite framework and used the class constraint. Works a charm.

[2020-08-07 14:13] jnm2 commented on #3614
@sunux Cool, thanks for following up.

[2020-08-07 14:13] #3614 closed

[2020-08-11 07:18] yaakov-h opened #3616 "Extend Is.Empty to work for Guid.Empty"
If I have a `Guid` that I want to assert is empty, I currently have to use:

[code]

I think it would be simpler and read easier to be able to say:

[code]

Unfortunately this currently throws an error stating that NUnit expected `myId` to be an `IEnumerable`.

[2020-08-11 10:16] brunomartinspro opened #3617 "Visual Studio - test didn't run when using TestCaseSource"
When using the TestCaseSource, visual studio shows a not run test.

[code]

Output:

![image](https://user-images.githubusercontent.com/7645736/89886201-263fa680-dbc4-11ea-9edb-415df5c2bc9a.png)

[2020-08-11 10:27] brunomartinspro commented on #3617
Removing the SetName from GetData() solved the issue

[2020-08-11 10:27] #3617 closed

[2020-08-11 11:08] rolfbjarne opened #3618 "NUnit has a P/Invoke whose native function doesn't exist on all platforms"
Repro project: [nunitlite-3.12.0-c582df3.zip](https://github.com/nunit/nunit/files/5056519/nunitlite-3.12.0-c582df3.zip)

To reproduce, download and extract, and then execute `msbuild /p:Platform=iPhone /r`

This results in a few errors:

[code]

[Full build log](https://gist.github.com/rolfbjarne/4d9348922057c8ec27cef70c7f98aa20)

This is the P/Invoke in question: https://github.com/nunit/nunit/b

[2020-08-11 11:51] rprouse commented on #3618
I'm surprised that whole class isn't surrounded in an ifdef for. NET Standard. The classes that call it probably are. Should be an easy fix.

[2020-08-11 14:02] rprouse commented on #3618
Looking at the code, this is going to be a bit harder. I've always hated the way we do platform detection and believe we should limit ourselves to what can be determined through .NET directly, but we've maintained this code for legacy purposes. That said, we should be able to get rid of the two pinvokes in that class for the .NET Standard build of NUnit.

[2020-08-11 15:29] jnm2 commented on #3618
@rprouse I usually take the approach that https://github.com/nunit/nunit/pull/3610 took.

[2020-08-11 16:23] rolfbjarne commented on #3618
@jnm2

That doesn't work in this scenario. The problem is that the AOT compiler emits a reference to the native function (which happens at build time, whether the P/Invoke is called or not), and then the native linker complains when it can't find that native function. Surrounding the P/Invoke with a try/catch doesn't change anything.

[2020-08-11 17:39] philipcarlsen opened #3619 "More explicit selection of Explicit tests"
I find the semantics of running explicit tests in the nunit-console runner confusing.

From reading the documentation, I gather that filtering on categories can trigger the execution of explicit tests, depending on the given composition of filters, with the idea being that positively selecting a category (like in the filter expression "cat = SomeCategory") implies selecting explicit-marked tests o

[2020-08-11 17:39] ChrisMaddock commented on #3619
Thanks Charlie, good spot.

[2020-08-11 17:47] rprouse commented on #3618
@rolfbjarne we are only using that PInvoke to get if it is a Windows Server or Client/WorkStation, so I can just get that from the registry if we are on Windows in the .NET Standard build of the framework.

My plan is;

- Leave the PInvoke for the full framework builds (.NET 3.5, 4.0 and 4.5)
- Switch to a registry lookup if on Windows for the .NET Standard 2.0 build
- Leave the PInvoke on Mac to

[2020-08-11 21:05] mikkelbu commented on #3617
@brunomartinspro I just tried your example and it works on my machine, but I've also disabled the Real Time Test Discovery in VS (under Tools => Options => Test General). The difference could also depend on the version of the NUnit adapter - https://github.com/nunit/nunit3-vs-adapter - you are using (I used version 4 alpha in the test project).

[2020-08-12 00:13] #3618 closed

[2020-08-12 00:15] rprouse commented on #1926
I'm no longer seeing this error. Closing.

[2020-08-12 00:15] #1926 closed

[2020-08-12 00:18] rprouse commented on #3613
Closing as an answered question.

[2020-08-12 00:18] #3613 closed

[2020-08-12 00:20] rprouse commented on #3605
If you find more information, please post. For now, I'm closing as a question.

[2020-08-12 00:20] #3605 closed

[2020-08-12 00:25] #3279 closed

[2020-08-12 18:35] #3596 closed

[2020-08-12 19:21] teremyx commented on #3615
@CharliePoole
Thank you! This solved my problem and helped me understand :-).

[2020-08-12 19:21] #3615 closed

[2020-08-13 18:41] drauch commented on #3613
@rprouse : Actually there is still the following question open:

Maybe you can help me out here @rprouse

Best regards,
D.R.

[2020-08-17 12:52] stevenaw opened #3622 "EmptyDirectoryConstraint doesn't need to enumerate entire directory contents"
`EmptyDirectoryConstraint` currently tries to read in and instantiate all content in a directory in order to determine if the directory is empty or not empty.

https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Constraints/EmptyDirectoryConstraint.cs#L55-L57

An alternative could be to use one call to `EnumerateFileSystemInfos().Any()` to detect existence of either files or su

[2020-08-18 21:04] stevenaw commented on #3456
I'm less well versed on the Roslyn side, but is this something an analyzer could detect? Or would this have to be a runtime check (improved error messaging)

[2020-08-19 10:26] Daniel-Svensson commented on #2843
There are similiar problems with `Assert.Multiple` which we would like to use but are quite hesitant to use is currently is.

For Multiple maybe we can have a simple solution with `Assert.MultipleAsync' which returns Task, but for Throw that is not a good option.

[2020-08-21 13:24] santhosh-James opened #3625 "Test suite"
I have to create an object before all tests start execute and then after all test execute the data on this object will be inserted to a database. The test fixtures are expecting  parallel. What is the best approach in NUnit to get the suite level control?

Is there a way I can use reflection to get the Suite level access?

[2020-08-25 01:18] #3622 closed

[2020-08-25 01:30] #3452 closed

[2020-08-25 01:37] rprouse commented on #3613
@drauch we just need to make time to get the PR properly reviewed and tested. It is a big change from a first-time contributor, so we've been overly cautious with it. I'd like to get it merged soon though, so I'll take another look at it.

[2020-08-25 14:01] NaZaRKIN123 opened #3626 "Console runner not using registered ITestEventListener extension"
Hi All,

I've tried to create my own extension to ITestEventListener, not for some reason console runner doesn't pick it up.
There is very little information on how to do it so I googled most of it on StackOverflow or other issues here, e.g.https://github.com/nunit/nunit-console/issues/736

Seems to me that I did everything: put it in the separate assembly, added .addins file, added correct attrib

[2020-08-25 18:33] mikkelbu commented on #3626
I've never written an extension, so I was just trying your code (guided by https://docs.nunit.org/articles/nunit/extending-nunit/Event-Listeners.html and related pages). The first thing I did was to follow the suggestion in nunit/nunit-console#736 and place the addins file in the correct folder -  "It would have to be located in the same directory as the copy of the engine being used by the consol

[2020-08-25 19:53] MgSam commented on #725
I definitely agree this overloads with IEqualityComparer should be added. `Assert.AreEqual` is superior to other assertions since it understands "expected" vs "actual" and the UI can report these things. The methods on Assert are also, by far, the most commonly used in NUnit.

I think rather than making things easier for novices by not adding overloads, you're making them harder. Most developers d

[2020-08-26 16:00] aolszowka commented on #2480
I know this is old FWIW we were looking to do something similar and created this https://github.com/aolszowka/NUnit.MSBuild still requires the console to be installed. I like the idea of getting the console runner burned into the package somehow.

[2020-08-27 16:31] Lyra2108 commented on #2220
I also would be interested in this. My use case is a mixture of the ParalizableAttribute and the Retry Attribute.

I would like to run our integration tests in parallel. They should be fast and running as part of the verfication process, because noone takes care about nightly test runs. Due to 25 years old code this is only possible if each test uses a separate database. I also cannot use random d

[2020-08-27 19:03] UyttenhoveSimon opened #3627 "How to extract a list of tests cases and their categories programmatically."
Hello Folks,

This is a question.

I am trying to get a list of all the test cases and their respective categories.

Currently I see three options:
1) Reflection: going through all methods, check for TestAttribute/TestCaseAttribute/TestFixture...

2) Using a runner, extract the xml with runner.Explore and parse the xml.

3) Use what NUnit is already doing.

My question revolves around the latter:

[2020-08-28 13:48] shack05 commented on #3627
Hi,
I've recently spent some time trying to accomplish the same and tried a few things before settling on my current solution (which may or may not work for you). I needed a fairly general purpose solution which would work for different nunit3 test projects (some targeting dotnet framework, and some targeting dotnet core). Initially I tried reflection and assembly loading, and invoked the `BuildFr

[2020-08-28 19:57] OsirisTerje commented on #3627
The Xml from the DumpXmlTestDiscovery for the test output itself (!) comes directly from the NUnit Engine, and is not likely to change in itself.  This is the same Xml information that the adapter uses, so any change is this would require a new adapter, and would break backwards compatibility, something we are very careful about.  However, the file in itself **will** be expanded, so your code shou

[2020-08-31 06:23] UyttenhoveSimon commented on #3627
Hello @shack05 and @OsirisTerje ,

Thanks a lot for your insights!

To recap all the solutions:

1)   Reflection:
Assembly x = Assembly.GetExecutingAssembly();
            var classes = x.GetExportedTypes();

            foreach (System.Type type in classes)
            {
                MethodInfo[] methods = type.GetMethods();
                foreach (MethodInfo methodInfo in methods)

[2020-08-31 06:23] #3627 closed

[2020-09-02 21:38] stevenaw commented on #3457
I really like this idea.

As far as expected behaviour, if I came across an this API without documentation I'd probably think of this as syntactic sugar for a comparison to `default(T)`. Based on that, I agree with @rprouse on point 3 about reference types being null, since `default(T) == null` where T is a reference type.

For point 2, I'd probably be surprised if `Nullable<int>` was treated as e

[2020-09-04 12:36] hhaldn opened #3628 "TestCase: An explicit test case makes all test cases explicit"
If you create a test method with a number of test cases and mark one of them as Explicit, all the test cases are skipped unless explicitly selected. It seems that marking a single test cases as explicit affects all the test cases.

This is not what I would expect from the documentation of [TestCase](https://docs.nunit.org/articles/nunit/writing-tests/attributes/testcase.html), where it says:

"Exp

[2020-09-04 18:29] mikkelbu commented on #3628
This is not a problem with NUnit, but you are misunderstand how attributes work. When you write - as in your example
[code]
then it is the same as
[code]
or even
[code]
as the first is just a short hand to specify several attributes using a single `[...]`. The correct way to do it would be
[code]

We have an analyzer issue - nunit/nunit.analyzers#231 - to help users notice these kinds of problems.

[2020-09-04 18:29] #3628 closed

[2020-09-04 19:17] rprouse commented on #3625
I believe what you are looking for is the [SetupFixture](https://docs.nunit.org/articles/nunit/writing-tests/attributes/setupfixture.html) attribute. Add it to a class in your top level namespace, then add `OneTimeSetUp` and `OneTimeTearDown` methods to that class. It will be called before and after all of your tests.

[2020-09-04 19:20] rprouse commented on #2480
@aolszowka can't you just make the NUnit console package a dependency of your package to force it to install rather than "bake it in"?

[2020-09-05 19:46] mikkelbu commented on #3600
@FestTestQA It very much depends on your code - and/or the Selenium code. Your tests should not share any data for parallelization to work (or at least not write to the same data)

[2020-09-05 19:52] mikkelbu commented on #3534
I'm closing this issue, as we have not heard anything from the reporter. Please note that we will still see additional comments on this issue.

[2020-09-05 19:52] #3534 closed

[2020-09-05 20:18] jnm2 commented on #2480
I think that would work. Here's an example of relying on a restored NuGet dependency: https://github.com/tunnelvisionlabs/ReferenceAssemblyAnnotator/blob/master/TunnelVisionLabs.ReferenceAssemblyAnnotator/TunnelVisionLabs.ReferenceAssemblyAnnotator.targets#L80

[2020-09-05 20:50] jnm2 commented on #3457
It's not possible to pass an instance of type `Nullable<T>` because the NUnit API only takes `object` instances. When you convert `Nullable<T>` to `object`, what you get is either `(object)null` or a boxed `T` value.

[2020-09-05 20:57] jnm2 commented on #3457
Oops, I'm sorry. I was thinking of `Is.EqualTo(object)`, but `Assert.That` is generic and does not box to `object`.

I agree that I'd expect `Assert.That<T>(x, Is.Default)` to evaluate `x.Equals(default(T))` the way C# would, whether `T` is `int` or `int?`.

[2020-09-05 21:23] mikkelbu commented on #3514
I'm closing this issue as it seem to be an issue with the asp.net framework - needing to mock the ObjectValidator - and not with NUnit. Please note that we will still see additional comments in this issue.

[2020-09-05 21:23] #3514 closed

[2020-09-05 21:25] #3423 closed

[2020-09-06 11:08] #3290 closed

[2020-09-07 10:54] Dimension4 opened #3631 "IEqualityComparer is ignored on objects that implement IEnumerable and IEquatable<T>"
Given a class that implements **both** `IEnumerable` and `IEquatable<T>` and a custom comparer that implements `IEqualityComparer`, NUnit ignores the custom comparer and calls `IEquatable<T>.Equals` instead.

Here is a simple test:

[code]

`IEquatable<T>.Equals` will always return `true` while `IEqualityComparer.Equals` will always return `false`. However, the test that uses the comparer is green

[2020-09-07 18:21] #1897 closed

[2020-09-09 01:13] CharliePoole commented on #3276
I noticed that I self-assigned this in error last year, while I was traveling in Europe!

[2020-09-09 07:25] Daniel-Svensson commented on #2843
I just saw a PR with a proposed fix #3577

[2020-09-13 00:17] gregsdennis opened #3632 "Assert.Inconclusive() reports failed when timeout used"
These tests should have the same result

[code]

Intead, the one with the timeout is marked as failed.

Resharper test runner:
![image](https://user-images.githubusercontent.com/2676804/93007233-b05f9e00-f5ba-11ea-9828-ce7f47c17b85.png)

VS test runner:
![image](https://user-images.githubusercontent.com/2676804/93007249-f0268580-f5ba-11ea-96a9-482883efdf55.png)

---

I was able to find a workaroun

[2020-09-16 18:55] mikkelbu commented on #3633
I just noticed this issue and have transferred it to the framework repo.

[2020-09-16 19:43] mikkelbu commented on #3632
I cannot answer for the Resharper test runner, as I don't know anything about how that is implemented. But if I run the tests (using NUnit 3.12.0 and NUnit3TestAdapter 3.17.0 and VS Version 16.8.0 Preview 2.1) then I get the following
![image](https://user-images.githubusercontent.com/1007631/93384699-79f97b80-f865-11ea-9856-49405b4728f8.png)

Which versions are you using and what information is t

[2020-09-17 09:41] Temtaime opened #3634 "Async tests are not working on Blazor WASM"
Hello
This simple async test is not working under blazor wasm runtime.

[code]

**Expected result:**
Test passes.

**Actual result:**
[code]

Test project: [BlazorNunit.zip](https://github.com/nunit/nunit/files/5238060/BlazorNunit.zip)
[code]

Is there any workaround to get this working?

[2020-09-17 19:22] crinksdr opened #3636 "NUnitLite filtering fails if space in test name before ("
If I create a test using a testcase source with a name "{m} (unique attribute)" and pass that test in through -testlist argument the test will not be discovered. If there is no space "{m}(unique attribute)" this works fine. The problem is in the TextRunner.MakeRunSetting when its building the prefilter list from the test list it is not trimming the sub string so the parent of the tests are not bei

[2020-09-18 02:14] stevenaw commented on #3447
I just ran into this myself. I'm wondering if it's related specifically to `ImmutableArray` when using a non-predicate comparer. In the following example, the test fails for `ImmutableArray` but passes `ImmutableList` (`ImmutableStack` and `ImmutableQueue` also pass):

[code]

[2020-09-18 06:06] gregsdennis commented on #3632
### Versions

Visual Studio - 16.7.3

Nuget
- Microsoft.NET.Test.Sdk - 16.7.1
- NUnit - 3.12.1
- NUnit3TestAdapter - 3.17.0

### Stack Trace

[code]

[2020-09-18 06:06] gregsdennis commented on #3632
Looks like it might be VS, but I prefer not to be on preview versions.

[2020-09-18 07:02] rojaadi commented on #1953
Hello ,

I am also facing same issue, but for me it is sporadic different time different tests are getting failed.
my code base has await asynchronous calls , and I cant change my code base .
can you help me in resolving the issue .
in test scenario they have used dispatcher.yield for asynchronous calls to get completed

[2020-09-18 07:03] rojaadi commented on #1953
Hello ,

I am also facing same issue, but for me it is sporadic different time different tests are getting failed.
my code base has await asynchronous calls , and I cant change my code base .
can you help me in resolving the issue .
in test scenario they have used dispatcher.yield for asynchronous calls to get completed

[2020-09-18 08:15] rojaadi opened #3637 "How to close async calls in teardown"
Hello

I have few unit tests , in which dispatcher.yield() is called as production code had used await Task.Run(() => xyzServiceFunction());
there are many expectations were set using rhinomocks on  xyzservice.

so whenever tests are run for each run different unit test is failing saying it is not recieved expected expectation.

can you help me understanding what is the issue happening

Thanks in

[2020-09-20 06:44] NN--- commented on #3454
Still an issue with latest NUnitLite.

[2020-09-21 10:32] Temtaime commented on #3634
@CharliePoole @ChrisMaddock @rprouse Anybody? 😢

[2020-09-21 12:47] rprouse commented on #3634
I expect this is happening because the Blazer environment is single threaded and we can't wait, https://stackoverflow.com/questions/63211539/blazor-startup-error-system-threading-synchronizationlockexception-cannot-wait and https://github.com/dotnet/aspnetcore/issues/22400.

It is likely happening as we are waiting for the test to complete, but I will need to look at the code, I'm on my phone righ

[2020-09-21 13:07] Temtaime commented on #3634
Thanks for your reply and investigating for this issue.
I'll wait to hear from you.

[2020-09-21 13:14] MatKubicki commented on #3611
I see @cjconrad2 has created a PR for this, they actually beat me to it by a few hours as I was working on my own!  It looks very similar to mine and to my eye sensible.

Any chance someone with permissions can review this and merge it in?

[2020-09-21 18:58] mikkelbu commented on #3632
Looking at the stacktrace, I can see that the `InconclusiveException` is nested inside an `AggregateException`, so this could be a duplicate of #3282. Which framework are you targeting? (because I think that this might fail on dotnetcore until 3.13 is released)

[2020-09-21 19:01] mikkelbu commented on #3507
Looking at the stacktrace, I can see that the AssertionException is nested inside an AggregateException, so this could be a duplicate of #3282. Which framework are you targeting? (because I think that this might fail on dotnetcore until 3.13 is released).

EDIT: Does it work if you use the prerelease build of the NUnit framework (from https://www.myget.org/feed/nunit/package/nuget/NUnit) instead o

[2020-09-22 00:15] #3611 closed

[2020-09-22 13:18] NicolasVautrin opened #3638 "AppDomain Evidence"
We just migrate to 3.12 and i stuck on this sort of problem :

The problem is related to accessing AppDomain evidence in the child (test) domain. This causes a hidden cross-domain call back to the main domain, carrying along any call context data that can, then, not deserialize in the main domain. The problem is similar, but not identical or directly realted, to another bug (#1084181) The problem

[2020-09-23 03:01] rprouse commented on #3638
@NicolasVautrin I edited the formatting of your comment to see if I could make more sense of it, but I still don't have a clue what your problem is. Can you please give us a simple repro of your issue, tell us what is happening and what should be happening?

[2020-09-23 03:11] rprouse commented on #3634
Minor update with no advice, the code that is causing the problem is in `TaskAwaitAdapter`, the method `public override void BlockUntilCompleted() => _awaiter.GetResult();`

As I suspected, it is our waiting for the test to finish. It would require a major rewrite of our code to change the wait we `await` tests, so in the short term we'll need to find a workaround for this. My first thought (untes

[2020-09-23 03:15] rprouse commented on #3637
Can you provide us a simple repro so that we can see what you are talking about? Your descriptions doesn't provide us enough information to help you unless we've run into very similar issues in the past which we haven't.

[2020-09-23 03:18] rprouse commented on #3636
Sounds like an easy-fix, care to submit a PR?

[2020-09-23 17:02] rojaadi commented on #3637
Below is the method and unit test which I am executing, there are many tests in the solution and facing issues of expecattion  exception at different unit tests for each test run. Individually each test is passing , not able to derive root cause or way to fix it , Kindly help me to analyze it.
Method to test:-
Public class AttachableAttributes
{
Public AttachableAttributes(){}
 public void StartPo

[2020-09-23 19:27] IGx89 commented on #3435
Running into this ourselves, on App Center. Looks like https://github.com/nunit/nunit-console/issues/718 may resolve this, once it's merged and released?

[2020-09-23 21:53] crinksdr commented on #3636
Ya I can do that shortly

[2020-09-24 06:15] Divya0710 commented on #2719
NUnit.Engine.NUnitEngineException : The NUnit 3 driver encountered an error while executing reflected code.
  ----> System.InvalidCastException : Unable to cast transparent proxy to type 'System.Web.UI.ICallbackEventHandler'.
--NUnitEngineException
The NUnit 3 driver encountered an error while executing reflected code.

Server stack trace:
   at NUnit.Engine.Drivers.NUnit3FrameworkDriver.CreateObj

[2020-09-24 08:37] gregsdennis commented on #3632
@mikkelbu are you talking about using the 4.0.0-alpha.1 version?  You mention 3.12.0, but I'm on 3.17.0 right now.

I'm running Core 3.1 in my test project.

[2020-09-24 15:28] HejdasGonnaHate commented on #2339
For others coming across this problem: I was able to bypass this problem by running a PowerShell script which replaces the wrong date "0001-01-01 00:00:00Z" with a valid date like "1970-01-01 00:00:00Z" before publishing the test results. But obviously this is more of a "hack" than an actual solution.

[2020-09-24 15:41] CharliePoole commented on #2339
This has been assigned to @alexamz for three years, without any further contact from him since then. Perhaps it should be freed up for someone else to work on?

[2020-09-24 17:55] mikkelbu commented on #2719
The easiest way to get help is to provide as much information as possible. From the stacktrace I'll guess that you are trying to run dotnetcore 3.1 tests using the nunit console which does not support dotnet core yet (as your stacktrace is very similar to the one in e.g. nunit/nunit-console#792).

You can try out the beta runner that is able to also run dotnet core tests, see https://github.com/nu

[2020-09-24 17:58] mikkelbu commented on #3632
I'm not talking about the adapter, but the version of the nunit framework you are using. If you follow the link - https://www.myget.org/feed/nunit/package/nuget/NUnit - then there are descriptions of how to install the prerelease, so that you can test if it solves your problem.

[2020-09-25 15:02] Overclock303 commented on #3056
My use case is logical business regression test,s and the  property/parameter on the TestFixture i can't order break the way i want to use NUnit. More than before, these framework are used not only for unit test.

[2020-09-25 15:21] CharliePoole commented on #3056
As a workaround, you can switch to `TestFixtureSource` instead of multiple `TestFixture` attributes. Provided there is only one `TestFixtureSourceAttribute`, the fixtures will be run in the order you return the data for them.

[2020-09-25 15:58] ChrisMaddock commented on #3435
@IGx89 As a workaround, do things work if you temprorarily uninstall the adapter?

[2020-09-25 16:04] IGx89 commented on #3435
Sadly App Center's cloud environment is out of our control, we just send them our test DLLs and they run them. It appears they're actually currently using v3.0.9 of the console runner. I use Windows myself so haven't encountered it locally.

[2020-09-26 00:49] ChrisMaddock commented on #3435
Ah ok. In that case, I'm not sure there's much we can do about this until the App Center folks reach out.

I'm going to close this for now, the team'll be happy to dig into this if the App Center folks are able to make any changes.

[2020-09-26 00:49] #3435 closed

[2020-09-26 01:35] IGx89 commented on #3435
The OP’s environment appears to be a local Mac and not an App Center Test Cloud agent though, so while my issue may be related it’s likely not the same. They have full control of their environment and could update.

[2020-09-27 13:18] Overclock303 commented on #3466
Hi, the StopOnError works nice for my use case in sequence mode only. But in parallel i can't use it.
Actually, i don't have the capability to dispose or managed my external resources before the engine cancel all the fixtures.
It does not happen in sequence mode because my custom cleaner do his job on the current test before the engine stop.
I think the fix here is to have [OneTimeBeforeCancel] ap

[2020-09-27 15:37] jnm2 commented on #3637
@rojaadi The first step I'd take is to stop sharing any state between the tests. It's very difficult to reason about how any test will perform when it's reusing long-lived objects from other tests.

[2020-09-27 16:56] CharliePoole commented on #3466
Looks like a "mother" issue for NUnit - i.e. a number of separate ideas. :smiley_cat:

I'm don't work on the framework, so I'll address only your last note...

I need to stop the tests adapter myself. i use the NUnit Adapter 3.17.0.0._

When running under the adapter, the calling sequence is `vs => adapter '> engine => framework`. That takes place separately __for each assembly__. When a call come

[2020-09-27 17:03] Overclock303 commented on #3466
i think it s an adapter issue. About  the "mother issue"  yeah, i got this idea while coding last night and block on stopOnError which is a nice feature but can do more. If other guys read me...  thx Charlie ^^ take care

[2020-09-27 17:25] CharliePoole commented on #3466
IIRC StopOnError is handled as equivalent to a user cancel. I think I did it that way figuring it was the simplest thing that could possibly work (STTCPW) and that we could improve it if and when the need arose. It never arose until we had parallel execution and people started using it. Maybe now is the time to recognize StopOnError as a special case rather than a normal cancel.

[2020-09-27 17:46] Overclock303 commented on #3466
it s definitly a special case with the parallel execution because you cannot dispose anything, that make the feat useless in parallel.
the assemblies range is also a concern.

[2020-09-27 19:20] CharliePoole commented on #3466
Right. But it's not treated specially. It's treated as a cancel, which it really shouldn't be. Your suggested attributes would seem to treat it as a special kind of cancel, based on the names, but maybe it shouldn't be viewed as a cancel but rather as a specially requested, orderly shutdown. If that were done, you may not need a special attribute since your normal teardowns would run.

In the fram

[2020-09-28 02:50] gregsdennis commented on #3632
Yeah, looks to be resolved with 3.13.0 but reproducible with 3.12.0.

I've attached a sample solution to the initial post.

[2020-10-02 23:26] lucasteles commented on #1459
Hello,

seen like no one steel working on this, can you assign it to me?

[2020-10-06 07:23] manfred-brands opened #3641 "Type implementing IComparable<float> (or any IComparable) fails comparison."
Giving the following code:

[code]
The last test fails because `NunitComparer.Compare` checks `y is IComparable` before checking for `xType.CompareTo(yType)` and hence calls the `Single.CompareTo(Object)` method instead of `C.CompareTo(float)` method.

Can I switch the order such that the two tests on `IComparable` are last thereby preferencing `IComparable<T>` over `IComparable`?
I you think ther

[2020-10-06 16:58] DrunkRussianGun commented on #2471
@CharliePoole, the issue still isn't fixed. Trying to follow both @gamerka's [example](https://github.com/nunit/nunit/issues/2471#issuecomment-380821101) and your corrections from the [comment](https://github.com/nunit/nunit/issues/2471#issuecomment-380857752), I get tests and their cases running in parallel, though tests should run sequentially.

[code]

Personally I need to run tests in parallel

[2020-10-06 17:18] CharliePoole commented on #2471
@DrunkRussianGun

FYI, I no longer work on the NUnit framework. But I'll try to wrap up my comments on this since you mentioned me...

1. This is a very old (2017) issue on an old version of the framework. My comments, made in 2018, are about that version only.
2. The user closed the issue because he discovered an error in his own code. No changes were made to NUnit.
3. It's not likely that you wi

[2020-10-07 06:57] sja-schleupen opened #3643 "Assert.Pass(message) produces "reason" in XML-Result"
Using Assert.Pass(message) in a successful unittest results in a reason-element in XML.

This result seems suprising. Jenkins interprets "reason" as a skipped test in all cases:
https://github.com/jenkinsci/nunit-plugin/blob/master/src/main/resources/hudson/plugins/nunit/nunit-to-junit.xsl

According to https://docs.nunit.org/articles/nunit/technical-notes/usage/Test-Result-XML-Format.html#reason:

[2020-10-07 09:30] marty-shields commented on #3636
Is this still being looked at? I'm more than happy to take a look into it if not

[2020-10-07 16:00] crinksdr commented on #3636
Go for it I got tied up with other things.

[2020-10-07 16:31] cidthecoatrack commented on #2799
I would like to bump this - it's still open, and I definitely still see the issue in 3.12.0

[2020-10-07 17:27] marty-shields commented on #3636
Ok, bit busy tonight but will take a look tomorrow

[2020-10-09 09:04] jez9999 opened #3644 "NUnit equivalent to MSTest Assert.AreEqual<T>?"
MSTest has the following method: `public static void AreEqual<T>(T expected, T actual);`

This is a very useful method, and we're using it extensively to test the values of `JToken`s against `string`s without having to add the `JToken.Value<T>()` cruft each time, because there's an implicit `JToken` -> `string` converter defined by Newtonsoft.Json.

Does NUnit provide anything equivalent to this?

[2020-10-09 18:25] marty-shields commented on #3636
Looks like someone beat me to it. Thanks for the PR.

[2020-10-11 14:16] h0s commented on #3633
@CharliePoole  i suggest as a solution adding another method `AnyOf` that accept list<object> and inside it there is a mechanism where we transfer it to array and we call the same `AnyOfConstraint`,
what do you think about this ?

[2020-10-12 12:12] #3438 closed

[2020-10-16 06:02] Temtaime commented on #2843
So... We should have async methods anyway.
What solution is prefered ?
Should we create Assert.Throws overloads with Func<Task> argument?
I'd go with a breaking change proposed in #3577

[2020-10-16 07:19] Daniel-Svensson commented on #2843
I think `Assert.ThatAsync` as suggested by @rprouse seems lika a reasonable aprpoach.

In order to support `ThrowsAsync` and `Multiple` or similar what do you think about
a `AsyncAssert` or `AssertAsync` class which would allow adding Task async alternatives to Throws, Multiple (and maybe event That) without introducing breaking changes?

[2020-10-18 11:58] NadeemBader opened #3648 "NUnit Version 2 - Retry of failed tests"
Hi
Is that possible to perform retry of failed tests using Nunit version 2?
If yes, can you please assist?
Best Regards,
Nadeem Bader

[2020-10-20 15:03] TimothyDJewell commented on #3616
Are you open to a PR to add this?

[2020-10-20 20:12] mikkelbu commented on #3616
@TimothyDJewell Sure 😄. I'll assign the issue to you.

[2020-10-21 13:15] NadeemBader opened #3649 "Nunit 3 - NunitAddin & IAddin"
Hi
I'm wonder why I don't find the attribute NUnitAddin and the interface IAddin in NUnit 3, while they are available in NUnit 2.
Can you please assist?
Best Regards,
Nadeem Bader

[2020-10-21 15:35] siburny commented on #3648
There is no built-in Retry attribute in v2 as I can see

[2020-10-21 15:55] siburny commented on #2785
We too need to have ability to retry flaky tests.

This would be ideal in my case (and would not introduce a breaking change since RetryOnException would be false by default):
[code]

Or if we want to explicitly specify which exception to retry on we could specify it as a parameter.

[2020-10-21 18:41] siburny opened #3650 "Build issue with the latest .NET SDK 5.0.100-rc.2"
If I install latest version .NET SDK 5.0.100-rc.2 I am not able to compile the project, because NuGetRestore downloads FSharp.Core v5.0.0 in `nunit.testdata.fsharp` project. It errors out with the following message: "Package FSharp.Core 5.0.0 is not compatible with net45"

If I install version .NET SDK 5.0.100-preview.6 (which is listed in `global.json`) NuGetRestore downloads FSharp.Core v4.7.2 w

[2020-10-21 20:04] siburny commented on #3650
It turns out they `FSharp.Core` removed `net45` in the target frameworks:

https://github.com/dotnet/fsharp/blob/8b2422463201b90f90336768d6869e4f606d3d35/src/fsharp/FSharp.Core/FSharp.Core.fsproj#L7

[2020-10-21 23:42] siburny commented on #3644
Can you provide a simple unit test script? It would valuable to see your use case.

Documentation for `Assert.AreEqual<T>(T, T)` states:

[2020-10-22 02:58] siburny commented on #2785
I looked around the code, and it seems that exception type is not stored in the `ExceptionResult` structure. It needs to be stored first and then analyzed later.

[2020-10-22 03:40] stevenaw commented on #3633
@h0s You may want to consider tagging @nunit/framework-team with your question, as you'd be able to get a wider range of opinions and inputs from the people on that list.

I've looked into the history of this constraint a bit in https://github.com/nunit/nunit/issues/2704 and it sounds like there was a bit of discussion over some of these edge cases around handling `List<>` and `string`. At the tim

[2020-10-22 10:12] loop-evgeny commented on #3376
Is there an estimate of when this is expected to be released? We're enabling nullable reference types in our projects now and the lack of NUnit support for them is making this difficult.

[2020-10-22 20:55] stevenaw commented on #1546
I've spent some time looking at the Equatables comparer recently, and am familiar with this issue. Could it please be assigned to me?

[2020-10-22 21:01] gnaneswarreddy opened #3652 "I am not able to get total iteration from textcontext..how to run the test case multiple times by getting the test iteration value from excel?"

[2020-10-23 02:21] siburny commented on #3592
Based on the code, it seems that `start-test` event already has the following fields:

https://github.com/nunit/nunit/blob/26ddebb17caad79054367ab571dd2483166ad977/src/NUnitFramework/framework/Internal/TestProgressReporter.cs#L58

[2020-10-23 02:28] siburny commented on #3652
[This blog post](https://jeremybytes.blogspot.com/2015/10/getting-nunit-test-parameters-from-file.html) contains good examples on how to load test case data from a text file.

[2020-10-23 03:19] CharliePoole commented on #3592
@siburny Correct. @OsirisTerje was asking for two additional fields, which aren't there but are available in the framework.

[2020-10-23 13:10] gnaneswarreddy commented on #3652
This is not getting the data from text or excel but i have to run the test multiple times after getting the test data from excel, IN MStest we can do that using "textcontext.datarow.table.rows.count" where i get multiple times my test method has been there but Nunit i dont have anything like that.

[2020-10-23 14:01] siburny commented on #3652
I don't think there is a built-in way. See @CharliePoole answer here: https://stackoverflow.com/questions/51015369/iteration-number-when-using-testcasesource

[2020-10-23 16:31] siburny commented on #3644
Looking the code I see that `StringsComparer` checks the types of both arguments before comparing the values:

https://github.com/nunit/nunit/blob/6a2619e4e5471a9ae515eb8d2803aa69eb902f68/src/NUnitFramework/framework/Constraints/Comparers/StringsComparer.cs#L40-L54

[2020-10-24 02:26] gnaneswarreddy commented on #7
Any idea when this feature would be available?

[2020-10-24 21:09] NadeemBader opened #3653 "NUnit 3 - RemoteTestRunner is missing"
HI
I'm trying to upgrade from Nunit v2 to v3, and after upgrade, I noticed that RemoteTestRunner is missing.
Any suggestions?
Best Regards,
Nadeem Bader

[2020-10-24 21:11] NadeemBader commented on #3649
Answer could be found here: [http://docs.nunit.org/articles/nunit/technical-notes/nunit-internals/specs/Engine-Addins-Spec.html](url)

[2020-10-25 21:43] mikkelbu commented on #3653
Hi @NadeemBader
You will only need `RemoteTestRunner` if you run the tests programmatically (and not using the console, the GUI, or VS). In NUnit 3 you can use something like the following to run the tests (copied from https://stackoverflow.com/a/35585901
[code]
You should reference the nunit.engine.api assembly (not nunit.engine) in order to use this. Your class making these calls is assumed to i

[2020-10-25 22:26] mikkelbu commented on #3649
The attributes no longer exists in NUnit 3, and the addin concepts have changed as lot between NUnit 2 and 3 - see e.g. https://github.com/nunit/nunit/issues/2206#issuecomment-304976197, so if you need to migrate an NUnit 2 addin to NUnit 3, then I think we best can help you if you describe what the addin does.

[2020-10-25 22:32] mikkelbu commented on #3648
I'm closing this issue as answered. The closest thing I could find for NUnit 2 was https://www.nuget.org/packages/NUnit-retry/, but looking at the code and the issues, I don't think that it works (at least not without changes).

[2020-10-25 22:32] #3648 closed

[2020-10-27 17:21] #3592 closed

[2020-10-28 20:29] YVEF opened #3656 "Test explorer of Visual Studio integration"
Hi,
It's just a question.
How Visual Studio find tests with [Test] attribute and display it in the test explorer?
I didn't find any points, that NUnit implement for that in this repository.
Is it hardcoded in a source code of the Visual Studio?
Thanks.

[2020-10-28 21:08] OsirisTerje commented on #3656
If you think about the Real Time Discovery, the answer is yes, Visual Studio know about the NUnit attributes.

When executing however, you need the NUnit3TestAdapter which bridges down to the framework and returns the result to populate the window.

[2020-10-29 07:12] YVEF commented on #3656
Thank you for the answer. Yes, I'm about real time discovering.
Is there any way to extend such behavior? I mean, I need to discover not only Test attribute by NUnit, but also my custom attributes.

[2020-10-29 13:10] rprouse opened #3657 "Add Framework Version to the XML"
There have been small additions to the XML generated by the framework over time and tools like the Visual Studio Adapter have come to rely on some of those new attributes being present. The adapter project has requested that we expose the framework version so that they can drop back to the old XML parser for older versions of the framework.

This will add the existing `environment` element to `tes

[2020-10-30 16:36] yarhamjohn commented on #3075
I can raise a PR to remove these tests

[2020-11-01 07:34] NN--- opened #3659 "TestFixture Combinatorial or Values support"
I would like to have a TestFixture with specifying values similar to Test:

[code]

Currently I need to do it manually using TestFixtureSource:

[code]

[2020-11-01 14:44] #3656 closed

[2020-11-01 15:29] OsirisTerje commented on #3656
@YVEF If you extend based on the NUnit attributes it *should* work also for the RTD, but since you're asking, I'm assuming it doesn't.  Can you show some code snippets of what you're after ?

[2020-11-02 02:03] stevenaw commented on #2435
I think this is no longer an issue. It looks like this is now driven by an assembly-level attribute:
https://github.com/nunit/nunit/blob/a5adf028c101283beecad0b49104468efe75b90f/src/NUnitFramework/nunitlite/TextUI.cs#L83-L87
https://github.com/nunit/nunit/blob/d83e7150edb41340d5d00e76e4fa918509fbfeb9/src/CommonAssemblyInfo.cs#L59-L63

And the output seems correct now:
![image](https://user-images.

[2020-11-02 07:05] NadeemBader commented on #3648
Thank you very much

[2020-11-02 09:17] NadeemBader commented on #3653
Thank you for your reply

In NUnit 2, I used to work with the objects AndFilter, OrFilter, NotFilter and CategoryFilter.
I don't see any of them in NUNit v3? How they are implemented?

[2020-11-02 21:57] mikkelbu commented on #3653
The equivalent filters in NUnit 3 are internal - see e.g. https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Internal/Filters/AndFilter.cs as an example - if you want to do something similar then you can get hints and guidance from nunit#2684

[2020-11-03 07:24] NadeemBader commented on #3653
In my case, I'm moving my project from nunit v2 where all that filters are available to nunit v3 where all that filters are internal.
For example:

`var andFilter= new AndFilter();
 andFilter.Add(new CategoryFilter("Category_1"));
 andFilter.Add(new CategoryFilter("Category_2"));`

How should I use that filters in nunit v3? Any suggestions?

[2020-11-03 15:14] NadeemBader opened #3660 "NUnit 3 - XmlResultWriter"
Hi
By upgrading the nunit version to v3, I see that XmlResultWriter is missing.
Any suggestions?
Best Regards,
Nadeem Bader

[2020-11-03 16:16] DrHardReset opened #3661 "NUnit Engine - Missing TestEvent with overall testinformation after Update from 3.10 to 3.11.1"
I'm trying to update my testenvironment and painfully noticed a missing testevent.
I'm using my own resultwriter which implements ITestEventListener.OnTestEvent(string report).

1) With NUnit Engine 3.10 after each tested assembly the last Event the listener received was a test-suite report of type="Assembly" which contained all test results (TestSuiteResults and TestCaseResults).

2) With NUnit E

[2020-11-04 14:34] DrHardReset opened #3662 "TestContext.CurrentContext.CurrentRepeatCount only contains retry count not the repeat count"
While implementing a test which uses Retry and Repeat attributes, I noticed that the property "TestContext.CurrentContext.CurrentRepeatCount" does only count retries but not repeats.

As the name of the property leads to the assumption that repeats will be counted, I open this is issue as an improvement.

[2020-11-06 08:07] tobyash86 opened #3663 "When TestCaseSource produces empty cases collection, test should be Passed/Failed/Inconclusive per creator expectation"
## Description

I have large set of tests which are run against different versions o Visual Studio and I am migrating them to NUnit3. My goal is to test against single VS while I run my tests, I enforce it by setting environment variable with combination of TestCaseSourceAttribute and method which produces my test cases. Of course single test may be run for different VS versions, and some tests sh

[2020-11-07 19:15] uchagani commented on #2574
Appreciate all the work that was done to get #3427 merged in. @rprouse any idea when we can expect this in a release?

[2020-11-07 19:42] janissimsons commented on #2574
How do we use the new feature? Could someone write a short description about the new attributes and how to properly use them?

[2020-11-07 19:46] mcichonqa opened #3664 "Instance injection for test class from custom attribute with implementing IApplyToContext"
Hello. When I used custom attributes, I encountered two problems and I'm not entirely sure, if it is a lack of my knowledge or if it can not be done as I expected.

1.I created an attribute called "ExtendedAttribute" to include logic in it, e.g. to execute database queries. My custom attribute looks like this:

[code]

In ApplyToContext method I implemented my logic, but in addition to performing

[2020-11-07 22:13] rprouse commented on #2574
I am planning on releasing in the next couple of weeks. I wanted to wait until. NET 5 is final and do a bit of final testing with it before release. I doubt there will be any problems, but it is so close that I thought it would be better to wait.

[2020-11-10 15:56] shatulsky commented on #141
You can workaround it like this:

[code]

[2020-11-10 20:28] CharliePoole commented on #141
@baracek

That would work but without your use of `TestName` all the tests would have the same name. Obviously you understand that but I wanted to point it out for others. Anyone using this approach widely will have to give unique names to every test case, rather than relying on NUnit to do it.

[2020-11-11 10:42] SinsteinM commented on #3431
Although this issue seems to be somewhat inactive, I thought it might be helpful for others seeking the described functionality to share my approach. Following up on the proposal of @mikkelbu, I ended up writing the following custom parameter attribute
[code]
Example usage:
`[AllEnumValuesExcept(MyEnum.A, MyEnum.C)] MyEnum val`

[2020-11-11 16:03] NicoAtTangelo commented on #3057
I have the exact same question.
I'm using a pageObject model with:
- OneTimeSetup method in BaseTest class
- and my test

When I launch my test, the OneTimeSetup  method is ran.
How can I pass an argument to this OneTimeSetup method ??

If I get it well, I would need the TestFixture above my class, but which one ? BaseTest class containing my OnetimeSetup method ? Or my class containing my test ?

[2020-11-11 19:33] HyderNBK117 opened #3665 "Nunit console runner not picking up ms tests"
Hello, I’m creating a cake build script for a CI pipeline. I have multiple solutions that contain Nunit 3, 2 and Microsoft tests.

How do I configure the console runner to run all these test types in one run? I was able to do this with the vs test console exe, but I want to switch to Nunit3 console runner and OpenCover.

[2020-11-11 20:28] CharliePoole commented on #3057
@nunit/framework-team Should this not be closed as answered already?

[2020-11-12 14:24] rprouse commented on #3665
Sorry, we don't have a plugin for NUnit Console to run MSTest or xUnit tests. It currently only runs NUnit 2 and 3 tests.

[2020-11-12 14:24] #3665 closed

[2020-11-12 14:45] rprouse commented on #3664
It sounds to me like you are trying to inject data into your test classes at runtime. If that is the case, you could use the [TestFixtureSource](https://docs.nunit.org/articles/nunit/writing-tests/attributes/testfixturesource.html) attribute on your test classes and inject the data you want into the test class's constructor.

A simple example;

[code]

Obviously your `TestDataProvider` would have

[2020-11-12 14:56] rprouse commented on #3663
This sounds like a reasonable workaround to conflicting expectations. I'm going to label this as an idea for now but if nobody sees an issue with the idea, I think it could be promoted to an enhancement.

I prefer adding the `StateWhenNotRun` directly to the attribute and it should default to the current behaviour. We also need to decide if this applies to the other test sources.

[2020-11-12 15:35] rprouse commented on #3650
Sorry for the late reply. I was waiting for the final version of .NET 5.0 to be released to see if there were more issues. I've been fixing and testing.

- Global.json needs to be updated
- We need to target FSharp.Core 4.7.2 and disable automatically targeting 5.0.0.
- The framework define `NETCOREAPP5_0` was switched to `NET5_0`
- Our WPF test code needs to target `net5.0-windows`
- There are so

[2020-11-12 23:06] mikkelbu commented on #3653
How come you are writing your own test runner and not using an existing one e.g. the NUnit Console or NUnitLite? Then you could just pass in the filter to the runner.

[2020-11-12 23:43] #3616 closed

[2020-11-13 00:31] rprouse commented on #3650
Test failures were caused by changes to the binary directories and old files left in some of the directories. Fix was just a minor update to the `build.cake` file.

Now I just need to update the various CI builds and this should be done. PR incoming shortly.

[2020-11-13 11:56] AlexanderEgorov commented on #3565
Also, the tests fixtures that has at least one test with **PlatformAttribute** are not discovered by NUnit and cannot be run.
I have attached a sample project in which it is impossible to run tests in the Tests1 class.
Would you please tell when the next update **3.13** will be published to NuGet?
[WpfTestsNet5.zip](https://github.com/nunit/nunit/files/5536616/WpfTestsNet5.zip)

[2020-11-13 15:26] ksokolowski7 commented on #2333
Solution for this case is to replace dot with \u2024. So just before naming the test use `.Replace(".", "\u2024")`

[2020-11-13 15:31] ChrisMaddock commented on #3565
@AlexanderEgorov Just to clarify, are you saying that this issue is fixed in the current master, or is it outstanding? Can you file a new issue if not please, it sounds like a pretty big problem! 🙂

On 3.13, the team were holding out for the official release of .NET 5. @rprouse is currently working on getting everything up and running in #3666 and I believe is planning to release after that.

[2020-11-13 15:41] rprouse commented on #3565
I've added this to the 3.13 release project. I'll download and look at your solution @AlekseyMartynov

[2020-11-13 17:56] ChrisMaddock opened #3667 "Create FrameworkPackageSetting to set CurrentCulture and CurrentUICulture"
I'd like to add FrameworkPackageSetting for CurrentCulture and CurrentUICulture. These would allow the test thread cultures to be set at runtime, which can currently only be set by the `[Set*Culture()]` attributes at write-time.

This would make it easier for users to run the same test assembly under multiple cultures, and hopefully make testing under different cultures more accessible, and common

[2020-11-13 20:32] ChrisMaddock commented on #3660
Hi @NadeemBader,

Not too sure what you're doing with the XmlResultWriter, but, if you're not using the NUnit Engine you probably want to be looking at `IResultService` instead.

You can see how the NUnit Console interacts with it in the source file below, as an example:

https://github.com/nunit/nunit-console/blob/master/src/NUnitConsole/nunit3-console/ConsoleRunner.cs

Hope that helps. I'll clos

[2020-11-13 20:32] #3660 closed

[2020-11-13 20:41] ChrisMaddock commented on #3649
Closing this, as I think the questions answered. Feel free to comment further if not, the team will still get the notifications. 🙂

[2020-11-13 20:41] #3649 closed

[2020-11-15 23:30] rprouse opened #3669 "Platform("NET") attribute skips tests under .NET 5.0"
I'd like some opinions on this. A test with `[Platform("NET")]` is ignored when the test suite is compiled with .NET 5.0.

- Technically that is correct since it is NetCore under the covers, but
- Microsoft is selling .NET 5.0 as the one version and the successor to .NET 4.x
- I thought @jnm2's [code changes](https://github.com/nunit/nunit/pull/3581/files#diff-2b8f48c8fe61dca0ed5f073ae3f6cf60e4123

[2020-11-15 23:31] rprouse commented on #3565
I've tested @AlexanderEgorov's example with a recent build of NUnit 3.13 and it works fine. Testing with 3.12, I see the same issue as reported in this issue.

The `Platform("NET")` attribute causes the one test to be ignored when using NUnit 3.13. That is correct since it is actually .NET Core, but I thought the code @jnm2 added would address that. We've only just kept the Platform attribute work

[2020-11-16 00:08] stevenaw commented on #3669
I'm personally fine with that, as I don't think I've used the attribute much. Objectively, I think it also strikes a good balance between backwards compatibility and future maintainability (everything pre-NET5 using this attribute will continue to work I assume).

Would this be noted in the 3.13 changelog too?

[2020-11-16 14:14] Drizzynate28 commented on #3531
hey @IeuanWalker did you fix the problem ?
I Have a similar issue :
got:
[TestFixture(Platform.Ios)]
[TestFixture(Platform.Android)]
on the BaseTest Class
and when I run In AppCenter on android it also running iOS tests and they fail and when I run In AppCenter on iOS the android fail

[2020-11-16 15:05] IeuanWalker commented on #3531
@Drizzynate28 sorry I don't have that issue.
Mine was just the fact I cant select a specfic category to run.
i.e. want to run just dark theme, but that doesn't work sadly.

Not sure how you have structured your tests but you will need to add some logic based on the test fixture parameter. I got this -
[code]

[2020-11-16 15:09] Drizzynate28 commented on #3531
@IeuanWalker I want to run only Android and it running also Ios:
![image](https://user-images.githubusercontent.com/54494983/99268997-8337a200-282e-11eb-8edb-4df66a867679.png)

[2020-11-17 01:30] #3667 closed

[2020-11-17 01:31] #3075 closed

[2020-11-17 01:32] #1546 closed

[2020-11-17 08:08] pwasap4 opened #3671 "Display Test FullName as TestName"
Hello!
I have an abstract test class, that contains test methods. Then some classes that derive from this abstract class. The TestExplorer GUI recognizes the class deriving from abstract class structure, but the testNames are only with abstract class name. I would need to show NUNIT the fullName of test method, including the class name and abstract class name.

- the TestName pattern {M}{a} gives

[2020-11-17 16:07] rprouse commented on #3671
First, I wanted to confirm that this is NUnit behavior, not Visual Studio's or the adapter, so I ran the code using NUnit Console's explore option with your code as is;

[code]

And without the `TestName`

[code]

I think the second is what you are asking for in Visual Studio, but both show the derived class in the test names, so I don't think this is a framework issue. I'm going to mark this as a

[2020-11-18 23:54] Vaccano opened #3672 "HttpContext.GetAsync fails when using RunImpersonated, but ONLY when in a Test"
Summary
--

When run in an NUnit test, calling `HttpContext.GetAsync` will fail every time when called using `RunImpersonated`.  It will give the following error:

This ONLY happens if the code is BOTH in an NUnit test AND using `RunImpersonated`.

I am using the NUnit 3.12.0 NuGet package.

Sample Code
--
The test `Should_CallUrl_When_Impersonated` fails with the exception indicated above.  Howev

[2020-11-19 23:31] mcichonqa commented on #3664
Hi, thank you for your answer.

I understand that you can inject variables through the constructor, but I was more concerned with doing it through reflection like field.SetValue(context.TestObject, parameters);

I wanted to achieve something similar to the global extensions in SpockFramework, but this requires "interceptors".
I just want my "type" variable in the test class to have an attribute, s

[2020-11-21 21:24] jnm2 commented on #3641
This sounds good to me. I think we will only be preferring the most specific comparison available, and if that isn't what someone wants, they will have to use a custom comparer or do the comparison outside NUnit.

[2020-11-21 21:25] #3636 closed

[2020-11-21 21:42] jnm2 commented on #2211
@Poimen Sorry, not sure what you mean. What's the message currently, and what would you like it to be? Or are you looking for suggestions?

[2020-11-21 23:01] ffMathy opened #3673 "Filter from runsettings?"
Is there a way to filter settings from a file (like runsettings) instead of the --filter argument?

[2020-11-22 13:41] OsirisTerje commented on #3673
Can this https://docs.nunit.org/articles/vs-test-adapter/Tips-And-Tricks.html#where help you?

[2020-11-22 18:47] jnm2 commented on #3669
I specifically preserved the existing meaning of `NET`. `net5.0` has a TargetFrameworkIdentifier of `.NETCoreApp` while `net4.8` has `.NETFramework`, in terms of how the .csproj SDK works. I thought our platform includes/excludes should be consistent with that, but I'm happy to broaden the concept so long as we leave a way to specify .NET Framework specifically.

Despite branding, .NET 5 is not co

[2020-11-22 18:55] jnm2 commented on #3669
I specifically preserved the existing meaning of `NET` in terms of how the .csproj SDK works. `net5.0` has a TargetFrameworkIdentifier of `.NETCoreApp` while `net4.8` has `.NETFramework`. I thought our platform includes/excludes should be consistent with that, but I'm happy to broaden the concept so long as we leave a way to specify .NET Framework specifically.

Despite branding, .NET 5 is not con

[2020-11-23 03:27] jnm2 commented on #2435
Cool, thanks @stevenaw!

[2020-11-23 15:58] janissimsons commented on #2574
@rprouse Any estimates when you're going to release the new version? I'd like to start using this feature.

[2020-11-23 16:58] rprouse commented on #2574
@janissimsons very soon. We're working out some issues with our .NET 5.0 builds and a couple of other issues, then I will release. You can track the status on this project board, https://github.com/nunit/nunit/projects/4

[2020-11-23 21:53] ChrisMaddock commented on #2435
Hi all - I think this issue is actually still outstanding. Funnily enough I upgraded the NUnit Engine .NET Standard 2.0 tests to run on the latest master of NUnitLite just yesterday!

Below is a screenshot of what the current master looks like running on .NET Core 2.1, from the nunit-console logs.

![image](https://user-images.githubusercontent.com/4837132/100019308-ba312900-2dd5-11eb-9eda-ae67d5e

[2020-11-23 22:48] Vaccano commented on #3672
If there is a workaround to this issue I would LOVE to know it.  It is really causing me issues with my testing.

[2020-11-24 08:31] jawn commented on #2574
This is wonderful news!

Do I understand correctly that this will make the following possible in NUnit?

Combine all of these:
* Tests are parameterized
* Run tests in parallel.
* Be able to run parameterized variations of the same test in parallel.

https://github.com/jawn/dotnet-parallel-parameterized-tests

[2020-11-24 16:33] jons-aura commented on #3376
I'm trying to enable nullable reference types as well and having to drop null forgiving operators "!" even after Is.Not.Null checks is doable but rather irksome so it would be great to see this released.

[2020-11-24 16:43] jnm2 commented on #3376
Some of you are going to be disappointed. Assertions do not always throw when the assertion fails due to the multiple asserts feature, so even `Assert.Null` can't be annotated the way you'd expect. Further, even if that wasn't a concern, the C# language does not provide a mechanism to annotate `Assert.That(obj, Is.Not.Null);` as having anything to do with nullability.

[2020-11-24 16:51] jons-aura commented on #3376
I am disappointed that it sounds like an explicit `Assert.NotNull()` can't be annotated as a null check as I'm sure a lot of us hoped. Not surprised about `Assert.That` being impossible to annotate though both based on how it works and the comments I saw about it farther up the thread.

[2020-11-24 17:11] jnm2 commented on #3376
One thing https://github.com/nunit/nunit.analyzers could explore is using a diagnostic suppressor automatically for `Assert.That(obj, Is.Not.Null);` and `Assert.NotNull(obj);` when not inside a multiple assert block. It wouldn't be perfect and it could take some time to implement, but we welcome contributions.

(@mikkelbu, we could access the https://docs.microsoft.com/en-us/dotnet/api/microsoft.c

[2020-11-24 17:15] jnm2 commented on #3376
One thing https://github.com/nunit/nunit.analyzers could explore is using a diagnostic suppressor automatically for `Assert.That(obj, Is.Not.Null);` and `Assert.NotNull(obj);` when not inside a multiple assert block. It wouldn't be perfect and it could take some time to implement, but we welcome contributions.

(@mikkelbu, we'd have to implement https://docs.microsoft.com/en-us/dotnet/api/microsof

[2020-11-24 18:53] Vaccano commented on #3672
I don't think this is an NUnit issue.  I tested it with XUnit and it fails the same way.  I reported it in the Microsoft testing repo:

https://github.com/microsoft/vstest/issues/2651

[2020-11-24 18:53] #3672 closed

[2020-11-24 21:43] jnm2 commented on #3376
Another option is to use https://www.nuget.org/packages/Shouldly. I've been using it in all my NUnit test projects for a couple of years, and I added full nullability annotations in the recently-released v4. Example:

[code]

[2020-11-24 23:25] mcichonqa opened #3674 "LocalTestRunner does not use App.config from class library projects"
Hi, is it possible for the runner to run tests for the DLLs defined in TestPackage and use App.config from those DLLs?

I tried to create App.config as project name, e.g. IntegrationTests.dll as IntegrationTests.config, but after compilation the configuration file disappears in bin/Debug...

I run LocalTestRunner in Console application (.NET Framework 4.6.1).
The test project is a class library, t

[2020-11-25 07:26] drauch commented on #2574
Will the new release still be compatible with .NET Full Framework 4.7.2 or at least 4.8?

Best regards,
D.R.

[2020-11-25 12:25] #3650 closed

[2020-11-25 13:28] rprouse commented on #2574
@jawn I believe all that will work, yes. I've tested all of those things, but NUnit has many features so there may be edge cases with some combinations of features. Feel free to pull our nightly NuGet package and give it a test! We'd love more testing and feedback before we release.

@drauch yes, the 3.13 release will still support back to .NET 3.5.

[2020-11-25 13:28] #2574 closed

[2020-11-25 13:38] LirazShay commented on #2574
@avilv Great work!!
by the way using which tool did you created that nice flow diagram ?
Thanks

[2020-11-25 13:42] janissimsons commented on #2574
@rprouse Could you also please update documentation on how to use this new feature? Thanks!

[2020-11-25 14:01] rprouse commented on #2574
@janissimsons I am planning on updating the docs for the release. Short version though is to add `[FixtureLifeCycle(LifeCycle.InstancePerTestCase)]` to your test class, probably along with `[Parallelizable(ParallelScope.All)]` and an instance of your test class will get instantiated for each test that is run within the class. Doing that allows you to use member variables in the class in parallel t

[2020-11-25 17:39] jnm2 commented on #2574
@LirazShay The diagram in the screenshot was created in Visual Studio Enterprise. You can right-click a selection in Solution Explorer and choose "Show on Code Map," for example. https://docs.microsoft.com/en-us/visualstudio/modeling/map-dependencies-across-your-solutions ReSharper has a similar feature.

[2020-11-25 19:18] LirazShay commented on #2574
@jnm2 Thanks a lot!!!
I have VS enterprise and didn't know about this feature that can be very helpful
Thank you so much for the tip

[2020-11-26 01:25] #3657 closed

[2020-11-26 01:32] #3641 closed

[2020-11-26 14:56] amitbarkai opened #3675 "is there any way to make test run last in a test project ?"
Hi

from what i could find till now , i am not sure it is possible , but maybe there is something that I'm missing.
like in any test project we have lots of tests classes ( in our case these are E2E tests that runs on an live system)
when in some tests we need to run a script as a prerequisite that triggers iisreset .
which affect other tests ..
so what we want achieve is running these tests ( tes

[2020-11-26 15:19] zlepper opened #3676 "Parallelizeable tests sometimes shares memory"
Sometimes when unit tests are run in in parallel using the Parallelizable attribute, they accidently end up sharing memory. Which results in very change failures and disposed objects all over the place. See the attached project for a reproduction.

In rider the error list looks roughly like this:
![rider64_kpNungXn4t](https://user-images.githubusercontent.com/1499810/100368024-58ee9d00-3003-11eb-9

[2020-11-26 16:04] jnm2 commented on #3676
@zlepper This addressed in the upcoming v3.13 by https://github.com/nunit/nunit/issues/2574. You will have the option to add an attribute `[FixtureLifeCycle(LifeCycle.InstancePerTestCase)]` to each test assembly or test class.

Until then, you'll have to refrain from using class fields and SetUp/TearDown with test-case-level parallelism because they are incompatible in 3.12 and earlier. What I've

[2020-11-26 16:04] #3676 closed

[2020-11-26 19:21] zlepper commented on #3676
@jnm2 Nice! Is it possible to apply it to a base class and have it work down through the inheritance heirachy? For example we use a base class for almost all our tests that takes care of initializing a dependency injector and creating and entity framework database. That's where i added the dispose code today, and encountered this issue. So i would love to apply that attribute to the base class, an

[2020-11-26 19:48] jnm2 commented on #3676
I'm not sure off the top of my head, but I would honestly recommend using `[assembly: FixtureLifeCycle(LifeCycle.InstancePerTestCase)]` in every test project and opt *out* per test fixture as necessary. That's what I do with test-case-level parallelism as well.

[2020-11-27 00:17] uchagani commented on #2990
Another vote on this.

My use case is more around unhandled exceptions that (it seems) nunit is catching. I don’t care much about assertion exceptions themselves but exceptions thrown by other code.

[2020-11-27 06:54] manfred-brands commented on #3376
@jons-aura We can annotate `Assert.NotNull` and `Assert.IsNotNull` using the `NotNullAttribute`. This indicates to the compiler that the parameter will not have the value `null` when exiting the function. I just tested this and it works.

``
Assert.NotNull(possiblyNull);
Assert.That(possiblyNull.Length, Is.GreaterThanOrEqualTo(0));
[code]
string? possiblyNull = SomeMethodThatMightReturnNull();
str

[2020-11-27 07:10] manfred-brands commented on #3376
We can add the same `NotNull` attribute to those overloads of `Assert.That` which accept an actual Value.
This assumes that all `IResolveContraint` likely use the value.

[code]

This fails for the one constraint that actually tests for `null`, but no code would try to dereference that variable afterwards as the developer assumed it to be `null`.

Updated the PR with an extra commit.

[2020-11-27 14:08] jnm2 commented on #3376
@manfred-brands The team decided at https://github.com/nunit/nunit/issues/3473#issuecomment-592254847 that we cannot add that constraint to Assert.NotNull because Assert.NotNull does not always throw when it fails due to the multiple asserts feature.

I missed linking this in my previous comment, but there's already an open issue for conditionally suppressing nullability warnings after Assert.NotN

[2020-11-27 14:29] jnm2 commented on #3376
A point I'd like to add is that the BCL and C# language designers do not see getting rid of `!` as a goal. It's intended to be used often and long-term, whenever the framework compiler can't prove what you're doing is safe. You need it after passing a path you know is rooted to System.IO.Path.GetDirectoryName. Seeing `!` in the source code gives you useful information. It says "a human vouched for

[2020-11-28 20:38] stefanrbk opened #3678 "(Bug) Assertion Doesn't Handle Non-printible Characters Correctly in Message"
I am doing some tests on a class with a `ToString(string? format, IFormatProvider? provider)` method to make sure it returns the correct format in different languages/cultures. One such number I'm testing with is `-32768` to test for the thousands separator and the negative sign formatting. When I test using `ur-IN` for the Urdu language in India with an error with the thousands separator, the tes

[2020-11-29 02:50] manfred-brands commented on #3376
I will have a play with this.

[2020-11-29 11:52] manfred-brands commented on #3376
@jnm2 Raised https://github.com/nunit/nunit.analyzers/pull/325

[2020-11-30 13:32] MichalBrylka commented on #1394
Hi,
this still seems to be not fixed. See here for some more practical example:
https://gist.github.com/MichalBrylka/da9028fc4f2a472a1f9de263b0f63dbb

Also - would it be possible to add Has.Cardinality constraint that will look for either Count/Length/Size properties and resolve them appropriately ?

Can I help fixing any of these ?

[2020-11-30 17:33] CharliePoole commented on #1394
Looks like nobody has touched this since my comment in 2016, when I was still working on the framework. I think the comment itself still applies and the team needs to set both a long term and short term direction.

`<meta>`
Back in the early days of Extreme Programming, there was a notion of a "tracker" role. I wonder if we don't need something like that here. Maybe someone in the @nunit/framework

[2020-11-30 17:41] jnm2 commented on #1394
From a .NET runtime perspective, an object does not have a property with that name. This is because C# explicitly implemented properties do not become properties of the class with that name. They become properties of the class with the name `Full.Interface.Namespace.And.Type.Name.InterfacePropertyName`.

[2020-11-30 18:18] CharliePoole commented on #1394
@jnm2 Yes... I think the reason it doesn't work has been discussed way back. But what should users expect to work and what should they not expect?

I agree with you that the framework should support some subset of the possible things users might want to use. Since they are passing in a string, I feel it should work wherever c# `className.propName` would work, but not elsewhere. By longer term, I w

[2020-11-30 20:04] jnm2 commented on #1394
I'd like to propose that we search for properties on `typeof(T)`, where `T` is the generic type parameter of `Assert.That<T>`. Usually it is implicit. In the initial examples, `T` would be `IFoo` because the initial example is implicitly calling `Assert.That<IFoo>`. This would make the initial example work and fit most people's expectations, I think.

We probably don't want to stop our current sea

[2020-12-01 09:02] Laxmijha92 opened #3680 "Getting TestMethodCommand.cs not found while debugging Nunit related projects."
Getting TestMethodCommand.cs not found while debugging Nunit related projects.
Getting many other such issues like Reflect.cs not found.

![image](https://user-images.githubusercontent.com/62870155/100718809-c4f54a80-33e1-11eb-9305-8063193177c1.png)

Getting TestMethodCommand.cs not found

You need to find TestMethodCommand.cs to view the source for the current call stack frame

Locating source fo

[2020-12-01 11:37] rprouse commented on #3376
I had a long discussion with @jnm2 about this in Slack. I'm okay with changing the legacy asserts in this way, just not adding new ones, so that part isn't a problem. My issue is that this is a partial fix that cannot have a complete fix within the framework. If we do this for `Assert.NotNull` in the framework, then people will expect it to work for `Assert.That(actual, Is.NotNull)` and might also

[2020-12-01 12:04] NUnitTester commented on #1394
I think there is a big difference if we talk about interfaces and abstract classes or implementation classes.

The object is used by interface in this example. And the interface has such a property, so it must be found in any case, explicit or implicit. It is part of the interface.

This is the same thing, if IReadOnlyCollection with Count-Property is uses, but the implementing class is an Array w

[2020-12-01 13:46] jnm2 commented on #1394
@NUnitTester Yep, that's the point I'm making when I say we should use `typeof(T)` to search for properties, which will be the interface type if the `actual` expression passed to Assert.That was of that interface type.

At least I think it's the same point. I would not say that we should find an explicit implementation in any case. Only in the case where the `actual` expression is of the interface

[2020-12-01 14:40] MichalBrylka commented on #1394
ok, good to hear that this problem is solvable.
Meanwhile, I might propose both short term (it will work) and long term (probably having better usability) solution for collections sizes. I'd like to add Cardinality Constraint. What's the best approach to do that ? I started quickly with that:
https://gist.github.com/MichalBrylka/183c0cd60e4962a7b7314527142ff33c

Would this be useful ? Would you ac

[2020-12-01 14:42] Poimen commented on #2211
@jnm2 The error message that appears is:
[code]
The way the error messages are formed `StringifyArguments` function is a little "hacky".

So my badly expressed question is more if there was a cleaner way of producing the desired message output.

[2020-12-01 14:56] Poimen commented on #2211
@jnm2 I think I have addressed the comments on the review (thanks for them). The label says `awaiting:contributor`.

I'm not sure if there is something more I need to do to let you know that I'm "done" :+1:

[2020-12-01 15:58] jnm2 commented on #1394
@MichalBrylka I would recommend starting a separate issue to propose a new API. In the short term, this proposal to fix `Has.Property` should also cause `Has.Count` and `Has.Length` to just start working as you'd expect. In the long term, `Has.Cardinality` would have to give a reason why it's better than changing the way the `Has.Count` constraint works to specifically special-case counting an IEn

[2020-12-01 16:03] MichalBrylka opened #3681 "New API - Cardinality"
In issue #1394 I've proposed a new API for collections.
Instead of having to choose from Has.Count and Has.Length user might opt to use new one - Cardinality
I've proposed it here:
https://gist.github.com/MichalBrylka/183c0cd60e4962a7b7314527142ff33c

Even if #1394 will be resolved, in my opinion it's still more convenient to just use one constraint for any collection/list/array.

Let me know what

[2020-12-01 16:07] MichalBrylka commented on #1394
I'm not in the team but I like the idea. Anybody eager to change that ?

[2020-12-01 16:07] MichalBrylka commented on #1394
I'm not in the team but I like the idea. Anybody eager to change that ?

[2020-12-01 16:20] jnm2 commented on #1394
@MichalBrylka The purpose of the new issue is so that the discussion doesn't happen in this thread. Thanks!

[2020-12-01 16:21] Poimen commented on #2339
@mikkelbu I have some time come available. I'll have a look into this for you if you like.

[2020-12-01 16:24] jnm2 commented on #3681
This comes with the downside of having three APIs instead of two. Unless we mark the first two as deprecated, this adds cognitive overload when choosing which to use. `Count` and `Length` are recognizable from standard .NET types, but `Cardinality` is not.

What if we make our existing `Count` constraint have the same behavior as your proposed `Cardinality` constraint, if there is no `Count` prope

[2020-12-01 16:29] MichalBrylka commented on #3681
@jnm2
sure, no problem with naming. I corrected my approach to suit that:
https://gist.github.com/MichalBrylka/183c0cd60e4962a7b7314527142ff33c#file-cardinality-cs-L27

I did not change the name but that no biggie

Except `Count` and `Length` should we also check for something else ? i.e. `Size`...

[2020-12-01 16:29] jnm2 commented on #1394
@MichalBrylka Thanks for your input, it helps! Your quote included my entire post above. I edited your comment to make the thread more readable.

By "anybody eager to change that" are you asking if anyone is eager to propose something different or if anyone is eager to make the proposed change to NUnit? We'd be grateful for contributions in either area, and it'll be up to the @nunit/framework-team

[2020-12-01 16:33] jnm2 commented on #3681
If it fails to find a property called `Count`, rather than looking for properties named Length or Size, I think it should try `(actual as IEnumerable)?.Cast<object?>().Count()` to obtain the count.

[2020-12-01 16:39] MichalBrylka commented on #3681
Right now it's possible to write:
[code]
like in my gist.

I don't know if anyone uses that feature but it's possible.

I personally like the idea of searching for property, then using LINQ magic, but it this way it will work here
[code]
but not here

[code]

[2020-12-01 16:42] MichalBrylka commented on #1394
@jnm2
ok, thanks for edit

By saying "anybody eager to change that" I meant:
I can contribute here as long as you have consensus on choosing the approach aligned with your taste, so that this work will not go in vain :)

[2020-12-01 16:49] jnm2 commented on #2211
I think we should make it as close as possible to the message that is shown when `Has.Property` can't find a property. We should then replace `property` with `default indexer` and replace the property name with `accepting arguments [42]` or something like that. I lean towards thinking we should use one of the existing `MsgUtils.FormatCollection` to show the argument values rather than listing the

[2020-12-01 17:05] CharliePoole commented on #166
@framework-team @rprouse

I was about to report this issue but something told me I may have reported it before, and indeed I did. The issue was impacting development of theTestCentric GUI and it still is. To a lesser degree it continues to impact the engine and console runner.

History:
I created the issue in 2014
@oznetmaster self-assigned it in 2016
In 2019 I asked @oznetmaster to remove himself

[2020-12-01 17:28] CharliePoole commented on #3681
I'm somewhat suspicious of adding a concept (Cardinality) in NUnit, which doesn't exist in .NET itself, even if we wish it did.

If you do this, then you'll have to keep maintaining it as .NET adds new features, which require support. Worst case - .NET adds a Cardinality property, which conflicts with this NUnit concept. IMO NUnit needs to work with C# and .NET as it already exists.

Note that onc

[2020-12-01 17:35] jnm2 commented on #3681
Me too. The way you are thinking of 'Cardinality' seems to map perfectly on to the concept of Enumerable.Count, so `Count` is the word I would prefer to use to achieve this goal.

If we augment `Has.Count` to work using `Enumerable.Count` if there is no Count property AND the actual value is `IEnumerable`, then `Has.Count` and `Has.Count.EqualTo(3)` both continue to make sense and also begin to wo

[2020-12-01 20:10] MichalBrylka commented on #3681
@jnm2 I'm convinced. It can be reworked like that

[2020-12-01 20:49] rprouse commented on #1394
I'll second @jnm2's comment and the rest of his leadership in this thread, so I think you can go ahead based on his direction.

[2020-12-01 20:57] jnm2 commented on #1394
Thanks @rprouse!

@MichalBrylka I'll take you up on your generous offer to contribute. Take your time and feel free to tell us if you change your mind. If you have questions, comment here or in our Slack channel ([join link](https://join.slack.com/t/nunit/shared_invite/zt-jz58jw68-Led8y3WH4n2a~Y5WjuOpKA)). Is there anything I can clarify about the implementation plan for the proposal above?

[2020-12-01 21:01] CharliePoole opened #3682 "StopRun(true) is not actually cancelling a hanging test"
For a long time, I've been thinking that the framework successfully cancels tests but doesn't report them as cancelled. That's what issue #166 was all about. I don't know if the behavior I see now is newer than that old issue or if it was present back at the time. However, it seems like it has to be fixed first in any case.

The TestCentric GUI uses a test assembly with deliberate infinite loops t

[2020-12-01 23:02] CharliePoole commented on #2016
@rprouse Don't you already do this?

[2020-12-01 23:12] oznetmaster opened #3683 "#3655 is incorrect"
I noted this in #3655, but it appears that a comment on a merged issue is no longer disseminated?

The merged code appears incorrect.

I noted the incorrect code in #3655.

[2020-12-02 11:13] stevenaw commented on #3683
Thanks @oznetmaster
I was on the PR and did receive an email notification about your comment, but I hadn't had the chance to respond yet.

As the implementer, can you help me understand a bit about why it's incorrect, or what edge cases wouldn't be covered under the current version?

[2020-12-02 11:15] stevenaw commented on #2435
Oh sorry about that @ChrisMaddock ! Thanks for catching and pointing out the line that needs updating

[2020-12-02 12:37] oznetmaster commented on #3683
TargetMethods returns all methods defined for the target type, while InterfaceMethods returns only the methods defined on the interface, in this case only Equals.

[2020-12-02 13:23] ChrisMaddock commented on #2435
No worries! 😊

[2020-12-02 13:25] MichalBrylka commented on #1394
@jnm2 I think I'll be able to tackle that, just not this week. Usual workflow of:
forking repo -> commits-> push -> PR to nunit
works in your team ?

[2020-12-02 15:35] jnm2 commented on #1394
@mjedrzejek Sounds good. Yes, that's what we do.

[2020-12-02 15:39] MichalBrylka commented on #1394
@jnm2 I take this as it was intended as answer to my comment. If so - just gimme some time and I'll be back

[2020-12-02 15:44] jnm2 commented on #1394
Sorry about that. Yes, take all the time you need.

[2020-12-02 15:53] jnm2 commented on #3683
Isn't the method defined for the target type the one that was wanted there? That's what the original code did.

[2020-12-02 16:23] oznetmaster commented on #3683
The interface methods are a subset of the target methods.  That are all based on the target type.  Think target type cast to interface and then get methods.

[2020-12-02 16:25] oznetmaster commented on #3683
Look closely at description of InterfaceMap

[2020-12-02 21:36] jnm2 commented on #3683
Sorry, what I thought was original code was just a previous commit in the same PR.

@oznetmaster I understand what InterfaceMap does. The target method is the implementation method, not the interface method. Could you explain why it is a bad thing for our `EquatableMethodImpl` class to be holding the implementation method instead of the interface method?

[2020-12-02 21:44] jnm2 commented on #3683
This doesn't make sense to me. TargetMethods is designed to correlate 1:1 by index with InterfaceMethods. I've long used this member this way.

https://docs.microsoft.com/en-us/dotnet/api/system.reflection.interfacemapping.targetmethods#remarks:

[2020-12-02 22:24] mikkelbu commented on #2016
@CharliePoole If you refer to

Then we do this now (since 3.11 - "ValuesAttribute now works with nullable types")

Personally, I like the distinction between simple tests and parametric tests, so I don't think we should change `[Test]` to also supply values for enums and booleans.

[2020-12-02 22:44] mikkelbu commented on #1419
@ChrisMaddock I think this should be moved to the console. Do you agree?

[2020-12-02 23:05] CharliePoole commented on #2016
@mikkelbu Yes, that's what I meant.

I agree entirely about `[Test]` since it doesn't supply any data at all. We can (or should) only change data-supplying attributes to do this. So `[TestCase]` would be fine but not IMO `[Test]`.

In which case, is there anything left to do? Can't this now be closed?

[2020-12-02 23:16] mikkelbu commented on #2016
I'll close it now.

[2020-12-02 23:16] #2016 closed

[2020-12-02 23:56] CharliePoole commented on #548
In a core team discussion, I undertook to review old framework issues authored by me and leave comments that might lead to some action or at least a decision about future action. This is the oldest and first one.

I created this issue because people were asking for it. It's not something I personally need.

I wrote outlined two possible approaches. @mikkelbu started to collect issues around the pr

[2020-12-02 23:59] CharliePoole commented on #714
I created this as the lead of the project  at the time, not as a user. I think it's a good idea but not a big priority.

Since the issue has been out there for five years and no user has even commented, I think it's a candidate for removal.

[2020-12-03 00:04] rprouse commented on #166
I think that we could ensure that cancellation is sent and then do our best to clean up, so I think that this is still a worthwhile issue.

[2020-12-03 00:05] CharliePoole commented on #727
This was added as a matter of consistency - generally testcasedata should enable anything that testcase enables. However, it's another one that has been sitting for five years and could be closed. If kept, I think the priority should be lowered and it should be labeled as "help wanted"

[2020-12-03 00:08] CharliePoole commented on #1001
This is a general issue about how many inconclusive tests we have. Rob and I looked into it but no decision was ever reached.

I can't offer much here except that someone should decide if it's still a problem!

[2020-12-03 00:10] CharliePoole commented on #1012
Nobody has cared about this for five years, so I'd recommend closing it.

[2020-12-03 00:19] MichalBrylka commented on #1394
@jnm2 do I understand that this should pass:
[code]

while this should fail:
[code]

?

IList<> "obviously" contains Count property

[2020-12-03 00:54] CharliePoole commented on #166
Because I'm working on this in the context of the GUI it would be very valuable if somebody verified it with either the console runner or nunitlite. If nobody else does, I'll try to get to it soon.

[2020-12-03 03:02] hamjo opened #3684 "Inherited tests not using derived class in full name"
I have an issue with test names that is similar to #3671

When using the pattern {M} as DefaultTestNamePattern in runsettings, the test name does not contain the name of the derived class being run for inherited tests.

Reproduction steps here : https://github.com/hamjo/github-issues/tree/master/nunit/inherited-test-name

[2020-12-03 03:03] hamjo opened #3685 "Named parameters in test names not formatted"
When using the pattern {M} as DefaultTestNamePattern in runsettings, the test name does not contain the parameters formatted as named parameters.

Steps to reproduce here : https://github.com/hamjo/github-issues/tree/master/nunit/named-parameter-name

[2020-12-03 08:38] Poimen commented on #2211
Given the assertion:
[code]

It producers the message:
[code]

Given the assertion:
[code]

It producers the messages:
[code]

This generated using the `MsgUtils.FormatCollection` function.

So also more closely matches the Property messages, with the added details.

[2020-12-03 15:02] jnm2 commented on #2211
I like the second case very much. The first case still seems semantically wrong to me because it shows argument types instead of argument values. We only have argument values, and each argument value can match a range of argument types in the indexer. It's misleading to make it look like there must be an indexer with a `System.String` argument because an `IEnumerable<char>` argument would work jus

[2020-12-03 15:20] Poimen commented on #2211
`IEnumerable<char>` is a wacky use case...but sure, I get the point.

So, back to - given:
[code]

producers the message:
[code]

For numbers it goes into the usual suffix - given:
[code]

producers:
[code]

[2020-12-03 15:24] jnm2 commented on #1394
@MichalBrylka That's a great question. I think we should take our cue from how .NET languages work in general. Since `((IList<int>)array).Count` is allowed at compile time, I think `Assert.That((IList<int>)array, Has.Property("Count"));` should succeed. That would allow us to leverage the mental model that people are used to using. "I'm using thing as an `IList<int>`. Does `IList<int>` have a Coun

[2020-12-03 15:28] jnm2 commented on #2211
The 'Expected' message looks great then to me. The `But was: "not found"` message looks a little like it's talking about a string instance with the contents `not found`, but if PropertyConstraint behaves the same way, changing this would be out of scope for this PR by default.

[2020-12-03 15:35] Poimen commented on #2211
Yeah, I was trying to make it not do the is, but I wouldn't find a solution with the error message. I would have liked it just to be:
[code]
but the return of `ConstraintResult` is putting the string quotes in there.

For reference the property version:
[code]
produces:
[code]
So there are no quotes - but it returns the type - not a value.

I wasn't sure if returning an overload of `ConstraintResu

[2020-12-03 16:08] jnm2 commented on #2211
I think we should stick with what PropertyConstraint is doing for consistency. Showing the default representation of what the `actual` value is isn't the worst thing when the message saying that what failed was finding the property.

Returning a new class derived from ConstraintResult is how other constraints customize this, yes.

[2020-12-03 16:40] MichalBrylka commented on #1394
@jnm2 ok, I'm in favour of that approach. In that case, in PropertyConstraint.ApplyTo<T>, if T is any interface, I'll look in all interfaces that T "couples"

[2020-12-03 18:17] jnm2 commented on #1394
@MichalBrylka The official term is "inherits" btw; `IList<T>` inherits from `ICollection<T>`. Unlike class inheritance which only allows inheritance from exactly one class, interface inheritance can be from multiple base interfaces.

[2020-12-03 18:21] jnm2 commented on #1394
Here's how we can be safe: if `typeof(T).IsInterface` is true, then we know that we should search `typeof(T).GetInterfaces()` if we didn't find the property in `typeof(T)`. If `typeof(T).IsInterface` is false, we had better not search `typeof(T).GetInterfaces()` because we want `Assert.That((object)array, Has.Property("Count"));` to fail. (There should be a test for each of these scenarios.)

[2020-12-03 18:22] CharliePoole commented on #1394
@jnm2 My comment about a lambda-based approach was intended as a reference to issue #26, from 2013 but actually going back to a 2011 request when the project was on Launchpad. So this ties into the separate discussion we have been having about extremely old issues. If that is no longer seen as a potential direction, that issue should be closed.

[2020-12-03 18:26] jnm2 commented on #26
As far as I'm aware, there are no plans on the horizon for C# that would allow strongly-typed syntax like `Assert.That(myArray, Has.Property(s => s.Length));` where the compiler correlates the type of `myArray` to the type of `s`. Since we didn't like the idea of explicitly specifying the generic type argument(s) on the `Has.Property` call, for this issue to move forward, I think we'd have to be c

[2020-12-03 18:28] jnm2 commented on #26
@rprouse Can you give your thoughts on `actual.Should().Have.Property()` as a potential addition to NUnit, versus Shouldly or FluentAssertions? We talked about this exact think on Slack recently.

[2020-12-03 18:35] jnm2 commented on #1394
@CharliePoole Thanks for making me aware of #26. I commented there since I believe this current issue is resolved independently of it.

[2020-12-03 18:58] MichalBrylka commented on #1394
@jnm2 I usually use "extend" for interfaces to contrast it from class inheritance. But I wanted to convey the sense of interface "bundling" hence I used other term. Sorry, English is not my first language;)
What you suggested is exactly what I had in mind

[2020-12-03 19:01] jnm2 commented on #1394
@MichalBrylka In this case it's not an English term but rather a .NET ecosystem term. Interfaces inherit from other interfaces, classes inherit from other classes, and 'derive' and 'extend' can be used interchangeably with 'inherit' from what I've heard.

You're ahead of me on this one, perfect!

[2020-12-03 19:13] CharliePoole commented on #26
@jnm2 Of course C# won't directly support this - and it didn't in 2011 for sure. However, at the time, we saw other programs making use of this sort of syntax for type safety and thought we would do the same thing. See, for example, the NSubstitute syntax for firing an event.

However, my intent wasn't to advocate this approach, but rather to point to the long-standing issue that once pointed to a

[2020-12-03 19:16] CharliePoole commented on #1394
Agree on the terminology. In addition, I believe the correct usage for class : interface is that the class "implements" the interface. At least that's what I was taught to say. :smile:

[2020-12-03 19:32] rprouse commented on #26
@jnm2 If I understand you correctly, I'd be uncomfortable adding a new assertion syntax, especially one that mimics FluentAssertions. I have code that mixes NUnit and FluentAssertions, so `Should()` would conflict if we added it to the framework.

I agree that this would be useful, but nobody except the core team has ever asked for or commented on this issue, so is it something we want to implemen

[2020-12-03 20:12] jnm2 commented on #26
@CharliePoole I think we were on the same page. Thanks for clarifying.

@rprouse I lean towards saying we shouldn't add new extension-method APIs that work just like Shouldly or FluentAssertions. I think this came up when we were talking about extension methods like `actual.AssertNotNull()` too. If we try to get `actual` and `s => s.Property` in the same method call which is required in order for

[2020-12-03 22:00] MichalBrylka commented on #1394
Have a look here if that's to your liking:
https://github.com/nunit/nunit/pull/3686

Moreover, which set of tests of nunit framework itself should be always passing ? Do you have specific playlists, categories... ?

[2020-12-03 22:02] mikkelbu commented on #714
Then I think we should remove it. We can always create a new issue (or reopen this), if a user has the need for this.

Should this issue be in the console repo now? (I guess it was created before the split of the framework and the console)

[2020-12-03 22:02] #714 closed

[2020-12-03 22:07] mikkelbu commented on #1394
Regarding the tests, then they should all pass if you use the cake script `.\build.ps1 -Target Test` in powershell (and similar in bash), see e.g. https://github.com/nunit/nunit/blob/master/BUILDING.md. If you run the tests from VS then the following should pass
* nunit.framework.tests-*
* nunitlite.tests-*

(some of the other test projects contain tests designed to fail purposely for integration

[2020-12-03 22:12] mikkelbu commented on #1012
I agree, then we can solve this problem if/when somebody needs it.

[2020-12-03 22:12] #1012 closed

[2020-12-03 22:22] MichalBrylka commented on #1394
@mikkelbu thanks. Upon running tests in VS, some of them failed (cause they should i.e. they were testing faulty stuff), but running build script says everything is fine. Appveyor also seems not to be complaining

[2020-12-03 22:23] mikkelbu commented on #3680
@Laxmijha92 You'll need to provide some more information for us to help you.
* Which version of NUnit are you using
* Are you debugger your own tests and then stepping into NUnit code or are you debugging NUnit directly
* Do you have `Just My Code` disabled in VS, see e.g. https://github.com/nunit/nunit/blob/e3db502f121a9d9bdbf0dca70b2ba55f27365571/CONTRIBUTING.md#confirming-issues

[2020-12-03 22:28] mikkelbu commented on #3673
@ffMathy Should I interpret the "thumbs up" as the question has been answered (and thus this issue could be closed)?

[2020-12-03 22:36] mikkelbu commented on #3632
I'll close this as a duplicate of #3282. This should be solved with 3.13.0 which hopefully is out soon.

[2020-12-03 22:36] #3632 closed

[2020-12-03 22:39] mikkelbu commented on #3113
I'm closing this, as we have not heard back from the reporter. We can reopen this issue, if more information arise.

[2020-12-03 22:39] #3113 closed

[2020-12-03 22:57] mikkelbu commented on #1499
@CharliePoole I could not find the branch `assert-counts`, and given that we don't have the portable build anymore and nobody else have reported issues about this (as far as I can search), I propose that we close this issue. Then we can reopen it if somebody runs into this problem.

[2020-12-04 00:52] CharliePoole commented on #714
@mikkelbu If done, it would be in the framework project. It's a question of how the framework interprets a Test filter.

[2020-12-04 00:57] CharliePoole commented on #1499
@mikkelbu Yes, I didn't review this one recently but that's what I would do. FYI very old issues I wrote with wording like "This was reported..." mean I just copied it from elsewhere. We didn't always have the ability to transfer issues between projects and some were even hand-copied from other sites where our project used to live. I probably typed in 50 to 100 from Launchpad alone at one time.

[2020-12-04 04:46] ffMathy commented on #3673
Yes 🙏👍👌

[2020-12-04 04:46] #3673 closed

[2020-12-04 09:02] Poimen commented on #2211
Ok, great - sounds like - given:
[code]

producers:
[code]

This matches the property constraint message.

[2020-12-04 12:31] mikkelbu commented on #1499
Ok. I'll close it then. (sounds like a lot of work back then :) )

[2020-12-04 12:31] #1499 closed

[2020-12-04 17:27] mikkelbu commented on #2339
Thanks @Poimen. I've assigned the issue to you.

[2020-12-06 04:54] NN--- opened #3687 ".NET 5.0 single file application is not supported"
AssemblyHelper uses Assembly.CodeBase which is not supported in .NET 5.0 with single-file application mode.

[2020-12-06 06:32] NN--- commented on #3644
@siburny The topic is about compile time check in AreEqual.
Currently NUnit receives object in both parameters.

If you had it generic this would not compile AreEqual(1, “1”)

[2020-12-06 09:53] oznetmaster commented on #3683
It appears that the problem is in the third part implementation of InterfaceMap I was using.

You may remember that all of my work is on WindowsCE and the Compact Framework.

Since the Compact Framework does not support InterfaceMap, I had to use a third party implementation of it.

Apparently, that implementation is faulty.

I am writing my own implementation, which should solve my problem.

Sorr

[2020-12-06 16:39] jnm2 commented on #3644
The NUnit `Assert.AreEqual` method is considered legacy and the team's default position is that we should not add new Assert APIs.

What I would do in this case and in the much larger bucket of cases where there is too much repetitive noise in tests is to extract a helper method. Sometimes to obtain the value to assert against, sometimes to do the assert itself.

[2020-12-06 16:45] jnm2 commented on #3683
The noise doesn't bother me. Comments like "Look closely at description of InterfaceMap" do bother me a bit. Those comments say to Steve and me that we don't know what we're talking about when we do. Even if we didn't know what we were talking about, it would be a lot nicer conversing without overtones like that. Does that make sense?

[2020-12-06 16:46] #3683 closed

[2020-12-06 16:54] jnm2 commented on #3687
@NN--- to be clear, is this only when the test assembly itself is published as as single-file application?

[2020-12-06 17:09] jez9999 commented on #3644
@jnm2 If it's legacy, what is meant to be used instead?

[2020-12-06 17:10] NN--- commented on #3687
Correct.
My project is single-file application which runs tests in its assembly using NUnitLite:

[code]

[2020-12-06 17:21] jnm2 opened #3688 "Clarifying the status of the classic model assertions"
Do we document anywhere that we consider the classic model to be legacy? We bring it up in GitHub issues, but people seem to be surprised to learn it, e.g. https://github.com/nunit/nunit/issues/3644#issuecomment-739532642.

https://docs.nunit.org/articles/nunit/writing-tests/assertions/assertions.html hints but doesn't come right out and say it.

1. Is "legacy" the word we want to use?
2. Do we wa

[2020-12-06 17:24] jnm2 commented on #3644
@jez9999 The constraint model assertions: `Assert.That(actual, Is.EqualTo(expected));`
(https://docs.nunit.org/articles/nunit/writing-tests/assertions/assertion-models/constraint.html)

Or if you're like me, you use a separate assertion library along with NUnit because you like a third style better than these two.

[2020-12-06 17:27] jnm2 commented on #3687
Ah, the NUnitLite part makes sense. Thanks for the sample! Do you have a suggestion for what NUnitLite should do instead to obtain a System.Reflection.Assembly instance?

In the meantime, your workaround is to use `new AutoRun(typeof(Program).Assembly)` instead of `new AutoRun()`.

[2020-12-06 18:16] NN--- commented on #3687
This workaround is not working too.
The code calls Assembly.CodeBase which throws.

[2020-12-06 18:27] NN--- commented on #3687
It is a little bit more complicated.
There are two modes of single-file application with file extraction (.NET Core 3) and without (.NET 5.0 default).

Let's see .NET 5.0 in memory single-file:

There is a simple way to determine whether you are running with single-file mode.

Assembly.Location	Returns an empty string.

https://docs.microsoft.com/en-us/dotnet/core/deploying/single-file#api-incompa

[2020-12-06 19:15] jnm2 commented on #3687
Gotcha. Thanks for clarifying, that's very helpful. We need to add an enhancement so that NUnitLite can work in a consistent way when there *is* no filename specific to the test assembly. Does that sound right to you?

If so, we need to detect when we're in this situation and do whatever seems like a logical replacement for showing the test assembly filename since there actually is none. The main

[2020-12-06 22:24] mikkelbu commented on #548
Regarding the project being empty, then it also looked empty when I checked now, but I clicked in the menus, and now it contains: #3067, #1396, #1358, #796, #548 (but I think that there could be more issues). I think your comments are most useful, and hopefully I'll have time to look at this again soon.

[2020-12-07 07:46] NN--- commented on #3687
I deploy a single-file for the simplicity.
I use NUnit framework for different performance tests.
It is much easier to me to create a single self-contained executable and run it instead of publishing multiple files.
It also makes it possible to upgrade .NET version without changing any machine configuration where tests run.

[2020-12-07 10:55] mikkelbu commented on #3688
1. I think legacy has a negative sound, so in the analyzers we also use "constraint model" vs "classic model" (and I prefer this to legacy). A comment on nunit/nunit.analyzers#9 states that they where called legacy asserts at some time

2. We can make it more clear, but I can understand why some use the classical model for simple asserts like `Assert.IsTrue(expression)` or `Assert.IsNull(expressio

[2020-12-07 21:31] k15tfu commented on #3315
@jnm2 Hi! Any chance to get it fixed in 3.12.1? Not sure when 3.13 will be released.

[2020-12-08 16:28] rprouse commented on #3315
3.13 will be released soon. We don't do point releases for features, only for serious bugs or regressions. If you want to use this feature now, you can always use our continuous builds.

[2020-12-09 00:02] jnm2 commented on #2211
@nunit/framework-team and everyone, I'm hoping for a speedy resolution on this question since @Poimen's excellent PR is ready to merge otherwise.

@Dreamescaper brought to my attention my concern higher up in this thread that I lost track of: https://github.com/nunit/nunit/issues/2211#issuecomment-386774663

I'm afraid people will both write and read `Assert.That(collection, Has.Item("x"));` think

[2020-12-09 00:15] Dreamescaper commented on #2211
+1 for `Has.ItemAt` :)

[2020-12-09 00:24] CharliePoole commented on #2211
I agree with you that `Has.Item` is potentially confusing. I like `Has.ItemAt` but since you like the LINQ syntax, why not use `Has.ElementAt` ?

[2020-12-09 00:30] Dreamescaper commented on #2211
I'm not sure about ElementAt, as it's not a direct equivalent.
E.g. for `Dictionary<string,string>` LINQ's ElementAt(0) will return the first pair, and Has.ItemTo(0).EqualTo("...") will fail, as there is no indexer accepting integers.

[2020-12-09 00:35] jnm2 commented on #2211
@CharliePoole That's a really good thought. It seems like it will not be as intuitive to find, but I don't know why I think that. I think I prefer `Item` because we will call an indexer on presumably a collection/dictionary/lookup of some kind, whereas `ElementAt` is intended to work in queries and other enumerables that aren't necessarily collections. Collection elements are usually called items.

[2020-12-09 00:43] Dreamescaper commented on #2211
@jnm2
It probably could, but I don't know a better option (and I think it's still a much better option than Has.Item).

[2020-12-09 01:08] CharliePoole commented on #2211
@jnm2 I'm actually a little confused. This issue started out being about Properties and is still so titled. How will Has.Property and Has.ItemAt relate or interact or compare with one another in the eyes of the user?

[I realize that properties and collection Items can be treated as equivalent at a certain level of abstraction, but I don't think it's the level of abstraction at which most of us us

[2020-12-09 01:08] jnm2 commented on #2211
I feel most comfortable with `ItemAt` over `ElementAt` partly because it might look like we delegate to or take the same particular approach as `Enumerable.ElementAt`. What struck me strongly with `ElementAt(int index)` was the specifics of how it worked and more the fact that there's precedent for an `At` suffixes in the BCL, especially associated with a parameter named `index`.

If you use this

[2020-12-09 01:19] jnm2 commented on #2211
@CharliePoole `Has.Property("X")` asserts that the instance has a non-parameterized property called `X`. `Has.ItemAt("X")` would assert that the instance has a default indexer (a parameterized property with an irrelevant, well-known name) that can accept a string parameter.

`Has.Property("X").EqualTo(3)` asserts that the instance has a non-parameterized property called `X` that returns `3` if you

[2020-12-09 02:18] CharliePoole commented on #2211
@jnm2 I actually understand all the C# etc. language stuff about indexers... however...

I think there's potential for confusion between the property
 * __being__ an indexer of the actual object
 * __returning__ an object that has an indexer
 * __returning__ a collection with items in it

I stress that __you__ won't be confused and I'll probably only pretend to be when talking with you (socratic m

[2020-12-09 03:01] jnm2 commented on #2211
@CharliePoole Good thought. Can we table that consideration until we settle on a name, since it sounds like it won't affect the choice between `Has.ItemAt`/`Has.ElementAt`/`Has.EntryAt`/etc? Or is there a point I missed and you are supporting a particular naming choice based on this potential for confusion?

[2020-12-09 03:09] jnm2 commented on #2211
So far I'm leaning towards `ItemAt`. @Dreamescaper, is that still where you are too? @CharliePoole I wasn't sure if you were expressing a preference for `ElementAt` or just helping us think through the process.

The more people chime in, the more confidence we can have in what people will find intuitive. I'd like to just call it for whichever seems to be in the lead in the next day or so, since we

[2020-12-09 05:31] CharliePoole commented on #2211
@jnm2 Just trying to think it through myself and encourage the same.

WRT the choice of words, I was wondering whether some particular wording will work best with the three types of expressions I listed and also whether there are any other combinations to worry about. With the three options I mentioned, you would have

* `Has.ItemAt("foo").EqualTo("bar")`
* `Has.Property("Bing").With.ItemAt("foo")

[2020-12-09 14:27] Poimen commented on #2211
I know that this is above-my-pay-grade :smile:, but thought I'd chime in here...

I take a liking to `ItemAt`.

I spent time, @CharliePoole suggested, thinking though some use cases. I came to the thought that `ElementAt` is used more in `IEnumerable` situations and the language indexers can handle more than just `IEnumerable`. I sat on the `ElementAt` fence for awhile, then considered:
[code]
aga

[2020-12-09 14:46] rprouse commented on #2211
I also prefer `ItemAt`, so let's call it a majority and rule in favor of that 😺

To prevent confusion, let's make sure that this gets documented quickly after completion and included in release notes.

[2020-12-09 14:49] jnm2 commented on #2211
@Poimen Re: your pay grade, do not underestimate the extent to which we're all making things up as we go along here. Thanks for sharing your thoughts!

[2020-12-09 14:51] rprouse commented on #2211
And as for pay grade, since everyone here is making an annual salary of about $0 working on NUnit, I think we're all at the same pay grade 😝

[2020-12-10 15:20] jnm2 commented on #2211
@Dreamescaper asked another good question in the PR. Whether positive or negative, this does like it would be checking the count rather than checking for the presence of an indexer:

[code]

It seems safest to remove the Exists constraint until we have more time to think about it. I'd prefer opening a separate issue for `Has.Indexer(typeof(Type1), typeof(Type2), ...)` for an indexer existence chec

[2020-12-10 18:40] CharliePoole commented on #2211
`Has.Indexer` makes sense to me. I assume you would also support `Has.Indexer<T>()`, `Has.Indexer<T1, T2>()`, etc. for consistency with other constraints.

[2020-12-10 23:44] stevenaw commented on #3683
Thanks @jnm2 for investigating and digging into it.
Thanks @oznetmaster for calling this out too as a concern, though I'm glad in the end we determined there were no bugs introduced in the PR

[2020-12-10 23:55] jnm2 opened #3690 "Has.Indexer constraint to assert the existence of a default indexer on a type"
Broken out of https://github.com/nunit/nunit/issues/2211 for implementation in a separate PR.

Marked `pri:low`: There haven't been any direct asks for this. I also suspect that usage of PropertyExistsConstraint is rare.
Marked `design`: Needs @nunit/framework-team consensus on the details below before removing `design` and adding `help wanted`.

### Introduction

https://github.com/nunit/nunit/is

[2020-12-11 00:04] jnm2 commented on #2211
Thanks for the feedback! I gave the go-ahead on the pull request to make Has.ItemAt(...) no longer be self-resolving, and I filed https://github.com/nunit/nunit/issues/3690 to track `Has.Indexer` to provide that capability.

[2020-12-11 01:46] stevenaw commented on #3690
I like this idea a lot.

I've been trying to figure out the maximum arity of a default indexer in the dotnet/runtime repo, but haven't had much luck with the github search. I agree that the overwhelming majority of times this would likely be just 1, though I could see 2 or 3 being useful for spatial/geometry use cases. 3 also seems to be the max for some NUnit overloads (like the [ValuesAttribute]

[2020-12-11 08:37] OsirisTerje commented on #3688
About the documentation we have:  I notice that many of the examples we show use the legacy/classic model.  It might be helpful to change those to use the constraint model.

[2020-12-11 20:17] andersson09 commented on #3634
How's this looking? Would also find this very helpful as I am executing tests in blazor.

[2020-12-11 21:06] mikkelbu commented on #3634
There is a PR, but currently there are problem with still supporting .NET 3.5 + keeping the public API unchanged and at the same time making it work for WASM. I know next to nothing about Blazor, but my guess will be that this issue will not be solved with the next release of NUnit.

[2020-12-11 21:41] andersson09 commented on #3634
Thanks for the quick reply. If developers are targeting .net 3.5 why would they ever upgrade to the latest nunit package?

[2020-12-11 22:26] mikkelbu commented on #3634
I cannot answer for them, but often people are constrained by other requirements, OS etc., but they still upgrade e.g. NUnit to get new functionality. See e.g. #3578 for some more information.

Edit: It is "only" 1½ years since we dropped .NET 2.0 - https://github.com/nunit/nunit/releases/tag/v3.12

[2020-12-13 12:46] andersson09 commented on #3634
Thank you. Just to add though by supporting such old frameworks there is an opportunity cost of not supporting latest features

[2020-12-13 17:00] CharliePoole commented on #3634
That would definitely be true in a business environment, with a team of a given size, paid out of a budget of a given size. It's less so in a team of volunteers, where those volunteers are actually __drawn__ to the team by the very features they support. That's how volunteer-driven open source works, of course.

That said, I think something has changed over the years. I can report that there was a

[2020-12-14 02:13] rprouse commented on #3454
Resolved by @3679

[2020-12-14 02:13] #3454 closed

[2020-12-14 02:14] rprouse commented on #3390
Resolved by @3679

[2020-12-14 02:14] #3390 closed

[2020-12-16 08:31] NN--- commented on #3687
There is another issue with NUnitLite and single-file mode.
For some reason it cannot find tests but when you run it in verbose mode, everything works fine.

[2020-12-16 12:32] mknejp opened #3692 "Custom comparator ignored for comparisons to self"
The following test succeeds:
[code]
However, I believe it should fail. If I provide a custom comparator it should always take precedence. The way NUnit behaves right now means I cannot, for example, give it a custom comparator that ensures user-defined `a == b` or `a != b` operators handle self-tests correctly.

Tested with NUnit 4.12.0

[2020-12-16 16:23] mikkelbu commented on #3692
I agree that this sounds like an error. The current comparison perform null checks and `ReferenceEquals` before determining whether it should use an externalComparer (aka custom comparer). Changing the existing behaviour could break peoples' tests (e.g. if they assume that the above checks have already been performed, but to me it feels like they - in that case - are depending on an implementation

[2020-12-16 16:49] mknejp commented on #3692
Which is probably a good thing, because they currently aren't testing their custom comparator for these cases (but probably should), possibly masking bugs in those.

[2020-12-16 23:30] manfred-brands commented on #3692
What would be a practical situation where an object doesn't compare Equal with itself? It would be impossible to find such an object in an Dictionary. It also violates the first rule in [Object.Equals](https://docs.microsoft.com/en-us/dotnet/api/system.object.equals?view=net-5.0#System_Object_Equals_System_Object_): `x.Equals(x) returns true`.

[2020-12-16 23:42] mknejp commented on #3692
That isn't the issue. The issue is that NUnit skips the custom comparator in those situations, which it shouldn't. You want to make sure (i.e. test) that the custom comparator handles `null` and self-tests correctly, which you currently can't using the `EqualTo().Using()` constraint.

[2020-12-17 14:44] dave-yotta commented on #60
Maybe I'm going crazy but this isn't in the docs?

[2020-12-17 15:36] manfred-brands commented on #3692
I see your point now.

In that case, it applies to everything, it should pass `null` and self always to any custom or normal `Equals` overloads.

The following bad `Equals` implementation is not detected:
[code]

If I wanted to explicitly test my `Equals` override : `Assert.That(instance.Equals(null), Is.False);`
This fires NUnit2010 with a code fix that turns it into: `Assert.That(instance, Is.No

[2020-12-17 15:43] manfred-brands commented on #3692
The question then becomes: Should the behaviour of NUnit be changed or should we in the one case where we do actually test the implementation add suppression for rule NUnit2010? In all other cases the behaviour of our method is supposed to match the first lines highlighted by @mikkelbu .

[2020-12-17 16:12] mknejp commented on #3692
I'm on the "change it" side. If you want a hard test against `null` use `SameAs()` or `Is.[Not.]Null`. It should be clear that it bypasses any custom `Equals()` implementation. but if I know my type has a custom `Equals()` override and I write `Is.EqualTo(null)` Tests expecting it to be called, but it never does... that's quite a surprise (it was for me). I *definitely* expect a custom `Using(...)

[2020-12-18 18:24] NN--- opened #3693 ".NET 5.0 NUnitLite with link level trimming"
https://docs.microsoft.com/en-us/dotnet/core/deploying/trimming-options

Given this project and program

a.csproj
[code]

a.cs
[code]

Publish file:
`dotnet publish  -r win-x64 -o publish`

Run:
publish\a.exe

Output:
[code]

[2020-12-18 19:57] mikkelbu commented on #3693
It seems that `AsyncToSyncAdapter.IsAsyncOperation` does not work in this context, as we determine that the method is not async and thus enter the logic for synchronous methods (and then treat `Task` as yet another return value).

Context
https://github.com/nunit/nunit/blob/ad49f27294bd0f2677d8699756c6ccb10df600f8/src/NUnitFramework/framework/Internal/Builders/NUnitTestCaseBuilder.cs#L181-L204

[2020-12-20 20:40] OsirisTerje opened #3694 "Async tests causes double failure messages"
Given a test that is async, and which has both a Warn and an Assert statement, the failure output can be duplicated.  Example is:
![image](https://user-images.githubusercontent.com/203432/102723653-a2cc5980-4309-11eb-9f80-8f5447e63614.png)

The code that produced this was:
[code]

At first, this failure happened in a production case, and I had a hard time creating a repro for it.  There are more f

[2020-12-20 21:03] mikkelbu commented on #3694
@OsirisTerje I saw from the repo project that this is targeting .Net 5 and using NUnit framework version 3.12. This sounds related to #3282 which will be part of the coming release. Does it also repo when using one of the latest pre-release builds from https://www.myget.org/feed/nunit/package/nuget/NUnit ?

[2020-12-21 07:02] OsirisTerje commented on #3694
It works in 3.13.0-dbg (which I got from Rob), so I'll close this as fixed in 3.13 :-)

[2020-12-21 07:02] #3694 closed

[2020-12-21 07:04] OsirisTerje commented on #3694
That said:   The output "Expected: not not null" is perhaps not the best way of an expression :-)

[2020-12-21 09:04] mikkelbu commented on #3694
I don't think I've ever looked at the code for `Warn.If`, but I wonder if we could "normalise" the expression (which would also help if the user had written `Assert.That(YouKnow.TheAnswer, Is.Not.Not.EqualTo(44))` :) ).

[2020-12-21 17:13] OsirisTerje commented on #3694
Would have been cool :-)    But the first time I have seen something like that.

[2020-12-23 11:48] Antash commented on #3662
Addressed by #3696

[2020-12-23 22:09] Antash commented on #3563
@ChrisMaddock Hi, I've noticed this issue. Seems to be very nice to have so I've created a PR.

[2020-12-24 16:59] ChrisMaddock commented on #3563
Great! Afraid I don't work on this part of the project any more, but I'm sure the team that do will take a look at the pull requests soon - thanks for doing them! 😄

[2020-12-27 14:42] mikkelbu opened #3699 "Compilation of netcoreapp3.1 targets fails on CI (both AppVeyor and Azure Pipelines)"
On December 14 we had a successful build on master in both pipelines:
* https://ci.appveyor.com/project/CharliePoole/nunit/builds/36816108
* https://nunit.visualstudio.com/9d7ec8eb-1a1a-4fff-a88f-43bcdceb5f33/_apis/build/builds/3426/logs/36

Since then we have noticed that the builds are failing on master, see e.g. https://github.com/nunit/nunit/pull/3696#issuecomment-750240058.

The errors are th

[2020-12-28 07:02] richard-fine opened #3700 "Setup/Teardown method extraction bypasses ITypeInfo/IMethodInfo"
SimpleWorkItem extracts setup/teardown methods from the fixture type of a test in order to create SetUpTearDownCommand objects. However, it does this entirely using `MethodInfo` objects and the `Reflect` class operating on real `System.Type` objects, instead of using the `ITypeInfo`/`IMethodInfo` interfaces used when working with regular test methods.

I am trying to construct tests using my own t

[2020-12-28 20:30] #3699 closed

[2020-12-28 21:15] #1394 closed

[2020-12-28 21:24] #2211 closed

[2020-12-28 21:39] #2680 closed

[2020-12-28 21:55] #3563 closed

[2020-12-28 21:56] #3662 closed

[2020-12-28 22:13] #71 closed

[2020-12-28 22:19] #362 closed

[2020-12-28 22:27] rprouse commented on #1770
There has been no discussion on this since 2016, so I am going to close. It can be reopened if someone wants to move it forward.

[2020-12-28 22:27] #1770 closed

[2020-12-28 22:30] rprouse commented on #1226
There has been no discussion on this since 2016, so I am going to close. It can be reopened if someone wants to move it forward.

[2020-12-28 22:30] #1226 closed

[2020-12-28 22:34] rprouse commented on #2111
I'm not sure we need to do anything with this anymore. I think build errors are clearer and I haven't seen issues recently, so I'm going to close this. We can reopen with newer information if necessary.

[2020-12-28 22:34] #2111 closed

[2020-12-28 22:40] rprouse commented on #3652
I'm going to close this as a question. Feel free to post with more info.

[2020-12-28 22:40] #3652 closed

[2020-12-28 22:40] #3625 closed

[2020-12-28 22:41] #3671 closed

[2020-12-30 14:14] alex-kulakov opened #3702 "Question: How to group tests to execute inseparably?"
I have a base class for number of tests. It has a very long initialization process (building right database structure, filling the database with data, waiting for FT indexes to be populated) but it has a detection that database is already prepared and long init operations can be skipped. Test classes which are not descendants of the base class override the database structure for their needs.

In t

[2020-12-31 12:09] OsirisTerje commented on #3702
Have you considered using a SetUpFixture?  https://docs.nunit.org/articles/nunit/writing-tests/attributes/setupfixture.html

[2020-12-31 15:14] #1809 closed

[2021-01-02 16:59] #3447 closed

[2021-01-02 18:04] rprouse commented on #2222
Closing, we are now on one release branch.

[2021-01-03 14:39] stevenaw commented on #2222
@rprouse This issue is still open. Did you mean to `Close with comment` in your latest reply?

[2021-01-03 15:09] stevenaw commented on #3692
I agree with @mikkelbu that this can seem a little misleading, as well as that changing this could break others' code. As far as the the change itself, breaking changes are always a little riskier as it could be disruptive to others. Putting the "if we should" aside, and instead focusing on "when", NUnit follows semantic versioning for its releases and breaking changes would usually be reserved fo

[2021-01-03 15:56] stevenaw commented on #3631
This is a bit of an interesting edge case you've found @Dimension4

NUnit does a lot of magic internally to help make comparisons easier, one of which is that if the objects being compared implement IEnumerable then NUnit will enumerate and compare the contained values _unless the type is `string`_ . With your code sample, what that means is that NUnit will not apply the custom comparer immediatel

[2021-01-03 16:02] mikkelbu commented on #2222
I'll close the issue, as the comment and label indicates that it is closed :)

[2021-01-03 16:02] #2222 closed

[2021-01-03 20:15] stevenaw commented on #3678
Thanks @stefanrbk  this is an interesting find. Are you able to confirm if you're using .NET 5?

From my testing on Windows I can only exactly reproduce the error message `Strings differ at index 5.` on .NET 5.
For all other runtimes (NET Core 2.1, 3.1 and all of .NET Framework 3.5+) I see the error message `Strings differ at index 0.`. I don't see the `\u200E` mark inserted around the negative si

[2021-01-03 20:36] stevenaw commented on #3678
I think this is a general issue on all runtimes it just may be more prevalent on NET 5+ given the globalization changes
The following code also wrongly displays the first difference (on all platforms):

[code]

[2021-01-03 23:22] rprouse commented on #2222
Thanks

[2021-01-04 03:01] stefanrbk commented on #3678
One thing to note is that it is doing what it is supposed to with the string position. Maybe the arrow below needs to count Glyphs instead of string chars. That or call out the hex values where the strings differ when the difference is a non printable character.

[2021-01-05 14:09] xadvfh opened #3704 "3.13 Release?"
It looks like everything for the [3.13 release is done](https://github.com/nunit/nunit/projects/4).  I was wondering when we can expect a release to be cut.

[2021-01-05 20:39] #3704 closed

[2021-01-06 15:41] reegeek opened #3705 "PlatformAttribute and Net 5.0"
Hi,

PlatformAttribute is not working if test project is targetting Net 5.0.

I have the following exception:
[code]

Regards

[2021-01-06 17:58] mikkelbu commented on #3705
Hi @reegeek

This looks like a duplicate of #3565 and thus solved on master and part of the 3.13 release that soon should be ready. Can you check that the issue is gone, if you use one of the latest prerelease builds from MyGet - see https://www.myget.org/feed/nunit/package/nuget/NUnit.

[2021-01-06 20:44] reegeek commented on #3705
Your are right is the same issue. Sorry, I did found it.
I closed this issue.
Regards.

[2021-01-06 20:44] #3705 closed

[2021-01-07 03:46] rprouse opened #3707 "Add .NET 5.0 Build Target"
We currently build and run tests under .NET 5.0, but I would like to see the framework and NUnitLite built for .NET 5.0

[2021-01-07 03:48] rprouse opened #3708 "Drop .NET 4.0 Build Target"
.NET 4.0 has been EOL for around five years, so I'd like to drop support for it. This would allow us to clean up our async code.

[2021-01-07 11:46] stevenaw commented on #3708
I like this idea and am all for simplifying the code base.

One question: Would this be considered a breaking change (or can it be released in NUnit 3.x  ?). Five years EOL is quite a while, I can't imagine many people are still targeting Framework 4.0

[2021-01-07 19:27] #3700 closed

[2021-01-08 15:34] astrohart opened #3710 "Calling NUnitLite from LINQpad, can't parse assembly path"
I am a frequent user of [LINQPad](https://www.linqpad.net/) and I am trying to run some really quick unit-tests in LINQPad and I have done so by adding the NUnitLite NuGet package to my LINQPad query.

I went on [this blog](http://simoneb.github.io/blog/2012/10/28/nunit-via-linqpad/) and they advised utiling `NUnitLite` and using the following code in a `C# Program` LINQPad query's `Main()` method

[2021-01-08 16:31] mikkelbu commented on #3710
I don't use NUnitLite or LINQpad, so this is just testing locally. From the log it seems that it tries to run the assembly file called `assembly D:\Users\Foo\AppData\Local\Temp\LINQPad5\_lahhlytm\query_qwchmc.dll` (notice the `assembly ` in the beginning of the filename). If I change it to `new TextRunner().Execute(new[] { $@"{Assembly.GetAssembly(typeof(UserQuery)).Location}" });` then it work lo

[2021-01-08 17:33] stevenaw commented on #3710
@astrohart Could you please confirm which version of Linqpad you see this on?

[2021-01-08 17:36] astrohart commented on #3710
Hi @stevenaw I am using LINQPad 5.43.00(AnyCPU).

[2021-01-08 17:42] astrohart commented on #3710
Just now tried a run as:

_**LINQPad Query:**_
[code]

The following output was displayed:

![image](https://user-images.githubusercontent.com/8261875/104046815-a76c8b00-51ae-11eb-88c2-b02419635d89.png)

See the circled `NullReferenceException`.  When I expand the stack trace, I get:

[code]
It seems to me as if there is a thread somewhere that has not called `Dispose()` on a `TextWriter`, but I a

[2021-01-08 17:45] stevenaw commented on #3710
Thanks @astrohart
I'm not a big Linqpad user either, but coincidentally that's the exact same version I have installed. And I'm able to reproduce too (both with NUnitlite 3.13 + 3.12)

[2021-01-08 17:46] astrohart commented on #3710
I am confused what is it you are able to reproduce?  The `NullReferenceException` at the end.

[2021-01-08 17:51] stevenaw commented on #3710
Sorry, I've been juggling commenting from my phone while testing on a desktop. Let me elaborate:

When running this:
[code]

From a file saved on my desktop I can reproduce the NullReferenceException on Linqpad 5.43.00

   at System.IO.TextWriter.Dispose()
   at System.IO.TextWriter.SyncTextWriter.Dispose(Boolean disposing)
   at System.IO.TextWriter.Dispose()
   at NUnit.Common.ExtendedTextWrappe

[2021-01-08 20:27] astrohart commented on #3710
From looking at the stack trace, I would not be suprised but it seems as if LINQPad itself is not disposing of an internally-used `TextWriter`, from what I can tell.  What do you think, @stevenaw?

[2021-01-08 20:28] astrohart commented on #3710
Perhaps should the `NUnitLite.TextRunner.Execute` method swallow such an exception?

[2021-01-10 14:50] stevenaw commented on #3710
I haven't had the chance to dig too much into why this is happening, but when testing locally with `Linqpad 6.11.11(X64)`, NET50, and NUnitLite 3.13 I'm seeing slightly different results on my local.

This invocation line:
[code]

Now throws this:
[code]

While using @mikkelbu 's snippet:
[code]

works successfully for me now.

[2021-01-10 14:53] stevenaw opened #3712 "Add a Linqpad sample into the NUnitLite package"
Linqpad has a free and a premium edition. The premium edition allows for full NuGet search but the free edition limits searchable packages to those which include a "linqpad sample". Some information is included on the linqpad site: https://www.linqpad.net/nugetsamples.aspx

In addition to making the NuGet packages more searchable/visible, this may also help by providing some additional documentati

[2021-01-10 15:29] biocoder-frodo opened #3713 "Description of --where=EXPRESSION missing from Notes section"
Last week I used NUnitLite for the first time and after some searching I found the correct syntax for the --where option. I just saw the commit in https://github.com/nunit/docs/pull/540  , which would have been helpful one week ago ;).

Having entered wrong commandline options for nunitlite a few times, I noticed that the DisplayHelp method shows the option description for the --where clause in /s

[2021-01-10 15:32] richard-fine opened #3714 "TestFilter implementations are all internal"
The TestFilter implementations in https://github.com/nunit/nunit/tree/master/src/NUnitFramework/framework/Internal/Filters are all `internal` currently.

The filter types in there could be very helpful for people using the execution API - it includes basic logical operators (AndFilter/OrFilter/NotFilter) as well as ValueMatchFilter subclasses for the most common test properties. It's not difficult

[2021-01-10 15:42] richard-fine commented on #3714
I guess one thing that might need looking at is the use of `TestFilter` vs `ITestFilter`. Classes such as `AndFilter` are using `TestFilter` rather than `ITestFilter`, which would make plugging in other custom ITestFilter implementations impossible. It's not a trivial change because `TestFilter` exposes an overload of `Pass()` that takes a second parameter, and that's not present in `ITestFilter`.

[2021-01-10 21:13] mikkelbu commented on #3713
I think the text output should be extended then it will also make sense if we change the URL at some point.

The problem is that the `--where` option is described as
[code]
but there is no description below which explains this.

[2021-01-10 21:25] mikkelbu commented on #3714
The filters were public until approx. 3 years ago, but were made internal. See #2684 and #2931 for the discussions about the filters.

[2021-01-10 23:04] richard-fine commented on #3714
Thanks. Closing this issue, will open a new one if I have something significant to add to the existing discussions.

[2021-01-10 23:04] #3714 closed

[2021-01-11 00:19] xadvfh opened #3715 "FixtureLifeCycle(LifeCycle.InstancePerTestCase) Not working with TestFixtureSource"
I'm using the new `FixtureLifeCycle(LifeCycle.InstancePerTestCase)` with `TestFixtureSource` and am running into an issue where a new instance is not created.

At first, I thought this might be an issue with WireMock.Net but it works fine without `TestFixtureSource`.  It also works fine when using an `IDisposable` class to simulate setup/teardown per test as @jnm2 has mentioned in the past.

In my

[2021-01-11 07:46] alex-kulakov commented on #3702
No, I will try it.

Thank you, OsirisTerje

[2021-01-11 08:31] alex-kulakov commented on #3702
I've tried and this is not what I wanted because:

1) It requires base class and all descendants to be in the same namespace. (descendants can be in different namespaces)
2) It sets up a general initialization for all tests in the namespace (there are some tests in the same namespace which are not inherited from the base class)

If I implemented desired behavior in nunit it would be similar to thi

[2021-01-11 09:30] gleb-osokin commented on #3715
I can confirm the bug, here's a refined example test that fails:
[code]

[2021-01-11 09:42] gleb-osokin opened #3716 "Assembly level FixtureLifeCycle(LifeCycle.InstancePerTestCase) doesn't work"
LifeCycle.InstancePerTestCase is not applied when set at the assembly level.

Here's a sample test that fails:

[code]

[2021-01-11 10:11] yarhamjohn opened #3717 "Assert.Throws now returns a nullable exception"
We just tried to upgrade from v3.12.0 to v3.13.0 and found that our project stopped building due to warnings about `Deference of a possibly null reference` wherever we used `var ex = Assert.Throws<Exception>(); ex.Message...`.

It seems a bit strange that `Assert.Throws` should return a nullable exception - is there any situation where it would actually return null? If not it would be good for us

[2021-01-11 10:59] GustaMagik opened #3718 "Improve readability of "assert failed" message for DictionaryContainsKeyValuePairConstraint WithValue()"
Request for improvement of the assert message for .WithValue(), introduced in #3486

**Current**
[code]

**Preferred**
[code]

This would bring the message more in line with that of Contains.Key / Contains.Value
[code]

[2021-01-11 15:10] xadvfh commented on #3715
@avilv since you worked on the original implementation would you mind taking a look at this?

[2021-01-11 18:29] JulianRooze opened #3719 "Add the ability to repeat tests on a class level"
We use NUnit 3 in our API integration test-suite and while most tests run great we're growing pretty frustrated with basically every run one or two random tests not succeeding because of what I'll just chalk up to the inevitable messiness of integration testing a real product with real database connections and such. NUnit makes it pretty easy to write an attribute for your test that lets you retry

[2021-01-11 20:19] mikkelbu commented on #3705
No problem :)

[2021-01-11 22:12] rprouse commented on #3589
Once we decide on a format in the console project in nunit/nunit-console#793, we should do the same here.

[2021-01-11 22:20] rprouse commented on #3717
@jnm2 can you review this issue and provide your thoughts?

[2021-01-12 11:06] manfred-brands commented on #3717
`Assert.Throws` returns `null` if there is no exception thrown. Normally nunit would stop further execution, except when run inside an `Assert.Multiple`. There violations are collected until the end. Which means you need to check for `null` in that case. This cannot be solved using declarations, but I can add this to `nunit.analyzer` as a suppression. If the `Assert.Throws` is not run inside an `A

[2021-01-13 03:21] NadeemBader opened #3721 "Nunit v3 - OneTimeSetup & OneTimeTearDown"
Hi

I have the below classes and I need to run the category "CustomCategory1" by executing the code of "PreRun" only once for all 3 tests that belongs to this category (Before all tests starts) and to execute the method "PostRun"only once after running all tests.

By running the following command, I noticed that the PreRun and PostRun called twice (Since we have 2 TestFixture classes):

`C:\Progra

[2021-01-13 03:44] NadeemBader opened #3722 "Nunit v3 - Get number of tests of specific category"
Hi
Is that possible to get the number of tests that belongs to specific category using nunit3-console.exe?
if so, can you please assist?
Best Regards,
Nadeem Bader

[2021-01-13 13:12] nkastratovic opened #3723 "SetUpFixture and OneTimeSetUp don't work with .net5"
SetUpFixture and OneTimeSetUp doesnt work with .net5

I have class ImportInit marked as SetUpFixture and method Initialize() marked as OneTimeSetUp,
using it to trigger method Init().

When run tests it couldn't trigger the Init() method.
When run in debugging mode the breakpoint in line with TestInit.Init(); is never reached.

This code works properly with .net framework 4.8 but not with .net 5

[2021-01-13 14:18] mknejp commented on #3692
I am not a great fan of not breaking code for the sake of not breaking code. The disruption of having to fix your `Equals()` implementations is low in comparison to the disruption of your `Equals()` crashing in production.

Anyone who currently expects `Assert.That(x, Is.EqualTo(y))` to _always_ invoke the corresponding `Equals()` override is basing their test results on a broken premise. If the a

[2021-01-13 17:07] rprouse commented on #3715
@xadvfh I'm planning on doing a 3.13.1 release soon. I'm just tracking a few other bugs and giving it a bit of time for others to come to light.

[2021-01-13 17:22] xadvfh commented on #3715
sounds great, thank you for your help.

[2021-01-13 18:48] rprouse commented on #3719
This is a good idea, we just need to think about the other class level attributes and make sure that the proposed solution works well with those. It likely will, but we will need to list them and test them. We also need to think how it works with attributes like `OneTimeSetUp`. For example, does it run once for all repetitions, or once per repetition?

[2021-01-13 18:51] rprouse commented on #3722
I don't have time to test this right now, but you could use the explore option and parse the resulting XML. There may be an easier option like combining explore with `--where`

[2021-01-13 18:58] rprouse opened #3724 "Test start and end time should end with Z"
The test start and end time are UTC and should be formatted as such so that they are parsed as UTC by the engine and runners. This causes problems in the Adapter with Explicit tests that are set to `DateTime.MinTime`. They are getting parsed as local which makes the date negative throwing an exception.

See nunit/nunit3-vs-adapter#811

[code]

[2021-01-13 20:42] mikkelbu commented on #3722
Similar suggestion as @rprouse. You can do something like this
[code]

The `--explore` option only discovers the tests, it does not run them. We specify both an output file and the option `cases` to list the tests line-by-line (otherwise it is formatted as XML). The `--where` option tages the tests with the category `DataBase` and the last part is the specification of the test assembly. Note that

[2021-01-13 21:28] mikkelbu commented on #3724
We can probably specify that the kind is UTC using `DateTime.SpecifyKind(orgDataTime, DateTimeKind.Utc)`. As far as I can tell all of our "real datetime values" (e.g. values besides `DateTime.MinValue`) are in UTC, so we only need to change the `DateTime.MinValue`s to have the kind `DateTimeKind.Utc` and then we can keep the serialization as it is.

[2021-01-13 22:00] mikkelbu commented on #3723
I could not confirm this, so I think we need some more information.
* Which version of NUnit (and is it the same version that works with .NET framework 4.8 but not with .NET 5)?
* How are the tests executed (using the nunit-console, VS, or `dotnet test`)
* Are the executed tests in the same namespace as `ImportInit`?

At least when I run the test `MyTest` below in VS (targeting net5.0 and using th

[2021-01-14 08:25] NadeemBader commented on #3722
Hi
Thank you for your inputs.
Assuming I already run the command line and the test started, can I get the number of tests in that selected category\ies in OneTimeSetup method?
Best Regards,
Nadeem Bader

[2021-01-14 08:52] manfred-brands commented on #3717
Note that if you want to check the Message, you can use the constraint variant:

[code]

[2021-01-14 11:33] JulianRooze commented on #3719
My thought is that it should work exactly the same as if you decorated each separate test in the class with `[Retry]`, it should only be a quicker shortcut. So I think this change could/should be limited to only `SimpleWorkItem.cs` as that (correct me if I'm wrong) sets up the invocation chain for a single `[Test]` and other class level stuff is handled in other *WorkItem classes.

One thing that

[2021-01-14 15:57] jnm2 commented on #3717
@manfred-brands' explanation is exactly what I would have said. `Assert.Throws` is annotated to possibly return null because sometimes it does return null.

[2021-01-14 20:30] mikkelbu commented on #3718
I think this improvement makes sense.

[2021-01-14 21:10] ocmyhome opened #3725 "Is it possible to NOT parallelize a single TestCase, in a cluster of TestCases?"
Scenario:  I have a test which has several parameterized TestCase attributes associated to it.  I currently have the whole test repo running 5 tests at a time in parallel.  If I run this test, all 4 unique test params/scenarios run in parallel.  Great!  However, is there a way to have one of the parameterized TestCases NOT run in parallel?

Here's what it looks like:

![image](https://user-images.

[2021-01-14 22:04] mikkelbu commented on #3725
@ocmyhome I don't know that much about this area, but I would say "no".

The best you can do is to have two separate test methods that call the same (helper) method (which contain the entire test) and then decorate the first test method with the three TestCases and the other test method with the InternetExplorer TestCase and also mark it with `[NonParallelizable]`.

[2021-01-14 22:08] ocmyhome commented on #3725
Yea, that's what it seems I may have to do.  Appreciate the input.

[2021-01-14 23:03] Simford commented on #2452
+1

[2021-01-15 08:58] Dimension4 commented on #3631
Interesting. Thanks for the detailed explanation!

[2021-01-15 10:11] siprbaum commented on #3631
@stevenaw :

But isn't this handling the problem? E.g. why does NUnit try to do the IEnumerable when the class itself implements `IEquatable`?
There might be reason why the `IEquatable<T>.Equals(T)` doesn't take the `IEnumerable` part into consideration when making the decision if the two instances are equal,  although I think it indicates a code smell when they don't

[2021-01-15 11:48] smkanadl opened #3726 "Assert EqualTo().Within().Seconds does not work with DateTimes in NUnit 3.13"
I have several `Asserts` in the following style comparing `DateTime`s to be equal within small amount of time. This worked well in NUnit 3.12.
```Assert.That(DateTime.UtcNow - TimeSpan.FromSeconds(5), Is.EqualTo(DateTime.UtcNow).Within(1).Seconds);```
[code]

Updating to 3.13 is OK when the test passes, but if the test breaks (for whatever reason), I get the following message.
[code]
Obviously, NU

[2021-01-15 14:48] Irvinaby opened #3727 "Test project does not reference any .NET NuGet adapter."
I am having a problem running my NUnit test fixtures via VS test runner as well as ReSharper test runner.
Tests end up not running in VS test runner and Incomplete in ReSharper runner after encountering JetBrains.Util.LoggerException.

I am only able to debug my tests using ReSharper test runner. Debugging in VS test runner also fails.

I am having this error as my VS test output:

 Test project a

[2021-01-15 15:24] mikkelbu commented on #3727
This is probably the wrong repository, as this is related to VS (and thus the adapter). Can you provide the csproj of the test project? Ps. You don't need the `NUnit.ConsoleRunner` to run tests in VS. Also, I think that Resharper has its own adapter and runner, so it should probably only need `NUnit` installed.

Try to create a minimal project that fails.

[2021-01-15 15:27] mikkelbu commented on #3726
I think this is an unfortunate side-effect of #3697. I've placed this report in the milestone that we aim to release in a couple of weeks.

[2021-01-15 15:52] smkanadl commented on #3726
Many thanks for taking care!

[2021-01-15 15:54] nkastratovic commented on #3723
@mikkelbu Thanks a lot, now it works for me, the issue can be closed.

[2021-01-15 15:54] #3723 closed

[2021-01-16 22:50] OsirisTerje commented on #3727
@mikkelbu @Irvinaby You will need the adapter with Resharper too.   Please upload a small repro project, test file (.cs) and the csproj file.

[2021-01-17 15:46] NadeemBader commented on #3722
Hi
Thank you for your inputs.
Assuming I already run the command line and the test started:

* Can I get the number of tests in that selected category\ies in OneTimeSetup method?
* Can I know the index of the current running test? For example, in case this is the first test running after running the nunit3-console.exe, then the index is 0, etc...

Best Regards,
Nadeem Bader

[2021-01-17 18:51] mikkelbu opened #3729 "AppVeyor builds failing"
The AppVeyor builds have starting failing again, so the solution in #3698 was only a temporary solution, as the failure is similar to the last failures (that netcoreapp3.1 builds fail with `error NETSDK1127: The targeting pack Microsoft.NETCore.App is not installed. Please restore and try again.` / `error NETSDK1127: The targeting pack Microsoft.WindowsDesktop.App is not installed. Please restore

[2021-01-17 18:51] Antash commented on #3726
@mikkelbu that's a shame :|
Will fix shortly

[2021-01-17 19:06] mikkelbu commented on #3726
Thanks @Antash 👍. I'll assign the issue to you, please write if you have any questions.

[2021-01-17 20:36] Antash commented on #3726
@mikkelbu fixed. I'm lucky to face CI issues again though :)

[2021-01-17 21:14] Irvinaby commented on #3727
I found out the problem is related is irrelevant to NUnit adapter but due to the fact that VS was not run on admin mode. Thank you for your assistance!

[2021-01-17 21:14] #3727 closed

[2021-01-17 22:37] AlFasGD opened #3731 "C# 9.0 covariant return types break OneTimeSetUp"

[2021-01-17 23:01] AlFasGD opened #3732 "C# 9.0 covariant return types break the engine, aboring running the entire test class that contains such code"
I was trying to run tests for one class in my library, and it suddenly threw that issue in a class:

[code]

I was using NUnit 3.12.0, updated to 3.13.0, and now the tests will not even show a result; I'm assuming the issue silently occurs.

Basically, this issue applies to code of the following pattern:
[code]

For the specific case that I encountered, look at [this commit's](https://github.com/A

[2021-01-17 23:32] mikkelbu commented on #3732
@AlFasGD It sounds similar to dotnet/runtime#45344 (and related issues). Can you provide a small test samples that reproduces the problem?

[2021-01-17 23:33] mikkelbu commented on #3731
@AlFasGD Is this a duplicate of #3732?

[2021-01-18 00:03] AlFasGD commented on #3732
Yes indeed this is a .NET 5.0 issue; current issue is dotnet/runtime#47007. Closing here.

[2021-01-18 00:03] #3732 closed

[2021-01-18 00:03] AlFasGD commented on #3731
Yes, no idea how this happened.

[2021-01-18 00:03] #3731 closed

[2021-01-18 02:36] #3716 closed

[2021-01-18 02:50] rprouse commented on #3729
@mikkelbu I was working on NUnit tonight, so I submitted a PR to see if removing the manual install fixes this.

[2021-01-18 03:15] rprouse commented on #3725
AFAIK, @mikkelbu's suggestion is the best workaround. I'm going to close this as answered.

[2021-01-18 03:15] #3725 closed

[2021-01-18 03:22] #3726 closed

[2021-01-18 03:41] rprouse commented on #3722
- I can't think of a way to get the number of tests in a category in the OneTimeSetup.
- I also don't know of any way to know the index of the currently running test without managing it yourself somehow. This isn't something we would build into NUnit because it doesn't make sense when running parallel tests where multiple tests could be running at the same time.

[2021-01-18 03:41] #3722 closed

[2021-01-18 06:42] mikkelbu commented on #3729
@rprouse  I think we also need to do it for Windows in the Azure pipeline, otherwise it will fail when they update their image.

[2021-01-18 12:46] rprouse commented on #3729
Good idea. I can do that.

[2021-01-18 17:09] NadeemBader commented on #3722
Ok, thanks
Is there anyway from (In c# code) to know if the tests are running from nunit3-console.exe or VS Test Explorer?
I mean, to know which tool triggered the tests (nunit3-console.exe or VS Test Explorer)?

[2021-01-18 20:40] mikkelbu commented on #3376
Note that @manfred-brands work is part of the 3.0.0 release of the NUnit Analyzers - https://www.nuget.org/packages/NUnit.Analyzers/3.0.0. This implements the initial suppression of errors due to nullable reference types (suppressed by a check via `Assert.NotNull`, `Assert.IsNotNull` or `Assert.That`). The release also contains suppression of the "nullability" (if that is a word) of the exception

[2021-01-18 20:43] mikkelbu commented on #3717
Note that @manfred-brands have contributed suppression of the "nullability" (if that is a word) of the exception type returned from `Assert.Throws` which is part of the 3.0.0 release of the NUnit Analyzers - https://www.nuget.org/packages/NUnit.Analyzers/3.0.0.

The release also contains the initial work on suppression of errors due to nullable reference types (suppressed by a check via `Assert.No

[2021-01-18 22:45] KalleOlaviNiemitalo commented on #3724
@rprouse, did you close this by mistake? I don't see how <https://github.com/nunit/nunit/pull/3734> relates to the DateTime format.

[2021-01-19 01:54] rprouse commented on #3724
Yes, thank you. I linked the wrong issue to a PR.

[2021-01-19 07:15] LifshesOfer opened #3735 "Parallelizable TestFixtureSource with TestFixtureData not running in parallel"
NUnit (targeting .NET 5) does not run my TestFixture in parallel instances when using TestFixtureSource:

[code]

However, if I'm giving the FixtureCases like the below, it _does_ run in multiple instances:
[code]

[2021-01-19 09:40] manfred-brands commented on #3726
I'm facing the same issue, but not with datetime, but with a custom type. Is there a beta feed for nuget I can test before release?

[2021-01-19 12:11] jnm2 commented on #3717
That's impressive!

Closing since the answer we had previously is "use NUnit.Analyzers or suppress the warning manually," but we can reopen if we start wanting to consider a different path.

[2021-01-19 12:11] #3717 closed

[2021-01-19 12:28] mikkelbu commented on #3726
@manfred-brands The prerelease feed is here - https://www.myget.org/feed/nunit/package/nuget/NUnit. But looking at the PR I don't think it will help you, as it extends the handling, so that we also handle DateTimes as well as numerics.

Either we should not fail for "unknown" cases or we should handle then generically. Can you provide a small example that reproduces the problem (probably in a new

[2021-01-19 14:40] manfred-brands opened #3736 "AreEqual.Within throws on failure with non-numeric types"
This is related to #3726

Given the following code:

[code]

On NUnit 3.12 this produces:

[code]

On NUnit 3.13 (and 3.14.0-dev-06990) this throws:

[code]

There might be other comparers where `Tolerance` is used, but the `EqualConstraintResult.DisplayDifference` cannot handle.
There are also comparers where `Tolerance` is completely ignored, these also fail, but in that case I would say that `.

[2021-01-19 15:46] mikkelbu commented on #3726
@manfred-brands regarding

I think we can create an issue for this. As far as I can tell from the documentation `WithIn` should work with both numerics and DateTimes.

[2021-01-19 20:49] Antash commented on #3736
@mikkelbu Please assign this to me as well. What do you think should be the best way of fixing this? Tolerance for the custom types like tuples or objects makes no sense as for me. But for backward compatibility with the existing codebase I think we should just don't print the diff at all.