[2017-01-20 07:18] HollyDOL commented on #1988
Hello! Thanks for the tips. If I could I would have changed both tests and code, which both are... let's say not ideal, I am aware of it. Unfortunately though I don't have enough leverage currently to push such a change through (it's an antipattern repeated over almost 500MB of source code).

[2017-01-20 08:50] ChrisMaddock commented on #1996
https://github.com/nunit/nunit/issues/1363 is probably relevant here. Just springs to mind as I came across it only a couple of days ago with regards to making Timeout available in the netstandard build, where System.Threading isn't available. I was previously considering a separate implementation using Tasks (which wouldn't be available in <net-4ish) - but sounds like a non-thread-based implement

[2017-01-20 09:58] ChrisMaddock commented on #1971
I think we've made a decision here. I'll update the Pull Request.

[2017-01-20 10:05] ChrisMaddock commented on #1971
Here's a summary of what we think this should involve:

Here's what we think the best plan of action is:

1. Convert CHANGES.md to CHANGES.txt, and just keep a single file. The references should also be updated in the solution too.

2. Format the new CHANGES.md as the current formatting in the docs repo - this means 3rd level headers for the main headers, and 4th level for the sub headers. The res

[2017-01-20 11:40] smwentum commented on #1971
sure but it might have to wait until tommorw

[2017-01-20 12:51] ChrisMaddock commented on #1971
No rush - will leave it with you. Thanks! 👍

[2017-01-20 13:03] jnm2 commented on #1988
😢 That's no fun. They created a thread with no top level exception reporting, so your hands are tied. Maybe you can point them this way. If you can't change much, maybe you can at least convince them to wrap the threadstart in `try...catch` and expose a simple event much like `Appdomain.UnhandledException`.

[2017-01-20 17:03] ChrisMaddock opened #1997 "Remove unused --verbose and --full command line options"
@thomaslevesque commented on [Fri Oct 14 2016](https://github.com/nunit/nunit-console/issues/99)

What is the `--verbose` flag supposed to do? I can't see any difference between running nunit3-console.exe with or without this flag.

(btw, is there a way to print to the console which test is currently executing? that's what I was trying to do with `--verbose`)

---

@thomaslevesque commented on [Fr

[2017-01-20 17:05] ChrisMaddock commented on #1997
These options also exist for NUnitLite, and should be removed here too.

[2017-01-20 17:50] CharliePoole commented on #1996
The intent of #1363 is to cancel the entire worker thread when there is a timeout, thereby eliminating the need for a "side thread" to run those tests with timeout. To do that, we need a way to add and remove workers smoothly while the tests are running. I think that's a general improvement to the dispatcher that we could use and I'd like to work on it.

Ideally, it would be great if we could deal

[2017-01-20 20:42] #1994 closed

[2017-01-20 23:50] oznetmaster opened #1999 "Author Tests assume ICustomAttributeProvider.GetCustomAttributes return order is defined"
After some research, it appears that the order of the attributes returned by ICustomAttributeProvider.GetCustomAttributes is undefined (random).

However, it seems like the assumption is made in Nunit that custom attributes are always returned in the order they appear in the source code.

For example, the AuthorAttribute allows multiple occurrences of the attribute.  The tests for multiple AuthorA

[2017-01-21 00:03] oznetmaster commented on #1999
This is why some attributes actually have an Order property, like some of those in Asp.Net.

[2017-01-21 00:06] oznetmaster commented on #1999
I have not examined all the other AllowMultiple attributes in NUnit to see if any of them have similar problems.

[2017-01-21 00:10] CharliePoole commented on #1999
There is no such assumption in NUnit. In fact, I've made many posts warning users of this and we even have some documentation about the unreliablility of order assumptions WRT data attributes.

However, it's entirely possible that some particular test is making that assumption. One moment...

...I'm back! You're right about the Author tests. The recently added tests for multiple authors use `Is.Eq

[2017-01-21 00:11] JustinRChou commented on #1999
The Author property seemed to be well behaved in terms of the stack order. But that order is enforced by the test properties.

Never tried comparing it to customattributes.

[2017-01-21 00:11] oznetmaster commented on #1999
I only found this when I ported these changes to my CF build, and the Author test failed.

I had never specifically thought about the issue before, perhaps intuitively just not doing it :(

[2017-01-21 00:13] oznetmaster commented on #1999
In my case, TestMethodMultipleAuthors returned them in the order Rob Prouse, NUnit, Charlie Poole.

[2017-01-21 00:20] CharliePoole commented on #1999
@JustinRChou The order of the property values is the same as the order that the attributes were found. So they will be different when using different runtimes. We sometimes see differences between Mono and .NET and always between .NET and .NETCF. Because we no longer build CF, I guess it's now easier for a mistake to slip through. In fact, IIRC, I think I suggested you use Is.EqualTo in the first

[2017-01-21 00:21] oznetmaster commented on #1999
Changing to Is.EquivalentTo fixes the tests

[2017-01-21 00:22] JustinRChou commented on #1999
@charliepoole I could modify the tests.

[2017-01-21 00:26] oznetmaster commented on #1999
If there is a desire to allow a specific ordering of authors, then an optional property Order could be added to the AuthorAttribute.

[2017-01-21 00:30] CharliePoole commented on #1999
@JustinRChou I assigned this to you.

@oznetmaster No reason to need ordering that I can see.

[2017-01-21 00:50] CharliePoole commented on #1885
I'm closing this although I think there may be other things to do afterwards. However, this particular issue has gotten incredibly cluttered, so lets do new, separate issues for anything else.

We now are using a dictionary for the run settings and have put the responsibility in the right places. But it seems to me that what may be missing is the __actual__ dealing with semicolons embedded in the

[2017-01-21 01:55] JustinRChou commented on #1999
[Test]
        public void ManyProperties()
        {
            Test test5 = (Test)fixture.Tests[4];
            Assert.AreEqual(6, test5.Properties.Keys.Count);
            Assert.AreEqual("A", test5.Properties.Get("A"));
            Assert.AreEqual("B", test5.Properties.Get("B"));
            Assert.AreEqual("C", test5.Properties.Get("C"));
            Assert.AreEqual("D", test5.Properties.Get

[2017-01-21 05:41] CharliePoole commented on #1999
The quoted test is correct, even if it could be better written.

Datapoint and Datapoints attributes are not obsoltete. They are completely unrelated to DatapointSource, in spite of the name similarlity.

I'd say just stick to fixing the error in AuthorTests to resolve this issue.

[2017-01-21 06:12] #1999 closed

[2017-01-21 23:05] CharliePoole commented on #1790
Does anyone want to propose doing something with this or shall we close it?

[2017-01-21 23:30] JustinRChou commented on #1790
`Has.One()` as a shortcut for `Has.Exactly(1).Items` makes sense.

Would be great if you could pass the object to be checked for equality.

[2017-01-22 01:34] OleksandrKrutykh opened #2001 "NullReferenceException when running an async test for .NET Core"
After upgrading my .NET Core project from NUnit 3.5 to NUnit 3.6, I noticed that a failing `Assert.That` in an async test produces a `NullReferenceException` in the test results instead of a normal assert message.

The minimal piece of code that reproduces the issue:
[code]
Running the test with `dotnet test` command produces the following output:
[code]
The project.json file:
[code]
Replacing `"N

[2017-01-22 04:25] CharliePoole commented on #1790
So, is this what you mean?

Short Form                | Long Form
----------------------|----------------------------------
Has.One                    | Has.Exactly(1).Items
Has.One.EqualTo("X") | Has.Exactly(1).Items.EqualTo("X")

(I see no reason to make `One` a method.)

[2017-01-22 05:57] JustinRChou commented on #1790
I was thinking it to be `Has.One(object)` which I guess would be syntactically odd.

But the issue remains of the new method returning the item that isn't solved by `Has.One`.

`Has.One` probably should still be added since `Has.None` exists.

[2017-01-22 13:05] rprouse commented on #1790
I am fine with Has.One.

[2017-01-22 13:08] rprouse commented on #2001
Thanks for the report. @CharliePoole, this is the second unrelated issue with the same exception and callstack. I think this warrants looking into. I will do so today.

[2017-01-22 13:46] OleksandrKrutykh commented on #2001
Thank you! The error is similar to one in #1965, but I decided to create a new issue anyway, since the scenario was a bit different.

[2017-01-22 18:41] rprouse commented on #2001
This is a bit different than #1965, but it does look like a duplicate. It could be that our reworked ReportFailure message is making the issue worse.

[2017-01-22 18:44] rprouse commented on #2001
Actually, this is so little different than #1965 that I am going to close this as a duplicate. The two issues are cross-linked now, so your information is available for whomever helps to fix #1965. Thanks. 👍

[2017-01-22 18:44] #2001 closed

[2017-01-22 18:51] CharliePoole opened #2003 "Better user info about ParallelizableAttribute and ParallelScope"
This comes up as I work on issue #164 and I'll implement it in conjunction with that is.sue. However, I think it needs to have separate review, which is why I'm creating this issue.

`ParallelizableAttribute` takes an optional argument of Type `ParallelScope`. The values of `ParallelScope` are a mix of things. Some apply to the item on which the attribute appears and others to descendants. In addi

[2017-01-22 19:08] rprouse commented on #1965
#1973 fixed this for .NET Standard

[2017-01-22 20:19] CharliePoole commented on #2003
@nunit/core-team @nunit/framework-team Comments requested!

[2017-01-22 20:23] CharliePoole opened #2004 "Has.One as synonym for Has.Exactly(1).Items"
As discussed in the context of issue #1790, we would like to implement this so that the following work:

Short Form                | Long Form
----------------------|----------------------------------
Has.One                    | Has.Exactly(1).Items
Has.One.EqualTo("X") | Has.Exactly(1).Items.EqualTo("X")

Similarly, we should add `One` wherever we now allow `Exactly`, e.g.: in `ConstraintExpress

[2017-01-22 20:24] CharliePoole commented on #1790
I created an issue for `Has.One`

Based on the discussion, I'm closing this issue - if anyone disagrees we can always re-open it.

[2017-01-22 20:24] #1790 closed

[2017-01-22 20:28] rprouse commented on #2003
`ParallelScope.NonParallel` sounds good to me. Should we deprecate or just rename with the same value though?

The rest sounds fine although I find `ParallelScope.Cases` to be a bit confusing. `Tests` or `TestCases`? Doesn't match with `Fixtures`, but I found `Fixtures` clear, but not `Cases`. Might be just me though, so @nunit/framework-team please speak up 😄

[2017-01-22 20:36] CharliePoole commented on #2003
Well, if we just rename, they will get a compiler error. If we mark as obsolete, they will get a compiler warning with a message that tells them to use `NonParallel`. Both require changing the code but deprecation seems slightly more user-friendly and you can ignore the message if you like. What do others think?

`Cases` was just an idea we can easily drop. The only functionality it adds is when i

[2017-01-23 13:42] ChrisMaddock commented on #2003
Few comments - sorry, I'm aware some of the below wasn't what you intended to be up for discussion, but while we're working behaviour out...

So is it right that, by default, if I make a method `[Parallelizable]` (no level specified) - then that makes it non-parallelizable? That seems an unexpected default - should we instead consider making the argument required?

Just my personal opinion from an

[2017-01-23 14:39] rprouse commented on #1896
Fixed by #1955

[2017-01-23 14:39] #1896 closed

[2017-01-23 14:55] CharliePoole commented on #2003
@ChrisMaddock To clarify defaults...

Currently, if no attribute appears, we default to non-parallel. If the attribute is used without an argument we default to Self.

As for NonParallel versus None, no need to change if I'm the only one who finds it confusing. Let's hear some other opinions.

In the new code, ParallelScope.Default us used internally when no attribute is specified.

[2017-01-23 14:57] ChrisMaddock commented on #2003
That make much more sense to me. I've re-read the above and I've misinterpreted, sorry!

[2017-01-23 19:09] CharliePoole commented on #2003
Some further thoughts to put this into perspective.

I'd design this differently today. `ParallelScope`, as used, does two things: (1) selects parallel or non-parallel execution and (2) specifies the scope of that setting (just the test on which the attribute appears, children, etc.). That's because I adapted `ParallelScope` from MbUnit's `TestScope` but tried to make it do more things than are pr

[2017-01-23 19:26] ChrisMaddock opened #2005 "Exclude empty failure messages from results xml"
From the discussion on #1955 - if the message property for a failure is an empty string, then the message element should not be written to the xml.

To reproduce:

    Assert.Fail("")

will currently produce:

    <message><![CDATA[]]></message>

@cristobalito is going to take a look at this one.

[2017-01-23 23:36] rprouse commented on #2003
That update sounds reasonable to me.

[2017-01-24 04:07] CharliePoole commented on #2003
I'm trying a "docs first" approach. Please take a look at these...

  https://github.com/nunit/docs/wiki/Parallelizable-Attribute-(New)
  https://github.com/nunit/docs/wiki/NonParallelizable-Attribute

[2017-01-24 04:25] oznetmaster commented on #2003
Seems good to me.

[2017-01-24 08:20] ChrisMaddock commented on #2003
I think this is much cleaner - good shout separating the two out!

[2017-01-24 10:04] CharliePoole commented on #2003
Letting this pot simmer for a bit while I work on the NUnit 3 VS Adapter release.

[2017-01-24 10:08] agray opened #2006 "3.6 Console runner hanging on unit tests"
I followed these steps:
1. Uninstalled NUnit 3.5
2. Installed  NUnit Console 3.6
3. Downloaded NUnit 3.6 zip and copied 4.5 directory to "C:\Program Files (x86)\NUnit.org\"
4. Executed the following command (unchanged from last release) in both Jenkins and from an administrator command prompt:

     `"C:\Program Files (x86)\NUnit.org\nunit-console\nunit3-console.exe" Saucery\NUnit\Version3\UnitTes

[2017-01-24 10:55] CharliePoole commented on #2006
There is no longer an installer for the framework. Uninstalling the old msi removed the framework that was being referenced by your tests. Installing the zip should work if you changed the references in your test assembly to use the new framework and recompiled. Did you do that?

FYI, the intention is that folks will not remove old framework versions until they are no longer in use. For manual ins

[2017-01-24 12:56] AndyBan opened #2007 "3.6 Multiple assertion backwards compatibility"
We use nunit along with selenium to check that elements are present on a web page etc.  Our framework uses exception capturing loops for certain cases such as interacting with browsers which isn't always the most reliable thing.  This allows a bit of time for elements to appear which they are created by Javascript however if things don't appear after a short time then the nunit assertion exception

[2017-01-24 18:14] CharliePoole commented on #2007
The future direction for NUnit is that all assertion failures will be recorded. For that reason, we will need to solve your problem in some other way than you suggest. Can you provide a bit more info (code or pseudo-code?) about how you are ignoring some failures and re-running the tests?

[2017-01-24 22:14] stevenebutler commented on #2007
We are using the same technique in our selenium based framework with the same issues on nunit 3.6.1.  We have reverted to using nunit 3.4.1 until we find a good solution for use with nunit 3.6.1.

I will try to outline what our framework does to synchronise on pages here.

We define a web page class that encapsulate actions on the page, as well as means to identify items on screen, including infor

[2017-01-25 02:10] JustinRChou commented on #2007
Would it be possible to use a `DelayedConstraint`?

[2017-01-25 04:08] CharliePoole commented on #2007
The only issue with a `DelayedConstraint` is that it applies to a single assertion. However, if he can deal with repeating __each__ assertion until it passes, rather than __all__ assertions, I think that would work.

@stevenebutler Could you do something like this?

[code]

Alternatively, wrap them all into a single method call and use `After` on an assertion that calls that method.

[2017-01-25 04:11] stevenebutler commented on #2007
That might work, but up until now I didn't even realise the `DelayedAssertion` existed, so it'll take me some time to experiment.

[2017-01-25 04:27] JustinRChou commented on #2007
I was experimenting using the `DelayedConstraint` by changing a string in a thread. Had to use a StringBuilder.
[code]
The Assert fails which is probably failing on the reference. I thought `EqualTo` didn't compare the reference?

[2017-01-25 05:06] CharliePoole commented on #2007
NUnit has no special equality processing for `StringBuilder` so the `StringBuilder.Equals` override is used. Equality for a `StringBuilder` is defined as having the same content, capacity and max capacity. IOW, it's not very useful to compare `StringBuilder`s.

This would work, however

[code]

[2017-01-25 05:32] JustinRChou commented on #2007
That indeed worked.

[2017-01-25 12:28] morgen2009 opened #2008 "TestCase and Values do not correctly convert DateTime string in current culture"
Converting `string` into `DateTime` the `TestCase`, `Values` attributes use invariant culture `System.Globalization.CultureInfo.InvariantCulture`. I expect that when I change the `TestExecutionContext.CurrentCulture` using `SetCultureAttribute` for test / test fixture, the converter should use the new culture info. What do you think about?

The following tests fail

[code]

[2017-01-25 14:50] pgrawehr commented on #2008
It seems to dependent on the user settings, especially if the user has overridden some locale settings.
Adding
CultureInfo.CurrentCulture = new CultureInfo("de-DE", **false**)
at the beginning of a test has solved many similar issues for me.
-> The fix is probably to have NUnit use this constructor for CultureInfo when applying a SetCulture attribute.

[2017-01-25 17:37] CharliePoole commented on #2008
The problem here is that NUnit uses various attributes at different points in the life cycle of the test.

In your case, the TestCase, Test and Values attributes are used to create the test. At a later stage - in the case of a gui, it could be much later - the test is executed. At that point, the SetCulture attribute sets the current culture of the execution thread.

By using a string argument but

[2017-01-25 18:07] morgen2009 commented on #2008
Thank everyone for quick response. `TestCaseSource` "just" for converting seems for me a bit overhead, I would prefer to have test parameter values closer to the test method header. As well repeating the same code in each constructor. Now my code looks like ...

[code]

I saw again the `TestCaseAttribute `and `ValuesAttribute` classes. Why to not use `System.Globalization.CultureInfo.CurrentCultur

[2017-01-25 19:04] CharliePoole commented on #2008
Ok... so having given some workarounds, which I agree are not ideal, are there options to "fix" this or is it something we don't want to fix. @nunit/core-team @nunit/framework-team please chime in with your thoughts.

TestCase attribute and ValuesAttribute do a special conversion from string to DateTime when needed, because it's not possible to specify a DateTime value to an attribute. Currently,

[2017-01-25 19:10] CharliePoole commented on #2008
Another idea: define an interface which, if implemented, causes a method of the attribute to be called __at the time the test is being loaded__. That would be a general solution for many cases and is consistent with the framework architecture.

Currently, for example, SetCulture implements two interfaces. The `IApplyToTest` interface is used to set a property on the test, which indicates the cultu

[2017-01-25 19:23] jnm2 commented on #2008
I don't like `[TestCase("12.10.1942", Culture="de-DE")]` because it's pure noise for multiple test cases.

Which is better during test creation- actually setting the thread's culture, or using `DateTime.Parse` and passing in the correct `CultureInfo`? I prefer the latter.

I like the architecture where `SetCultureAttribute` sets a `CultureInfo` property on the test before the stage where `TestCase

[2017-01-25 19:28] jnm2 commented on #2008
Since we can't actually instantiate the test until `BuildFrom` is finished, it would be cool if `BuildFrom` was passed some common currency such as `IMethodTestSettings` in addition to `IMethodInfo`. `SetCultureAttribute` could set `IMethodTestSettings.CultureInfo` and `TestCaseAttribute.BuildFrom` could read it when converting strings to dates.

[2017-01-25 20:37] morgen2009 commented on #2008
@CharliePoole It fails on assertion, because I expect the string date in `DD.MM.YYYY` format and converter interpretes it as `MM.DD.YYYY`

[2017-01-25 21:02] jnm2 commented on #2008
I refuse to specify date formats at all unless I can put the year first, then the month, then the day. Whether typed or or handwritten. But that's a different story.

[2017-01-25 21:15] CharliePoole commented on #2008
@morgen2009 Two questions:

1. Your example can easily be fixed if you merely change the data to what NUnit expects in the first place. But of course, it's just an example you created to illustrate the problem. Are there other cases where that's not a valid solution? Or is it just a matter of being able to use the format you are familiar with?

2. As an immediate fix, how do you fell about specify

[2017-01-25 21:45] ChrisMaddock commented on #2008
`IApplyToDiscovery` is the nicest idea suggested so far imo. I'd also prefer to avoid doing anything based on current culture - we've been bit before by different cultures on different machines - sounds like we allowed this inside the test building logic, it could take a bit of untangling.

I haven't investigated much at all - but I can see the method which converts the TestCaseAttribute parameter

[2017-01-25 21:52] jnm2 commented on #2008
I ran into this in a previous PR. The parent suite test is the grandparent of the test cases and the shared parent of each method, so for TestCaseAttribute it's always the entire fixture. Setting the culture for that would not be thread-safe. That's why I was envisioning an `IMethodTestSettings` because at the point where `BuildFrom` is called, the method-level test instance has not been instantia

[2017-01-25 21:53] ChrisMaddock commented on #2008
Thought there must be something else too it - that's irritating! Thanks. 😄

[2017-01-25 21:58] CharliePoole commented on #2008
There's no threading issue here, since this is not run at execution time. The discovery/loading/construction of tests always takes place on the same thread. We can't use various threads because until the test is constructed, we don't know how it is supposed to be run.

Also, the hierarchy is not helpful here, since all tests are constructed before any tests are run.

[2017-01-25 22:04] ChrisMaddock commented on #2008
@jnm2 - just looking at that section of the TestBuilder you linked to - I wonder if the child tests need to be created before the ParameterizedMethodSuite, or if that could be created first, and passed down to BuildFrom so the culture information is available. I haven't looked at any other ITestBuilders to see if it would affect anything else.

Was this related to my point Charlie? I'm not sure wh

[2017-01-25 22:04] morgen2009 commented on #2008
1. No, for me this is just one use case "date/time in familar format". For other types supported by `Convert` class there are no problems with different cultures
2. Personally I will not resist to specify `Culture` for each `TestFixture `or for `TestCase`. But I would prefer, that convertion takes something like Culture from `TestFixture` (what you discused before), then  `Assembly.CultureInfo`, t

[2017-01-25 22:22] CharliePoole commented on #2008
@ChrisMaddock @jnm2 While "How could we implement this" is interesting, I'm still at "Should we?"

What will it break for users?

[2017-01-25 22:27] ChrisMaddock commented on #2008
Sorry - I noticed I hadn't answered that question, but thought the conversation had moved on further. 😄

Yes - I think is should be fixed for @morgen2009's case when the culture is explicitly set. Otherwise, it should continue to use Invariant culture.

As above, I'm less of a fan of using current culture for anything - now you mention it, backwards compatibility is another good reason not to do t

[2017-01-25 23:15] CharliePoole commented on #2008
Here's a more detailled breakdown of what happens at test load time...

1. The test builder interface is called to create the test. This is when the arguments are accessed, so this is when the DateTime would be parsed.
2. The IApplyToTest interface is used __after__ the test is created, setting a test property to the desired culture.

This order has never mattered before, because the property is n

[2017-01-25 23:20] CharliePoole commented on #2008
I'm also inclined to think that backward compatibility is not a big problem in this case. It would only apply if somebody used SetCulture on a parameterized method and actually expected the set culture to be ignored at load time and not used till run time. I can't imagine anyone would expect that, although they may have discovered it works that way and compensated for it. So, not a big issue IMO.

[2017-01-25 23:40] oznetmaster commented on #2008
I think that this implicitly re-raises the issue (which I cannot find) of a command line option to set the culture for all the tests currently being run, so that the same test suite can be run for multiple cultures without modifying the test suite.

[2017-01-25 23:42] oznetmaster commented on #2008
This would allow CurrentCulture to be used for all test where culture mattered, and CurrentCulture would be the culture set on the command line.

Alternatively, if the command line option were specified, then that culture would be automatically used instead of the InvariantCulture wherever appropriate.

[2017-01-25 23:57] CharliePoole commented on #2008
I can't find such an issue - or even remember one. There may have been discussion somewhere, without creating an issue. I wouldn't be against it as a console feature for those who need it. It's basically equivalent to setting the culture at the assembly level, which is already supported.

That wouldn't eliminate this issue, of course, which applies to situations where the user wants to set the cul

[2017-01-26 04:26] CharliePoole commented on #701
This issue was written back when the engine, console and framework were all one project. Its actually an engine feature, so I'm moving it to the nunit-console project, which includes the engine.

[2017-01-26 04:27] CharliePoole commented on #701
Issue moved to [nunit/nunit-console #167](https://github.com/nunit/nunit-console/issues/167) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-26 04:27] #701 closed

[2017-01-26 06:04] CharliePoole commented on #391
Closing the epic itself, now that all the issues are complete.

[2017-01-26 06:04] #391 closed

[2017-01-26 09:58] cristobalito commented on #2005
So an interesting observation. If you specify a stacktrace, but no failure message, the `<message>` element is suppressed!

[2017-01-26 10:48] CharliePoole commented on #2005
@cristobalito What do you mean by specifying a stacktrace?

[2017-01-26 11:01] cristobalito commented on #2005
@CharliePoole Just going through the existing Failure tests (TestResultFailureTests.cs), trying out a few different combinations of values for message and stacktrace - the test sets these properties via SetResult. I appreciate non-test code will likely always have a reasonable value for stacktrace (or null).

My comment was just that I found it interesting that only supplying a stacktrace and a nu

[2017-01-26 11:12] CharliePoole commented on #2005
I see. I thought you meant it from a user perspective, rather than internally.

[2017-01-26 14:26] #2005 closed

[2017-01-26 16:52] cristobalito commented on #2004
@CharliePoole I'm happy to pick this up

[2017-01-26 17:14] ChrisMaddock commented on #2004
Great - have assigned it to you! 👍

[2017-01-26 19:05] CharliePoole commented on #2007
@AndyBan Did you want this open or closed? 😄

[2017-01-27 01:09] rprouse commented on #2008
I don't understand the point of this? What is wrong with NUnit using invariant culture to parse the `TestCase`? Asking that the developer use invariant culture does not change the tests in any way and also ensures that tests run the same way on all machines. Personally, adding this ability adds unneeded complexity to our code and will end up confusing as many people as it satisfies.

As far as I a

[2017-01-27 10:03] AndyBan commented on #2007
I was a bit early on reopening it, a bit of further investigation and I found things are ok :)

Whilst the above works for us it is a little bit verbose would be my only comment.  We also configure our waits globally as we found it wasn't very maintainable to configure them on a per instance basis.  I've yet to confirm with my team on the best solution but its looking like we'll handle the waiting

[2017-01-27 10:40] ChrisMaddock commented on #1658
Duplicate of #1638

[2017-01-27 10:40] #1658 closed

[2017-01-27 10:42] ChrisMaddock commented on #1638
@rprouse

I was contemplating having a look at reimplementing these things in a Task-based, manner, but then found `System.Threading.Thread` is actually available for .NET Standard 1.3.

https://www.nuget.org/packages/System.Threading.Thread/

Actual cross-platform support is apparantley [a little sketchy](https://github.com/dotnet/corefx/issues/2576#issuecomment-187184341), but not in a way that

[2017-01-27 12:43] rprouse commented on #1638
I was planning on pulling in the threading package as we start to tenable functionality. What about Thread utility isn't convertible?

[2017-01-27 13:10] ChrisMaddock commented on #1638
Thread.Abort() and such isn't available in .NET Standard. This is used to kill the thread used for timeouts.

DelayedConstraint is works with System.Threading.Thread - I could push that as a separate PR, and then revisit something Task based for Timeouts?

The reason I didn't want to convert everything to be task based, is that they're not available pre-.NET4, so it would require two separate impl

[2017-01-27 14:15] Suremaker commented on #1965
I wanted to check if there is the new release date know for this fix yet?

[2017-01-27 19:48] CharliePoole commented on #1965
The merged PR fixes the problem for .NET Standard only. The issue is still open with respect to all other platforms. We would welcome people who use .NET Standard trying it, by getting the latest development build from our MyGet feed at https://www.myget.org/F/nunit/api/v2. Please let us know if it works for you!

In the normal course of events, this fix will be in the next release. Releases are s

[2017-01-27 20:25] ChrisMaddock commented on #2008
Definitely not suggesting we change that! I'd suggest the culture used is either invariant _or_ explicitly set by the user - I don't think it's a good idea to bring CurrentCulture into this at all.

Is this not something of an implementation detail? I can understand the confusion of defining a test to be `de-DE`, and then finding part of that test actually uses Invariant culture. Especially as NUn

[2017-01-27 22:49] jnm2 commented on #1996
Timeouts also have no effect if the execution is inside a call to `Application.Run()`. My original question was kind of specialized because I was calling MsgWaitForMultipleObjectsEx, but this is much more general of a problem.

[2017-01-27 22:59] CharliePoole commented on #1996
Are we just doing a simple Thread.Abort? We used to have code that did a bit more and took care of some of these cases.

[2017-01-27 23:00] jnm2 commented on #1996
I would have expected Thread.Abort to work against the WinForms message pump, since I would have expected all waits and joins in the entire framework to be hardened for thread abort.

Apparently it just calls [either MsgWaitForMultipleObjectsEx](https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/Application.cs,2182) or [WaitMessage](https://referencesource

[2017-01-27 23:04] jnm2 commented on #1996
For a workaround I'll try writing code that waits till the test timeout and then starts sending messages to the thread.

[2017-01-27 23:21] CharliePoole commented on #1996
If you find any new wrinkles that work, consider adding them to ThreadUtility.Kill, which is used to terminate threads on timeout.

[2017-01-27 23:31] jnm2 commented on #1996
The proof of concept is working. I just need to replace my message-sending mechanism (`threadSynchronizationContext.Post(_ => { }, null`) with one that sends a native message and doesn't need a SynchronizationContext. `NativeWindow` requires a Windows.Forms reference, so I'll probably just pinvoke to post the message.

[2017-01-27 23:32] jnm2 commented on #1996
In the test:

[code]

Initial draft:
[code]

[2017-01-27 23:34] jnm2 commented on #1996
Definition of [On.Dispose](https://gist.github.com/jnm2/a3219243836f20e5eb4f8ef777ae4e1c)

[2017-01-27 23:36] jnm2 commented on #1996
It retries every 100ms until the thread is aborted. It's usually ~150 to 200 ms later than the timeout time but that's not important to me.

[2017-01-27 23:40] CharliePoole commented on #2008
Well, I can see both sides.

Requiring invariant for the data arguments is clear and consistent.

Letting a SetCulture change which culture is used for data arguments also
has a certain logic, since the cases and the SetCulture attribute are so
close together in the source. I wouldn't do it, however, if it required a
lot of work to make the change - it's just not worth it.

I'm good with either de

[2017-01-28 00:13] jnm2 commented on #1996
Not having any luck with `PostThreadMessage`, so I'll have to enumerate windows and send one of them a message.

[2017-01-28 00:22] ChrisMaddock commented on #1918
What did you see the user API to this looking like, @CharliePoole? Just a command line option/FrameworkPackageSetting? Should there be a way to set it per test?

[2017-01-28 00:29] jnm2 commented on #1996
`PostThreadMessage` `WM_CLOSE` is working well. This will work even without getting a SynchronizationContext which is good because they change.

[2017-01-28 00:38] jnm2 commented on #1996
This solves my original problem and the Application.Run problem.

Here it is: https://gist.github.com/jnm2/0dbc9e5f031d4f662fe591dca818e1d1
Definition of `On.Dispose`: https://gist.github.com/jnm2/a3219243836f20e5eb4f8ef777ae4e1c

---

Next problem: Some tests are stuck in unmanaged code not at a message pool but inside `System.Globalization.CompareInfo.Compare(string, string, CompareOptions)`. No

[2017-01-28 00:48] jnm2 commented on #1996
Next problem: Some tests are stuck in unmanaged code not at a message pool but inside a third party library which is spending most of its time in `System.Globalization.CompareInfo.Compare(string, string, CompareOptions)`'s native implementation. But I'm stepping in and out in the managed debugger, so why no ThreadAbortException?

[2017-01-28 00:51] CharliePoole commented on #1918
It's already a command-line option and package setting. But that's the default. What happens when a fixture or method wants to work with a different default? One approach is to just make the global settings obsolete and have users specify any non-default tolerance on each assertion. Another would be to define an attribute that implements IApplyToContext and sets the context default to a different

[2017-01-28 00:57] ChrisMaddock commented on #1918
Is it? I don't see either, am I missing something?

I'd be tempted to go with this, up until we find out someone needs something more general. 😄 I was seeing this just as an issue to tidy up something a bit buggy.

[2017-01-28 01:31] jnm2 commented on #1996
Fun fact: If thread A calls `threadB.Abort`, thread A is blocked until threadB cleanly aborts. If thread C comes along and `TerminateThread`s thread B, sure enough it's nuked, but now thread A is blocked forever and the test run still doesn't complete.

[2017-01-28 01:34] jnm2 commented on #1996
Probably the best thing for the test runner to do when a timeout happens is to fire and forget `new Thread(() => thread.Abort()) { Name = "Aborting test X" }.Start();` and return and report the failure even though the threads are still running. Then when all tests are done, the threads will go down with the process.

You could also consider passing a CancellationToken to test methods that have a p

[2017-01-28 01:43] jnm2 commented on #1996
Anyway @ChrisMaddock @CharliePoole (not sure which team to tag) I think that https://gist.github.com/jnm2/190bf111ef418901d7abb7542cd0a6be would be nice to merge into the test runner. What are your thoughts?

[2017-01-28 01:47] oznetmaster commented on #1996
@jnm2 Never seen that happen, and it should not:

**System_CAPS_noteNote**
If a thread is executing unmanaged code when its Abort method is called, the runtime marks it ThreadState.AbortRequested. The exception is thrown when the thread returns to managed code.
Once a thread is aborted, it cannot be restarted.
The Abort method does not cause the thread to abort immediately, because the target thre

[2017-01-28 01:48] jnm2 commented on #1996
Me neither, but it's undeniable.

[2017-01-28 01:58] oznetmaster commented on #1996
Do you have a sample program (independent of NUnit) that exhibits this behavior?

[2017-01-28 02:01] jnm2 commented on #1996
Shouldn't be hard, but you'll need to install a trial of DevExpress's Windows Forms library at a specific version that had a very bad perf bug. Or I'd have to spend a lot of time really understanding the phenomenon and build it from the ground up.

[2017-01-28 02:02] oznetmaster commented on #1996
Are you aborting a ThreadPool thread or a system thread?

If what you say is the case, then it should be easy to write a demonstration of it.

However, I have read both the .NET and the CLR code for Abort, and I do not see how it is possible.

[2017-01-28 02:03] jnm2 commented on #1996
[Let's hop over here](https://gitter.im/nunit/nunit)

[2017-01-28 02:10] oznetmaster commented on #1996
On further research, this is apparently framework version dependent :(

On some versions, the Abort call does not return until the ThreadAbortException is thrown.  If the thread being aborted is currently running in native code, the exception is not thrown until control returns to managed code.  If that never happens, the calling thread will hang forever.

On other versions, the ThreadAborted flag

[2017-01-28 02:26] CharliePoole commented on #1918
The command-line option is `--timeout`, which sets `FrameworkPackageSettings.PackageSettings`.

To just tidy it, you would have to figure out a way to make our tests work - maybe just set the context directly in the test itself and let it get cleaned up on exit from the context.

[2017-01-28 02:26] jnm2 commented on #1996
Here's more loveliness. I have a test that takes 3 seconds to run and it runs in 3 seconds every time... unless I set the timeout to 2 seconds (or otherwise cause a Thread.Abort 2 seconds in). Then it takes 35 to 40 seconds to run every time. It should be the exact same work both times, but not only is Abort not aborting, it's making it run more than ten times slower.

[2017-01-28 02:34] jnm2 commented on #1996
I think I figured it out. There's a darn catch-all in DevExpress's code. So that's what's taking the abort 39 seconds to finish. It's in a hot path and which is repeatedly spending time in a catch-all. -_-
This is obscure so I wouldn't have NUnit worry about it.

[2017-01-28 02:38] jnm2 commented on #1996
I think I figured it out. There's a darn catch-all in DevExpress's code. So that's what's taking the abort 39 seconds to finish. They're doing a quick sort and every compare operation goes to a comparer which wraps the comparison in in a catch-all. -_-
This is obscure so I wouldn't have NUnit worry about it.

Who even does that? You're not a message pump or thread pool, you have no business swallo

[2017-01-28 03:41] jnm2 commented on #1996
Hmm, that was not charitable of me. I'll bet I do things that make even less sense. Anyway. This comes up a lot.

[2017-01-28 14:03] ChrisMaddock commented on #1918
This is floating point tolerance, rather than timeout. ;-) I don't think there is an existing packagesetting, just the global?

Thinking this through - this feels like something that people will want to define when the tests are authored, rather than runtime? Meaning maybe just replacing it with an attribute which can be applied at any level is the best course of action? This would also be the clo

[2017-01-28 15:40] CharliePoole commented on #1918
Sorry... I got my discussions crossed!

An attribute is a good approach, as you suggest. I think you will have to add this to the execution context with an initial value of zero on the default constructor, copying the value in the constructor that takes another context and referring to the current context in place of GlobalSettings.

[2017-01-29 03:51] jnm2 commented on #1965
Yay, I just hit this with net452. There's no chance we'll be able to use netstandard soon.

What about a null check in case you're asserting without a test context? That might tide everyone over.
https://github.com/nunit/nunit/blob/8ae0489f20c96bffb3a720214a07f66f7e503dcc/src/NUnitFramework/framework/Assert.cs#L364-L368

[2017-01-29 04:07] CharliePoole commented on #1965
@jnm2 I don't understand what you're using that's giving the error. Is it the latest release, a build from master or a dev release?

[2017-01-29 04:23] jnm2 commented on #1965
Sorry, it's the latest release but I didn't notice a critical detail here... I was running via a ReSharper ad-hoc entry point so that I could press F5 and by test would run. So of course the test context is null, because NUnit isn't in the picture until I get to the assert. This is really a separate issue: supporting asserts with no context. It would be super helpful if it just worked.

[2017-01-29 12:12] CharliePoole commented on #1965
This has never been a supported way of running tests, although I understand that it has worked for you in the past. In any case, it relies on NUnit's using an exception mechanism to report failures, which has always been an implementation detail subject to change. With the latest release, we have made a start on that change and in subsequent releases, it's possible that future releases will only u

[2017-01-29 13:30] jnm2 commented on #1965
I figured. Maybe I can use NUnitLite for this.

[2017-01-29 22:35] CharliePoole commented on #164
PR #2011 takes some initial steps toward implementing this feature but contains a #define that forces test cases to run on the thread of their containing fixture. This comment documents what I think needs to be done in order to remove that limitation.

Currently, a fixture's OneTimeTearDown runs on the thread that was used to finish the last test case executed. If test cases run in parallel, we ca

[2017-01-30 01:12] stevenebutler commented on #2007
I don't think this approach would work for me, since we want the .After() to apply to the group of tests as a whole.

This seems like the way to go, but I'm not sure how to express it in nunit.

``Assert.That(() => AssertPageShowing().After(...).PollEvery(...)));``

doesn't work, since AssertPageShowing isn't a constraint.  Would this approach require providing some form of constraint interface to

[2017-01-30 04:49] JustinRChou commented on #2007
I wonder if you could do your checks in another method that returns a boolean and do something like
`Assert.That(TestOnPage(), Is.EqualTo(true).After(timeout));`

[2017-01-30 05:10] stevenebutler commented on #2007
In my original comment I mentioned I'd previously used an IsShowing() method, but due to the problem of identifying the cause of failures, I ultimately changed to the approach I use now with asserting each issue.

To that end, I tried your suggestion, with assertions in the method, but unfortunately, it ends fails on the first assertion.  It seems like it wasn't designed to be used in this way, wh

[2017-01-30 05:47] JustinRChou commented on #2007
I was thinking something like this
[code]
But you get a very uninformative assert failure.

[2017-01-30 05:57] stevenebutler commented on #2007
Yes, the uninformative assert failure is what I'm trying to avoid.  Thanks for the suggestions though.

It looks like my worst symptom with my original approach (using selenium) is that on failure I get a potentially large list of failed exceptions in the nunit failure message (one from each failed poll).

[2017-01-30 08:54] JustinRChou commented on #2007
[code]
At least now this gives a better assert failure message.

[2017-01-30 11:03] appel1 opened #2012 "Intermittent errors while running tests after updating to 3.6"
Every now and then when we run our tests using the console runner after updating to 3.6 it fails with an error for some of the test assemblies. Tests for assemblies with this error are not discovered nor executed. It is not always the same assemblies that fails, sometimes it is one and sometimes there are more than one that fails.

We execute the tests with: nunit3-console.exe [path to assemblies]

[2017-01-30 11:54] NUnitTester opened #2013 "Assert.That(length, Is.PowerOfTwo)"
In some cases it is important that an input or an output has a power of 2.
Not many developers know how to check this easily.
I wish that integrated and readable in NUnit, something like
`Assert.That(length, Is.PowerOfTwo)`
Needed for all integer types, also int, long and decimal because Length/Count of CollectionTypes is int.

I use the following easy method (for unsigned only, signed needs cast)

[2017-01-30 13:11] jnm2 commented on #2013
It's fairly common for me to wish I had a specialized constraint to assert that would print a nice message but I settle for `Assert.That(bool)` because I have to use a method like `IsPowerOfTwo`.

If only we had `Assert.That(actual, Satisfies.Contraint(IsPowerOfTwo));` which would output `Expected: IsPowerOfTwo But was: {actual}`.

[2017-01-30 13:12] jnm2 commented on #2013
Actually I think I can implement that without it being in NUnit itself.

[2017-01-30 13:13] ChrisMaddock commented on #2013
This is the sort of thing I'd personally implement as a custom constraint. We do this for quite a few domain-specific things.

[2017-01-30 13:28] ChrisMaddock commented on #2012
I'll move this to the console repo, and comment over there. 😄

[2017-01-30 13:28] ChrisMaddock commented on #2012
Issue moved to [nunit/nunit-console #168](https://github.com/nunit/nunit-console/issues/168) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-30 13:28] #2012 closed

[2017-01-30 15:58] bicarbon8 commented on #164
for anyone who's been following this thread since the beginning (back in 2014) and doesn't want to or is unable to implement their own workaround while awaiting this feature addition, I've just stumbled across an implementation using NUnit 2.6.3 available on CodePlex that seems pretty straightforward to use (I've verified it works in running our functional tests in multiple parallel threads.

http

[2017-01-30 16:06] CharliePoole commented on #2013
I'd say it's too specialized for us to add to NUnit. A great example for a simple custom constraint though.

[2017-01-30 16:54] gregeng opened #2014 "OneTimeSetUp in different assembly?"
@markikollasch and I are attempting to run tests in multiple different assemblies that will all require very similar setup. To avoid having to write that setup in every assembly, we've created an additional assembly with a single abstract class containing the `[OneTimeSetUp]` and `[OneTimeTearDown]` behavior we need. In each of the test assemblies we have created a concrete subclass with the `[Set

[2017-01-30 17:21] CharliePoole commented on #2014
Although this is not something we designed for, I'd still expect what you describe to work. Someone will need to take a closer look to see why it isn't working.

Just to make sure we understand the problem, I take it that
 * All assemblies reference the NUnit framework (what version btw?)
 * The base class is abstract and public
 * The base class contains public methods with the [OneTimeSetUp] and

[2017-01-30 18:28] jnm2 opened #2015 "Applying an ICommandWrapper to every test in a fixture"
I wrote a custom `ICommandWrapper` (`IWrapSetUpTearDown`) which derives from `PropertyAttribute`.
This attribute is very similar to the built-in `ApartmentAttribute`. I would like to be able to specify it per fixture as well as per test. If applied per-fixture, it would have the same effect as applying it to every test method in the fixture, just like `ApartmentAttribute`.

Am I overlooking someth

[2017-01-30 18:29] gregeng commented on #2014
This may be a false alarm. We attempted without success to create a minimal reproduction of the issue, suggesting that the problem is specific to our project and not to our use of NUnit (3.6). Thanks for your help!

[2017-01-30 18:32] CharliePoole commented on #2014
OK... I'll close thus but we'll see any further comments or questions and can re-open if needed.

[2017-01-30 18:32] #2014 closed

[2017-01-30 19:46] CharliePoole opened #2016 "Automatically supply boolean and enum values for a parameterized Test"
@seraphim207 commented on [Mon Jan 30 2017](https://github.com/nunit/docs/issues/162)

I have code base working with NUnit 2 that uses [Theory] instead [Test] in most cases as commonly boolean/enum variables added as a parameters to support multiple test cases. After moving to NUnit 3 I realized (only after certain amount of time) that theory tests without parameters are just ignored and not execu

[2017-01-30 19:59] CharliePoole commented on #2015
The only mechanism we currently have for an attribute that appears at a higher level but effects child tests is to leave something in the test context that will take effect when the child test is executed.

A general mechanism that will work for some uses is to define an ActionAttribute. That will often do the job if all you want is some particular thing to happen before and after each test is run

[2017-01-30 19:59] #2015 closed

[2017-01-30 22:17] stevenebutler commented on #2007
Yes, that would work, but it is significantly more code than the simple series of asserts we have now.  We have to write one of these methods for each page that we have to synchronise on in the application, so ease of creation is an important consideration.

I will have to think about the best way to handle this so that there is still a simple interface, but for now I will live with the extra logg

[2017-01-31 01:51] stevenebutler commented on #2007
This is a workaround I came up with that meets my needs, but does have the disadvantage of using code in the Internal namespace `TestExecutionContext.IsolatedContext` (probably exposed for testing nunit) to isolate the assertions that are being fired in the delay loop from the test result:

[code]

I am leaning towards not using `Assert.Multiple` in the final step, because it ends up obscuring the

[2017-01-31 02:01] CharliePoole commented on #2007
Good on you for finding that. I've been looking at this thread and asking myself "Didn't I just have to do something to fix a similar problem?" Well, that was it. I use the IsolatedContext in the implementation of Throws because we might be asserting that an AssertionException is thrown!

It's in the Internal namespace for use both internally and by extensions. I considered providing something pub

[2017-01-31 02:09] stevenebutler commented on #2007
Ok, that's great that it's not meant to be completely off-limits.

It was a colleague of mine who found the use in the unit tests.  I had originally resorted to creating a temporary execution context inline while proving the concept, and then simplified the whole thing once he pointed out what the tests were doing.

[2017-01-31 02:41] JustinRChou commented on #2007
I can't seem to find docs on `TestExecutionContext`

[2017-01-31 03:52] CharliePoole commented on #2007
We don't document internal stuff generally, although that one may need to be in our extensibility docs when we get them done.

[2017-01-31 04:56] stevenebutler commented on #2007
I've noticed an issue when I use `Warn.If(...,Is.True.After(...).PollEvery(...)` it only polls once, at the end of the timeout.
I believe using Warn.If was a logical error and I should have used Warn.Unless(), which does poll at the specified rate.
[code]

  I'm assuming the logic on `Warn.If` to not poll until the end is by design based on a grammatical interpretation of the constraint?

[2017-01-31 09:29] GCichosz opened #2017 "Two NUnit project's tests fail on systems with comma decimal mark settings"
The following tests fail on systems with comma decimal mark settings:
- NUnit.Framework.Internal.Results.TestResultGeneralTests.SuiteResultXml_Duration
- NUnit.Framework.Internal.Results.TestResultGeneralTests.TestResultXml_Duration

Steps to reproduce:
1. Change system region, or language settings to one with comma  decimal mark ([Countries using Arabic numerals with decimal comma](https://en.wik

[2017-01-31 13:08] dajuris opened #2019 "TestFixtureSourceAttribute doesn't work with items implementing ITestFixtureData"
Consider the following test:

[code]

Console runner fails with `System.InvalidCastException`:

[code]

According to [documentation](https://github.com/nunit/docs/wiki/TestFixtureSource-Attribute) for `TestFixtureSourceAttribute` this should be supported scenario.

I have used NUnit and NUnit.Console 3.6.0.

[2017-01-31 13:32] GCichosz commented on #1997
Can I grab this issue?

[2017-01-31 13:35] #2017 closed

[2017-01-31 13:36] rprouse commented on #1997
@GCichosz consider it yours 👍

[2017-01-31 13:43] rprouse commented on #2019
Yes, that is what the documentation says. It looks like we let a cast to the concrete type rather than the interface slip through a code review.

In `TestFixuteSourceAttribute.BuildFrom()`

[code]

[2017-01-31 17:29] CharliePoole commented on #2019
I marked this for discussion temporarily, as I think it could be a documentation error.

Over the past few releases - I haven't searched to  see exactly when - I modified TestCaseSourceAttribute to require the use of TestCaseParameters type, rather than just an interface. When I added TestFixtureSourceAttribute, I set it up the same way.

The docs were never updated for TestCaseSourceAttribute and

[2017-01-31 18:58] jnm2 opened #2020 "Better message when timeout fails"
Currently when a timeout fails NUnit reports, "Test cancelled by user." While in a certain sense it's not wrong, it's confusing. It led me to believe that I was clicking the test abort icon in ReSharper. (I've been having tooling issues unrelated to NUnit.) In an integration test, it makes it sound as though the build is being canceled.

It's also missing the most relevant information about the te

[2017-01-31 19:06] jnm2 commented on #2020
Also, the test result should not be `ResultState.Cancelled` but `Failed`.

Places where test messages are set to `Cancelled by user`:
https://github.com/nunit/nunit/blob/3.6/src/NUnitFramework/framework/Internal/Results/TestResult.cs#L496-L499
https://github.com/nunit/nunit/blob/3.6/src/NUnitFramework/framework/Internal/Results/TestResult.cs#L533-L536
https://github.com/nunit/nunit/blob/3.6/src/NU

[2017-01-31 20:14] CharliePoole commented on #2020
The framework does exactly what you say it should do and has tests to prove it! How are you running? Can you provide a repo?

[2017-01-31 20:28] CharliePoole commented on #2007
That's correct. The `Until` construct causes the test to be repeated until it succeeds or times out. However, under the control of `Warn.If`, the constraint provided is actually replaced with it's negation, i.e. `Is.Not.True...` and that replacement constraint "succeeds" immediately.

We should probably do something about this: either making it work as you expected or disallowing the use of a `Del

[2017-01-31 20:47] rprouse commented on #2007
I think a possible use of `Warn.If` would be to check for a connection to an external system or something similar in integration testing, so supporting the `DelayConstraint` makes sense.

[2017-01-31 20:58] jnm2 commented on #2020
Running via VSTest, both in the VS2017 IDE and via the Cake build script in a powershell window. Maybe it's an adapter issue then? I thought I found sufficient evidence in the framework repo to the contrary.

Here's a repro: https://github.com/jnm2/misc-codesamples/blob/master/Bug%20reports/NUnit/Test%20NUnit%20timeout%20message.zip

Just open a powershell window and run `.\build.ps1 -t test`.

[2017-01-31 22:12] stevenebutler commented on #2007
I had some trouble with my unit test case that I had used to analyze the problem (although my actual implementation is working because I used a function name instead of a wrapper function) and have finally realized that I needed to use a lambda expression.  Otherwise, `ExceptionToBool(IsShowing)` is calculated once only and the same value is repeatedly tested.   My comment above should have had

[

[2017-01-31 22:35] stevenebutler commented on #2007
I am seeing something strange in the polling frequency.  I set it the poll frequency to 250 ms, but by adding some tracing to the IsShowing method, I can see that it is frequently double polling the delegate value.  Would you consider this a bug:
[code]

[2017-01-31 23:17] morgen2009 commented on #2008
@ChrisMaddock

This would be great, if would be possible (for example by giving assembly culture)

For me the unit tests are a contract specification. They are read by humans and humans prefer their local language :) Any way, the solution should be clear and consistent

[2017-01-31 23:45] jnm2 opened #2021 "Alternate Timeout API for dynamic timeout intervals"
There is only one way to specify a timeout as far as I can tell: [`TimeoutAttribute`](https://github.com/nunit/docs/wiki/Timeout-Attribute). The fact that it's an attribute means that the timeout time must be a compile-time constant.

However, I am searching for a way to override that timeout if a given environment variable is present. If `TF_BUILD` is present, I want to use `7000`. Otherwise, I w

[2017-01-31 23:55] jnm2 commented on #1996
@CharliePoole, /cc @ChrisMaddock

Very simply what works for me and what we could add is:

 * Abort like you're already doing
 * But before the abort, schedule a thread pool thread to check 100 ms later to see if the thread is aborted
 * If the thread is indeed aborted, that's the end of that. But if it's not, the main thread will still be blocked inside the Thread.Abort call, so the threadpool th

[2017-02-01 00:11] BanksySan opened #2022 "Make Is partial"
It would be useful to be able to append more constraints to the `Is` and `Has` classes.

In order to do this it would have to be made `partial`.

* Is this something that can be done?
* Is this something that I could do and submit a pull request?

[2017-02-01 00:20] JustinRChou commented on #2021
I am trying to figure out what other cases would you need a dynamic timeout.
Though it would be interesting for performance testing.

[2017-02-01 00:21] CharliePoole commented on #2022
Partial classes are a compiler feature. To do what you want you would have to be compiling your changes together with NUnit, IOW, modifying NUnit.

For non-static syntax classes, like ConstraintExpression, you can create extension methods. For the static classes like `Is` or `Has` that's not an option. In that case, you can derive your own `Is` class from ours, in your own namespace, and manage vi

[2017-02-01 00:21] #2022 closed

[2017-02-01 00:22] jnm2 commented on #2021
Though it would be interesting for performance testing.

Parameterized tests might calculate the timeout based on parameter values.

[2017-02-01 00:22] jnm2 commented on #2021
In fact, that allows the timeout to be one of the parameters in a list of `TestCase` attributes.

[2017-02-01 00:43] BanksySan commented on #2022
Thanks for replying so quickly.

Your suggestion will only work if I'm pulling one set of home-brewed extensions.  I can't have separate packages pulled in as I need them.

For example:

* A set of assertions that are very specific to my application.
* `DateTime` assertions.
* `Enumerable<T>` assertions etc.

What would be the _bad thing(s)_ that might happen from a partial class?

[2017-02-01 00:46] JustinRChou commented on #2021
So would it equivalent to doing something like
[code]

[2017-02-01 00:50] jnm2 commented on #2021
@JustinRChou Yes. That's the `Has.MaxTime` variant. The `Does.Not.Timeout` variant would have to also abort the thread to keep par with TimeoutAttribute.

[2017-02-01 02:40] CharliePoole commented on #2022
Well, the only bad things is that it won't work. 😞

As I said, to use a partial class, you have to compile all the parts at the same time. You can't reference an assembly with a class - even if it was built as partial - and add more things to it.

Here's what Microsoft says about it...

[2017-02-01 05:17] jnm2 commented on #1996
Hmm, looks like the master branch has a build error on TextOutputTests.cs, line 152.

[2017-02-01 06:41] jnm2 commented on #1996
For reference, this is what it would look like: https://github.com/nunit/nunit/pull/2023
Supporting net20 made it a little noisy.

(I don't know what I did with ZenHub there.)

[2017-02-01 10:15] BanksySan commented on #2022
Ah, yes.  That would certainly make it a bad idea.

Thanks for explaining it.

[2017-02-01 13:33] seraphim207 commented on #2016
I vote for extended [Test] that supports bolean/enum (nullable too) autofilling.

[2017-02-02 01:49] #1997 closed

[2017-02-02 10:06] MarcusGast opened #2025 "NullReferenceException using Is.EqualTo on two unequal strings"
I'm writing some tests and wanted to test the equality of two strings. I didn't realise until runtime that they would be unequal. I expected the Assert to fail but not with a null reference exception.

Text comparison as been shortened for ease of reading but the result is the same.

           'string errorText = ScenarioContext.Current.Get<FlightSearchPod>().errorOnScreen;

            string re

[2017-02-02 10:19] JustinRChou commented on #2025
` ScenarioContext.Current.Get<FlightSearchPod>().errorOnScreen;`

It seems that it is more likely that somewhere in your chain is a null.

[code]
That is working for me.

[2017-02-02 10:33] MarcusGast commented on #2025
Yeah the code snippet you posted works fine it only throws the NullReferenceException when the strings don't match and only on 3.6.0.
The reason I put the string retrieval into variables before comparison is to prove that they are what I expect before comparison, not sure what else could be null.

[2017-02-02 10:38] JustinRChou commented on #2025
What nunit adapter version are you using?
I am on NUnit Adapter 3.7.0.0

[2017-02-02 10:39] MarcusGast commented on #2025
Hmmm I'm not using the NUnit Adapter package just the framework package, do I need the adapter package?

[2017-02-02 10:59] MarcusGast commented on #2025
FYI I just got the same issue again but this time testing equality of two doubles. Seems it happens whenever the objects aren't equal.

[2017-02-02 11:04] CharliePoole commented on #2025
No need for the adapter if that's not how you are running your tests. How are you running them?

Is this happening in an async method? Or in a thread created by your test?

[2017-02-02 11:12] MarcusGast commented on #2025
Using Specflow and Specrunner to run the tests.

I'm not creating an Async method so presumably it's a thread created by my test.

[2017-02-02 11:20] CharliePoole commented on #2025
Presumably? Either you have code to create a thread or you don't. :smile:

Can you run the tests with nunit3-console?

[2017-02-02 11:27] MarcusGast commented on #2025
Sorry I've been writing automated tests for two weeks so a lot of the concepts are still new to me. I'm not explicitly creating threads. Tests are just being run via specflow feature files, I don't know how specflow handles threads.

As for the nunit3 console, I don't know how, will need to look into it.

[2017-02-02 11:30] CharliePoole commented on #2025
OK, as another approach to this, can you post the stack trace from the exception? I'm suspecting this is related to another bug report.

[2017-02-02 11:33] CharliePoole commented on #2025
Unfortunately, most of us who write NUnit know even less about. SpecFlow than you. :smile:

[2017-02-02 11:35] MarcusGast commented on #2025
Here you go, changed the filepath for client confidentiality reasons but everything is as is:

 at NUnit.Framework.Assert.ReportFailure(String message)
   at NUnit.Framework.Assert.ReportFailure(ConstraintResult result, String message, Object[] args)
   at NUnit.Framework.Assert.That[TActual](TActual actual, IResolveConstraint expression, String message, Object[] args)
   at NUnit.Framework.Assert

[2017-02-02 11:42] CharliePoole commented on #2025
Looks very much like #1965 and #1952 stack traces. I'll check it out in the morning.

[2017-02-02 13:55] evenflow58 opened #2026 "CollectionAssert.AreEqual and AreEquivalent failing on equal lists"
As noted by their names the first test fails while the second passes.
[code]

I believe the failure occurs because the hash codes are different so the objects are not actually equal. However, this reduces the usefulness of these comparers. While I can create an IComparer object I don't feel that should be the expected requirement. Can the hash codes be ignored or at least add a switch or another f

[2017-02-02 15:33] jnm2 commented on #2026
This is expected behavior. It doesn't have to do with the hash code though. Equality is defined by .NET's `object.Equals`. .NET does not consider your objects equal unless you override `Equals`, so neither does and neither should NUnit.

However, .NET'S equality API contract requires you to return equal hash codes for objects you define as equal, so you will have to override `GetHashCode` too. Thi

[2017-02-02 15:54] jnm2 commented on #2026
To back up what I'm saying, compare List.Contains, Array.IndexOf, HashSet.SetEquals, try adding the objects as a key twice to a dictionary and see they are treated as different keys, and any other equality API.

[2017-02-02 16:00] CharliePoole commented on #2026
Additionally, to get a better error display, override ToString() on TestObject.

[2017-02-02 16:00] #2026 closed

[2017-02-03 06:14] JustinRChou commented on #2025
Does SpecFlow+ work with NUnit 3.6?

I am looking at the free version and it installs something like version 3.0.0 and it runs tests through the nunit-console.

At the moment, I can't seem to find how do they write the test fixtures.

[2017-02-03 07:00] JustinRChou commented on #2025
[SpecFlow Generated Test Fixture.txt](https://github.com/nunit/nunit/files/749738/SpecFlow.Generated.Test.Fixture.txt)

The TestRunner runs on it's own thread.

[2017-02-03 08:12] oryz opened #2027 "Socket Exception when running tests with --explore option (3.6)"
Hi,

I'm not sure whether an issue with NUnit or with my configuration, but when trying to run tests with the `--explore` option, it errors with the following output:

[code]

The command I executed was:

Tests execute successfully when dropping `--explore`

Thanks

[2017-02-03 10:30] ChrisMaddock commented on #2027
Hi @oryz - Can you try running with `--inprocess` - see if you get a different stack trace?

We could really do with a getting a better stack trace in these situations. :-(

[2017-02-03 11:20] ChrisMaddock commented on #2027
Unrelated - you should be aware `--explore` doesn't currently work with filters (`--where`) - but @Poimen is working on it, so hopefully it will for the next release! See: https://github.com/nunit/nunit-console/issues/139

[2017-02-03 11:46] CharliePoole commented on #2027
Looks like a console bug we fixed. What version us this?

[2017-02-04 05:08] #2003 closed

[2017-02-04 13:45] ChrisMaddock opened #2031 "Limit Language level to C#6"
The framework and console currently use a maximum language level of C#6 - we want to maintain that to ensure the projects can still be built by the C#6 generation of IDEs.

To enforce this, it would be great if we could add the `<LangVersion>` attribute to all the csproj's. This would prevent the projects compiling with C#7 features, help new contributors discover the required language level, and

[2017-02-04 15:14] jnm2 commented on #2031
I'm happy to take this one :D

[2017-02-04 18:06] jnm2 opened #2033 "Nameof refactor"
In the [C# version conversation](https://groups.google.com/forum/#!topic/nunit-developer/m00Oeo9bSqA), I asked if we'd be interested in doing a total `nameof` refactor now that the keyword is available. The core reason is well stated by @ChrisMaddock:

Besides the security, I've also noticed it makes navigation to the related member *so much easier*. Whether it's a TestCaseSource or it's an NUnit

[2017-02-04 18:12] jnm2 commented on #2033
However, we'd need to manually check all call sites of `TestAssert.IsRunnable` and similar methods. I volunteer because this is something I really want to see happen, and of course extra eyes on the same hunt couldn't hurt.

[2017-02-04 18:30] CharliePoole commented on #2033
Reposting steps I suggested in the discussion on the mail list...

0. Decide if we even need such a standard or if we will view it as a
matter of individual style.
1. If yes, try to devise a standard that tells people when to use nameof.
2. Get it approved by either a project team or the core team. This has
to wait a little till we are organized, but I hope not long.
3. Examine the standard to see

[2017-02-04 18:34] CharliePoole commented on #2033
By the way, we are talking about the framework project here, so it makes sense that the folks working on the framework project express opinions. Whether there will be some __global__ standards that all projects __must__ follow is another matter. It has to be addressed by the Core Team, but that's not yet possible, because we are still working on the governance model for the overall organization.

[2017-02-04 18:39] jnm2 commented on #2033
I think nameof fits the bill as one of the extremely few things worth setting as a standard.

Pros:
 * You get autocomplete and typo correction (less work)
 * You get refactoring guarantees (less work + safety, it's easy to miss things, unit tests don't catch everything)
 * You get to follow the promptings of the IDE which almost everyone uses (less work)
 * You get F12 navigation and CodeLens (le

[2017-02-04 18:44] jnm2 commented on #2033
My guess is we'll find that nameof is very popular and we won't have to encourage new contributers to use it.

[2017-02-04 18:57] CharliePoole commented on #2033
@jnm2 Do you want to propose some language?

[2017-02-04 19:00] CharliePoole commented on #2033
@jnm2 I don't understand your third point about the promptings of the IDE.

[2017-02-04 19:05] jnm2 commented on #2033
I can try proposing some language. Let me read https://github.com/nunit/docs/wiki/Coding-Standards thoroughly.
I clarified my third point in-place.

[2017-02-04 19:13] jnm2 commented on #2033
Re:

An argument could be made 😆 that using `nameof` is part of the normal standard for C# 6 programming, just like using `await` rather than `.ContinueWith` with callbacks (C# 4) is part of the normal standard for C# 5 programming. But I should read the C# 6 spec before I make that argument seriously.

[2017-02-04 19:21] CharliePoole commented on #2033
@jnm2 A different way to put it is that coding standards are about style. They are the aspects of style that we decide to standardize in order to foster better communication. Curly braces are a great example. You and I can differ in our preferences, but one of us agrees to give in because how braces are laid out makes an enormous impact when reading a program. Neither of us (if we differed) would

[2017-02-04 19:29] jnm2 commented on #2033
I do agree with everything you said. I'm just seeing the possibility that `nameof` is not even in that category- less of a style and more of a Dispose-like programming _practice_, or more analogously, more of an `await`-like programming practice.
You wouldn't say writing `try-finally Dispose` instead of `using` was personal style, even though the end result is identical. We've always had `using` t

[2017-02-04 20:12] jnm2 commented on #2033
Draft of language:

----

### Use of the `nameof` keyword

The `nameof` keyword should generally be used wherever possible, with some freedom of personal judgment (see below). Usage of the `nameof` keyword allows everyone debugging or editing the code to use quick F12 navigation and CodeLens and Find All References. It provides guarantees when editing and refactoring- there are things which both p

[2017-02-04 20:25] eberlid commented on #2027
The exception stack trace looks the same we encountered in https://github.com/nunit/nunit-console/issues/171

[2017-02-04 21:47] JustinRChou commented on #2033
So basically, part of the refactor would involve changing something like
[code]
Don't quite get

[2017-02-04 21:58] jnm2 commented on #2033
@JustinRChou

For example, in a recent PR @CharliePoole was about to leave a test skip reason which would show up in the UI, "A test cannot be both Parallel and NonParallel ", but those were no longer enum members. If end users search the documentation for them, they will end up lost. Things like that (if we don't catch them) can waste people's time. They are a form of documentation. Preferable wo

[2017-02-04 22:00] jnm2 commented on #2033
I'll try to think of a clearer wording. Do you have a suggestion for that?

[2017-02-04 23:37] JustinRChou commented on #2033
I think I get it now. I think I was being confused by the term public-facing but that is just me.
So you're just forcing an error if anything changes which is being used in a string literal as a message.

I think in that case then it should be a standard.

[2017-02-05 00:41] CharliePoole commented on #2033
@jnm2 Except that example is purely hypothetical, since the message (which we changed) was not intended to refer to public-facing enums. I don't think we actually have many messages that contain the names of enums - maybe not any.

@JustinRChou In your example, I would use nameof in attribute argument and not in the property value., because...
1. nameof(someproperty.Version) is about three times a

[2017-02-05 04:47] CharliePoole commented on #1962
There were two steps needed here:
1. Make a Theory with no data runnable - as opposed to a test wiith no data. We already did that.
2. Make that Theory fail - that's what this issue is about.

[2017-02-05 12:42] ChrisMaddock commented on #2033
I agree with the general idea that `nameof` should simply be considered good programming practice, rather than a style choice, and therefore not need a standard. But I'm more interested in seeing the change in place, and if we decide a standard is needed to do that - that's fine by me!

Sure! Busy week this week, but happy to help. 😄

[2017-02-06 04:34] yaakov-h commented on #1656
In NUnit 3.6, this now throws a `NUnitEngineException` rather than a `SocketException`:

[code]

Is this the expected result of disposing an `ITestRunner` for a crashed process?

[2017-02-06 04:49] CharliePoole commented on #1656
We have simply wrapped the exception in our own NUnitEngineException. The issue essentially the same and has not been worked on by anyone yet.

[2017-02-06 05:29] yaakov-h opened #2035 "NullReferenceException inside failing Assert.That call"
I have some integration tests written in NUnit that test the code I have that calls the NUnit Engine APIs . This is particularly to ensure that I am treating the NUnit XML correctly and handling certain edge cases

i.e.: Test Runner Unit Tests ---> NUnit Engine ---> Dummy Unit Tests

I am in the process of upgrading this from NUnit 3.4 to 3.6.

When using the 3.6 framework and binaries for all of

[2017-02-06 05:36] yaakov-h commented on #2035
The error looks very much the same as #2025, #1965 and #1952, except there is no asynchronicity going on here. My tests are synchronous.

[2017-02-06 05:39] yaakov-h commented on #1656
Ok, thanks.

[2017-02-06 09:27] agray commented on #2006
3,6 binaries were an in place replacement from 3.5 (yes).  same name and number of files in **C:\Program Files (x86)\NUnit.org\net-4.5**

    mock-assembly.exe
    nunit.framework.dll
    nunit.framework.tests.dll
    nunit.framework.xml
    nunit.testdata.dll
    nunitlite-runner.exe
    nunitlite.dll
    nunitlite.tests.exe
    slow-nunit-tests.dll

In Jenkins the command I run from a Windows Ba

[2017-02-06 20:46] ChrisMaddock commented on #2006
I'm not entirely convinced this is related to the framework reference. Three reasons:

1. The framework was first removed from the installer in 3.5. The changes to the installer between 3.5 and 3.6 were minimal.
2. Not being able to locate the framework would normally result in the console exiting with the INVALID_ASSEMBLY exit code, rather than the console hanging.
3. If the Test Adapter can run

[2017-02-06 22:24] agray commented on #2006
Hi @ChrisMaddock,  Tests have not changed.  Not at all.   The ran fine under NUnit 3.5

I would suggest we REALLY need some Step by Step CLEAR documentation on how to install and upgrade all the myriad components of NUnit on Windows.  I honestly have no idea, if I had to explain it to someone, the correct way to do this and I am worried that my registry is messed up in some way now.

How do I see

[2017-02-07 00:55] CharliePoole commented on #2006
@agray Well, in this case "myriad components" - as far as I can tell - means two software products: the NUnit framework and the console runner.

The framework is what you are referencing in your tests. Only you know what version that is. Whatever version you built the tests with, that's the one that has to be available to your tests at runtime. If you built the tests with the 3.5 framework, make s

[2017-02-07 01:46] rprouse commented on #2006
I noticed recently that if I have the console installed and in my path, but
then try to run another copy, say from nuget, the runner appears to hang.
Eventually the communication channel with the agent times out. It looks to
me like the agent fails to start or crashes, but I haven't had time to
investigate.

On Feb 6, 2017 7:55 PM, "CharliePoole" <notifications@github.com> wrote:

@agray <https://

[2017-02-07 03:08] oryz commented on #2027
Hmm weirdly adding --inprocess causes the command to run correctly (albeit disregarding the --where option as per @ChrisMaddock's comment). See - https://www.screencast.com/t/QJtwqX3k

Nunit version = 3.60

[2017-02-07 21:24] GCichosz commented on #1934
How a confirmation of that kind of issue should look like? I got similar results using console runner build from the newest sources. Is that enough to start working on this issue?

[2017-02-08 00:08] ChrisMaddock commented on #1934
Yup - that's great @GCichosz. 😄

Issues are generally marked with [confirm] when they're first reported - if anyone else can repro them they're considered confirmed. It often makes a good triage-stage, which rules out some errors users report specific to their own machines machine/tests suites, and catches issues where there isn't enough information to reproduce the problem.

I've assigned you to

[2017-02-08 10:20] agray commented on #2006
With NUnit 3.5 my tests ran in both Jenkins and from the VS Test Adapter.  The only NUnit related nuget package my solution pulled in was NUnit 3.5 and the V2 results writer extension as can be seen in the dependencies section [here](https://www.nuget.org/packages/saucery3).

I had NUnit 3.5 MSI installed on the machine and I ran the tests in Jenkins using the nunit3-console.exe in C:\Program File

[2017-02-08 10:30] ChrisMaddock commented on #2006
@agray - From your console output, your `trace=Verbose` is being read as a test file. You need to mark it as an option with `--`

`"c:\Program Files
(x86)\NUnit.org\nunit-console\nunit3-console.exe" UnitTests\bin\Release\UnitTests.dll --trace=Verbose`

Hopefully that will provide some logs, which may give some clues.

[2017-02-08 11:30] agray commented on #2006
@ChrisMaddock: Went back to basics and looked at my last working release which pulled in NUnit 3.5 and the V2Writer Extension.  I uninstalled all NUnit nuget packages and the reinstalled NUnit 3.6 package only to replace the NUnit 3.5 package that is there in the released version 3.5.8.

As you suggested Chris I ran the correct command

    "c:\Program Files (x86)\NUnit.org\nunit-console\nunit3-co

[2017-02-08 12:02] ChrisMaddock commented on #2006
@agray - Take a look at `InternalTrace.2932.UnitTests.dll.log.txt`. You can see it starts running tests, and then gets stuck on `FlowControlTest`. Maybe rerun those logs a couple of times, to check it's consistently that tests it stops on - and not just a coincidence. If so - can you share what's going on in that test?

Aware you've said the tests themselves haven't changed recently - but both the

[2017-02-08 12:18] agray commented on #2006
Thanks @ChrisMaddock, leave it with me, I'll get my stuff together and report back

[2017-02-08 14:30] GCichosz commented on #1934
Sorry to ask, but how do I debug nunit.framework through nunit3-console? I tried copying nunit.framework.dll and starting nunit3-console as an external process, but that doesn't seem to work.

[2017-02-08 15:22] ChrisMaddock commented on #1934
I normally find it easier to use the nunitlite-runner, rather than the nunit-console from debugging framework issues.

I do everything in the VS solution. First I add a test that hits the problem to nunit.framework.tests-2.0. Then I pass the path of the the nunit.framework.tests-2.0.dll as a command line argument to the nunitlite-runner-2.0 project, and set that as my startup project.

The nunit.f

[2017-02-09 01:43] yaakov-h opened #2036 "SocketException when exploring a test assembly"
I'm upgrading my projects from NUnit engine 3.4 to 3.6, using framework 3.6 before and after.

When exploring an assembly for tests, I get the following exception:

[code]

I do not get this exception when using `--inprocess`, nor when omitting `--explore`.

Here's a repro case which fails reliably for me:

[code]

[2017-02-09 05:32] CharliePoole commented on #2036
You should definitely not be getting a socket exception.

However, your repro case is equivalent to just throwing an exception! Since the TestCases static member is being called outside of running the test, it's guaranteed that the current context will be null.

This is actually a duplicate of issue #1824

[2017-02-09 05:32] #2036 closed

[2017-02-09 06:01] yaakov-h commented on #2036
The interesting thing is that the context isn't null. If you do `File.WriteAllText(@"C:\TestDir.txt", TestContext.CurrentContext.TestDirectory)`, then the test directory is written to that file before the process crashes.

[2017-02-12 02:37] chris-smith-zocdoc commented on #164
@CharliePoole

Do we need the dispatcher to know of the pending teardown items upfront, or can we dispatch them as they become available? More concretely, where CompositeWorkItem currently calls  [PerformOneTimeTearDown](https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Internal/Execution/CompositeWorkItem.cs#L342-L351) can we use the dispatcher to dispatch a new unit of work

[2017-02-12 04:56] CharliePoole commented on #164
@chris-smith-zocdoc Yes, that's exactly what I'm doing. I created a new type of work item, `OneTimeTearDownWorkItem`, which is nested in `CompositeWorkItem` and is dispatched when the last child test is run. Later on, we might look at some efficiencies when the OneTimeSetUp and all the tests have been run on the same thread.

[2017-02-14 11:13] agray commented on #2006
Ok....So I have managed to get both the UnitTests and SauceLabs Tests to execute and pass.

What I need to do now is find out how to change to use the JUnit plugin to publish the nunit3 XML results.

Any help you could offer with this last step?

[2017-02-14 11:58] agray commented on #2006
This is sorted. Used the nunit3-junit transform. Thanks Paul.  works well.

[2017-02-14 11:58] #2006 closed

[2017-02-15 09:27] vSkullv opened #2038 "Run test in isolation"
Hi,

Is it possible to run a test method in isolation, i.e. no other tests runs in parallel?

[2017-02-15 17:37] CharliePoole commented on #2038
If you don't use the `[Parallelizable]` attribute at all, tests are not run in parallel, with one exception. If some of your tests require the STA - indicated by using `[RequiresSTA]` or `[ApartmentState(ApartmentState.STA)]` - those tests will run in parallel on the STA thread with all your other tests running in the MTA. For most users, this doesn't cause a problem.

To eliminate even this small

[2017-02-15 17:37] #2038 closed

[2017-02-15 20:09] jnm2 opened #2039 "Message for ContainsConstraint doesn't show the context"
Never mind, unrelated tooling issue.

[2017-02-15 20:24] #2039 closed

[2017-02-15 21:28] carlin-q-scott opened #2040 "Cannot catch AssertionException"
Executing an NUnit assertion within a try block results in it not being captured by the catch block and it fails the test.

The following test fails due to the `Assert.False(true)` and does not throw the `NotImplementedException`:
[code]

While looking through #2007 I found this workaround:
[code]

[2017-02-15 22:41] CharliePoole commented on #2040
The most fundamental question about this code is "Why do you want to do this?" As it stands, the code is only an example but the only reason I can see for catching AssertionException is if you are testing NUnit itself.

In fact, in the code given, the exception will be thrown and you should be able to trace it in the debugger. However, catching the exception will not prevent the test from failing

[2017-02-15 22:52] carlin-q-scott commented on #2040
My use case is basically the same as the one stated in #2007. I am performing actions and then polling for a state transition in my SUT, so I wrote a RetryUntil function that hides the assertion failures until a timeout is reached or they pass. The fact that NUnit is preventing the capturing of the AssertionException is confusing and a fundamental departure from all unit testing frameworks. Presum

[2017-02-15 22:57] JustinRChou commented on #2040
Could you use the delayed constraint?

[2017-02-15 23:22] CharliePoole commented on #2040
NUnit has always considered the use of an AssertionException as an implementation detail. The same goes for IgnoreException, SuccessExeption and InconclusiveException. It's certainly true that it's an implementation detail used in common with many (but not all) other test frameworks. Over the years, when I've seen folks catching an AssertionException, either in an online forum or at one of my clie

[2017-02-15 23:46] carlin-q-scott commented on #2040
The DelayedContraint works for us except we're using FluentAssertions for most of our assertions and sometimes we wrap them in Assert.Multiple. So I think it would be confusing for my team to have two different formats for asserting with polling. One when they're using FluentAssertions and another when using NUnit assertions.

My example code does not throw an exception of type NotImplementedExcep

[2017-02-16 02:43] CharliePoole commented on #2040
You might take a look at the XML generated for your test. I suspect you'll find something like

[code]

where the first assertion element is for the failure and the second is for the assertion thrown. This won't matter to you if you are using a legacy runner that doesn't read that information but if you use a runner that understands the new elements, you will see both the failure and the error rep

[2017-02-16 03:45] gzak commented on #164
Haven't read everything too carefully, but one thing I'd like to request is that the parallelism be "smart", especially for I/O bound tests. For example, if you have 10 threads executing 100 parallelizable tests, it shouldn't be the case that the 10 threads sit and wait for the first 10 to complete before moving on to the next 10. If the first 10 tests start awaiting very long-running I/O tasks, t

[2017-02-16 05:57] CharliePoole commented on #164
@chris-smith-zocdoc In fact, that's pretty much what I'm doing. I'm essentially using the existing countdown mechanism to trigger dispatch of a one time teardown task. The trick is to get it dispatched on the proper queue.

@gzak Bear in mind that the mechanism for parallel execution already exists. It depends on workers independently pulling tasks rather than having a controller that pushes tasks

[2017-02-16 09:52] vSkullv commented on #2038
This is quite useful. Thanks for letting me know.

[2017-02-16 17:23] erichjz opened #2042 "When I build my own ConstraintResult, Not is not accounted for"
I'm pretty sure this is just my lack of understanding of the API.

NUnit, version v3.6.0.0
NUnit3TestAdapter v3.7.0

I have a method that uses the EqualConstraint and ConstraintResult objects directly (instead of nested in an Assert call). It is a workaround for some old code I am still supporting.

I ended up with the following code:

`var constraint = Is.Not.EqualTo(1.234d).Within(0.1d);`
`var r

[2017-02-16 23:03] CharliePoole commented on #2042
See this: https://github.com/nunit/docs/wiki/ReusableConstraint

[2017-02-16 23:03] #2042 closed

[2017-02-16 23:44] CharliePoole opened #2043 "Regression in 3.6.0 when catching AssertionException"
@pdpurcell commented on [Thu Feb 16 2017](https://github.com/nunit/docs/issues/168)

In version 3.5.0, catching a failed assertion would allow the test to continue and the test would then pass.  Version 3.6.0 continues running the code, but the final state will be set to failed.  Is this a regression?  I see no mention of this sort of behaviour change in the [release notes](https://github.com/nuni

[2017-02-16 23:48] CharliePoole commented on #2040
See issue #2043 and the proposed solution. I'm keeping several issues open for now, even though they may be duplicates, because each gives a slightly different use case.

[2017-02-16 23:50] CharliePoole commented on #2007
See issue #2043 and the proposed solution. I'm keeping several issues open for now, even though they may be duplicates, because each gives a slightly different use case.

[2017-02-17 01:46] carlin-q-scott commented on #2040
@CharliePoole Being able to retry a batch of assertions after performing an action is exactly what I want that's missing from NUnit. FluentAssertions still has some nice features that are missing from the NUnit Constraints but I'm perfectly happy to continue using that library.

[2017-02-17 08:57] ChrisMaddock commented on #2043
I think that sounds viable. Is there anything you can foresee, that making this change may limit us in the future Charlie?

I suggest we go one way or the other, either keep current behaviour and implement new workaround features, or make the assertion exception a documented feature.

There seems to be more user code dependent on this long-standing implementation detail than first thought. Regardl

[2017-02-17 14:47] jnm2 commented on #2043
I've always considered thrown exceptions to be part of the public API. They are veritable return types whether intended that way or not.

[2017-02-17 16:03] CharliePoole commented on #2043
@jnm2 Agree for most libraries. But this is an exception you are not supposed to catch.

In any case, one is usually advised to only catch exceptions that you can actually handle, which is not the case here.

However, we can still try to minimize the surprise for users.

@ChrisMaddock I implemented it as I did to avoid introducing a new exception type. In retrospect, the new type should make thing

[2017-02-17 16:33] rprouse commented on #2043
Charlie, your approach sounds good to me and I agree it is probably worth a hotfix. I will be in a place with better Wi-Fi tomorrow if you want help. We should probably make this fix as a branch off the release branch if you haven't done it yet.

[2017-02-17 18:12] NUnitTester opened #2044 "NUnit Adapter 3.7 - Error"
DataSources.TestCases has tow test cases, used in more than one test like shown below.
But the Test-Explorer shows only two tests in class Tests, expected are four. This seems to me an error in NUnit Adapter 3.7.
NUnit3TestExecutor does execute all tests, so it is possible to debug them. But is impossible to select one testcase and debug only Test1. Test2 is also executed.

`public class Tests {`

[2017-02-17 18:30] erichjz commented on #2042
Perfect: thanks for the response!

[2017-02-17 19:09] CharliePoole commented on #2043
@rprouse I'll do it that way. I'm setting aside my work on #164 to do this one. Should have it this morning. You may want to check if there are other bug fixes that ought to be cherry-picked. If you can do the release tomorrow, that would be perfect!

[2017-02-17 19:22] CharliePoole commented on #2044
Let's say that your data source has two int values, 100 and 200.

In that case, there will be four tests:
 * Test1(100)
 * Test1(200)
 * Test2(100)
 * Test2(200)

These are all distinct names and should be listed separately by the IDE unless you have done something to set the names of the tests yourself in creating the data source. Problems also arise if the string representation of the arguments

[2017-02-17 19:48] CharliePoole commented on #2040
@carlin-q-scott What if we simply added a wait period to the existing RetryAttribute? That is if the test failed, we would wait a given amount of time between retries. That would allow re-running the whole test, but not a range of asserts within the test, but may be helpful in some cases.

[code]

For a batch of asserts, we would need to invent a syntax.

[2017-02-17 19:54] CharliePoole opened #2045 "NUnitlite-runner crashes if no file is provided"
If you run nunitlite-runner without a file argument, it crashes. It should actually check and give an error message, just like nunit3-console.

This is slightly tricky because nunitlite-runner passes the arguments on to nunitlite. NUnitlite is often called without a file argument because the tests are in the failing exe. We need to fix this issue without breaking the behavior when nunitlite is cal

[2017-02-17 21:06] NUnitTester commented on #2044
Yes, all my TestCases are named and most with Description. Something like this:
`public static IEnumerable<TestCaseData> TestCases
{
	get
	{
		yield return new TestCaseData(2).SetName("Two");
		yield return new TestCaseData(3).SetName("Three");
	}
}`

What I expect:
Tests.Test1.Two
Tests.Test1.Three
Tests.Test2.Two
Tests.Test2.Three

But what I see is:
Tests.Two
Tests.Three

[2017-02-17 21:16] NUnitTester commented on #2044
Just testet now with Resharper 2016.2: A little bit better, all testcases are shown but with same name:
Tests.Two
Tests.Two
Tests.Three
Tests.Three

Perheps it helps. Seems to me that the class has been forgotten if the testcases are named.

[2017-02-17 21:22] CharliePoole commented on #2044
Your naming is defeating NUnit's attempt to keep things distinct. Your tests are named

Tests.Two
Tests.Three
Tests.Two
Tests.Three

You have removed Test1 and Test2 from the names entirely. If you look closely, you will see that each of the two names display two separate results. So the result is not lost but the organization is not so good.

If you must rename the  tests, use something like "{m}

[2017-02-17 21:22] #2044 closed

[2017-02-17 21:32] NUnitTester commented on #2044
Oh, I don't think so. How can I rename the tests?
For all test methods the TestCaseSource is the same. That seems to me the problem. If I change the name of each TestCase in the Source, nothing change. Or what do you mean?

By the way: My TestCaseData is not really int, it has more than 5 parameters, autmated naming is terrible in this case. I only make a simple example to show the case.

[2017-02-17 21:32] CharliePoole commented on #2044
Not the class, but the method name. And it's not forgotten. Rather, NUnit is dropping it per your instructions. The phrase `SetName("Two")` basically means, call the test "Two" rather than "Test1.Two" or "Test2.Two". Theoretically, you could use `.SetName` to call every test in your assembly by the same name. It's just not a very good idea. :-)

[2017-02-17 21:35] CharliePoole commented on #2044
In that case, you may need to give your actual example. However, first try simply including "{m}" in the name to represent the name of the method. That ought to solve your problem.

[2017-02-17 21:38] CharliePoole commented on #2043
Turns out I already have a MultipleAssertException, so that part is done. :-)

[2017-02-17 21:44] NUnitTester commented on #2044
Ah great. I didn't know this feature. Where is the documentation to it? Are there more things like that? In my case I also need the TestCaseSource name.
Because I have more than one TestCaseSource per methode and the TestCases have the same name in each source but different representations. It's very special I know.

[2017-02-17 22:04] CharliePoole commented on #2044
Right now this is the best we have as docs: https://github.com/nunit/docs/wiki/Generation-of-Test-Names-Spec

We don't have a for the test case source but you can specify a different hard-coded string portion for each source to keep them separate. Your SetName would have to reflect both the source and the case.

[2017-02-17 22:29] CharliePoole commented on #2043
@pdpurcell A workaround was mentioned elsewhere already, but not here: if you use Assert.Throws rather than a try/catch, your problem disappears. That's because Assert.Throws is a supported feature and it understands how NUnit uses the exception.

[2017-02-17 22:53] NUnitTester commented on #2044
Thanks a lot.

[2017-02-17 23:50] carlin-q-scott commented on #2040
Most of our use cases involve performing an action, waiting and then performing another action. So retrying the test is not desirable.

[2017-02-17 23:56] CharliePoole commented on #2040
In that case you may want to stick with your current approach but substitute Assert.Throws or Assert.Catch for the try/catch block.

[2017-02-18 01:47] oznetmaster commented on #2043
Once this is completed, is this going to become a documented API/feature?

[2017-02-18 04:57] CharliePoole commented on #2043
@oznetmaster I'd prefer to add something about our exceptions to the docs that warns people __not__ to intercept them.

[2017-02-18 08:49] appel1 commented on #2043
Have you considered making it possible to opt-in to the 3.6 behavior? I can't think of any situation where we'd want to catch any assertion exceptions and we've already had a couple of situation where we'd missed test failures for some time because they were hidden by code catching Exception. Would be nice if it was possible to avoid that potential mistake.

[2017-02-18 14:14] jnm2 commented on #2043
@appel1 If you were accidentally catching assertion exceptions, your catch block was too wide or a catch-all which is a deadly antipattern. If you only catch specific exceptions which it is that particular code's responsibility to expect and to recover from, you won't have this problem. It's much bigger than NUnit.

[2017-02-18 15:22] CharliePoole commented on #2043
@appel1 The mechanisms we use to report failures are such a fundamental part of NUni that I'd be hesitant to complicate things by a setting that causes it to work in two different ways. The solution in the PR is to revert to the "old" way for simple failures anuses the new mechanism for new features. As we all know, people shouldn't be catching exceptions indiscriminately.

For NUnit's own excepti

[2017-02-18 17:21] CharliePoole commented on #2040
@carlin-q-scott That works well with the current DelayedConstraint. The precise use would depend on how you determine success of each action, but for example, if the actions are wrapped as boolean functions...

[code]

What we don't have is the ability to repeat the entire sequence.

[2017-02-18 18:02] CharliePoole commented on #2035
Can you post a sample test? What framework are you targeting?

[2017-02-18 18:08] CharliePoole commented on #1962
Plus... of course others are also welcome to review!

[2017-02-19 19:48] CharliePoole commented on #2016
Name change reflects discussion.

[2017-02-19 23:59] yaakov-h commented on #2035
https://github.com/yaakov-h/NUnit2035/blob/master/NUnitEngineTesting/NUnitEngineRunnerTest.cs#L10

[code]

[2017-02-20 01:27] #1962 closed

[2017-02-20 02:23] CharliePoole commented on #2035
I think you're special case may have to do with using the framework twice on the same thread. When `FrameworkController.RunTests` finishes running tests. It clears the current TestExecutionContext, which is non-serializable, from the `CallContext`.

As an experiment, can your test create a thread on which to call the engine? That would help verify the nature of the problem and we could then look f

[2017-02-20 02:51] yaakov-h commented on #2035
I changed just the test method to the following:

[code]

Now the test fails with the following, as expected:

[code]

So the threading does appear to be the cause.

[2017-02-20 04:20] CharliePoole commented on #2035
@yaakov-h That tells us what we have to fix for your particular issue and it also will help with our own tests of NUnit, which need to do the same thing. Basically FrameworkController was written with the expectation that it would only ever be called from the engine, which doesn't normally have a context established. But in your case, the engine is created and called from a test, so there is a pre

[2017-02-20 05:27] Droni opened #2047 "Braking change in TestStatus enum"
https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Interfaces/TestStatus.cs has a braking change. If you want to change an enum, you should add new item below or you should use explicit item value, for example:

Inconclusive = 0,
Skipped = 1,
etc.

Currently the Warning item has value for Failed item in previous versions.

[2017-02-20 07:04] CharliePoole commented on #2047
These values are not exposed in any API. Can you explain what is being broken?

[2017-02-20 07:07] Droni commented on #2047
we are using these values to convert a test result to an our structure.

[2017-02-20 07:17] CharliePoole commented on #2047
The only runner that uses the defined values of the enums is the nunitlite runner, which is built along with the particular version of the framework that it references.

For public use, we defined two APIs for running tests, the Framework API and the Engine API. Both of them return an XML result which uses the __names__ of the enum values, not the int equivalents.

Have you built some sort of runn

[2017-02-20 07:20] Droni commented on #2047
Yes. We are using non-public API because the XML is too expensive to performance.

[2017-02-20 07:34] Droni commented on #2047
Also from the XML is not possible determine arguments for test cases with parameters except as string value. We need much more info about test than it is possible retrieve from the XML.

[2017-02-20 07:40] CharliePoole commented on #2047
It sounds as if you need something that directly references the framework and is rebuilt for each version.

In the design of NUnit 3, we elected to name-value pairs and XML as the way to interface with the framework as a way of providing portablility and backward compatibility. That's the design. Of course, it represents a tradeoff. However, the efficiency loss using XML turned out to be very smal

[2017-02-20 07:57] Droni commented on #2047
We are using references to nunit assemblies. In most cases no needed to rebuild with new version of nunit. But some times you are made braking changes and in this case we should rebuild too. However I think that change the enum items position is not a good idea :)

[2017-02-20 08:13] CharliePoole commented on #2047
If you are referencing the assembly, it seems to make sense to use the actual enum names, such as `TestStatus.Failed` rather than the int values. The entire purpose of enumerations in C# is to decouple the enum names from the values used to represent them __so the latter can be changed__.

[2017-02-20 08:26] Droni commented on #2047
Sure, but for this we need create another brunch. Currently we have brunch for 2.4, 2.5, 3.0 and 3.4. And now we need to add another one 3.6. Eh, let's do this.

[2017-02-20 08:26] #2047 closed

[2017-02-20 10:17] SebastienCharles opened #2048 "Random Error with OpenCover"
Hello

We have an issue with NUnit when running it with OpenCover.
Our tests are executed successfully but sometime NUnit report an error. Without coverage, we don't have any problem.

We are using the the nuget package
<package id="NUnit" version="3.6.0" targetFramework="net452" />
<package id="NUnit.ConsoleRunner" version="3.6.0" targetFramework="net452"  />
<package id="NUnit.Extension.NUnitV2R

[2017-02-20 10:40] ChrisMaddock commented on #2048
This looks to be the same error as https://github.com/nunit/nunit-console/issues/168 - introduced in NUnit Console 3.6.

As a workaround, you can use `--agents=1` - which will force your assemblies to run sequentially on a single agent, and should prevent this crash.

[2017-02-20 10:40] #2048 closed

[2017-02-20 14:53] rprouse commented on #2016
I don't think we should do this since we already have an explicit way of doing this using the `ValuesAttribute` which already auto-fills enums and bools, see https://github.com/nunit/docs/wiki/Values-Attribute

[code]

[code]

[2017-02-20 15:08] seraphim207 commented on #2016
It looks redundant to specify Values attribute on enum and bool parameters. If user wants to narrow cases - than yes, user for example can specify only 2 of 6 enum values, but in general Test should provide all values for booleans and enums out of the box without attribute.

Btw, does mentioned [Values] approach support nullable booleans/enums?

[2017-02-20 18:28] carlin-q-scott commented on #2040
My issue with using the DelayedConstraint is that I cannot use it with Assert.Multiple so when we need to assert multiple things after performing the action I'd like to maintain the details and clarity provided by multiple specific assertions rather than assert that the series of series of conditions are true.

How would I use Assert.Throws or Assert.Catch to make a decision to continue execution

[2017-02-20 19:10] CharliePoole commented on #2016
I changed this to be an idea for discussion. It seems to me we want to do something more for automatic generation of parameters, but maybe not this specific idea. I'd like to think about it, but only after we get this hotfix release out.

[2017-02-20 19:47] CharliePoole commented on #2040
The approach I suggested would work where the sequence is

[code]

or even if there are multiple waits for __each__ individual assert.

I'll look at your code more closely later today.

[2017-02-21 04:27] CharliePoole commented on #2035
I gave this a shot for the hotfix 3.6.1 release but it's really a bit too complicated for a quick fix. I suggest using the workaround of creating a thread for now.

@rprouse @ChrisMaddock The basic problem is that we avoid null references by automatically creating a current TestExecutionContext whenever we need one and it isn't there. It's done in the getter. This has led to a number of subtle iss

[2017-02-21 08:35] ChrisMaddock commented on #2035
Sounds good to me.

[2017-02-21 13:12] GCichosz commented on #2019
I did a little digging. `TestFixtureSourceAttribute` case is a simple fix, because the underlying `NUnuitTestFixtureBuilder.BuildFrom()` method already operates on `ITestFixtureData` interface. `TestCaseSourceAttribute` case is not a simple fix, because it's `BuildFrom()` method as well as the underlying `NUnitTestCaseBuilder.BuildTestMethod()` method use members specific for `TestCaseParameters`,

[2017-02-21 15:01] CharliePoole opened #2050 "Creation of TestExecutionContext should be explicit"
Originally, in V2,  it seemed to make sense to set `CurrentContext` lazily to a new context in the getter, whenever it was found to be null.

Now, with parallel dispatching, things are more complicated. The context is  changed as different tests begin to execute and the current work item both controls and depends upon it's content. When the context is discovered to be null, it's an error that we s

[2017-02-21 20:19] CharliePoole commented on #2050
The following issues relate to this refactoring and - even if not dependent on it - may need to be delayed until this one is done: #2035, #2025, #1965, #1952

What they all share in common is that when there is no `CurrentContext` a sort of "dummy" context is created, in which none of the properties are initialized properly.

[2017-02-21 20:53] CharliePoole commented on #2050
Commenting out the lines that create a new context when `TestExecutionContext.CurrentContext` would otherwise return null gives me five errors and failures in the framework tests (.NET 4.5).

[code]

Here are notes on each error

1) This is due to accessing the `TestContext` when loading tests, specifically the `TestDirectory` property. We need a better solution to access to the context at load ti

[2017-02-23 16:41] Tragedian commented on #1821
How would you feel about your test methods accepting a CancellationToken passed in from the NUnit runner to signal the test execution should be cancelled?

[2017-02-23 18:48] CharliePoole commented on #1821
@JackUkleja Thanks to @Tragedian 's post, I'm looking at this again after a long gap.

When I asked you how the user would signal cancellation, what I meant was the user actually sitting there running the tests. Starting from the user interface, how do you propose we tell the test run to stop? Historically, the old NUnit Gui had a button for this and I think the new one will have the same. However

[2017-02-23 19:54] claunia opened #2051 "Visual Studio 2017 RC does not detect nunit tests"
Hi,

Visual Studio 2017 RC does not detect nunit tests. Package references NUnit 3.6.0, VS has NUnit 3 Test Adapter 3.7.0.0 installed, and project targets both .NET 4.0 and .NET Core RC4.

Running manually nunit from console or GUI works (targetting the .NET 4.0), but gets no debug backtrace (showing simply NullReferenceException on the test but not the backtrace of where it really happened).

[2017-02-23 20:01] JustinRChou commented on #2051
If I am not wrong, the test runner for 2017 isn't ready yet.

nunit/nunit3-vs-adapter#297

[2017-02-23 20:15] CharliePoole commented on #2051
The adapter supports VS 2017 but not .NET Core as yet. See the issue referenced  by @JustinRChou

[2017-02-23 20:15] #2051 closed

[2017-02-23 20:28] claunia commented on #2051
@CharliePoole read again, my project targets BOTH .NET Framework 4.0 not .NET Core. The tests are not detected even if I remove the multitargetting and leave .NET Framework 4.0 alone.

[2017-02-23 20:48] oznetmaster commented on #1821
Since my NUnitLite runner has done this since day one, it is really pretty easy.

Simple have the code which actually reads the console run on its own thread.

It then starts  NUnit on another thread , and keep listening on the console.  It process the command linbe, and does the correct thing, like calling StopRun.

[2017-02-23 21:17] JustinRChou commented on #2051
@claunia
It's an issue with Visual Studio 2017 itself.

The test explorer in the IDE is having issues since the NUnit test adapter hsan't been updated for that IDE.

[2017-02-23 21:28] CharliePoole commented on #1821
@oznetmaster The question wasn't "how do you write a program supporting cancel" but "how does the OP currently cancel execution, leading to the described behavior."

[2017-02-23 21:34] CharliePoole commented on #2051
@JustinRChou The NUnit 3 Test Adapter is developed and tested using VS2017. In fact, it's not possible to build it with VS2015 or lower any longer.

@claunia Am I correct to assume we __are__ talking about the NUnit 3 Visual Studio Adapter and not the NUnit dotnet runner? I'd like to move the problem to the correct repository.

[2017-02-23 21:37] oznetmaster commented on #1821
"What runner are you thinking of and **how would you tell it to cancel**?"

[2017-02-23 21:42] claunia commented on #2051
@CharliePoole I'm pretty much old-fashioned, I'm not using dotnet but VS only.

This is exactly what I did:
1.- Remove old csproj
2.- Create new csproj specifying .NET Core Library on VS2017
3.- Changed <TargetFramework>netcoreapp1.0</TargetFramework> to <TargetFrameworks>net40;netcoreapp1.0</TargetFrameworks>
4.- Added NuGet reference to NUnit 3.6.0 inside VS2017 menu
5.- Added NUnit Adapter 3.7.

[2017-02-23 21:51] CharliePoole commented on #1821
Exactly! And only the person who is experiencing the problem can tell us the answer.

What you're describing is a solution to one problem, which may eventually turn out to be __the__ solution. I'm trying to understand the details of the problem the OP is experiencing, and what runner he is using forms a part of that.

[2017-02-23 21:58] CharliePoole commented on #2051
@claunia It's possible that starting out with a .NET core project has led to the problem. Things you may try:

1. Verify that the adapter is being run at all. If it is, there will be messages in the Test output window.
2. Start over with a project that only targets 4.0.

I'm moving this to the adapter repository.

[2017-02-23 21:59] CharliePoole commented on #2051
Issue moved to [nunit/nunit3-vs-adapter #305](https://github.com/nunit/nunit3-vs-adapter/issues/305) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-23 23:10] JackUkleja commented on #1821
@CharliePoole @Tragedian

I think this solution is the most intuitive, logical, and consistent with latest .NET patterns that is probably available.

The runner we use is the Resharper runner, which has a stop and a kill button. Stop stops any new tests being run and kill kills the runner thread so will kill the run mid-test. But ideally Stop would also stop the _current test_ (via cooperative can

[2017-02-23 23:37] provegard opened #2052 "NullReferenceException with TestCaseSource if a property has no setter"
I've written a base class for running NSpec examples using NUnit. I just upgraded it to use NUnit 3, which worked fine. But when I try to target netstandard 1.6, I get the following when running tests:

[code]

The TestCaseSource attribute lives in a class that inherits the `nspec` class from NSpec, and it has properties without getters, e.g.:

[code]

I'm guessing that the exception happens here:

[2017-02-23 23:47] CharliePoole commented on #1821
I'd definitely like to see us add cooperative cancellation at some point. The framework has an app method that supports "normal" and "forced" stop. We could add the cooperative stop feature to the normal stop for any tests that support it. In fact , I think it's almost there with the step requested flag we already have in the TestExecutionContext. We would only need to expose it in TextContext.

[2017-02-23 23:49] CharliePoole commented on #1821
Whether this would help you with the R# runner depends on how they are using NUnit, something we are not privy to.

[2017-02-23 23:52] CharliePoole commented on #1821
For console runner support to trigger cancel this way, a new issue against that project would be helpful. We'd probably want to allow some time for a normal stop to work before just killing everything.

[2017-02-24 01:52] sliddington opened #2053 "Exception in LaunchAgentProcess when running under TeamCity"
Any ideas what this might be. Seems to be a problem in the test runner itself. Command line options are nunit3-console.exe 'assemblies' --teamcity --x86 --workers=0 --process=Multiple --where cat=UnitTest (I added --workers=0 --process=Multiple to try to fix the issue).

The odd thing is this has not happened when I run the same command line from a command prompt.

Teamcity version is 9.1 (build 3

[2017-02-24 05:44] provegard commented on #2052
## Minimal repro

Include the following file in a .NET Core class library targeting .NETStandard 1.6:

[code]

Then add the following in a .NET Core console application:

[code]

[2017-02-24 10:07] GCichosz commented on #2045
@CharliePoole what do you mean by

? Is it about calling nunitlite through it's `AutoRun` class? If so, the difference is that when calling nunitlite through `AutoRun` an assembly is provided (unless `AutoRun` is constructed intentionally like `Autorun(null)`), and nunitlite can figure out what needs to be tested. In the case of nunitlite-runner no assembly is provided by default, and if none is p

[2017-02-24 10:43] ChrisMaddock commented on #2053
This looks to be the same issue as https://github.com/nunit/nunit-console/issues/168.

@sliddington - I'm going to close as a duplicate - if the workaround on the above issue doesn't work, let us know and we can reopen and investigate further.

[2017-02-24 10:43] #2053 closed

[2017-02-24 11:09] gabornemeth commented on #1992
I experience the same issue in my own [testrunner project](https://github.com/gabornemeth/NUnit.XForms):
I came across it, when added FsUnit test support. FsUnit 3.0.0-beta1 supports .NET Standard 1.6 and this requires NUnit 3.6.0.
In a Xamarin Android or iOS project the problem appears with .NET Standard version, I suppose. If I update the NUnit NuGet package from 3.5.0 to 3.6.0 in the [iOS or An

[2017-02-24 11:37] ChrisMaddock commented on #1992
@gabornemeth - this issue was caused by attempting to run NUnit 3 tests in the NUnit 2 runner. That doesn't sound likely with what you're doing!

It's probably worth you creating a new issue, with more details and the error you're seeing.

[2017-02-24 11:37] ChrisMaddock commented on #1992
By the way - cool project! I'd be intrigued to see how it looks compared to our nunit.xamarin runner!

[2017-02-24 11:40] gabornemeth commented on #1992
Yeah, the environment is different, but the error is the same. Incompatible assemblies try to interop somewhere. I'm going to create a new issue then.

[2017-02-24 12:01] gabornemeth opened #2054 "NUnit 3.6.0 problem on Xamarin platforms"
I experience the following issue in my own [testrunner project](https://github.com/gabornemeth/NUnit.XForms):
Calling `Assert.True(false);` causes NullReferenceException:
`  at NUnit.Framework.Assert.ReportFailure(String message)
   at NUnit.Framework.Assert.ReportFailure(ConstraintResult result, String message, Object[] args)
   at NUnit.Framework.Assert.That[TActual](TActual actual, IResolveCons

[2017-02-24 13:25] ChrisMaddock commented on #2054
This coincided with my lunch break - so I took a quick look. 😄

If I'm understanding correctly, you execute the tests by invoking the method name via reflection, and then catching any exceptions?

There was a change in NUnit exception handling behaviour in 3.6 to support multiple assertions - to save repeating the details, take a look here: https://github.com/nunit/nunit/issues/2043. Long story sh

[2017-02-24 14:14] CharliePoole commented on #2054
The interfaces used by the xamarin runner and the portable agent should probably be seen as experimental for now. The canonical approach is still the documented API used by the framework driver, unless you need to work with platforms it doesn't support.

To be brutally clear... running tests by merely calling them has not been supported since NUnit 3.0. The latest release merely added another reas

[2017-02-24 14:15] gabornemeth commented on #2054
Thank you very much for the quick response.
You were right, with the hotfix, it is working the same as before.

I ran through https://github.com/nunit/nunit/issues/2043. In my runner I used reflection - as you observed - to avoid referencing any framework assembly. This way it worked for both NUnit and NUnitLite. I planned it to be a lightweight solution :)
I think I have to revise my solution and

[2017-02-24 14:19] CharliePoole commented on #2045
Exactly. NUnitlite doesn't know it is being called by the runner so it looks for tests in the runner.

I think the cleanest way to tell it would be to add a special entry point.

When called by the runner, it shouldp

[2017-02-24 14:27] CharliePoole commented on #2054
I'm nunit v2, there were two frameworks, nunit.framework and nunitlite. In NUnit 3, there is only one framework and nunitlite no longer contains framework code.

[2017-02-24 14:29] GCichosz commented on #2045
And by entry point you mean?

[2017-02-24 14:32] gabornemeth commented on #2054
@CharliePoole You mean using the NUnit.Framework.ApiFrameworkController as recommended method? As NUnit 3.6 now supports .NET Standard 1.6, I think it is appropriate for me.

Yeah, I started my runner back then with NUnit v2.

[2017-02-24 16:48] CharliePoole commented on #2045
Currently, nunitlite-runner calls into nunitlite using two different overloads of `TextRunner.Execute()` depending on the platform. Self-executing tests call `Autorun.Execute()`.

So far, so good, except... `Autorun.Execute()` calls `TextRunner.Execute()`, merging the two execution paths.

I was thinking we needed a new entry point for the runner in nunitlite, rather than calling `TestRunner.Execu

[2017-02-24 17:02] GCichosz commented on #2045
Yes, I already did some investigation, and tried some code. I'll open a pull request to show what solution I was thinking of, and if it's not suitable, I'll try with entry points you mentioned. Can you assign me to this issue? I seem to be unable to do so.

[2017-02-24 17:12] CharliePoole commented on #2054
The current docs for the Framework API are here: https://github.com/nunit/docs/wiki/Framework-Api-Spec and (in case you want to use it) the Engine API is here: https://github.com/nunit/docs/wiki/Test-Engine-API-Spec

Note the warning at the top of each page!

The framework API can't be used if the runner platform doesn't support the `System.Web.UI.ICallbackEventHandler` interface, which is why som

[2017-02-24 17:16] CharliePoole commented on #2045
@GCichosz I assigned you. Looking forward to the PR.

[2017-02-24 19:20] CharliePoole commented on #2045
@GCichosz I assigned you. Looking forward to the PR.

[2017-02-24 19:30] CharliePoole commented on #2052
Confirmed by inspection. The cited line needs a `?.`

[2017-02-24 23:53] sliddington commented on #2053
Yes, the workaround seems to have done the trick.
I'll keep an eye out for the fix.
Thanks!

[2017-02-25 03:19] CharliePoole commented on #2043
Fixed by #2046

[2017-02-25 03:19] #2043 closed

[2017-02-25 15:05] ChrisMaddock commented on #2054
I'm going to close this issue as nothing-to-fix, thanks for the feedback @gabornemeth. 😄

[2017-02-25 15:05] #2054 closed

[2017-02-25 20:53] CharliePoole commented on #2035
@yaakov-h Could you try one of the framework packages here?

https://ci.appveyor.com/project/CharliePoole/nunit/build/3.7.0-ci-03706-pr-2055/artifacts

I'm hoping this fix will end up solving your problem.

[2017-02-26 01:03] #2050 closed

[2017-02-26 22:59] yaakov-h commented on #2035
I replaced nunit-framework.dll with the net45 from the zip file there, and this does solve the issue.

I'm now getting the failing assertion rather than the null reference exception when on the same thread as the engine.

[2017-02-27 03:33] CharliePoole commented on #2035
Great! I'm marking this as closed with PR #2055

Anyone with the same problem can use our myget feed to download build 3.7.0-dev-3707 or later.

[2017-02-27 03:33] #2035 closed

[2017-02-27 03:36] yaakov-h commented on #2035
@CharliePoole Is there a rough timeframe for a 3.7 final release?

[2017-02-27 03:46] CharliePoole commented on #2035
The milestone indicates March 10 ( https://github.com/nunit/nunit/milestones ) but since we just did 3.6.1 we'll probably hold off a few more weeks to get some other things fixed. In particular, there are about three other bugs that relate to PR 2055, but which may not be entirely fixed by it.

[2017-02-27 08:37] GCichosz commented on #2052
Can I grab this?

[2017-02-27 08:42] CharliePoole commented on #2052
All yours :smile:

[2017-02-27 16:15] mateusz-dobrowolny commented on #815
Please add this example to the documentation:
   [TestCase("03 03/2016", Ignore="PRX-1000")]
https://github.com/nunit/docs/wiki/Ignore-Attribute

It is hard to search here for the solution, and the usage is far from obvious... :)
Thanks!

[2017-02-27 16:45] CharliePoole commented on #815
Moving this to the documentation repository.

I think we need to figure something out here, but putting an example like yours on the IgnoreAttribute page seems strange, since it's not an example of the IgnoreAttribute, but of the Ignore property of TestCaseAttribute. Perhaps what we need is a section that explains how IgnoreAttribute actually works when used with a TestCase.

[2017-02-27 16:46] CharliePoole commented on #815
Issue moved to [nunit/docs #172](https://github.com/nunit/docs/issues/172) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-27 16:53] #2045 closed

[2017-02-27 19:58] CharliePoole commented on #2025
I think this was fixed along with #2035 and #2050. Can you retest using one of the builds pointed to from those issues?

[2017-02-27 20:06] CharliePoole commented on #1965
@Suremaker I believe this is now fixed in master. Can you try one of our myget builds, NUnit 3.7.0-dev-03707 or greater?

[2017-02-27 20:08] CharliePoole commented on #1952
@jhickson I think this is now fixed in master. Can you try one of our myget builds >= 3.7.0-dev-03707 ?

[2017-02-27 20:32] CharliePoole commented on #2040
@carlin-q-scott Although the discussion ended up ranging a bit wider, the original problem of the try / catch not working was the primary fix in the 3.6.1 release. I'm closing this, but if you find that there is still a problem, we can re-open it.

[2017-02-27 20:32] #2040 closed

[2017-02-27 21:12] oznetmaster opened #2061 "TestContext.WorkDirectory not initialized during build process"
[code]

This test appears to fail if the WorkDirectory is not the same as the CurrentDirectory.

The new code in TestContext:

[code]

returns the CurrentDirectory during the build phase since there is no TestExecutionContext (null) at the time that the TestCaseSource is processed/created.

[2017-02-27 21:22] Suremaker commented on #1965
@CharliePoole I have rerun my tests with NUnit 3.7.0-dev-03707 and they passed now (while previously they were failing with NUnit 3.6.0).

I am looking forward to seeing official version of NUnit 3.7.
Thanks!

[2017-02-27 21:30] oznetmaster commented on #2061
This was a breaking change that resulted from PR #2055.

[2017-02-27 21:58] CharliePoole commented on #1965
Good to hear! We expect to put out 3.7 toward the end of March.

[2017-02-27 21:58] #1965 closed

[2017-02-27 22:17] #2052 closed

[2017-02-27 22:20] oznetmaster commented on #2061
It probably need a test for this situation as well.

[2017-02-28 02:40] oznetmaster commented on #2061
I have been exploring how to fix this.  It seems like one easy possibility would be to create a dummy TestExecutionContext before the build phase so that all of the "static" values like WorkDirectory would be properly available.

[2017-02-28 09:55] MarcusGast commented on #2025
Recreated the issue again in v3.6.0 and then retested in v3.6.1 of the NUnit framework with the same code and it is now working as expected. Thanks for the assistance Charlie.

[2017-02-28 09:55] #2025 closed

[2017-02-28 10:07] jhickson commented on #1952
@CharliePoole That's looking good now. Many thanks.

[2017-02-28 11:32] #1952 closed

[2017-02-28 11:53] estrizhok opened #2062 "TestCaseSource attribute causes test to pass when source is not defined"
Steps to reproduce:
1. Create a new project,
2. Reference nunit.framework.dll version 3.6.1
3. Paste the following snippet as a class into the project:
4. Compile project and run the tests using nunit3-console.exe

[code]

Observed result:
1. Test Count: 0, Passed: 0, Failed: 0, Warnings: 0, Inconclusive: 0, Skipped: 0
2. TestResult.xml contains node <test-suite name="Test" result="Passed" /> with

[2017-02-28 21:24] oznetmaster commented on #2061
The same problem exists for TestContext.CurrentContext.TestDirectory

[2017-02-28 21:54] CharliePoole commented on #2061
The TestDirectory is fixed for each assembly.

[2017-03-01 02:23] sliddington commented on #2053
Is there a way to specify --agents=1 programmatically or tell the VS test adapter to use this setting?

[2017-03-01 04:50] mahasak commented on #1932
Hi,
I want to help contribute to NUnit, Can i start by pick this one ?

[2017-03-01 05:45] CharliePoole commented on #1932
You're welcome to do a PR for it.

[2017-03-01 09:12] ChrisMaddock commented on #2053
Yes - the VS adapter shouldn't have this problem, it runs tests in-process, i.e. with no agents. So there's no need to override.

[2017-03-01 09:35] victory4vivek opened #2063 "NUnit 3.6.1 not working with .NET Framework 4.5.2"
Latest version of **NUnit is 3.6.1**. And Microsoft **Visual Studio 2015 uses .NET Framework 4.5.2**. I wrote my first Nunit Test and it failed to run. I had to degrade (switch to a lower version) to .NET Framework 4.5 and it started working. But we do not intend to. Is there a way to use latest .NET Frameworks and write NUnit tests as well

- [ ] Next we are planning to shift to Microsoft Visual

[2017-03-01 12:17] CharliePoole commented on #2063
NUnit works fine with both VS2015 and. 2017. Please give us a description of the particular problem you ran into so we can help you.

[2017-03-01 13:20] victory4vivek commented on #2063
@CharliePoole its throwing a **targeting a higher framework** warning. Exact warning are

![nunit target framework higher error](https://cloud.githubusercontent.com/assets/7643221/23461388/bf5c7230-feaf-11e6-8d40-fb7a67f80613.jpg)

I have written a very basic Assert.AreEqual(expected, actual);

[2017-03-01 13:24] victory4vivek commented on #2063
@CharliePoole pls refer this image. Above image has extra unwanted data

![nunit target framework higher error 2](https://cloud.githubusercontent.com/assets/7643221/23461562/6eb57510-feb0-11e6-977e-533887037b8d.jpg)

[2017-03-01 13:43] appel1 commented on #2063
This has nothing to do with NUnit. The warning is because FirstConsoleTestApplication1 targets 4.6.1 and FirstNUnit.Test1 targets 4.5. You can't reference an assembly targeting a newer framework version. So either change FirstConsoleTestApplication1  to target 4.5 or change FirstNUnit.Test1 to target 4.6.1 depending on your requirements.

[2017-03-01 14:44] victory4vivek commented on #2063
Thanks @charliepoole and @appel1

Both of you are correct. Got resolved. Thanks a ton.

[2017-03-01 14:44] #2063 closed

[2017-03-01 16:09] GCichosz commented on #1851
Can I grab this issue?

[2017-03-01 16:18] provegard commented on #2052
Thanks for the fix! Will there be a hotfix release including this?

[2017-03-01 17:50] vpolisetti opened #2064 "How to execute nunit test as part of visual studio build"
I have one project and added new unitTest project in VS 2015, Am able to debug or execute individual test cases using nunit3 adapter.

When I build Visual studio how to execute Unit Test project and if any test case fails build should fail.
How to trigger Nunit project with visual studio 2015 build.

send me options , Is there any simple properties change required

Thanks,
Gopi

[2017-03-01 17:52] vpolisetti opened #2065 "Is Nunit test project configurable to Jenkins"
Is Nunit test project configurable to Jenkins?
Can you send me the steps to do this.

If any test case fails then we need to show project build failed in jenkins

[2017-03-01 20:21] CharliePoole commented on #2065
Since we don't use Jenkins in developing NUnit, I'm going to send you elsewhere for this question. 😞

Try googling "using nunit with jenkins"

[2017-03-01 20:21] #2065 closed

[2017-03-01 20:27] CharliePoole commented on #2064
The simplest way is to click the "Run Tests After Build" button at the top of the test explorer window.

See http://dailydotnettips.com/2015/06/12/run-tests-after-build-automatically-running-unit-test-after-build-success-in-visual-studio/ which was one of the first items that came up when I googled.

[2017-03-01 20:27] #2064 closed

[2017-03-01 20:50] CharliePoole commented on #1851
@GCichosz I assigned it to you.

It's a tricky issue. I suggest first ensuring we have sufficient tests to cover all the cases that may arise.

Basically, this problem comes up with all array types. In this case, with a byte array being passed...

 * If the method requires a byte[], that should be used as the argument to the (single) test case.
 * If the method requires a __single__ argument of ty

[2017-03-02 07:02] vpolisetti commented on #2064
In "TestExplorer" we dont have option "Run Tests After Build" that is the reason am asking.

[2017-03-02 11:13] NicholasBorod opened #2067 "Test method has non-void return type, but no result is expected / Wrong number of arguments provided"
Hi Folks,
Have a big problem with running nunit-console on mono (debian server) tests were written on VS 2015.
On Windows, VS runs perfectly without any problem
NUnit 2.6.4
NUnitTestAdapter.WithFramework 2.0.0
MONO 4.0.0
Code Example below:

TestData code:

Test code:

In this case, i receive "Test method has non-void return type, but no result is expected"

If I make Search Method void:   "Wrong

[2017-03-02 12:48] CharliePoole commented on #2067
Have you installed NUnit 2.6.4 on Debian are you using what comes in the distro? Please include output from console runner.

[2017-03-02 14:33] NicholasBorod commented on #2067
It looks like i've resolved this. Mono nunit-console 2.6.3 does not respect NUnit 2.6.4 in project dependency what is natural ... Thanks!

[2017-03-02 15:43] #2067 closed

[2017-03-02 16:08] asrafiq commented on #1670
I hope nobody has forgotten about this. The would be a very helpful feature.

[2017-03-02 17:06] CharliePoole commented on #1670
I think the prior comments resolved all the design issues, so I'm taking off the design label and adding the implementation issue to Backlog.

It's not so much that we have forgotten this as that we have a large number of things going on. As I mentioned in an earlier comment, normal priority items like this one are not scheduled as part of our release planning. It's up to some team member or outsi

[2017-03-02 21:45] rprouse commented on #2064
The "Run Tests After Build" is a Visual Studio feature that was removed in Visual Studio 2015 if I remember correctly. I used it when it was first introduced, but it was very buggy and kept locking my test assemblies. Maybe that is why it was removed.

The commercial products Resharper or NCrunch may do this, but I am not sure (pretty sure NCrunch does).

[2017-03-02 22:44] jnm2 commented on #2064
NCrunch is the best. Visual Studio and ReSharper are starting to add live unit testing so we'll see how that goes.

To fail our builds in CI, we use Cake build scripts.

[2017-03-02 22:47] CharliePoole commented on #2064
My mistake... I was looking at some older docs.

[2017-03-03 07:37] jogibear9988 opened #2069 "Error with Is Equal To on Mono"
I've the following Test:

		public struct TestPoint : IEquatable<TestPoint>
		{
			public double X { get; set; }
			public double Y { get; set; }

			public TestPoint(double x, double y)
				: this()
			{
				X = x;
				Y = y;
			}

			public bool Equals(TestPoint other)
			{
				return X == other.X && Y == other.Y;
			}

			public override bool Equals(object obj)
			{
				return obj is TestPoint

[2017-03-03 07:46] CharliePoole commented on #2069
What exception is thrown?

[2017-03-03 07:57] jogibear9988 commented on #2069
No Exception, the Tests fails, because the Assert thinks they are not equal. On Windows it works!

[2017-03-03 07:59] jogibear9988 commented on #2069
Should I put my Code in a Unit Test, so we see if it fails on Travis, but works on Appveyor?

[2017-03-03 08:07] CharliePoole commented on #2069
That would be helpful as my Linux box is offline. The various console writes aren't needed.

[2017-03-03 08:15] jogibear9988 commented on #2069
https://github.com/nunit/nunit/pull/2070

[2017-03-03 08:22] jogibear9988 commented on #2069
One more Info, we use NUnit 3.2.1.

[2017-03-03 08:33] jogibear9988 commented on #2069
mhmm... seems to work on your travis. I check to update my nuget version

[2017-03-03 08:35] jogibear9988 commented on #2069
I don't see, was my test started on your Travis machine?

[2017-03-03 09:02] jogibear9988 commented on #2069
Also with NUnit 3.6.1 it fails on our Travis machine.

We use NetCore, maybe that has anything todo with the issue?

[2017-03-03 14:20] vpolisetti opened #2071 "Object comparison errors(Expected and actual are both)"
Am getting below exception eventhough both the objects has same values.

{"  Expected and actual are both <ClassA>\r\n  Values differ at index [1]\r\n  Expected: <>\r\n  But was:  <>\r\n"}

  ClassA test = GetMatch(cleanedCellText, true);
   ClassA test1 =GetMatch(cleanedCellText, true);
 Assert.AreEqual(test1, test );  // Exception
 Assert.AreEqual(test, test );  return true

[2017-03-03 19:06] rprouse commented on #2071
I am assuming that you have not overridden `Equals` in your `ClassA` or implemented `IEquatable<ClassA>`? If you don't do that, they NUnit just does a reference equals (basically, we default to `Object.Equals()`.

A quick way to tell if you have done it right is to try `Assert.IsTrue(test1.Equals(test));`

I am going to close this issue. If I am incorrect in my assumptions, let me know and we can

[2017-03-03 19:06] #2071 closed

[2017-03-03 20:18] CharliePoole commented on #2069
It's working fine on all the platforms we build for, including .NET Standard 1.6.

We don't test specifically under .NET Core. What runner are you using to run your tests and what build of the framework are you referencing?

[2017-03-03 20:56] jogibear9988 commented on #2069
Nunit Net Core Runner 3.4.0

[2017-03-03 21:26] rprouse commented on #2069
@jogibear9988 there are a few differences in the way that we find `IEquatable` interfaces in .NET Core and PCL because of remoting differences, but we have many `IEquatable` unit tests that run on both Linux and Windows. I don't think the runner itself will make a difference because it is the `NUnitEqualityComparer` in the framework that finds and executes the `IEquatable.Equals` method.

The diff

[2017-03-03 21:33] CharliePoole commented on #2069
So would this be our .NET standard build of the framework?

[2017-03-03 21:36] jogibear9988 commented on #2069
You have my Code, this one is failing on our TravisCi System.

You also see, the comparison fails when the result are boxed structs and compared via ==

[2017-03-03 21:36] rprouse commented on #2069
It was first reported with 3.2.1, so that would be our portable build.

One difference might be running our PCL or .NET Standard under the CoreCLR vs the full CLR or Mono. Reflection might behave differently.

[2017-03-03 22:41] jogibear9988 commented on #2069
can i help out more? we build this branch https://github.com/jogibear9988/linq2db/tree/linux

our travis config https://github.com/jogibear9988/linq2db/blob/linux/.travis.yml

build.sh https://github.com/jogibear9988/linq2db/blob/linux/build.sh

[2017-03-03 23:15] CharliePoole commented on #2069
@rprouse Can we add something to our CI script to test under .NET Core?

On Fri, Mar 3, 2017 at 2:41 PM, Jochen Kühner <notifications@github.com>
wrote:

[2017-03-05 15:27] jogibear9988 commented on #2069
Is there anything I can do now? (I won't like to add a workaround in our unit tests)

[2017-03-07 10:25] Sebazzz commented on #652
I would like this as well. It is currently not possible for a test class SetUp to have a dependency on the attribute.

[2017-03-07 14:51] IngoVals commented on #2062
This also happens if source exists but is empty. I think at least the test should be *inconclusive*.

[2017-03-07 18:20] CharliePoole commented on #2062
@IngoVals These are of course two different situations.

If the member referenced can't be found it's an error and the test is invalid.

If it exists but is empty, no data is provided so the test can't be run. It's a question of design whether this should pass or be inconclusive. It definitely can't be an error, since there are situations where people deliberately create sources that sometimes do

[2017-03-08 00:08] jnm2 commented on #2062
Re: pass or inconclusive, think of this situation. I have integration tests going against a database. It might be a database full of data, or it might be a newly created, empty database. I have tests such as `Report_does_not_have_invalid_filter(string reportName)` and a test case source generating a case for every report in the database.

For a brand new database, there are no reports set up yet,

[2017-03-08 00:14] CharliePoole commented on #2062
@jnm2 That's a convincing use case. Of course, folks who want it to work differently can probably come up with counter-cases. 😄 But basically, I'd have to say this is one of those things decided long ago, which can't really be changed without breaking compatibility significantly.

[2017-03-08 00:24] jnm2 commented on #2062
@CharliePoole I'd say that just like you'd have to go out of your way to get an inconclusive result without TestCaseSource:

[code]

You should also have to go out of your way to implement this semantic with TestCaseSource- *if* someone does come along and need it:

[code]

Or be able to `Assert.Inconclusive` in the implementation of the TestCaseSource.

[2017-03-08 00:46] CharliePoole commented on #2062
@jnm2 I wouldn't try to decide any of those things now but wait till they come up. However, my preference would be to keep things simple in terms of what we deliver. Users can easily implement those attributes you suggest if they want them badly enough. We have an incredible backlog of stuff we actually __need__, so I hope we can concentrate on that. 😄

I should clarify one thing I wrote. If you p

[2017-03-08 01:28] jnm2 commented on #2062
@CharliePoole That is what I meant by "_if_ someone does come along and need it." 😄

[2017-03-08 03:07] rprouse commented on #2061
Fixed by #2072

[2017-03-08 03:07] #2061 closed

[2017-03-08 13:25] tanjalaura commented on #1670
great feature! would be much appreciated. hopefully someone implements this soon 😄

[2017-03-08 17:23] CharliePoole commented on #652
@Sebazz This has been sitting for a long time, so I'll try to kick off the design discussion I had hoped we would have. The sequence proposed by @47th in the description of this issue is what I had thought we should do originally - we just never implemented it. However, at this point, I think I would propose a simpler approach, as follows:

[code]

And:

[code]

Because it only requires making a d

[2017-03-09 09:29] wilhen01 commented on #1657
I've just run into this myself. Making everything public is an easy workaround but it'd be nice to have this fixed going forward

[2017-03-09 15:08] rprouse opened #2073 "Convert .NET Standard Projects to VS2017"
VS2017 was released this week along with the updated .NET Core tooling which switches from the project.json format to CSPROJ. We will need to update the .NET Standard projects to the new format soon because I am pretty sure installing the new tooling will make the old tooling inoperable, so any developer who installs .NET Core with VS2017 will no longer be able to build.

Before we make the change

[2017-03-09 16:05] hknielsen opened #2074 "Mono AOT and constraints inheriting IConstraint.ApplyTo<TActual> gives errors"
So when working with platforms that only support AOT, we ran into problems using nunit, because of virtual generic methods. Almost all Assert's use this Constraint hierarchy.

We fixed it on our local fork of nunit. Without a big redesign, the only fix was to change  IConstraint.ApplyTo<TActual> to IConstraint.ApplyTo(object), and boxed the value when applying the test.

Dont know if you guys woul

[2017-03-09 17:17] CharliePoole commented on #2074
I'm only generally familiar with AOT but I thought it was just an option, one you could avoid using for test assemblies. However, your phrase "platforms that only support AOT" suggests I may be missing something!

Can you explain that for me? What platforms support mono but not JIT?

[2017-03-09 17:29] CharliePoole commented on #2073
Does this imply that folks with only VS2015 will no longer be able to contribute? If so, that sucks! We only just decided to require VS2015 rather than 2012 or 2013.

There are many (generally non-technical) reasons that some developers have to keep working with an older compiler. Often, the decision is out of their control Historically, we have been welcoming to those developers if they wanted to

[2017-03-09 17:39] hknielsen commented on #2074
Most platforms support mono, when using AOT.

http://www.mono-project.com/docs/advanced/aot/#known-limitations
If you depend on the full AOT option because of OS limitations, you should make sure to test your software using the “–full-aot” option to ensure that no dynamic code is used by your application.

I actually dont know the precise platforms, but if you want/need a list I could provide one,

[2017-03-09 18:37] CharliePoole commented on #2074
It's enough to just explain your own use case. Why do you use AOT? What platform do you develop on? What platform do you need to test on that doesnt support JIT?

We've had AOT in Mono for a long time, but it always seemed like something that didn't affect me (or NUnit) in the past so I didn't pay much attention. Also, your issue has never come up before, so I'm wondering what exactly you are doin

[2017-03-09 19:23] rprouse commented on #2073
I just tested on VS2015 and 2017 and we are okay for now. We are using a hybrid CSPROJ/project.json format that works in both versions of Visual Studio. When they stated that the project.json would be automatically updated and no longer supported, I thought that would apply to our approach too. Luckily it doesn't. I am going to close this for now since I don't think we need to do this.

[2017-03-09 19:23] #2073 closed

[2017-03-09 19:43] CharliePoole commented on #2073
Fantastic!

[2017-03-09 20:20] prasha6 opened #2075 "CollectionAssert.AreEqual in Nunit3.0"
Hello,

I see that CollectionAssert.AreEqual is deprecated after Nunit2.5.
How do I compare two lists using a user defined "Icomparer" for equality, in Nunit3.0 ?
Any help is appreciated. Thanks..

[2017-03-09 23:53] JustinRChou commented on #2075
If I remember correctly,

`Assert.That(list1, Is.Equal.To(list2));`

The docs have this covered.
https://github.com/nunit/docs/wiki/CollectionEquivalentConstraint

[2017-03-10 00:02] #2075 closed

[2017-03-10 09:27] hknielsen commented on #2074
So the platforms we run mono AOT, and are technical requerement to be full AOT compilation: iOS and most consoles. We also run mono AOT on other platforms, but that is mostly for performance.
Dont know if anybody ran nunit on these platforms? We haven't at least. What we did before was to use the nunit runner on the host machine. Now we actually want the full nunit runtime to get executed on the t

[2017-03-10 14:08] llaskin opened #2076 "Agents and workers not being respected"
I have a specflow project which I run using the NUnit3 console runner.  I set --workers=5 and --agents=5 in the command line as well, and have the Parallelizable(ParaallelScopeFixtures) value set in my AssemblyInfo file.  However, when I run this, it spins up more then 5 simultaneous threads.

[2017-03-10 15:53] CharliePoole commented on #2076
First, let's deal with --agents. That setting controls how many different processes are run simultaneously if you are running multiple test assemblies in parallel. It doesn't relate to the number of worker threads used to run tests in each assembly and had no effect if there is only one assembly.

The --workers option controls the number of test worker threads created by nunit. What are you seeing

[2017-03-10 15:54] llaskin commented on #2076
I am testing Selenium based tests, and seeing mor ethen the number of workers(or agents) spun up at the same time.  I am expecting a max of 5 simultaneous browsers to spin up.

[2017-03-10 16:06] CharliePoole commented on #2076
First, please decide if it's workers (threads) or agents (processes) that concern you. I'm guessing it's threads but I can't see your code and the resolution would be entirely different for these two different problems.

In either case, we still have to understand your problem. But my next questions will be different depending on which it is.

[2017-03-10 16:07] llaskin commented on #2076
Most likely threads, not processes.  I tried them each separately and then tried combining them.

[2017-03-10 16:11] CharliePoole commented on #2076
Well do you have multiple test assemblies you are running simultaneously?

[2017-03-10 16:13] CharliePoole commented on #2076
How do you start up each browser, I.e. where in your test code? Where do you dispose of it?

[2017-03-10 16:19] llaskin commented on #2076
1 test assembly, with multiple fixtures(hence the parallelizable scope)
I start the browser up in the [BeforeScenario] section and end the browser in the [AfterScenario]

[2017-03-10 17:20] CharliePoole commented on #2076
All right... then it's workers. I can give you a guess as to what is happening and it would be great to get some input from the SpecFlow folks to confirm it.

[Unfortunately (for you) none of us actually use SpecFlow. Like most Open Source devs, we believe in "eating our own dog-food" so we stick with using straight NUnit to test NUnit. It would be great to have more interaction with third-party r

[2017-03-10 17:22] CharliePoole commented on #2076
@nunit/core-team We have had a number of issues around SpecFlow. I think I'll use this one to try to understand better how they make use of NUnit so we can give better answers than I'm giving @llaskin !

[2017-03-10 17:58] CharliePoole commented on #2076
Hmmm... The SpecFlow docs say "SpecFlow generates a unit test class for the feature element, with the class name derived from the name of the feature" and "SpecFlow generates a unit test method for each scenario, with the method name derived from the name of the scenario."

Assuming those docs still are accurate, my guess above is wrong. 😞

So, it looks as if [BeforeScenario] would initialize a ne

[2017-03-10 17:59] llaskin commented on #2076
for each test.

[2017-03-10 18:04] CharliePoole commented on #2076
In that case, I can't see why it is not working. Are you sure your [AfterScenario] is actually shutting down the browser?

Beyond that question, I would need to have some code to help you further.

[2017-03-10 18:05] llaskin commented on #2076
I'll work on getting you a working snippet.

[2017-03-10 20:43] CharliePoole commented on #2074
That sounds better. We probably need to know if this is considered a bug in mono, which they may fix at some point.

[2017-03-12 09:20] dmitriyse opened #2077 "Add support for NUnit vs .Net Core projects in VS 2017."
Currently NUnit test adapter works only with .Net Framework 4.0+ projects in VS 2017.
Please add full support for .Net core projects under VS 2017.
xUnit works with .net Core under VS 2017 RC (+ with R#) more than half of a year.
Please do not force our team to switch to xUnit. We will never back again.
P.S. Probably this is duplicate issue.

[2017-03-12 09:24] dmitriyse commented on #2077
NUnit is the last brick in a puzzle. It's block us from migrating to VS 2017 and C# 7.0.

[2017-03-12 10:18] CharliePoole commented on #2077
We recognize this as a very important issue. It's being tracked by several issues already, in the nunit3-vs-adapter repository. The framework support (this repo) is already there.

[2017-03-12 10:52] dmitriyse commented on #2077
Thank you. Glad to hear that NUnit team aware of this problem.
Does nunit3-vs-adapter project have some working developer build ?

[2017-03-12 12:48] rprouse commented on #2077
We don't have a working developer build yet. First we need a .NET Standard version of our engine which I am working on now. Once that is done, we just need to plug it into the adapter.

To hold you over, you could temporarily make your unit tests self executing with NUnitLite.

[2017-03-12 13:27] dmitriyse commented on #2077
Unfortunately this solution does not fit to our development workflow. We are hardly depends on ability to run tests solely with debug.

[2017-03-12 13:31] dmitriyse commented on #2077
VS 2015 + toolset  satisfy us. So we can wait NUnit adoption to VS 2017/Net Standard. But than later we will start migration than more code is to be reworked.

[2017-03-12 18:04] JustinRChou commented on #2077
@dmitriyse
How is that migration process?
From what I have looked up, it does seem that you have to recreate the whole project in VS2017 as it doesn't seem to do a project conversion for you?

[2017-03-12 18:10] dmitriyse commented on #2077
project.json -> *.csproj (2017) is only one of multiple migration activities.
2) Second for us is replacing Task to ValueTask in most part of places
** Other things, that cannot be predicted right now **

[2017-03-13 01:12] CharliePoole commented on #652
Still looking for comments on my alternate proposal.

I have some of this working already and we could do an interim release of it to see how it works, but I'd still like the feedback!

[2017-03-13 09:29] Octoate opened #2078 "NUnit 3 console runner ignores [Explicit] attribute for NUnit2 tests"
Hi,
I am currently working on an upgrade of our build server system and try to use NUnit 3 console runner with TeamCity. Because we have a lot of assemblies, which are still compiled against the NUnit 2.6.4, I installed the NUnit 3 console runner incl. extension as a NuGet package in the latest version (3.6.1) and it works fine besides that it also runs tests, where the [TestFixture] is also marke

[2017-03-13 10:30] ChrisMaddock commented on #652
As an API - I think I prefer the consistency of @47th's original proposal - however, say that with no view of the technical complications of either implementation! This is fairly niche functionality, so there's definitely value in going with the option which involves the least work, if that satisfies the requirements.

My only concern with that, would be that any changes in behaviour here will lik

[2017-03-13 12:17] rprouse commented on #2078
Do any of your Explicit tests have the Nightly or Hardware category? If so, then you are explicitly telling them to run with your Where clause. If not, are tests other than your Nightly/Hardware tests running? It would be odd that your Explicit ones are, but no others.

[2017-03-13 13:22] hknielsen commented on #2074
@CharliePoole How do I test nunit properly. Seems like I have errors already from the beginning on the master branch.

[2017-03-13 13:41] ChrisMaddock commented on #2074
@hknielsen - How are you currently trying to run the tests?

Using the NUnit adapter doesn't work, I believe. We use a Cake script to run build/tests. You should just be able to do `./build -t Test` in the root directory. See [BUIDING.md](https://github.com/nunit/nunit/blob/master/BUILDING.md) for more details.

[2017-03-13 13:44] CharliePoole commented on #2074
Like Chris says plus use the nunit_Linux solution on Linux.

[2017-03-13 13:59] bartoszkp opened #2079 "Make TestMethod.Arguments public or otherwise accessible (e.g. TestContext)"
NUnit 3.6.1 (from NuGet)

I need a property in test's base class that returns a different value depending on test method's parameters (details in this SO question: http://stackoverflow.com/questions/42763574/how-to-get-current-parameter-value-from-testcontext - I don't feel they are strictly relevant here though).

I've created a `ITestAction` attribute and in the `BeforeTest` call I have access t

[2017-03-13 14:23] Octoate commented on #2078
No, but they should be excluded, shouldn't they (xx != yy)? However, I have some tests in other categories that are set to "explicit". Will the categories "overwrite" the explicit setting?

[2017-03-13 14:45] hknielsen commented on #2074
@ChrisMaddock - we have our own fork of nunit and there we used an older version. Havent tried to run the tests on that though.
When building with `./build -t Test` - I get lots of error with ""

[2017-03-13 14:45] hknielsen commented on #2074
Wups, not what I wanted

[2017-03-13 15:25] ChrisMaddock commented on #2074
Can you copy and paste the errors you're seeing? 🙂

[2017-03-13 15:29] hknielsen commented on #2074
Yes thx :) Lot's of errors so only took a snippet:
irectoryAssert.cs(46,10): error CS0246: The type or namespace name 'EditorBrowsable' could not be found (are you missing a using directive or an assembly reference?) [C:\code\unity\TrueNunit\nunit\src\NUnitFr amework\framework\nunit.framework-netstandard.csproj]
DirectoryAssert.cs(46,26): error CS0518: Predefined type 'System.Object' is not define

[2017-03-13 15:29] hknielsen commented on #2074
On another note, do NUnit support netstandard 2.0?

[2017-03-13 15:38] ChrisMaddock commented on #2074
That's odd. The .NET standard build should check if the dependencies are installed, and skip the build if not. @rprouse - any ideas?

For now, you may be best just to skip the .NET standard build, which you can do by commenting out lines 621 and 632 of the `build.cake` file. e.g.

[code]

Yes, we have a netstandard 1.6 build.  👍

[2017-03-13 15:38] CharliePoole commented on #2079
Unfortunately, the only "clients" for whom we intended TestMethod are other components in the framework - hence the use of internal. If we thought the arguments were generally needed, we would probably add them to the ITest interface. Alternatively (or additionally) we could add the arguments to the `TestContext.CurrentContext.CurrentTest`.

The ITest interface is intended for use by extenders. Te

[2017-03-13 16:07] CharliePoole commented on #2074
@ChrisMaddock I guess you meant "__No__, we have a netstandard 1.6 build." :smile:

[2017-03-13 16:09] CharliePoole commented on #2074
@hknielsen Tell us about your platform.

[2017-03-13 16:18] hknielsen commented on #2074
@ChrisMaddock @CharliePoole well 2.0 is a superset of 1.6,so it should work AFAIK.
WIN10, recently installed vs17 if that could have any influence on the version you are targeting?

[2017-03-13 16:48] bartoszkp commented on #2079
Thank you for your prompt answer. Extending the `TestContext` class as you explain would be great!

First of all, as a side note, the Given/When/Then syntax are ordinary C# methods designed in such a way, to make the tests readable - no special framework was used for this, just some "fluent magic".

Back to the point:

Unfortunately I doubt that the use case will convince you - the explanation wil

[2017-03-13 17:53] rprouse commented on #2078
@Octoate sorry, your answer isn't quite clear, so I will explain how explicit works in NUnit 3.

When you mark a test as Explicit, it will only be run when you explicitly include it using a Where clause. That where clause can include explicit tests by name, namespace or category. I believe that also includes categories on the parents.

So, if any of your Explicit tests have a category of Nightly o

[2017-03-13 18:04] CharliePoole commented on #2078
Explicit tests are only supposed to run when explicitly selected by a positive filter specifying either the name or the category. There was a bug reported in NUnit V2 related to this, but the user never provided an example and we closed it before releasing NUnit 2.6.4.

It's possible that __excluded__ categories are triggering execution of explicit tests, which they should not. I say it's possible

[2017-03-13 18:08] rprouse commented on #2078
I missed that the category filter was a `!=`, I read it as `==`, so take that into account when reading my answers 🤕

[2017-03-13 18:46] sanjitmisra commented on #1207
I ran into the same issue. I have 2 test projects in the same solution and the solution is built on TeamCity. All tests were running fine till I decided to point the output of the different projects into a common location for easier artifact management. After this, one of the test dlls started throwing errors with NUnit console runner complaining that the dll "Has no TestFixtures". Many hours of h

[2017-03-13 19:04] CharliePoole commented on #1207
Just a comment ... you __can__ have projects that use different versions of NUnit in the same project. We do something like that with our own NUnit tests, except rather than different versions we have six different build targets.

What you can't have is two different `nunit.framework.dll`s in the same directory - obviously. So to have multiple frameworks, you need to use separate output directorie

[2017-03-13 19:10] somatronicon opened #2080 "Allow comments in @FILE files"
In the @FILE files, allow comments. These files could get pretty complex, and having the ability to add comments would be beneficial. Maybe if a line starts with # it's interpreted as a comment? Not sure, just throwing out ideas.

[code]

Great project by the way :+1:

[2017-03-13 19:37] Octoate commented on #2078
Thanks for the explanation. I've tried to set up two small example projects to reproduce the problem by writing some tests mixing categories and explicit attributes, but everything works as expected. I am not sure if a positive filter is set (but I guess so), so I will check this when I am at work tomorrow.

[2017-03-13 22:07] CharliePoole commented on #2079
OK, just to be sure I understand, let me restate this with drastic over-simplification:

1. The argument is available to the test method in the derived test class.
2. You would like  to have it available to other methods, without those methods taking an argument. The methods in question happen to be in a base class, but even if they were not the same issues arise.
3. You would also like to avoid h

[2017-03-13 22:21] bartoszkp commented on #2079
Yes, that's about right. Sorry, I've edited the title before I saw your response - of course feel free to change it as you see fit.

Your idea with the constructor is clever, however it won't work because of other circumstances in my scenario - 1) Minor inconvenience: TestCaseSource cannot be applied to fixture, so I'd have to enumerate all granularities above all fixtures 2) Major inconvenience:

[2017-03-13 23:57] JustinRChou commented on #2080
@CharliePoole
Is this really a easy fix and wouldn't this involve updating the console runner and the lite runner?

[2017-03-14 01:34] CharliePoole commented on #2080
I was thinking of this as a console issue but you're right that it applies to NUnitLite as well.

In the console, it's extremely easy to just ignore a full line starting with # - looks like a change of one line. Doing more is possible, but difficult since the individual line can contain # (or any other characters) in quotes. The format was designed to be simple and we probably shouldn't complicate

[2017-03-14 01:42] CharliePoole commented on #2079
I'll do that. I'm not unwilling to do the other, but I would do it through the ITest interface, which is what we really give you for an ActionAttribute - even though you can always cast it to TestMethod.

I can't help you with your second point, but for the first one see TestFixtureSourceAttribute.

[2017-03-14 01:48] CharliePoole commented on #2074
@hknielsen Yes, a 2.0 can reference us so long as no args passed in to NUnit are unsupported in 1.6.

So, you run mono on windows? FYI, due to the talk of mono, I've been assuming Linux, which is why I suggested you use the linux solution.

[2017-03-14 02:01] CharliePoole commented on #652
@ChrisMaddock On general design principles, I agree with you. As I said, that was my original intention, but it didn't get implemented that way in 3.0, when we felt free to do breaking changes. It currently still works as it did in NUnit V2. So, if we change it, I was hoping to minimize the amount of change.

Just as background... this is an attribute that works differently from other NUnit 3 attr

[2017-03-14 09:37] hknielsen commented on #2074
@CharliePoole hehe yeah I figured :) I just used the normal .sln.
Yes, mono on windows. I work at Unity and we support a wide variate of platform, thus Mono.

So trying to fix this AOT error and with the current dependencies, there is no nice was to do it without breaking everything apart. I was really hoping to upstream some changes that could solve the error. Worst case is to only use our own fo

[2017-03-14 09:40] hknielsen commented on #2074
@ChrisMaddock btw, thx. The commenting of NetStandard solved the issue building.

[2017-03-14 09:50] ChrisMaddock commented on #2074
Great. 🙂 This should happen automatically however... 👎

Are you about to share what output you get for the following commands, running them in the root directory?

`dotnet --version`

`dotnet restore`

[2017-03-14 10:38] hknielsen commented on #2074
Yes no problem
[code]
And for restore:
https://gist.github.com/hknielsen/6c18391c3bfedb3078498fcab535a831

[2017-03-14 11:20] ChrisMaddock commented on #2074
Thanks...although unfortunately can't say I'm any the wiser! Any ideas from @nunit/net-core-runner-team?

[2017-03-14 15:44] somatronicon commented on #2080
Thanks @CharliePoole and @JustinRChou!

[2017-03-14 18:49] llaskin commented on #2076
Charlie,
Can NUnit parallelize on the method level in each feature?  Parallel fixtures are by class, not by method right(currently) so beforeScenario won't work here, for workers to be respected on a per test basis(and lets say we are calling 5 workers), we need to have 5 features/classes and swap out the BeforeScenario tag for a BeforeFeature.  This might be an issue of how specflow converts/hand

[2017-03-14 18:58] CharliePoole commented on #2076
No, we currently only parallelize down to the fixture level. The very old #164, which I am currently working on, deals with per test parallelism.

Most people seem to use parameterized fixtures for browser testing. I'm not sure how - or even if - toucan do that under SpecFlow, but you might try BeforeFeature.

[2017-03-15 11:03] di48l069 opened #2081 ".NetCore"
Good day,

Where can I find nunit.framework on nuget for .netcore application?

[2017-03-15 11:12] rprouse commented on #2081
The NUnit nugget package contains a .NET Standard 1.6 build, just reference NUnit.

Note that if you are using VS 2017 or the new csproj format, our adapter does not run tests for that yet. For now, use NUnitLite to make your tests self executing.

[2017-03-15 11:20] di48l069 commented on #2081
@rprouse Thank you, and thanks for bringing that up I am currently using VS 2017.

Is there any plans for above?

[2017-03-15 14:35] rprouse commented on #2081
We are actively working on supporting .NET Core in VS2017 using the new CSPROJ format. I hope to get it done by mid-April, but no guarantees 😄

I am going to close this as a question. If you have more questions, feel free to add comments to this issue, we will see them.

[2017-03-15 14:35] #2081 closed

[2017-03-15 16:21] siggerzz commented on #1826
Has anyone got any closer to figuring out the cause of this? I'm also experiencing the [same issue](https://github.com/appium/appium-dotnet-driver/issues/173)

I've had this issue for days and I not really sure what to do and who to raise the issue with.

Cheers

[2017-03-15 19:00] LiyueWang opened #2082 "HttpMock.dll(1.3.3) Has no TestFixtures with Nunit3-console.exe"
Hi,

We have a project depends on HttpMock, recently I upgrade the Nunit from 2.6.4 to 3.6.1, HttpMock from 1.1.5 to 1.3.3. As the project is under AppVeyor which will detect HttpMock.dll as a test assembly, then I got this error:

Copyright (C) 2016 Charlie Poole
Runtime Environment
   OS Version: Microsoft Windows NT 6.3.9600.0
  CLR Version: 4.0.30319.42000
Test Files
    C:\projects\d2l-securi

[2017-03-15 19:44] ChrisMaddock commented on #2082
Look at the three dll's listed under "Test Files" - those are the three assemblies being passed to the NUnit runner. As you (or Appveyor!) have passed a dll which contains no tests (HttpMock.dll) - the console alerts you of this, by throwing the error. My guess, is that, by default, Appveyor passes anything which references the nunit.framework assembly to the console runner.

You have several ways

[2017-03-15 19:44] #2082 closed

[2017-03-15 19:59] LiyueWang commented on #2082
@ChrisMaddock  Thanks for your quick response!
Yes, option 1 is ideal. But I am still curious that why nunit3-console with HttpMock 1.2.1 works?

  Overall result: Inconclusive
  Test Count: 0, Passed: 0, Failed: 0, Warnings: 0, Inconclusive: 0, Skipped: 0

I tried option 2 now to skip run HttpMock.dll :)
For option 3, I tried to use `--skipnontestassemblies` with HttpMock 1.3.3 but still the same

[2017-03-15 20:11] CharliePoole commented on #2082
@LiyueWang Are you sure it works with the __same__ version of NUnit3-console? I suspect that the error on non-test assemblies was added at some point because the inconclusive result was confusing people.

If you are relying on AppVeyor to run NUnit automatically, it may be using a different version of the engine and console than what you use locally.

[2017-03-15 20:16] LiyueWang commented on #2082
@CharliePoole
You are right, they are different version of nunit3-console.
I used a local nunit-console-runner 3.6.1 which works fine with httpmock 1.2.1
and the same runner with `--skipnontestassemblies` to process httpmock 1.3.3, which I got the same `Has no TestFixtures` error.

The nunit3-console of AppVeyor is 3.5.0

[2017-03-15 20:27] ChrisMaddock commented on #2082
HttpMock 1.2.1 references NUnit 2.6.4 - I believe this only relates to assemblies which reference NUnit 3.0+.

(Unless you have the NUnit v2 framework driver installed, in which case, I imagine you have the same result?)

Apologies, I was incorrect on `--skipnontestassemblies`. Options 1 & 3 need to be in place together it looks like: the library has to have the NonTestAssemblyAttribute AND the us

[2017-03-15 20:34] ChrisMaddock commented on #2082
Wait, hang on, the logic around `--skipnontestassemblies` has confused me a little. Here's the cases I see, I think:

1. If an assembly DOESN'T reference nunit.framework and NO `--skipnontestassemblies` - then it will be invalid.
2. If an assembly DOESN'T reference nunit.framework and HAS `--skipnontestassemblies` - then it will be skipped.
3. If an assembly DOES reference nunit.framework and NO `

[2017-03-15 20:56] CharliePoole commented on #2082
@ChrisMaddock Take a look at our discussion around this in issue nunit/nunit-console#62 and PR nunit/nunit-console#150. Do we not seem to be doing what we said? Or was what we said wrong?

As a refresher... __if__ HttpMocks references the nunit.framework assembly __and__ it is passed to the runner on the command-line, __then__ the runner is obliged to treat it as a test assembly unless the author

[2017-03-15 21:18] ChrisMaddock commented on #2082
Looks like this bit was decided later on, in the pull request. To clarify, it's the difference between 2 and 5 I find a little odd, I'd expected `--skiptestassemblies` to skip all non-test assemblies, regardless of whether they do or don't reference the framework. Likewise, I'd expected `NonTestAssemblyAttribute` to never be run, regardless of what flags the used on the command line.

I can unders

[2017-03-15 21:28] LiyueWang commented on #2082
@ChrisMaddock  Agree, I'd also prefer the behavior that with `--skiptestassemblies` to skip all non-test assemblies, regardless of whether they do or don't reference the framework. But totally understand and respect your decisions.

I could workaround with the appveyor config file to skip HttpMock for my problem.

Thank you both!

[2017-03-16 01:56] Cstolworthy opened #2083 "TestCaseSource skipping item"
My coworker and I have come across an odd behavior when using TestCaseSource. I have defined a datasource with 3 items in it, however when my test executes it is only ever handed the first and third item. I have attached a project which replicates the issue.

[NunitTestProject.zip](https://github.com/nunit/nunit/files/846433/NunitTestProject.zip)

[2017-03-16 03:19] CharliePoole commented on #2083
What shows up in the test result xml file?

[2017-03-16 10:40] heshamamin commented on #2019
Hi
I'll pick the TestFixtureSourceAttribute issue as it seems simple. I think we should create another issue for TestCaseSourceAttribute.

[2017-03-16 13:43] hknielsen commented on #2074
@CharliePoole a take on the above question?

[2017-03-16 14:24] CharliePoole commented on #2019
@heshamamin Please hold off working on this. See my long comment above when I moved this from backlog to discussion.

@nunit-core-team
As I indicated, I'm dubious about fixing this except wrt the docs. Thoughts?

[2017-03-16 16:00] ChrisMaddock commented on #2019
@heshamamin and @dajuris - do either of you have a use-case which can't be implemented with TestFixtureData instead of the interface?

I haven't looked at the code here - happy to defer to your judgement as to the simplicity benefits @CharliePoole . This would potentially being a substantial breaking change for some users...although if it's been broken since 3.5, perhaps it's not that well used. (

[2017-03-16 16:27] CharliePoole commented on #2019
@ChrisMaddock it can't be a breaking change for fixture data since it has never worked AFAIK.

[2017-03-16 16:32] ChrisMaddock commented on #2019
Oh, sorry! I took from @rprouse's comment earlier it was just a bug that had slipped through code review.

In that case, yes, just changing the docs seems sensible - we can consider it as a feature request, should that come up.

[2017-03-16 17:15] CharliePoole commented on #2019
Yes, I was hoping @rprouse would respond to my initial comment as it contradicts his.

Just so you know , here's the history...

1. Nunit 2 used the interface ITestCaseData, accessing it by reflection of course.

2. With NUnit 3, the test execution code moved into the framework and much of our reflection code became unnecessary. I decided to require use of the class as a basis for test case data.

[2017-03-16 17:16] OlHall commented on #1734
Sorry to resurrect an old thread, but has there been any movement on this?

I'm hitting a similar challenge (same error).  It only occurs when I include a test that gets a reference to a Dicitonary<> object (which is part of a class in the CF assembly).

[2017-03-16 17:32] OlHall commented on #1734
Using the suggestion above, I've worked around the issue by compiling my CF assembly against the x86 mscorlib, so no urgency, but I suspect I'm not doing things the "right" way here.

[2017-03-16 19:39] rprouse commented on #2019
I am fine with just fixing the documentation.

[2017-03-16 20:10] Cstolworthy commented on #2083
I downloaded the GUI runner (https://github.com/nunit/nunit-gui) and everything works just fine in it.
This seems to be an issue when using the runner in VS.  We have verified that the issue is reproducible in both VS 2015 and 2017.

Does VS produce a result xml file?

[2017-03-16 21:31] CharliePoole commented on #2083
The VS adapter doesn't produce an XML file, but since the file is written out directly from what is returned by the framework, we can readily assume that a file from the console runner would produce the same thing. For that matter, the XML visible in the pre-release GUI should show the same thing.

My guess is that VS is choking on the name given to the missing test. The XML will tell us that name

[2017-03-16 21:47] CharliePoole commented on #2019
Added back to the backlog and made it a docs bug. I assigned it to myself, since I caused it in the first place.

[2017-03-16 21:53] CharliePoole commented on #1734
Once we stopped supporting the compact framework, this was kind of forgotten. However, as I understand it, you don't want CF support exactly, just the ability for your SUT to reference it. Your test assembly would still use the desktop. Have I got that right?

[2017-03-16 21:54] CharliePoole commented on #1734
Once we stopped supporting the compact framework, this was kind of forgotten. However, as I understand it, you don't want CF support exactly, just the ability for your SUT to reference it. Your test assembly would still target the desktop. Have I got that right?

[2017-03-16 22:39] OlHall commented on #1734
Exactly

[2017-03-16 23:37] CharliePoole commented on #1734
I'll have to dig out some old code in the next few days to see what's possible.

[2017-03-17 00:30] Cstolworthy commented on #2083
I believe this is the XML you are looking for.

[nunitoutput.zip](https://github.com/nunit/nunit/files/849346/nunitoutput.zip)

[2017-03-17 16:28] CharliePoole commented on #2083
@Cstolworthy Is that the output from the exact code in your earlier? What seems odd is that the argument portion in the name of the test should be a quoted string, as it is for the other two tests. In addition the curly braces are not present. If it's from the same code, then I suspect that the curly braces are causing some problem in how nunit names the test.

Additionally, the XML contains the t

[2017-03-17 17:41] Cstolworthy commented on #2083
Ah, my bad.  This is the correct XML.

[NunitOutput.zip](https://github.com/nunit/nunit/files/851354/NunitOutput.zip)

[2017-03-17 18:48] CharliePoole commented on #2083
That looks better. Also, it indicates that the framework is creating the name as should do, so the problem is either in the adapter or in the VS test window itself. I am still confused about the duplication of the entire fixture, which appears twice in the XML output, with duplicate "unique" identifiers for each test. How did you create this file?

What happens if you remove the curly braces from

[2017-03-17 19:15] #2019 closed

[2017-03-17 20:54] Cstolworthy commented on #2083
To create the file I downloaded and extracted the GUI runner.  I then hit open and pointed it to my DLL, I then selected the dll in the tree window, hit the XML tab in the details window and copied it into the file I sent.

Some additional details we gathered:
Removing the curly braces does not affect the issue.
It seems to be tied to length somehow.  If you pre-pend enough characters it starts ru

[2017-03-19 01:23] oznetmaster opened #2084 "AssemblyConfiguration not visible externally"
Currently, the compiled configuration (Debug/Release) of the NUnit assemblies is defined in CommonAssemblyInfo.cs, and is specified in an AssemblyConfiguration attribute.

The problem is that the value of the AssemblyConfiguration attribute is not visible in file explorer, so it is difficult to determine what configuration a particular NUnit assemlby has been compiled for.

It would seem useful if

[2017-03-19 01:41] ravensorb commented on #51
Out of curiosity -- any chance the Dependency feature is planned for the next release?

[2017-03-19 02:00] CharliePoole commented on #2084
I can see some marginal benefit for anyone who builds NUnit, but not for general users who only have the release build. Perhaps you could display Debug for debug builds, otherwise leave as is.

[2017-03-19 02:07] CharliePoole commented on #51
No plans at the moment. FYI, you can see that here on GitHub by virtue of the fact that it's not assigned to anyone and has no milestone specified.

For normal priority items, like this one, we don't usually pre-plan it for a particular release. We reserve that for high and critical items. This one will only get into a release plan when somebody decides they want to do it, self-assigns it and brin

[2017-03-19 02:27] oznetmaster commented on #2084
That is what the CommonAssemblyInfo does in the AssemblyConfiguration attribute for the Debug build.

All I am suggesting is that we do the same for AssemblyTitle attribute

[2017-03-19 02:47] CharliePoole commented on #2084
Yes, I understand.

[2017-03-19 09:22] Sebazzz commented on #652
@CharliePoole That looks good to me. I think (also from a usability perspective) it might not be good for attributes on a base class to necessarily run intermixed with setup from a base class.

In addition, it might be good to be able to apply ordering on the attributes. Afaik, ordering is currently *undefined*.

[2017-03-20 09:06] Octoate commented on #2078
Hi, sorry for the late answer. We decided to change our build system so that all NUnit test in version 2.x will be executed by the last NUnit 2.x version and the NUnit 3 tests with the latest NUnit version. This works for us. I will close this issue.

[2017-03-20 09:06] #2078 closed

[2017-03-20 21:31] jnm2 commented on #2084
I think standard practice is to put it in the product version as build metadata:

[code]

I've seen this a fair number of times.

[2017-03-20 21:42] oznetmaster commented on #2084
I am pretty sure that does not show up in  Properties->Details in file explorer?

[2017-03-20 21:49] jnm2 commented on #2084
@oznetmaster It does. `AssemblyInformationalVersion` drives Windows' fileinfo `Product Version` field which Explorer shows in Properties > Details. Been using it for that very purpose for ages.

[2017-03-21 19:45] PDHCoder opened #2087 "Enhance error message: Test is not runnable in single-threaded context. Timeout"
When using the SingleThreadedAttribute and a TimeOutAttribute on a class, you get the error message:
"Test is not runnable in single-threaded context. Timeout".
It took quite a while to figure out what went wrong (I initially thought that my TestFixtureSetup code took too long).

Suggested error message:
"The SingleThreaded attribute and the Timeout attribute cannot be combined".

[2017-03-22 00:02] keithallenjackson commented on #1200
My current work project has ran into this very issue. I'm curious if any work has been done to address this. I'm interested in at least looking into it, but wanted to touch base and get a status update to not duplicate work effort.

[2017-03-22 08:22] vpolisetti opened #2088 "AssemblyCleanup,AssemblyInitialize , how to use in Nunit"
In MStest we have these attribute •	AssemblyInitialize, how to use in Nunit, Do we have any attribute

[2017-03-22 09:15] mzanin opened #2089 "Initializing an EGL display fails only in NUnit"
Not sure this is a bug but initializing an EGL display from NUnit fails with EGL_NOT_INITIALIZED, while it suceeds with MSTest and from any console/window application:

[code]

[2017-03-22 09:33] CharliePoole commented on #2088
Please see the SetUpFixture attribute it in the documentation.

[2017-03-22 09:33] #2088 closed

[2017-03-22 10:21] eDyablo opened #2090 "No start-test or test-case events on Mac OS X under Mono"
I made a simple test event listener engine extension that handles <start-test...> and <test-case...> events. Just like  teamcity extension does. It works perfectly on Windows environment. On Mac OS X the engine doesn't send "start-test" and "test-case" reports to OnTestEvent. But it sends other types of events.

[2017-03-22 12:44] endrih opened #2091 "When a native exception of corrupted state is thrown, nunit test thread crashes and the nunit-console process hangs"
When using NUnit in C++/CLI and the state is somehow corrupted (unrecoverable errors), the nunit thread that runs the test crashes. The nunit-console thread that is waiting on the operation to complete, never exits the wait and therefore hangs the whole process.

Maybe using NUnit for C++/CLI is not supported, but we have a lot of them.

I have made a quick fix like this in NUnit.Framework.Interna

[2017-03-22 17:46] CharliePoole commented on #2090
One thing to check is whether your extension is being recognized at all. Use the console runner with `--list-extensions` to see what is being loaded.

[2017-03-22 18:22] CharliePoole commented on #2087
Good point! The message was originally an internal Debug message, but ended up being shown to the user as an error message. In its context, `Timeout` is the value of an internal enumeration that gives the reason for needing to create a separate thread. It could also say `RequiresThread` or `DifferentApartment`.

For ease of understanding, I think we need to either craft a separate message for each

[2017-03-22 18:24] eDyablo commented on #2090
This is the first thing I tried. I cans ee my extension in the list. And as I said it receives other types of events.

[2017-03-22 18:32] CharliePoole commented on #2090
Since I don't have a mac, I'll have to ask you to do what I would do step by step...

If you run without the extension, do all your tests execute?
If you run with it, do they execute?
If you put an immediate write inside one of the tests (Console.Error or TestContext.Progress) do you see the corresponding event?

What version of the engine is running?

Charlie

[2017-03-22 18:35] CharliePoole commented on #2090
Do the events you receive include suite-start and test-suite?

[2017-03-22 18:36] eDyablo commented on #2090
The events I receive include suite-start and test-suite. And inside the xml I see information about the tests it execute.

[2017-03-22 18:51] eDyablo commented on #2090
I use nunit-console 3.5 (with engine that comes within the package). I also tried the latest release 3.6.1. The same effect on Windows and Mac.

[2017-03-22 22:19] CharliePoole commented on #2090
Try with --trace:Error to see if there is any error related to the event listener or event pump. Failing that, use --trace:Debug and lets see if there is any sign at all of a problem. Beyond that, I think you would need to debug NUnit on your machine to get any further.

[2017-03-22 23:44] tfabris commented on #1834
Our company is getting this exact same error with this exact same stack trace. It is rare and intermittent for us. We have unit tests that run several thousand test cases on several different code branches several times per day, And we're hitting this perhaps twice per day overall. So it's quite rare for us. But we do hit it. So rprouse, please don't close the issue just yet.

We are running Nunit

[2017-03-22 23:51] tfabris commented on #1834
To clarify: When it happens, it's random as to which test case happens to be running when it hits. So we don't think it's related to something specific in any of our tests. 99% of the time the tests run just fine and they all pass, it's only on the rare occasion that we hit this error, and when we do, it's randomly somewhere in the test list, not the same place every time. (But when the crash occu

[2017-03-23 07:34] PDHCoder commented on #2087
Then I suggest that you craft a separate message for each case, because I wouldn't have gotten any wiser with the message "You specified an attribute that requires a test to run on a separate thread in a Single-Threaded fixture." (I would not make the link from 'an attribute' the the Timeout attribute).

By the way, what I actually wanted to achieve with the SingleThreaded attribute is that the On

[2017-03-23 17:26] CharliePoole commented on #2087
Unfortunately, that's not what the TimeoutAttribute does. It causes the test itself to be run on a separate thread, so that thread can be cancelled without fixing anything else.

The alternate approach that you suggest is possible. We could have created a "watcher" thread that would keep track of the test and cancel it. However, we would then be cancelling the worker thread that is pulling tests f

[2017-03-23 19:23] rwencel commented on #1834
We have the same problem, same description, though we don't use the explore option, we just run the tests in parallel.  100% of tests succeed, but at the end of the run we encounter this error.  It's sporadic.  One theory is that it's when our build server is under stress (multiple builds running at once), but I haven't confirmed that.

I'm trying a build with the workaround mentioned by @eberlid

[2017-03-24 00:13] rprouse opened #2092 "Convert Portable library to .NET Standard 1.3"
The portable library is .NET Standard 1.3 (or possibly 1.0 or 1.1), but it cannot easily be installed in a .NET Standard 1.3 project. Attempting to do so results in the following error,

[code]

If we convert the project to the lowest .NET Standard version it supports instead of PCL, it will still work in all the PCL targets, plus it will work in .NET Standard.

Before we do this, can anyone see a

[2017-03-24 00:15] rprouse commented on #2092
I should also state that I don't want to drop the 1.6 version as it adds back in functionality that is not available in the portable library or .NET Standard 1.3. I see them as complimenting each other.

[2017-03-24 00:18] CharliePoole commented on #2092
Seems like a good way to go.

[2017-03-24 12:40] #2087 closed

[2017-03-24 15:49] ChrisMaddock commented on #2092
Sounds good to me.

[2017-03-24 18:46] NUnitTester opened #2095 "Extend use of tolerance to ComparisonConstraints"
The WithIn Option is available for Is.EqualTo. That's fine, but it is missing for the other ones:
`double x = ...;
Assert.That(x, Is.GreaterThan(1.0).WithIn(1.0e-12));`

The interpretation is:
  `if (x <= 1.0 - 1.0e-12) Assert.Fail(...);`
It is expected to have this for:
GreaterThan
GreaterThanOrEqualTo
LessThan
LessThanOrEqualTo
AtLeast
AtMost

[2017-03-24 19:18] jnm2 commented on #2095
It's capitalized `WithIn`? That's a bug in and of itself...

[2017-03-24 20:28] Suremaker commented on #2079
Hello,
I have a similar need in order to implement parameterized test method formatting in LightBDD framework (https://github.com/LightBDD/LightBDD/issues/22).

I have an attribute implementing the `ITestAction` interface where I capture the context of the test: https://github.com/LightBDD/LightBDD/blob/master/src/LightBDD.NUnit3/FeatureFixtureAttribute.cs

With the `ITest.Arguments` property expo

[2017-03-24 21:40] CharliePoole commented on #2095
@NUnitTester I'd like to first clarify that this isn't a bug but how the feature is designed to work...

The `Within` modifier is available on `EqualConstraint` in order to specify a tolerance (plus or minus) for defining equality. It may be used without regard to the Type of the actual or expected value, so it has nothing particular to do with float or double. If specified, it is used whenever th

[2017-03-24 22:27] CharliePoole commented on #2079
This seems reasonable to me for adding to our backlog. If anyone wants to do a PR, please step up. 😄

[2017-03-26 20:48] JeffAshton opened #2097 "CollectionAssert.AreEqual should always compare elements, ignoring IEquatable if implemented"
I came across this issue when comparing collections of type System.Collections.Immutable.ImmutableArray<T>.  This works correctly in NUnit 2, but now fails in NUnit 3.  The reason is that ImmutableArray implements IEquatable<T> under the covers and checks that the underlying arrays are the same reference.

https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Col

[2017-03-26 21:51] JeffAshton commented on #2097
In reviewing the implementation for [NUnitEqualityComparer.AreEqual](https://github.com/nunit/nunit/blob/757feb7a721ee8ef21b20e76ada61d00834c3bc7/src/NUnitFramework/framework/Constraints/NUnitEqualityComparer.cs#L132), I can also say that anything which implements IDictionary is problematic to the same as IEnumerable<T>.

It is only safe to do this sort of optimization for well known:

* structs
*

[2017-03-27 01:56] CharliePoole commented on #2097
I'll review and comment on your sample tests but I have one general question... does your new title intend to say that CollectionAssert.AreEqual and Assert.AreEqual have different behaviors? This would be a bigger surprise to me than anything else because they should be (and once were) simply adapters to the same underlying code.

[2017-03-27 01:58] JustinRChou commented on #2080
I am going to work on this.

And I am having trouble finding tests for the `@File` option?

[2017-03-27 02:39] CharliePoole commented on #2097
I'll have to explain a bit of history first... trying not to be too verbose...

1. CollectionAssert was written many years ago to provide users of MSTest an equivalent to their CollectionAssert. It originally supported only collections, hence had only tests of collections. Originally, it had it's own code, just as Assert.AreEqual did, but when we implemented constraint-based assertions, both of th

[2017-03-27 03:07] CharliePoole commented on #2080
https://github.com/nunit/nunit/blob/master/src/NUnitFramework/nunitlite.tests/CommandLineTests.cs#L44

[2017-03-27 08:22] JeffAshton commented on #2097
Definitely can appreciate history and it's affects on interfaces and frameworks.  :-)  I'm currently migrating my company from NUnit 2 to 3, and hence why I'm coming across these issues.   We've always used CollectionAssert for comparing enumerables and Assert for comparing objects.   Definitely a time and place for doing both.  When comparing objects,  I really like having IEquatable<T> as it giv

[2017-03-27 15:19] JeffAshton commented on #2097
@CharliePoole :  I think we start by fixing CollectionAssert.AreEqual to go back to treating the values as IEnumerable.  Since IEnumerable doesn't extend IEquatable<T>, we shouldn't be boxing to an object then casting back.  ICollection is really just a glorified IEnumerable + Count, and would have suffered from the same issue.  It's important to realize that CollectionAssert and Assert are geared

[2017-03-27 17:58] CharliePoole commented on #2097
@JeffAshton The distinction between CollectionAssert and Assert as you outline it makes sense if we were designing both from scratch. That is, it's not the only sensible approach, but it's one of them.

However, we aren't designing them from scratch. There is a great deal of history behind the two of them working in exactly the same way, with any differences in the past having been treated as a bu

[2017-03-27 18:04] CharliePoole commented on #2097
@JeffAshton ON separating assertions portion, see #502

I was a big fan of this for a while, but there wasn't a lot of interest on the part of others and my own plate is pretty full so it was closed.

[2017-03-27 18:08] CharliePoole commented on #2097
@JeffAshton I'm still a little confused as to whether your issue title really means to imply that CollectionAssert.AreEqual is working differently from Assert.AreEqual. They should both be giving the same result for any given case. If you can clarify that it will be easier to move on with figuring out how to resolve the issue.

[2017-03-27 18:30] jnm2 commented on #2097
I'm pretty sure the standard .NET equality comparison is `(providedComparer ?? EqualityComparer<T>Default).Equals(x, y)`. That takes care of the entire list, and the standard for .NET equality is to not check custom `==` or `!=` implementations.

[2017-03-27 18:59] JustinRChou commented on #2080
I just saw the update for the console one nunit/nunit-console#202
Probably going to do a compare and move your changes over.

[2017-03-27 21:55] JeffAshton commented on #2097
@jnm2 :  My point about Object equality rules was more to do with the bonus rules in [NUnitEqualityComparer](https://github.com/nunit/nunit/blob/757feb7a721ee8ef21b20e76ada61d00834c3bc7/src/NUnitFramework/framework/Constraints/NUnitEqualityComparer.cs#L240), specifically around IEnumerable.  Just because two objects are IEnumerable, doesn't mean they are equal if all items are equal, as demonstrat

[2017-03-27 22:05] JeffAshton commented on #2097
@CharliePoole:  Really it comes down to the fact that I see value in what the CollectionAssert interface offers if it works as documented, and have used it as such for years.  That is treating the inputs as IEnumerable and comparing the individual values, irrelevant of backing Enumerable implementation.  The power of IEnumerable is that elements can come from anywhere.

I reported these 2 separate

[2017-03-27 22:10] jnm2 commented on #2097
I would definitely feel better knowing that objects are only treated as the sum of their values if they do not implement `IEquatable<>`.

[2017-03-27 22:13] jnm2 commented on #2097
However, LINQ's backing class for `IGrouping` does not implement `IEquatable` so we'd still be in the same boat.

[2017-03-27 22:15] jnm2 commented on #2097
The problem is that the way you compare enumerables in NUnit is `Is.EqualTo`, the same method used for object equality. I've always thought that was odd. I was looking for a method named something like `SameItems`.

[2017-03-27 22:18] JeffAshton commented on #2097
@jnm2, that's kind of what I'm getting at, and hence why I see value in the old CollectionAssert as defined, maybe just with a new name.  SameItems would mean same references (i.e. Object.ReferenceEquals).  We would want EqualItems as well.

[2017-03-27 22:23] jnm2 commented on #2097
My late and irrelevant opinion is that `Is.EqualTo` should mean "equality as the object defines it." Almost no enumerables override `object.Equals`, and by that they define themselves as having reference equality. I would expect `Is.EqualTo` to respect that decision, and `Has.EqualItems` and `Has.SameItems` to iterate.

However, there is absolutely no way to change it in NUnit 3. Everyone's tests

[2017-03-28 01:42] CharliePoole commented on #2097
@JeffAshton @jnm2

It may well be that `Assert.AreEqual`, `CollectionAssert.AreEqual` and `EqualConstraint` __should__ have been designed to work in a different way - they certainly __could__ have.

But those ships sailed a long time ago, and not just with the release of NUnit 3. The decision that NUnit's definition for AreEqual would be different from what the object defines was made around the y

[2017-03-28 02:50] CharliePoole commented on #652
@nunit/core-team @nunit/framework-team This is ready for review and merge!

[2017-03-28 03:30] JeffAshton commented on #2097
Sounds good @CharliePoole.  I wrote some tests with MSTest to compare who it handles CollectionAssert and ImmutableArray.  It appears to compare the elements of the enumerable as per the documentation.

https://github.com/JeffAshton/MSTestsVerification/blob/master/MSTestsVerification/CollectionAssertTests.cs

All of these tests past as they are written.  I wrote tests with ImmutableArray, but as w

[2017-03-28 03:31] jnm2 commented on #2092
I like it. [According to @codito](https://github.com/nunit/nunit3-vs-adapter/issues/297#issuecomment-279120168), `netstandard1.0` is identical to what portable is currently targeting.